.menu {
  position: relative;
  color: $muted-color;
  font-weight: 500;

  @include breakpoint($xs-breakpoint) {
    font-size: 12px;
  }

  @include breakpoint($sm-breakpoint) {
    font-size: 14px;
  }

  @include breakpoint($lg-breakpoint) {
    font-size: inherit;
  }

  &.is-adaptive-mobile{
    .menu{
      &__link{
        padding-bottom: 20px !important;

        @include breakpoint($lg-breakpoint){
          padding-bottom: 0 !important;
        }
      }
    }
  }

  &.is-tabs-menu, &.js-menu-jump {
    .menu {
      &__toggle {
        display: none;
      }

      &__list {
        display: flex;
        position: relative;
        top: 0;
        right: 0;
        padding: 20px 0;
        margin: -20px 0;
        background: none;
        flex-direction: row;
        box-shadow: none;
        border: 0;
        overflow-x: auto;

        @include breakpoint($xl-breakpoint){
          margin: 0;
          padding: 0;
        }

        @include breakpoint($lg-breakpoint) {
          overflow: visible;
        }
      }

      &__item {
        margin-right: 15px;
        white-space: nowrap;

        @include breakpoint($lg-breakpoint) {
          margin-right: 23px;
        }

        &.is-active {
          border-bottom-width: 2px;
        }
      }

      &__link {
        padding: 0;
        min-height: 0;
      }
    }
  }

  &.js-menu-jump{
    .menu__item{
      &.is-active{
        position: relative;

        &:after{
          content: '';
          position: absolute;
          left: 0;
          bottom: -20px;
          width: 100%;
          height: 2px;
          background: #23346B;
          border-radius: 25px 25px 0px 0px;

          @include breakpoint($lg-breakpoint){
            bottom: -28px;
          }
        }
      }
    }
  }

  &.is-opened {
    .menu {
      &__list {
        display: flex;
      }
    }
  }

  &__toggle {
    padding: 5px;
    font-size: 18px;
    line-height: 1;
    border: 0;
    background: none;

    @include breakpoint($lg-breakpoint) {
      display: none;
    }
  }

  &__list {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 10px;
    z-index: 10;
    margin: 0;
    padding: 0;
    display: none;
    min-width: 160px;
    list-style: none;
    background: $white-color;
    box-shadow: 0 10px 20px rgba(0, 22, 85, 0.2);
    border-radius: 5px;

    @include breakpoint($lg-breakpoint) {
      display: flex;
      position: relative;
      top: 0;
      right: 0;
      padding: 0;
      background: none;
      flex-direction: row;
      box-shadow: none;
      border: 0;
    }
  }

  &__item {
    margin-right: 0;
    line-height: 1.1;
    //border-bottom: 1px solid $border-color;

    @include breakpoint($lg-breakpoint) {
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }

      &.is-active {
        border-bottom-width: 2px;
      }
    }

    &.is-active {
      color: $primary-color;

      .menu {
        &__link {
          //cursor: default;
        }
      }
    }

    &.is-disabled {
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 7px 15px;
    min-height: 44px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;

    font-size: 11px;
    transition: 0.3s;

    @include breakpoint($sm-breakpoint) {
      font-size: 15px;
    }

    @include breakpoint($lg-breakpoint) {
      padding: 0;
      min-height: 0;
    }

    &:hover {
      color: $primary-color;
    }
  }
}
