mixin menu(data, attrs)
  .menu.js-menu&attributes(attrs)
    button._toggle.js-menu-toggle
      i.fe.fe-more-vertical

    ul._list.js-menu-list
      each item in data
        li._item(class=(item.isActive ? 'is-active' : '') class=item.itemClass)
          if (item.itemClass === 'is-disabled' || !item.href)
            span._link= item.title
          else
            a._link(href=item.href title='')= item.title
