extends ../template

include ../../components/menu-aside/menu-aside
include ../../components/submenu/submenu

include ../../components/badge/badge
include ../../components/select/select
include ../../components/button/button
include ../../components/input-text/input-text

block append settings
	-
		page.title = 'Анкета эксперта';


block page-body

	main.page-main

		// start menu-aside
		+menu-aside([
				{
						href: '#',
						icon: 'home',
						title: 'Главная страница'
				}, {
						href: '#',
						icon: 'briefcase',
						title: 'Проектный офис',
						dropdown: [{
								href: '#',
								title: 'Сводка экспертного офиса'
						}, {
								href: '#',
								title: 'Блиц оценки',
								count: 3
						}, {
								href: '#',
								title: 'Возмездные услуги',
								count: 7
						}, {
								href: '#',
								title: 'Другие активности',
								count: 3
						}]
				}, {
						href: '#',
						icon: 'list',
						title: 'Мои новости'
				}, {
						href: '#',
						icon: 'calendar',
						title: 'Мои мероприятия'
				}, {
						href: '#',
						icon: 'users',
						title: 'Мои компании'
				}, {
						href: '#',
						icon: 'comment',
						title: 'Мои комментарии'
				}, {
						href: '#',
						icon: 'database',
						title: 'Мои подписки'
				}, {
						divider: true
				}, {
						href: '#',
						icon: 'star',
						title: 'Моё избранное'
				}, {
						href: '#',
						icon: 'settings',
						title: 'Настройки'
				},
		], {
				class: 'page-main__menu-aside'
		})
		// end menu-aside

		// start main-body
		.main-body._body
			._container.container
				._grid.is-reverse

					// start main-content
					.main-content._content.js-accordion.js-menu-sections-list

						// start main-header
						.main-header.is-large._header
							._container
								._content
									h1.main-heading._heading = page.title
								._aside
									span._status Анкета не отправлялась на модерацию

						// end main-header

						// start main-profile
						form.main-profile._profile(action="#")
							._container
								._body
									block main-profile

										// start profile-card
										.profile-card.js-profile-card._card
											.card-header._header.opened
												._main
													h2.card-heading._heading 1. Параметры экспертного профиля

												._aside

											._body.-secondary.opened
												._title.is-small.is-border Укажите параметры вашей деятельности в рамках платформы:
												// start table
												table.table.table--secondary.card-table
													thead
														tr
															th параметр:
															th Значение:
													tbody
														tr
															th Открытость профиля для пользователей платформы «РОСИНФРА»
															td 
																label.toggle.-green.is-big._toggle
																	input._input(type="checkbox" name="checkbox1" checked)
																	span._container
																		span._handle
														tr
															th Готов участвовать в блиц-оценке проектных инициатив (безвозмездно)
															td 
																label.toggle.-green.is-big._toggle
																	input._input(type="checkbox" name="checkbox1" checked)
																	span._container
																		span._handle
														
														tr
															th Готов участвовать в экспертизе проектов нормативных правовых актов (безвозмездно)
															td 
																label.toggle.-green.is-big._toggle
																	input._input(type="checkbox" name="checkbox1" checked)
																	span._container
																		span._handle
														tr
															th Готов участвовать в подготовке экспертных заключений и online консультациях (оплачиваемая услуга)
															td 
																label.toggle.-green.is-big._toggle
																	input._input(type="checkbox" name="checkbox1" checked)
																	span._container
																		span._handle
														tr
															th Готов участвовать в качестве спикера в деловых мероприятиях
															td 
																label.toggle.-green.is-big._toggle
																	input._input(type="checkbox" name="checkbox1" checked)
																	span._container
																		span._handle
														tr
															th Готов участвовать в качестве преподавателя в образовательных  мероприятиях (оплачиваемая услуга)
															td 
																label.toggle.-green.is-big._toggle
																	input._input(type="checkbox" name="checkbox1" checked)
																	span._container
																		span._handle

														tr
															th Опыт преподавательской деятельности
															td 
																label.toggle.-green.is-big._toggle
																	input._input(type="checkbox" name="checkbox1" checked)
																	span._container
																		span._handle
												// end table
												
										// end profile-card

										// start profile-card
										.profile-card.js-profile-card._card
											.card-header._header.opened
												._main
													h2.card-heading._heading 2. Образование

												._aside

											._body.opened
												._group
													h3._title Основное образование:

													.fields-group._fields-group
														._section
															._item
																._main
																	+select({
																		options: [{
																				title: 'Московский Государственный Университет'
																		}, {
																				title: ''
																		}],
																		type: 'is-default',
																		placeholder: 'Выберите или введите наименование учебного заведения'
																	})

																._aside
																	button.btn-action.btn-action--add._btn-action

														._section
															._item
																._main
																	+select({
																		options: [{
																				title: 'Факультет менеджмента'
																		}, {
																				title: ''
																		}],
																		type: 'is-default',
																		placeholder: 'Выберите или введите специальность'
																	})

																._aside

														._section
															._item
																._main
																	._grid
																		._column.is-half
																			+select({
																				options: [{
																						title: 'Факультет менеджмента'
																				}, {
																						title: ''
																				}],
																				type: 'is-default',
																				placeholder: 'Специальность'
																			})
																			
																		._column.is-half
																			+select({
																				options: [{
																						title: 'Менеджер государственного управления'
																				}, {
																						title: ''
																				}],
																				type: 'is-default',
																				placeholder: 'Уровень образования'
																			})

																._aside

												._group

													.fields-group._fields-group
														._section
															._item
																._main
																	+select({
																		options: [{
																				title: 'Московский Государственный Университет'
																		}, {
																				title: ''
																		}],
																		type: 'is-default',
																		placeholder: 'Выберите или введите наименование учебного заведения'
																	})

																._aside
																	button.btn-action.btn-action--remove._btn-action

														._section
															._item
																._main
																	+select({
																		options: [{
																				title: 'Факультет менеджмента'
																		}, {
																				title: ''
																		}],
																		type: 'is-default',
																		placeholder: 'Выберите или введите специальность'
																	})

																._aside

														._section
															._item
																._main
																	._grid
																		._column.is-half
																			+select({
																				options: [{
																						title: 'Факультет менеджмента'
																				}, {
																						title: ''
																				}],
																				type: 'is-default',
																				placeholder: 'Специальность'
																			})
																			
																		._column.is-half
																			+select({
																				options: [{
																						title: 'Менеджер государственного управления'
																				}, {
																						title: ''
																				}],
																				type: 'is-default',
																				placeholder: 'Уровень образования'
																			})

																._aside

												._group
													h3._title Дополнительное образование:

													.fields-group._fields-group
														._section
															._item
																._main
																	+select({
																		options: [{
																				title: 'Московский Государственный Университет'
																		}, {
																				title: ''
																		}],
																		type: 'is-default',
																		placeholder: 'Выберите или введите наименование учебного заведения'
																	})

																._aside
																	button.btn-action.btn-action--add._btn-action

														._section
															._item
																._main
																	+select({
																		options: [{
																				title: 'Факультет менеджмента'
																		}, {
																				title: ''
																		}],
																		type: 'is-default',
																		placeholder: 'Выберите или введите специальность'
																	})

																._aside

														._section
															._item
																._main
																	._grid
																		._column.is-half
																			+select({
																				options: [{
																						title: 'Факультет менеджмента'
																				}, {
																						title: ''
																				}],
																				type: 'is-default',
																				placeholder: 'Специальность'
																			})
																			
																		._column.is-half
																			+select({
																				options: [{
																						title: 'Менеджер государственного управления'
																				}, {
																						title: ''
																				}],
																				type: 'is-default',
																				placeholder: 'Уровень образования'
																			})

																._aside

												._group
													h3._title Ученая степень и (или) ученое звание:

													.fields-group._fields-group
														._section
															._item
																._main
																	+select({
																		options: [{
																				title: 'Доктор наук'
																		}, {
																				title: ''
																		}],
																		type: 'is-default',
																		placeholder: 'Выберите степень'
																	})

																._aside
																	button.btn-action.btn-action--add._btn-action
												
										// end profile-card

										// start profile-card
										.profile-card.js-profile-card._card
											.card-header._header.opened
												._main
													h2.card-heading._heading 3. Профессиональный опыт

												._aside

											._body.opened
												._group.no-border
													h3._title Профиль деятельности:

													.fields-group._fields-group
														._main
															._grid
																._column.is-large
																	textarea.textarea._textarea(name="", placeholder="Введите описание") Сделанные на базе интернет-аналитики выводы неоднозначны и будут призваны к ответу. С учётом сложившейся международной обстановки, разбавленное изрядной долей эмпатии, рациональное мышление требует анализа новых принципов формирования материально-технической и кадровой базы! А также базовые сценарии поведения пользователей освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Мы вынуждены отталкиваться от того, что семантический разбор внешних противодействий способствует повышению качества переосмысления внешнеэкономических политик. А также интерактивные прототипы лишь добавляют фракционных разногласий и рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.

												._group.no-border
													h3._title Описание проектного опыта:

													.fields-group._fields-group
														._main
															._grid
																._column.is-large
																	textarea.textarea._textarea(name="", placeholder="Введите описание") Сделанные на базе интернет-аналитики выводы неоднозначны и будут призваны к ответу. С учётом сложившейся международной обстановки, разбавленное изрядной долей эмпатии, рациональное мышление требует анализа новых принципов формирования материально-технической и кадровой базы! А также базовые сценарии поведения пользователей освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Мы вынуждены отталкиваться от того, что семантический разбор внешних противодействий способствует повышению качества переосмысления внешнеэкономических политик. А также интерактивные прототипы лишь добавляют фракционных разногласий и рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.
												
										// end profile-card


										// start profile-card
										.profile-card.js-profile-card._card
											.card-header._header.opened
												._main
													h2.card-heading._heading 4. Экспертиза в сфере ГЧП

												._aside

											._body.opened
												._group
													.fields-group._fields-group
														._section
															h3._title Опыт работы по указанному профилю:
															._item
																._main
																	+select({
																		options: [{
																				title: 'от 2 до 5 лет'
																		}, {
																				title: ''
																		}],
																		type: 'is-default',
																		placeholder: 'Укажите опыт'
																	})

														._section
															h3._title Сферы реализации проектов, с которыми чаще всего работаете:
															._item
																._main
																	+select({
																		options: [{
																				title: 'Сфера'
																		}, {
																				title: 'Сфера2'
																		}],
																		type: 'is-default',
																		multiple: 'true',
																		placeholder: 'Укажите сферу'
																	})

														._section
															h3._title Уровень реализации проектов, с которыми чаще всего работаете:
															._item
																._main
																	+select({
																		options: [{
																				title: 'Международный'
																		}, {
																				title: 'Муниципальный'
																		}],
																		type: 'is-default',
																		multiple: 'true',
																		placeholder: 'Укажите уровень'
																	})
														._section
															h3._title Регион реализации проектов, с которыми чаще всего работаете:
															._item
																._main
																	+select({
																		options: [{
																				title: 'Регион'
																		}, {
																				title: ''
																		}],
																		type: 'is-default',
																		placeholder: 'Выберите регионы'
																	})
														._section
															h3._title Форма реализации проектов, с которыми чаще всего работаете:
															._item
																._main
																	+select({
																		options: [{
																				title: 'Форма'
																		}, {
																				title: ''
																		}],
																		type: 'is-default',
																		placeholder: 'Выберите варианты'
																	})

												._group
													h3._title Направления оказываемых услуг:

													.fields-group._fields-group
														._section
															h3._title Профессиональная направленность:
															._item
																._main
																	+select({
																		options: [{
																				title: 'Правовой и налоговый консалтинг'
																		}, {
																				title: ''
																		}],
																		type: 'is-default',
																		placeholder: 'Выберите или введите'
																	})

																._aside
																	button.btn-action.btn-action--add._btn-action

														._section
															h3._title Услуги, которые чаще всего оказываете (в оказании которых участвуете) в рамках направленности:
															._item
																._main
																	+select({
																		options: [{
																				title: 'Оценка готовности инфраструктуры к реализации проекта'
																		}, {
																				title: 'Разработка технико-экономического планирования проекта'
																		}],
																		type: 'is-default',
																		multiple: 'true',
																		placeholder: 'Выберите услуги'
																	})

																._aside

												._group
													h3._title Если Вы хотите подробнее рассказать о пректах, в которых участвовали, заполните анкету:

													.fields-group._fields-group
														._section
															h3._title Проект из базы:
															._item
																._main
																	+select({
																		options: [{
																				title: ''
																		}, {
																				title: ''
																		}],
																		type: 'is-default',
																		placeholder: 'Поиск проекта'
																	})

																._aside
																	button.btn-action.btn-action--add._btn-action

														._section
															h3._title Укажите наименование проекта, если не нашли в базе:
															._item
																._main
																	+select({
																		options: [{
																				title: ''
																		}, {
																				title: ''
																		}],
																		type: 'is-default',
																		placeholder: 'Введите название'
																	})

																._aside

														._section
															h3._title Роль в проекте:
															._item
																._main
																	+select({
																		options: [{
																				title: ''
																		}, {
																				title: ''
																		}],
																		type: 'is-default',
																		placeholder: 'Напишите вашу роль в проекте'
																	})

																._aside

												._group

													.fields-group._fields-group
														._section
															h3._title Проект из базы:
															._item
																._main
																	+select({
																		options: [{
																				title: ''
																		}, {
																				title: ''
																		}],
																		type: 'is-default',
																		placeholder: 'Поиск проекта'
																	})

																._aside
																	button.btn-action.btn-action--remove._btn-action
																		
														._section
															h3._title Укажите наименование проекта, если не нашли в базе:
															._item
																._main
																	+select({
																		options: [{
																				title: ''
																		}, {
																				title: ''
																		}],
																		type: 'is-default',
																		placeholder: 'Введите название'
																	})

																._aside

														._section
															h3._title Роль в проекте:
															._item
																._main
																	+select({
																		options: [{
																				title: ''
																		}, {
																				title: ''
																		}],
																		type: 'is-default',
																		placeholder: 'Напишите вашу роль в проекте'
																	})

																._aside


												
										// end profile-card

										// start profile-card
										.profile-card.js-profile-card._card
											.card-header._header.opened
												._main
													h2.card-heading._heading 5. Подтверждающие документы

												._aside

											._body.opened
												._group
													h3._title Загрузите документы, подтверждающие образование и компетенции:

													.fields-group._fields-group
														._section
															h3._title Название документа:
															._item
																._main
																	+input-text({
																		theme: 'is-medium',
																		placeholder: 'Название документа'
																	})

																	// start dropzone
																	form.dropzone._dropzone(action="#")
																	// end dropzone
																._aside
																	button.btn-action.btn-action--add._btn-action
												._group
													.fields-group._fields-group
														._section
															h3._title Название документа:
															._item
																._main
																	+input-text({
																		theme: 'is-medium',
																		placeholder: 'Название документа'
																	})

																	// start dropzone
																	form.dropzone._dropzone(action="#")
																	// end dropzone
																._aside
																	button.btn-action.btn-action--remove._btn-action
												._group
													.fields-group._fields-group
														._section
															h3._title Название документа:
															._item
																._main
																	+input-text({
																		theme: 'is-medium',
																		placeholder: 'Название документа'
																	})

																	// start dropzone
																	form.dropzone._dropzone(action="#")
																	// end dropzone
																._aside
																	button.btn-action.btn-action--remove._btn-action
												
										// end profile-card

								._footer
									._compliance
										._agree
											+input-control({
												type: 'checkbox',
												label: 'Нажимая на кнопку “Сохранить” вы подтверждаете что ознакомлен(-ы) с политикой конфиденциальности и даёте согласие на обработку персональных данных согласно ФЗ №54',
												name: 'agree'
											})

										a.button.is-primary._send(href="#" title="Сохранить и отправить" data-remodal-target="start") Сохранить и отправить

										




						// end main-profile

					// end main-content

					// start main-aside
					aside.main-aside._aside.is-secondary
						._container.js-main-aside-sticky

							// start aside-profile
							.aside-profile._profile
								._header
									+button({
											href: '#',
											title: 'Вернуться в кабинет',
											type: 'is-secondary is-round',
											size: 'is-small'
									}, {
											class: 'aside-profile__button'
									})

								._body
									+submenu({
											title: 'Меню настроек профиля',
											items: [{
													href: '#',
													title: 'Персональные данные'
											}, {
													href: '#',
													title: 'Настройка предпочтений'
											}, {
													href: '#',
													title: 'Анкета эксперта'
											}]
									})
							// end aside-profile

					// end main-aside
		// end main-body


	.modal.-padding.remodal(data-remodal-target="start")
		button._close(data-remodal-action='close')

		._header
			._title Ваша анкета отправлена на модерацию
			span._caption Отслеживать статус рассмотрения можно в правом углу анкеты
			ul._buttons
				li._buttons-item
					button.button.is-primary.button-block(data-remodal-action='close') Закрыть окно
