extends ../template

include ../../components/menu-aside/menu-aside
include ../../components/submenu/submenu

include ../../components/badge/badge
include ../../components/select/select
include ../../components/button/button
include ../../components/input-text/input-text

block append settings
	-
		page.title = 'Настройки персональной информации';


block page-body

	main.page-main.-dark

		// start menu-aside
		+menu-aside([
				{
						href: '#',
						icon: 'home',
						title: 'Главная страница'
				}, {
						href: '#',
						icon: 'briefcase',
						title: 'Проектный офис',
						dropdown: [{
								href: '#',
								title: 'Сводка экспертного офиса'
						}, {
								href: '#',
								title: 'Блиц оценки',
								count: 3
						}, {
								href: '#',
								title: 'Возмездные услуги',
								count: 7
						}, {
								href: '#',
								title: 'Другие активности',
								count: 3
						}]
				}, {
						href: '#',
						icon: 'list',
						title: 'Мои новости'
				}, {
						href: '#',
						icon: 'calendar',
						title: 'Мои мероприятия'
				}, {
						href: '#',
						icon: 'users',
						title: 'Мои компании'
				}, {
						href: '#',
						icon: 'comment',
						title: 'Мои комментарии'
				}, {
						href: '#',
						icon: 'database',
						title: 'Мои подписки'
				}, {
						divider: true
				}, {
						href: '#',
						icon: 'star',
						title: 'Моё избранное'
				}, {
						href: '#',
						icon: 'settings',
						title: 'Настройки'
				},
		], {
				class: 'page-main__menu-aside'
		})
		// end menu-aside

		// start main-header
		.main-header.-white
			._container.container
				._content
					.user._user
						._body
							._photo
								img._img(src="../assets/img/content/avatars/1.jpg", alt="")
							._data
								span._name Максим Викторович Ткаченко 
								span._label tkm@yandex.ru
						.badge.badge-disabled._badge Пользователь
				._actions
					button.button.is-medium.is-outline-secondary._btn 
						span._title Редактировать
					button.button.is-medium.is-outline-secondary.is-exit._btn
						span._title Выйти

		// end main-header

		// start main-body
		.main-body._body
			._container.container

				// start main-content
				.main-content._content.js-accordion.js-menu-sections-list

					// start main-profile
					.main-profile._profile
						._container
							block main-profile

								.statistic._statistic
									._grid
										._column
											.statistic-card
												._body.dashboard__statistic
													span.label.label--sm._caption проектов в базе:
													span.value.value--md._value 5 546
												._icon
													img(src="../../assets/img/content/categories/projects.svg", alt="")
										._column
											.statistic-card
												._body.dashboard__statistic
													span.label.label--sm._caption планируемых проектов:
													span.value.value--md._value 730
												._icon
													img(src="../../assets/img/content/categories/initiatives.svg", alt="")
										._column
											.statistic-card
												._body.dashboard__statistic
													span.label.label--sm._caption на конкурсе:
													span.value.value--md._value 283
												._icon
													img(src="../../assets/img/content/categories/group.svg", alt="")
										._column
											.statistic-card
												._body.dashboard__statistic
													span.label.label--sm._caption Реализуемых:
													span.value.value--md._value 4 363
												._icon
													img(src="../../assets/img/content/categories/partners.svg", alt="")


								.wiget._wiget
									._header
										h3._heading Новые заявки в экспертном офисе
										.dropdown._dropdown
											button._btn
												i.fe.fe-more-vertical
										._aside
											.main-actions._actions
												ul._list
													li._item.active
														a._link(href="#" title="Блиц-оценки") Блиц-оценки
															span._value 2
													li._item
														a._link(href="#" title="Возмездные услуги") Возмездные услуги
															span._value 3
													li._item
														a._link(href="#" title="Другие активности") Другие активности
															span._value 3
									._body
										table.table-orders
											thead
												tr
													th id:
													th получено:
													th проект:
													th этап:
													th регион:
													th сфера:
													th оценить до:
													th действие:
											tbody
												tr
													td 1232
													td
														._date 16.08.2019 
															span._date-time 14:03
													td 
														a(href="#") Cтроительство терминала и иных объектов аэропортового комплекса, а также эксплуа...
													td 
														span.badge.badge-lg.badge-primary._badge Инвестиционный
													
													td Владимирская область
													td Транспортная инфраструктура
													td 31.08.2019
													td
														a.button.is-primary.is-round.is-extra-small 
															span._title Подробнее
												tr
													td 1232
													td
														._date 16.08.2019 
															span._date-time 14:03
													td 
														a(href="#") Cтроительство терминала и иных объектов аэропортового комплекса, а также эксплуа...
													td 
														span.badge.badge-lg.badge-warning._badge Конкурс и подписка
													
													td Владимирская область
													td Транспортная инфраструктура
													td 31.08.2019
													td
														a.button.is-primary.is-round.is-extra-small 
															span._title Подробнее
												tr
													td 1232
													td
														._date 16.08.2019 
															span._date-time 14:03
													td 
														a(href="#") Cтроительство терминала и иных объектов аэропортового комплекса, а также эксплуа...
													td 
														span.badge.badge-lg.badge-primary._badge Инвестиционный
													
													td Владимирская область
													td Транспортная инфраструктура
													td 
														.text-danger 31.08.2019
															._dropdown
																span._dropdown-text Срок действия оценки заканчивается. Успейте оценить.
													td
														a.button.is-primary.is-round.is-extra-small 
															span._title Подробнее

										._footer
											a._link(href="#") Перейти в экспертный офис
												i.fe.fe-chevron-right


								._footer
									._grid
										._column
											.wiget
												._header
													h3._heading Подборка проектов на основании предпочтений:
													.dropdown._dropdown
														button._btn
															i.fe.fe-more-vertical
												._body
													._content
														._statistics
															._statistic
																a.statistic-card(href="#")
																	._body.dashboard__statistic
																		span.value.value--md._value.-small 1765
																		span.label.label--sm._label Предынвестиционный
																	._icon
																		<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M7.57664 15.2956H2.52555C2.30227 15.2956 2.08815 15.206 1.93027 15.0467C1.77239 14.8873 1.6837 14.6712 1.6837 14.4458V2.54926C1.6837 2.32389 1.77239 2.10775 1.93027 1.94839C2.08815 1.78903 2.30227 1.69951 2.52555 1.69951H6.73479V4.24877C6.73479 4.92487 7.00087 5.57329 7.4745 6.05137C7.94813 6.52945 8.59052 6.79803 9.26033 6.79803H11.7859V11.0468C11.7859 11.2722 11.8746 11.4883 12.0324 11.6477C12.1903 11.807 12.4045 11.8966 12.6277 11.8966C12.851 11.8966 13.0651 11.807 13.223 11.6477C13.3809 11.4883 13.4696 11.2722 13.4696 11.0468V5.94828C13.4696 5.94828 13.4696 5.94828 13.4696 5.89729C13.4608 5.81923 13.4439 5.74232 13.4191 5.66786V5.59138C13.3786 5.50401 13.3246 5.42369 13.2591 5.35345L8.20802 0.254926C8.13843 0.188829 8.05886 0.13433 7.9723 0.0934728C7.94445 0.0885523 7.91597 0.0885523 7.88812 0.0934728C7.80626 0.0492883 7.71829 0.0177785 7.62715 0H2.52555C1.85573 0 1.21335 0.268582 0.739715 0.746661C0.266084 1.22474 0 1.87315 0 2.54926V14.4458C0 15.1219 0.266084 15.7703 0.739715 16.2484C1.21335 16.7265 1.85573 16.9951 2.52555 16.9951H7.57664C7.79991 16.9951 8.01403 16.9055 8.17191 16.7462C8.32979 16.5868 8.41848 16.3707 8.41848 16.1453C8.41848 15.92 8.32979 15.7038 8.17191 15.5445C8.01403 15.3851 7.79991 15.2956 7.57664 15.2956ZM8.41848 2.89766L10.5989 5.09852H9.26033C9.03706 5.09852 8.82293 5.00899 8.66506 4.84963C8.50718 4.69027 8.41848 4.47414 8.41848 4.24877V2.89766ZM4.20924 10.197H9.26033C9.4836 10.197 9.69773 10.1075 9.85561 9.94816C10.0135 9.7888 10.1022 9.57266 10.1022 9.34729C10.1022 9.12192 10.0135 8.90578 9.85561 8.74642C9.69773 8.58706 9.4836 8.49754 9.26033 8.49754H4.20924C3.98597 8.49754 3.77184 8.58706 3.61397 8.74642C3.45609 8.90578 3.36739 9.12192 3.36739 9.34729C3.36739 9.57266 3.45609 9.7888 3.61397 9.94816C3.77184 10.1075 3.98597 10.197 4.20924 10.197ZM7.57664 11.8966H4.20924C3.98597 11.8966 3.77184 11.9861 3.61397 12.1454C3.45609 12.3048 3.36739 12.5209 3.36739 12.7463C3.36739 12.9717 3.45609 13.1878 3.61397 13.3472C3.77184 13.5065 3.98597 13.5961 4.20924 13.5961H7.57664C7.79991 13.5961 8.01403 13.5065 8.17191 13.3472C8.32979 13.1878 8.41848 12.9717 8.41848 12.7463C8.41848 12.5209 8.32979 12.3048 8.17191 12.1454C8.01403 11.9861 7.79991 11.8966 7.57664 11.8966ZM4.20924 6.79803H5.05109C5.27436 6.79803 5.48849 6.7085 5.64637 6.54914C5.80424 6.38978 5.89294 6.17364 5.89294 5.94828C5.89294 5.72291 5.80424 5.50677 5.64637 5.34741C5.48849 5.18805 5.27436 5.09852 5.05109 5.09852H4.20924C3.98597 5.09852 3.77184 5.18805 3.61397 5.34741C3.45609 5.50677 3.36739 5.72291 3.36739 5.94828C3.36739 6.17364 3.45609 6.38978 3.61397 6.54914C3.77184 6.7085 3.98597 6.79803 4.20924 6.79803ZM15.751 12.143C15.6727 12.0633 15.5796 12.0001 15.477 11.957C15.3744 11.9138 15.2644 11.8916 15.1533 11.8916C15.0421 11.8916 14.9321 11.9138 14.8295 11.957C14.7269 12.0001 14.6338 12.0633 14.5556 12.143L11.7859 14.9472L10.6999 13.8425C10.6214 13.7633 10.5282 13.7004 10.4257 13.6575C10.3231 13.6146 10.2132 13.5926 10.1022 13.5926C9.99117 13.5926 9.88126 13.6146 9.7787 13.6575C9.67614 13.7004 9.58296 13.7633 9.50447 13.8425C9.42598 13.9217 9.36371 14.0158 9.32123 14.1193C9.27875 14.2228 9.25689 14.3338 9.25689 14.4458C9.25689 14.5579 9.27875 14.6688 9.32123 14.7723C9.36371 14.8758 9.42598 14.9699 9.50447 15.0491L11.1882 16.7486C11.2664 16.8283 11.3595 16.8915 11.4621 16.9346C11.5647 16.9778 11.6747 17 11.7859 17C11.897 17 12.007 16.9778 12.1096 16.9346C12.2122 16.8915 12.3053 16.8283 12.3836 16.7486L15.751 13.3496C15.8299 13.2706 15.8925 13.1767 15.9353 13.0731C15.978 12.9695 16 12.8585 16 12.7463C16 12.6341 15.978 12.5231 15.9353 12.4195C15.8925 12.316 15.8299 12.222 15.751 12.143Z" fill="#DDE0E9"/>
																		</svg>
																		
															._statistic
																a.statistic-card(href="#")
																	._body.dashboard__statistic
																		span.value.value--md._value.-small 1342
																		span.label.label--sm._label Инвестиционный этап
																	._icon
																		<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M15.2727 11.6364H0.727273C0.534388 11.6364 0.349403 11.713 0.213013 11.8494C0.0766231 11.9858 0 12.1708 0 12.3636C0 12.5565 0.0766231 12.7415 0.213013 12.8779C0.349403 13.0143 0.534388 13.0909 0.727273 13.0909H15.2727C15.4656 13.0909 15.6506 13.0143 15.787 12.8779C15.9234 12.7415 16 12.5565 16 12.3636C16 12.1708 15.9234 11.9858 15.787 11.8494C15.6506 11.713 15.4656 11.6364 15.2727 11.6364ZM15.2727 14.5455H0.727273C0.534388 14.5455 0.349403 14.6221 0.213013 14.7585C0.0766231 14.8949 0 15.0798 0 15.2727C0 15.4656 0.0766231 15.6506 0.213013 15.787C0.349403 15.9234 0.534388 16 0.727273 16H15.2727C15.4656 16 15.6506 15.9234 15.787 15.787C15.9234 15.6506 16 15.4656 16 15.2727C16 15.0798 15.9234 14.8949 15.787 14.7585C15.6506 14.6221 15.4656 14.5455 15.2727 14.5455ZM3.63636 4.36364C3.49252 4.36364 3.35191 4.40629 3.23231 4.4862C3.11271 4.56612 3.0195 4.6797 2.96445 4.81259C2.90941 4.94549 2.895 5.09172 2.92307 5.23279C2.95113 5.37387 3.02039 5.50346 3.1221 5.60517C3.22382 5.70688 3.3534 5.77615 3.49448 5.80421C3.63556 5.83227 3.78179 5.81787 3.91468 5.76282C4.04757 5.70778 4.16116 5.61456 4.24107 5.49496C4.32098 5.37536 4.36364 5.23475 4.36364 5.09091C4.36364 4.89802 4.28701 4.71304 4.15062 4.57665C4.01423 4.44026 3.82925 4.36364 3.63636 4.36364ZM13.8182 0H2.18182C1.60316 0 1.04821 0.229869 0.63904 0.63904C0.229869 1.04821 0 1.60316 0 2.18182V8C0 8.57865 0.229869 9.13361 0.63904 9.54278C1.04821 9.95195 1.60316 10.1818 2.18182 10.1818H13.8182C14.3968 10.1818 14.9518 9.95195 15.361 9.54278C15.7701 9.13361 16 8.57865 16 8V2.18182C16 1.60316 15.7701 1.04821 15.361 0.63904C14.9518 0.229869 14.3968 0 13.8182 0ZM14.5455 8C14.5455 8.19289 14.4688 8.37787 14.3324 8.51426C14.1961 8.65065 14.0111 8.72727 13.8182 8.72727H2.18182C1.98893 8.72727 1.80395 8.65065 1.66756 8.51426C1.53117 8.37787 1.45455 8.19289 1.45455 8V2.18182C1.45455 1.98893 1.53117 1.80395 1.66756 1.66756C1.80395 1.53117 1.98893 1.45455 2.18182 1.45455H13.8182C14.0111 1.45455 14.1961 1.53117 14.3324 1.66756C14.4688 1.80395 14.5455 1.98893 14.5455 2.18182V8ZM8 2.90909C7.56848 2.90909 7.14665 3.03705 6.78785 3.27679C6.42905 3.51654 6.1494 3.85729 5.98426 4.25596C5.81913 4.65464 5.77592 5.09333 5.86011 5.51656C5.94429 5.93979 6.15209 6.32856 6.45722 6.63369C6.76235 6.93882 7.15112 7.14662 7.57435 7.2308C7.99758 7.31499 8.43627 7.27178 8.83495 7.10665C9.23362 6.94151 9.57437 6.66186 9.81412 6.30306C10.0539 5.94426 10.1818 5.52243 10.1818 5.09091C10.1818 4.51226 9.95195 3.9573 9.54278 3.54813C9.13361 3.13896 8.57865 2.90909 8 2.90909ZM8 5.81818C7.85616 5.81818 7.71555 5.77553 7.59595 5.69561C7.47635 5.6157 7.38313 5.50212 7.32809 5.36922C7.27304 5.23633 7.25864 5.0901 7.2867 4.94903C7.31476 4.80795 7.38403 4.67836 7.48574 4.57665C7.58745 4.47494 7.71704 4.40567 7.85812 4.37761C7.99919 4.34955 8.14542 4.36395 8.27832 4.419C8.41121 4.47404 8.52479 4.56726 8.60471 4.68686C8.68462 4.80646 8.72727 4.94707 8.72727 5.09091C8.72727 5.28379 8.65065 5.46878 8.51426 5.60517C8.37787 5.74156 8.19289 5.81818 8 5.81818ZM12.3636 4.36364C12.2198 4.36364 12.0792 4.40629 11.9596 4.4862C11.84 4.56612 11.7468 4.6797 11.6917 4.81259C11.6367 4.94549 11.6223 5.09172 11.6503 5.23279C11.6784 5.37387 11.7477 5.50346 11.8494 5.60517C11.9511 5.70688 12.0807 5.77615 12.2218 5.80421C12.3628 5.83227 12.5091 5.81787 12.642 5.76282C12.7748 5.70778 12.8884 5.61456 12.9683 5.49496C13.0483 5.37536 13.0909 5.23475 13.0909 5.09091C13.0909 4.89802 13.0143 4.71304 12.8779 4.57665C12.7415 4.44026 12.5565 4.36364 12.3636 4.36364Z" fill="#DDE0E9"/>
																		</svg>


															._statistic
																a.statistic-card(href="#")
																	._body.dashboard__statistic
																		span.value.value--md._value.-small 1238
																		span.label.label--sm._label Эксплуатационный этап
																	._icon
																		<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M6.568 10.2C6.64237 10.275 6.73085 10.3345 6.82834 10.3751C6.92583 10.4157 7.03039 10.4366 7.136 10.4366C7.24161 10.4366 7.34617 10.4157 7.44366 10.3751C7.54115 10.3345 7.62963 10.275 7.704 10.2L10.968 6.936C11.1186 6.78536 11.2033 6.58104 11.2033 6.368C11.2033 6.15496 11.1186 5.95064 10.968 5.8C10.8174 5.64936 10.613 5.56473 10.4 5.56473C10.187 5.56473 9.98264 5.64936 9.832 5.8L7.136 8.504L6.168 7.528C6.01736 7.37736 5.81304 7.29273 5.6 7.29273C5.38696 7.29273 5.18264 7.37736 5.032 7.528C4.88136 7.67864 4.79673 7.88296 4.79673 8.096C4.79673 8.30904 4.88136 8.51336 5.032 8.664L6.568 10.2ZM15.2 0H0.8C0.587827 0 0.384344 0.0842854 0.234315 0.234315C0.0842854 0.384344 0 0.587827 0 0.8V15.2C0 15.4122 0.0842854 15.6157 0.234315 15.7657C0.384344 15.9157 0.587827 16 0.8 16H15.2C15.4122 16 15.6157 15.9157 15.7657 15.7657C15.9157 15.6157 16 15.4122 16 15.2V0.8C16 0.587827 15.9157 0.384344 15.7657 0.234315C15.6157 0.0842854 15.4122 0 15.2 0ZM14.4 14.4H1.6V1.6H14.4V14.4Z" fill="#DDE0E9"/>
																		</svg>


													._header
														h3._heading Последние добавленные проекты:
														.slider-navigation._slider-navigation
															button.btn.btn-icon.btn-icon-sm.btn-secondary-outline._btn.js-slider-prev
																i.fe.fe-arrow-left
															button.btn.btn-icon.btn-icon-sm.btn-secondary-outline._btn.js-slider-next
																i.fe.fe-arrow-right
													._content
														._slider.js-wiget-slider
															._wrapper.js-slider-wrapper
																._slide.js-slider-slide

																	.card
																		.card-header.-secondary._header
																			.card-meta._meta
																				._content
																					span.badge.badge-lg.badge-primary Инвестиционный
																				._info
																					a.coat._coat(href="#" title="") Владимирская область
																						img._img(src="../assets/img/content/flags/vladimir-obl.png", alt="")

																			h3._link
																				a._link(href="#" title="") Амбулаторно-поликлиническое учреждение в г. Владимир на базе ГБУЗ «Детская областная больница Владимирской...

																		.card-content
																			
																				
																			._properties-grid
																				._properties-grid-column.-large
																					.property.-inline._property
																						span._label Сфера:
																						span._value Социальная инфраструктура
																					.property.-inline._property
																						span._label Отрасль:
																						span._value Здравоохранение и санаторно-куро...

																		.card-body._body
																			ul._stats
																				li._stats-item
																					span._stats-label Общие затраты:
																					span._stats-value 140,5 млн. руб
																				li._stats-item
																					span._stats-label Срок реализации:
																					span._stats-value 12 месяцев
																				li._stats-item
																					span._stats-label Участники:
																					span._stats-value 23 участника


																._slide.js-slider-slide

																	.card
																		.card-header.-secondary._header
																			.card-meta._meta
																				._content
																					span.badge.badge-lg.badge-primary Инвестиционный
																				._info
																					a.coat._coat(href="#" title="") Владимирская область
																						img._img(src="../assets/img/content/flags/vladimir-obl.png", alt="")

																			h3._link
																				a._link(href="#" title="") Амбулаторно-поликлиническое учреждение в г. Владимир на базе ГБУЗ «Детская областная больница Владимирской...

																		.card-content
																			
																				
																			._properties-grid
																				._properties-grid-column.-large
																					.property.-inline._property
																						span._label Сфера:
																						span._value Социальная инфраструктура
																					.property.-inline._property
																						span._label Отрасль:
																						span._value Здравоохранение и санаторно-куро...

																		.card-body._body
																			ul._stats
																				li._stats-item
																					span._stats-label Общие затраты:
																					span._stats-value 140,5 млн. руб
																				li._stats-item
																					span._stats-label Срок реализации:
																					span._stats-value 12 месяцев
																				li._stats-item
																					span._stats-label Участники:
																					span._stats-value 23 участника

																._slide.js-slider-slide

																	.card
																		.card-header.-secondary._header
																			.card-meta._meta
																				._content
																					span.badge.badge-lg.badge-primary Инвестиционный
																				._info
																					a.coat._coat(href="#" title="") Владимирская область
																						img._img(src="../assets/img/content/flags/vladimir-obl.png", alt="")

																			h3._link
																				a._link(href="#" title="") Амбулаторно-поликлиническое учреждение в г. Владимир на базе ГБУЗ «Детская областная больница Владимирской...

																		.card-content
																			
																				
																			._properties-grid
																				._properties-grid-column.-large
																					.property.-inline._property
																						span._label Сфера:
																						span._value Социальная инфраструктура
																					.property.-inline._property
																						span._label Отрасль:
																						span._value Здравоохранение и санаторно-куро...

																		.card-body._body
																			ul._stats
																				li._stats-item
																					span._stats-label Общие затраты:
																					span._stats-value 140,5 млн. руб
																				li._stats-item
																					span._stats-label Срок реализации:
																					span._stats-value 12 месяцев
																				li._stats-item
																					span._stats-label Участники:
																					span._stats-value 23 участника

													._footer
														a._link(href="#") Перейти к рекомендованным проектам
															i.fe.fe-chevron-right

														.slider-pagination._slider-pagination
											// end wiget

										._column
											.wiget
												._header
													h3._heading Персональные инвестиционные предложения:
													.dropdown._dropdown
														button._btn
															i.fe.fe-more-vertical
												._body
													._content
														._statistics
															._statistic
																a.statistic-card(href="#")
																	._body.dashboard__statistic
																		span.value.value--md._value.-small 983
																		span.label.label--sm._label Все предложения
																	._icon
																		<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M0.42532 5.88179L8.07502 10.2177C8.20423 10.2909 8.3508 10.3294 8.5 10.3294C8.6492 10.3294 8.79577 10.2909 8.92498 10.2177L16.5747 5.88179C16.7031 5.80903 16.81 5.70456 16.8845 5.57876C16.9591 5.45296 16.9988 5.31021 16.9997 5.1647C17.0003 5.01777 16.9613 4.87329 16.8866 4.7459C16.812 4.61851 16.7044 4.51273 16.5747 4.43927L8.92498 0.111712C8.79577 0.038528 8.6492 0 8.5 0C8.3508 0 8.20423 0.038528 8.07502 0.111712L0.42532 4.43927C0.295612 4.51273 0.187994 4.61851 0.113364 4.7459C0.0387343 4.87329 -0.000257418 5.01777 0.000337191 5.1647C0.00123252 5.31021 0.0409307 5.45296 0.115486 5.57876C0.190042 5.70456 0.296858 5.80903 0.42532 5.88179ZM8.5 1.82939L14.4498 5.1647L8.5 8.5L2.55024 5.1647L8.5 1.82939ZM15.7247 7.80792L8.5 11.8353L1.27529 7.77457C1.17828 7.71944 1.07111 7.68368 0.95995 7.66935C0.848792 7.65502 0.735844 7.66241 0.627609 7.69109C0.519374 7.71976 0.417992 7.76916 0.3293 7.83644C0.240609 7.90372 0.166361 7.98754 0.110833 8.08309C2.06827e-05 8.27455 -0.0291045 8.50123 0.0298125 8.71368C0.0887295 8.92613 0.230906 9.10709 0.42532 9.21709L8.07502 13.553C8.20423 13.6262 8.3508 13.6647 8.5 13.6647C8.6492 13.6647 8.79577 13.6262 8.92498 13.553L16.5747 9.21709C16.7691 9.10709 16.9113 8.92613 16.9702 8.71368C17.0291 8.50123 17 8.27455 16.8892 8.08309C16.8336 7.98754 16.7594 7.90372 16.6707 7.83644C16.582 7.76916 16.4806 7.71976 16.3724 7.69109C16.2642 7.66241 16.1512 7.65502 16.0401 7.66935C15.9289 7.68368 15.8217 7.71944 15.7247 7.77457V7.80792ZM15.7247 11.1432L8.5 15.1706L1.27529 11.1099C1.17828 11.0547 1.07111 11.019 0.95995 11.0047C0.848792 10.9903 0.735844 10.9977 0.627609 11.0264C0.519374 11.0551 0.417992 11.1045 0.3293 11.1717C0.240609 11.239 0.166361 11.3228 0.110833 11.4184C2.06827e-05 11.6098 -0.0291045 11.8365 0.0298125 12.049C0.0887295 12.2614 0.230906 12.4424 0.42532 12.5524L8.07502 16.8883C8.20423 16.9615 8.3508 17 8.5 17C8.6492 17 8.79577 16.9615 8.92498 16.8883L16.5747 12.5524C16.7691 12.4424 16.9113 12.2614 16.9702 12.049C17.0291 11.8365 17 11.6098 16.8892 11.4184C16.8336 11.3228 16.7594 11.239 16.6707 11.1717C16.582 11.1045 16.4806 11.0551 16.3724 11.0264C16.2642 10.9977 16.1512 10.9903 16.0401 11.0047C15.9289 11.019 15.8217 11.0547 15.7247 11.1099V11.1432Z" fill="#DDE0E9"/>
																		</svg>

															._statistic
																a.statistic-card(href="#")
																	._body.dashboard__statistic
																		span.value.value--md._value.-small 453
																		span.label.label--sm._label Проектные инициативы
																	._icon
																		<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M8.51196 7.64966C8.28685 7.64966 8.07095 7.73921 7.91177 7.89861C7.75259 8.05801 7.66316 8.2742 7.66316 8.49962V11.0495C7.66316 11.2749 7.75259 11.4911 7.91177 11.6505C8.07095 11.8099 8.28685 11.8995 8.51196 11.8995C8.73708 11.8995 8.95298 11.8099 9.11216 11.6505C9.27134 11.4911 9.36077 11.2749 9.36077 11.0495V8.49962C9.36077 8.2742 9.27134 8.05801 9.11216 7.89861C8.95298 7.73921 8.73708 7.64966 8.51196 7.64966ZM8.51196 5.09977C8.34408 5.09977 8.17998 5.14962 8.04039 5.24302C7.90081 5.33641 7.79201 5.46916 7.72777 5.62447C7.66353 5.77978 7.64672 5.95068 7.67947 6.11556C7.71222 6.28043 7.79306 6.43188 7.91177 6.55075C8.03048 6.66962 8.18172 6.75057 8.34637 6.78337C8.51102 6.81616 8.68169 6.79933 8.83679 6.735C8.99188 6.67067 9.12445 6.56173 9.21772 6.42195C9.31098 6.28218 9.36077 6.11784 9.36077 5.94974C9.36077 5.72431 9.27134 5.50812 9.11216 5.34872C8.95298 5.18932 8.73708 5.09977 8.51196 5.09977ZM8.51196 0C7.3973 0 6.29355 0.219849 5.26373 0.646995C4.23391 1.07414 3.2982 1.70022 2.51001 2.48948C0.918197 4.08347 0.0239247 6.24538 0.0239247 8.49962C0.0165043 10.4623 0.695152 12.3657 1.94222 13.8799L0.244614 15.5798C0.126836 15.6993 0.0470513 15.8511 0.015328 16.016C-0.0163953 16.1809 0.00136394 16.3515 0.0663648 16.5063C0.136865 16.6592 0.251153 16.7877 0.394722 16.8755C0.538291 16.9633 0.704666 17.0063 0.872728 16.9992H8.51196C10.7631 16.9992 12.9221 16.1038 14.5139 14.5098C16.1057 12.9158 17 10.7539 17 8.49962C17 6.24538 16.1057 4.08347 14.5139 2.48948C12.9221 0.895494 10.7631 0 8.51196 0ZM8.51196 15.2993H2.91835L3.70773 14.5089C3.78794 14.4301 3.85174 14.3363 3.89545 14.2327C3.93916 14.1291 3.96191 14.0178 3.96237 13.9054C3.95918 13.6812 3.86766 13.4673 3.70773 13.3104C2.5963 12.1987 1.90417 10.7355 1.74928 9.17007C1.59439 7.60466 1.98631 6.03389 2.85827 4.72538C3.73024 3.41688 5.02829 2.4516 6.53129 1.99399C8.03429 1.53638 9.64924 1.61476 11.101 2.21578C12.5528 2.81679 13.7515 3.90326 14.493 5.29007C15.2345 6.67689 15.4729 8.27825 15.1675 9.82132C14.8622 11.3644 14.032 12.7537 12.8184 13.7526C11.6048 14.7515 10.0829 15.2981 8.51196 15.2993Z" fill="#DDE0E9"/>
																		</svg>


															._statistic
																a.statistic-card(href="#")
																	._body.dashboard__statistic
																		span.value.value--md._value.-small 530
																		span.label.label--sm._label Проекты на конкурсе
																	._icon
																		<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M14.45 2.66667H11.9V1.77778C11.9 1.30628 11.7209 0.854097 11.4021 0.520699C11.0833 0.187301 10.6509 0 10.2 0H6.8C6.34913 0 5.91673 0.187301 5.59792 0.520699C5.27911 0.854097 5.1 1.30628 5.1 1.77778V2.66667H2.55C1.8737 2.66667 1.2251 2.94762 0.746878 3.44772C0.26866 3.94781 0 4.62609 0 5.33333V13.3333C0 14.0406 0.26866 14.7189 0.746878 15.219C1.2251 15.719 1.8737 16 2.55 16H14.45C15.1263 16 15.7749 15.719 16.2531 15.219C16.7313 14.7189 17 14.0406 17 13.3333V5.33333C17 4.62609 16.7313 3.94781 16.2531 3.44772C15.7749 2.94762 15.1263 2.66667 14.45 2.66667ZM6.8 1.77778H10.2V2.66667H6.8V1.77778ZM15.3 13.3333C15.3 13.5691 15.2104 13.7952 15.051 13.9619C14.8916 14.1286 14.6754 14.2222 14.45 14.2222H2.55C2.32457 14.2222 2.10837 14.1286 1.94896 13.9619C1.78955 13.7952 1.7 13.5691 1.7 13.3333V8.34667L5.678 9.77778C5.76825 9.79058 5.85975 9.79058 5.95 9.77778H11.05C11.1422 9.776 11.2337 9.76104 11.322 9.73333L15.3 8.34667V13.3333ZM15.3 6.47111L10.914 8H6.086L1.7 6.47111V5.33333C1.7 5.09759 1.78955 4.87149 1.94896 4.70479C2.10837 4.53809 2.32457 4.44444 2.55 4.44444H14.45C14.6754 4.44444 14.8916 4.53809 15.051 4.70479C15.2104 4.87149 15.3 5.09759 15.3 5.33333V6.47111Z" fill="#DDE0E9"/>
																		</svg>


													._header
														h3._heading Последние добавленные проекты:
														.slider-navigation._slider-navigation
															button.btn.btn-icon.btn-icon-sm.btn-secondary-outline._btn.js-slider-prev
																i.fe.fe-arrow-left
															button.btn.btn-icon.btn-icon-sm.btn-secondary-outline._btn.js-slider-next
																i.fe.fe-arrow-right
													._content
														._slider.js-wiget-slider
															._wrapper.js-slider-wrapper
																._slide.js-slider-slide

																	.card
																		.card-header.-secondary._header
																			.card-meta._meta
																				._content
																					span.badge.badge-lg.badge-warning Инвестиционный
																				._info
																					a.coat._coat(href="#" title="") Владимирская область
																						img._img(src="../assets/img/content/flags/vladimir-obl.png", alt="")

																			h3._link
																				a._link(href="#" title="") Амбулаторно-поликлиническое учреждение в г. Владимир на базе ГБУЗ «Детская областная больница Владимирской...

																		.card-content
																			
																				
																			._properties-grid
																				._properties-grid-column.-large
																					.property.-inline._property
																						span._label Сфера:
																						span._value Социальная инфраструктура
																					.property.-inline._property
																						span._label Отрасль:
																						span._value Здравоохранение и санаторно-куро...

																		.card-body._body
																			ul._stats
																				li._stats-item
																					span._stats-label Общие затраты:
																					span._stats-value 140,5 млн. руб
																				li._stats-item
																					span._stats-label Срок реализации:
																					span._stats-value 12 месяцев
																				li._stats-item
																					span._stats-label Участники:
																					span._stats-value 23 участника


																._slide.js-slider-slide

																	.card
																		.card-header.-secondary._header
																			.card-meta._meta
																				._content
																					span.badge.badge-lg.badge-primary Инвестиционный
																				._info
																					a.coat._coat(href="#" title="") Владимирская область
																						img._img(src="../assets/img/content/flags/vladimir-obl.png", alt="")

																			h3._link
																				a._link(href="#" title="") Амбулаторно-поликлиническое учреждение в г. Владимир на базе ГБУЗ «Детская областная больница Владимирской...

																		.card-content
																			
																				
																			._properties-grid
																				._properties-grid-column.-large
																					.property.-inline._property
																						span._label Сфера:
																						span._value Социальная инфраструктура
																					.property.-inline._property
																						span._label Отрасль:
																						span._value Здравоохранение и санаторно-куро...

																		.card-body._body
																			ul._stats
																				li._stats-item
																					span._stats-label Общие затраты:
																					span._stats-value 140,5 млн. руб
																				li._stats-item
																					span._stats-label Срок реализации:
																					span._stats-value 12 месяцев
																				li._stats-item
																					span._stats-label Участники:
																					span._stats-value 23 участника

																._slide.js-slider-slide

																	.card
																		.card-header.-secondary._header
																			.card-meta._meta
																				._content
																					span.badge.badge-lg.badge-primary Инвестиционный
																				._info
																					a.coat._coat(href="#" title="") Владимирская область
																						img._img(src="../assets/img/content/flags/vladimir-obl.png", alt="")

																			h3._link
																				a._link(href="#" title="") Амбулаторно-поликлиническое учреждение в г. Владимир на базе ГБУЗ «Детская областная больница Владимирской...

																		.card-content
																			
																				
																			._properties-grid
																				._properties-grid-column.-large
																					.property.-inline._property
																						span._label Сфера:
																						span._value Социальная инфраструктура
																					.property.-inline._property
																						span._label Отрасль:
																						span._value Здравоохранение и санаторно-куро...

																		.card-body._body
																			ul._stats
																				li._stats-item
																					span._stats-label Общие затраты:
																					span._stats-value 140,5 млн. руб
																				li._stats-item
																					span._stats-label Срок реализации:
																					span._stats-value 12 месяцев
																				li._stats-item
																					span._stats-label Участники:
																					span._stats-value 23 участника

													._footer
														a._link(href="#") Перейти к рекомендованным проектам
															i.fe.fe-chevron-right

														.slider-pagination._slider-pagination
											// end wiget

										._column
											.wiget
												._header
													h3._heading Подборка проектов на основании предпочтений:
													.dropdown._dropdown
														button._btn
															i.fe.fe-more-vertical
												._body
													._content
														.article-card.-inline._article-card
															a._photo(href="#")
																img._img(src="../assets/img/content/news/1.jpg", alt="")
															._body
																._header
																	._meta
																		span._category Федеральные
																		span._added Добавлено: 03.03.2019 19:01
																h4._title
																	a._link(href="#" title="") В России разработают национальную систему управления данными Умных...

																._footer
																	._meta
																		._meta-data
																			span._date 2 апреля
																			span._views 12 255
																		a._url(href="#" title="") www.kommersant.ru
														.article-card.-inline._article-card
															a._photo(href="#")
																img._img(src="../assets/img/content/news/1.jpg", alt="")
															._body
																._header
																	._meta
																		span._category Федеральные
																		span._added Добавлено: 03.03.2019 19:01
																h4._title
																	a._link(href="#" title="") В России разработают национальную систему управления данными Умных...

																._footer
																	._meta
																		._meta-data
																			span._date 2 апреля
																			span._views 12 255
																		a._url(href="#" title="") www.kommersant.ru

														.article-card.-inline._article-card
															a._photo(href="#")
																img._img(src="../assets/img/content/news/1.jpg", alt="")
															._body
																._header
																	._meta
																		span._category Федеральные
																		span._added Добавлено: 03.03.2019 19:01
																h4._title
																	a._link(href="#" title="") В России разработают национальную систему управления данными Умных...

																._footer
																	._meta
																		._meta-data
																			span._date 2 апреля
																			span._views 12 255
																		a._url(href="#" title="") www.kommersant.ru


												._footer
													a._link(href="#") Перейти к новостям
														i.fe.fe-chevron-right
											// end wiget

										._column
											.wiget
												._header
													h3._heading Актуальные мероприятия мира ГЧП:
													.dropdown._dropdown
														button._btn
															i.fe.fe-more-vertical
												._body
													._content
														.article-card.-inline._article-card
															a._photo(href="#")
																img._img(src="../assets/img/content/news/2.jpg", alt="")
															._body
																._header
																	._meta
																		span._date Даты: 14-15 апреля 2019
																h4._title
																	a._link(href="#" title="") Программа повышения квалификации "Управление инвестиционными проектами, реализуемыми на принци...

																._footer
																	._meta
																		a._url(href="#" title="") www.rusinvestforum.org
																		._meta-data
																			span._city Сочи, Россия
																		
														.article-card.-inline._article-card
															a._photo(href="#")
																img._img(src="../assets/img/content/news/2.jpg", alt="")
															._body
																._header
																	._meta
																		span._date Даты: 14-15 апреля 2019
																h4._title
																	a._link(href="#" title="") Программа повышения квалификации "Управление инвестиционными проектами, реализуемыми на принци...

																._footer
																	._meta
																		a._url(href="#" title="") www.rusinvestforum.org
																		._meta-data
																			span._city Сочи, Россия

														.article-card.-inline._article-card
															a._photo(href="#")
																img._img(src="../assets/img/content/news/2.jpg", alt="")
															._body
																._header
																	._meta
																		span._date Даты: 14-15 апреля 2019
																h4._title
																	a._link(href="#" title="") Программа повышения квалификации "Управление инвестиционными проектами, реализуемыми на принци...

																._footer
																	._meta
																		a._url(href="#" title="") www.rusinvestforum.org
																		._meta-data
																			span._city Сочи, Россия

												._footer
													a._link(href="#") Перейти к новостям
														i.fe.fe-chevron-right
						// end main-profile

					// end main-content
		// end main-body


