.section-works{
  padding: 50px 0 100px;

  &__header{
    margin-bottom: 65px;
  }

  &__title{
    display: block;
    font-size: 32px;
    font-weight: 500;
    color: #23346B;

    &.is-centered{
      text-align: center;
    }
  }

  &__grid{
    display: flex;
    justify-content: space-between;

    margin: 0 -30px;  
  }

  &__column{
    position: relative;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 30px;

    &:after{
      content: '';
      position: absolute;
      right: -15px;
      top: 90px;
      width: 23px;
      height: 3px;
      background-image: url("data:image/svg+xml,%3Csvg width='23' height='3' viewBox='0 0 23 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1.49951' cy='1.5' r='1.5' fill='%23DDE0E9'/%3E%3Ccircle cx='11.4995' cy='1.5' r='1.5' fill='%23DDE0E9'/%3E%3Ccircle cx='21.4995' cy='1.5' r='1.5' fill='%23DDE0E9'/%3E%3C/svg%3E%0A");
    }

    &:last-child{
      &:after{
        display: none;
      }
    }
  }
}

.card-works{
  display: flex;
  align-items: center; 
  flex-direction: column;

  height: 100%;

  &__icon{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 180px;
    height: 180px;

    overflow: hidden;
    background: #F2F3F6;
    border-radius: 50%;
  }

  &__title{
    display: block;
    margin-top: 30px;

    max-width: 273px;

    font-size: 18px;
    font-weight: 500;
    color: #23346B;
    text-align: center;
  }
}