extends ../template

include ../../components/menu/menu
include ../../components/badge/badge
include ../../components/button/button
include ../../components/slider-nav/slider-nav
include ../../components/section-default/section-default
include ../../components/section-feedback/section-feedback

block append settings
  -
    page.title = 'Мероприятия';


block page-body

  .main-relay.page-body__relay(style="background: #1A295B;")
    ._intro
      ._container.container

        // start breadcrumbs
        .breadcrumbs._intro-breadcrumbs
          ul._list
            li._item
              a._link(href="/") Главная
            li._item
              span._link Мероприятия
        // end breadcrumbs

        ._intro-body
          ._intro-main
            h1._intro-heading Мероприятия
              ._intro-label.main-relay__label Мероприятия

          .article-card
            ._header
              a._photo(href='#' title='')
                img.img-cover._img(src='../../assets/img/general/relay/event-intro-preview.jpg' alt='')

                ._body
                  ._content
                    +badge({
                      title: 'Трансляция',
                      type: 'badge-primary is-online is-round is-small'
                    }, {
                      class: 'article-card__badge'
                    })
                    ._heading Длинное название конференции 2020

                  ._footer
                    .card-properties
                      ._item.is-time.is-time 28 сентября с 16:00-18:00
    
    ._events-section

      ._events
        ._events-container.container

          // controls
          form._controls.-not-selected(action="/" method="GET" name="events-search")

            ul._categories
              li._categories-item
                a._categories-link.is-active(href="#") Все
              li._categories-item
                input(type="radio" name="pick-events" id="upcoming-events")._input-control
                label._categories-link(for="upcoming-events") Предстоящие
              li._categories-item
                input(type="radio" name="pick-events" id="past-events")._input-control
                label._categories-link(for="past-events") Прошедшие
              li._categories-item
                input(type="checkbox" name="is-online" id="online-events")._input-control
                label._categories-link.is-online(for="online-events") Онлайн
              li._categories-item
                input(type="checkbox" name="is-offline" id="offline-events")._input-control
                label._categories-link.is-offline(for="offline-events") Офлайн

            ._search
              ._search-field
                input._search-input(type="search"  name="search-query" placeholder="Поиск по главным событиям")
                button._search-btn(type="submit")
                  i.fe.fe-search

            ._filter-trigger.js-sort-by
              button._filter-trigger.js-sort-by-trigger(type="button")
              ._filter-trigger-body
                ul._sort-by
                  li._sort-by-item
                    input(type="radio" name="sort-by" id="sort-1")._input-control
                    label._sort-by-caption(for="sort-1") По дате добавления
                  li._sort-by-item
                    input(type="radio" name="sort-by" id="sort-2")._input-control
                    label._sort-by-caption(for="sort-2") По дате начала

          // /controls

          ._events-body
            ._events-main
              h2._events-heading 
                a._events-heading-link(href="#") Предстоящие мероприятия

              ._events-wrap.js-events-carousel
                ._events-row.js-slider-wrapper

                  ._events-col.js-slider-slide

                    .article-card
                      ._header
                        a._photo(href='#' title='')
                          img.img-cover._img(src='../../assets/img/general/relay/event-1.jpg' alt='')
                        ._body
                          ._content
                            ._badges
                              +badge({
                                title: 'Трансляция',
                                type: 'badge-primary is-online is-round is-small'
                              }, {
                                class: 'article-card__badge'
                              })
                              +badge({
                                title: 'Офлайн',
                                type: 'badge-warning is-offline is-round is-small'
                              }, {
                                class: 'article-card__badge'
                              })
                            h3._heading
                              a._link(href='' title='') Петербургский Международный Экономический Форум 2020

                        ._footer
                          .card-properties
                            ._item.is-time 28 сентября с 16:00-18:00

                  ._events-col.js-slider-slide

                    .article-card
                      ._header
                        a._photo(href='#' title='')
                          img.img-cover._img(src='../../assets/img/general/relay/event-2.jpg' alt='')
                        ._body
                          ._content
                            ._badges
                              +badge({
                                title: 'Трансляция',
                                type: 'badge-primary is-online is-round is-small'
                              }, {
                                class: 'article-card__badge'
                              })
                              +badge({
                                title: 'Онлайн',
                                type: 'badge-green is-broadcast is-round is-small'
                              }, {
                                class: 'article-card__badge'
                              })
                            h3._heading
                              a._link(href='' title='') Восточный экономический форум

                        ._footer
                          .card-properties
                            ._item.is-time 28 сентября с 16:00-18:00

                  ._events-col.js-slider-slide

                    .article-card
                      ._header
                        a._photo(href='#' title='')
                          img.img-cover._img(src='../../assets/img/general/relay/event-3.jpg' alt='')
                        ._body
                          ._content
                            ._badges
                              +badge({
                                title: 'Трансляция',
                                type: 'badge-primary is-online is-round is-small'
                              }, {
                                class: 'article-card__badge'
                              })
                            h3._heading
                              a._link(href='' title='') Длинное название конференции 2020 

                        ._footer
                          .card-properties
                            ._item.is-time 28 сентября с 16:00-18:00

                  ._events-col.js-slider-slide

                    .article-card
                      ._header
                        a._photo(href='#' title='')
                          img.img-cover._img(src='../../assets/img/general/relay/event-4.jpg' alt='')
                        ._body
                          ._content
                            ._badges
                              +badge({
                                title: 'Трансляция',
                                type: 'badge-primary is-online is-round is-small'
                              }, {
                                class: 'article-card__badge'
                              })
                            h3._heading
                              a._link(href='' title='') Национальная премия в сфере развития инфраструктуры "РОСИНФРА”

                        ._footer
                          .card-properties
                            ._item.is-time 28 сентября с 16:00-18:00

                  ._events-col.js-slider-slide

                    .article-card
                      ._header
                        a._photo(href='#' title='')
                          img.img-cover._img(src='../../assets/img/general/relay/event-1.jpg' alt='')
                        ._body
                          ._content
                            ._badges
                              +badge({
                                title: 'Трансляция',
                                type: 'badge-primary is-online is-round is-small'
                              }, {
                                class: 'article-card__badge'
                              })
                            h3._heading
                              a._link(href='' title='') Петербургский Международный Экономический Форум 2020

                        ._footer
                          .card-properties
                            ._item.is-time 28 сентября с 16:00-18:00
        
              .js-slider-pagination

      ._events
        ._events-container.container
          ._events-body
            ._events-main
              h2._events-heading
                a._events-heading-link(href="#") Архив мероприятий

              ._events-wrap.js-events-carousel
                ._events-row.js-slider-wrapper

                  ._events-col.js-slider-slide

                    .article-card
                      ._header
                        a._photo(href='#' title='')
                          img.img-cover._img(src='../../assets/img/general/relay/event-1.jpg' alt='')
                        ._body
                          ._content
                            ._badges
                              +badge({
                                title: 'Трансляция',
                                type: 'badge-primary is-online is-round is-small'
                              }, {
                                class: 'article-card__badge'
                              })
                              +badge({
                                title: 'Офлайн',
                                type: 'badge-warning is-offline is-round is-small'
                              }, {
                                class: 'article-card__badge'
                              })
                            h3._heading
                              a._link(href='' title='') Петербургский Международный Экономический Форум 2020

                        ._footer
                          .card-properties
                            ._item.is-time 28 сентября с 16:00-18:00

                  ._events-col.js-slider-slide

                    .article-card
                      ._header
                        a._photo(href='#' title='')
                          img.img-cover._img(src='../../assets/img/general/relay/event-2.jpg' alt='')
                        ._body
                          ._content
                            ._badges
                              +badge({
                                title: 'Трансляция',
                                type: 'badge-primary is-online is-round is-small'
                              }, {
                                class: 'article-card__badge'
                              })
                              +badge({
                                title: 'Онлайн',
                                type: 'badge-green is-broadcast is-round is-small'
                              }, {
                                class: 'article-card__badge'
                              })
                            h3._heading
                              a._link(href='' title='') Восточный экономический форум

                        ._footer
                          .card-properties
                            ._item.is-time 28 сентября с 16:00-18:00

                  ._events-col.js-slider-slide

                    .article-card
                      ._header
                        a._photo(href='#' title='')
                          img.img-cover._img(src='../../assets/img/general/relay/event-3.jpg' alt='')
                        ._body
                          ._content
                            ._badges
                              +badge({
                                title: 'Трансляция',
                                type: 'badge-primary is-online is-round is-small'
                              }, {
                                class: 'article-card__badge'
                              })
                            h3._heading
                              a._link(href='' title='') Длинное название конференции 2020 

                        ._footer
                          .card-properties
                            ._item.is-time 28 сентября с 16:00-18:00
              
              .js-slider-pagination

    ._extra
      ._extra-container.container
        ._extra-body
          ._extra-main
            h2._extra-heading
              a._extra-heading-link(href="#") Интересное

          .section-slider.js-section-slider
            ._body.js-section-slider-container
              ._wrapper.js-slider-wrapper
                
                // start slide
                ._slide.js-slider-slide

                  .article-card
                    ._header
                      a._photo(href='#' title='')
                      ._body
                        +badge({
                          title: 'Мнение',
                          type: 'badge-primary is-round is-small'
                        }, {
                          class: 'article-card__badge'
                        })
                        h3._heading
                          a._link(href='#' title='') Можно выделить три основных способа определения объема затрат, подлежащих возмещению по Закону о ЗПК
                        ._footer
                          .card-properties
                            ._item.is-time 28 сентября

                // end slide
                
                // start slide
                ._slide.js-slider-slide

                  .article-card
                    ._header
                      a._photo(href='#' title='')
                      ._body
                        +badge({
                          title: 'Мнение',
                          type: 'badge-primary is-round is-small'
                        }, {
                          class: 'article-card__badge'
                        })
                        h3._heading
                          a._link(href='#' title='') Можно выделить три основных способа
                        ._footer
                          .card-properties
                            ._item.is-time 28 сентября

                // end slide
                
                // start slide
                ._slide.js-slider-slide

                  .article-card
                    ._header
                      a._photo(href='#' title='')
                      ._body
                        +badge({
                          title: 'Мнение',
                          type: 'badge-primary is-round is-small'
                        }, {
                          class: 'article-card__badge'
                        })
                        h3._heading
                          a._link(href='#' title='') Можно выделить три основных способа определения объема затрат, подлежащих возмещению по Закону о ЗПК
                        ._footer
                          .card-properties
                            ._item.is-time 28 сентября

                // end slide
                
                // start slide
                ._slide.js-slider-slide

                  .article-card
                    ._header
                      a._photo(href='#' title='')
                      ._body
                        +badge({
                          title: 'Мнение',
                          type: 'badge-primary is-round is-small'
                        }, {
                          class: 'article-card__badge'
                        })
                        h3._heading
                          a._link(href='#' title='') Можно выделить три основных способа определения объема затрат, подлежащих возмещению по Закону о ЗПК
                        ._footer
                          .card-properties
                            ._item.is-time 28 сентября

                // end slide
                
                // start slide
                ._slide.js-slider-slide

                  .article-card
                    ._header
                      a._photo(href='#' title='')
                      ._body
                        +badge({
                          title: 'Мнение',
                          type: 'badge-primary is-round is-small'
                        }, {
                          class: 'article-card__badge'
                        })
                        h3._heading
                          a._link(href='#' title='') Можно выделить три основных способа
                        ._footer
                          .card-properties
                            ._item.is-time 28 сентября

                // end slide
                
                // start slide
                ._slide.js-slider-slide

                  .article-card
                    ._header
                      a._photo(href='#' title='')
                      ._body
                        +badge({
                          title: 'Мнение',
                          type: 'badge-primary is-round is-small'
                        }, {
                          class: 'article-card__badge'
                        })
                        h3._heading
                          a._link(href='#' title='') Можно выделить три основных способа определения объема затрат, подлежащих возмещению по Закону о ЗПК
                        ._footer
                          .card-properties
                            ._item.is-time 28 сентября

                // end slide
                
                // start slide
                ._slide.js-slider-slide

                  .article-card
                    ._header
                      a._photo(href='#' title='')
                      ._body
                        +badge({
                          title: 'Мнение',
                          type: 'badge-primary is-round is-small'
                        }, {
                          class: 'article-card__badge'
                        })
                        h3._heading
                          a._link(href='#' title='') Можно выделить три основных способа определения объема затрат, подлежащих возмещению по Закону о ЗПК
                        ._footer
                          .card-properties
                            ._item.is-time 28 сентября

                // end slide
                
                // start slide
                ._slide.js-slider-slide

                  .article-card
                    ._header
                      a._photo(href='#' title='')
                      ._body
                        +badge({
                          title: 'Мнение',
                          type: 'badge-primary is-round is-small'
                        }, {
                          class: 'article-card__badge'
                        })
                        h3._heading
                          a._link(href='#' title='') Можно выделить три основных способа
                        ._footer
                          .card-properties
                            ._item.is-time 28 сентября

                // end slide
                
                // start slide
                ._slide.js-slider-slide

                  .article-card
                    ._header
                      a._photo(href='#' title='')
                      ._body
                        +badge({
                          title: 'Мнение',
                          type: 'badge-primary is-round is-small'
                        }, {
                          class: 'article-card__badge'
                        })
                        h3._heading
                          a._link(href='#' title='') Можно выделить три основных способа определения объема затрат, подлежащих возмещению по Закону о ЗПК
                        ._footer
                          .card-properties
                            ._item.is-time 28 сентября

                // end slide
                   
              .slider-controls._controls
                ._aside
                  +slider-counter
                ._main
                ._aside
                  +slider-nav

              .js-slider-pagination

    ._social
      ._container.container
        // start articles-widget
        .articles-widget.-subs._social-wiget
          ._body
            ._grid
              ._column
                a.subscribe-button.is-dzen._subscribe-button(href='#' title='')
                  ._icon
                    img._img(src='__static__img/general/relay/15.svg' alt='')

                  ._main
                    p.card-heading._heading Мы на Яндекс Дзен
                    p._caption Подписаться

              ._column
                a.subscribe-button.is-telegram._subscribe-button(href='#' title='')
                  ._icon
                    img._img(src='__static__img/general/relay/16.svg' alt='')

                  ._main
                    p.card-heading._heading Наш телеграм канал
                    p._caption Подписаться
        // end articles-widget

        .socials-small.is-inline._social-socials
          ._body
            ._aside
              span._title Поделиться:
            ._main
              ul._list
                li._item
                  a._link.is-facebook(href="#")
                    img._icon(src="__static__img/general/relay/3.svg")
                li._item
                  a._link.is-telegram(href="#")
                    img._icon(src="__static__img/general/relay/4.svg")
                li._item
                  a._link.is-whatsapp(href="#")
                    img._icon(src="__static__img/general/relay/5.svg")
                li._item
                  a._link.is-vk(href="#")
                    img._icon(src="__static__img/general/relay/6.svg")
                li._item
                  a._link.is-twitter(href="#")
                    img._icon(src="__static__img/general/relay/7.svg")
