extends ../template

include ../../components/menu/menu
include ../../components/badge/badge
include ../../components/button/button
include ../../components/slider-nav/slider-nav
include ../../components/section-default/section-default
include ../../components/section-feedback/section-feedback

block append settings
  -
    page.title = 'Мероприятия';


block page-body

  .main-relay.page-body__relay(style="background: #1A295B;")
    ._intro
      ._container.container

        // start breadcrumbs
        .breadcrumbs._intro-breadcrumbs
          ul._list
            li._item
              a._link(href="/") Главная
            li._item
              span._link Мероприятия
        // end breadcrumbs

        ._intro-body
          ._intro-main
            h1._intro-heading Мероприятия
              ._intro-label.main-relay__label Мероприятия

          .article-card
            ._header
              a._photo(href='#' title='')
                img.img-cover._img(src='../../assets/img/general/relay/event-intro-preview.jpg' alt='')

                ._body
                  ._content
                    +badge({
                      title: 'Трансляция',
                      type: 'badge-primary is-online is-round is-small'
                    }, {
                      class: 'article-card__badge'
                    })
                    ._heading Длинное название конференции 2020

                  ._footer
                    .card-properties
                      ._item.is-time.is-time 28 сентября с 16:00-18:00
    
    ._events-section

      ._events
        ._events-container.container

          // controls
          ._controls.-not-selected.is-border

            ul._categories
              li._categories-item
                a._categories-link.is-active(href="#") Все
              li._categories-item
                a._categories-link(href="#") Предстоящие
              li._categories-item
                a._categories-link(href="#") Прошедшие
              li._categories-item
                a._categories-link.is-online(href="#") Онлайн
              li._categories-item
                a._categories-link.is-offline(href="#") Офлайн

            form._search(action="/" method="GET" name="events-search")
              ._search-field
                input._search-input(type="search"  name="search-query" placeholder="Поиск по главным событиям")
                button._search-btn(type="submit")
                  i.fe.fe-search

            button._filter-trigger(type="button")
          // /controls

          ._events-body
            ._events-main
              ._events-empty По введённому запросу не найдено  мероприятий

    ._social
      ._container.container
        // start articles-widget
        .articles-widget.-subs._social-wiget
          ._body
            ._grid
              ._column
                a.subscribe-button.is-dzen._subscribe-button(href='#' title='')
                  ._icon
                    img._img(src='__static__img/general/relay/15.svg' alt='')

                  ._main
                    p.card-heading._heading Мы на Яндекс Дзен
                    p._caption Подписаться

              ._column
                a.subscribe-button.is-telegram._subscribe-button(href='#' title='')
                  ._icon
                    img._img(src='__static__img/general/relay/16.svg' alt='')

                  ._main
                    p.card-heading._heading Наш телеграм канал
                    p._caption Подписаться
        // end articles-widget

        .socials-small.is-inline._social-socials
          ._body
            ._aside
              span._title Поделиться:
            ._main
              ul._list
                li._item
                  a._link.is-facebook(href="#")
                    img._icon(src="__static__img/general/relay/3.svg")
                li._item
                  a._link.is-telegram(href="#")
                    img._icon(src="__static__img/general/relay/4.svg")
                li._item
                  a._link.is-whatsapp(href="#")
                    img._icon(src="__static__img/general/relay/5.svg")
                li._item
                  a._link.is-vk(href="#")
                    img._icon(src="__static__img/general/relay/6.svg")
                li._item
                  a._link.is-twitter(href="#")
                    img._icon(src="__static__img/general/relay/7.svg")
