extends ../template

include ../../components/menu/menu
include ../../components/badge/badge
include ../../components/button/button
include ../../components/slider-nav/slider-nav
include ../../components/section-default/section-default
include ../../components/section-feedback/section-feedback

include ../../components/ui/ui-select-custom/ui-select-custom
include ../../components/ui/ui-input/ui-input
include ../../components/ui/ui-control/ui-control
include ../../components/ui/ui-button/ui-button

block append settings
	-
		page.title = 'Трансляции без чата';


block page-body

	.main-relay.page-body__ralay(style="background: #1A295B;")
		._start(style="background: url('__static__img/general/relay/modern-city.jpg') no-repeat center; background-size: cover;")
			._start-wrap
				._container.container
					// start breadcrumbs
					.breadcrumbs._start-breadcrumbs
						ul._list
							li._item
								a._link(href="/") Главная
							li._item
								a._link(href="#") Конференции
							li._item
								span._link Длинное название конференции 2020
					// end breadcrumbs

					._start-body
						._start-main
							h1._start-title Цифровая трансформация городов. Какие IT-решения можно и нужно внедрять на принципах ГЧП
							._start-actions
								._start-date 28 сентября с 16:00-18:00
									a._start-add(href="#") Добавить в гугл-календарь
								a._start-button(href="#" data-remodal-target="reg-modal") Зарегистрироваться
								a._start-add.is-mobile(href="#") Добавить в гугл-календарь
						._start-aside
							._start-partner
								a._start-partner-link(href="#" target="_blank")
									img._start-logo(src="__static__img/general/relay/2.svg")
								sapn._start-label Генеральный партнёр

							.socials-small._start-socials
								._body
									._aside
										span._title Поделиться:
									._main
										ul._list
											li._item
												a._link.is-facebook(href="#")
													img._icon(src="__static__img/general/relay/3.svg")
											li._item
												a._link.is-telegram(href="#")
													img._icon(src="__static__img/general/relay/4.svg")
											li._item
												a._link.is-whatsapp(href="#")
													img._icon(src="__static__img/general/relay/5.svg")
											li._item
												a._link.is-vk(href="#")
													img._icon(src="__static__img/general/relay/6.svg")
											li._item
												a._link.is-twitter(href="#")
													img._icon(src="__static__img/general/relay/7.svg")
		
		._promo
			._container.container
				h2._promo-title О мероприятии
				._promo-text
					p Имеется спорная точка зрения, гласящая примерно следующее: базовые сценарии поведения пользователей обнародованы. Кстати, тщательные исследования конкурентов, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут подвергнуты целой серии независимых исследований. Укрепление и развитие внутренней структуры представляет собой интересный эксперимент проверки кластеризации усилий. Есть над чем задуматься: акционеры крупнейших компаний, инициированные исключительно синтетически, объективно рассмотрены соответствующими инстанциями. Но сложившаяся структура организации представляет собой интересный эксперимент проверки задач.

		._video
			._video-header
				._label.main-relay__video-label Трансляция • Трансляция
				._container.container
					h2._video-title Трансляция
			
			._video-body
				._container.container
					._video-wrapper
						._video-main
							// start card-video
							.card-video
								._body
									iframe(width='100%' height='540' src='https://www.youtube.com/embed/2jjB2ddPGhQ' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

									._photo
										a.timer.js-timer._timer(data-timer="11/22/2020 12:00:00" href="https://www.youtube.com/watch?v=2jjB2ddPGhQ&list=PLtW2B4_VWGzClVV-xvhouKb-tvhViRL8p" target="_blank")
											._inner
												._grid
													._column
														._value.js-timer-days
														._label Дней
													._column
														._value.js-timer-hours
														._label Часов
													._column
														._value.js-timer-minutes
														._label Минут
													._column
														._value.js-timer-seconds
														._label Секунд
												._text До начала трансляции
							// end card-video

							._video-label <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 0C4.03746 0 0 4.03746 0 9C0 13.9625 4.03746 18 9 18C13.9625 18 18 13.9625 18 9C18 4.03746 13.9625 0 9 0ZM9.58542 14.3399C9.15784 14.4112 8.30704 14.5892 7.87499 14.625C7.50928 14.6553 7.16417 14.4459 6.9538 14.1454C6.74288 13.845 6.69233 13.4604 6.81756 13.1155L8.51879 8.43751H6.74998C6.74847 7.46276 7.47962 6.74603 8.41475 6.47097C8.86101 6.33967 9.69245 6.15999 10.125 6.18753C10.3841 6.20401 10.8358 6.36659 11.0462 6.6671C11.2571 6.96757 11.3076 7.35209 11.1824 7.69706L9.48118 12.375H11.2494C11.2498 13.3486 10.5459 14.1798 9.58542 14.3399ZM10.125 5.62501C9.50364 5.62501 8.99997 5.12127 8.99997 4.5C8.99997 3.87866 9.50364 3.37499 10.125 3.37499C10.7463 3.37499 11.25 3.87866 11.25 4.5C11.25 5.1213 10.7463 5.62501 10.125 5.62501Z" fill="white"/></svg> Если трансляция не началась, попробуйте обновить страницу
						
						._video-aside
							// start chat
							.chat._chat
								._header
									span._title Вопросы спикерам
										span._value (16)
								
								._content
									._wrap
										<svg width="230" height="125" viewBox="0 0 230 125" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path opacity="0.6" d="M24.4727 88V82.1904H24.4023C23.5703 83.0049 22.4863 83.4121 21.1504 83.4121C19.7559 83.4121 18.6338 82.9844 17.7842 82.1289C16.9287 81.2734 16.501 80.1426 16.501 78.7363V75.3174H18.4697V78.5781C18.4697 79.5332 18.7246 80.2832 19.2344 80.8281C19.7441 81.3789 20.4443 81.6543 21.335 81.6543C22.0439 81.6543 22.6826 81.4961 23.251 81.1797C23.8135 80.8691 24.2207 80.4473 24.4727 79.9141V75.3174H26.4414V88H24.4727ZM32.1104 86.5762C32.8193 86.5762 33.4111 86.374 33.8857 85.9697C34.3604 85.5596 34.5977 85.041 34.5977 84.4141V83.667L32.2773 83.8252C30.959 83.9072 30.2998 84.376 30.2998 85.2314C30.2998 85.6416 30.4639 85.9668 30.792 86.207C31.1201 86.4531 31.5596 86.5762 32.1104 86.5762ZM31.6006 88.0967C30.6455 88.0967 29.8691 87.8389 29.2715 87.3232C28.6738 86.8018 28.375 86.1162 28.375 85.2666C28.375 84.4346 28.6885 83.7812 29.3154 83.3066C29.9365 82.832 30.8389 82.5566 32.0225 82.4805L34.5977 82.3311V81.5928C34.5977 81.0479 34.4219 80.6289 34.0703 80.3359C33.7246 80.0488 33.2324 79.9053 32.5938 79.9053C32.0781 79.9053 31.6416 80.0283 31.2842 80.2744C30.9326 80.5205 30.7158 80.8516 30.6338 81.2676H28.8496C28.8789 80.4238 29.251 79.7236 29.9658 79.167C30.6807 78.6104 31.5742 78.332 32.6465 78.332C33.8125 78.332 34.7412 78.6162 35.4326 79.1846C36.1299 79.7529 36.4785 80.5088 36.4785 81.4521V88H34.6592V86.4092H34.6152C34.3516 86.9248 33.9473 87.335 33.4023 87.6396C32.8574 87.9443 32.2568 88.0967 31.6006 88.0967ZM45.5576 79.9668H42.543V88H40.6621V79.9668H37.6475V78.4551H45.5576V79.9668ZM57.4229 81.4961C57.2998 81.0273 57.0508 80.6553 56.6758 80.3799C56.2773 80.0869 55.7852 79.9404 55.1992 79.9404C54.4258 79.9404 53.8076 80.2363 53.3447 80.8281C52.876 81.4316 52.6416 82.2314 52.6416 83.2275C52.6416 84.2471 52.8789 85.0527 53.3535 85.6445C53.8164 86.2246 54.4346 86.5146 55.208 86.5146C56.4033 86.5146 57.1475 86.0049 57.4404 84.9854H59.2773C59.1309 85.9287 58.6914 86.6846 57.959 87.2529C57.2207 87.8271 56.3008 88.1143 55.1992 88.1143C53.8398 88.1143 52.7559 87.6777 51.9473 86.8047C51.127 85.9258 50.7168 84.7334 50.7168 83.2275C50.7168 81.7451 51.124 80.5586 51.9385 79.668C52.7529 78.7773 53.834 78.332 55.1816 78.332C56.3066 78.332 57.2441 78.6426 57.9941 79.2637C58.7031 79.8438 59.125 80.5879 59.2598 81.4961H57.4229ZM67.9521 79.9668H64.9375V88H63.0566V79.9668H60.042V78.4551H67.9521V79.9668ZM72.4697 86.5762C73.1787 86.5762 73.7705 86.374 74.2451 85.9697C74.7197 85.5596 74.957 85.041 74.957 84.4141V83.667L72.6367 83.8252C71.3184 83.9072 70.6592 84.376 70.6592 85.2314C70.6592 85.6416 70.8232 85.9668 71.1514 86.207C71.4795 86.4531 71.9189 86.5762 72.4697 86.5762ZM71.96 88.0967C71.0049 88.0967 70.2285 87.8389 69.6309 87.3232C69.0332 86.8018 68.7344 86.1162 68.7344 85.2666C68.7344 84.4346 69.0479 83.7812 69.6748 83.3066C70.2959 82.832 71.1982 82.5566 72.3818 82.4805L74.957 82.3311V81.5928C74.957 81.0479 74.7812 80.6289 74.4297 80.3359C74.084 80.0488 73.5918 79.9053 72.9531 79.9053C72.4375 79.9053 72.001 80.0283 71.6436 80.2744C71.292 80.5205 71.0752 80.8516 70.9932 81.2676H69.209C69.2383 80.4238 69.6104 79.7236 70.3252 79.167C71.04 78.6104 71.9336 78.332 73.0059 78.332C74.1719 78.332 75.1006 78.6162 75.792 79.1846C76.4893 79.7529 76.8379 80.5088 76.8379 81.4521V88H75.0186V86.4092H74.9746C74.7109 86.9248 74.3066 87.335 73.7617 87.6396C73.2168 87.9443 72.6162 88.0967 71.96 88.0967ZM85.2051 83.8164H80.7314V88H78.8418V78.4551H80.7314V82.3047H85.2051V78.4551H87.0947V88H85.2051V83.8164ZM93.2031 79.8877C92.5176 79.8877 91.9492 80.1162 91.498 80.5732C91.041 81.0303 90.7861 81.625 90.7334 82.3574H95.5762C95.5527 81.6133 95.3242 81.0156 94.8906 80.5645C94.457 80.1133 93.8945 79.8877 93.2031 79.8877ZM97.3867 85.2051C97.252 86.0605 96.8037 86.7607 96.042 87.3057C95.2803 87.8447 94.3633 88.1143 93.291 88.1143C91.9082 88.1143 90.8125 87.6777 90.0039 86.8047C89.2012 85.9375 88.7998 84.7568 88.7998 83.2627C88.7998 81.7686 89.2012 80.5732 90.0039 79.6768C90.8066 78.7803 91.876 78.332 93.2119 78.332C94.5244 78.332 95.5645 78.7568 96.332 79.6064C97.0996 80.4502 97.4834 81.5957 97.4834 83.043V83.7109H90.7246V83.8252C90.7246 84.6514 90.9619 85.3135 91.4365 85.8115C91.9111 86.3154 92.541 86.5674 93.3262 86.5674C93.8828 86.5674 94.3633 86.4443 94.7676 86.1982C95.1719 85.9521 95.4385 85.6211 95.5674 85.2051H97.3867ZM106.255 79.9668H103.24V88H101.359V79.9668H98.3447V78.4551H106.255V79.9668ZM118.19 79.958H114.824L114.552 83.6758C114.464 84.9355 114.212 85.8496 113.796 86.418V86.4883H118.19V79.958ZM110.948 90.5049V86.4883H111.722C112.354 86.0898 112.724 85.126 112.829 83.5967L113.181 78.4551H120.071V86.4883H121.565V90.5049H119.808V88H112.697V90.5049H110.948ZM126.997 88.1143C125.614 88.1143 124.516 87.6748 123.701 86.7959C122.887 85.917 122.479 84.7275 122.479 83.2275C122.479 81.7334 122.89 80.5439 123.71 79.6592C124.524 78.7744 125.62 78.332 126.997 78.332C128.374 78.332 129.47 78.7715 130.284 79.6504C131.099 80.5352 131.506 81.7275 131.506 83.2275C131.506 84.7275 131.099 85.917 130.284 86.7959C129.476 87.6748 128.38 88.1143 126.997 88.1143ZM126.997 86.5322C127.806 86.5322 128.438 86.2422 128.896 85.6621C129.347 85.082 129.572 84.2705 129.572 83.2275C129.572 82.1846 129.347 81.373 128.896 80.793C128.438 80.207 127.806 79.9141 126.997 79.9141C126.188 79.9141 125.556 80.207 125.099 80.793C124.642 81.3789 124.413 82.1904 124.413 83.2275C124.413 84.2646 124.642 85.0762 125.099 85.6621C125.556 86.2422 126.188 86.5322 126.997 86.5322ZM139.513 81.4961C139.39 81.0273 139.141 80.6553 138.766 80.3799C138.367 80.0869 137.875 79.9404 137.289 79.9404C136.516 79.9404 135.897 80.2363 135.435 80.8281C134.966 81.4316 134.731 82.2314 134.731 83.2275C134.731 84.2471 134.969 85.0527 135.443 85.6445C135.906 86.2246 136.524 86.5146 137.298 86.5146C138.493 86.5146 139.237 86.0049 139.53 84.9854H141.367C141.221 85.9287 140.781 86.6846 140.049 87.2529C139.311 87.8271 138.391 88.1143 137.289 88.1143C135.93 88.1143 134.846 87.6777 134.037 86.8047C133.217 85.9258 132.807 84.7334 132.807 83.2275C132.807 81.7451 133.214 80.5586 134.028 79.668C134.843 78.7773 135.924 78.332 137.271 78.332C138.396 78.332 139.334 78.6426 140.084 79.2637C140.793 79.8438 141.215 80.5879 141.35 81.4961H139.513ZM150.042 79.9668H147.027V88H145.146V79.9668H142.132V78.4551H150.042V79.9668ZM152.433 91.4717C152.116 91.4717 151.858 91.4541 151.659 91.4189V89.8721C151.776 89.9014 151.979 89.916 152.266 89.916C152.723 89.916 153.083 89.8105 153.347 89.5996C153.616 89.3828 153.833 89.0225 153.997 88.5186L154.146 88.0264L150.684 78.4551H152.731L155.184 86.2598H155.228L157.68 78.4551H159.684L156.106 88.4395C155.696 89.582 155.225 90.373 154.691 90.8125C154.164 91.252 153.411 91.4717 152.433 91.4717ZM167.295 79.9668H162.909V88H161.02V78.4551H169.185V88H167.295V79.9668ZM175.293 79.8877C174.607 79.8877 174.039 80.1162 173.588 80.5732C173.131 81.0303 172.876 81.625 172.823 82.3574H177.666C177.643 81.6133 177.414 81.0156 176.98 80.5645C176.547 80.1133 175.984 79.8877 175.293 79.8877ZM179.477 85.2051C179.342 86.0605 178.894 86.7607 178.132 87.3057C177.37 87.8447 176.453 88.1143 175.381 88.1143C173.998 88.1143 172.902 87.6777 172.094 86.8047C171.291 85.9375 170.89 84.7568 170.89 83.2627C170.89 81.7686 171.291 80.5732 172.094 79.6768C172.896 78.7803 173.966 78.332 175.302 78.332C176.614 78.332 177.654 78.7568 178.422 79.6064C179.189 80.4502 179.573 81.5957 179.573 83.043V83.7109H172.814V83.8252C172.814 84.6514 173.052 85.3135 173.526 85.8115C174.001 86.3154 174.631 86.5674 175.416 86.5674C175.973 86.5674 176.453 86.4443 176.857 86.1982C177.262 85.9521 177.528 85.6211 177.657 85.2051H179.477ZM187.633 83.8164H183.159V88H181.27V78.4551H183.159V82.3047H187.633V78.4551H189.522V88H187.633V83.8164ZM197.679 79.8525V82.3838H199.586C200.705 82.3838 201.265 81.959 201.265 81.1094C201.265 80.2715 200.772 79.8525 199.788 79.8525H197.679ZM197.679 83.7373V86.5938H199.955C201.098 86.5938 201.669 86.1221 201.669 85.1787C201.669 84.2178 201.019 83.7373 199.718 83.7373H197.679ZM195.807 78.4551H200.157C201.077 78.4551 201.804 78.6719 202.337 79.1055C202.864 79.5391 203.128 80.1309 203.128 80.8809C203.128 81.3789 202.973 81.8242 202.662 82.2168C202.352 82.6152 201.968 82.8584 201.511 82.9463V83.0166C202.12 83.0986 202.612 83.3418 202.987 83.7461C203.362 84.1562 203.55 84.6572 203.55 85.249C203.55 86.0928 203.251 86.7607 202.653 87.2529C202.05 87.751 201.232 88 200.201 88H195.807V78.4551ZM209.403 88.1143C208.021 88.1143 206.922 87.6748 206.107 86.7959C205.293 85.917 204.886 84.7275 204.886 83.2275C204.886 81.7334 205.296 80.5439 206.116 79.6592C206.931 78.7744 208.026 78.332 209.403 78.332C210.78 78.332 211.876 78.7715 212.69 79.6504C213.505 80.5352 213.912 81.7275 213.912 83.2275C213.912 84.7275 213.505 85.917 212.69 86.7959C211.882 87.6748 210.786 88.1143 209.403 88.1143ZM209.403 86.5322C210.212 86.5322 210.845 86.2422 211.302 85.6621C211.753 85.082 211.979 84.2705 211.979 83.2275C211.979 82.1846 211.753 81.373 211.302 80.793C210.845 80.207 210.212 79.9141 209.403 79.9141C208.595 79.9141 207.962 80.207 207.505 80.793C207.048 81.3789 206.819 82.1904 206.819 83.2275C206.819 84.2646 207.048 85.0762 207.505 85.6621C207.962 86.2422 208.595 86.5322 209.403 86.5322ZM39.2646 106.853V109.384H41.1719C42.291 109.384 42.8506 108.959 42.8506 108.109C42.8506 107.271 42.3584 106.853 41.374 106.853H39.2646ZM39.2646 110.737V113.594H41.541C42.6836 113.594 43.2549 113.122 43.2549 112.179C43.2549 111.218 42.6045 110.737 41.3037 110.737H39.2646ZM37.3926 105.455H41.7432C42.6631 105.455 43.3896 105.672 43.9229 106.105C44.4502 106.539 44.7139 107.131 44.7139 107.881C44.7139 108.379 44.5586 108.824 44.248 109.217C43.9375 109.615 43.5537 109.858 43.0967 109.946V110.017C43.7061 110.099 44.1982 110.342 44.5732 110.746C44.9482 111.156 45.1357 111.657 45.1357 112.249C45.1357 113.093 44.8369 113.761 44.2393 114.253C43.6357 114.751 42.8184 115 41.7871 115H37.3926V105.455ZM51.8242 105.358C53.043 105.358 54.0186 105.801 54.751 106.686C55.4893 107.57 55.8584 108.751 55.8584 110.228C55.8584 111.698 55.4922 112.879 54.7598 113.77C54.0332 114.654 53.0693 115.097 51.8682 115.097C50.4502 115.097 49.4424 114.543 48.8447 113.436H48.8096V118.12H46.9023V105.455H48.7393V107.037H48.7832C49.0527 106.521 49.46 106.114 50.0049 105.815C50.5557 105.511 51.1621 105.358 51.8242 105.358ZM51.3408 113.479C52.1143 113.479 52.7354 113.184 53.2041 112.592C53.6729 112 53.9072 111.212 53.9072 110.228C53.9072 109.243 53.6729 108.455 53.2041 107.863C52.7354 107.271 52.1143 106.976 51.3408 106.976C50.585 106.976 49.9727 107.274 49.5039 107.872C49.0352 108.47 48.7979 109.255 48.792 110.228C48.7979 111.2 49.0352 111.985 49.5039 112.583C49.9668 113.181 50.5791 113.479 51.3408 113.479ZM61.5449 106.888C60.8594 106.888 60.291 107.116 59.8398 107.573C59.3828 108.03 59.1279 108.625 59.0752 109.357H63.918C63.8945 108.613 63.666 108.016 63.2324 107.564C62.7988 107.113 62.2363 106.888 61.5449 106.888ZM65.7285 112.205C65.5938 113.061 65.1455 113.761 64.3838 114.306C63.6221 114.845 62.7051 115.114 61.6328 115.114C60.25 115.114 59.1543 114.678 58.3457 113.805C57.543 112.938 57.1416 111.757 57.1416 110.263C57.1416 108.769 57.543 107.573 58.3457 106.677C59.1484 105.78 60.2178 105.332 61.5537 105.332C62.8662 105.332 63.9062 105.757 64.6738 106.606C65.4414 107.45 65.8252 108.596 65.8252 110.043V110.711H59.0664V110.825C59.0664 111.651 59.3037 112.313 59.7783 112.812C60.2529 113.315 60.8828 113.567 61.668 113.567C62.2246 113.567 62.7051 113.444 63.1094 113.198C63.5137 112.952 63.7803 112.621 63.9092 112.205H65.7285ZM67.5215 115V105.455H69.8945L73.0146 112.521H73.085L76.2227 105.455H78.5254V115H76.6885V108.347H76.6182L73.7178 114.64H72.3203L69.4287 108.347H69.3584V115H67.5215ZM85.9961 110.236V106.958H84.2471C83.6729 106.958 83.2188 107.107 82.8848 107.406C82.5449 107.711 82.375 108.124 82.375 108.646C82.375 109.114 82.5449 109.495 82.8848 109.788C83.2305 110.087 83.6846 110.236 84.2471 110.236H85.9961ZM85.9961 111.695H84.4932L82.1729 115H80.0195L82.6299 111.379C81.9619 111.18 81.4404 110.846 81.0654 110.377C80.6846 109.896 80.4941 109.325 80.4941 108.663C80.4941 107.673 80.8252 106.891 81.4873 106.316C82.1494 105.742 83.04 105.455 84.1592 105.455H87.8594V115H85.9961V111.695ZM101.351 106.967H98.3359V115H96.4551V106.967H93.4404V105.455H101.351V106.967ZM107.705 105.358C108.924 105.358 109.899 105.801 110.632 106.686C111.37 107.57 111.739 108.751 111.739 110.228C111.739 111.698 111.373 112.879 110.641 113.77C109.914 114.654 108.95 115.097 107.749 115.097C106.331 115.097 105.323 114.543 104.726 113.436H104.69V118.12H102.783V105.455H104.62V107.037H104.664C104.934 106.521 105.341 106.114 105.886 105.815C106.437 105.511 107.043 105.358 107.705 105.358ZM107.222 113.479C107.995 113.479 108.616 113.184 109.085 112.592C109.554 112 109.788 111.212 109.788 110.228C109.788 109.243 109.554 108.455 109.085 107.863C108.616 107.271 107.995 106.976 107.222 106.976C106.466 106.976 105.854 107.274 105.385 107.872C104.916 108.47 104.679 109.255 104.673 110.228C104.679 111.2 104.916 111.985 105.385 112.583C105.848 113.181 106.46 113.479 107.222 113.479ZM116.767 113.576C117.476 113.576 118.067 113.374 118.542 112.97C119.017 112.56 119.254 112.041 119.254 111.414V110.667L116.934 110.825C115.615 110.907 114.956 111.376 114.956 112.231C114.956 112.642 115.12 112.967 115.448 113.207C115.776 113.453 116.216 113.576 116.767 113.576ZM116.257 115.097C115.302 115.097 114.525 114.839 113.928 114.323C113.33 113.802 113.031 113.116 113.031 112.267C113.031 111.435 113.345 110.781 113.972 110.307C114.593 109.832 115.495 109.557 116.679 109.48L119.254 109.331V108.593C119.254 108.048 119.078 107.629 118.727 107.336C118.381 107.049 117.889 106.905 117.25 106.905C116.734 106.905 116.298 107.028 115.94 107.274C115.589 107.521 115.372 107.852 115.29 108.268H113.506C113.535 107.424 113.907 106.724 114.622 106.167C115.337 105.61 116.23 105.332 117.303 105.332C118.469 105.332 119.397 105.616 120.089 106.185C120.786 106.753 121.135 107.509 121.135 108.452V115H119.315V113.409H119.271C119.008 113.925 118.604 114.335 118.059 114.64C117.514 114.944 116.913 115.097 116.257 115.097ZM129.502 110.816H125.028V115H123.139V105.455H125.028V109.305H129.502V105.455H131.392V115H129.502V110.816ZM139.812 108.496C139.688 108.027 139.439 107.655 139.064 107.38C138.666 107.087 138.174 106.94 137.588 106.94C136.814 106.94 136.196 107.236 135.733 107.828C135.265 108.432 135.03 109.231 135.03 110.228C135.03 111.247 135.268 112.053 135.742 112.645C136.205 113.225 136.823 113.515 137.597 113.515C138.792 113.515 139.536 113.005 139.829 111.985H141.666C141.52 112.929 141.08 113.685 140.348 114.253C139.609 114.827 138.689 115.114 137.588 115.114C136.229 115.114 135.145 114.678 134.336 113.805C133.516 112.926 133.105 111.733 133.105 110.228C133.105 108.745 133.513 107.559 134.327 106.668C135.142 105.777 136.223 105.332 137.57 105.332C138.695 105.332 139.633 105.643 140.383 106.264C141.092 106.844 141.514 107.588 141.648 108.496H139.812ZM146.096 110.676C145.996 112.135 145.741 113.207 145.331 113.893C144.856 114.689 144.121 115.088 143.125 115.088C142.861 115.088 142.645 115.056 142.475 114.991V113.312C142.633 113.359 142.8 113.383 142.976 113.383C143.421 113.383 143.755 113.128 143.978 112.618C144.171 112.179 144.297 111.505 144.355 110.597L144.698 105.455H151.29V115H149.4V106.967H146.368L146.096 110.676ZM158.77 110.236V106.958H157.021C156.446 106.958 155.992 107.107 155.658 107.406C155.318 107.711 155.148 108.124 155.148 108.646C155.148 109.114 155.318 109.495 155.658 109.788C156.004 110.087 156.458 110.236 157.021 110.236H158.77ZM158.77 111.695H157.267L154.946 115H152.793L155.403 111.379C154.735 111.18 154.214 110.846 153.839 110.377C153.458 109.896 153.268 109.325 153.268 108.663C153.268 107.673 153.599 106.891 154.261 106.316C154.923 105.742 155.813 105.455 156.933 105.455H160.633V115H158.77V111.695ZM170.6 117.505V115H162.76V105.455H164.649V113.488H168.965V105.455H170.854V113.488H172.349V117.505H170.6ZM173.693 115V105.455H175.565V112.205H175.636L180.197 105.455H182.069V115H180.197V108.224H180.127L175.565 115H173.693ZM184.205 115V105.455H186.077V112.205H186.147L190.709 105.455H192.581V115H190.709V108.224H190.639L186.077 115H184.205Z" fill="white"/>
											<g opacity="0.6">
											<path d="M124.437 0H94.625C90.9713 0 88 2.97131 88 6.625V26.5C88 30.1537 90.9713 33.125 94.625 33.125V41.4062C94.625 42.0522 95.0026 42.6418 95.5889 42.9101C95.8109 43.0128 96.0461 43.0625 96.2812 43.0625C96.6688 43.0625 97.0531 42.9267 97.3578 42.6617L108.488 33.125H124.437C128.091 33.125 131.062 30.1537 131.062 26.5V6.625C131.062 2.97131 128.091 0 124.437 0ZM127.75 26.5C127.75 28.3252 126.263 29.8125 124.437 29.8125H107.875C107.481 29.8125 107.097 29.9516 106.798 30.2133L97.9375 37.8055V31.4687C97.9375 30.5545 97.1955 29.8125 96.2812 29.8125H94.625C92.7998 29.8125 91.3125 28.3252 91.3125 26.5V6.625C91.3125 4.79981 92.7998 3.3125 94.625 3.3125H124.437C126.263 3.3125 127.75 4.79981 127.75 6.625V26.5Z" fill="white"/>
											<path d="M136.571 10.3251C135.703 10.027 134.766 10.4841 134.464 11.352C134.166 12.2166 134.623 13.1573 135.491 13.4587C136.803 13.9092 137.688 15.158 137.688 16.5625V36.4375C137.688 38.2627 136.2 39.75 134.375 39.75H132.719C131.805 39.75 131.063 40.492 131.063 41.4063V47.7431L122.202 40.1509C121.903 39.8892 121.519 39.75 121.125 39.75H106.451C105.536 39.75 104.794 40.492 104.794 41.4063C104.794 42.3205 105.533 43.0625 106.451 43.0625H120.512L131.642 52.5992C131.947 52.8642 132.331 53 132.719 53C132.954 53 133.189 52.9503 133.411 52.8477C133.997 52.5793 134.375 51.9897 134.375 51.3438V43.0625C138.029 43.0625 141 40.0912 141 36.4375V16.5625C141 13.7469 139.221 11.2394 136.571 10.3251Z" fill="white"/>
											<path d="M119.469 9.9375H99.5937C98.6795 9.9375 97.9375 10.6795 97.9375 11.5937C97.9375 12.508 98.6795 13.25 99.5937 13.25H119.469C120.383 13.25 121.125 12.508 121.125 11.5937C121.125 10.6795 120.383 9.9375 119.469 9.9375Z" fill="white"/>
											<path d="M112.844 16.5625H99.5937C98.6795 16.5625 97.9375 17.3045 97.9375 18.2187C97.9375 19.133 98.6795 19.875 99.5937 19.875H112.844C113.758 19.875 114.5 19.133 114.5 18.2187C114.5 17.3045 113.758 16.5625 112.844 16.5625Z" fill="white"/>
											</g>
										</svg>

									form._form(action="#")
										._area
											._scroll
												// start card
												.chat-card._card
													._header
														span._user Максим Ткаченко
														span._time 15:12:13
													._body
														._message интресно будет ознакомится с деталями и сравнить с традицонным способом сборка яблок
												// end card
												// start card
												.chat-card._card
													._header
														span._user Максим Ткаченко
														span._time 15:12:13
													._body
														._message интресно будет ознакомится с деталями и сравнить с традицонным способом сборка яблок
												// end card

										._actions
											<div class="chat__field">
												<label class="chat__options">
														<input id="autoScroll" type="checkbox" checked="checked" class="chat__checkbox js-chat-checkbox" />
														<span class="chat__checkbox-title">Автоматическая прокрутка комментариев</span>
												</label>
											</div>
											._field
												input._input.-user-name(type="text" placeholder="Введите Имя и Фамилию")
											._field.is-flex
												textarea._input.-user-message(type="text" placeholder="Напишите сообщение")
												._send
											
											._over-message Чат завершен

							// end chat

		._partner
			._container.container
				h2._partner-title.is-mobile Генеральный партнер онлайн-эфира
				._partner-body
					._partner-main
						h2._partner-title Генеральный партнер онлайн-эфира
						._partner-text
							p А ещё базовые сценарии поведения пользователей набирают популярность среди определенных слоев населения, а значит, должны быть заблокированы в рамках своих собственных рациональных ограничений. Являясь всего лишь частью общей картины, диаграммы связей неоднозначны и будут описаны максимально подробно.
						a._partner-more(href="#") 
							span www.mts.ru
					
					._partner-aside
						._partner-logo
							a._partner-logo-wrap(href="#")
								img._partner-img(src="__static__img/general/relay/9.svg", alt="")


		._moders
			._label.main-relay__moders-label модератор 

			._moders-body
				._container.container
					._moders-inner
						._moders-aside
							h2._moders-title Модератор

							// start moder-card
							.moder-card._moders-card
								._header
									a._photo(href="#" target="_blank")
										._photo-inner
											img._img(src="__static__img/general/relay/member-1.png", alt="")
									a._social(href="#" target="_blank")
										img._social-icon(src="__static__img/general/relay/3.svg", alt="")
								
								._body
									a._name(href="#" target="_blank") Максим Ткаченко
									._position Исполнительный директор, Национальный Центр ГЧП


							// end moder-card

						._moders-main
							._label.main-relay__moders-label.is-right <span>&</span> Спикеры 
							h2._moders-title Спикеры

							._moders-slider.js-moders-slider
								._moders-grid.js-moders-wrapper
									._moders-column.js-moders-slide
										// start moder-card
										.moder-card._moders-card
											._header
												._photo
													._photo-inner
														img._img(src="__static__img/general/relay/member-2.png", alt="")
												._social
													img._social-icon(src="__static__img/general/relay/3.svg", alt="")
											
											._body
												._name Александр Шведов
												._position Директор по работе с государственными заказчиками ПАО &laquo;Вымпелком&raquo;
										// end moder-card
									._moders-column.js-moders-slide
										// start moder-card
										.moder-card._moders-card
											._header
												._photo
													._photo-inner
														img._img(src="__static__img/general/relay/member-7.png", alt="")
												._social
													img._social-icon(src="__static__img/general/relay/3.svg", alt="")
											
											._body
												._name Елена Семенова
												._position Координатор проекта &laquo;Умный город&raquo; Минстроя России, Заместитель директора ФАУ &laquo;Проектная дирекция Минстроя России&raquo;
										// end moder-card
									._moders-column.js-moders-slide
										// start moder-card
										.moder-card._moders-card
											._header
												._photo
													._photo-inner
														img._img(src="__static__img/general/relay/member-3.png", alt="")
												._social
													img._social-icon(src="__static__img/general/relay/3.svg", alt="")
											
											._body
												._name Надежда Кострюкова
												._position Руководитель Центра развития инвестиций и ГЧП в цифровой экономике ФГБУ НИИ &laquo;ВОСХОД&raquo;
										// end moder-card
									._moders-column.js-moders-slide
										// start moder-card
										.moder-card._moders-card
											._header
												._photo
													._photo-inner
														img._img(src="__static__img/general/relay/member-12.png", alt="")
												._social
													img._social-icon(src="__static__img/general/relay/3.svg", alt="")
											
											._body
												._name Алексей Сидорюк
												._position Директор по развитию АНО &laquo;Цифровая экономика&raquo;
										// end moder-card
									._moders-column.js-moders-slide
										// start moder-card
										.moder-card._moders-card
											._header
												._photo
													._photo-inner
														img._img(src="__static__img/general/relay/member-5.png", alt="")
												._social
													img._social-icon(src="__static__img/general/relay/3.svg", alt="")
											
											._body
												._name Анна Багинская
												._position Управляющий директор, руководитель Центра ГЧП ПАО Сбербанк
										// end moder-card
									._moders-column.js-moders-slide
										// start moder-card
										.moder-card._moders-card
											._header
												._photo
													._photo-inner
														img._img(src="__static__img/general/relay/member-6.png", alt="")
												._social
													img._social-icon(src="__static__img/general/relay/3.svg", alt="")
											
											._body
												._name Георгий Пчелинцев
												._position Партнер российской практики в области ИС, ИТ и телекоммуникаций Dentons
										// end moder-card
								
								._moders-pagination.js-moders-pagination
		
		._banner
			._container.container
				a._banner-wrap(href="https://moskva.beeline.ru/business/b2g/" target="_blank")
					picture
						source(media="(max-width: 479px)" srcset="__static__img/general/relay/beeline-banner-mob.jpg")
						source(media="(min-width: 480px)" srcset="__static__img/general/relay/beeline-banner.jpg")
						img(src="__static__img/general/relay/beeline-banner.jpg" alt="Chris standing up holding his daughter Elva")

		._recomends
			._label.main-relay__moders-label рекомендации
			._container.container
				._recomends-body
					._recomends-aside
						h2._recomends-title Рекомендации <br> по теме
					._recomends-main
						._recomends-grid
							._recomends-column
								// start card
								.card-recomendation._recomends-card
									._body
										._aside
											._icon
												img._img(src="__static__img/general/relay/segment.png", alt="")
										._main
											._header
												.badge.is-danger.is-small._badge Аналитический материал
												._label ВЭБ.РФ
													span._label-qn +2
													._label-dropdown
														span dropdown here
											
											._content
												a._title(href="#" target="_blank") Возможные подходы и практика применения механизмов государственно-частного партнерства в сфере информационных технологий

											._footer
												._meta Язык: Русский
												._meta Формат: PDF
												._meta Год публикации: 2020
								// end card
							
							._recomends-column
								// start card
								.card-recomendation._recomends-card
									._body
										._aside
											._icon
												img._img(src="__static__img/general/relay/book.png", alt="")
										._main
											._header
												.badge.is-danger.is-small._badge Программа повышения квалификации
											
											._content
												a._title(href="#" target="_blank") Дорожная карта реализации проекта ГЧП в сфере IT

											._footer
												._meta Гибкие сроки обучения
												._meta Для новичков
												._meta 2 акад. часа
								// end card

							._recomends-column
								// start card
								.card-recomendation._recomends-card
									._body
										._aside
											._icon
												img._img(src="__static__img/general/relay/briefcase.png", alt="")
										._main
											._header
												.badge.is-danger.is-small._badge Проект
											
											._content
												a._title(href="#" target="_blank") База проектов ГЧП в сфере информационных технологий

											._footer
												._meta Сфера: Информационные системы (IT-инфраструктура)
								// end card
		
		._partners
			._label.main-relay__moders-label партнеры
			._container.container
				._partners-body
					._partners-aside
						h2._partners-title Информационные партнеры
					._partners-main
						._partners-grid
							._partners-column
								a._partners-partner.event-partner(href="https://www.interfax.ru/" target="_blank")
									img.event-partner__logo(src="__static__img/general/ptnr.svg" alt="Interfax")
							._partners-column
								a._partners-partner.event-partner(href="https://iz.ru/" target="_blank")
									img.event-partner__logo(src="__static__img/general/relay/iz-logo.svg" alt="Izvestiya")
							._partners-column
								a._partners-partner.event-partner(href="https://www.finam.ru/" target="_blank")
									img.event-partner__logo(src="__static__img/general/relay/finam-logo.svg" alt="Finam")
							._partners-column
								a._partners-partner.event-partner(href="https://fedpress.ru" target="_blank")
									img.event-partner__logo(src="__static__img/general/relay/federal-press-logo.svg" alt="Federal Press")
							._partners-column
								a._partners-partner.event-partner(href="https://rb.ru" target="_blank")
									img.event-partner__logo(src="__static__img/general/relay/rusbase.png" alt="Rusbase")

		//- ._register#order
		//- 	._label.main-relay__moders-label Регистрация • Регистрация
		//- 	._container.container
		//- 		form.form-box-inline.is-dark(action='#' method='post')
		//- 			._header
		//- 				._title Зарегистрироваться на трансляцию
		//- 			._body
		//- 				._grid
		//- 					._column
		//- 						+input-text({
		//- 							placeholder: 'Введите ФИО*',
		//- 							theme: 'is-round',
		//- 							size: 'is-large'
		//- 						})

		//- 					._column
		//- 						+input-text({
		//- 							type: 'email',
		//- 							placeholder: 'Адрес электронной почты*',
		//- 							theme: 'is-round',
		//- 							size: 'is-large'
		//- 						})

		//- 					._column
		//- 						+input-text({
		//- 							type: 'tel',
		//- 							placeholder: '+7 ( _ _ _ ) - _ _ _ - _ _ - _ _*',
		//- 							theme: 'is-round',
		//- 							size: 'is-large'
		//- 						})
					
		//- 				._footer
		//- 					.form-agree._agree Нажимая на кнопку “Отправить” вы подтверждаете что ознакомлен(-ы) с политикой конфиденциальности  и даёте согласие на обработку персональных данных согласно ФЗ №54
		//- 					+button({
		//- 						type: 'is-primary is-round',
		//- 						title: 'Зарегистрироваться'
		//- 					}, {
		//- 						class: 'form-box-inline__button'
		//- 					})
		
		._social
			._container.container
				a._social-reg(href="#" data-remodal-target="reg-modal") Зарегистрироваться на трансляцию
					<svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.499 17L20.0007 9.5L12.499 2" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M20.004 9.50024H2" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>

				// start articles-widget
				.articles-widget.-subs._social-wiget
					._body
						._grid
							._column
								a.subscribe-button.is-dzen._subscribe-button(href='#' title='')
									._icon
										img._img(src='__static__img/general/relay/15.svg' alt='')

									._main
										p.card-heading._heading Мы на Яндекс Дзен
										p._caption Подписаться

							._column
								a.subscribe-button.is-telegram._subscribe-button(href='#' title='')
									._icon
										img._img(src='__static__img/general/relay/16.svg' alt='')

									._main
										p.card-heading._heading Наш телеграм канал
										p._caption Подписаться
				// end articles-widget

				.socials-small.is-inline._social-socials
					._body
						._aside
							span._title Поделиться:
						._main
							ul._list
								li._item
									a._link.is-facebook(href="#")
										img._icon(src="__static__img/general/relay/3.svg")
								li._item
									a._link.is-telegram(href="#")
										img._icon(src="__static__img/general/relay/4.svg")
								li._item
									a._link.is-whatsapp(href="#")
										img._icon(src="__static__img/general/relay/5.svg")
								li._item
									a._link.is-vk(href="#")
										img._icon(src="__static__img/general/relay/6.svg")
								li._item
									a._link.is-twitter(href="#")
										img._icon(src="__static__img/general/relay/7.svg")

	.modal.remodal.is-relay(data-remodal-id="reg-modal")
		._close(data-remodal-action="close")
		form.intro-box._box(action="#")
			._inner
				._logo-company
					img(src="__static__img/general/relay/beeline.svg" width="100" alt="")

				._header
					._heading Зарегистрироваться на трансляцию «Длинное название конференции 2020»
				._body
					._fields
						._group
							input.input-text.is-round.is-large(type="text" placeholder="Ваша фамилия*")
						._group
							.ui-select-custom.js-select-custom(data-placeholder='Тип организации')
								._header.js-select-custom-header
									<span class="ui-select-custom__selected-actions">
										.ui-select-custom__selected-name.js-selected-element-name
										<button class="ui-select-custom__reset-btn"></button>
									</span>

									+ui-input({
										type: 'text',
										placeholder: 'Организация'
									}, {
										class: 'js-select-custom-input'
									})

								._body
									._dropdown
										._inner
											._scrollbar.js-scrollbar
												._content.js-select-custom-list
													._item
														._category.js-selected-element 1
													._item
														._category.js-selected-element 2
													._item
														._category.js-selected-element 3
													._item
														._category.js-selected-element 4
													._item
														._category.js-selected-element 5
													._item
														._category.js-selected-element 6
													._item
														._category.js-selected-element 7
													._item
														._category.js-selected-element 8
													._item
														._category.js-selected-element 9
													._item
														._category.js-selected-element 10

						._group
							input.input-text.is-round.is-large(type="text" placeholder="Ваше отчество*")
						._group
							input.input-text.is-round.is-large(type="text" placeholder="Организация*")
						._group
							input.input-text.is-round.is-large(type="text" placeholder="Должность*")
						._group
							input.input-text.is-round.is-large(type="email" placeholder="Адрес электронной почты*")
						
						button.button.is-primary.is-round.is-large.intro-box__button Зарегистрироваться
				._helpers
					._label Нажимая на кнопку “Зарегистрироваться” вы подтверждаете что ознакомлен(-ы) с <a href="#"> политикой конфиденциальности </a>  и даёте согласие на обработку персональных данных согласно ФЗ №54
			

				
				



				
