extends ../template

include ../../components/menu/menu
include ../../components/badge/badge
include ../../components/button/button
include ../../components/slider-nav/slider-nav
include ../../components/section-default/section-default
include ../../components/section-feedback/section-feedback

block append settings
	-
		page.title = 'Трансляции без чата';


block page-body

	.main-relay.page-body__ralay(style="background: #1A295B;")
		._start(style="background: url('__static__img/general/relay/spectrum-bg.jpg') no-repeat center; background-size: cover;")
			._start-wrap
				._container.container
					// start breadcrumbs
					.breadcrumbs._start-breadcrumbs
						ul._list
							li._item
								a._link(href="/") Главная
							li._item
								a._link(href="#") Конференции
							li._item
								span._link Создаем инфраструктуру для людей на принципах ГЧП
					// end breadcrumbs

					._start-body
						._start-main
							h1._start-title Создаем инфраструктуру для людей на принципах ГЧП
								._start-subtitle Топ-5 проблемных вопросов и возможные пути их решения
							._start-actions
								._start-date 30 ноября с 11:00-13:00
									a._start-add(href="#") Добавить в гугл-календарь
								a._start-button(href="#" data-remodal-target="reg-modal") Зарегистрироваться
								a._start-add.is-mobile(href="#") Добавить в гугл-календарь
						._start-aside
							._start-partner
								a._start-partner-link(href="#" target="_blank")
									//- img._start-logo(src="__static__img/general/relay/spectrum-hero-logo-rounded.svg")
									img._start-logo(src="__static__img/general/relay/spectrum-logo-white-bg.svg")
								span._start-label Генеральный партнёр

							.socials-small._start-socials
								._body
									._aside
										span._title Поделиться:
									._main
										ul._list
											li._item
												a._link.is-facebook(href="#")
													img._icon(src="__static__img/general/relay/3.svg")
											li._item
												a._link.is-telegram(href="#")
													img._icon(src="__static__img/general/relay/4.svg")
											li._item
												a._link.is-whatsapp(href="#")
													img._icon(src="__static__img/general/relay/5.svg")
											li._item
												a._link.is-vk(href="#")
													img._icon(src="__static__img/general/relay/6.svg")
											li._item
												a._link.is-twitter(href="#")
													img._icon(src="__static__img/general/relay/7.svg")
		
		._promo
			._container.container
				h2._promo-title О мероприятии
				._promo-text
					p По данным платформы «РОСИНФРА», на сегодняшний день в стране реализуются 536 проектов ГЧП по созданию различных объектов инфраструктуры, оказывающих непосредственное влияние на качество жизни населения – это проекты в сфере здравоохранения, образования, социального обслуживания, культуры, туризма и спорта. При этом многие запущенные проекты ГЧП на стадии подготовки и запуска сталкивались с одним и тем же набором проблемных вопросов. Как правило, большинство из них связаны с несовершенством отраслевого или ГЧП-законодательства, либо с рисками использования в проекте в том или ином виде бюджетных средств. На наш взгляд, обмен практиками возможных подходов к решению или снижению вероятности возникновения наиболее частных проблем будет способствовать запуску большего числа проектов ГЧП в социальной сфере.

				<div class="main-relay__partners main-relay__partners--types">
					<div class="main-relay__partners-type">
						<div class="main-relay__partners-header">
							<div class="main-relay__partners-subtitle">Организаторы
								<div class="main-relay__label main-relay__moders-label">Организатор <br> & партнеры</div>
							</div>
						</div>
						<div class="main-relay__container">
							<div class="main-relay__partners-main">
								<div class="main-relay__partners-grid main-relay__partners-grid--full">
									<div class="main-relay__partners-column"><a class="main-relay__partners-partner event-partner" href="https://вэб.рф/" target="_blank"><img class="event-partner__logo" src="/img/general/relay/webrf.svg" alt="Вэб РФ"></a></div>
									<div class="main-relay__partners-column"><a class="main-relay__partners-partner event-partner" href="https://rosinfra.ru" target="_blank"><img class="event-partner__logo" src="/img/general/relay/rosinfra.svg" alt="Rosinfra"></a></div>
									<div class="main-relay__partners-column"><a class="main-relay__partners-partner event-partner" href="https://aecom.com/" target="_blank"><img class="event-partner__logo" src="/img/general/relay/aecom.svg" alt="Aecom"></a></div>
								</div>
							</div>
						</div>
					</div>
					<div class="main-relay__partners-type">
						<div class="main-relay__partners-header">
							<div class="main-relay__partners-subtitle">Партнер
								<div class="main-relay__label main-relay__moders-label">партнер</div>
							</div>
						</div>
						<div class="main-relay__container">
							<div class="main-relay__partners-main">
								<div class="main-relay__partners-grid">
									<div class="main-relay__partners-column main-relay__partners-column--partner-primary"><a class="main-relay__partners-partner event-partner" href="https://www.vtbinfra.ru/" target="_blank"><img class="event-partner__logo" src="/img/general/relay/vtb-logo.svg" alt="ВТБ"></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
		._video
			._video-header
				._label.main-relay__video-label Трансляция • Трансляция
				._container.container
					h2._video-title Трансляция
			
			._video-body
				._container.container
					._video-wrapper
						._video-main
							// start card-video
							.card-video
								._body
									iframe(width='100%' height='540' src='https://www.youtube.com/embed/2jjB2ddPGhQ' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

									._photo
										//- a.timer.js-timer._timer(data-timer="11/22/2020 12:00:00" href="https://www.youtube.com/watch?v=2jjB2ddPGhQ&list=PLtW2B4_VWGzClVV-xvhouKb-tvhViRL8p" target="_blank")
										.timer.js-timer._timer(data-timer="11/22/2020 12:00:00")
											._inner
												._grid
													._column
														._value.js-timer-days
														._label Дней
													._column
														._value.js-timer-hours
														._label Часов
													._column
														._value.js-timer-minutes
														._label Минут
													._column
														._value.js-timer-seconds
														._label Секунд
												._text До начала трансляции
							// end card-video
						
						._video-aside
							// start chat
							.chat._chat
								._header
									span._title Вопросы спикерам
										span._value (16)
								
								._content
									form._form(action="#")
										._area
											._scroll
												// start card
												.chat-card._card
													._header
														span._user Максим Ткаченко
														span._time 15:12:13
													._body
														._message интресно будет ознакомится с деталями и сравнить с традицонным способом сборка яблок
												// end card
												// start card
												.chat-card._card
													._header
														span._user Максим Ткаченко
														span._time 15:12:13
													._body
														._message интресно будет ознакомится с деталями и сравнить с традицонным способом сборка яблок
												// end card
												// start card
												.chat-card._card
													._header
														span._user Максим Ткаченко
														span._time 15:12:13
													._body
														._message интресно будет ознакомится с деталями и сравнить с традицонным способом сборка яблок
												// end card
												// start card
												.chat-card._card
													._header
														span._user Максим Ткаченко
														span._time 15:12:13
													._body
														._message интресно будет ознакомится с деталями и сравнить с традицонным способом сборка яблок
												// end card
												// start card
												.chat-card._card
													._header
														span._user Максим Ткаченко
														span._time 15:12:13
													._body
														._message интресно будет ознакомится с деталями и сравнить с традицонным способом сборка яблок
												// end card
												// start card
												.chat-card._card
													._header
														span._user Максим Ткаченко
														span._time 15:12:13
													._body
														._message интресно будет ознакомится с деталями и сравнить с традицонным способом сборка яблок
												// end card
												// start card
												.chat-card._card
													._header
														span._user Максим Ткаченко
														span._time 15:12:13
													._body
														._message интресно будет ознакомится с деталями и сравнить с традицонным способом сборка яблок
												// end card
												// start card
												.chat-card._card
													._header
														span._user Максим Ткаченко
														span._time 15:12:13
													._body
														._message интресно будет ознакомится с деталями и сравнить с традицонным способом сборка яблок
												// end card
												// start card
												.chat-card._card
													._header
														span._user Максим Ткаченко
														span._time 15:12:13
													._body
														._message интресно будет ознакомится с деталями и сравнить с традицонным способом сборка яблок
												// end card

										._actions
											._field
												input._input.-user-name(type="text" placeholder="Введите Имя и Фамилию")
											._field
												input._input.-user-message(type="text" placeholder="Напишите сообщение")
												._send

							// end chat
		
		._partner
			._container.container
				h2._partner-title.is-mobile Генеральный партнер
				._partner-body
					._partner-main
						h2._partner-title Генеральный партнер
						._partner-text
							p Группа компаний «Спектрум» – это современная, динамично растущая, многопрофильная инжиниринговая Группа, которая предлагает заказчикам технологически эффективные и уникальные решения, позволяющие успешно реализовать самые сложные инвестиционные проекты в ситуации стремительно изменяющегося мира. В команде холдинга более 500 молодых, амбициозных профессионалов: консультантов, архитекторов, инженеров, менеджеров и управляющих качеством строительства, специалистов по ценообразованию и работе с государственными инстанциями.
						a._partner-more(href="#") 
							span www.spectrum-group.ru
					
					._partner-aside
						._partner-logo
							a._partner-logo-wrap(href="http://spectrum-group.ru" target="_blank")
								img._partner-img(src="__static__img/general/relay/spectrum.svg", alt="")
								//- img._partner-img(src="__static__img/general/relay/spectrum-logo.svg", alt="")

		._moders
			._label.main-relay__moders-label модератор 

			._moders-body
				._container.container
					._moders-inner
						._moders-aside
							h2._moders-title Модератор

							// start moder-card
							.moder-card._moders-card
								._header
									._photo(href="#" target="_blank")
										._photo-inner
											img._img(src="__static__img/general/relay/member-1.png", alt="")
								
								._body
									._name(href="#" target="_blank") Максим Ткаченко
									._position Исполнительный директор, Национальный Центр ГЧП


							// end moder-card

						._moders-main
							._label.main-relay__moders-label.is-right <span>&</span> Спикеры 
							h2._moders-title Спикеры

							._moders-slider.js-moders-slider
								._moders-grid.js-moders-wrapper

									._moders-column.js-moders-slide

										// start moder-card
										.moder-card._moders-card
											._header
												._photo
													._photo-inner
														img._img(src="__static__img/general/relay/spectrum-member-1.png", alt="")
											._body
												._name Михаил Алашкевич  
												._position Старший вице-президент ВЭБ.РФ
										// end moder-card

									._moders-column.js-moders-slide

										// start moder-card
										.moder-card._moders-card
											._header
												._photo
													._photo-inner
														img._img(src="__static__img/general/relay/spectrum-member-2.png", alt="")
											._body
												._name Анна Багинская
												._position Управляющий директор, руководитель Центра ГЧП ПАО Сбербанк
										// end moder-card

									._moders-column.js-moders-slide

										// start moder-card
										.moder-card._moders-card
											._header
												._photo
													._photo-inner
														img._img(src="__static__img/general/relay/spectrum-member-3.png", alt="")
											._body
												._name Артем Барашев
												._position Первый заместитель директора Городского агентства управления инвестиций города Москвы
										// end moder-card

									._moders-column.js-moders-slide

										// start moder-card
										.moder-card._moders-card
											._header
												._photo
													._photo-inner
														img._img(src="__static__img/general/relay/spectrum-member-4.png", alt="")
											._body
												._name Роман Генкель
												._position Генеральный директор Фонда развития ХМАО – Югры
										// end moder-card

									._moders-column.js-moders-slide

										// start moder-card
										.moder-card._moders-card
											._header
												._photo
													._photo-inner
														img._img(src="__static__img/general/relay/spectrum-member-5.png", alt="")
											._body
												._name Денис Качкин 
												._position Партнер АБ &laquo;Качкин и Партнеры&raquo;
										// end moder-card

									._moders-column.js-moders-slide

										// start moder-card
										.moder-card._moders-card
											._header
												._photo
													._photo-inner
														img._img(src="__static__img/general/relay/spectrum-member-6.png", alt="")
											._body
												._name Алексей Маврин
												._position Основатель и генеральный директор пансионатов &laquo;Опека&raquo;
										// end moder-card

									._moders-column.js-moders-slide
										
										// start moder-card
										.moder-card._moders-card
											._header
												._photo
													._photo-inner
														img._img(src="__static__img/general/relay/spectrum-member-7.png", alt="")
											._body
												._name Андрей Новиков 
												._position Управляющий директор, ГК &laquo;Спектрум&raquo;
										// end moder-card

									._moders-column.js-moders-slide
										
										// start moder-card
										.moder-card._moders-card
											._header
												._photo
													._photo-inner
														img._img(src="__static__img/general/relay/spectrum-member-8.png", alt="")
											._body
												._name Лев Решетников
												._position Министр экономического развития Новосибирской области
										// end moder-card

									._moders-column.js-moders-slide
										
										// start moder-card
										.moder-card._moders-card
											._header
												._photo
													._photo-inner
														img._img(src="__static__img/general/relay/spectrum-member-9.png", alt="")
											._body
												._name Отто Сопроненко
												._position Генеральный директор ООО «Первая концессионная компания &laquo;Просвещение&raquo;
										// end moder-card

									._moders-column.js-moders-slide
										
										// start moder-card
										.moder-card._moders-card
											._header
												._photo
													._photo-inner
														img._img(src="__static__img/general/relay/spectrum-member-10.png", alt="")
											._body
												._name Дамир Сухов
												._position Директор, Отдел инвестиций и рынков капитала КПМГ в России и СНГ
										// end moder-card

									._moders-column.js-moders-slide
										
										// start moder-card
										.moder-card._moders-card
											._header
												._photo
													._photo-inner
														img._img(src="__static__img/general/relay/spectrum-member-11.png", alt="")
											._body
												._name Алексей Чичканов 
												._position Первый вице-президент Газпромбанка
										// end moder-card

									._moders-column.js-moders-slide
										
										// start moder-card
										.moder-card._moders-card
											._header
												._photo
													._photo-inner
														img._img(src="__static__img/general/relay/spectrum-member-12.png", alt="")
											._body
												._name Евгений Шулятьев 
												._position Директор группы компаний &laquo;Национальный оператор детского отдыха&raquo;
										// end moder-card
								
								._moders-pagination.js-moders-pagination
		
		._banner
			._container.container
				a._banner-wrap(href="https://moskva.beeline.ru/business/b2g/" target="_blank")
					picture
						source(media="(max-width: 479px)" srcset="__static__img/general/relay/spectrum-banner-mob.gif")
						source(media="(min-width: 480px)" srcset="__static__img/general/relay/spectrum-banner.gif")
						img(src="__static__img/general/relay/spectrum-banner.gif" alt="Chris standing up holding his daughter Elva")

		._recomends
			._label.main-relay__moders-label рекомендации
			._container.container
				._recomends-body
					._recomends-aside
						h2._recomends-title Рекомендации <br> по теме
					._recomends-main
						._recomends-grid
							._recomends-column
								// start card
								.card-recomendation._recomends-card
									._body
										._aside
											._icon
												img._img(src="__static__img/general/relay/segment.png", alt="")
										._main
											._header
												.badge.is-danger.is-small._badge Аналитический материал
											
											._content
												a._title(href="https://rosinfra.ru/digest/documents/one?slug=infrastruktura-dla-detej-tekusee-sostoanie-i-perspektivy-razvitia-analiticeskij-obzor" target="_blank") Инфраструктура для детей: текущее состояние и перспективы развития.

											._footer
												._meta Язык: Русский
												._meta Формат: PDF
												._meta Год публикации: 2020
								// end card
							
							._recomends-column
								// start card
								.card-recomendation._recomends-card
									._body
										._aside
											._icon
												img._img(src="__static__img/general/relay/book.png", alt="")
										._main
											._header
												.badge.is-danger.is-small._badge Видеолекция
											
											._content
												a._title(href="https://rosinfra.ru/academy/program/doroznaa-karta-realizacii-proekta-gcp-v-sfere-zdravoohranenia2" target="_blank") Дорожная карта реализации проекта ГЧП в сфере здравоохранения

											._footer
												._meta Гибкие сроки обучения
												._meta Для новичков
												._meta 2,3 акад. часа
								// end card

							._recomends-column
								// start card
								.card-recomendation._recomends-card
									._body
										._aside
											._icon
												img._img(src="__static__img/general/relay/briefcase.png", alt="")
										._main
											._header
												.badge.is-danger.is-small._badge Подборка проектов
											
											._content
												a._title(href="https://rosinfra.ru/project?ProjectSearch%5Bstage%5D%5B%5D=44&ProjectSearch%5BsphereId%5D%5B%5D=20&ProjectSearch%5Binvestment_from%5D=494943000&ProjectSearch%5BwithPreferences%5D=&ProjectSearch%5Binitiative%5D=&ProjectSearch%5Bform_implementation%5D=&ProjectSearch%5BregionId%5D=&ProjectSearch%5BsphereId%5D=&ProjectSearch%5BsphereId%5D%5B%5D=20&ProjectSearch%5BsectorId%5D=&ProjectSearch%5Bstage%5D=&ProjectSearch%5Bstage%5D%5B%5D=&ProjectSearch%5Binvestment_to%5D=0&ProjectSearch%5Binvestment_from%5D=494943000" target="_blank") База проектов ГЧП в социальной сфере

											._footer
												._meta Сфера: Социальная инфраструктура
								// end card


		._partners
			._label.main-relay__moders-label партнеры
			._container.container
				._partners-body
					._partners-aside
						h2._partners-title Информационные партнеры
					._partners-main
						._partners-grid
							._partners-column
								a._partners-partner.event-partner(href="https://www.interfax.ru/" target="_blank")
									img.event-partner__logo(src="__static__img/general/relay/interfax-logo.png" alt="Interfax")
							._partners-column
								a._partners-partner.event-partner(href="https://iz.ru/" target="_blank")
									img.event-partner__logo(src="__static__img/general/relay/iz-logo.svg" alt="Izvestiya")
							._partners-column
								a._partners-partner.event-partner(href="https://fedpress.ru" target="_blank")
									img.event-partner__logo(src="__static__img/general/relay/federal-press-logo.svg" alt="Federal Press")
							._partners-column
								a._partners-partner.event-partner(href="https://www.finam.ru/" target="_blank")
									img.event-partner__logo(src="__static__img/general/relay/finam-logo.svg" alt="Finam")

		//- ._register#order
		//- 	._label.main-relay__moders-label Регистрация • Регистрация
		//- 	._container.container
		//- 		form.form-box-inline.is-dark(action='#' method='post')
		//- 			._header
		//- 				._title Зарегистрироваться на трансляцию
		//- 			._body
		//- 				._grid
		//- 					._column
		//- 						+input-text({
		//- 							placeholder: 'Введите ФИО*',
		//- 							theme: 'is-round',
		//- 							size: 'is-large'
		//- 						})

		//- 					._column
		//- 						+input-text({
		//- 							type: 'email',
		//- 							placeholder: 'Адрес электронной почты*',
		//- 							theme: 'is-round',
		//- 							size: 'is-large'
		//- 						})

		//- 					._column
		//- 						+input-text({
		//- 							type: 'tel',
		//- 							placeholder: '+7 ( _ _ _ ) - _ _ _ - _ _ - _ _*',
		//- 							theme: 'is-round',
		//- 							size: 'is-large'
		//- 						})
					
		//- 				._footer
		//- 					.form-agree._agree Нажимая на кнопку “Отправить” вы подтверждаете что ознакомлен(-ы) с политикой конфиденциальности  и даёте согласие на обработку персональных данных согласно ФЗ №54
		//- 					+button({
		//- 						type: 'is-primary is-round',
		//- 						title: 'Зарегистрироваться'
		//- 					}, {
		//- 						class: 'form-box-inline__button'
		//- 					})
		
		._social
			._container.container
				a._social-reg(href="#" data-remodal-target="reg-modal") Зарегистрироваться на трансляцию
					<svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.499 17L20.0007 9.5L12.499 2" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M20.004 9.50024H2" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>

				// start articles-widget
				.articles-widget.-subs._social-wiget
					._body
						._grid
							._column
								a.subscribe-button.is-dzen._subscribe-button(href='#' title='')
									._icon
										img._img(src='__static__img/general/relay/15.svg' alt='')

									._main
										p.card-heading._heading Мы на Яндекс Дзен
										p._caption Подписаться

							._column
								a.subscribe-button.is-telegram._subscribe-button(href='#' title='')
									._icon
										img._img(src='__static__img/general/relay/16.svg' alt='')

									._main
										p.card-heading._heading Наш телеграм канал
										p._caption Подписаться
				// end articles-widget

				.socials-small.is-inline._social-socials
					._body
						._aside
							span._title Поделиться:
						._main
							ul._list
								li._item
									a._link.is-facebook(href="#")
										img._icon(src="__static__img/general/relay/3.svg")
								li._item
									a._link.is-telegram(href="#")
										img._icon(src="__static__img/general/relay/4.svg")
								li._item
									a._link.is-whatsapp(href="#")
										img._icon(src="__static__img/general/relay/5.svg")
								li._item
									a._link.is-vk(href="#")
										img._icon(src="__static__img/general/relay/6.svg")
								li._item
									a._link.is-twitter(href="#")
										img._icon(src="__static__img/general/relay/7.svg")

	.modal.remodal.is-relay(data-remodal-id="reg-modal")
		._close(data-remodal-action="close")
		form.intro-box._box(action="#")
			._inner
				._logo-company
					img(src="__static__img/general/relay/spectrum.svg" width="100" alt="")

				._header
					._heading Зарегистрироваться на трансляцию «Длинное название конференции 2020»
				._body
					._fields
						._group
							input.input-text.is-round.is-large(type="text" placeholder="Ваша фамилия*")
						._group
							input.input-text.is-round.is-large(type="text" placeholder="Ваше имя*")
						._group
							input.input-text.is-round.is-large(type="text" placeholder="Ваше отчество*")
						._group
							input.input-text.is-round.is-large(type="text" placeholder="Организация*")
						._group
							input.input-text.is-round.is-large(type="text" placeholder="Должность*")
						._group
							input.input-text.is-round.is-large(type="email" placeholder="Адрес электронной почты*")
						
						button.button.is-primary.is-round.is-large.intro-box__button Зарегистрироваться
				._helpers
					._label Нажимая на кнопку “Зарегистрироваться” вы подтверждаете что ознакомлен(-ы) с <a href="#"> политикой конфиденциальности </a>  и даёте согласие на обработку персональных данных согласно ФЗ №54
			

				
				



				
