.toggle {
  position: relative;

  &.is-big{
    .toggle{
      &__container{
        width: 40px;
        height: 20px;
      }

      &__input{
        &:checked {
          & ~ .toggle {
            &__container {
              .toggle {
                &__handle {
                  left: 22px;
                }
              }
            }
          }
        }
      }
    }
  }

  &--green{
    &:before{
      content: '';
      position: absolute;
      left: 7px;
      top: 7px;
      width: 8px;
      height: 6px;
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.39537 5.75209C3.22775 5.91708 3.00967 6 2.79074 6C2.57181 6 2.35288 5.91708 2.18611 5.75209L0.250788 3.83733C-0.0835961 3.50735 -0.0835961 2.97176 0.250788 2.64093C0.585173 2.3101 1.12566 2.3101 1.46005 2.64093L2.79074 3.95748L6.53995 0.248123C6.87434 -0.0827076 7.41483 -0.0827076 7.74921 0.248123C8.0836 0.578953 8.0836 1.1137 7.74921 1.44453L3.39537 5.75209Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    .toggle__handle{
      width: 16px;
      height: 16px;
    }

    .toggle{
      &__input{
        &:checked {
          & ~ .toggle {
            &__container {
              background-color: #17C671;

              .toggle {
                &__handle {
                  left: 16px;
                }
              }
            }
          }
        }
      }
    }
  }

  &__input {
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);

    &:checked {
      & ~ .toggle {
        &__container {
          background-color: $primary-color;

          .toggle {
            &__handle {
              left: 16px;
            }
          }
        }
      }
    }
  }

  &__container {
    display: inline-block;
    width: 32px;
    height: 18px;
    background-color: darken($border-color, 5%);
    cursor: pointer;
    vertical-align: middle;
    border-radius: 30px;
    transition: 0.25s;
  }

  &__handle {
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    width: 14px;
    height: 14px;
    background-color: $white-color;
    border-radius: 50%;
    transition: 0.25s;
  }
}
