.section-directions {
  padding: 25px 0 0;
}

.section-directions--secondary {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #F2F3F6;
}

.section-directions--business{
  border-bottom: 0;

  @include breakpoint($lg-breakpoint){
    padding-bottom: 10px !important;
  }

  .section-directions{
    &__header{
      margin-bottom: 0;
    }

    &__aside{
      display: none;
      margin-bottom: 0;

      @include breakpoint($md-breakpoint){
        display: block;
        margin-top: 0;
      }
    }

    &__badge{
      display: none;

      @include breakpoint($md-breakpoint){
        display: inline-flex;
      }
    }

    &__heading{
      font-size: 18px;
      text-align: left;

      @include breakpoint($md-breakpoint){
        font-size: 25px;
      }

      @include breakpoint($lg-breakpoint){
        font-size: 36px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .section-directions--secondary {
    padding-bottom: 20px !important;
  }
}

.section-directions--secondary:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 910px;
  height: 500px;
  background: url(../img/general/directions/government/map.svg) no-repeat;
  z-index: -1;
}

.section-directions--secondary .section-directions__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: 0;
  margin-bottom: 30px;
}

@media (min-width: 480px) {
  .section-directions--secondary .section-directions__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .section-directions--secondary .section-directions__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .section-directions--secondary .section-directions__header {
    margin-bottom: 40px;
  }
}

.section-directions--secondary .section-directions__badge {
  display: none;
}

@media (min-width: 768px) {
  .section-directions--secondary .section-directions__badge {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.section-directions--secondary .section-directions__heading {
  display: block;
  font-weight: 500;
  font-size: 18px;
  color: #23346B;
  text-align: left;
  line-height: 1.3;
}

@media (min-width: 480px) {
  .section-directions--secondary .section-directions__heading {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .section-directions--secondary .section-directions__heading {
    font-size: 28px;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .section-directions--secondary .section-directions__heading {
    font-size: 32px;
  }
}

@media (min-width: 1260px) {
  .section-directions--secondary .section-directions__heading {
    font-size: 42px;
  }
}

@media (min-width: 1024px) {
  .section-directions {
    padding: 30px 0;
  }
}

@media (min-width: 1260px) {
  .section-directions {
    padding: 35px 0;
  }
}

.section-directions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .section-directions__container {
    display: block;
  }
}

.section-directions__container > .badge {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .section-directions__container > .badge {
    margin: 0;
  }
}

.section-directions__header {
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .section-directions__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .section-directions__header {
    margin-bottom: 30px;
  }
}

@media (min-width: 1260px) {
  .section-directions__header {
    margin-bottom: 45px;
  }
}

.section-directions__title {
  display: block;
  color: #23346B;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
}

.section-directions__title.is-mobile {
  padding-left: 20px;
  text-align: left;
}

@media (min-width: 640px) {
  .section-directions__title.is-mobile {
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .section-directions__title.is-mobile {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  .section-directions__title.is-mobile {
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  .section-directions__title {
    font-size: 32px;
    padding-bottom: 40px;
    text-align: inherit;
  }
}

.section-directions__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .section-directions__logos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    max-width: 250px;
    padding-left: 20px;
  }
}

@media (min-width: 1024px) {
  .section-directions__logos {
    max-width: 370px;
    margin-top: 15px;
    padding-left: 0;
  }
}

.section-directions__logos-text {
  color: #23346B;
}

.section-directions__logos .logos__list {
  margin-bottom: 15px;
}

@media (min-width: 1024px) {
  .section-directions__logos .logos__list {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .section-directions__main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    min-width: 0;
  }
}

@media (min-width: 480px) {
  .section-directions__aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  .section-directions__aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 0;
    margin-left: 15px;
  }
}

@media (min-width: 1024px) {
  .section-directions__aside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 25px;
    margin-top: 15px;
  }
}

.section-directions__heading {
  margin: 0;
  font-size: 22px;
  line-height: 1.2;
}

@media (min-width: 480px) {
  .section-directions__heading {
    font-size: 26px;
  }
}

@media (min-width: 640px) {
  .section-directions__heading {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .section-directions__heading {
    font-size: 26px;
  }
}

@media (min-width: 1024px) {
  .section-directions__heading {
    font-size: 28px;
  }
}

@media (min-width: 1260px) {
  .section-directions__heading {
    font-size: 36px;
  }
}

.section-directions__caption {
  margin: 10px 0 0;
  color: #23346B;
}

@media (min-width: 640px) {
  .section-directions__caption {
    font-size: 16px;
  }
}

@media (min-width: 1260px) {
  .section-directions__caption {
    font-size: 19px;
  }
}

.section-directions__button {
  margin-top: 10px;
  width: 100%;
}

@media (min-width: 480px) {
  .section-directions__button {
    width: auto;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .section-directions__button {
    margin-top: 10px;
  }
}

@media (min-width: 1024px) {
  .section-directions__button {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .section-directions__levels {
    margin-top: 30px;
  }
}

@media (min-width: 1024px) {
  .section-directions__levels {
    margin-top: 0;
  }
}

.section-directions__label {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-size: 14px;
  color: #657198;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .section-directions__label {
    font-size: 16px;
  }
}

.section-directions__label strong {
  font-weight: bold;
}

.section-directions__label--target:before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-bottom: -4px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 6.3C8.46599 6.3 7.94397 6.45835 7.49996 6.75503C7.05595 7.05171 6.70988 7.47339 6.50552 7.96675C6.30117 8.46012 6.2477 9.00299 6.35188 9.52674C6.45606 10.0505 6.71321 10.5316 7.09081 10.9092C7.46841 11.2868 7.94951 11.5439 8.47326 11.6481C8.997 11.7523 9.53988 11.6988 10.0332 11.4945C10.5266 11.2901 10.9483 10.9441 11.245 10.5C11.5416 10.056 11.7 9.53401 11.7 9C11.7 8.28392 11.4155 7.59716 10.9092 7.09081C10.4028 6.58446 9.71608 6.3 9 6.3ZM9 9.9C8.822 9.9 8.64799 9.84722 8.49999 9.74832C8.35198 9.64943 8.23663 9.50887 8.16851 9.34441C8.10039 9.17996 8.08257 8.999 8.11729 8.82442C8.15202 8.64984 8.23774 8.48947 8.3636 8.3636C8.48947 8.23774 8.64984 8.15202 8.82442 8.11729C8.999 8.08257 9.17996 8.10039 9.34441 8.16851C9.50887 8.23663 9.64943 8.35198 9.74832 8.49999C9.84722 8.64799 9.9 8.822 9.9 9C9.9 9.23869 9.80518 9.46761 9.6364 9.6364C9.46761 9.80518 9.23869 9.9 9 9.9ZM17.1 8.1H16.137C15.9361 6.51598 15.2144 5.04367 14.0854 3.91463C12.9563 2.78559 11.484 2.06387 9.9 1.863V0.9C9.9 0.661305 9.80518 0.432387 9.6364 0.263604C9.46761 0.0948211 9.23869 0 9 0C8.7613 0 8.53239 0.0948211 8.3636 0.263604C8.19482 0.432387 8.1 0.661305 8.1 0.9V1.863C6.51598 2.06387 5.04367 2.78559 3.91463 3.91463C2.78559 5.04367 2.06387 6.51598 1.863 8.1H0.9C0.661305 8.1 0.432387 8.19482 0.263604 8.3636C0.0948211 8.53239 0 8.7613 0 9C0 9.23869 0.0948211 9.46761 0.263604 9.6364C0.432387 9.80518 0.661305 9.9 0.9 9.9H1.863C2.06387 11.484 2.78559 12.9563 3.91463 14.0854C5.04367 15.2144 6.51598 15.9361 8.1 16.137V17.1C8.1 17.3387 8.19482 17.5676 8.3636 17.7364C8.53239 17.9052 8.7613 18 9 18C9.23869 18 9.46761 17.9052 9.6364 17.7364C9.80518 17.5676 9.9 17.3387 9.9 17.1V16.137C11.484 15.9361 12.9563 15.2144 14.0854 14.0854C15.2144 12.9563 15.9361 11.484 16.137 9.9H17.1C17.3387 9.9 17.5676 9.80518 17.7364 9.6364C17.9052 9.46761 18 9.23869 18 9C18 8.7613 17.9052 8.53239 17.7364 8.3636C17.5676 8.19482 17.3387 8.1 17.1 8.1ZM9 14.4C7.93198 14.4 6.88795 14.0833 5.99992 13.4899C5.1119 12.8966 4.41976 12.0532 4.01105 11.0665C3.60234 10.0798 3.4954 8.99401 3.70376 7.94651C3.91212 6.89901 4.42642 5.93683 5.18162 5.18162C5.93683 4.42642 6.89901 3.91212 7.94651 3.70376C8.99401 3.4954 10.0798 3.60234 11.0665 4.01105C12.0532 4.41976 12.8966 5.1119 13.4899 5.99992C14.0833 6.88795 14.4 7.93198 14.4 9C14.4 10.4322 13.8311 11.8057 12.8184 12.8184C11.8057 13.8311 10.4322 14.4 9 14.4Z' fill='%2323346B'/%3E%3C/svg%3E%0A");
}

@media (min-width: 1024px) {
  .section-directions__label--target:before {
    margin-bottom: 0;
  }
}

.section-directions__logo-text {
  display: block;
  max-width: 285px;
  margin-left: auto;
  position: relative;
  color: #23346B;
  display: none;
}

@media (min-width: 768px) {
  .section-directions__logo-text {
    display: block;
    text-align: left;
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .section-directions__logo-text {
    display: block;
    text-align: left;
    font-size: 16px;
  }
}


.section-directions__logo-text:before {
  content: '';
  position: absolute;
  left: -30px;
  top: 0px;
  width: 20px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.00054 7.26868C4.00054 4.86806 4.00054 4.46772 6.00009 4.46772L6.00009 0C1.33471 0 0 3.13661 0 8.66879L0 16L8.66807 16V8.66879L4.00054 8.66879V7.26868Z' fill='%234F5D89'/%3E%3Cpath d='M14.8475 8.66879V7.26868C14.8475 4.86806 14.8475 4.46772 16.847 4.46772V0C12.1816 0 10.8477 3.13661 10.8477 8.66879V16L19.5114 16V8.66879L14.8475 8.66879Z' fill='%234F5D89'/%3E%3C/svg%3E%0A");
}

.section-directions__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

@media (min-width: 480px) {
  .section-directions__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  .section-directions__nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .section-directions__meter {
    margin-right: 30px;
  }
}

.section-directions__meter:last-child {
  margin-right: 0;
}
// .section-directions {
//   padding: 25px 0;

//   &--secondary{
//     position: relative;
//     z-index: 1;

//     // padding-bottom: 50px;
//     border-bottom: 1px solid #F2F3F6;

//     @include breakpoint($lg-breakpoint){
//       padding-bottom: 20px !important;
//     }

//     &:before{
//       content: '';
//       position: absolute;
//       right: 0;
//       top: 0;
//       width: 910px;
//       height: 500px;
//       background: url(../img/general/directions/government/map.svg) no-repeat;
//       z-index: -1;
//     }

//     .section-directions{
//       @include breakpoint($md-breakpoint){
//         &__container{
//           flex-direction: column;
//           align-items: center; 
//           justify-content: center;
//           text-align: center;

//           @include breakpoint($lg-breakpoint){
//             flex-direction: row;
//             text-align: inherit;
//           }
//         }

//         &__header{
//           flex-direction: column;
//           align-items: center; 
//           justify-content: center;
//           text-align: center;

//           @include breakpoint($lg-breakpoint){
//             flex-direction: row;
//             justify-content: flex-start;
//             text-align: inherit;
//           }
//         }
//       }
//     }
//   }

//   @include breakpoint($lg-breakpoint) {
//     padding: 30px 0;
//   }

//   @include breakpoint($xl-breakpoint) {
//     padding: 35px 0;
//   }

//   &__container {
//     display: flex;
//     flex-direction: column;

//     @include breakpoint($md-breakpoint) {
//       display: block;
//     }

//     & > .badge {
//       margin: 0 auto;

//       @include breakpoint($md-breakpoint) {
//         margin: 0;
//       }
//     }
//   }

//   &__header {
//     margin-top: 5px;
//     margin-bottom: 20px;
//     text-align: center;

//     @include breakpoint($md-breakpoint) {
//       display: flex;
//       align-items: flex-start;
//       text-align: left;
//     }

//     @include breakpoint($lg-breakpoint) {
//       margin-bottom: 30px;
//     }

//     @include breakpoint($xl-breakpoint) {
//       margin-bottom: 45px;
//     }
//   }

//   &__title{
//     display: block;
//     // padding-bottom: 40px;
//     // font-size: 32px;
//     color: #23346B;
//     font-weight: 500;

//     font-size: 18px;
//     text-align: center;
//     padding-bottom: 20px;

//     @include breakpoint($lg-breakpoint){
//       font-size: 32px;
//       padding-bottom: 40px;
//       text-align: inherit;
//     }
//   }

//   &__logos{
//     display: flex;
//     align-items: center;
//     flex-direction: column;

//     // max-width: 370px;

//     @include breakpoint($md-breakpoint){
//       margin-top: 30px;
//     }

//     @include breakpoint($lg-breakpoint){
//       max-width: 370px;
//     }



//     &-text{
//       color: #23346B;
//     }

//     .logos{
//       &__list{
//         margin-bottom: 30px;
//       }
//     }
//   }

//   &__main {
//     @include breakpoint($md-breakpoint) {
//       flex: 1 1 auto;
//       min-width: 0;
//     }
//   }

//   &__aside {
//     margin-top: 15px;

//     @include breakpoint($md-breakpoint) {
//       flex: 0 0 auto;
//       flex-direction: column;
//       align-items: flex-start;
//       margin-top: 0;
//       margin-left: 15px;
//     }

//     @include breakpoint($lg-breakpoint) {
//       flex-direction: row;
//       align-items: center;
//       margin-left: 25px;
//     }
//   }

//   &__heading {
//     margin: 0;
//     font-size: 22px;
//     line-height: 1.2;

//     @include breakpoint($xs-breakpoint) {
//       font-size: 26px;
//     }

//     @include breakpoint($sm-breakpoint) {
//       font-size: 30px;
//     }

//     @include breakpoint($md-breakpoint) {
//       font-size: 26px;
//     }

//     @include breakpoint($lg-breakpoint) {
//       font-size: 28px;
//     }

//     @include breakpoint($xl-breakpoint) {
//       font-size: 36px;
//     }
//   }

//   &__caption {
//     margin: 10px 0 0;
//     color: $primary-color;

//     @include breakpoint($sm-breakpoint) {
//       font-size: 16px;
//     }

//     @include breakpoint($xl-breakpoint) {
//       font-size: 19px;
//     }
//   }

//   &__button {
//     margin-top: 10px;
//     width: 100%;

//     @include breakpoint($xs-breakpoint) {
//       width: auto;
//       margin-top: 0;
//     }

//     @include breakpoint($md-breakpoint) {
//       margin-top: 10px;
//     }

//     @include breakpoint($lg-breakpoint) {
//       margin-top: 0;
//     }
//   }

//   &__levels{
//     // margin-top: 100px;
//     margin-top: 15px;

//     @include breakpoint($md-breakpoint){
//       margin-top: 30px;
//     }

//     @include breakpoint($lg-breakpoint){
//       margin-top: 100px;
//     }
//   }

//   &__label{
//     display: block;
//     align-items: center;

//     margin-top: 20px;
    
//     // font-size: 16px;

//     font-size: 14px;
//     color: #657198;
//     font-weight: 500;

//     @include breakpoint($lg-breakpoint){
//       font-size: 16px;
//     }

//     strong{
//       font-weight: bold;
//     }

//     &--target{
//       &:before{
//         content: '';
//         display: inline-block;
//         width: 18px;
//         height: 18px;
//         margin-right: 10px;
//         margin-bottom: -4px;
//         background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 6.3C8.46599 6.3 7.94397 6.45835 7.49996 6.75503C7.05595 7.05171 6.70988 7.47339 6.50552 7.96675C6.30117 8.46012 6.2477 9.00299 6.35188 9.52674C6.45606 10.0505 6.71321 10.5316 7.09081 10.9092C7.46841 11.2868 7.94951 11.5439 8.47326 11.6481C8.997 11.7523 9.53988 11.6988 10.0332 11.4945C10.5266 11.2901 10.9483 10.9441 11.245 10.5C11.5416 10.056 11.7 9.53401 11.7 9C11.7 8.28392 11.4155 7.59716 10.9092 7.09081C10.4028 6.58446 9.71608 6.3 9 6.3ZM9 9.9C8.822 9.9 8.64799 9.84722 8.49999 9.74832C8.35198 9.64943 8.23663 9.50887 8.16851 9.34441C8.10039 9.17996 8.08257 8.999 8.11729 8.82442C8.15202 8.64984 8.23774 8.48947 8.3636 8.3636C8.48947 8.23774 8.64984 8.15202 8.82442 8.11729C8.999 8.08257 9.17996 8.10039 9.34441 8.16851C9.50887 8.23663 9.64943 8.35198 9.74832 8.49999C9.84722 8.64799 9.9 8.822 9.9 9C9.9 9.23869 9.80518 9.46761 9.6364 9.6364C9.46761 9.80518 9.23869 9.9 9 9.9ZM17.1 8.1H16.137C15.9361 6.51598 15.2144 5.04367 14.0854 3.91463C12.9563 2.78559 11.484 2.06387 9.9 1.863V0.9C9.9 0.661305 9.80518 0.432387 9.6364 0.263604C9.46761 0.0948211 9.23869 0 9 0C8.7613 0 8.53239 0.0948211 8.3636 0.263604C8.19482 0.432387 8.1 0.661305 8.1 0.9V1.863C6.51598 2.06387 5.04367 2.78559 3.91463 3.91463C2.78559 5.04367 2.06387 6.51598 1.863 8.1H0.9C0.661305 8.1 0.432387 8.19482 0.263604 8.3636C0.0948211 8.53239 0 8.7613 0 9C0 9.23869 0.0948211 9.46761 0.263604 9.6364C0.432387 9.80518 0.661305 9.9 0.9 9.9H1.863C2.06387 11.484 2.78559 12.9563 3.91463 14.0854C5.04367 15.2144 6.51598 15.9361 8.1 16.137V17.1C8.1 17.3387 8.19482 17.5676 8.3636 17.7364C8.53239 17.9052 8.7613 18 9 18C9.23869 18 9.46761 17.9052 9.6364 17.7364C9.80518 17.5676 9.9 17.3387 9.9 17.1V16.137C11.484 15.9361 12.9563 15.2144 14.0854 14.0854C15.2144 12.9563 15.9361 11.484 16.137 9.9H17.1C17.3387 9.9 17.5676 9.80518 17.7364 9.6364C17.9052 9.46761 18 9.23869 18 9C18 8.7613 17.9052 8.53239 17.7364 8.3636C17.5676 8.19482 17.3387 8.1 17.1 8.1ZM9 14.4C7.93198 14.4 6.88795 14.0833 5.99992 13.4899C5.1119 12.8966 4.41976 12.0532 4.01105 11.0665C3.60234 10.0798 3.4954 8.99401 3.70376 7.94651C3.91212 6.89901 4.42642 5.93683 5.18162 5.18162C5.93683 4.42642 6.89901 3.91212 7.94651 3.70376C8.99401 3.4954 10.0798 3.60234 11.0665 4.01105C12.0532 4.41976 12.8966 5.1119 13.4899 5.99992C14.0833 6.88795 14.4 7.93198 14.4 9C14.4 10.4322 13.8311 11.8057 12.8184 12.8184C11.8057 13.8311 10.4322 14.4 9 14.4Z' fill='%2323346B'/%3E%3C/svg%3E%0A");
        
//         @include breakpoint($lg-breakpoint){
//           margin-bottom: 0;
//         }
//       }
//     }
//   }

//   &__logo-text{
//     position: relative;
//     color: #23346B;

//     &:before{
//       content: '';
//       position: absolute;
//       left: -90px;
//       top: -35px;
//       width: 108px;
//       height: 101px;
//       background-image: url("data:image/svg+xml,%3Csvg width='108' height='101' viewBox='0 0 108 101' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M42.6114 39.8291C42.6114 35.2618 42.6114 34.5001 46.4157 34.5001V25.9999C37.5394 25.9999 35 31.9675 35 42.493L35 56.4412H51.4917V42.493H42.6114V39.8291Z' fill='white'/%3E%3Cpath d='M63.249 42.493V39.8291C63.249 35.2618 63.249 34.5001 67.0533 34.5001V25.9999C58.1771 25.9999 55.639 31.9675 55.639 42.493L55.639 56.4412H72.1226V42.493H63.249Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='-0.00012207' width='107.123' height='100.441' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='9'/%3E%3CfeGaussianBlur stdDeviation='17.5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.137255 0 0 0 0 0.203922 0 0 0 0 0.419608 0 0 0 0.06 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");

//     }
//   }
// }
