include ../badge/badge
include ../menu/menu
include ../button/button

mixin section-directions(data, attrs)
  section.section-directions&attributes(attrs)
    ._container.container
      +badge(data.badge)
      ._header
        ._main
          h1._heading= data.heading
          p._caption= data.caption

        ._aside
          +button({
            title: 'Заказать демонстрацию',
            type: 'is-primary is-round',
            size: 'is-average'
          }, {
            class: 'section-directions__button'
          })

      ._body
        .directions-box.js-tabs
          ._header
            +menu(data.menu, {
                class: 'is-tabs-menu directions-box__menu'
            })

          ._body
            each tab in data.tabs
              ._tab.js-tabs-item(class=(tab.isActive ? 'is-active' : ''))
                ._container
                  ._main
                    ._content
                      ._heading= tab.heading
                      p._caption= tab.caption
                      ul._list
                        each item in tab.list
                          li._item= item.title

                    ._footer
                      .hint._hint= data.hint

                  ._aside
                    ._media
                      img._img(src=tab.img.src alt='')
