mixin ui-label(data, attrs)
  -
    data = data || {};
    attrs = attrs || {};

    var tag = data.tag || 'label';
    var type = data.type || 'muted';
    var size = data.size || 'md';

  #{tag}.ui-label(class=`ui-label_type_${type} ui-label_size_${size}`)&attributes(attrs)
    block
