.ui-label {
  margin: 0;

  &_type {
    &_muted {
      color: var(--muted-color);
    }
  }


  &_size {
    &_xs {
      font-size: var(--font-size-xs);
    }

    &_sm {
      font-size: var(--font-size-sm);
    }

    &_md {
      font-size: var(--font-size-md);
    }

    &_lg {
      font-size: var(--font-size-lg);
    }
  }
}
