mixin ui-avatar(data)

  -
    data = data || {};
    var type = data.type ? `ui-avatar_type_${data.type}` : '';
    var size = data.size ? `ui-avatar_size_${data.size}` : '';

  .ui-avatar(class=`${type} ${size}`)
    ._inner
      img._img(src=data.img alt=data.alt)
