.ui-avatar {
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  border-radius: 50%;

  @include breakpoint($lg-breakpoint) {
    width: 50px;
    height: 50px;
  }

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
  }


  &_type {
    &_border {
      border: 3px solid var(--white-color);

      @include breakpoint($lg-breakpoint) {
        border: 5px solid var(--white-color);
      }
    }

    &_double_border {
      border: 5px solid #E9EBF0;

      .ui-avatar__inner {
        border: 5px solid #D5D9E3;
      }
    }
  }


  &_size {
    &_lg {
      width: 90px;
      height: 90px;
    }
  }
}
