mixin expert-card(data, attrs)
  .expert-card&attributes(attrs)
    ._body
      .expert-preview._user
        ._header
          ._photo
            img._img(src=data.user.img.src alt='')
          ._content
            p._name= data.user.name

        p._caption= data.user.caption

      .expert-props._props
        ul._list
          li._item(data-title='Участвует в блиц-оценках проектных инициатив')
            img._img(src='__static__img/general/expert/1.svg' alt='')

          li._item(data-title='Участвует в блиц-оценках проектных инициатив')
            img._img(src='__static__img/general/expert/2.svg' alt='')

          li._item(data-title='Участвует в блиц-оценках проектных инициатив')
            img._img(src='__static__img/general/expert/3.svg' alt='')

          li._item(data-title='Участвует в блиц-оценках проектных инициатив')
            img._img(src='__static__img/general/expert/4.svg' alt='')

mixin expert-card-row(data, attrs)
  .expert-card.is-row&attributes(attrs)
    ._body
      .expert-preview._user
        ._header
          ._photo
            img._img(src=data.user.img.src alt='')

          ._content
            p._name= data.user.name
            p._caption= data.user.caption

      .expert-props._props
        ul._list
          li._item(data-title='Участвует в блиц-оценках проектных инициатив')
            img._img(src='__static__img/general/expert/1.svg' alt='')

          li._item(data-title='Участвует в блиц-оценках проектных инициатив')
            img._img(src='__static__img/general/expert/2.svg' alt='')

          li._item(data-title='Участвует в блиц-оценках проектных инициатив')
            img._img(src='__static__img/general/expert/3.svg' alt='')

          li._item(data-title='Участвует в блиц-оценках проектных инициатив')
            img._img(src='__static__img/general/expert/4.svg' alt='')

      a._more(href='#' title='')
        i.fe.fe-chevron-right
