.expert-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  //font-size: 14px;
  font-size: 10px;
  background: $white-color;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s;
  box-shadow: 0 5px 20px rgba(35, 52, 107, 0.1);

  &:hover{
    @include breakpoint($md-breakpoint){
      box-shadow: 0 5px 20px rgba(35, 52, 107, 0.3);
    }

    .expert-preview__name {
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }

  &--grid{
    .expert-card{

    }

    .expert-preview__header{
      @include breakpoint($md-breakpoint){
        flex-direction: row !important;
      }
    }

    .expert-preview__photo{
      @include breakpoint($md-breakpoint){
        width: 52px !important;
        height: 52px !important;
        border: 0 !important;
        margin-bottom: 0 !important;
        margin-left: 20px !important;

        img{
          border: 0 !important;
        }
      }
    }

    .expert-preview__name{
      text-align: left !important;
    }

    .expert-preview__caption{
      text-align: left !important;
    }

    .expert-card__user{
      width: 100% !important;
    }

    .expert-card__link-more{
      color: #505C83 !important;
    }
  }

  &.is-row {
    height: auto;

    .expert-card {
      &__body {
        // flex-direction: row;
        // align-items: center;
        flex-direction: column;
        // padding: 20px;
        padding: 10px;

        @include breakpoint($md-breakpoint){
          flex-direction: row;
          align-items: center;
          padding: 20px;
        }
      }

      &__props {
        // flex: 0 0 230px;
        // max-width: 230px;
        // margin-top: 0;
        // margin-left: 20px;

        margin-top: 15px;
        margin-bottom: 15px;

        @include breakpoint($md-breakpoint){
          flex: 0 0 230px;
          max-width: 230px;
          margin-top: 0;
          margin-left: 20px;
          margin-bottom: 0;
        }
      }

      &__more {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-left: 20px;
        // width: 40px;
        height: 40px;
        width: 100%;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
        color: $body-color;
        text-decoration: none;
        background-color: $bg-color;
        // border-radius: 50%;

        &:before{
          content: 'Подробнее';
        }

        @include breakpoint($md-breakpoint){
          margin-left: 20px;
          width: 40px;
          border-radius: 50%;

          &:before{
            display: none;
          }
        }
      }
    }

    .expert-props{
      &__list{
        justify-content: center;

        @include breakpoint($md-breakpoint){
          justify-content: flex-end;
        }
      }

      &__item{
        color: #505C83;
        font-size: 14px;
      }
    }

    .expert-preview {
      &__header{
        flex-direction: column;

        @include breakpoint($md-breakpoint){
          flex-direction: row;
        }
      }

      &__photo {
        margin-left: 0;
        // margin-right: 17px;
        margin-left: 0;
        margin-bottom: 10px;
        width: 56px;
        height: 56px;

        @include breakpoint($md-breakpoint){
          margin-right: 17px;
          margin-bottom: 0;
        }
      }

      &__name {
        // font-size: 20px;
        text-align: center;

        @include breakpoint($md-breakpoint){
          font-size: 20px;
          text-align: left;
        }
      }

      &__caption {
        margin-top: 4px;
        text-align: center;
        @include breakpoint($md-breakpoint){
          text-align: left;
        }
      }
    }
  }

  &--all{
    .expert-card{
      &__body{
        align-items: center;
        justify-content: center;
      }

      &__icon-wrap{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 73px;
        height: 73px;

        background: #F2F3F6;
        border-radius: 50%;
        transition: 0.5s;

        svg{
          width: 23px;

          @include breakpoint($md-breakpoint){
            width: 55px;
          }
        }

        @include breakpoint($md-breakpoint){
          width: 150px;
          height: 150px;
        }

      }

      &__more-label{
        display: block;
        text-align: center;

        margin-top: 15px;

        font-size: 12px;
        font-weight: 500;
        color: #23346B;

        @include breakpoint($md-breakpoint){
          font-size: 18px;
          margin-top: 30px;
        }
      }
    }

    &:hover{
      .expert-card__icon-wrap{
        background: #23346B;
        transition: 0.5s;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 15px;

    @include breakpoint($md-breakpoint) {
      align-items: center;
    }

    @include breakpoint($lg-breakpoint) {
      padding: 20px;
    }

    @include breakpoint($xl-breakpoint) {
      padding: 20px 25px;
    }
  }

  &__content {
    flex: 1 1 auto;
  }

  &__label {
    margin: 0 0 10px;
    color: $primary-color;
    font-weight: 500;
  }

  &__user {
    flex: 1 1 auto;
  }

  &__props {
    margin-top: 20px;
  }

  &__footer {
    flex-shrink: 0;
    padding: 10px 15px;
    border-top: 1px solid $border-color;

    @include breakpoint($lg-breakpoint) {
      padding: 12px 20px 14px;
    }
  }

  &__link-more {
    color: inherit;

    &::after {
      background-image: url('data:image/svg+xml,%3Csvg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M5.69531 7.79817L9.05021 4.44401L5.69531 1.08984" stroke="%23919AB5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M9.05176 4.44434H1" stroke="%23919AB5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E%0A');
    }
  }

  .expert-preview {
    &__header {
      @include breakpoint($md-breakpoint) {
        flex-direction: column;
        text-align: center;
      }
    }

    &__photo {
      @include breakpoint($md-breakpoint) {
        margin-bottom: 20px;
        margin-right: 0;
        width: 90px;
        height: 90px;
        border: 5px solid #E9EBF0;

        img{
          border: 5px solid #D5D9E3;
        }
      }
    }

    &__caption{
      @include breakpoint($md-breakpoint){
        text-align: center;
      }
    }
  }
}
