doctype html
html(class="no-js", lang="ru")

	include ../components/head/head.pug
	include ../components/footer/footer.pug

	head
			+head(head.defaults)
	body.page
		|%=symbols=%

		section.page__wrapper

			//- Include your components here

			.page__buffer

		.page__footer
				+footer()

		script(src='%=static=%js/separate-js/svg4everybody.min.js')
		script svg4everybody();

		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')
