extends template

include ../components/section-directions/section-directions
include ../components/section-default/section-default
include ../components/section-slider/section-slider
include ../components/section-tariffs/section-tariffs
include ../components/section-feedback/section-feedback

include ../components/input-text/input-text
include ../components/input-control/input-control
include ../components/select/select
include ../components/button/button
include ../components/categories-slider/categories-slider

block append settings
	-
		page.title = 'Бизнесу';


block page-body

	<div class="breadcrumbs">
		<div class="breadcrumbs__container container">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="/" class="breadcrumbs__link">Главная</a>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__link">Бизнесу</span>
				</li>
			</ul>
		</div>
	</div>

	<section class="section-directions section-directions--business page-body__section-directions">
		<div class="section-directions__container container">
				<span class="badge is-danger is-round is-small section-directions__badge">Для бизнеса</span>
				<div class="section-directions__header">
						<div class="section-directions__main">
								<h1 class="section-directions__heading">Цифровой помощник в сфере ГЧП и инфраструктуры</h1>
						</div>
						<div class="section-directions__aside">
								<button class="button is-primary is-round is-medium section-directions__button" data-remodal-target="get-demo"><span class="button__title">Заказать демонстрацию</span>
								</button>
						</div>
				</div>
		</div>
	</section>


	<section class="section-directions page-body__section-directions">
			<div class="section-directions__container container">
					<div class="section-directions__body">
							<div class="directions-box js-tabs">
									<div class="directions-box__header">
											<div class="menu js-menu is-tabs-menu directions-box__menu is-adaptive">
													<button class="menu__toggle js-menu-toggle"><i class="fe fe-more-vertical"></i>
													</button>
													<ul class="menu__list js-menu-list">
															<li class="menu__item is-active js-tabs-button"><span class="menu__link menu__link--padding">База проектов</span>
															</li>
															<li class="menu__item js-tabs-button"><span class="menu__link menu__link--padding">Поиск инвесторов</span>
															</li>
															<li class="menu__item js-tabs-button"><span class="menu__link menu__link--padding">Помощь экспертов</span>
															</li>
															<li class="menu__item js-tabs-button"><span class="menu__link menu__link--padding">Тренды и аналитика</span>
															</li>
													</ul>
											</div>
									</div>
									<div class="directions-box__body">
											<div class="directions-box__tab js-tabs-item is-active">
													<div class="directions-box__container">
															<div class="directions-box__main">
																	<div class="directions-box__content">
																			<div class="directions-box__heading">Предоставим доступ</div>
																			<p class="directions-box__caption">Самая полная база планируемых и реализуемых проектов всегда у вас под рукой.</p>
																			<ul class="directions-box__list">
																					<li class="directions-box__item">В базе более 5000 проектов</li>
																					<li class="directions-box__item">До 350 параметров по каждому проекту</li>
																					<li class="directions-box__item">Доступ к проектной документации</li>
																					<li class="directions-box__item">Подбор проектов-аналогов под вашу задачу</li>
																			</ul>
																	</div>
																	<div class="directions-box__footer">
																			<div class="hint directions-box__hint">Оформите подписку и воспользуйтесь всеми функциями платформы</div>
																	</div>
															</div>
															<div class="directions-box__aside">
																	<div class="directions-box__media">
																			<img class="directions-box__img" src="../../assets/img/general/directions/government/1.gif" alt="" />
																	</div>
															</div>
													</div>
											</div>
											<div class="directions-box__tab js-tabs-item">
													<div class="directions-box__container">
															<div class="directions-box__main">
																	<div class="directions-box__content">
																			<div class="directions-box__heading">Найдем инвестора</div>
																			<p class="directions-box__caption">Заполните наш бриф, остальное мы сделаем сами</p>
																			<ul class="directions-box__list">
																					<li class="directions-box__item">Проведем блиц-экспертизу проекта</li>
																					<li class="directions-box__item">Разместим проект на бирже инвестиционных предложений</li>
																					<li class="directions-box__item">Подберем потенциальных партнеров и начнем переговорный процесс</li>
																					<li class="directions-box__item">При необходимости организуем роуд-шоу проекта</li>
																			</ul>
																	</div>
																	<div class="directions-box__footer">
																			<div class="hint directions-box__hint">Оформите подписку и воспользуйтесь всеми функциями платформы</div>
																	</div>
															</div>
															<div class="directions-box__aside">
																	<div class="directions-box__media">
																			<img class="directions-box__img" src="../../assets/img/general/directions/government/2.gif" alt="" />
																	</div>
															</div>
													</div>
											</div>
											<div class="directions-box__tab js-tabs-item">
													<div class="directions-box__container">
															<div class="directions-box__main">
																	<div class="directions-box__content">
																			<div class="directions-box__heading">Ответим на вопросы</div>
																			<p class="directions-box__caption">Консультации от ведущих специалистов рынка и экспертные заключения на проекты или документацию</p>
																			<ul class="directions-box__list">
																					<li class="directions-box__item">Эксперты - практики с 10-летним стажем</li>
																					<li class="directions-box__item">Сокращение издержек на переговоры</li>
																					<li class="directions-box__item">Широкий спектр консалтинговых услуг</li>
																					<li class="directions-box__item">Сопровождение в режиме 24/7</li>
																			</ul>
																	</div>
																	<div class="directions-box__footer">
																			<div class="hint directions-box__hint">Оформите подписку и воспользуйтесь всеми функциями платформы</div>
																	</div>
															</div>
															<div class="directions-box__aside">
																	<div class="directions-box__media">
																			<img class="directions-box__img" src="../../assets/img/general/directions/government/3.gif" alt="" />
																	</div>
															</div>
													</div>
											</div>
											<div class="directions-box__tab js-tabs-item">
													<div class="directions-box__container">
															<div class="directions-box__main">
																	<div class="directions-box__content">
																			<div class="directions-box__heading">Поделимся знаниями</div>
																			<p class="directions-box__caption">Используйте аналитику, лучшие практики и основные тенденции на рынке в своей ежедневной работе</p>
																			<ul class="directions-box__list">
																					<li class="directions-box__item">Судебная практика и решения ФАС</li>
																					<li class="directions-box__item">Типовые проектные решения</li>
																					<li class="directions-box__item">Отраслевая аналитика и инфографика</li>
																					<li class="directions-box__item">Ежемесяцячный дайджест по рынку</li>
																			</ul>
																	</div>
																	<div class="directions-box__footer">
																			<div class="hint directions-box__hint">Оформите подписку и воспользуйтесь всеми функциями платформы</div>
																	</div>
															</div>
															<div class="directions-box__aside">
																	<div class="directions-box__media">
																			<img class="directions-box__img" src="../../assets/img/general/directions/government/4.gif" alt="" />
																	</div>
															</div>
													</div>
											</div>
									</div>
							</div>
					</div>
			</div>
	</section>

	<section class="section-default section-default--products page-body__section-default">
		<div class="section-default__container container">
				<div class="section-body section-default__body">
						<div class="section-default__header is-default">
								<div class="section-default__heading is-default is-mobile">Не просто предоставим доступ, а обеспечим непрерывное сопровождение и экспертную поддержку</div>
						</div>
						<div class="advantages">
								<div class="advantages__grid">
										<div class="advantages__column">
												<div class="advant-card is-center">
														<div class="advant-card__icon">
																<img class="advant-card__img" src="../../assets/img/content/advants/4.svg" alt="">
														</div>
														<p class="card-title advant-card__title">Проведем оценку вашего проекта и дадим рекомендации </p>
												</div>
										</div>
										<div class="advantages__column">
												<div class="advant-card is-center">
														<div class="advant-card__icon">
																<img class="advant-card__img" src="../../assets/img/content/advants/3.svg" alt="">
														</div>
														<p class="card-title advant-card__title">Предложим на выбор ключевых экспертов рынка для решения вашей задачи</p>
												</div>
										</div>
										<div class="advantages__column">
												<div class="advant-card is-center">
														<div class="advant-card__icon">
																<img class="advant-card__img" src="../../assets/img/content/advants/1.svg" alt="">
														</div>
														<p class="card-title advant-card__title">Подберем аналитические материалы и проекты-аналоги</p>
												</div>
										</div>
										<div class="advantages__column">
												<div class="advant-card is-center">
														<div class="advant-card__icon">
																<img class="advant-card__img" src="../../assets/img/content/advants/2.svg" alt="">
														</div>
														<p class="card-title advant-card__title">Оперативно дадим комментарии по правовым или отраслевым вопросам</p>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
	</section>

	section.section-tariffs
		._container.container
			._aside
				._header
					h2.section-heading._heading Тарифы:

				ul._list.js-tarrif-column
					li._item.js-tarrif-row Количество пользователей
						.help._help
							._icon
							._content Индивидуально подберем эксперта для консультации по интересующему вас вопросу. Подписка указывает на количество доступных часов

					li._item.js-tarrif-row.is-primary Доступ к информации
					li._item.js-tarrif-row База планируемых и реализуемых проектов
						.help._help
							._icon
							._content Единая база проектов со множеством параметров, документацией, экспертными коментариями и  удобной навигацией
					li._item.js-tarrif-row Объекты под ГЧП
						.help._help
							._icon
							._content База объектов, которые предлагают органы власти частным инвесторам
					li._item.js-tarrif-row Судебная практика и решения ФАС
						.help._help
							._icon
							._content

					li._item.js-tarrif-row.is-primary Аналитическое сопровождение
					li._item.js-tarrif-row Сопровождение в режиме 24/7
						.help._help
							._icon
							._content Поможем в работе с ключевыми сервисами и материалами, размещенными на платформе
					li._item.js-tarrif-row Информационно-аналитическая поддержка
						.help._help
							._icon
							._content Подберем интересующие аналитические материалы, проекты – аналоги, судебные решения и решения ФАС
					li._item.js-tarrif-row Кейс-анализ
						.help._help
							._icon
							._content
					li._item.js-tarrif-row Содействие в коммуникации
						.help._help
							._icon
							._content Предоставим информацию об инициаторах и разработчиках планируемых проектов

					li._item.js-tarrif-row.is-primary Проектный офис
					li._item.js-tarrif-row Подбор перспективных проектов
						.help._help
							._icon
							._content Подберем проекты, планируемые к реализации в регионах с учетом степени готовности и потенциала успешного запуска
					li._item.js-tarrif-row Разработка концепции
						.help._help
							._icon
							._content Окажем содействие в проработке предварительной концепции проекта в интересах компании
					li._item.js-tarrif-row Поиск публичных партнеров
						.help._help
							._icon
							._content Составим шорт-лист потенциальных публичных партнеров и инициируем переговорный процесс
					li._item.js-tarrif-row Поиск частных партнеров
						.help._help
							._icon
							._content Подберем частных партнеров и соисполнителей, необходимых для реализации проекта
					li._item.js-tarrif-row Подготовка дорожной карты
						.help._help
							._icon
							._content Разработаем дорожную карту подготовки и запуска проекта с учетом требований законодательства
					li._item.js-tarrif-row Подбор необходимых материалов
						.help._help
							._icon
							._content Подберем типовые документы, судебную практику и иные материалы, использование которых поможет ускорить и снизить издержки на запуск проекта
					li._item.js-tarrif-row Формирование проектной команды
						.help._help
							._icon
							._content Подберем профильных экспертов для оказания отдельных консультационных услуг или комплексного сопровождения проекта
					li._item.js-tarrif-row.is-last Привлечение финансирования
						.help._help
							._icon
							._content Проработаем возможные источники финансирования с условиями привлечения и необходимыми контактами

					li._item.js-tarrif-row.is-bordered.is-primary.is-cost Стоимость за квартал
					li._item.js-tarrif-row
					li._item.js-tarrif-row

				.hint._hint * Не облагается НДС

			._main
				._inner
					._grid
						._column

							.tariff-card.is-free
								._header
									h3._title Базовый доступ

								._body
									ul._list.js-tarrif-column
										li._item.js-tarrif-row
											.count-users
												._main
													._item

												span._value (1)

										li._item.js-tarrif-row

										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')

										li._item.js-tarrif-row

										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/close.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/close.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/close.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/close.svg" alt='')


										li._item.js-tarrif-row

										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/close.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/close.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/close.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/close.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/close.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/close.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/close.svg" alt='')
										li._item.js-tarrif-row.is-last
											img._img(src="../../assets/img/general/close.svg" alt='')

										li._item.js-tarrif-row.is-bordered.is-cost
											span._price 49 000
												span._price-label ₽ / квартал
										li._item.js-tarrif-row
											button.button.is-primary.is-round.is-average._button(data-remodal-target="subscribe-form")
												span._title Оформить <span>подписку</span>

						._column

							.tariff-card
								._header
									h3._title Аналитическое сопровождение

								._body
									ul._list.js-tarrif-column
										li._item.js-tarrif-row
											.count-users
												._main
													._item
													._item
													._item

												span._value (3)

										li._item.js-tarrif-row

										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')

										li._item.js-tarrif-row

										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')


										li._item.js-tarrif-row

										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/close.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/close.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/close.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/close.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/close.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/close.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/close.svg" alt='')
										li._item.js-tarrif-row.is-last
											img._img(src="../../assets/img/general/close.svg" alt='')

										li._item.js-tarrif-row.is-bordered.is-cost
											span._price 199 000
												span._price-label ₽ / квартал
										li._item.js-tarrif-row
											button.button.is-primary.is-round.is-average._button(data-remodal-target="subscribe-form")
												span._title Оформить <span>подписку</span>

						._column

							.tariff-card.is-danger
								._header
									h3._title Проектный офис

								._body
									ul._list.js-tarrif-column
										li._item.js-tarrif-row
											.count-users
												._main
													._item
													._item
													._item
													._item
													._item

												span._value (5)

										li._item.js-tarrif-row

										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')

										li._item.js-tarrif-row

										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')


										li._item.js-tarrif-row

										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')
										li._item.js-tarrif-row
											img._img(src="../../assets/img/general/check.svg" alt='')
										li._item.js-tarrif-row.is-last
											img._img(src="../../assets/img/general/check.svg" alt='')

										li._item.js-tarrif-row.is-bordered.is-cost
											span._price 349 000
												span._price-label ₽ / квартал
										li._item.js-tarrif-row
											button.button.is-primary.is-round.is-average._button(data-remodal-target="subscribe-form")
												span._title Оформить <span>подписку</span>



	//- // start section-tariffs
	//- +section-tariffs(sectionTariffs.business, {
	//- 		class: 'page-body__section-tariffs'
	//- })
	//- // end section-tariffs

	// start section-default
	+section-default({}, {
			class: 'is-secondary page-body__section-default'
	})
		form.form-box-inline(action='#' method='post')
			._header
				h2.section-heading._heading Остались вопросы?

			._body
				._grid
					._column
						+input-text({
								placeholder: 'Введите ФИО*',
								theme: 'is-round',
								size: 'is-large'
						})

					._column
						+input-text({
								type: 'email',
								placeholder: 'E-mail*',
								theme: 'is-round',
								size: 'is-large'
						})

					._column
						+input-text({
								type: 'tel',
								placeholder: 'Номер телефона*',
								theme: 'is-round',
								size: 'is-large'
						})

					._column.is-button
						+button({
								title: 'Отправить заявку',
								type: 'is-primary is-round',
								size: 'is-large'
						}, {
								class: 'form-box-inline__button'
						})

				.form-agree._agree Нажимая на кнопку “Отправить” вы подтверждаете что ознакомлен(-ы) с политикой конфиденциальности и даёте согласие на обработку персональных данных согласно ФЗ №54
	// end section-default

	.modal.remodal.is-medium(data-remodal-id='get-consult')
		button._close(data-remodal-action='close')

		._header
			._title.is-large.is-center Получить консультацию

		._body
			form.form.js-modal(action='#' method='post')
				._body
					.form-field._field
						label._label Введите ФИО*:
						+input-text({
								placeholder: 'Введите ФИО',
								name: 'name',
								theme: 'is-round',
								size: 'is-large'
						})

					.form-field._field
						._grid
							._column
								label._label Номер телефона*:
								+input-text({
										type: 'tel',
										placeholder: 'Введите номер телефона',
										name: 'tel',
										theme: 'is-round',
										size: 'is-large'
								})

							._column
								label._label E-mail*:
								+input-text({
										type: 'email',
										placeholder: 'Введите E-mail',
										name: 'email',
										theme: 'is-round',
										size: 'is-large'
								})

				._footer
					.form-agree._agree
						+input-control({
								type: 'checkbox',
								label: 'Нажимая на кнопку “Сохранить” вы подтверждаете что ознакомлен(-ы) с политикой конфиденциальности и даёте согласие на обработку персональных данных согласно ФЗ №54',
								name: 'agree'
						})

					+button({
							title: 'Отправить ',
							type: 'is-primary is-round'
					}, {
							class: 'form__button'
					})

	.modal.remodal.is-medium(data-remodal-id='subscribe-form')
		button._close(data-remodal-action='close')

		._header
			._title.is-large.is-center Заявка на оформление подписки

		._body
			form.form.js-modal(action='#' method='post')
				._body
					.form-field._field
						label._label Выберите пакет подписки*:
						+select({
								placeholder: 'Выберите вариант',
								options: [
										{
												title : 'Бесплатно'
										},
										{
												title: 'Базовый'
										},
										{
												title: 'Расширенный'
										},
										{
												title: 'Акселератор'
										}
								]
						}, {
								'data-minimum-search-result': -1
						})

					.form-field._field
						label._label Введите ФИО*:
						+input-text({
								placeholder: 'Введите ФИО',
								name: 'name'
						})

					.form-field._field
						._grid
							._column
								label._label Номер телефона*:
								+input-text({
										type: 'tel',
										placeholder: 'Введите номер телефона',
										name: 'tel'
								})

							._column
								label._label E-mail*:
								+input-text({
										type: 'email',
										placeholder: 'Введите E-mail',
										name: 'email'
								})

					.form-field._field
						label._label Организация*:
						+input-text({
								placeholder: 'Введите название',
								name: 'organization'
						})

					.form-field._field
						label._label Должность*:
						+input-text({
								placeholder: 'Введите название',
								name: 'post'
						})

					.form-field._field
						label._label Во сколько удобно с вами связаться:
						._grid
							._column
								+input-text({
										placeholder: 'Выберите дату',
										name: 'date'
								}, {
										class: 'js-input-text-date'
								})

							._column
								+input-text({
										placeholder: 'Выберите время',
										name: 'time'
								}, {
										class: 'js-input-text-time'
								})

				._footer
					.form-agree._agree
						+input-control({
							type: 'checkbox',
							label: 'Нажимая на кнопку “Сохранить” вы подтверждаете что ознакомлен(-ы) с политикой конфиденциальности и даёте согласие на обработку персональных данных согласно ФЗ №54',
							name: 'agree'
						})

					+button({
						title: 'Отправить ',
						type: 'is-primary is-round'
					}, {
						class: 'form__button'
					})
