extends template

include ../components/section-directions/section-directions
include ../components/section-default/section-default
include ../components/section-slider/section-slider
include ../components/section-tariffs/section-tariffs
include ../components/section-feedback/section-feedback

include ../components/input-text/input-text
include ../components/categories-slider/categories-slider

block append settings
  -
    page.title = 'Власти';


block page-body

  // start section-directions
  +section-directions({
    badge: {
        title: 'Для власти',
        type: 'is-danger is-round',
        size: 'is-small'
    },
    heading: 'Цифровой помощник в сфере ГЧП и инфраструктуры',
    caption: 'Стоимость от 25 000 ₽ / мес',
    menu: [
        {
            title: 'База проектов',
            itemClass: 'js-tabs-button',
            isActive: true
        }, {
            title: 'Поиск инвесторов',
            itemClass: 'js-tabs-button'
        }, {
            title: 'Помощь экспертов',
            itemClass: 'js-tabs-button'
        }, {
            title: 'Тренды и аналитика',
            itemClass: 'js-tabs-button'
        }
    ],
    tabs: [
        {
            isActive: true,
            heading: 'База инфраструктурных проектов',
            caption: 'Все под контролем. Самая полная база планируемых и реализуемых проектов всегда у вас под рукой. ',
            img: {
                src: '__static__img/general/directions/government/projects.gif'
            },
            list: [
                {
                    title: 'В базе более 5000 проектов '
                }, {
                    title: 'До 350 параметров по каждому проекту'
                }, {
                    title: 'Доступ к проектной документации'
                }, {
                    title: 'Подбор проектов-аналогов под вашу задачу'
                }
            ]
        }, {
            heading: 'Поиск инвесторов',
            caption: 'Заполните наш бриф, остальное мы сделаем сами',
            img: {
                src: '__static__img/general/directions/government/investors.gif'
            },
            list: [
                {
                    title: 'Проведем блиц-экспертизу проекта'
                }, {
                    title: 'Разместим проект на бирже инвестиционных предложений'
                }, {
                    title: 'Подберем потенциальных партнеров и начнем переговорный процесс'
                }, {
                    title: 'При необходимости организуем роуд-шоу проекта'
                }
            ]
        }, {
            heading: 'Помощь экспертов',
            caption: 'Работа в режиме online! Консультации от ведущих специалистов рынка и экспертные заключения на проекты или документацию',
            img: {
                src: '__static__img/general/directions/government/experts.gif'
            },
            list: [
                {
                    title: 'Эксперты - практики с 10-летним стажем'
                }, {
                    title: 'Сокращение издержек на переговоры'
                }, {
                    title: 'Широкий спектр консалтинговых услуг'
                }, {
                    title: 'Сопровождение в режиме 24/7'
                }
            ]
        }, {
            heading: 'Тренды и аналитика',
            caption: 'Вы всегда в курсе! Используйте аналитику, лучшие практики и основные тенденции на рынке в своей ежедневной работе',
            img: {
                src: '__static__img/general/directions/government/analitycs.gif'
            },
            list: [
                {
                    title: 'Судебная практика и решения ФАС'
                }, {
                    title: 'Типовые проектные решения '
                }, {
                    title: 'Отраслевая аналитика и инфографика'
                }, {
                    title: 'Ежемесячный дайджест по рынку'
                }
            ]
        }
    ],
    hint: 'Оформите подписку и воспользуйтесь всеми функциями платформы'
  }, {
    class: 'page-body__section-directions'
  })
  // end section-directions

  // start section-default
  +section-default({
    header: {
      main: {
        heading: {
          title: 'Не просто предоставим доступ, а обеспечим непрерывное сопровождение и экспертную поддержку',
          isCentered: true,
            type: 'is-medium-width'
        }
      }
    }
  }, {
    class: 'is-bg-bottom page-body__section-default'
  })
    +categories-slider([
        {
            caption: 'Подберем аналитические материалы и проекты-аналоги',
            img: {
                src: '__static__img/content/categories/pc.svg'
            },
            type: 'is-helper'
        }, {
            caption: 'Оперативно дадим комментарии по правовым или отраслевым вопросам',
            img: {
                src: '__static__img/content/categories/managment.svg'
            },
            type: 'is-helper'
        }, {
            caption: 'Предложим на выбор ключевых экспертов рынка для решения вашей задачи',
            img: {
                src: '__static__img/content/categories/group.svg'
            },
            type: 'is-helper'
        }, {
            caption: 'Проведем оценку вашего проекта и дадим рекомендации',
            img: {
                src: '__static__img/content/categories/loupe.svg'
            },
            type: 'is-helper'
        }
    ])
  // end section-default

  // start section-tariffs
  +section-tariffs(sectionTariffs.government, {
    class: 'page-body__section-tariffs'
  })
  // end section-tariffs

  // start section-default
  +section-default({
    header: {
      main: {
        heading: {
          title: 'Рекомендации',
          isCentered: true
        }
      }
    }
  }, {
    class: 'js-section-slider page-body__section-default'
  })
    .section-slider
      ._body.js-section-slider-container
        ._wrapper.js-slider-wrapper

          ._slide.js-slider-slide
            // start program-card
            .program-card.-vertical._card
              ._body
                a._photo(href="#")
                  img._img(src="../../assets/img/content/program/3.jpg", alt="")
                ._data
                  ._header
                    a._title(href="#") Онлайн-консультации с ведущими экспертами отрасли

                  ._content
                    ._label Стоимость:
                    span._price От 16 000 ₽ до 32 000 ₽
                      span._label (в пакете дешевле)
            // end program-card

          ._slide.js-slider-slide
            // start program-card
            .program-card.-vertical._card
              ._body
                a._photo(href="#")
                  img._img(src="../../assets/img/content/program/4.jpg", alt="")
                ._data
                  ._header
                    a._title(href="#") Онлайн-обучение для новичков и профессионалов

                  ._content
                    ._label Стоимость:
                    span._price От 9 900 ₽
            // end program-card

          ._slide.js-slider-slide
            // start program-card
            .program-card.-vertical._card
              ._body
                a._photo(href="#")
                  img._img(src="../../assets/img/content/program/5.jpg", alt="")
                ._data
                  ._header
                    a._title(href="#") Экспертное заключение на проектную документацию

                  ._content
                    ._label Стоимость:
                    span._price Формируется исходя из объемов задачи
            // end program-card
  // end section-default

  // start section-default
  +section-default({}, {
    class: 'is-secondary page-body__section-default'
  })
    form.form-box-inline(action='#' method='post')
      ._header
        h2.section-heading._heading Остались вопросы?

      ._body
        ._grid
          ._column
            +input-text({
              placeholder: 'Введите ФИО*',
              theme: 'is-round',
              size: 'is-large'
            })

          ._column
            +input-text({
              type: 'email',
              placeholder: 'E-mail*',
              theme: 'is-round',
              size: 'is-large'
            })

          ._column
            +input-text({
              type: 'tel',
              placeholder: 'Номер телефона*',
              theme: 'is-round',
              size: 'is-large'
            })

          ._column.is-button
            +button({
              type: 'is-primary is-round',
              title: 'Отправить заявку'
            }, {
              class: 'form-box-inline__button'
            })

        .form-agree._agree Нажимая на кнопку “Отправить” вы подтверждаете что ознакомлен(-ы) с политикой конфиденциальности и даёте согласие на обработку персональных данных согласно ФЗ №54
  // end section-default

  .modal.remodal.is-medium(data-remodal-id='get-consult')
    button._close(data-remodal-action='close')

    ._header
      ._title.is-large.is-center Получить консультацию

    ._body
      form.form.js-modal(action='#' method='post')
        ._body
          .form-field._field
            label._label Введите ФИО*:
            +input-text({
                placeholder: 'Введите ФИО',
                name: 'name'
            })

          .form-field._field
            ._grid
              ._column
                label._label Номер телефона*:
                +input-text({
                    type: 'tel',
                    placeholder: 'Введите номер телефона',
                    name: 'tel'
                })

              ._column
                label._label E-mail*:
                +input-text({
                    type: 'email',
                    placeholder: 'Введите E-mail',
                    name: 'email'
                })

        ._footer
          .form-agree._agree
            +input-control({
                type: 'checkbox',
                label: 'Нажимая на кнопку “Сохранить” вы подтверждаете что ознакомлен(-ы) с политикой конфиденциальности и даёте согласие на обработку персональных данных согласно ФЗ №54',
                name: 'agree'
            })

          +button({
              title: 'Отправить ',
              type: 'is-primary is-round'
          }, {
              class: 'form__button'
          })

  .modal.remodal.is-medium(data-remodal-id='subscribe-form')
    button._close(data-remodal-action='close')

    ._header
      ._title.is-large.is-center Заявка на оформление подписки

    ._body
      form.form.js-modal(action='#' method='post')
        ._body
          .form-field._field
            label._label Выберите пакет подписки*:
            +select({
                placeholder: 'Выберите вариант',
                options: [
                    {
                        title: 'Бесплатно'
                    },
                    {
                        title: 'Базовый'
                    },
                    {
                        title: 'Расширенный'
                    },
                    {
                        title: 'Акселератор'
                    }
                ]
            }, {
                'data-minimum-search-result': -1
            })

          .form-field._field
            label._label Введите ФИО*:
            +input-text({
                placeholder: 'Введите ФИО',
                name: 'name'
            })

          .form-field._field
            ._grid
              ._column
                label._label Номер телефона*:
                +input-text({
                    type: 'tel',
                    placeholder: 'Введите номер телефона',
                    name: 'tel'
                })

              ._column
                label._label E-mail*:
                +input-text({
                    type: 'email',
                    placeholder: 'Введите E-mail',
                    name: 'email'
                })

          .form-field._field
            label._label Организация*:
            +input-text({
                placeholder: 'Введите название',
                name: 'organization'
            })

          .form-field._field
            label._label Должность*:
            +input-text({
                placeholder: 'Введите название',
                name: 'post'
            })

          .form-field._field
            label._label Во сколько удобно с вами связаться:
            ._grid
              ._column
                +input-text({
                    placeholder: 'Выберите дату',
                    name: 'date'
                }, {
                    class: 'js-input-text-date'
                })

              ._column
                +input-text({
                    placeholder: 'Выберите время',
                    name: 'time'
                }, {
                    class: 'js-input-text-time'
                })

        ._footer
          .form-agree._agree
            +input-control({
                type: 'checkbox',
                label: 'Нажимая на кнопку “Сохранить” вы подтверждаете что ознакомлен(-ы) с политикой конфиденциальности и даёте согласие на обработку персональных данных согласно ФЗ №54',
                name: 'agree'
            })

          +button({
              title: 'Отправить ',
              type: 'is-primary is-round'
          }, {
              class: 'form__button'
          })
