extends template

include ../components/badge/badge
include ../components/button/button
include ../components/select/select
include ../components/input-text/input-text

block append settings
  -
    page.title = 'GUI';


block page-body

  .gui
    ._container.container
      // start profile-card
      .card._card
        .card-header._header
          ._main
            h2.card-heading._heading 1. Badges

        ._body
          ._grid
            ._column
              ._item
                +badge({
                    title: 'Primary',
                    type: 'is-primary',
                })

            ._column
              ._item
                +badge({
                    title: 'Secondary',
                    type: 'is-secondary',
                })

            ._column
              ._item
                +badge({
                    title: 'Success',
                    type: 'is-success',
                })

            ._column
              ._item
                +badge({
                    title: 'Danger',
                    type: 'is-danger',
                })

            ._column
              ._item
                +badge({
                    title: 'White',
                    type: 'is-white',
                })
      // end profile-card

      // start profile-card
      .card._card
        .card-header._header
          ._main
            h2.card-heading._heading 2. Buttons

        ._body
          ._grid
            ._column
              ._item
                +button({
                    title: 'Primary',
                    type: 'is-primary',
                })

            ._column
              ._item
                +button({
                    title: 'Secondary',
                    type: 'is-secondary',
                })

            ._column
              ._item
                +button({
                    title: 'Success',
                    type: 'is-success',
                })

            ._column
              ._item
                +button({
                    title: 'Danger',
                    type: 'is-danger',
                })

            ._column
              ._item
                +button({
                    title: 'White',
                    type: 'is-white',
                })
      // end profile-card

      // start profile-card
      .card._card
        .card-header._header
          ._main
            h2.card-heading._heading 3. Inputs

        ._body
          ._grid
            ._column
              ._item
                +input-text({
                    placeholder: 'Input'
                })
      // end profile-card
