extends template

include ../components/categories-slider/categories-slider
include ../components/section-default/section-default
include ../components/section-slider/section-slider
include ../components/section-feedback/section-feedback

include ../components/helper-card/helper-card
include ../components/product-card/product-card
include ../components/button/button

include ../components/ui/ui-select-custom/ui-select-custom
include ../components/ui/ui-input/ui-input
include ../components/ui/ui-control/ui-control
include ../components/ui/ui-button/ui-button

block append settings
	-
		page.title = 'Главная страница';
		isHomepage = true;


block page-body

	.ui-select-custom.js-select-custom(data-placeholder='Поиск сферы')
		._header.js-select-custom-header
			<span class="ui-select-custom__selected-count" style="display:none;">Выбрано элементов:
				<span class="ui-badge ui-badge_type_danger ui-badge_size_sm"></span>
				<button class="ui-select-custom__reset-btn"></button>
			</span>

			+ui-input({
				type: 'text',
				placeholder: 'Добавление сферы'
			}, {
				class: 'js-select-custom-input'
			})

		._body
			._dropdown
				._scrollbar.js-scrollbar
					._content.js-select-custom-list
						._item
							+ui-control({
								label: 'Социальная инфраструктура'
							})

						._item
							+ui-control({
								label: 'Транспортная инфраструктура'
							})

						._item
							+ui-control({
								label: 'Транспортная инфраструктура'
							})

				._footer
					+ui-button({block: true, round: false}, {class: 'js-select-custom-apply'}) Применить фильтр

	// start section-stats
	.section-stats.page-body__section-stats
		._container.container
			._grid
				._column
					.card-stats
						._icon
							img._img(src="../assets/img/content/stats/1.svg", alt="")
						._data
							span._value 5 689
							span._caption Реализуемых проектов
				._column
					.card-stats
						._icon
							img._img(src="../assets/img/content/stats/2.svg", alt="")
						._data
							span._value 3 543
							span._caption Отраслевых экспертов
				._column
					.card-stats
						._icon
							img._img(src="../assets/img/content/stats/3.svg", alt="")
						._data
							span._value 1 436
							span._caption Проектных инициатив
				._column
					.card-stats
						._icon
							img._img(src="../assets/img/content/stats/4.svg", alt="")
						._data
							span._value 10 355
							span._caption Участников рынка
	// end section-stats

	// start main-informer
	.main-informer.page-body__informer
		._cotainer.container
			._slider.js-informer-slider
				._wrapper.js-slider-wrapper
					._slide.js-slider-slide
						a.informer._informer(href="https://rosinfra.ru/home/landing/government")
							._body
								img._img(src="../assets/img/content/map-rf-n.png", alt="")
								img._img.-mob(src="../assets/img/content/map-rf-n-m.png", alt="")
								._main
									.badge.-danger.is-round.is-small._badge Государству
									._title Программа антикризисного управления инфраструктурными проектами для 40 регионов
									._more Узнать больше
								._aside
									ul._images
										li._images-item
											img._images-image(src="../assets/img/content/web-rf1.svg", alt="")
										li._images-item
											img._images-image(src="../assets/img/content/gchp.svg", alt="")

					._slide.js-slider-slide
						a.informer.is-white._informer(href="https://p3week.ru/")
							._body
								img._img(src="../assets/img/content/bn2.png", alt="")
								._main
									img._logs-img(src="../assets/img/content/bn5.png", alt="")
									img._logs-img-mobile(src="../assets/img/content/cb.png", alt="")
								._aside
									._buttons
										.button.is-primary.is-round._button
											span._title Зарегистрироваться
										.button.is-primary.is-round._button
											span._title Узнать больше

					._slide.js-slider-slide
						a.informer.is-last._informer(href="https://rosinfra.ru/academy/program/upravlenie-investicionnymi-proektami-realizuemymi-na-principah-gcp2")
							._body
								img._img(src="../assets/img/content/bn3.png", alt="")
								._main
									.badge.-danger.is-round.is-small._badge Программа повышения квалификации
									._title Управление инвестиционными проектами, реализуемыми на принципах ГЧП
									ul.event-list.is-inline._list
										li._item
											._title
												._icon
													<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M13.9773 12.2729H11.5909C10.0871 12.2729 8.86364 11.0495 8.86364 9.54567C8.86364 8.04188 10.0871 6.81842 11.5909 6.81842H13.9773C14.1657 6.81842 14.3182 6.66593 14.3182 6.4775V5.45477C14.3182 4.73988 13.7637 4.1585 13.0631 4.10212L11.1052 0.68238C10.9238 0.366102 10.6308 0.140047 10.2802 0.0461804C9.93131 -0.0470475 9.56645 0.00191553 9.25417 0.183673L2.54243 4.09113H1.36364C0.61159 4.09113 0 4.70268 0 5.45477V13.6366C0 14.3886 0.611558 15.0002 1.36364 15.0002H12.9545C13.7066 15.0002 14.3182 14.3887 14.3182 13.6366V12.6139C14.3182 12.4254 14.1657 12.2729 13.9773 12.2729ZM11.528 2.79367L12.2708 4.09113H9.29945L11.528 2.79367ZM3.89754 4.09113L9.59739 0.772923C9.75153 0.682699 9.93163 0.658729 10.1038 0.704688C10.2779 0.751286 11.4378 2.6362 11.528 2.79367L9.29945 4.09113H3.89754Z" fill="white"/>
														<path d="M14.0625 8H11.875C10.8411 8 10 8.67284 10 9.5C10 10.3272 10.8411 11 11.875 11H14.0625C14.5795 11 15 10.6636 15 10.25V8.75C15 8.33642 14.5795 8 14.0625 8ZM11.875 9.99999C11.5305 9.99999 11.25 9.77563 11.25 9.5C11.25 9.22438 11.5305 9.00001 11.875 9.00001C12.2195 9.00001 12.5 9.22438 12.5 9.5C12.5 9.77563 12.2196 9.99999 11.875 9.99999Z" fill="white"/>
													</svg>

												._text Стоимость:
											._value  59 900 ₽

										li._item
											._title
												._icon.is-secondary
													<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M4.94567 7.7237C4.94567 7.54833 4.80342 7.40625 4.62791 7.40625H3.51901C3.34369 7.40625 3.20142 7.54833 3.20142 7.7237V8.83245C3.20142 9.00806 3.34369 9.15019 3.51901 9.15019H4.62791C4.80342 9.15019 4.94567 9.00806 4.94567 8.83245V7.7237Z" fill="white"/>
														<path d="M7.71674 7.7237C7.71674 7.54833 7.57446 7.40625 7.39929 7.40625H6.29025C6.11494 7.40625 5.97266 7.54833 5.97266 7.7237V8.83245C5.97266 9.00806 6.11494 9.15019 6.29025 9.15019H7.39929C7.57446 9.15019 7.71674 9.00806 7.71674 8.83245V7.7237Z" fill="white"/>
														<path d="M10.4884 7.7237C10.4884 7.54833 10.3461 7.40625 10.1708 7.40625H9.06191C8.88639 7.40625 8.74414 7.54833 8.74414 7.7237V8.83245C8.74414 9.00806 8.88639 9.15019 9.06191 9.15019H10.1708C10.3461 9.15019 10.4884 9.00806 10.4884 8.83245V7.7237Z" fill="white"/>
														<path d="M4.94567 10.4957C4.94567 10.3201 4.80342 10.1781 4.62791 10.1781H3.51901C3.34369 10.1781 3.20142 10.3201 3.20142 10.4957V11.6043C3.20142 11.7798 3.34369 11.9219 3.51901 11.9219H4.62791C4.80342 11.9219 4.94567 11.7797 4.94567 11.6043V10.4957Z" fill="white"/>
														<path d="M7.71674 10.4957C7.71674 10.3201 7.57446 10.1781 7.39929 10.1781H6.29025C6.11494 10.1781 5.97266 10.3201 5.97266 10.4957V11.6043C5.97266 11.7798 6.11494 11.9219 6.29025 11.9219H7.39929C7.57446 11.9219 7.71674 11.7797 7.71674 11.6043V10.4957Z" fill="white"/>
														<path d="M10.4884 10.4957C10.4884 10.3201 10.3461 10.1781 10.1709 10.1781H9.06191C8.88639 10.1781 8.74414 10.3201 8.74414 10.4957V11.6043C8.74414 11.7798 8.88639 11.9219 9.06191 11.9219H10.1709C10.3461 11.9219 10.4884 11.7797 10.4884 11.6043V10.4957Z" fill="white"/>
														<path d="M12.4711 1.55863V3.25216C12.4711 4.01761 11.8501 4.63445 11.0848 4.63445H10.2102C9.44485 4.63445 8.81565 4.01761 8.81565 3.25216V1.55255H4.87394V3.25216C4.87394 4.01761 4.24477 4.63445 3.47948 4.63445H2.60479C1.83947 4.63445 1.21853 4.01761 1.21853 3.25216V1.55863C0.549643 1.57879 0 2.13228 0 2.81259V12.7374C0 13.4305 0.561774 13.9998 1.25487 13.9998H12.4347C13.1268 13.9998 13.6896 13.4294 13.6896 12.7374V2.81259C13.6896 2.13228 13.14 1.57879 12.4711 1.55863ZM12.0649 12.1194C12.0649 12.4189 11.822 12.6619 11.5224 12.6619H2.14331C1.84366 12.6619 1.6008 12.4189 1.6008 12.1194V6.99285C1.6008 6.69321 1.84363 6.45021 2.14331 6.45021H11.5224C11.822 6.45021 12.0649 6.69321 12.0649 6.99285L12.0649 12.1194Z" fill="white"/>
														<path d="M2.60143 3.72676H3.46646C3.72902 3.72676 3.94191 3.51419 3.94191 3.25162V0.475305C3.94191 0.212716 3.72902 0 3.46646 0H2.60143C2.33884 0 2.12598 0.212716 2.12598 0.475305V3.25162C2.12598 3.51419 2.33884 3.72676 2.60143 3.72676Z" fill="white"/>
														<path d="M10.1991 3.72676H11.0641C11.3265 3.72676 11.5394 3.51419 11.5394 3.25162V0.475305C11.5394 0.212716 11.3265 0 11.0641 0H10.1991C9.93652 0 9.72363 0.212716 9.72363 0.475305V3.25162C9.72363 3.51419 9.93652 3.72676 10.1991 3.72676Z" fill="white"/>
													</svg>


												._text Даты:
											._value 12 - 23 октября 2020 г.

				.slider-controls._controls
					._aside
						._pagination.js-slider-pagination
					._main
					._aside
						+slider-nav
	// end main-informer

	// start section-default
	+section-default({
		header: {
			main: {
				heading: {
					title: 'Ключевые сервисы'
				}
			}
		}
	}, {
		class: 'section-default--services page-body__section-default'
	})
		.section-layout
			._body
				._slider
					._grid
						._column

							// start services-card
							a.services-card(href="#").is-small
								._body
									._main
										._icon
											img._img(src="../../assets/img/general/services/5.svg", alt="")
										._title База проектов
										._caption
											p Крупнейшая база инфраструктурных объектов

										._more(href="#") Подобрать проект

									._aside
										img._image(src="../../assets/img/content/services/7.svg", alt="")
							// end services-card

						._column.is-half

							// start services-card
							a.services-card(href="#").is-small
								._body
									._main
										._icon
											img._img(src="../../assets/img/general/services/6.svg", alt="")
										._title База партнёров
										._caption
											p Поиск партнеров на любом этапе подготовки и реализации проекта

										._more(href="#") Найти компанию  или услугу

									._aside
										img._image(src="../../assets/img/content/services/8.svg", alt="")

						._column.is-default

							// start services-card
							a.services-card(href="#")
								._body
									._main
										._icon
											img._img(src="../../assets/img/general/services/1.svg", alt="")
										._title Тренды и аналитика
										._caption
											p Актуальная аналитика по рынку инфраструктуры и ГЧП

										._more(href="#") Смотреть аналитику

						._column.is-default

							// start services-card
							a.services-card(href="#")
								._body
									._main
										._icon
											img._img(src="../../assets/img/general/services/2.svg", alt="")
										._title ГЧП-Академия
										._caption
											p Непрерывное развитие в сфере инфраструктуры и ГЧП

										._more(href="#") Выбрать программу
						._column.is-default

							// start services-card
							a.services-card(href="#")
								._body
									._main
										._icon
											img._img(src="../../assets/img/general/services/3.svg", alt="")
										._title Помощь экспертов
										._caption
											p Онлайн-консультации по вопросам подготовки проектов

										._more(href="#") Найти эксперта
						._column.is-default

							// start services-card
							a.services-card.is-disabled(href="#")
								._body
									._main
										._icon
											img._img(src="../../assets/img/general/services/1.svg", alt="")
										._title Публичные партнеры
										._caption
											p Обзор инвестиционного потенциала публичных партнёров

										._more(href="#") В работе

							// end services-card
	// end section-default

	// start section-default
	.section-default.js-section-slider.page-body__section-default
		._container.container
			.section-header.is-large._header
				._container
					._main
						h2.section-heading._heading
							a._link(href="#") Новости
								i.fe.fe-chevron-right.section-heading__icon
					._aside
						.nav-menu._menu
							ul._list
								li._item.is-current
									a._link(href="#") Все новости
								li._item
									a._link(href="#") Федеральные
								li._item
									a._link(href="#") Региональные
								li._item
									a._link(href="#") Международные
								li._item
									a._link(href="#") Обновления на платформе
								li._item
									a._link(href="#") Анонсы мероприятия

			.section-body._body
				.section-slider
					._body.js-section-slider-news
						._wrapper.js-slider-wrapper
							._slide.js-slider-slide
								// start article-card
								.article-card.is-slider
									._header
										a._photo.-secondary(href='#' title='')
											img.img-cover._img(src='__static__img/content/articles/37.jpg' alt='')

									._body
										._content
											h3._heading
												a._link(href='' title='') Российским аэропортам компенсируют потерянных пассажиров

										._footer
											.card-properties
												._item Международные
												._item 13 мая 2020
								// end article-card
							._slide.js-slider-slide
								// start article-card
								.article-card.is-slider
									._header
										a._photo.-secondary(href='#' title='')
											img.img-cover._img(src='__static__img/content/articles/38.jpg' alt='')

									._body
										._content
											h3._heading
												a._link(href='' title='') «Дочка» «Ростеха» может получить контроль над комплексами фиксации нарушений ПДД по всей стране

										._footer
											.card-properties
												._item Международные
												._item 13 мая 2020
								// end article-card
							._slide.js-slider-slide
								// start article-card
								.article-card.is-slider
									._header
										a._photo.-secondary(href='#' title='')
											img.img-cover._img(src='__static__img/content/articles/39.jpg' alt='')

									._body
										._content
											h3._heading
												a._link(href='' title='') Управляющий партнер МИГ рассказал об особенностях создания в России государственно-частной...

										._footer
											.card-properties
												._item Международные
												._item 13 мая 2020
								// end article-card
							._slide.js-slider-slide
								// start article-card
								.article-card.is-slider
									._header
										a._photo.-secondary(href='#' title='')
											img.img-cover._img(src='__static__img/content/articles/40.jpg' alt='')

									._body
										._content
											h3._heading
												a._link(href='' title='') Мэрия Екатеринбурга сократила траты на проект второй ветки метро

										._footer
											.card-properties
												._item Международные
												._item 13 мая 2020
								// end article-card
							._slide.js-slider-slide
								// start article-card
								.article-card.is-slider
									._header
										a._photo.-secondary(href='#' title='')
											img.img-cover._img(src='__static__img/content/articles/6.jpg' alt='')

									._body
										._content
											h3._heading
												a._link(href='' title='') Власти Пермского края предлагают бизнесу построить больницы на 8 млрд рублей

										._footer
											.card-properties
												._item Международные
												._item 13 мая 2020
								// end article-card


						.slider-controls._controls
							._aside
								+slider-counter
							._main
							._aside
								+slider-nav
	// end section-default

	// start section-default
	.section-default.js-section-slider.page-body__section-default
		._container.container
			.section-header._header
				._container
					._main
						h2.section-heading._heading
							a._link(href="#") Мнения экспертов
								i.fe.fe-chevron-right.section-heading__icon

			.section-body._body
				.section-slider
					._body.js-expert-slider
						._wrapper.js-slider-wrapper
							._slide.js-slider-slide
								// start card-view
								.card-view.is-slider.-small
									._header
										span._title Управляющий партнер МИГ рассказал об особенностях создания в России государственно-частной медицины
									._body
										.user._user
											._photo
												img._img(src="../../assets/img/content/avatars/13.jpg", alt="")
											._data
												span._name Илья Иванов

										._actions
											.meta.-dotted Мнения
											.meta 13 мая 2020
									// end card-view
							._slide.js-slider-slide
								// start card-view
								.card-view.is-slider.-small
									._header
										span._title УК «Платная дорога» назвала меры, которые помогут снизить негативное влияние пандемии на рынок ГЧП
									._body
										.user._user
											._photo
												img._img(src="../../assets/img/content/avatars/14.jpg", alt="")
											._data
												span._name Вадим Коваленко

										._actions
											.meta.-dotted Мнения
											.meta 13 мая 2020
									// end card-view
							._slide.js-slider-slide
								// start card-view
								.card-view.is-slider.-small
									._header
										span._title Перерыв на карантин: как обосновать приостановку инфраструктурных проектов
									._body
										.user._user
											._photo
												img._img(src="../../assets/img/content/avatars/15.jpg", alt="")
											._data
												span._name Анна Батуева

										._actions
											.meta.-dotted Мнения
											.meta 13 мая 2020
									// end card-view
							._slide.js-slider-slide
								// start card-view
								.card-view.is-slider.-small
									._header
										span._title В регионах считают, что после карантина нужно активно инвестировать в инфраструктуру
									._body
										.user._user
											._photo
												img._img(src="../../assets/img/content/avatars/16.jpg", alt="")
											._data
												span._name Лев Решетников

										._actions
											.meta.-dotted Мнения
											.meta 13 мая 2020
									// end card-view

							._slide.js-slider-slide
								// start card-view
								.card-view.is-slider.-small
									._header
										span._title УК «Платная дорога» назвала меры, которые помогут снизить негативное влияние пандемии на рынок ГЧП
									._body
										.user._user
											._photo
												img._img(src="../../assets/img/content/avatars/7.jpg", alt="")
											._data
												span._name Вадим Коваленко

										._actions
											.meta.-dotted Мнения
											.meta 13 мая 2020
									// end card-view


						.slider-controls._controls
							._aside
								+slider-counter
							._main
							._aside
								+slider-nav
	// end section-default

	// start section-default
	//- +section-default({
	//-   header: {
	//-     main: {
	//-       heading: {
	//-         href: '#',
	//-         title: 'Ближайшие мероприятия'
	//-       },
	//-     }
	//-   },
	//-   menu: [{
	//-     href: '#',
	//-     title: 'Все',
	//-     isActive: true
	//-   }, {
	//-     href: '#',
	//-     title: 'Международные'
	//-   }, {
	//-     href: '#',
	//-     title: 'Общероссийские'
	//-   }, {
	//-     href: '#',
	//-     title: 'Региональные'
	//-   }, {
	//-     href: '#',
	//-     title: 'Образовательные'
	//-   }]
	//- }, {
	//-   class: 'js-section-slider page-body__section-default'
	//- })
	//-   +section-slider({
	//-     slides: db_events
	//-   })
	// end section-default


	// start section-default
	+section-default({
		header: {
			main: {
				heading: {
					type: 'is-centered',
					title: 'Платформу уже используют'
				}
			}
		}
	}, {
		class: 'js-section-slider page-body__section-default'
	})
		+section-slider({
			type: 'partners',
			className: 'js-section-slider-partners',
			slides: db_partners,
			controls: true,
			controlsMobile: true
		}, {
			class: 'section-default__slider is-partners'
		})
	// end section-default

	// start section-default
	+section-default({}, {
		class: 'is-accent page-body__section-default'
	})
		.section-default__header.is-default
			.section-default__heading.is-default Заказать демонстрацию
			span.section-default__label Заполните форму обратной связи или свяжитесь с нами по контактам, указанным ниже, чтобы заказать демонстрацию платформы

		form.form-box-inline.-secondary(action='#' method='post')
			._body
				._grid
					._column
						+input-text({
							placeholder: 'Введите ФИО*',
							theme: 'is-round',
							size: 'is-large'
						})

					._column
						+input-text({
							type: 'email',
							placeholder: 'E-mail*',
							theme: 'is-round',
							size: 'is-large'
						})

					._column
						+input-text({
							type: 'tel',
							placeholder: 'Номер телефона*',
							theme: 'is-round',
							size: 'is-large'
						})

					._column.is-button
						+button({
							type: 'is-primary is-round',
							title: 'Отправить'
						}, {
							class: 'form-box-inline__button'
						})

				.form-agree._agree Нажимая на кнопку “Отправить” вы подтверждаете что ознакомлен(-ы) с политикой конфиденциальности и даёте согласие на обработку персональных данных согласно ФЗ №54
	// end section-default

	// start section-feedback
	//- +section-feedback({
	//-   heading: 'Заказать демонстрацию',
	//-   caption: 'Заполните форму обратной связи или свяжитесь с нами по контактам, указанным ниже, чтобы заказать демонстрацию платформы',
	//-   contacts: {
	//-     title: 'Контактная информация',
	//-     items: [{
	//-       icon: 'phone',
	//-       value: '+7 (495) 988-77-07',
	//-       href: 'tel:+74959887707',
	//-       title: 'Позвонить',
	//-       label: 'контактный телефон'
	//-     }, {
	//-       icon: 'email',
	//-       value: 'common@pppcenter.ru',
	//-       href: 'mailto:common@pppcenter.ru',
	//-       title: 'Написать',
	//-       label: 'адрес электронной почты'
	//-     }, {
	//-       icon: 'address',
	//-       value: 'г. Москва ул. Садовническая, д. 39 стр. 13',
	//-       label: 'юридический и фактический  адрес'
	//-     }]
	//-   },
	//-   form: {
	//-     title: 'Заполните контактные данные для связи',
	//-     fields: [{
	//-       name: 'name',
	//-       type: 'text',
	//-       placeholder: 'Введите ФИО*',
	//-       theme: 'is-large'
	//-     }, {
	//-       name: 'email',
	//-       type: 'email',
	//-       placeholder: 'E-mail*',
	//-       theme: 'is-large'
	//-     }, {
	//-       name: 'tel',
	//-       type: 'tel',
	//-       placeholder: 'Номер телефона*',
	//-       theme: 'is-large'
	//-     }],
	//-     agree: {
	//-       type: 'checkbox',
	//-       name: 'agree',
	//-       label: 'Нажимая на кнопку “Отправить” вы подтверждаете что ознакомлен(-ы) с политикой конфиденциальности и даёте согласие на обработку персональных данных согласно ФЗ №54'
	//-     },
	//-     button: {
	//-       title: 'Отправить заявку',
	//-       type: 'is-primary is-round'
	//-     }
	//-   }
	//- }, {
	//-   class: 'page-body__section-feedback'
	//- })
	// end section-feedback

