extends template

block append settings
  -
    page.title = 'Заглушка';

block page-body

  <div class="stub">
    <div class="container stub__container">
      <div class="stub__inner">

        <img src="__static__img/general/mp-work.gif" alt="" class="stub__img">

        <div class="stub__title">Мероприятие временно недоступно</div>
        <div class="stub__caption">Мы ведем работы по усовершенствованию сервиса, чтобы он был удобнее и функциональнее.
        </div>
      </div>
    </div>
  </div>

