doctype html
html(class="no-js" lang="ru")

  block settings
    -
      var page = {
          title: 'Default title',
          isShortFooter: false
      };

      var isHomepage = false;

  include ../components/page-header/page-header
  include ../components/page-search/page-search
  include ../components/page-footer/page-footer

  include ../components/panel-search/panel-search

  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title= page.title
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(content="telephone=no" name="format-detection")
    //- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers
    meta(name="HandheldFriendly" content="true")

    | <!--[if IE 8 ]><link href="%=static=%css/main_ie8%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><![endif]-->
    | <!--[if IE 9 ]><link href="%=static=%css/main_ie9%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><![endif]-->
    | <!--[if (gt IE 9)|!(IE)]><!--><link href="%=static=%css/main%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><!--<![endif]-->

    meta(property="og:title" content="#{data.title}")
    meta(property="og:title" content="")
    meta(property="og:url" content="")
    meta(property="og:description" content="")
    meta(property="og:image" content="")
    meta(property="og:image:type" content="image/jpeg")
    meta(property="og:image:width" content="500")
    meta(property="og:image:height" content="300")
    meta(property="twitter:description" content="")
    link(rel="image_src" href="")

    link(rel="icon" type="image/x-icon" href="/favicon.ico")
    script.
        (function (H) {
            H.className = H.className.replace(/\bno-js\b/, 'js')
        })(document.documentElement)
    | <!--[if lt IE 9 ]><script src="%=static=%js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar"><![endif]-->

  body.page(class=(page.title === 'Главная страница' ? 'is-homepage' : ''))#body
    |%=symbols=%

    ._aside.js-page-aside
      +panel-search(superSearch)

    ._wrapper.js-page-wrapper

      // start page-header
      +page-header({
        className: 'page__header'
      })
      // end page-header

      // start page-search
      +page-search(pageSearch, {
        class: 'page__search'
      })
      // end page-search

      // start page-body
      .page-body._body
        block page-body
      // end page-body

      // start page-footer
      +page-footer({
        className: 'page__footer'
      })
      // end page-footer

    .filter-menu._filter.slideout-menu-right.js-filter-aside

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous")
    script(src='%=static=%js/main%=hash=%%=min=%.js')
    script(src='%=static=%js/separate-js/app.js')
