.ui-title {
  margin: 0;
  color: var(--primary-color);
  font-weight: 500;
  line-height: 1.2;

  & > .ui-link {
    color: inherit;
  }

  &_type {
    &_h1 {
      font-size: var(--font-size-h1);
    }

    &_h2 {
      font-size: var(--font-size-h2);

      & > .ui-link {
        color: inherit;

        &:hover::after {
          width: calc(100% - 28px);
        }

        .fe {
          margin-left: 5px;
          font-size: .65em;
          font-weight: 700;
        }
      }
    }

    &_h3 {
      font-size: var(--font-size-h3);

      @include breakpoint($lg-breakpoint){
        br{
          display: none;
        }
      }

      &.is-mobile{
        font-size: 18px;

        @include breakpoint($sm-breakpoint){

          br{
            display: none;
          }
        }

        @include breakpoint($lg-breakpoint){
          font-size: var(--font-size-h3);
        }
      }
    }

    &_h4 {
      font-size: var(--font-size-h4);
    }

    &_h5 {
      font-size: var(--font-size-h5);
    }

    &_h6 {
      font-size: var(--font-size-h6);
      line-height: 1.35;

      &.is-mobile{
        display: block;
        font-size: 16px;
        max-width: 270px;

        @include breakpoint($sm-breakpoint){
          max-width: none;

          br{
            display: none;
          }
        }

        @include breakpoint($lg-breakpoint){
          font-size: var(--font-size-h3);
          padding-right: 0;
        }
      }
    }

    &_d1 {
      font-size: var(--font-size-d1);
      line-height: 1.3;

      @include breakpoint($sm-breakpoint) {
        line-height: 1.2;
      }
    }

    &_d2 {
      font-size: var(--font-size-d2);
    }

    &_d3 {
      font-size: var(--font-size-d3);
      font-weight: 600;
    }

    &_d4 {
      font-size: var(--font-size-d4);
      font-weight: 600;
    }

    &_d5 {
      font-size: var(--font-size-d5);
      font-weight: 600;
    }

    &_d6 {
      font-size: var(--font-size-d6);
      font-weight: 600;
      line-height: 1.35;
    }

    &_xs {
      font-size: 12px;

      @include breakpoint($md-breakpoint) {
        font-size: 14px;
      }

      @include breakpoint($lg-breakpoint) {
        font-size: 16px;
      }
    }

    &_group {
      font-size: 16px;

      @include breakpoint($xl-breakpoint) {
        font-size: 16px;
      }
    }

    &_aside {
      font-size: 20px;
    }
  }
}
