mixin ui-title(data, attrs)
  -
    data = data || {};
    attrs = attrs || {};

    var tag = data.tag || 'div';
    var type = data.type || 'h2';

  #{tag}.ui-title(class=`ui-title_type_${type}`)&attributes(attrs)
    block
