.review-card {
  padding: 20px;
  height: 100%;
  background-color: $bg-color;
  border-radius: 10px;

  @include breakpoint($lg-breakpoint) {
    padding: 30px;
  }

  @include breakpoint($xl-breakpoint) {
    padding: 40px;
  }

  &__body {
    @include breakpoint($lg-breakpoint) {
      display: flex;
    }
  }

  &__aside {
    margin-bottom: 20px;

    @include breakpoint($lg-breakpoint) {
      flex: 0 0 300px;
      max-width: 300px;
      margin-right: 40px;
      margin-bottom: 0;
    }
  }

  &__main {
    @include breakpoint($lg-breakpoint) {
      flex: 1 1 auto;
      min-width: 0;
    }

    @include breakpoint($xl-breakpoint) {
      padding-top: 5px;
    }
  }

  &__caption {
    margin: 0;
    font-size: 12px;
  }

  &__expert-preview {
    .expert-preview {
      &__name {
        margin-bottom: 5px;
      }

      &__caption {
        margin-top: 0;
        color: $gray2-color;
        //font-size: 12px;
        font-size: 9px;

        @include breakpoint($md-breakpoint) {
          font-size: 12px;
        }
      }
    }
  }

  &__content {
    position: relative;
    z-index: 1;

    @include breakpoint($lg-breakpoint) {
      padding-left: 23px;
      padding-top: 5px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 12px;
        height: 11px;
        background-image: url('data:image/svg+xml,%3Csvg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M2.78471 5.07486V6.0034H5.19798V11H0V6.0034H0.000125635V5.07486C0.000125635 3.18932 0.56448 1.78922 1.67761 0.91321C2.44763 0.307241 3.42231 0 4.57464 0V2.67665C3.9491 2.67665 2.78471 2.67665 2.78471 5.07486ZM11.3767 2.67665V0C10.2245 0 9.24978 0.307241 8.47976 0.91321C7.36663 1.78922 6.80221 3.18938 6.80221 5.07486V6.0034V11H12V6.0034H9.58673V5.07486C9.5868 2.67665 10.7512 2.67665 11.3767 2.67665Z" fill="%239199B5"/%3E%3C/svg%3E%0A');
      }
    }

    @include breakpoint($lg-breakpoint) {
      &::after {
        content: '';
        position: absolute;
        top: -15px;
        right: 0;
        z-index: -1;
        width: 98px;
        height: 86px;
        background-image: url('data:image/svg+xml,%3Csvg width="98" height="86" viewBox="0 0 98 86" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath opacity="0.7" d="M0 0H29.6741L51.2089 86H24.9262L0 0ZM51.2089 0H80.8829L98 86H71.7177L51.2089 0Z" fill="white"/%3E%3C/svg%3E%0A');
      }
    }

  }

  &__caption {
    color: $primary-color;
    line-height: 1.5;

    @include breakpoint($md-breakpoint) {
      font-size: 14px;
    }

    @include breakpoint($lg-breakpoint) {
      font-size: 16px;
    }

    @include breakpoint($lg-breakpoint) {
      font-size: 18px;
    }
  }
}
