mixin review-card(data)
  .review-card
    ._body
      ._aside
        .expert-preview._expert-preview
          ._header
            ._photo
              img._img(src=data.img alt=data.name)

            ._content
              p.card-title._name= data.name
              p._caption= data.post
      ._main
        ._content
          p._caption= data.caption
