include feedback-form/feedback-form

mixin section-feedback(data, attrs)
  section.section-feedback&attributes(attrs)
    ._container.container
      ._main
        ._header
          h2.section-heading._heading= data.heading
          p._caption= data.caption

        ._content
          .contacts-box._contacts-box
            h3._title= data.contacts.title
            ul._list
              each item in data.contacts.items
                li._item
                  ._icon
                    .icon(class=`is-${item.icon}`)

                  ._content
                    if (item.href)
                      a._value(href=item.href title=item.title)= item.value
                    else
                      ._value= item.value

                    ._label= item.label

      ._aside
        +feedback-form(data.form)
