.section-feedback {
  padding: 25px 0;
   background-color: $bg-color;

  //background: url(../img/content/feedback-bg.jpg) no-repeat;
  //background-size: cover;

  @include breakpoint($lg-breakpoint) {
    padding: 35px 0;
  }

  @include breakpoint($xl-breakpoint) {
    padding: 55px 0;
  }

  &__container {
    @include breakpoint($lg-breakpoint) {
      display: flex;
    }
  }

  &__main {
    @include breakpoint($lg-breakpoint) {
      display: flex;
      flex-direction: column;
      flex: 1 1 40%;
      max-width: 40%;
      padding: 9px 0 0;
    }
  }

  &__aside {
    margin-top: 25px;

    @include breakpoint($lg-breakpoint) {
      flex: 1 1 60%;
      max-width: 60%;
      margin-top: 0;
      padding-left: 35px;
    }
  }

  &__header {
    flex: 1 1 auto;
    min-width: 0;
  }

  &__content {
    flex: 0 0 auto;
    margin-top: 20px;
  }

  &__heading {
    margin: 0 0 15px;

    @include breakpoint($xl-breakpoint) {
      margin-bottom: 32px;
    }
  }

  &__caption {
    margin: 0;
    max-width: 480px;
  }
}
