include ../tariff-card/tariff-card

mixin section-tariffs(data, attrs)
  section.section-tariffs&attributes(attrs)
    ._container.container
      ._aside
        ._header
          h2.section-heading._heading Тарифы:

        ul._list.js-tarrif-column
          each item in data[0].props
            li._item.js-tarrif-row(class=item.type)= item.label
              if (item.label !== 'Цена квартальной подписки:')
                .help._help
                  ._icon
                  ._content Индивидуально подберем эксперта для консультации по интересующему вас вопросу. Подписка указывает на количество доступных часов

        .hint._hint * Не облагается НДС

      ._main
        ._inner
          ._grid
            each item in data
              ._column
                +tariff-card(item)
