.section-tariffs {
  padding: 25px 0;
  color: $primary-color;

  @include breakpoint($lg-breakpoint) {
    padding: 35px 0;
  }

  @include breakpoint($xl-breakpoint) {
    padding: 108px 0 50px;
  }

  &__container {
    display: flex;

    @include breakpoint($lg-breakpoint) {
      // display: flex;
    }
  }

  &__aside {
    display: flex;
    flex-direction: column;
    flex: 0 0 53%;
    max-width: 53%;

    @include breakpoint($xs-breakpoint){
      flex: 0 0 45%;
      max-width: 45%;
    }

    @include breakpoint($lg-breakpoint) {
      display: flex;
      flex-direction: column;
      flex: 0 0 22%;
      max-width: 22%;
      padding: 0 15px 20px 0;
    }

    @include breakpoint($xl-breakpoint) {
      flex: 0 0 25%;
      max-width: 25%;
      padding: 0 17px 25px 0;
    }
  }

  &__main {
    display: flex;
    min-width: 0;

    @include breakpoint($lg-breakpoint) {
      flex: 1 1 78%;
      max-width: 78%;
      padding-top: 66px;
    }

    @include breakpoint($xl-breakpoint) {
      flex: 1 1 75%;
      max-width: 75%;
    }
  }

  &__inner {
    margin-left: -7.5px;
    margin-right: -7.5px;
    overflow: hidden;

    margin-top: -10px;
    margin-bottom: -10px;

    @include breakpoint($lg-breakpoint) {
      margin-left: 0;
      margin-right: 0;
      padding: 0 15px 15px;
      background: $bg-color;
      border-radius: 5px;

      overflow: visible;

      width: 100%;

    }

    @include breakpoint($xl-breakpoint) {
      padding: 0 25px 25px;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &__grid {
    display: flex;

    @include breakpoint($lg-breakpoint) {
      flex-wrap: wrap;
      margin-left: -7.5px;
      margin-right: -7.5px;
    }

    @include breakpoint($xl-breakpoint) {
      margin-left: -12.5px;
      margin-right: -12.5px;
    }
  }

  &__column {
    flex-shrink: 0;
    width: 100%;
    padding-left: 7.5px;
    padding-right: 7.5px;

    padding-bottom: 10px;
    padding-top: 10px;

    @include breakpoint($lg-breakpoint) {
      flex: 1 1 33.33%;
      max-width: 33.33%;
      margin-top: -66px;
      width: auto;
    }

    @include breakpoint($xl-breakpoint) {
      padding-left: 12.5px;
      padding-right: 12.5px;
    }
  }

  &__header {
    margin-bottom: 10px;
    margin-top: 10px;
    // text-align: center;

    @include breakpoint($lg-breakpoint) {
      margin-bottom: 7px;
      padding: 10px 0;
      text-align: left;
    }

    @include breakpoint($xl-breakpoint) {
      padding: 14px 0;
      margin-bottom: 25px;
      margin-top: 0;
    }
  }

  &__heading {
    margin: 0;
  }

  &__list {
    // display: none;
    padding: 0;
    margin: 0;

    @include breakpoint($lg-breakpoint) {
      flex: 1 1 auto;
      margin: 0;
      padding-left: 0;
      display: block;
      list-style: none;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    position: relative;
    // padding: 7px 25px 7px 0;
    color: $muted-color;
    // font-weight: 500;
    line-height: 1.3;

    font-size: 10px;
    padding: 7px 14px 7px 0;

    @include breakpoint($md-breakpoint){
      font-size: 14px;
    }

    @include breakpoint($xl-breakpoint){
      font-size: 15px;
      padding: 7px 25px 7px 0;
      font-weight: 500;
    }

    &.is-primary {
      color: #23346B;
      // font-size: 16px;
      font-weight: 500;
      font-size: 11px;

      @include breakpoint($md-breakpoint){
        font-size: 15px;
      }

      @include breakpoint($xl-breakpoint){
        font-size: 16px;
      }
    }

    &.is-bordered{
      border-top: 1px solid $border-color;
    }

    &.is-last{
      padding-bottom: 23px;
    }

    &:first-child{

      margin-bottom: -10px;
      margin-top: 10px;
    }

    &.is-cost{
      padding-top: 25px;
      padding-bottom: 10px;
      margin-right: 10px;
      margin-top: -2px;
      // padding-top: 30px;

      @include breakpoint($xl-breakpoint){
        padding-top: 30px;
      }
    }
  }

  &__help {
    position: absolute;
    top: 10px;
    right: 0;

    display: none;

    @include breakpoint($lg-breakpoint){
      display: block;
    }
  }

  &__hint {
    margin-top: -25px;

    @include breakpoint($lg-breakpoint) {
      
      margin-top: -15px;
    }

    @include breakpoint($md-breakpoint){
      margin-top: -25px;
    }

    @include breakpoint($xl-breakpoint){
      margin-top: -35px;
    }
  }

  .hint{
    // padding-left: 25px;
    padding-left: 20px;

    font-size: 10px;

    @include breakpoint($md-breakpoint){
      padding-left: 25px;
    }

    @include breakpoint($xl-breakpoint){
      font-size: 14px;
    }

    &:before{
      content: '';
      top: 1px;
      width: 11px;
      height: 11px;
      background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 0C2.46734 0 0 2.46734 0 5.5C0 8.53266 2.46734 11 5.5 11C8.53266 11 11 8.53266 11 5.5C11 2.46734 8.53264 0 5.5 0ZM5.85776 8.76328C5.59646 8.80684 5.07652 8.91564 4.81249 8.9375C4.58901 8.95601 4.37811 8.82808 4.24954 8.64444C4.12065 8.46082 4.08976 8.22583 4.16628 8.01501L5.20592 5.15626H4.12499C4.12407 4.56057 4.57088 4.12258 5.14235 3.95448C5.41506 3.87424 5.92316 3.76444 6.18748 3.78127C6.34584 3.79134 6.62187 3.89069 6.75043 4.07434C6.87933 4.25796 6.91022 4.49295 6.83369 4.70376L5.79405 7.56252H6.87465C6.87486 8.15751 6.44471 8.66546 5.85776 8.76328ZM6.18748 3.43751C5.80778 3.43751 5.49998 3.12966 5.49998 2.75C5.49998 2.37029 5.80778 2.06249 6.18748 2.06249C6.56719 2.06249 6.87499 2.37029 6.87499 2.75C6.87499 3.12969 6.56721 3.43751 6.18748 3.43751Z' fill='%23B52528'/%3E%3C/svg%3E%0A");
      
      @include breakpoint($md-breakpoint){
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0.000976562C3.58886 0.000976562 0 3.58983 0 8.00098C0 12.4121 3.58886 16.001 8 16.001C12.4111 16.001 16 12.4121 16 8.00098C16 3.58983 12.4111 0.000976562 8 0.000976562ZM8.52038 12.7476C8.1403 12.8109 7.38403 12.9692 6.99999 13.001C6.67492 13.0279 6.36815 12.8418 6.18115 12.5747C5.99367 12.3076 5.94874 11.9658 6.06005 11.6592L7.57225 7.50099H5.99998C5.99864 6.63454 6.64855 5.99745 7.47978 5.75295C7.87645 5.63624 8.61551 5.47653 8.99998 5.501C9.23032 5.51565 9.63181 5.66017 9.81881 5.92728C10.0063 6.19437 10.0512 6.53617 9.93992 6.84281L8.42771 11.001H9.9995C9.9998 11.8664 9.37413 12.6053 8.52038 12.7476ZM8.99998 5.00098C8.44768 5.00098 7.99997 4.55322 7.99997 4.00098C7.99997 3.44868 8.44768 3.00097 8.99998 3.00097C9.55228 3.00097 9.99998 3.44868 9.99998 4.00098C9.99998 4.55325 9.55231 5.00098 8.99998 5.00098Z' fill='%23B52528'/%3E%3C/svg%3E%0A");
        
        @include breakpoint($xl-breakpoint){
          transform: translate3d(tx, ty, tz);
        }

      }
    }
  }
}