.subscribe-form {
  &__header {
    margin-bottom: 25px;
  }

  &__hint {
    position: relative;
    padding-left: 32px;
    font-size: 14px;
    font-weight: 500;

    @include breakpoint($lg-breakpoint) {
      font-size: 16px;
    }

    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: 0;
      width: 22px;
      height: 23px;
      background-image: url('data:image/svg+xml,%3Csvg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M11 0.5C4.93468 0.5 0 5.43468 0 11.5C0 17.5653 4.93468 22.5 11 22.5C17.0653 22.5 22 17.5653 22 11.5C22 5.43468 17.0653 0.5 11 0.5ZM11.7155 18.0266C11.1929 18.1137 10.153 18.3313 9.62499 18.375C9.17801 18.412 8.75621 18.1562 8.49909 17.7889C8.24129 17.4216 8.17952 16.9517 8.33257 16.53L10.4118 10.8125H8.24998C8.24813 9.62115 9.14175 8.74515 10.2847 8.40896C10.8301 8.24849 11.8463 8.02888 12.375 8.06254C12.6917 8.08268 13.2437 8.28139 13.5009 8.64867C13.7587 9.01592 13.8204 9.48589 13.6674 9.90752L11.5881 15.625H13.7493C13.7497 16.815 12.8894 17.8309 11.7155 18.0266ZM12.375 7.37501C11.6156 7.37501 11 6.75933 11 6C11 5.24059 11.6156 4.62499 12.375 4.62499C13.1344 4.62499 13.75 5.24059 13.75 6C13.75 6.75937 13.1344 7.37501 12.375 7.37501Z" fill="white"/%3E%3C/svg%3E%0A');
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;

    @include breakpoint($lg-breakpoint) {
      margin-left: -12.5px;
      margin-right: -12.5px;
    }

    @include breakpoint($xl-breakpoint) {
      margin-left: -17.5px;
      margin-right: -17.5px;
    }

    &:last-child {
      margin-bottom: -15px;

      @include breakpoint($lg-breakpoint) {
        margin-bottom: -25px;
      }

      @include breakpoint($xl-breakpoint) {
        margin-bottom: -35px;
      }
    }
  }

  &__column {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;

    @include breakpoint($sm-breakpoint) {
      flex-basis: 50%;
      max-width: 50%;
    }

    @include breakpoint($lg-breakpoint) {
      flex-basis: 33.3334%;
      max-width: 33.3334%;
      padding-left: 12.5px;
      padding-right: 12.5px;
      margin-bottom: 25px;
    }

    @include breakpoint($xl-breakpoint) {
      margin-bottom: 35px;
      padding-left: 17.5px;
      padding-right: 17.5px;
    }
  }

  &__button {
    width: 100%;
    height: 100%;
  }
}
