include ../input-text/input-text
include ../button/button

mixin subscribe-form(data, attrs)
  form.subscribe-form&attributes(attrs)
    ._header
      ._hint= data.hint

    ._body
      ._grid
        ._column
          +input-text({
            name: 'name',
            placeholder: 'Введите Ваше ФИО',
            theme: 'is-white-round'
          })

        ._column
          +input-text({
            type: 'email',
            name: 'email',
            placeholder: 'Введите Ваш E-mail',
            theme: 'is-white-round'
          })

        ._column
          +button({
            type: 'is-primary',
            title: 'Оформить подписку на анонсы'
          }, {
            class: 'subscribe-form__button'
          })
