.ui-control {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  line-height: 1.2;
  vertical-align: middle;

  font-size: 14px;

  &:hover{
    cursor: pointer;

    .ui-control__toggle{
      transition: 0.5s;
      border-color: #BDC2D3;
    }

    .ui-control{
      &__label{
        transition: 0.5s;
        color: #23346B;
      }
    }
  }


  .ui-control__input[type='checkbox']:checked~.ui-control__label{
    color: #23346B;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);

    &[type='checkbox'] {
      & ~ .ui-control {
        &__toggle {
          &::before {
            content: '\e92b';
            @extend .fe;
            font-weight: 700;
            opacity: 0;
          }
        }
      }
    }

    &:checked {
      & ~ .ui-control {
        &__toggle {
          color: var(--white-color);
          border-color: var(--body-color);
          background-color: var(--body-color);

          &::before {
            opacity: 1;
          }
        }
      }
    }
  }

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    font-size: var(--font-size-xxs);
    border: 2px solid var(--border-color-dark);
    background-color: var(--white-color);
    cursor: pointer;
    border-radius: 3px;
    transition: 0.5s;

    @include breakpoint($md-breakpoint) {
      width: 16px;
      height: 16px;
    }

    // @include breakpoint($xl-breakpoint) {
    //   width: 18px;
    //   height: 18px;
    // }

    &:last-child {
      margin-right: 0;
    }
  }

  &__label {
    flex: 1 1 auto;
    min-width: 0;
    position: relative;
    top: -1px;
    color: #9199B5;
    transition: 0.5s;
    font-size: 15px;
  }


  &_type {
    &_muted {
      color: var(--muted-color);
      font-size: 11px;
      font-weight: 600;
      text-transform: uppercase;

      .ui-control__label {
        position: relative;
        top: 3px;
      }
    }
  }
}
