mixin ui-control(data)
  -
    data = data || {};

    var theme = data.theme ? `ui-input_type_${data.theme}` : 'ui-input_type_primary';
    var type = data.type || 'checkbox';

  label.ui-control(class=data.theme)&attributes(attrs)
    input._input(type=type name=data.name checked=data.checked)
    span._toggle
    span._label= data.label
