include ../../social-buttons/social-buttons

mixin footer-content(data)
	.footer-content(class=data.className)

		._container.container
			._main
				._content
					+social-buttons([{
						href: '#',
						title: 'Яндекс.Дзен',
						icon: 'dzen'
					}, {
						href: '#',
						title: 'Facebook',
						icon: 'facebook'
					}, {
						href: '#',
						title: 'Telegram',
						icon: 'telegram'
					}])
					

			._aside
				
				.contacts-box.-inline._contacts-box
					ul._list
						li._item
							._icon.-small
								.icon.is-address

							._content
								._value 127006, г. Москва, ул. Малая Дмитровка, дом 16, стр.6
								._label юридический и фактический  адрес


							a._mobile(href="#" data-remodal-target="map")
								.icon.is-address
								span._mobile-value Показать адрес


						li._item
							._icon.-small
								.icon.is-phone

							._content
								a._value(href="tel:+74959887713") +7 (495) 988 77 13
								._label контактный телефон

							a._mobile(href="tel:+74959887713")
								.icon.is-phone
								span._mobile-value Позвонить

						li._item
							._icon.-small
								.icon.is-email

							._content
								a._value(href="mailto:info@rosinfra.ru") info@rosinfra.ru
								._label e-mail адрес

							a._mobile(href="mailto:info@rosinfra.ru")
								.icon.is-email
								span._mobile-value Написать



<div class="modal" data-remodal-id="map">
		<button class="modal__close" data-remodal-action="close"></button>

		<div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.ru/maps/213/moscow/house/ulitsa_malaya_dmitrovka_16s6/Z04YcAdmQEADQFtvfXt2cXpgbQ==/?ll=37.606955%2C55.770639&sll=37.622504%2C55.753215&sspn=1.972046%2C0.653666&utm_medium=mapframe&utm_source=maps&z=17.14" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Малая Дмитровка, 16с6 — Яндекс.Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCQhm6QDxD" width="100%" height="400" frameborder="0" allowfullscreen="true" style="position:relative;"></iframe></div>
</div>