.footer-content {
  // padding: 30px 0;
  color: $muted-color;
  font-size: 12px;
  text-align: center;
  overflow: hidden;

  // @include breakpoint($sm-breakpoint) {
  //   padding: 30px 0;
  //   font-size: 14px;
  // }

  @include breakpoint($md-breakpoint) {
    // text-align: left;
    margin-top: 30px;
    border-top: 1px solid #F2F3F6;
  }

  @include breakpoint($lg-breakpoint){
    padding: 30px 0;
  }

  @include breakpoint($xl-breakpoint) {
    padding: 85px 0 50px;
    margin-top: 0;
    border: 0;
  }

  &__container {

    padding: 0;

    @include breakpoint($md-breakpoint) {
      display: flex;
      align-items: center;
    }

    @include breakpoint($lg-breakpoint){
      padding: 0 15px;
    }
  }

  &__main {
    margin-left: auto;

    display: none;

    @include breakpoint($lg-breakpoint) {
      display: flex;
      flex: 1 1 auto;
      min-width: 0;
    }
  }

  &__content {
    // @include breakpoint($lg-breakpoint) {
    //   max-width: 745px;
    // }

  }

  &__aside {
    // flex: 0 0 auto;
    // margin-left: 20px;
    margin-top: 0;

    flex: 1 1 auto;

    // @include breakpoint($sm-breakpoint) {
    //   margin-top: 20px;
    // }

    @include breakpoint($md-breakpoint) {
      
      // padding-top: 5px;
    }
  }

  &__title {
    margin: 0 0 5px;
    display: inline-block;
    color: $gray-color;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    vertical-align: middle;

    @include breakpoint($sm-breakpoint) {
      // margin-bottom: 15px;
      // font-size: 15px;
    }
  }

  &__caption {
    margin: 0;
    color: #919AB5;
    font-size: 14px;
  }

  &__label {
    margin: 0 0 5px;
    font-weight: 600;
    color: #505C83;

    @include breakpoint($sm-breakpoint) {
      // margin-bottom: 16px;
    }
  }

  .social-buttons{
    display: none;  

    justify-content: center;
    margin-bottom: 30px;

    @include breakpoint($lg-breakpoint){
      display: flex;
    }

    @include breakpoint($xl-breakpoint){
      justify-content: flex-start;
      margin-bottom: 0;
    }
  }

  .social-buttons__link{
    width: 50px;
    height: 50px;
  }
}
