.select {

  &__remove{
    display: none;
    position: absolute;
    right: 45px;
    top: calc(50% - 8px);
    z-index: 999999999999;
    cursor: pointer;

    &:before{
      content: '';
      display: block;
      width: 16px;
      height: 15px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.14844 2.22754L13.3976 13.4767' stroke='%239199B5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.60352 13.5848L13.8527 2.3357' stroke='%239199B5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }

  select {
    width: 100%;
  }

  .select2-container--default {
    .select2-selection--multiple,
    .select2-selection--single {
      height: 50px;
      outline: 0;
      background-color: $bg-color;
      border: 1px solid #E7E9F0;
      border-radius: 3px;
      box-shadow: inset 0px 1px 3px rgba(35, 52, 107, 0.05);

      .select2-selection__rendered {
        padding-left: 25px;
        padding-right: 35px;
        color: $primary-color;
        line-height: 48px;
      }

      .select2-selection__placeholder {
        color: $muted-color;
      }

      .select2-selection__arrow {
        width: 50px;
        height: 48px;

        b {
          margin-top: -2px;
          border-color: $muted-color transparent transparent transparent;
          border-width: 4px 4px 0 4px;
        }
      }
    }

    .select2-selection--multiple .select2-selection__choice {
      line-height: 1;
    }

    &.select2-container--open {
      .select2-selection--single {
        .select2-selection__arrow b {
          border-width: 0 4px 4px 4px;
          border-color: transparent transparent $muted-color transparent;
        }
      }
    }
  }

  .select2-container--default {
    .select2-selection--single{
      box-shadow: none;
    }
  }

  .select2-selection--multiple .select2-selection__choice{
    display: inline-flex;
    flex-direction: row-reverse;
    font-size: 13px;
    margin-top: 0px !important;
    padding: 7px !important;
    color: #1A295B;
    border: 0 !important;
    background: #FFFFFF !important;
    box-shadow: 0px 0px 5px rgba(35, 52, 107, 0.07) !important;
    border-radius: 3px !important;
  }

  .select2-selection--multiple .select2-selection__choice__remove{
    margin-right: 0 !important;
    margin-left: 2px;
  }

  .select2-selection--multiple .select2-selection__rendered{
    display: flex !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
  }

  .select2-selection--multiple .select2-selection__placeholder, .select2-selection--multiple .select2-selection__rendered {
    color: #9199B5 !important;
  }


  //.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  //  border-top-left-radius: 22px;
  //  border-top-right-radius: 22px;
  //}
  //
  //.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  //  border-bottom-left-radius: 22px;
  //  border-bottom-right-radius: 22px;
  //}
  //
  //.select2-container--default {
  //  .select2-selection--multiple,
  //  .select2-selection--single {
  //    height: 45px;
  //    outline: 0;
  //    border: 1px solid #DDE0E9;
  //    border-radius: 35px;
  //
  //    .select2-selection__rendered {
  //      padding-left: 25px;
  //      padding-right: 35px;
  //      color: $muted-color;
  //      line-height: 44px;
  //    }
  //
  //    .select2-selection__arrow {
  //      width: 35px;
  //      height: 43px;
  //      border-left: 1px solid #DDE0E9;
  //
  //      b {
  //        margin-top: -2px;
  //        border-color: $muted-color transparent transparent transparent;
  //        border-width: 4px 4px 0 4px;
  //      }
  //    }
  //  }
  //
  //  .select2-selection--multiple .select2-selection__choice {
  //    line-height: 1;
  //  }
  //
  //  &.select2-container--open {
  //    .select2-selection--single {
  //      .select2-selection__arrow b {
  //        border-width: 0 4px 4px 4px;
  //        border-color: transparent transparent $muted-color transparent;
  //      }
  //    }
  //  }
  //}

  &.is-large {
    .select2-container--default {
      .select2-selection--multiple,
      .select2-selection--single {
        height: 55px;

        .select2-selection__rendered {
          line-height: 53px;
        }

        .select2-selection__arrow {
          height: 53px;
        }
      }
    }
  }

  &.is-round {
    .select2-container--default {
      .select2-selection--multiple,
      .select2-selection--single {
        border-radius: 25px;
      }
    }
  }

  &.is-white {
    .select2-container--default {
      .select2-selection--multiple,
      .select2-selection--single {
        border-color: $white-color;
        background-color: $white-color;
      }
    }
  }

  &.is-clear {
    .select2-container--default {
      .select2-selection--single {
        height: 28px;
        border: 0;
        background: none;
        border-radius: 0;

        .select2-selection__placeholder {
          color: $muted-color;
          padding-left: 0;
        }

        .select2-selection__rendered {
          padding-left: 0;
          padding-right: 10px;
          color: $primary-color;
          font-weight: 500;
          line-height: 28px;
        }

        .select2-selection__arrow {
          width: auto;
          height: 26px;
          border-left: 0;

          b {
            margin-top: -1px;
          }
        }
      }
    }
  }

  &.is-default {
    .select2-container--default {
      .select2-selection--single {
        border-radius: 3px;
      }

      .select2-selection__rendered {
        padding-left: 14px;
      }
    }
  }

  &.is-secondary-round {
    .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
      border-color: $bg-color;
      background: $bg-color;
      box-shadow: inset 0px 1px 3px rgba(35, 52, 107, 0.05);
    }

    .select2-container--default .select2-selection--multiple .select2-selection__arrow, .select2-container--default .select2-selection--single .select2-selection__arrow {
      border-left: 0;
    }
  }
}

.select2-container {
  .select2-dropdown {
    border: 1px solid #E7E9F0;
  }

  .select2-search--dropdown {
    padding: 10px;
  }

  &.select2-container--default {
    .select2-search--dropdown .select2-search__field {
      padding: 0 15px;
      width: 100%;
      height: 44px;
      outline: 0;
      color: $primary-color;
      border: 1px solid #E7E9F0;
      background-color: $bg-color;
      border-radius: 3px;
      box-shadow: inset 0 1px 3px rgba(35, 52, 107, 0.05);
    }

    .select2-results__option {
      padding: 10px 20px;
      transition: 0.25s;
    }

    .select2-results__option--highlighted[aria-selected] {
      color: $primary-color;
      background-color: $bg-color;
    }

    .select2-results__option[aria-selected=true] {
      color: $white-color;
      background-color: $primary-color;
    }


  }
}

.js-select2 {
  opacity: 0;
}
