mixin select(data, attrs)
  .select(class=data.type class=data.size)
    select.js-select2(data-placeholder=data.placeholder multiple=data.multiple)&attributes(attrs)
      if (data.placeholder)
        option

      each option, key in data.options
        option(value=key)= option.title
