mixin footer-copyright(data)
  .footer-copyright(class=data.className)
    ._container.container
      ._main
        p._text Copyright &copy;

      ._aside
        ._menu
          a._item(href='#' title='') Политика по обработке персональных данных
          a._item(href='#' title='') Пользовательской соглашение
