.footer-copyright {
  padding: 15px 0;
  color: #657198;
  font-size: 12px;
  text-align: center;
  background: #FAFBFC;

  @include breakpoint($sm-breakpoint) {
    padding: 20px 0;
    font-size: 14px;
  }

  @include breakpoint($md-breakpoint) {
    text-align: left;
  }

  &__container {
    @include breakpoint($md-breakpoint) {
      display: flex;
    }
  }

  &__main {
    @include breakpoint($md-breakpoint) {
      flex: 1 1 auto;
      min-width: 0;
    }
  }

  &__aside {
    display: none;

    @include breakpoint($md-breakpoint) {
      flex: 0 0 auto;
      margin-left: 20px;
      display: block;
    }
  }

  &__text {
    margin: 0;
  }

  &__menu {
    display: flex;
  }

  &__item {
    margin-right: 18px;
    color: inherit;

    &:last-child {
      margin-right: 0;
    }
  }
}
