.result-card {
  display: flex;
  //align-items: center;
  padding: 15px;
  background: $white-color;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(35, 52, 107, 0.08);
  transition: 0.5s;

  &:hover{
    box-shadow: 0 0 20px rgba(35, 52, 107, 0.2);
    transition: 0.5s;
  }

  @include breakpoint($md-breakpoint) {
    padding: 20px 25px;
  }

  &.is-opened {
    .result-card {
      &__properties {
        display: flex;
      }
    }
  }

  &__aside {
    flex: 0 0 34px;
    max-width: 34px;
    margin-right: 12px;

    @include breakpoint($md-breakpoint) {
      flex: 0 0 42px;
      max-width: 42px;
      margin-right: 14px;
    }
  }

  &__main {
    flex: 1 1 auto;
    min-width: 0;
  }

  &__icon {
    position: relative;
    padding: 5px;
    width: 42px;
    height: 42px;
    border-radius: 50%;

    &.is-photo {
      width: 35px;
      height: 46px;
      border-radius: 0;

      .result-card {
        &__img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &.is-gerb {
      padding: 3px;
      width: 34px;
      height: 34px;

      @include breakpoint($md-breakpoint) {
        width: 38px;
        height: 38px;
      }
    }

    &.is-logo {
      width: 34px;
      height: 34px;
      border: 1px solid $border-color;
    }
  }

  &__heading {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
    font-size: 15px;

    @include breakpoint($md-breakpoint) {
      flex-direction: row;
      align-items: center;
      font-size: 17px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .card-heading {
      &__link {
        @include breakpoint($md-breakpoint) {
          flex: 1 1 auto;
          min-width: 0;
        }

        @include breakpoint($lg-breakpoint) {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow-x: hidden;
        }
      }

      &__badge {
        order: -1;
        margin-bottom: 7px;
        margin-left: 0;

        @include breakpoint($md-breakpoint) {
          order: 1;
          margin-left: 15px;
          margin-bottom: 0;
        }
      }
    }
  }

  &__properties {

    flex-wrap: wrap;
    margin: 10px 0 0;
    padding-left: 0;
    display: none;
    list-style: none;

    @include breakpoint($md-breakpoint) {
      display: flex;
    }

    &:last-child {
      @include breakpoint($md-breakpoint) {
        margin-top: -8px;
      }
    }
  }

  &__prop {
    margin: 5px 0 0;
    color: $muted-color;

    &:first-child{
      font-weight: bold;
    }

    @include breakpoint($md-breakpoint) {
      margin: 8px 15px 0 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__date {
    margin: 10px 0 0;
    color: $muted-color;
    font-size: 13px;
  }

  &__link-more {
    margin: 8px 0 0;
    display: block;

    @include breakpoint($md-breakpoint) {
      display: none;
    }
  }
}
