include ../badge/badge

mixin result-card(data, attrs)
  .result-card&attributes(attrs)
    if (data.img)
      ._aside
        ._icon(class=data.img.type)
          img._img(src=data.img.src alt='')

    ._main
      h3._heading.card-heading
        a.card-heading__link(href=data.href title='')= data.title

        if (data.badge)
          +badge(data.badge, {
            class: 'card-heading__badge'
          })

      if (data.date)
        p._date Дата публикации #{data.date}

      if (data.properties)
        ul._properties
          each prop in data.properties
            li.label._prop= prop.title

      span.link-more-chevron._link-more
        span._title Раскрыть свойства
        i.fe.fe-chevron-down._icon
