extends ../../template

include ../../../components/section-default/section-default

include ../../../components/expert-card/expert-card

include ../../../components/select/select
include ../../../components/button/button
include ../../../components/market-services/market-services

block append settings
	-
		page.title = 'Списки услуг блочный вид';


block page-body

	main.page-main

		.breadcrumbs._breadcrumbs
			._container.container
				ul._list
					li._item
						a._link(href="/") Главная
					li._item
						a._link(href="#") Маркетплейс
					li._item
						a._link(href="#") Услуги и товары
					li._item
						span._link.is-short Id 2322

		// start main-body
		.main-body._body.-lights
			._container.container
				.libs-detail.-company._libs-detail
					._body
						._main

							._promo
								.badge.is-round._badge Услуга
								._title Подготовка документов для направления предложения частного инвестора о реализации проекта и сопровождение в ходе переговоров
								._meta
									//- ._label ID услуги:  2322
									//- ._label Добавлено: 28.01.2019 19:01
									._label ID компании: #[span 2322] Добавлено: #[time(datetime="2019-01-28") 28.01.2019 19:01]

							._act-info-section
								._act-info-column.-first
									._act-info
										._act-info-item.is-closed.js-accordion-item
											._act-info-heading Об услуге
											._act-info-heading.-trigger.js-accordion-toggle Об услуге
											._act-info-body.js-accordion-body(style="display: none")

												dl._act-info-params
													._act-info-param
														dt._act-info-param-property Профессиональная ориентация:
														dd._act-info-param-value 
															.charters
																._main
																	span._title Финансовый консалтинг
																._aside.js-charters-aside
																	._count.js-charters-count 3
																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Консалтинг 1
																			li._item.js-charters-dropitem
																				span._text Консалтинг 2
																			li._item.js-charters-dropitem
																				span._text Консалтинг 3
													._act-info-param
														dt._act-info-param-property Страна:
														dd._act-info-param-value Российская Федерация
													._act-info-param
														dt._act-info-param-property Федеральные округа реализации:
														dd._act-info-param-value 
															.charters
																._main
																	span._title Все регионы:
																._aside.js-charters-aside
																	._count.js-charters-count 85
																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Регион 1
																			li._item.js-charters-dropitem
																				span._text Регион 2
																			li._item.js-charters-dropitem
																				span._text Регион 3
																			li._item.js-charters-dropitem
																				span._text Регион 4
																			li._item.js-charters-dropitem
																				span._text Регион 5
																			li._item.js-charters-dropitem
																				span._text Регион 6
																			li._item.js-charters-dropitem
																				span._text Регион 7
																			li._item.js-charters-dropitem
																				span._text Регион 8
																			li._item.js-charters-dropitem
																				span._text Регион 9
																			li._item.js-charters-dropitem
																				span._text Регион 10
																			li._item.js-charters-dropitem
																				span._text Регион 11
																			li._item.js-charters-dropitem
																				span._text Регион 12
																			li._item.js-charters-dropitem
																				span._text Регион 13
																			li._item.js-charters-dropitem
																				span._text Регион 14
																			li._item.js-charters-dropitem
																				span._text Регион 15
													._act-info-param
														dt._act-info-param-property Регионы реализации проектов:
														dd._act-info-param-value 
															.charters
																._main
																	span._title Все регионы
																._aside.js-charters-aside
																	._count.js-charters-count 85
																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Инфраструктура 1
																			li._item.js-charters-dropitem
																				span._text Инфраструктура 2
													._act-info-param
														dt._act-info-param-property Сферы деятельности:
														dd._act-info-param-value 
															.charters
																._main
																	span._title Транспортная инфраструктура
																._aside.js-charters-aside
																	._count.js-charters-count 2
																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Инфраструктура 1
																			li._item.js-charters-dropitem
																				span._text Инфраструктура 2
													._act-info-param
														dt._act-info-param-property Отрасли деятельности:
														dd._act-info-param-value 
															.charters
																._main
																	span._title Объекты придорожного сервиса
																._aside.js-charters-aside
																	._count.js-charters-count 9
																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Объект 1
																			li._item.js-charters-dropitem
																				span._text Объект 2
																			li._item.js-charters-dropitem
																				span._text Объект 3
																			li._item.js-charters-dropitem
																				span._text Объект 4
																			li._item.js-charters-dropitem
																				span._text Объект 5
																			li._item.js-charters-dropitem
																				span._text Объект 6
																			li._item.js-charters-dropitem
																				span._text Объект 7
																			li._item.js-charters-dropitem
																				span._text Объект 8
																			li._item.js-charters-dropitem
																				span._text Объект 9

												.tags-list
													ul._list
														li._item
															span._text #Городское развитие
														li._item
															span._text #Меры поддержки инвесторов
														li._item
															span._text #Цели в области устойчивого развития
														li._item
															span._text #Качественные инфраструкту

								._act-info-column

									._act-info
										._act-info-item.is-closed.js-accordion-item
											._act-info-heading.-trigger.js-accordion-toggle Описание услуги
											._act-info-body.js-accordion-body(style="display: none")

												._section
													._section-text
														p Разработка юридической части проекта соглашения, подготовка письма о направлении предложения публичной стороне. Подготовка (при необходимости) письменных ответов на вопросы, пояснения по требованиям законодательства в отношении предложения и соглашения. Юридическое сопровождение участия предполагаемого частного инвестора в переговорах с органами власти, проводимыми в связи с принятием решения о возможности заключения соглашения (в т.ч. на иных условиях)

									._act-info
										._act-info-item.js-accordion-item
											._act-info-heading.-trigger.js-accordion-toggle Детали услуги
											._act-info-body.js-accordion-body(style="display: none")

												._section
													._section-title Услуга оказывается для этапов жизненного цикла:
													._section-sublist-wrap.js-list(data-show-count='3')
														ul._section-sublist
															li._section-subitem.js-list-item Иницирование
															li._section-subitem.js-list-item Структурирование
															li._section-subitem.js-list-item Конкурс и подписание соглашения (договора/контракта)
															li._section-subitem.js-list-item Иницирование
															li._section-subitem.js-list-item Структурирование
															li._section-subitem.js-list-item Конкурс и подписание соглашения (договора/контракта)
															li._section-subitem.js-list-item Иницирование

														._section-sublist-toggle.js-list-toggle-parent
															span._section-sublist-more.js-list-toggle Показать полностью #[i.fe.fe-chevron-down]
													
												._section
													._section-title Услуга оказывается для форм реализации:
													._section-sublist-wrap.js-list(data-show-count='3')
														ul._section-sublist
															li._section-subitem.js-list-item Офсетная закупка (44-ФЗ, статья 111.4)
															li._section-subitem.js-list-item Долгосрочные договора с юридическими лицами с участием публично-правовых образований (223-ФЗ)
															li._section-subitem.js-list-item Договор аренды (безвозмездного пользования) с инвестиционными обязательствами
															li._section-subitem.js-list-item Соглашение о ГЧП/МЧП (региональное законодательство)
															li._section-subitem.js-list-item Специальный инвестиционный контракт - СПИК (488-ФЗ)
															li._section-subitem.js-list-item Соглашение о ГЧП/МЧП
															li._section-subitem.js-list-item Инвестиционный меморандум
															li._section-subitem.js-list-item Энергосервисный контракт с признаками ГЧП
															li._section-subitem.js-list-item Корпоративная форма партнерства (совместное юридическое лицо)

														._section-sublist-toggle.js-list-toggle-parent
															span._section-sublist-more.js-list-toggle Показать полностью #[i.fe.fe-chevron-down]

									._act-info
										._act-info-item.js-accordion-item
											._act-info-heading.-trigger.js-accordion-toggle Тарифная политика услуги
											._act-info-body.js-accordion-body(style="display: none")

												._section
													._section-title Параметр, влияющий на ценообразование:
													ul._section-sublist
														li._section-subitem Параметр, влияющий на ценообразование
														li._section-subitem Параметр, влияющий на ценообразование

												._section
													._section-title Возможные значения параметра:
													ul._section-sublist
														li._section-subitem Параметр, влияющий на ценообразование
														li._section-subitem Параметр, влияющий на ценообразование

												._section
													._section-title Формула расчета цены:
													._section-text
														p (Базовая стоимость) x (Наценки x 0.05%) = Стоимость

						._aside

							._controls

								._actions
									._actions-inner
										a.button-download._download(data-remodal-target="company-callback" href="#")
											._main
												span._title Получить услугу
												._labels
													._meta Оставить заявку
											._aside
												._icon
										a._button.-link(href="#") Перейти на сайт компании
										a._button.-favorite(href="#") Добавить в избранное

								._quotes.js-accordion-item

									._quotes-heading Услугу оказывает

									// start card
									.market-services.-visual
										._body
											._header
												._logo
													img._img(src="/assets/img/general/marketplace/4.svg" alt="")
												
												._title
													a._title-link(href="#") Инвестиционное бюро &laquo;ФИНИСТ&raquo;

											._content
												ul._list
													li._item
														._text Консалтинговая компания
															._value +2
														
														ul._drop
															li._drop-item
																ul._drop-list
																	li._drop-text Инжиниринг
																	li._drop-text Инжиниринг

										._summary
											a._services(href="#")
												<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.75 4.4895H2.41667C1.63426 4.4895 1 5.09779 1 5.84815V12.6414C1 13.3917 1.63426 14 2.41667 14H13.75C14.5324 14 15.1667 13.3917 15.1667 12.6414V5.84815C15.1667 5.09779 14.5324 4.4895 13.75 4.4895Z" stroke="#4F5D89" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
													<path d="M10.4444 4.48954V2.37609C10.4444 1.99073 10.32 1.62116 10.0986 1.34867C9.87722 1.07618 9.57695 0.923096 9.26384 0.923096H6.90273C6.58962 0.923096 6.28934 1.07618 6.06795 1.34867C5.84655 1.62116 5.72217 1.99073 5.72217 2.37609V4.48954" stroke="#4F5D89" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
													<path d="M14.9487 7.02566L8.41026 9.4231L0.999985 7.02566" stroke="#4F5D89" stroke-width="1.5"/>
												</svg>
												| #[strong 7] #[span услуг компании]

										a._more(href="#") Подробнее
									// end card

		// end main-body

		// start section-default
		+section-default({
			header: {
				main: {
					heading: {
						title: 'Похожие услуги'
					}
				},
				aside: {
					button: {
						href: '#',
						title: 'Вернуться к базе услуг',
						type: 'is-primary is-round is-average'
					}
				}
			},
		},
		{
			class: 'js-section-slider page-body__section-default'
		})
			.section-slider
				._body.js-expert-slider
					._wrapper.js-slider-wrapper
						each item in marketplace.defaultServices
							._slide.js-slider-slide
								// start card
								._card
									+market-services(item)(class='market-services--fixed')
								// end card

					.slider-controls._controls
						._aside
							+slider-counter
						._main
						._aside
							+slider-nav
		// end section-default

	.scrolltop._scrolltop
		a._link.js-scrolltop(href="#body")
			span._text Вернуться наверх страницы
			._icon
				<svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 4L4.5 1L8 4" stroke="#9199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>

	.modal.remodal.is-medium(data-remodal-id='company-callback')
		button._close(data-remodal-action='close')

		._header
			._title.is-large.is-center Получить услуги компании

		._body
			form.form.js-modal(action='#' method='post')
				._body
					.form-field._field
						label._label Выберите услугу из списка*:
						+select({
							placeholder: 'Выберите вариант',
							options: [
								{
									title: 'Услуга 1'
								},
								{
									title: 'Услуга 2'
								},
								{
									title: 'Услуга 3'
								},
								{
									title: 'Услуга 4'
								},
								{
									title: 'Услуга 5'
								}
							]
						}, {
							'data-minimum-search-result': -1
						})

					.form-field._field
						label._label Введите ФИО*:
						+input-text({
								placeholder: 'Введите ФИО',
								name: 'name'
						})

					.form-field._field
						._grid
							._column
								label._label Номер телефона*:
								+input-text({
										type: 'tel',
										placeholder: 'Введите номер телефона',
										name: 'tel'
								})

							._column
								label._label E-mail*:
								+input-text({
										type: 'email',
										placeholder: 'Введите E-mail',
										name: 'email'
								})

					.form-field._field
						label._label Организация*:
						+input-text({
								placeholder: 'Введите название',
								name: 'organization'
						})

					.form-field._field
						label._label Должность*:
						+input-text({
								placeholder: 'Введите название',
								name: 'post'
						})

					.form-field._field
						label._label Комментарий:
						textarea(class="input-text" name="message" placeholder="Введите текст" rows="6")

				._footer
					.form-agree._agree
						p._privacy Переходя далее вы подтверждаете что ознакомлен(-ы) с #[a(href="#" target="_blank") политикой конфиденциальности] и даёте согласие на обработку персональных данных согласно ФЗ №54

					+button({
							title: 'Отправить ',
							type: 'is-primary is-round'
					}, {
							class: 'form__button'
					})