.slider-pagination {
  display: flex;
  justify-content: center;

  .swiper-pagination-bullet {
    flex-shrink: 0;
    //margin: 0 4px;
    //width: 6px;
    //height: 6px;
    margin: 0 3px;
    width: 4px;
    height: 4px;
    background-color: rgba($primary-color, 0.25);
    border-radius: 50%;

    &.swiper-pagination-bullet-active {
      background-color: $primary-color;
    }
  }
}
