mixin article-card(data, attrs)
  .article-card&attributes(attrs)
    ._header
      a._photo(href=data.href title='')
        img.img-cover._img(src=data.img.src alt='')

    ._body
      ._content
        h3._heading
          a._link(href=data.href title='')= data.title

        if (data.isRow)
          p._caption Госкомпания "Автодор" совместно с властями Татарстана планирует завершить разработку проектно-сметной документации скоростной автотрассы М-12 "Москва - Казань" в 2020-2021 годах. Ориентировочная стоимость строительства участка, который пройдет по территории республики, составляет 162 млрд руб

      ._footer
        .card-properties
          ._item= data.category
          ._item= data.date
