.article-card {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &:hover {
    .article-card {
      &__img {
        transform: scale(1.1);
      }

      &__link,
      &__heading {
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }
    }
  }

  &.is-slider{
    .article-card{
      &__photo{
        padding-bottom: 72%;

        @include breakpoint($md-breakpoint){
          padding-bottom: 60%;
        }

        .article-card__badge{
          left: 10px;
          top: 10px;

          @include breakpoint($md-breakpoint){
            left: 20px;
            top: 20px;
          }
        }
      }

      &__heading{
        font-size: 10px;
        line-height: 1.35;
        font-weight: 600;

        @include breakpoint($md-breakpoint){
          font-size: 15px;
        }

        @include breakpoint($lg-breakpoint){
          font-size: 16px;
        }
      }
    }

    .card-properties__item{
      font-size: 10px;
      font-weight: 500;
      margin-right: 10px;

      @include breakpoint($md-breakpoint){
        font-size: 12px;
      }

      &:last-child{
        margin-right: 0;
      }
    }

    .card-properties__item::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 2px;
      height: 2px;
      background-color: currentColor;
      border-radius: 50%;

      @include breakpoint($md-breakpoint){
        top: 6px;
        left: 0;
        width: 4px;
        height: 4px;
      }
    }
  }

  &.is-row {
    @include breakpoint($md-breakpoint) {
      flex-direction: row;

      .article-card {
        &__header {
          flex: 0 0 305px;
          max-width: 305px;
          margin-right: 25px;
          margin-bottom: 0;
        }

        &__heading {
          font-size: 20px;
        }
      }
    }
  }

  &.is-small {
    overflow: hidden;
    border-radius: 10px;

    .article-card {
      &__photo {
        padding-bottom: 110%;
        border-radius: 0;

        &::before {
          display: none;
        }

        .article-card {
          &__heading {
            // font-size: 18px;
            font-size: 14px;

            @include breakpoint($lg-breakpoint){
              font-size: 18px;
            }
          }

          &__footer{
            .card-properties__item{
              &.is-calendar{
                padding-left: 15px;

                @include breakpoint($lg-breakpoint){
                  padding-left: 20px;
                }

                &:before{
                  top: 1px;
                  left: 0;
                  width: 9px;
                  height: 10px;
                  border-radius: 0;
                  background: 0;
                  background-image: url("data:image/svg+xml,%3Csvg width='9' height='10' viewBox='0 0 9 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.27287 2.18945H2.18337C1.78182 2.18945 1.4563 2.52427 1.4563 2.9373V8.17221C1.4563 8.58523 1.78182 8.92005 2.18337 8.92005H7.27287C7.67442 8.92005 7.99994 8.58523 7.99994 8.17221V2.9373C7.99994 2.52427 7.67442 2.18945 7.27287 2.18945Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.18237 1.44336V2.93905' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.2738 1.44336V2.93905' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.4563 4.43359H7.99994' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");


                  @include breakpoint($lg-breakpoint){
                    width: 12px;
                    height: 13px;
                    background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.55577 2.09961H2.06947C1.47882 2.09961 1 2.59211 1 3.19964V10.8998C1 11.5074 1.47882 11.9999 2.06947 11.9999H9.55577C10.1464 11.9999 10.6252 11.5074 10.6252 10.8998V3.19964C10.6252 2.59211 10.1464 2.09961 9.55577 2.09961Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.95166 1V3.20005' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.67334 1V3.20005' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 5.40039H10.6252' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                  }
                }
              }
            }
          }
        }
      }

      &__img {
        border-radius: 0;
      }

      &__heading {
        font-size: 15px;
      }

      &__footer {
        margin-top: 16px;
      }
    }
  }

  &__header {
    flex: 0 0 auto;
    // margin-bottom: 15px;
    margin-bottom: 10px;

    @include breakpoint($xl-breakpoint) {
      margin-bottom: 28px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 0;
  }

  &__photo {
    position: relative;
    // padding-bottom: 50%;
    display: block;
    background-color: $primary-color;
    overflow: hidden;
    // border-radius: $border-radius;

    border-radius: 10px;


    padding-bottom: 72%;

    @include breakpoint($md-breakpoint){
      padding-bottom: 60%;
    }

    .article-card__badge{
      left: 10px;
      top: 10px;

      @include breakpoint($md-breakpoint){
        left: 20px;
        top: 20px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 18px;
      right: 16px;
      width: 24px;
      height: 24px;
      z-index: 2;
      background: rgba($primary-color, 0.7) $arrow-top-right center no-repeat;
      border-radius: 3px;
    }

    &--secondary{
      &:before{
        display: none;
      }
    }

    @include breakpoint($sm-breakpoint) {
      padding-bottom: 59.5%;
    }

    .article-card {
      &__badge {
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 4;

        @include breakpoint($md-breakpoint){
          left: 20px;
          top: 20px;
        }
      }

      &__body {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        padding: 15px;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
        background-color: rgba($primary-color, 0.25);

        @include breakpoint($md-breakpoint) {
          padding: 25px;
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(0, 0, 0, 6e-05) 0%, rgba(0, 0, 0, 0.6) 100%);
        }
      }

      &__badge {
        margin-bottom: 10px;
      }

      &__content {
        flex: 0 0 auto;
      }

      &__heading {
        color: $white-color;

        @include breakpoint($sm-breakpoint) {
          font-size: 20px;
        }

        @include breakpoint($md-breakpoint) {
          font-size: 24px;
        }
      }

      &__footer {
        color: $white-color;
        opacity: 0.8;

        .card-properties {
          &__item {
            &.is-calendar {
              &::before {
                background-image: url('data:image/svg+xml,%3Csvg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M9.55577 2.09973H2.06947C1.47882 2.09973 1 2.59223 1 3.19976V10.8999C1 11.5075 1.47882 12 2.06947 12H9.55577C10.1464 12 10.6252 11.5075 10.6252 10.8999V3.19976C10.6252 2.59223 10.1464 2.09973 9.55577 2.09973Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M7.95166 1V3.20005" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M3.67334 1V3.20005" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M1 5.40039H10.6252" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E%0A');
              }
            }
          }
        }
      }
    }
  }

  &__img {
    opacity: 0.8;
    border-radius: $border-radius;
    transition: 0.5s;
  }

  &__content {
    flex: 1 1 auto;
    min-width: 0;
  }

  &__heading {
    margin: 0;
    // font-size: 14px;
    // line-height: 1.3125;

    // @include breakpoint($xs-breakpoint) {
    //   font-size: 16px;
    // }

    font-size: 10px;
    line-height: 1.35;
    font-weight: 600;

    @include breakpoint($md-breakpoint){
      font-size: 15px;
    }

    @include breakpoint($lg-breakpoint){
      font-size: 16px;
    }
  }

  &__link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    vertical-align: middle;

    &:hover {
      text-decoration-skip-ink: none;
      text-decoration: underline;
    }
  }

  &__caption {
    margin: 11px 0 0;
    font-size: 14px;
  }

  &__footer {
    flex: 0 0 auto;
    // margin-top: 15px;
    margin-top: 7px;
    color: $muted-color;

    @include breakpoint($xl-breakpoint) {
      margin-top: 20px;
    }
  }

  .card-properties__item{
      font-size: 10px;
      font-weight: 500;
      margin-right: 10px;

      padding-left: 0;

      @include breakpoint($md-breakpoint){
        padding-left: 12px;
        font-size: 12px;

        &:first-child{
          padding-left: 0;
        }
      }

      &:last-child{
        margin-right: 0;
      }

      &.is-time{
        padding-left: 12px;
      }
    }

    .card-properties__item::before {
      content: '';
      position: absolute;
      top: 5px;
      left: -6px;
      width: 2px;
      height: 2px;
      background-color: currentColor;
      border-radius: 50%;

      @include breakpoint($md-breakpoint){
        top: 6px;
        left: 0;
        width: 4px;
        height: 4px;
      }
    }
}
