.menu-aside {
  width: 65px;
  //width: 340px;
  background-color: $white-color;
  box-shadow: 2px 8px 30px rgba(35, 52, 107, 0.05);

  &__list {
    margin: 0;
    padding: 20px 20px 20px 10px;
    height: 100%;
    list-style: none;
  }

  &__item {
    &.is-divider {
      margin: 10px -20px 10px -10px;
      height: 2px;
      background-color: $bg-color;
    }

    &.is-active {
      .menu-aside {
        &__link {
          color: $primary-color;
          background-color: $bg-color;
        }

        &__icon {
          opacity: 1;
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    min-width: 45px;
    height: 45px;
    color: $body-color;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    border-radius: 3px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 5px;
    width: 45px;
    height: 100%;
    font-size: 1.25em;
    opacity: 0.75;

    .fe {
      position: relative;
      top: -1px;
    }
  }

  &__title {
    position: relative;
    top: 1px;
  }

  &__dropdown {
    display: none;
    background-color: $bg-color;
    border-radius: 3px;

    .menu-aside {
      &__list {
        margin: 10px 0;
        padding: 15px 20px 15px 45px;
      }

      &__item {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__link {
        display: inline-flex;
        height: auto;
      }
    }
  }
}
