mixin menu-aside(data, attrs)
  .menu-aside&attributes(attrs)
    ul._list
      each item in data
        if (item.divider)
          li._item.is-divider

        else
          li._item(class=(item.isActive ? 'is-active' : '') class=(item.dropdown ? 'is-dropdown' : ''))
            a._link(href=item.href title='')
              span._icon
                img._img(src=`__static__img/general/menu-aside/${item.icon}.svg` alt=item.title)
              span._title= item.title

            if (item.dropdown)
              ._dropdown
                ul._list
                  each subitem in item.dropdown
                    li._item
                      a._link(href=subitem.href title=subitem.title)= subitem.title
