extends ../../template

include ../../../components/section-default/section-default

include ../../../components/expert-card/expert-card

include ../../../components/select/select
include ../../../components/button/button

block append settings
	-
		page.title= 'Библиотека аналитических материалов';


block page-body

	main.page-main

		.breadcrumbs._breadcrumbs
			._container.container
				ul._list
					li._item
						a._link(href="/") Главная
					li._item
						a._link(href="#") Тренды и аналитика
					li._item
						a._link(href="#") Аналитические материалы
					li._item
						span._link Id 2322

		// start main-body
		.main-body._body
			._container.container
				.libs-detail._libs-detail
					._body
						._aside
							._preview
								.formats-list._formats
									ul._list
										li._item
											._icon.is-pdf
										li._item
											._icon.is-ru

								img._img(src="../../assets/img/content/library/4.jpg", alt="")
						._main
							._header
								span._date Добавлено: 28.01.2019 19:01
								span._id ID материала:  2322

							._inner
								._data
									._title Руководство по вопросам политики в отношении инвестиций в качественную инфраструктуру
									._label Компания автора документа
									._company
										ul._company-list
											li._company-item
												._company-icon
													img._company-img(src="../../assets/img/content/library/5.png", alt="")
												._company-name Общество с ограниченной ответственностью «АИКОМ»

											li._company-item
												._company-icon
													img._company-img(src="../../assets/img/content/library/6.png", alt="")
												._company-name Национальный Центр ГЧП

											li._company-item
												._company-icon
													img._company-img(src="../../assets/img/content/library/7.png", alt="")
												._company-name ВЭБ.РФ
									._decription
										._section
											._section-title Описание:
											._section-text
												p Данная публикация является результатом совместных усилий экспертов и организаций по проекту рабочей группы G20 и содержит аналитические сведения и рекомендации в отношении инвестиций в качественную инфраструктуру как основы для экономического развития и процветания стран.
										._section
											._section-title Детальная информация:
											ul._section-list
												li._section-item
													span._section-meta Год публикации:
													span._section-meta 2020

												li._section-item
													span._section-meta Язык:
													span._section-meta Английский

									.tags-list._tags
										ul._list
											li._item
												span._text #Городское развитие
											li._item
												span._text #Меры поддержки инвесторов
											li._item
												span._text #Цели в области устойчивого развития
											li._item
												span._text #Качественные инфраструктурные инвестиции
								._actions
									._actions-inner
										a.button-download._download(href="#" target="_blank")
											._main
												span._title Загрузить документ
												._labels
													._meta Формат: PDF  
													._meta Вес: 1.2 Мб 
											._aside
												._icon
										button._button.-favorite(href="#") Добавить в избранное
									button._button.-plea(href="#") Пожаловаться на неточности

		// end main-body

	// start section-default
	.section-default.section-default--libs.is-border.js-section-slider.page-body__section-default
		._container.container
			.section-header.is-large._header
				._container
					._main
						h2.section-heading._heading Похожие материалы
					._aside
						a.button.is-primary.is-round.is-average._button(href="#" title="Вернуться в библиотеку") Вернуться в библиотеку

			.section-body._body
				.section-slider
					._body.js-section-slider-libs-new
						._wrapper.js-slider-wrapper
							// start slide
							._slide.js-slider-slide
								.libs-card
									._header
										._photo
											ul._labels
												li._labels-item.-pdf
												li._labels-item.-en
											a(href="#")
												img._img(src="../../assets/img/content/digest/2.jpg", alt="")

									._content
										.charters.is-small._label
											._main
												span._title The World Bank

										a._title(href="#") Основы муниципального частного партнерства от Всемирного банка
									._footer
										ul.formats._formats
											li._item
												span._text Язык: Английский
											li._item
												span._text Формат: PDF
											li._item
												span._text Год публикации: 2020

										.charters._charters
											._main
												span._title Соглашение о ГЧП / МЧП
											._aside.js-charters-aside
												._count.js-charters-count

												._dropdown.js-charters-drop
													ul._list
														li._item.js-charters-dropitem
															span._text Соглашение о ГЧП / МЧП
														li._item.js-charters-dropitem
															span._text Меры поддержки инвесторов;
							
							// end slide

							// start slide
							._slide.js-slider-slide
								.libs-card
									._header
										._photo
											ul._labels
												li._labels-item.-world
												li._labels-item.-ru
											a(href="#")
												img._img(src="../../assets/img/content/digest/3.jpg", alt="")

									._content
										.charters.is-small._label
											._main
												span._title Минэкономразвития России

										a._title(href="#") Рейтинг субъектов Российской Федерации по уровню развития сферы ГЧП за 2019 год
									._footer
										ul.formats._formats
											li._item
												span._text Язык: Русский
											li._item
												span._text Формат: PDF
											li._item
												span._text Год публикации: 2020

										.charters._charters
											._main
												span._title Институциональная среда
											._aside.js-charters-aside
												._count.js-charters-count

												._dropdown.js-charters-drop
													ul._list
														li._item.js-charters-dropitem
															span._text Институциональная среда
														li._item.js-charters-dropitem
															span._text Меры поддержки инвесторов;
							
							// end slide

							// start slide
							._slide.js-slider-slide
								.libs-card
									._header
										._photo
											ul._labels
												li._labels-item.-pdf
												li._labels-item.-ru
											a(href="#")
												img._img(src="../../assets/img/content/digest/4.jpg", alt="")

									._content
										.charters.is-small._label
											._main
												span._title ВЭБ.РФ
											._aside.js-charters-aside
												._count.js-charters-count
												._dropdown.js-charters-drop
													ul._list
														li._item.js-charters-dropitem
															span._text ВЭБ.РФ
														li._item.js-charters-dropitem
															span._text Общество с ограниченной ответственностью «АИКОМ»

										a._title(href="#") Инфраструктура для устойчивого развития. Как привлечь инвестиции в новое качество проектов
									._footer
										ul.formats._formats
											li._item
												span._text Язык: Русский
											li._item
												span._text Формат: PDF
											li._item
												span._text Год публикации: 2020

										.charters._charters
											._main
												span._title Качественные инфраструктурные инвестиции
											._aside.js-charters-aside
												._count.js-charters-count
												._dropdown.js-charters-drop
													ul._list
														li._item.js-charters-dropitem
															span._text Качественные инфраструктурные инвестиции
														li._item.js-charters-dropitem
															span._text Меры поддержки инвесторов;
							
							// end slide

							// start slide
							._slide.js-slider-slide
								.libs-card
									._header
										._photo
											ul._labels
												li._labels-item.-pdf
												li._labels-item.-en
											a(href="#")
												img._img(src="../../assets/img/content/digest/5.jpg", alt="")

									._content
										.charters.is-small._label
											._main
												span._title Asian Development Bank Institute
											._aside
												._dropdown.js-charters-drop
													ul._list
														li._item.js-charters-dropitem
															span._text Asian Development Bank Institute

										a._title(href="#") Руководство по вопросам политики в отношении инвестиций в качественную инфраструктуру
									._footer
										ul.formats._formats
											li._item
												span._text Язык: Английский
											li._item
												span._text Формат: PDF
											li._item
												span._text Год публикации: 2020

										.charters._charters
											._main
												span._title Городское развитие
											._aside.js-charters-aside
												._count.js-charters-count

												._dropdown.js-charters-drop
													ul._list
														li._item.js-charters-dropitem
															span._text Городское развитие;
														li._item.js-charters-dropitem
															span._text Меры поддержки инвесторов;
														li._item.js-charters-dropitem
															span._text Цели в области устойчивого развития;
														li._item.js-charters-dropitem
															span._text Качественные инфраструктурные инвестиции;
							
							// end slide

							// start slide
							._slide.js-slider-slide
								.libs-card
									._header
										._photo
											ul._labels
												li._labels-item.-pdf
												li._labels-item.-en
											a(href="#")
												img._img(src="../../assets/img/content/digest/2.jpg", alt="")

									._content
										.charters.is-small._label
											._main
												span._title Asian Development Bank Institute
											._aside
												._dropdown.js-charters-drop
													ul._list
														li._item.js-charters-dropitem
															span._text Asian Development Bank Institute

										a._title(href="#") Руководство по вопросам политики в отношении инвестиций в качественную инфраструктуру
									._footer
										ul.formats._formats
											li._item
												span._text Язык: Английский
											li._item
												span._text Формат: PDF
											li._item
												span._text Год публикации: 2020

										.charters._charters
											._main
												span._title Городское развитие
											._aside.js-charters-aside
												._count.js-charters-count

												._dropdown.js-charters-drop
													ul._list
														li._item.js-charters-dropitem
															span._text Городское развитие;
														li._item.js-charters-dropitem
															span._text Меры поддержки инвесторов;
														li._item.js-charters-dropitem
															span._text Цели в области устойчивого развития;
														li._item.js-charters-dropitem
															span._text Качественные инфраструктурные инвестиции;
														li._item.js-charters-dropitem
															span._text Международный опыт
							
							// end slide
								 

						.slider-controls._controls
							._aside
								+slider-counter
							._main
							._aside
								+slider-nav

						.js-slider-bullets.swiper-pagination-bullets
	// end section-default

	.scrolltop._scrolltop
		a._link.js-scrolltop(href="#body")
			span._text Вернуться наверх страницы
			._icon
				<svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 4L4.5 1L8 4" stroke="#9199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
