extends ../../template

include ../../../components/section-default/section-default

include ../../../components/expert-card/expert-card

include ../../../components/select/select
include ../../../components/button/button

block append settings
	-
		page.title= 'Библиотека аналитических материалов';


block page-body

	main.page-main

		.breadcrumbs._breadcrumbs
			._container.container
				ul._list
					li._item
						a._link(href="/") Главная
					li._item
						a._link(href="#") Тренды и аналитика
					li._item
						span._link Аналитические материалы

		// start main-header
		.main-header._header.no-border
			._container.container
				._content
					h1.main-heading.is-large._heading= page.title
		// end main-header

		// start inline-menu
		.inline-menu.is-dark._inline-menu
			._container.container
				ul._list
					li._item
						a._link(href="#") Инвестиции в инфраструктуру
					li._item
						a._link(href="#") Национальные проекты
					li._item
						a._link(href="#") Рейтинг регионов
					li._item
						a._link(href="#") ГЧП в России
					li._item
						a._link(href="#") База решений судов и ФАС
					li._item.is-active
						a._link(href="#") Аналитические материалы
		// end inline-menu

		// start main-search
		.main-search.is-new._search
			._container.container
				+super-search({
					advanced: true,
					placeholder: 'Введите интересующий вас запрос'
				})

				// start mobile-filter
				.mobile-filter._mobile-filter
					._header
						span._title Задать параметры:
						button._button.js-mobile-filter-btn Фильтры
							span._button-value.is-danger.js-filter-catalog-count 0
				// end mobile-filter

		// end main-search


		// start main-body
		.main-body._body.is-new-mobile
			._container.container
				._grid.is-reverse
					// start main-content
					.main-content._content

						// start main-sorting
						.main-sorting._sorting
							._container
								._main
									._filters
										._filter
											label._label Сортировка:
											+select({
												type: 'is-clear',
												options: [{
													title: 'По дате добавления'
												}, {
													title: 'По году'
												}, {
													title: 'По названию'
												}]
											}, {
												'data-width': 'auto',
												'data-minimum-results-for-search': '-1'
											})

								._aside
									._filter
										label._label Вид отображения:
										.layout-views
											a._item.js-tabs-nav.is-tiles.is-active(href='#' title='')
											a._item.js-tabs-nav.is-rows(href='#' title='')
											
						// end main-sorting

						// start section-layout
						.section-layout._section-layout
							._body

								._tabs
									._tab.is-active
										._inner


											._grid
												// start column
												._column
													.libs-card
														._header
															._photo
																ul._labels
																	li._labels-item.-pdf
																	li._labels-item.-en
																a(href="#")
																	img._img(src="../../assets/img/content/library/grid/1.jpg", alt="")

														._content
															.charters.is-small._label
																._main
																	span._title The World Bank
																._aside
																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																					span._text The World Bank

															a._title(href="#") Основы муниципального частного партнерства от Всемирного банка
														._footer
															ul.formats._formats
																li._item
																	span._text Язык: Английский
																li._item
																	span._text Формат: PDF
																li._item
																	span._text Год публикации: 2020

															.charters._charters
																._main
																	span._title Соглашение о ГЧП / МЧП
																._aside.js-charters-aside
																	._count.js-charters-count

																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Соглашение о ГЧП / МЧП;
																			li._item.js-charters-dropitem
																				span._text Меры поддержки инвесторов;
												// end column
												// start column
												._column
													.libs-card
														._header
															._photo
																ul._labels
																	li._labels-item.-world
																	li._labels-item.-ru
																a(href="#")
																	img._img(src="../../assets/img/content/library/grid/2.jpg", alt="")

														._content
															.charters.is-small._label
																._main
																	span._title Минэкономразвития России
																._aside
																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Минэкономразвития России

															a._title(href="#") Рейтинг субъектов Российской Федерации по уровню сферы ГЧП за 2019 год
														._footer
															ul.formats._formats
																li._item
																	span._text Язык: Русский
																li._item
																	span._text Формат: Word
																li._item
																	span._text Год публикации: 2020

															.charters._charters
																._main
																	span._title Институциональная среда
																._aside.js-charters-aside
																	._count.js-charters-count

																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Институциональная среда
																			li._item.js-charters-dropitem
																				span._text Меры поддержки инвесторов;
												// end column
												// start column
												._column
													.libs-card
														._header
															._photo
																ul._labels
																	li._labels-item.-pdf
																	li._labels-item.-ru
																a(href="#")
																	img._img(src="../../assets/img/content/library/grid/3.jpg", alt="")

														._content
															.charters.is-small._label
																._main
																	span._title ВЭБ.РФ
																._aside.js-charters-aside
																	._count.js-charters-count
																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text ВЭБ.РФ
																			li._item.js-charters-dropitem
																				span._text ВЭБ.РФ

															a._title(href="#") Инфраструктура для устойчивого развития. Как привлечь инвестиции в новое качество проектов
														._footer
															ul.formats._formats
																li._item
																	span._text Язык: Английский
																li._item
																	span._text Формат: PDF
																li._item
																	span._text Год публикации: 2020

															.charters._charters
																._main
																	span._title Качественные инфраструктур...
																._aside.js-charters-aside
																	._count.js-charters-count

																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Городское развитие;
																			li._item.js-charters-dropitem
																				span._text Меры поддержки инвесторов;
												// end column
												// start column
												._column
													.libs-card
														._header
															._photo
																ul._labels
																	li._labels-item.-pdf
																	li._labels-item.-en
																a(href="#")
																	img._img(src="../../assets/img/content/library/grid/4.jpg", alt="")

														._content
															.charters.is-small._label
																._main
																	span._title Asian Development Bank Institute
																._aside
																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Asian Development Bank Institute

															a._title(href="#") Руководство по вопросам политики в отношении инвестиций в качественную инфраструктуру
														._footer
															ul.formats._formats
																li._item
																	span._text Язык: Английский
																li._item
																	span._text Формат: PDF
																li._item
																	span._text Год публикации: 2020

															.charters._charters
																._main
																	span._title Городское развитие
																._aside.js-charters-aside
																	._count.js-charters-count

																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Городское развитие;
																			li._item.js-charters-dropitem
																				span._text Меры поддержки инвесторов;
																			li._item.js-charters-dropitem
																				span._text Цели в области устойчивого развития;
																			li._item.js-charters-dropitem
																				span._text Качественные инфраструктурные инвестиции;
												// end column
												// start column
												._column
													.libs-card
														._header
															._photo
																ul._labels
																	li._labels-item.-pdf
																	li._labels-item.-en
																a(href="#")
																	img._img(src="../../assets/img/content/library/grid/5.jpg", alt="")

														._content
															.charters.is-small._label
																._main
																	span._title The World Bank
																._aside
																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text The World Bank

															a._title(href="#") Основы муниципального частного партнерства от Всемирного банка
														._footer
															ul.formats._formats
																li._item
																	span._text Язык: Английский
																li._item
																	span._text Формат: PDF
																li._item
																	span._text Год публикации: 2020

															.charters._charters
																._main
																	span._title Соглашение о ГЧП / МЧП
																._aside.js-charters-aside
																	._count.js-charters-count

																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Городское развитие;
																			li._item.js-charters-dropitem
																				span._text Меры поддержки инвесторов;
												// start column
												._column
													.libs-card
														._header
															._photo
																ul._labels
																	li._labels-item.-world
																	li._labels-item.-ru
																a(href="#")
																	img._img(src="../../assets/img/content/library/grid/6.jpg", alt="")

														._content
															.charters.is-small._label
																._main
																	span._title Минэкономразвития России
																._aside
																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Минэкономразвития России

															a._title(href="#") Рейтинг субъектов Российской Федерации по уровню развития сферы ГЧП за 2019 год
														._footer
															ul.formats._formats
																li._item
																	span._text Язык: Английский
																li._item
																	span._text Формат: PDF
																li._item
																	span._text Год публикации: 2020

															.charters._charters
																._main
																	span._title Институциональная среда
																._aside.js-charters-aside
																	._count.js-charters-count

																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Городское развитие;
																			li._item.js-charters-dropitem
																				span._text Меры поддержки инвесторов;
												// end column

												// start column
												._column
													.libs-card
														._header
															._photo
																ul._labels
																	li._labels-item.-pdf
																	li._labels-item.-en
																a(href="#")
																	img._img(src="../../assets/img/content/library/grid/1.jpg", alt="")

														._content
															.charters.is-small._label
																._main
																	span._title The World Bank
																._aside
																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																					span._text The World Bank

															a._title(href="#") Основы муниципального частного партнерства от Всемирного банка
														._footer
															ul.formats._formats
																li._item
																	span._text Язык: Английский
																li._item
																	span._text Формат: PDF
																li._item
																	span._text Год публикации: 2020

															.charters._charters
																._main
																	span._title Соглашение о ГЧП / МЧП
																._aside.js-charters-aside
																	._count.js-charters-count

																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Соглашение о ГЧП / МЧП;
																			li._item.js-charters-dropitem
																				span._text Меры поддержки инвесторов;
												// end column
												// start column
												._column
													.libs-card
														._header
															._photo
																ul._labels
																	li._labels-item.-world
																	li._labels-item.-ru
																a(href="#")
																	img._img(src="../../assets/img/content/library/grid/2.jpg", alt="")

														._content
															.charters.is-small._label
																._main
																	span._title Минэкономразвития России
																._aside
																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Минэкономразвития России

															a._title(href="#") Рейтинг субъектов Российской Федерации по уровню сферы ГЧП за 2019 год
														._footer
															ul.formats._formats
																li._item
																	span._text Язык: Русский
																li._item
																	span._text Формат: Word
																li._item
																	span._text Год публикации: 2020

															.charters._charters
																._main
																	span._title Институциональная среда
																._aside.js-charters-aside
																	._count.js-charters-count

																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Институциональная среда
																			li._item.js-charters-dropitem
																				span._text Меры поддержки инвесторов;
												// end column
												// start column
												._column
													.libs-card
														._header
															._photo
																ul._labels
																	li._labels-item.-pdf
																	li._labels-item.-ru
																a(href="#")
																	img._img(src="../../assets/img/content/library/grid/3.jpg", alt="")

														._content
															.charters.is-small._label
																._main
																	span._title ВЭБ.РФ
																._aside.js-charters-aside
																	._count.js-charters-count
																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text ВЭБ.РФ
																			li._item.js-charters-dropitem
																				span._text ВЭБ.РФ

															a._title(href="#") Инфраструктура для устойчивого развития. Как привлечь инвестиции в новое качество проектов
														._footer
															ul.formats._formats
																li._item
																	span._text Язык: Английский
																li._item
																	span._text Формат: PDF
																li._item
																	span._text Год публикации: 2020

															.charters._charters
																._main
																	span._title Качественные инфраструктур...
																._aside.js-charters-aside
																	._count.js-charters-count

																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Городское развитие;
																			li._item.js-charters-dropitem
																				span._text Меры поддержки инвесторов;
												// end column
												// start column
												._column
													.libs-card
														._header
															._photo
																ul._labels
																	li._labels-item.-pdf
																	li._labels-item.-en
																a(href="#")
																	img._img(src="../../assets/img/content/library/grid/4.jpg", alt="")

														._content
															.charters.is-small._label
																._main
																	span._title Asian Development Bank Institute
																._aside
																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Asian Development Bank Institute

															a._title(href="#") Руководство по вопросам политики в отношении инвестиций в качественную инфраструктуру
														._footer
															ul.formats._formats
																li._item
																	span._text Язык: Английский
																li._item
																	span._text Формат: PDF
																li._item
																	span._text Год публикации: 2020

															.charters._charters
																._main
																	span._title Городское развитие
																._aside.js-charters-aside
																	._count.js-charters-count

																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Городское развитие;
																			li._item.js-charters-dropitem
																				span._text Меры поддержки инвесторов;
																			li._item.js-charters-dropitem
																				span._text Цели в области устойчивого развития;
																			li._item.js-charters-dropitem
																				span._text Качественные инфраструктурные инвестиции;
												// end column
												// start column
												._column
													.libs-card
														._header
															._photo
																ul._labels
																	li._labels-item.-pdf
																	li._labels-item.-en
																a(href="#")
																	img._img(src="../../assets/img/content/library/grid/5.jpg", alt="")

														._content
															.charters.is-small._label
																._main
																	span._title The World Bank
																._aside
																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text The World Bank

															a._title(href="#") Основы муниципального частного партнерства от Всемирного банка
														._footer
															ul.formats._formats
																li._item
																	span._text Язык: Английский
																li._item
																	span._text Формат: PDF
																li._item
																	span._text Год публикации: 2020

															.charters._charters
																._main
																	span._title Соглашение о ГЧП / МЧП
																._aside.js-charters-aside
																	._count.js-charters-count

																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Городское развитие;
																			li._item.js-charters-dropitem
																				span._text Меры поддержки инвесторов;
												// start column
												._column
													.libs-card
														._header
															._photo
																ul._labels
																	li._labels-item.-world
																	li._labels-item.-ru
																a(href="#")
																	img._img(src="../../assets/img/content/library/grid/6.jpg", alt="")

														._content
															.charters.is-small._label
																._main
																	span._title Минэкономразвития России
																._aside
																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Минэкономразвития России

															a._title(href="#") Рейтинг субъектов Российской Федерации по уровню развития сферы ГЧП за 2019 год
														._footer
															ul.formats._formats
																li._item
																	span._text Язык: Английский
																li._item
																	span._text Формат: PDF
																li._item
																	span._text Год публикации: 2020

															.charters._charters
																._main
																	span._title Институциональная среда
																._aside.js-charters-aside
																	._count.js-charters-count

																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Городское развитие;
																			li._item.js-charters-dropitem
																				span._text Меры поддержки инвесторов;
												// end column
												// start column
												._column
													.libs-card
														._header
															._photo
																ul._labels
																	li._labels-item.-pdf
																	li._labels-item.-en
																a(href="#")
																	img._img(src="../../assets/img/content/library/grid/6.jpg", alt="")

														._content
															.charters.is-small._label
																._main
																	span._title The World Bank
																._aside
																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																					span._text The World Bank

															a._title(href="#") Основы муниципального частного партнерства от Всемирного банка
														._footer
															ul.formats._formats
																li._item
																	span._text Язык: Английский
																li._item
																	span._text Формат: PDF
																li._item
																	span._text Год публикации: 2020

															.charters._charters
																._main
																	span._title Соглашение о ГЧП / МЧП
																._aside.js-charters-aside
																	._count.js-charters-count

																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Соглашение о ГЧП / МЧП;
																			li._item.js-charters-dropitem
																				span._text Меры поддержки инвесторов;
												// end column
												// start column
												._column
													.libs-card
														._header
															._photo
																ul._labels
																	li._labels-item.-world
																	li._labels-item.-ru
																a(href="#")
																	img._img(src="../../assets/img/content/library/grid/3.jpg", alt="")

														._content
															.charters.is-small._label
																._main
																	span._title Минэкономразвития России
																._aside
																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Минэкономразвития России

															a._title(href="#") Рейтинг субъектов Российской Федерации по уровню сферы ГЧП за 2019 год
														._footer
															ul.formats._formats
																li._item
																	span._text Язык: Русский
																li._item
																	span._text Формат: Word
																li._item
																	span._text Год публикации: 2020

															.charters._charters
																._main
																	span._title Институциональная среда
																._aside.js-charters-aside
																	._count.js-charters-count

																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Институциональная среда
																			li._item.js-charters-dropitem
																				span._text Меры поддержки инвесторов;
												// end column
												// start column
												._column
													.libs-card
														._header
															._photo
																ul._labels
																	li._labels-item.-pdf
																	li._labels-item.-ru
																a(href="#")
																	img._img(src="../../assets/img/content/library/grid/4.jpg", alt="")

														._content
															.charters.is-small._label
																._main
																	span._title ВЭБ.РФ
																._aside.js-charters-aside
																	._count.js-charters-count
																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text ВЭБ.РФ
																			li._item.js-charters-dropitem
																				span._text ВЭБ.РФ

															a._title(href="#") Инфраструктура для устойчивого развития. Как привлечь инвестиции в новое качество проектов
														._footer
															ul.formats._formats
																li._item
																	span._text Язык: Английский
																li._item
																	span._text Формат: PDF
																li._item
																	span._text Год публикации: 2020

															.charters._charters
																._main
																	span._title Качественные инфраструктур...
																._aside.js-charters-aside
																	._count.js-charters-count

																	._dropdown.js-charters-drop
																		ul._list
																			li._item.js-charters-dropitem
																				span._text Городское развитие;
																			li._item.js-charters-dropitem
																				span._text Меры поддержки инвесторов;
												// end column


											// end section-layout

										// start section-pagination
										._pagination.section-pagination.no-border
											.page-navigation._navigation
												._main
													ul._list
														li._item.first.is-active.disabled
															span._link 1
														li._item
															a._link(href="#") 2
														li._item
															a._link(href="#") 3
														li._item
															a._link(href="#") 4
														li._item
															a._link(href="#") 5
														li._item
															span._link.disabled ...
														li._item
															a._link(href="#") 21

												._aside
													ul._list
														li._item
															a._link.disabled(href="#")
																<i class="fe fe-chevrons-left"></i>
														li._item
															a._link.is-next(href="#")
																<i class="fe fe-chevrons-right"> </i>
											// end section-pagination

									._tab
										._inner
											span 2

					// end main-content
					// start main-aside
					aside.main-aside._aside.is-secondary.is-left.js-new-mobile-filter
						._container.js-main-aside-sticky

							// start aside-widget
							.aside-widget._widget
								._header.is-border
									h4._heading Фильтр:
										span.badge.is-danger 1

									._reset.js-filter-catalog-reset Сбросить

								._body
									form.widget-form._form(action='#' method='post')
										._body
											._group.is-bordered.is-opened.js-accordion-item
												._heading.js-accordion-toggle Тип материалов
												._body.js-accordion-body
													._content.js-list(data-show-count='3')
														._list
															.form-group._field.js-accordion-item.js-list-item
																+input-control({
																		type: 'checkbox',
																		label: 'Все материалы',
																		theme: 'is-outline',
																		checked: true
																})

															.form-group._field.js-accordion-item.js-list-item
																+input-control({
																		type: 'checkbox',
																		label: 'Общая аналитика и обзоры рынка',
																		theme: 'is-outline'
																})

															.form-group._field.js-accordion-item.js-list-item
																+input-control({
																		type: 'checkbox',
																		label: 'Отраслевые материалы и разбор практик',
																		theme: 'is-outline'
																})
															.form-group._field.js-accordion-item.js-list-item
																+input-control({
																		type: 'checkbox',
																		label: 'Отраслевые материалы и разбор практик',
																		theme: 'is-outline'
																})
														
														._footer.-secondary.js-list-toggle-parent
															span.link-more-chevron._link-more.js-list-toggle Показать ещё
																i.fe.fe-chevron-down._icon

											._group.is-bordered.is-opened.js-accordion-item
												._heading.js-accordion-toggle Сфера
												._body.js-accordion-body
													._content.js-list(data-show-count='3')
														.select-custom.js-custom-select(data-placeholder='Поиск сферы')
															._header.js-custom-select-header
																+input-text({
																	type: 'text',
																	placeholder: 'Добавление сферы'
																}, {
																	class: 'select-custom__input js-custom-select-input'
																})

															._body
																._dropdown
																	._scrollbar.js-scrollbar
																		._content.js-select-custom-list
																			._item
																				+input-control({
																						type: 'checkbox',
																						label: 'Социальная инфраструктура',
																						theme: 'is-outline'
																				})

																			._item
																				+input-control({
																						type: 'checkbox',
																						label: 'Транспортная инфраструктура',
																						theme: 'is-outline'
																				})

																			._item
																				+input-control({
																						type: 'checkbox',
																						label: 'Транспортная инфраструктура',
																						theme: 'is-outline'
																				})
																	._footer
																		+button({
																				title: 'Применить фильтр',
																				type: 'is-outline-secondary is-block'
																		}, {
																				class: 'js-select-custom-apply'
																		})

											._group.is-bordered.is-opened.js-accordion-item
												._heading.js-accordion-toggle Язык документа
												._body.js-accordion-body
													._content.js-list(data-show-count='3')
														._list

															.form-group._field.js-accordion-item.js-list-item
																+input-control({
																		type: 'checkbox',
																		label: 'Русский',
																		theme: 'is-outline'
																})
															.form-group._field.js-accordion-item.js-list-item
																+input-control({
																		type: 'checkbox',
																		label: 'Английский',
																		theme: 'is-outline'
																})
														
														._footer.-secondary.js-list-toggle-parent
															span.link-more-chevron._link-more.js-list-toggle Показать ещё
																i.fe.fe-chevron-down._icon

											._group.is-bordered.is-opened.js-accordion-item
												._heading.js-accordion-toggle Компания
												._body.js-accordion-body
													._content.js-list(data-show-count='3')
														.select-custom.js-custom-select(data-placeholder='Выберите компанию')
															._header.js-custom-select-header
																+input-text({
																	type: 'text',
																	placeholder: 'Выберите компанию'
																}, {
																	class: 'select-custom__input js-custom-select-input'
																})

															._body
																._dropdown
																	._scrollbar.js-scrollbar
																		._content.js-select-custom-list
																			._item
																				+input-control({
																						type: 'checkbox',
																						label: 'Социальная инфраструктура',
																						theme: 'is-outline'
																				})

																			._item
																				+input-control({
																						type: 'checkbox',
																						label: 'Транспортная инфраструктура',
																						theme: 'is-outline'
																				})

																			._item
																				+input-control({
																						type: 'checkbox',
																						label: 'Транспортная инфраструктура',
																						theme: 'is-outline'
																				})


																	._footer
																		+button({
																				title: 'Применить фильтр',
																				type: 'is-outline-secondary is-block'
																		}, {
																				class: 'js-select-custom-apply'
																		})
											
										._mobile-accept
											.button.button-block.is-primary._mobile-button.js-mobile-accept Показать материалы 
												._mobile-button-value ( 3 148)
							// end aside-widget

					// end main-aside

		// end main-body

	.scrolltop._scrolltop
		a._link.js-scrolltop(href="#body")
			span._text Вернуться наверх страницы
			._icon
				<svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 4L4.5 1L8 4" stroke="#9199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
