.helper-card {
  position: relative;
  padding: 15px;
  text-align: left;
  background: $white-color;
  border-radius: 5px;
  box-shadow: 0 9px 35px rgba(35, 52, 107, 0.1);

  @include breakpoint($lg-breakpoint) {
    padding: 25px 20px;
  }

  @include breakpoint($xl-breakpoint) {
    padding: 30px;
  }

  &__body {
    display: flex;
  }

  &__main {
    flex: 1 1 auto;
    min-width: 0;
  }

  &__content {
    max-width: 580px;
  }

  &__heading {
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: 500;

    @include breakpoint($sm-breakpoint) {
      font-size: 22px;
    }

    @include breakpoint($lg-breakpoint) {
      margin-bottom: 20px;
    }

    @include breakpoint($xl-breakpoint) {
      margin-bottom: 30px;
      font-size: 24px;
    }
  }

  &__list {
    margin: 0 0 15px;
    padding: 0;
    list-style: none;

    @include breakpoint($lg-breakpoint) {
      margin-bottom: 20px;
    }

    @include breakpoint($xl-breakpoint) {
      margin-bottom: 25px;
    }
  }

  &__item {
    position: relative;
    padding-left: 24px;
    margin-bottom: 5px;
    color: rgba($body-color, 0.9);
    font-weight: 500;

    &:before{
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      width: 5px;
      height: 5px;
      background: $danger-color;
      border-radius: 50%;
    }

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__price {
    display: flex;
    align-items: flex-end;
    margin: 0 0 15px;
    font-size: 18px;
    color: $primary-color;
    font-weight: 500;

    @include breakpoint($lg-breakpoint) {
      margin-bottom: 25px;
    }

    @include breakpoint($xl-breakpoint) {
      margin-bottom: 30px;
    }

    &-value {
      margin: 0 5px;
      font-size: 32px;
      line-height: 1;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__button {
    flex: 1;
    margin-right: 7px;

    @include breakpoint($md-breakpoint) {
      flex: 0 0 auto;
    }

    &:last-child{
      margin-right: 0;
    }
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;

    @include breakpoint($md-breakpoint) {
      display: block;
      width: 60%;
    }

    @include breakpoint($xl-breakpoint) {
      width: auto;
    }
  }
}
