include ../button/button

mixin helper-card(data, attrs)
  .helper-card&attributes(attrs)
    ._body
      ._main
        ._content
          if (data.heading)
            h2._heading= data.heading

          ul._list
            each item in data.list
              li._item= item

          if (data.price)
            span._price #{data.price.small} <span class="helper-card__price-value">#{data.price.value}</span> #{data.price.currency}

          ._actions
            each button in data.buttons
              +button(button, {
                class: 'helper-card__button'
              })

      ._aside
        img._img(src='__static__img/general/helper-logo.svg' alt='')
