include ../badge/badge

mixin object-card(data, attrs)
  .card.is-object&attributes(attrs)
    .card-header._header
      ._main
        +badge(data.badge, {
          class: 'card-header__badge'
        })

        span._date Добавлен: 28.01.2019 19:01

      ._aside
        .card-region._region
          span._title= data.region.title
          span._icon
            img._img(src=data.region.icon)

    .card-body._body
      h3.card-heading._heading
        a._link(href=data.href title='')= data.title

      ul.list-badges._list-badges
        each badge in data.badges
          li._item
            +badge(badge)

      ul.card-props._props
        each prop in data.props
          li._item
            span._label= prop.label
            span._value= prop.value

    .card-region._region.is-mobile
      span._icon
        img._img(src=data.region.icon)
      span._title= data.region.title

mixin object-card-tile(data, attrs)
  .card.is-tile&attributes(attrs)
    ._inner
      .card-header._header
        ._main
          +badge(data.badge, {
              class: 'card-header__badge'
          })

          span._date Добавлен: 28.01.2019 19:01

      .card-body._body
        h3.card-heading.is-small._heading
          a._link(href=data.href title='')= data.title

        ul.list-badges._list-badges
          each badge in data.badges
            li._item
              +badge(badge)

        ul.card-props._props
          each prop in data.props
            li._item
              span._label= prop.label
              span._value= prop.value

    .card-region._region
      span._icon
        img._img(src=data.region.icon)
      span._title= data.region.title
