extends ../../../template

include ../../../../components/section-intro/section-intro
include ../../../../components/section-default/section-default
include ../../../../components/section-slider/section-slider
include ../../../../components/categories-slider/categories-slider
include ../../../../components/section-feedback/section-feedback

include ../../../../components/vocabulary-card/vocabulary-card

include ../../../../components/select/select
include ../../../../components/button/button

block append settings
  -
    page.title = 'Словарь ГЧП';


block page-body

  main.page-main

    // start main-header
    .main-header._header
      ._container.container
        ._content
          h1.main-heading._heading= page.title
    // end main-header

    // start main-body
    .main-body._body
      ._container.container
        ._grid

          // start main-content
          .main-content._content

            // start main-sorting
            .main-sorting._sorting
              ._container
                ._main
                  ._filters
                    ._filter
                      label._label Сортировка:
                      +select({
                        type: 'is-clear',
                        options: [{
                          title: 'По дате добавления'
                        }, {
                          title: 'Опция 2'
                        }, {
                          title: 'Опция 3'
                        }, {
                          title: 'Опция 4'
                        }]
                      }, {
                        'data-width': 'auto'
                      })
            // end main-sorting

            // start section-layout
            .section-layout._section-layout
              ._body
                ._grid
                  each item in db_vocabularies
                    ._column
                      +vocabulary-card(item)
            // end section-layout

          // end main-content

          // start main-aside
          aside.main-aside._aside

            // start aside-widget
            .aside-widget._widget
              ._header
                h4._heading Словать по алфавиту

              ._body
                .categories-list
                  ._group
                    ._letter Б
                    ul._ul
                      li._item
                        a._link(href='#' title='') Башкирское дело

                  ._group
                    ._letter В
                    ul._ul
                      li._item
                        a._link(href='#' title='') Валовая выручка

                  ._group
                    ._letter Г
                    ul._ul
                      li._item
                        a._link(href='#' title='') ГЧП для инвесторов
                      li._item
                        a._link(href='#' title='') ГЧП для публичного партнера

                  ._group
                    ._letter И
                    ul._ul
                      li._item
                        a._link(href='#' title='') Инвестиционный платеж
                      li._item
                        a._link(href='#' title='') Источник возврата инвестиций

                  ._group
                    ._letter К
                    ul._ul
                      li._item
                        a._link(href='#' title='') Капитальные затраты
                      li._item
                        a._link(href='#' title='') Капитальный грант
                      li._item
                        a._link(href='#' title='') Коммерческое закрытие
                      li._item
                        a._link(href='#' title='') Компенсация при досрочном расторжении
                      li._item
                        a._link(href='#' title='') Концедент
                      li._item
                        a._link(href='#' title='') Концессионер
                      li._item
                        a._link(href='#' title='') Концессионная плата
                      li._item
                        a._link(href='#' title='') Концессионное соглашение

                  ._group
                    ._letter М
                    ul._ul
                      li._item
                        a._link(href='#' title='') Матрица рисков
                      li._item
                        a._link(href='#' title='') Минимальный гарантированный доход (МГД)

                  ._group
                    ._letter О
                    ul._ul
                      li._item
                        a._link(href='#' title='') Объект соглашения
                      li._item
                        a._link(href='#' title='') Операционные затраты
                      li._item
                        a._link(href='#' title='') Особые обстоятельства
                      li._item
                        a._link(href='#' title='') ОМС

                  ._group
                    ._letter П
                    ul._ul
                      li._item
                        a._link(href='#' title='') Плата концедента
                      li._item
                        a._link(href='#' title='') Право собственности

                  ._group
                    ._letter Р
                    ul._ul
                      li._item
                        a._link(href='#' title='') Роуд-шоу

                  ._group
                    ._letter С
                    ul._ul
                      li._item
                        a._link(href='#' title='') Схемы теплоснабжения, схемы водоснабжения и водоотведения

                  ._group
                    ._letter Т
                    ul._ul
                      li._item
                        a._link(href='#' title='') Тариф ОМС

                  ._group
                    ._letter Ф
                    ul._ul
                      li._item
                        a._link(href='#' title='') Финансовое закрытие

                  ._group
                    ._letter Ц
                    ul._ul
                      li._item
                        a._link(href='#' title='') Целевая эксплуатация объекта здравоохранения

                  ._group
                    ._letter Ч
                    ul._ul
                      li._item
                        a._link(href='#' title='') Частная инициатива

                  ._group
                    ._letter Ю
                    ul._ul
                      li._item
                        a._link(href='#' title='') Юридическая модель проекта
            // end aside-widget

          // end main-aside
    // end main-body
