.moder-card{
  display: inline-flex;
  flex-direction: column;

  &__header{
    position: relative;
    margin-bottom: 20px;
  }

  &__photo{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 206px;
    height: 206px;
    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
    border-radius: 50%;
    border: 11px solid rgba(255, 255, 255, 0.1);

    @include breakpoint($lg-breakpoint){
      width: 256px;
      height: 256px;
    }

    &-inner{
      position: relative;

      width: 100%;
      height: 100%;

      overflow: hidden;
      border-radius: 50%;
      border: 12px solid rgba(255, 255, 255, 0.3);

      background: radial-gradient(circle, rgba(59,54,88,1) 0%, rgba(34,65,101,1) 100%);
      display: flex;
      align-items: flex-end;
    }

    img{
      transition: 0.3s;
      // backface-visibility: hidden;
      // transform: translate3d(0,0,0);
      // -webkit-font-smoothing: subpixel-antialiased;
    }

    &:hover{
      transition: 0.3s;

      .moder-card{
        &__name{
          // text-decoration: underline;
        }
      }
      
      img{
        // transform: scale(1.1);
        // transform: translateZ(0) scale(1.1) translate3d(0,0,0);
      }
    }
  }

  &__social{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;

    position: absolute;
    right: 15px;
    bottom: 15px;

    overflow: hidden;
    border-radius: 50%;
    background: #3B5998;
    border: 3px solid #FFFFFF;

    img{
      transition: 0.3s;
    }

    &:hover{
      transition: 0.3s;
      
      img{
        transform: scale(1.2);
        transition: 0.3s;
      }
    }
  }

  &__body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name{
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;

    &:hover{
      // text-decoration: underline;
    }
  }

  &__position{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-weight: 300;

    max-width: 210px;
    color: #FFFFFF;
    opacity: 0.7;
    text-align: center;

    @include breakpoint($lg-breakpoint){
      font-size: 15px;
      max-width: 260px;
      font-weight: 400;
    }
  }
}