.ui-link {
  position: relative;
  color: var(--muted-color);

  @include breakpoint($xl-breakpoint) {
    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0;
      border-top: 1px solid currentColor;
      transition: 0.5s;
    }
  }

  &:hover {
    color: var(--muted-color);

    &::after {
      width: 100%;
    }
  }

  &[href='#'] {
    pointer-events: none;
  }


  &_type {
    &_clear {
      color: inherit;

      &::after {
        display: none;
      }

      &:hover {
        color: inherit;
      }
    }

    &_decoration {
      text-decoration: underline;

      &::after {
        display: none;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}
