mixin ui-link(data, attrs)
  -
    data = data || {};
    attrs = attrs || {};

    var tag = data.tag || 'a';
    var type = data.type ? `ui-link_type_${data.type}` : '';

  #{tag}.ui-link(href=(data.href || '#') class=`${type}`)&attributes(attrs)
    block
