mixin country-card(data)
  .country-card
    ._main
      .flag._flag
        img.img-cover._img(src=data.icon alt='')

      ._content
        h2._heading= data.title
        a.link-more-chevron._more(href=data.href title=data.more)= data.more
          i.fe.fe-chevron-right._icon

    ._aside
      a._link(href='#' title='')
        span._value= data.partners.value
        span._label= data.partners.label
        span._button
          i.fe.fe-chevron-right
