.country-card {
  background: $white-color;
  box-shadow: -2px 4px 15px rgba(35, 52, 107, 0.05);
  transition: 0.25s;

  @include breakpoint($sm-breakpoint) {
    display: flex;
  }

  &:hover {
    box-shadow: none;
  }

  &__main {
    display: flex;
    padding: 18px 20px;

    @include breakpoint($sm-breakpoint) {
      align-items: center;
      flex: 1 1 auto;
    }
  }

  &__aside{
    border-top: 1px solid $border-color;

    @include breakpoint($sm-breakpoint) {
      flex: 0 0 260px;
      max-width: 260px;
    }
  }

  &__flag {
    flex-shrink: 0;
    margin-right: 15px;
  }

  &__content {
    position: relative;
    top: 1px;
  }

  &__heading {
    margin: 0 0 1px;
    font-size: 18px;
  }

  &__more {
    color: $muted-color;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    height: 100%;
    color: $primary-color;
    text-decoration: none;
    border-left: 1px solid $border-color;
    transition: 0.3s;

    &:hover {
      color: $white-color;
      background-color: $primary-color;

      .country-card {
        &__label {
          color: $white-color;
        }

        &__button {
          color: $white-color;
          border-color: transparent;
          background-color: rgba($white-color, 0.2);
        }
      }
    }
  }

  &__value {
    display: block;
    margin-right: 10px;
    font-size: 32px;
    line-height: 1;
  }

  &__label {
    display: block;
    max-width: 95px;
    color: $body-color;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 38px;
    height: 38px;
    color: $primary-color;
    border: 1px solid $border-color;
    border-radius: 50%;
    transition: 0.3s;
  }
}
