.market-services{
  $self: &;

  display: flex;
  flex-direction: column;
  position: relative;

  height: 100%;

  text-decoration: none;

  background: #F6F6F8;
  border-radius: 10px;
  // overflow: hidden;

  &.is-bg{
    position: relative;
    background: none;
    z-index: 1;

    &:after{
      display: none;
    }

    .market-services{
      &__photo{
        position: relative;
        z-index: -1;

        &:before{
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: #1C2A58;
          opacity: 0.3;
          z-index: 0;
        }

        img{
          width: 100%;
        }
      }

      &__wrap{
        display: flex;
        flex-direction: column;

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }

      &__body{
        height: auto;
      }

      &__footer{
        margin-top: auto;
      }

      &__title{
        color: #fff;
      }

      &__footer{
        flex-direction: row-reverse;

        padding-top: 0;
        border: 0;
      }

      &__aside{
        margin-left: 0;
        margin-right: 10px;
      }

      &__company{
        &-name{
          color: #fff;
          font-size: 15px;
        }
      }

      &__recomend{
        color: #FFFFFF;
      }
    }
  }

  &.no-marks{
    &:after{
      display: none;
    }
  }

  &:after{
    content: '';
    position: absolute;
    right: 25px;
    top: 0;
    width: 16px;
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='21' viewBox='0 0 16 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H16V19.899C16 20.7411 15.0229 21.2061 14.3694 20.6751L8 15.5L1.63059 20.6751C0.977077 21.2061 0 20.7411 0 19.899V0Z' fill='%23DDE0E9'/%3E%3C/svg%3E%0A");
  }

  &__body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 25px 25px 22px;
  }

  &__header{
    margin-bottom: 21px;
  }

  &__actions{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 10px;
  }

  &__badge{
    color: #fff;
    background: #4F5D89;
    border-radius: 3px;
  }

  &__rating{
    display: inline-flex;
    align-items: center;

    color: #9199B5;

    &:before{
      content: '';
      width: 14px;
      height: 13px;
      flex-shrink: 0;
      margin-right: 5px;
      margin-top: -3px;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.33102 0.214127L9.1118 4.31823L13.6708 4.6996C13.987 4.72619 14.1157 5.11036 13.8756 5.31259L10.4176 8.2299L11.4538 12.5698C11.5257 12.8714 11.1901 13.1086 10.9185 12.9484L7.00045 10.6476L3.08244 12.9484C2.81007 13.1079 2.47519 12.8707 2.54705 12.5698L3.58333 8.2299L0.124527 5.31189C-0.115498 5.10966 0.0124193 4.72549 0.329338 4.6989L4.88837 4.31753L6.66916 0.214127C6.79276 -0.0713757 7.20741 -0.0713757 7.33102 0.214127Z' fill='%23FFAB00'/%3E%3C/svg%3E%0A");
    }
  }

  &__title {
    font-size: 17px;
    font-weight: 500;
  }

  @at-root a#{&}__title {
    text-decoration: none;
    display: block;
    color: #23346B;

    &:hover {
      text-decoration: underline;
    }
  }

  &__title-link {
    color: #23346B;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__content{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    margin-top: auto;
  }

  &__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item{
    position: relative;

    &:hover{
      cursor: pointer;
      
      ul{
        opacity: 1;
        visibility: visible;
        transition: 0.3s;
      }
    }
  }

  &__text{
    display: inline-flex;
    align-items: center;

    color: #9199B5;
  }

  &__value{
    display: inline-flex;
    align-items: center;
    margin-left: 3px;

    &:after{
      content: '';
      width: 8px;
      height: 5px;
      margin-left: 3px;
      flex-shrink: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.49402 3.82837L0.207479 1.03453C-0.0691597 0.799364 -0.0691597 0.418082 0.207479 0.182915C0.484118 -0.052252 0.5 0.00650137 1 0.00657257L4 0.00653976L7 0.00654414C7 0.00654414 7.51588 -0.052252 7.79252 0.182915C8.06916 0.418082 8.06916 0.799364 7.79252 1.03453L4.50598 3.82837C4.22654 4.06593 3.77346 4.06593 3.49402 3.82837Z' fill='%23919AB5'/%3E%3C/svg%3E%0A");
    }
  }

  &__footer{
    display: flex;
    align-items: center;
    padding: 15px 25px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
  }

  &__main{
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }

  &__aside{
    margin-left: 10px;
  }

  &__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 70px;
    height: 40px;

    border-radius: 5px;
    background: #FFFFFF;
    overflow: hidden;
    border: 1px solid #F2F3F6;
  }

  &__company{
    &-name{
      display: block;
      max-height: 40px;
      overflow: hidden;

      font-weight: 500;
      font-size: 14px;
      color: #23346B;
    }

    &-type{
      font-size: 14px;
      color: #9199B5;
    }
  }

  &__drop{
    position: absolute;
    right: -25px;
    top: calc(100% + 10px);
    background: #fff;
    margin: 0;
    padding: 20px;
    list-style-type: none;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
    transition: 0.3s;
    z-index: 3;

    &:before{
      content: '';
      position: absolute;
      top: -5px;
      right: 25px;
      background: #fff;
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
    }

    &-list{
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    &-text{
      color: #4F5D89;
      margin-bottom: 5px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  &__more{
    display: inline-flex;
    align-items: center;

    margin: 15px 25px;

    color: #9199B5;
    text-decoration: none;
    transition: 0.5s;

    &:after{
      content: '';
      width: 5px;
      height: 9px;
      margin-left: 7px;
      flex-shrink: 0;
      transition: 0.5s;
      background-image: url("data:image/svg+xml,%3Csvg width='5' height='9' viewBox='0 0 5 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4 4.5L1 8' stroke='%239199B5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }

    &:hover{
      color: #23346B;
      transition: 0.5s;

      &:after{
        transition: 0.5s;
        background-image: url("data:image/svg+xml,%3Csvg width='5' height='9' viewBox='0 0 5 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4 4.5L1 8' stroke='%2323346B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &__recomend{
    display: inline-flex;
    align-items: center;

    margin: 15px 25px;

    color: #9199B5;
    text-decoration: none;
    transition: 0.5s;

    &:hover{
      color: #23346B;
      transition: 0.5s;
    }
  }

  &__summary {
    padding: 0px 25px 20px;
    border-bottom: 1px solid #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__services {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: #4F5D89;
    transition: all .3s;
    position: relative;

    svg {
      vertical-align: middle;
      display: inline-block;
      margin-right: 10px;
      margin-top: -5px;
    }

    &:hover {
      color: #23346B;
    }

    &:hover span {
      text-decoration: underline;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 10px;
      height: 10px;
      left: 100%;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMyAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuMjIxOCA5Ljg4ODg5TDExLjY2NzIgNS40NDQ0NEw3LjIyMTggMSIgc3Ryb2tlPSIjNTA1QzgzIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik0xMS42NjkgNS40NDQ1OEgxIiBzdHJva2U9IiM1MDVDODMiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transform: translate(8px, 3px);
    }

    strong {
      font-size: 16px;
      font-weight: 500;
    }
  }
  
  &--visual {
    transition: all .3s;

    &:hover {
      box-shadow: 0px 9px 25px rgba(35, 52, 107, 0.15);
    }

    .market-services__logo {
      margin-bottom: 25px;
      width: 120px;
      height: 55px;
    }

    // .market-services__img {
    //   max-width: 90px;
    //   display: block;
    //   width: 100%;
    //   max-height: 70%;
    // }

    .market-services__title {
      // height: 60px;
      // overflow: hidden;
      margin-bottom: 10px;
      line-height: 1.2;
    }

    &.is-inline{
      .market-services{
        &__body{
          align-items: flex-start;
          position: relative;

          padding-right: 140px;
        }

        &__logo{
          position: absolute;
          right: 25px;
          top: 25px;

          margin: 0;
        }

        &__footer{
          display: flex;
          align-items: center;
          justify-content: space-between;

          border-bottom: 0;
        }

        &__more{
          margin: 0;
        }

        &__companies{
          display: inline-flex;
          align-items: center;
          
          color: #9199B5;
          text-decoration: none;
          transition: 0.5s;

          &:before{
            content: '';
            width: 15px;
            height: 14px;
            flex-shrink: 0;
            margin-right: 5px;
            transition: 0.5s;
            background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7 4.27271H2.3C1.58203 4.27271 1 4.8309 1 5.51946V11.7532C1 12.4418 1.58203 13 2.3 13H12.7C13.418 13 14 12.4418 14 11.7532V5.51946C14 4.8309 13.418 4.27271 12.7 4.27271Z' stroke='%239199B5' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.66634 4.27273V2.33333C9.66634 1.97971 9.5522 1.64057 9.34904 1.39052C9.14588 1.14048 8.87033 1 8.58301 1H6.41634C6.12902 1 5.85347 1.14048 5.65031 1.39052C5.44714 1.64057 5.33301 1.97971 5.33301 2.33333V4.27273' stroke='%239199B5' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          }

          span{
            margin-left: 3px;
          }

          &:hover{
            color: #23346B;
            transition: 0.5s;

            &:before{
              transition: 0.5s;
              background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7 4.27271H2.3C1.58203 4.27271 1 4.8309 1 5.51946V11.7532C1 12.4418 1.58203 13 2.3 13H12.7C13.418 13 14 12.4418 14 11.7532V5.51946C14 4.8309 13.418 4.27271 12.7 4.27271Z' stroke='%2323346B' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.66634 4.27273V2.33333C9.66634 1.97971 9.5522 1.64057 9.34904 1.39052C9.14588 1.14048 8.87033 1 8.58301 1H6.41634C6.12902 1 5.85347 1.14048 5.65031 1.39052C5.44714 1.64057 5.33301 1.97971 5.33301 2.33333V4.27273' stroke='%2323346B' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
          }
        }
      }
    }
  }

  &--fixed {
    #{$self}__title {
      height: 83px;
      overflow: hidden;
      line-height: 1.2;
    }
  }
}