mixin market-services(data, attrs)
	
	// start card
	if(type=data.type)
		.market-services.is-inline&attributes(attributes)
			._body
				._header
					._actions
						span.badge.is-small.is-round._badge= data.badge
					
					._title
						a._title-link(href="#")= data.title

				._content
					ul._list
						li._item
							._text= data.text
								._value +2
							
							ul._drop
								li._drop-item
									ul._drop-list
										li._drop-text Инжиниринг
										li._drop-text Инжиниринг
			if(data.company)
				._footer
					._main
						span._company-name= data.company.name
						span._company-type= data.company.type
					._aside
						._logo
							img._img(src= data.company.icon.src alt="")
	else
		.market-services&attributes(attributes)
			._body
				._header
					._actions
						span.badge.is-small.is-round._badge= data.badge
					
					._title
						a._title-link(href="#")= data.title

				._content
					ul._list
						li._item
							._text= data.text
								._value +2
							
							ul._drop
								li._drop-item
									ul._drop-list
										li._drop-text Инжиниринг
										li._drop-text Инжиниринг

			if(data.company)
				._footer
					._main
						span._company-name= data.company.name
					._aside
						._logo
							img._img(src= data.company.icon.src alt="")
			a._more(href="#") Подробнее
						
	// end card