extends ../../template

include ../../../components/section-intro/section-intro
include ../../../components/section-default/section-default
include ../../../components/section-slider/section-slider
include ../../../components/categories-slider/categories-slider
include ../../../components/section-feedback/section-feedback
include ../../../components/super-search/super-search

include ../../../components/vocabulary-card/vocabulary-card

include ../../../components/select/select
include ../../../components/button/button

block append settings
	-
		page.title = 'Словарь государственно-частного партнерства (ГЧП)';


block page-body

	main.page-main

		// start main-header
		.main-header._header
			._container.container
				._content
					h1.main-heading._heading= page.title
		// end main-header

		// start main-caption
		.main-preview._preview
			._container.container
				._body
					._content
						span._caption Кто такой концессионер и чем он отличается от концедента, как правильно оценить OPEX и для чего это нужно? Ответы на эти и многие другие вопросы вы найдете в словаре. Ведущие эксперты рынка ГЧП постарались простыми словами в формате коротких видеороликов объяснить значения различных понятий и терминов, которые встречаются при подготовке и реализации проекта ГЧП.
					._aside
						span._value 31
						span._label терминов
		// end main-caption

		// start main-search
		.main-search._search(style="background: #F5F6F8;")
			._container.container
				+super-search({
					advanced: true,
					placeholder: 'Поиск термина'
				})
		// end main-search

		// start main-body
		.main-body._body

			// start main-content
			.main-content._content
				//start main-alphabet
				.main-alphabet._alphabet
					._container.container
						._header
							.alphabet-list
								ul._list
									li._item
										a._letter(href="#") А
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Б
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") В
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Г
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Д
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Е
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Ё
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Ж
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") З
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") И
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") К
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Л
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") М
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Н
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") О
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item.-selected
										a._letter(href="#") П
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Р
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") С
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Т
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") У
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Ф
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") X
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Ч
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Ц
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Ч
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Ш
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Щ
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Э
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Ю
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Я
										._dropdown
											ul._dropdown-list
												li._dropdown-item
													a._dropdown-text(href="#") Объект соглашения
												li._dropdown-item
													a._dropdown-text(href="#") Операционные затраты
												li._dropdown-item
													a._dropdown-text(href="#") Особые обстоятельства
						._content

							._section
								// start alphabet-card
								.alphabet-card
									._body
										._aside
											span._letter П
										._content
											ul._list
												li._item
													a._link.js-video-card(href="https://www.youtube.com/watch?v=JXwBK0H18Wk")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Плата концедента
												li._item
													a._link.js-video-card(href="https://www.youtube.com/watch?v=JXwBK0H18Wk")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Право собственности
												li._item
													a._link.js-video-card(href="https://www.youtube.com/watch?v=JXwBK0H18Wk")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Проектная документация
												li._item
													a._link.js-video-card(href="https://www.youtube.com/watch?v=JXwBK0H18Wk")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Прямое соглашение

								// end alphabet-card
				// end main-alphabet



			// end main-content

		// end main-body

		.scrolltop._scrolltop
			a._link.js-scrolltop(href="#body")
				span._text Вернуться наверх страницы
				._icon
					<svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1 4L4.5 1L8 4" stroke="#9199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
