extends ../../template

include ../../../components/section-intro/section-intro
include ../../../components/section-default/section-default
include ../../../components/section-slider/section-slider
include ../../../components/categories-slider/categories-slider
include ../../../components/section-feedback/section-feedback
include ../../../components/super-search/super-search

include ../../../components/vocabulary-card/vocabulary-card

include ../../../components/select/select
include ../../../components/button/button

block append settings
	-
		page.title = 'Словарь государственно-частного партнерства (ГЧП)';


block page-body
	.breadcrumbs
		._container.container
			ul._list
				li._item
					a._link(href="/" title="Главная") Главная
				li._item
					a._link(href="#" title="Академия ГЧП") Академия ГЧП
				li._item
					span._link Словарь ГЧП

	main.page-main

		// start main-header
		.main-header._header
			._container.container
				._content
					h1.main-heading._heading= page.title
		// end main-header

		// start main-caption
		.main-preview._preview
			._container.container
				._body
					._content
						span._caption Кто такой концессионер и чем он отличается от концедента, как правильно оценить OPEX и для чего это нужно? Ответы на эти и многие другие вопросы вы найдете в словаре. Ведущие эксперты рынка ГЧП постарались простыми словами в формате коротких видеороликов объяснить значения различных понятий и терминов, которые встречаются при подготовке и реализации проекта ГЧП.
					._aside
						span._value 31
						span._label термин
		// end main-caption

		// start main-search
		.main-search._search(style="background: #F5F6F8;")
			._container.container
				+super-search({
					advanced: true,
					placeholder: 'Поиск термина'
				})
		// end main-search

		// start main-body
		.main-body._body

			// start main-content
			.main-content._content
				//start main-alphabet
				.main-alphabet._alphabet
					._container.container
						._header
							.alphabet-list
								ul._list
									li._item.-disabled
										a._letter(href="#") А
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Б
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") В
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
										li._item
										a._letter(href="#") Г
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Д
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Е
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Ё
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Ж
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") З
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") И
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") К
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item.-disabled
										a._letter(href="#") Л
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") М
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Н
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") О
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") П
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Р
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") С
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Т
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item.-disabled
										a._letter(href="#") У
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Ф
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item.-disabled
										a._letter(href="#") X
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Ч
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Ц
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Ч
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Ш
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Щ
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Э
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Ю
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
									li._item
										a._letter(href="#") Я
										._dropdown
											._dropdown-inner
												._dropdown-scrollbar
													ul._dropdown-list
														li._dropdown-item
															a._dropdown-text(href="#") Объект соглашения
														li._dropdown-item
															a._dropdown-text(href="#") Операционные затраты
														li._dropdown-item
															a._dropdown-text(href="#") Особые обстоятельства
						._content
							._section.js-accordion.js-list(data-show-count='5')
								// start alphabet-card
								.alphabet-card
									._body
										._aside
											span._letter Б
										._content
											ul._list
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/dTWQ2M1EuqU")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Башкирское дело
											._show-more.js-list-toggle-parent
												span.link-more-chevron._link-more.js-list-toggle Показать еще
													i.fe.fe-chevron-down._icon

								// end alphabet-card
							._section.js-accordion.js-list(data-show-count='5')
								// start alphabet-card
								.alphabet-card
									._body
										._aside
											span._letter В
										._content
											ul._list
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/MVs3vzE8AOk")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Валовая выручка
											._show-more.js-list-toggle-parent
												span.link-more-chevron._link-more.js-list-toggle Показать еще
													i.fe.fe-chevron-down._icon

								// end alphabet-card
							._section.js-accordion.js-list(data-show-count='5')
								// start alphabet-card
								.alphabet-card
									._body
										._aside
											span._letter Г
										._content
											ul._list
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/mmliLfeEry0")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text ГЧП для инвестора
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/CYUoDZMzYus")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text ГЧП для публичного партнёра
											._show-more.js-list-toggle-parent
												span.link-more-chevron._link-more.js-list-toggle Показать еще
													i.fe.fe-chevron-down._icon

								// end alphabet-card
							._section.js-accordion.js-list(data-show-count='5')
								// start alphabet-card
								.alphabet-card
									._body
										._aside
											span._letter И
										._content
											ul._list
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/XN5AHmnu9z0")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Инвестиционный платёж
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/BuoM7bt6V5E")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Источник возврата инвестиций
											._show-more.js-list-toggle-parent
												span.link-more-chevron._link-more.js-list-toggle Показать еще
													i.fe.fe-chevron-down._icon

								// end alphabet-card
							._section.js-accordion.js-list(data-show-count='5')
								// start alphabet-card
								.alphabet-card
									._body
										._aside
											span._letter К
										._content
											ul._list
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/obmQjnKCggU")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Капитальные затраты
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/vfqT6Zoaeyg")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Капитальный грант
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/xzEZSvy6qX8")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Коммерческое закрытие
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/OWpuEJPadCI")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Компенсация при досрочном расторжении
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/6rsJN5-CuSw")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Концедент
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/0U2bQv_0nKM")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Концессионер
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/2vtUEMmqZiA")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Концессионная плата
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/Zfckyl9YPT4")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Концессионное соглашение
											._show-more.js-list-toggle-parent
												span.link-more-chevron._link-more.js-list-toggle Показать еще
													i.fe.fe-chevron-down._icon
								// end alphabet-card

							._section.js-accordion.js-list(data-show-count='5')
								// start alphabet-card
								.alphabet-card
									._body
										._aside
											span._letter М
										._content
											ul._list
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/zNcZDOpjZPo")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Матрица рисков
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/FDk5aUVYBBk")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Минимальный гарантированный доход (МГД)
											._show-more.js-list-toggle-parent
												span.link-more-chevron._link-more.js-list-toggle Показать еще
													i.fe.fe-chevron-down._icon

								// end alphabet-card
							._section.js-accordion.js-list(data-show-count='5')
								// start alphabet-card
								.alphabet-card
									._body
										._aside
											span._letter О
										._content
											ul._list
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/jjrmgjuG9VY")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Объект соглашения
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/Sui-WJjXVes")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Операционные затраты
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/yd8jRN037es")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Особые обстоятельства

											._show-more.js-list-toggle-parent
												span.link-more-chevron._link-more.js-list-toggle Показать еще
													i.fe.fe-chevron-down._icon

								// end alphabet-card
							._section.js-accordion.js-list(data-show-count='5')
								// start alphabet-card
								.alphabet-card
									._body
										._aside
											span._letter П
										._content
											ul._list
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/rbk3ZHx1tOU")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Плата концедента
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/btiS4gem4YE")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Право собственности
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/b_aHgb5X5Zk")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Программа ОМС
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/jcDwbiSOjw8")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Проектная документация
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/WcNY0BRI3jM")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Прямое соглашение

											._show-more.js-list-toggle-parent
												span.link-more-chevron._link-more.js-list-toggle Показать еще
													i.fe.fe-chevron-down._icon

								// end alphabet-card
							._section.js-accordion.js-list(data-show-count='5')
								// start alphabet-card
								.alphabet-card
									._body
										._aside
											span._letter Р
										._content
											ul._list
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/ORaX_ICN0uA")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Роуд-шоу
											._show-more.js-list-toggle-parent
												span.link-more-chevron._link-more.js-list-toggle Показать еще
													i.fe.fe-chevron-down._icon

								// end alphabet-card
							._section.js-accordion.js-list(data-show-count='5')
								// start alphabet-card
								.alphabet-card
									._body
										._aside
											span._letter С
										._content
											ul._list
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/x7RJpbhkjMo")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Схемы теплоснабжения, схемы водоснабжения и водоотведения
											._show-more.js-list-toggle-parent
												span.link-more-chevron._link-more.js-list-toggle Показать еще
													i.fe.fe-chevron-down._icon
								// end alphabet-card
							._section.js-accordion.js-list(data-show-count='5')
								// start alphabet-card
								.alphabet-card
									._body
										._aside
											span._letter Т
										._content
											ul._list
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/sSlnPWZ8JR8")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Тариф ОМС
											._show-more.js-list-toggle-parent
												span.link-more-chevron._link-more.js-list-toggle Показать еще
													i.fe.fe-chevron-down._icon

								// end alphabet-card
							._section.js-accordion.js-list(data-show-count='5')
								// start alphabet-card
								.alphabet-card
									._body
										._aside
											span._letter Ф
										._content
											ul._list
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/MMEnqtIlxOE")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Финансовое закрытие
											._show-more.js-list-toggle-parent
												span.link-more-chevron._link-more.js-list-toggle Показать еще
													i.fe.fe-chevron-down._icon

								// end alphabet-card
							._section.js-accordion.js-list(data-show-count='5')
								// start alphabet-card
								.alphabet-card
									._body
										._aside
											span._letter Ц
										._content
											ul._list
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/-3c9BNEq_i8")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Целевая эксплуатация объекта здравоохранения
											._show-more.js-list-toggle-parent
												span.link-more-chevron._link-more.js-list-toggle Показать еще
													i.fe.fe-chevron-down._icon

								// end alphabet-card
							._section.js-accordion.js-list(data-show-count='5')
								// start alphabet-card
								.alphabet-card
									._body
										._aside
											span._letter Ч
										._content
											ul._list
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/hPX15nOI8KE")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Частная инициатива
											._show-more.js-list-toggle-parent
												span.link-more-chevron._link-more.js-list-toggle Показать еще
													i.fe.fe-chevron-down._icon

								// end alphabet-card
							._section.js-accordion.js-list(data-show-count='5')
								// start alphabet-card
								.alphabet-card
									._body
										._aside
											span._letter Ю
										._content
											ul._list
												li._item.js-accordion-item.js-list-item
													a._link.js-video-card(href="https://youtu.be/_esU4MnGMV8")
														span._icon
															<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M0 14V0.241379V0L10 7L0 14Z" fill="white"/>
															</svg>

														span._text Юридическая модель проекта

											._show-more.js-list-toggle-parent
												span.link-more-chevron._link-more.js-list-toggle Показать еще
													i.fe.fe-chevron-down._icon

								// end alphabet-card
				// end main-alphabet



			// end main-content

		// end main-body

		.scrolltop._scrolltop
			a._link.js-scrolltop(href="#body")
				span._text Вернуться наверх страницы
				._icon
					<svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1 4L4.5 1L8 4" stroke="#9199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
