.product-card {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  height: 100%;
  color: $white-color;
  background-color: $primary-color;
  overflow: hidden;
  border-radius: $border-radius;

  @include breakpoint($lg-breakpoint) {
    min-height: 220px;
  }

  @include breakpoint($xl-breakpoint) {
    min-height: 320px;
  }

  &.is-service {
    @include breakpoint($lg-breakpoint) {
      .product-card {
        &__heading {
          margin-bottom: 25px;
          max-width: 100%;
          font-size: 29px;
          font-weight: 500;
        }
      }

      &.is-small {
        .product-card {
          &__heading {
            font-size: 22px;
          }
        }
      }
    }
  }

  &__img {
    z-index: -2;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    position: relative;
    z-index: 1;
    padding: 15px;

    @include breakpoint($lg-breakpoint) {
      padding: 20px;
    }

    @include breakpoint($xl-breakpoint) {
      padding: 27px 30px 30px;
    }
  }

  &__content {
    flex: 1 1 auto;
    min-width: 0;
  }

  &__properties {
    margin-bottom: 12px;
  }

  &__heading {
    margin: 0 0 10px;
    padding-left: 3px;
    color: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.35;

    br{
      display: none;
    }

    @include breakpoint($lg-breakpoint) {
      margin-bottom: 15px;
      font-size: 22px;
      br{
        display: inline-block;
      }
    }

    @include breakpoint($xl-breakpoint) {
      font-size: 26px;
    }
  }

  &__caption {
    margin: 0;
  }

  &__tags {
    margin-top: 15px;

    .tags {
      &__item {
        background-color: rgba($white-color, 0.15);
      }
    }
  }

  &__footer {
    flex: 0 0 auto;
    margin-top: 25px;
  }

  &__hint {
    margin: 0 0 10px;
    padding: 0 18px;
    color: $muted-color;
    font-size: 14px;
    cursor: default;
  }
}
