include ../button/button

mixin product-card(data)
  .product-card(class=data.type)
    img.img-cover._img(src=data.img.src)

    ._body
      ._content
        if (data.properties)
          .card-properties._properties
            ._item= data.properties.date

        h3._heading= data.heading

        if (data.caption)
          p._caption= data.caption

        if (data.tags)
          .tags._tags
            each tag in data.tags
              ._item= tag.title

      ._footer
        if (data.hint)
          p._hint= data.hint

        if (data.button)
          if (data.button.modal)
            +button(data.button, {
              'data-remodal-target': data.button.modal
            })
          else
            +button(data.button)
