extends ../../template

include ../../../components/menu-aside/menu-aside
include ../../../components/submenu/submenu

include ../../../components/badge/badge
include ../../../components/select/select
include ../../../components/button/button
include ../../../components/menu-sections/menu-sections
include ../../../components/input-text/input-text

block append settings
	-
		page.title = 'Подписка по договору: «№4352-3355»';


block page-body

	main.page-main

		// start menu-aside
		+menu-aside([
				{
						href: '#',
						icon: 'home',
						title: 'Главная страница'
				}, {
						href: '#',
						icon: 'briefcase',
						title: 'Проектный офис',
						dropdown: [{
								href: '#',
								title: 'Сводка экспертного офиса'
						}, {
								href: '#',
								title: 'Блиц оценки',
								count: 3
						}, {
								href: '#',
								title: 'Возмездные услуги',
								count: 7
						}, {
								href: '#',
								title: 'Другие активности',
								count: 3
						}]
				}, {
						href: '#',
						icon: 'list',
						title: 'Мои новости'
				}, {
						href: '#',
						icon: 'calendar',
						title: 'Мои мероприятия'
				}, {
						href: '#',
						icon: 'users',
						title: 'Мои компании'
				}, {
						href: '#',
						icon: 'comment',
						title: 'Мои комментарии'
				}, {
						href: '#',
						icon: 'database',
						title: 'Мои подписки'
				}, {
						divider: true
				}, {
						href: '#',
						icon: 'star',
						title: 'Моё избранное'
				}, {
						href: '#',
						icon: 'settings',
						title: 'Настройки'
				},
		], {
				class: 'page-main__menu-aside'
		})
		// end menu-aside

		// start main-body
		.main-body._body
			._container.container
				
				// start main-header
				.main-header.is-large._header
					._container
						._content
							h1.main-heading._heading= page.title
							span.badge.badge-success._badge Активная
				// end main-header

				// start main-menu
				.main-actions
					._container
						._content
							ul._list
								li._item.active
									a._link(href="#" title="Детали подписки") Детали подписки
								li._item
									a._link(href="#" title="Подключенные пользователи") Подключенные пользователи
								li._item
									a._link(href="#" title="Подключенные модули и опции") Подключенные модули и опции
				// end main-menu

				._grid

					// start main-content
					.main-content._content

						// start main-profile
						.main-profile._profile
							._container
								._body
									block main-profile

									._cards.js-menu-sections-list

										// start card
										.card.-table.-border._card.js-accordion-item#section-1
											.card-top
												.card-header
													.card-title Общая информация о договоре
											.card-body
												table.table.card-table
													thead
														tr
															th параметр:
															th Значение:
													tbody
														tr
															th Тип договора:
															td Юридическое лицо
														tr
															th Номер договора:
															td №4352-3355
														tr
															th Дата заключения:
															td 04.09.2020
														tr
															th Дата завершения:
															td 31.03.2020
														tr
															th Описание договора:
															td Подписка ОАО “Сбербанка” на 1 год полного функционала для реогинальных публичных партнёров с расширенными функциями платформы для реализации взаимодействия групп пользователей с данной подпиской Подписка для реогинальных публичных партнёров с расширенными
										// end card

										// start card
										.card.-table.-border._card.js-accordion-item#section-2
											.card-top
												.card-header
													.card-title Установленные и используемые лимиты
											.card-body
												table.table.card-table
													thead
														tr
															th параметр:
															th
																.row
																	.col-7
																		span.accent-text установлено подпиской:
																	.col-5
																		span.accent-text использовано:
													tbody
														tr
															th Кол-во пользователей:
															th
																.row
																	.col-7
																		span(style="color: #17C671;") 5
																	.col-5 3
														tr
															th Кол-во часов экспертной помощи:
															td
																.row
																	.col-7
																		span(style="color: #17C671;") 5
																	.col-5 3
														tr
															th Кол-во проектов может быть подано на экспертизу:
															th
																.row
																	.col-7
																		span(style="color: #17C671;") 5
																	.col-5 3
										// end card

										// card
										.card.-table._card.js-accordion-item#section-3
											.card-top
												.card-header
													.card-title Данные лица с которым заключен договор
											.card-body
												// start drop-list
												ul.drop-list._drop
													li._item
														._header.opened
															span._title ОАО “Сбербанк”

														._body.opened

															._section

																span._section-title Детальная информация:

																// start table
																table.table.card-table
																	tbody
																		tr
																			th ИНН/КПП:
																			td 5036066205 / 503601001
																		tr
																			th БИК:
																			td 044525225
																		tr
																			th Кор. Счет/Расчетный счет:
																			td 40702810500000000001 / 3010100000000000001
																		tr
																			th Наименование банка:
																			td ОАО «Банк «Открытие», г. Москва
																		tr
																			th ФИО руководителя:
																			td Малофеев Вячеслав Васильевич
																// end table

															._section
																span._section-title Контактный номер телефона:

																// start card
																table.table.card-table
																	thead
																		th ТИп:
																		th
																			.row
																				.col-7
																					span.accent-text Номер:
																				.col-3
																					span.accent-text добавочный:
																	tbody
																		tr
																			th
																				span.light-text Городской
																			td 
																				.row
																					.col-7
																						a(href="tel:+74953333333") +7 (495) 333-33-33
																					.col-3 
																						span.light-text 5544
																		tr
																			th
																				span.light-text Мобильный
																			td
																				.row
																					.col-7
																						a(href="tel:+74953333333") +7 (495) 333-33-33
																					.col-3
																						span.light-text -
																		tr
																			th Юридический адрес:
																			td 142117, Московская область, город Подольск, Парковая улица, дом 48 здание гл. корпуса, офис 1
																		tr
																			th Фактический адрес:
																			td 142117, Московская область, город Подольск, Парковая улица, дом 48 здание гл. корпуса, офис 1
																// end table




												// end drop-list
												
										// end card

										

										// card
										.card.-table._card.js-accordion-item#section-4
											.card-top
												.card-header
													.card-title Контактное(-ые) лицо(-а) по договору
											.card-body
												// start drop-list
												ul.drop-list._drop
													li._item
														._header
															span._title Геннадий Федорович Бухтин

														._body
															span._heading Контактная информация:

															._section

																span._section-title Контактный номер телефона:

																// start card
																table.table.card-table
																	thead
																		th ТИп:
																		th
																			.row
																				.col-7
																					span.accent-text Номер:
																				.col-3
																					span.accent-text добавочный:
																	tbody
																		tr
																			th
																				span.light-text Городской
																			td 
																				.row
																					.col-7
																						a(href="tel:+74953333333") +7 (495) 333-33-33
																					.col-3 
																						span.light-text 5544
																		tr
																			th
																				span.light-text Мобильный
																			td
																				.row
																					.col-7
																						a(href="tel:+74953333333") +7 (495) 333-33-33
																					.col-3
																						span.light-text -
																// end table

															._section

																span._section-title Адрес электронной почты (e-mail):

																// start card
																table.table.card-table
																	tbody
																		tr
																			th
																				span.light-text Основной
																			td
																				a(href="mailto:aliterax@yandex.ru") aliterax@yandex.ru
																		tr
																			th
																				span.light-text Дополнительный
																			td
																				a(href="mailto:aliterax@yandex.ru") aliterax@yandex.ru
																// end table

													li._item
														._header
															span._title Михаил Алексеевич Пак

														._body
															span._heading Контактная информация:

															._section

																span._section-title Контактный номер телефона:

																// start card
																table.table.card-table
																	thead
																		th ТИп:
																		th
																			.row
																				.col-7
																					span.accent-text Номер:
																				.col-3
																					span.accent-text добавочный:
																	tbody
																		tr
																			th
																				span.light-text Городской
																			td 
																				.row
																					.col-7
																						a(href="tel:+74953333333") +7 (495) 333-33-33
																					.col-3 
																						span.light-text 5544
																		tr
																			th
																				span.light-text Мобильный
																			td
																				.row
																					.col-7
																						a(href="tel:+74953333333") +7 (495) 333-33-33
																					.col-3
																						span.light-text -
																// end table

															._section

																span._section-title Адрес электронной почты (e-mail):

																// start card
																table.table.card-table
																	tbody
																		tr
																			th
																				span.light-text Основной
																			td
																				a(href="mailto:aliterax@yandex.ru") aliterax@yandex.ru
																		tr
																			th
																				span.light-text Дополнительный
																			td
																				a(href="mailto:aliterax@yandex.ru") aliterax@yandex.ru
																// end table

													li._item
														._header
															span._title Арсений Всеволодович Мурин

														._body
															span._heading Контактная информация:

															._section

																span._section-title Контактный номер телефона:

																// start card
																table.table.card-table
																	thead
																		th ТИп:
																		th
																			.row
																				.col-7
																					span.accent-text Номер:
																				.col-3
																					span.accent-text добавочный:
																	tbody
																		tr
																			th
																				span.light-text Городской
																			td 
																				.row
																					.col-7
																						a(href="tel:+74953333333") +7 (495) 333-33-33
																					.col-3 
																						span.light-text 5544
																		tr
																			th
																				span.light-text Мобильный
																			td
																				.row
																					.col-7
																						a(href="tel:+74953333333") +7 (495) 333-33-33
																					.col-3
																						span.light-text -
																// end table

															._section

																span._section-title Адрес электронной почты (e-mail):

																// start card
																table.table.card-table
																	tbody
																		tr
																			th
																				span.light-text Основной
																			td
																				a(href="mailto:aliterax@yandex.ru") aliterax@yandex.ru
																		tr
																			th
																				span.light-text Дополнительный
																			td
																				a(href="mailto:aliterax@yandex.ru") aliterax@yandex.ru
																// end table




												// end drop-list
												
										// end card




						// end main-profile

					// end main-content

					// start main-aside
					aside.main-aside._aside.is-border-top
						._container.js-main-aside-sticky
							._header
								._buttons
									a.button.button-block.is-primary._button(href="#" title="Запрос на услугу по подписке") Запрос на услугу по подписке

							+menu-sections([{
								href: '#section-1',
								title: 'Общая информация о договоре',
								isActive: true
							}, {
								href: '#section-2',
								title: 'Установленные и используемые лимиты'
							}, {
								href: '#section-3',
								title: 'Данные лица с которым заключен договор'
							}, {
								href: '#section-4',
								title: 'Контактное(-ые) лицо(-а) по договору'
							}], {
								class: 'main-aside__menu-sections'
							})

					// end main-aside
		// end main-body
