extends ../../template

include ../../../components/menu-aside/menu-aside
include ../../../components/submenu/submenu

include ../../../components/badge/badge
include ../../../components/select/select
include ../../../components/button/button
include ../../../components/input-text/input-text

block append settings
	-
		page.title = 'Мои подписки';


block page-body

	main.page-main

		// start menu-aside
		+menu-aside([
				{
						href: '#',
						icon: 'home',
						title: 'Главная страница'
				}, {
						href: '#',
						icon: 'briefcase',
						title: 'Проектный офис',
						dropdown: [{
								href: '#',
								title: 'Сводка экспертного офиса'
						}, {
								href: '#',
								title: 'Блиц оценки',
								count: 3
						}, {
								href: '#',
								title: 'Возмездные услуги',
								count: 7
						}, {
								href: '#',
								title: 'Другие активности',
								count: 3
						}]
				}, {
						href: '#',
						icon: 'list',
						title: 'Мои новости'
				}, {
						href: '#',
						icon: 'calendar',
						title: 'Мои мероприятия'
				}, {
						href: '#',
						icon: 'users',
						title: 'Мои компании'
				}, {
						href: '#',
						icon: 'comment',
						title: 'Мои комментарии'
				}, {
						href: '#',
						icon: 'database',
						title: 'Мои подписки'
				}, {
						divider: true
				}, {
						href: '#',
						icon: 'star',
						title: 'Моё избранное'
				}, {
						href: '#',
						icon: 'settings',
						title: 'Настройки'
				},
		], {
				class: 'page-main__menu-aside'
		})
		// end menu-aside

		// start main-body
		.main-body._body
			._container.container
				._grid.is-reverse

					// start main-content
					.main-content._content.js-accordion.js-menu-sections-list

						// start main-header
						.main-header.is-large._header
							._container
								._content
									h1.main-heading._heading= page.title
						// end main-header

						// start main-profile
						.main-profile._profile
							._container
								._body
									block main-profile

									// subs-card
									.subs-card._card
										._body

											._header
												h3._title Подписка по договору: «№4352-3355»
												span.badge.-success._badge Активна до: 31.09.2020

											._content
												ul.properties-dots.properties-dots--grid._properties-dots
													li._item
														span._label
															span._text Тип подписки:
														span._value Юридическое лицо
													li._item
														span._label
															span._text Лицо с которым заключен договор:
														span._value ОАО “Сбербанк”
													li._item
														span._label
															span._text Дата заключения:
														span._value 04.09.2020
													li._item
														span._label
															span._text Дата завершения:
														span._value 04.09.2021
													li._item
														span._label
															span._text Участники:
														span._value 5 пользователей

											._footer
												._table
													h4._table-title Установленные и используемые лимиты подписки:
													table.table.card-table
														thead
															th параметр:
															th
																.row
																	.col
																		span.accent-text установлено подпиской:
																	.col
																		span.accent-text использовано:
																	.col.-p-0

														tbody
															tr
																th Кол-во пользователей:
																td 
																	.row
																		.col
																			span(style="color: #17C671;") 5
																		.col 3
																		.col.-p-0
															tr
																th Кол-во часов экспертной помощи:
																td 
																	.row
																		.col
																			span(style="color: #17C671;") 5
																		.col 3
																		.col.-p-0
																			a.button.is-primary.is-round.is-small(href="#")
																				span._title Запрос на услугу
															tr
																th Кол-во проектов, которое может быть подано на экспертизу:
																td 
																	.row
																		.col
																			span(style="color: #17C671;") 5
																		.col 3
																		.col.-p-0
																			a.button.is-primary.is-round.is-small(href="#")
																				span._title Запрос на услугу

												._more
													a._more-link(href="#" title="Перейти к деталям") Перейти к деталям

									// end subs-card




						// end main-profile

					// end main-content

					// start main-aside
					aside.main-aside._aside.is-secondary
						._container.js-main-aside-sticky

							// start aside-profile
							.aside-profile._profile
								._header
									+button({
											href: '#',
											title: 'Вернуться в кабинет',
											type: 'is-secondary is-round',
											size: 'is-small'
									}, {
											class: 'aside-profile__button'
									})

								._body
									+submenu({
											title: 'Мои подписки',
											items: [{
													href: '#',
													title: 'Все подписки'
											}, {
													href: '#',
													title: 'Активные подписки'
											}, {
													href: '#',
													title: 'Архив'
											}]
									})
							// end aside-profile

					// end main-aside
		// end main-body
