extends ../../template

include ../../../components/menu-aside/menu-aside
include ../../../components/submenu/submenu

include ../../../components/badge/badge
include ../../../components/select/select
include ../../../components/button/button
include ../../../components/menu-sections/menu-sections
include ../../../components/input-text/input-text

block append settings
	-
		page.title = 'Подписка по договору: «№4352-3355»';


block page-body

	main.page-main

		// start menu-aside
		+menu-aside([
				{
						href: '#',
						icon: 'home',
						title: 'Главная страница'
				}, {
						href: '#',
						icon: 'briefcase',
						title: 'Проектный офис',
						dropdown: [{
								href: '#',
								title: 'Сводка экспертного офиса'
						}, {
								href: '#',
								title: 'Блиц оценки',
								count: 3
						}, {
								href: '#',
								title: 'Возмездные услуги',
								count: 7
						}, {
								href: '#',
								title: 'Другие активности',
								count: 3
						}]
				}, {
						href: '#',
						icon: 'list',
						title: 'Мои новости'
				}, {
						href: '#',
						icon: 'calendar',
						title: 'Мои мероприятия'
				}, {
						href: '#',
						icon: 'users',
						title: 'Мои компании'
				}, {
						href: '#',
						icon: 'comment',
						title: 'Мои комментарии'
				}, {
						href: '#',
						icon: 'database',
						title: 'Мои подписки'
				}, {
						divider: true
				}, {
						href: '#',
						icon: 'star',
						title: 'Моё избранное'
				}, {
						href: '#',
						icon: 'settings',
						title: 'Настройки'
				},
		], {
				class: 'page-main__menu-aside'
		})
		// end menu-aside

		// start main-body
		.main-body._body
			._container.container
				
				// start main-header
				.main-header.is-large._header
					._container
						._content
							h1.main-heading._heading = page.title
							span.badge.badge-success._badge Активная
				// end main-header

				// start main-menu
				.main-actions
					._container
						._content
							ul._list
								li._item
									a._link(href="#" title="Детали подписки") Детали подписки
								li._item
									a._link(href="#" title="Подключенные пользователи") Подключенные пользователи
								li._item.active
									a._link(href="#" title="Подключенные модули и опции") Подключенные модули и опции
				// end main-menu

				._grid

					// start main-content
					.main-content._content

						// start main-profile
						.main-profile._profile
							._container
								._body
									block main-profile

									._cards.js-menu-sections-list

										// card
										.card.-table.-border._card
											.card-top
												.card-header
													.card-title Модули и опции доступные в рамках данной подписки
											.card-body
												._section
													span._section-title Доступные модули
													table.table.card-table
														thead
															th параметр:
														tbody
															tr
																th ГЧП в России (интерактивный модуль «Аналитического центра») 
															tr
																th Судебная практика и решения ФАС (интерактивный модуль «Аналитического центра») 
															tr
																th Материалы Библиотеки (раздела «Аналитические материалы» модуля «Аналитический центр»)
															tr
																th Объекты под ГЧП (полные паспорта)
															tr
																th Проектные инициативы и типовые решения
															tr
																th Проекты на конкурсе
															tr
																th Реализуемые проекты
												._section
													span._section-title Доступные опции
													table.table.card-table
														thead
															th параметр:
														tbody
															tr
																th Рассылка ежемесячных дайджестов и экспертных релизов по актуальным вопросам
															tr
																th Оказание экспертной помощи в блиц-формате (вопрос-ответ)
															tr
																th Предоставление выгрузок и материалов из Базы реализуемых проектов   
															tr
																th Подбор проектов-аналогов из Базы реализуемых проектов 
															tr
																th Подбор потенциальных интересантов под проектную инициативу
															tr
																th Содействие в формировании перечня и ранжирования планируемых ГЧП-инициатив
															tr
																th Продвижение проектных инициатив и типовых решений (помощь в описании инициативы, адресная рассылка, род-шоу и пр.) 
												
										// end card




						// end main-profile

					// end main-content

					// start main-aside
					aside.main-aside._aside.is-border-top
						._container.js-main-aside-sticky
							._header
								._buttons
									a.button.button-block.is-primary._button(href="#" title="Запрос на услугу по подписке") Запрос на услугу по подписке

					// end main-aside
		// end main-body
	
	.modal.remodal.is-medium(data-remodal-id='start-service')
		button._close(data-remodal-action='close')

		._header
			._title.is-large Запрос на услугу

		._body
			form.form.js-modal(action='#' method='post')
				._body
					.form-group._field
						label._label Выберите тип услуги:
						+select({
							options: [{
									title: ''
							}, {
									title: ''
							}],
							type: 'is-default',
							placeholder: 'Выберите вариант'
						})

					.form-group._field
						label._label Выберите регион:
						._grid
							._column
								.form-group
									
									+select({
										options: [{
												title: ''
										}, {
												title: ''
										}],
										type: 'is-default',
										placeholder: 'Выберите вариант'
									})

							._column
								.form-group
									+select({
										options: [{
												title: ''
										}, {
												title: ''
										}],
										type: 'is-default',
										placeholder: 'Выберите вариант'
									})

					.form-group._field
						label._label Введите название:
						+input-text({
								placeholder: 'Введите название',
								name: 'name'
						})

					.form-group._field
						label._label Комментарии и описание:
						textarea.textarea._textarea(name="", placeholder="Описание и комментарии")

					.form-group._field
						// start dropzone
						form.dropzone._dropzone(action="#")
						// end dropzone

				._footer
					.form-agree._agree
						+input-control({
								type: 'checkbox',
								label: 'Нажимая на кнопку “Сохранить” вы подтверждаете что ознакомлен(-ы) с политикой конфиденциальности и даёте согласие на обработку персональных данных согласно ФЗ №54',
								name: 'agree'
						})

					button.button.is-primary.form__button Отправить заявку

	.modal.-padding.remodal(data-remodal-target="succes")
		button._close(data-remodal-action='close')

		._header
			._title Запрос отправлен
			span._caption Очень скоро вы получите на указанный e-mail ответ
			ul._buttons
				li._buttons-item
					button.button.is-primary.button-block(data-remodal-action='close') Закрыть окно
