extends ../../template

include ../../../components/menu-aside/menu-aside
include ../../../components/submenu/submenu

include ../../../components/badge/badge
include ../../../components/select/select
include ../../../components/button/button
include ../../../components/menu-sections/menu-sections
include ../../../components/input-text/input-text

block append settings
	-
		page.title = 'Подписка по договору: «№4352-3355»';


block page-body

	main.page-main

		// start menu-aside
		+menu-aside([
				{
						href: '#',
						icon: 'home',
						title: 'Главная страница'
				}, {
						href: '#',
						icon: 'briefcase',
						title: 'Проектный офис',
						dropdown: [{
								href: '#',
								title: 'Сводка экспертного офиса'
						}, {
								href: '#',
								title: 'Блиц оценки',
								count: 3
						}, {
								href: '#',
								title: 'Возмездные услуги',
								count: 7
						}, {
								href: '#',
								title: 'Другие активности',
								count: 3
						}]
				}, {
						href: '#',
						icon: 'list',
						title: 'Мои новости'
				}, {
						href: '#',
						icon: 'calendar',
						title: 'Мои мероприятия'
				}, {
						href: '#',
						icon: 'users',
						title: 'Мои компании'
				}, {
						href: '#',
						icon: 'comment',
						title: 'Мои комментарии'
				}, {
						href: '#',
						icon: 'database',
						title: 'Мои подписки'
				}, {
						divider: true
				}, {
						href: '#',
						icon: 'star',
						title: 'Моё избранное'
				}, {
						href: '#',
						icon: 'settings',
						title: 'Настройки'
				},
		], {
				class: 'page-main__menu-aside'
		})
		// end menu-aside

		// start main-body
		.main-body._body
			._container.container
				
				// start main-header
				.main-header.is-large._header
					._container
						._content
							h1.main-heading._heading= page.title
							span.badge.badge-success._badge Активная
				// end main-header

				// start main-menu
				.main-actions
					._container
						._content
							ul._list
								li._item
									a._link(href="#" title="Детали подписки") Детали подписки
								li._item.active
									a._link(href="#" title="Подключенные пользователи") Подключенные пользователи
								li._item
									a._link(href="#" title="Подключенные модули и опции") Подключенные модули и опции
				// end main-menu

				._grid

					// start main-content
					.main-content._content

						// start main-profile
						.main-profile._profile
							._container
								._body
									block main-profile

									._cards.js-menu-sections-list

										// card
										.card.-table._card
											.card-top
												.card-header
													.card-title Подключенные пользователи
											.card-body
												// start drop-list
												ul.drop-list._drop
													li._item
														._header
															._photo
																img._img(src="../../assets/img/content/avatars/7.jpg", alt="")
															span._title Максим Викторович Ткаченко

														._body
															span._heading Контактная информация:

															._section

																span._section-title Контактный номер телефона:

																// start card
																table.table.card-table
																	thead
																		th ТИп:
																		th
																			.row
																				.col-7
																					span.accent-text Номер:
																				.col-3
																					span.accent-text добавочный:
																	tbody
																		tr
																			th
																				span.light-text Городской
																			td 
																				.row
																					.col-7
																						a(href="tel:+74953333333") +7 (495) 333-33-33
																					.col-3 
																						span.light-text 5544
																		tr
																			th
																				span.light-text Мобильный
																			td
																				.row
																					.col-7
																						a(href="tel:+74953333333") +7 (495) 333-33-33
																					.col-3
																						span.light-text -
																// end table

															._section

																span._section-title Адрес электронной почты (e-mail):

																// start card
																table.table.card-table
																	tbody
																		tr
																			th
																				span.light-text Основной
																			td
																				a(href="mailto:aliterax@yandex.ru") aliterax@yandex.ru
																		tr
																			th
																				span.light-text Дополнительный
																			td
																				a(href="mailto:aliterax@yandex.ru") aliterax@yandex.ru
																// end table

													li._item
														._header
															._photo
																img._img(src="../../assets/img/content/avatars/7.jpg", alt="")
															span._title Михаил Алексеевич Пак

														._body
															span._heading Контактная информация:

															._section

																span._section-title Контактный номер телефона:

																// start card
																table.table.card-table
																	thead
																		th ТИп:
																		th
																			.row
																				.col-7
																					span.accent-text Номер:
																				.col-3
																					span.accent-text добавочный:
																	tbody
																		tr
																			th
																				span.light-text Городской
																			td 
																				.row
																					.col-7
																						a(href="tel:+74953333333") +7 (495) 333-33-33
																					.col-3 
																						span.light-text 5544
																		tr
																			th
																				span.light-text Мобильный
																			td
																				.row
																					.col-7
																						a(href="tel:+74953333333") +7 (495) 333-33-33
																					.col-3
																						span.light-text -
																// end table

															._section

																span._section-title Адрес электронной почты (e-mail):

																// start card
																table.table.card-table
																	tbody
																		tr
																			th
																				span.light-text Основной
																			td
																				a(href="mailto:aliterax@yandex.ru") aliterax@yandex.ru
																		tr
																			th
																				span.light-text Дополнительный
																			td
																				a(href="mailto:aliterax@yandex.ru") aliterax@yandex.ru
																// end table

													li._item
														._header
															._photo
																img._img(src="../../assets/img/content/avatars/7.jpg", alt="")
															span._title Арсений Всеволодович Мурин

														._body
															span._heading Контактная информация:

															._section

																span._section-title Контактный номер телефона:

																// start card
																table.table.card-table
																	thead
																		th ТИп:
																		th
																			.row
																				.col-7
																					span.accent-text Номер:
																				.col-3
																					span.accent-text добавочный:
																	tbody
																		tr
																			th
																				span.light-text Городской
																			td 
																				.row
																					.col-7
																						a(href="tel:+74953333333") +7 (495) 333-33-33
																					.col-3 
																						span.light-text 5544
																		tr
																			th
																				span.light-text Мобильный
																			td
																				.row
																					.col-7
																						a(href="tel:+74953333333") +7 (495) 333-33-33
																					.col-3
																						span.light-text -
																// end table

															._section

																span._section-title Адрес электронной почты (e-mail):

																// start card
																table.table.card-table
																	tbody
																		tr
																			th
																				span.light-text Основной
																			td
																				a(href="mailto:aliterax@yandex.ru") aliterax@yandex.ru
																		tr
																			th
																				span.light-text Дополнительный
																			td
																				a(href="mailto:aliterax@yandex.ru") aliterax@yandex.ru
																// end table




												// end drop-list
												
										// end card




						// end main-profile

					// end main-content

					// start main-aside
					aside.main-aside._aside.is-border-top
						._container.js-main-aside-sticky
							._header
								._buttons
									a.button.button-block.is-primary._button(href="#" title="Запрос на услугу по подписке") Запрос на услугу по подписке

					// end main-aside
		// end main-body
