extends ../template

include ../../components/super-search/super-search
include ../../components/menu/menu
include ../../components/button/button

block append settings
  -
    page.title = 'Публичные партнёры РФ';


block page-body

  main.page-main

    // start breadcrumbs
    .breadcrumbs
      ._container.container
        ul._list
          li._item
            a._link(href='#' title='Главная') Главная
          li._item
            a._link(href='#' title='Публичные партнёры') Публичные партнёры
          li._item
            span._link Публичные партнёры Российской федерации
    // end breadcrumbs

    // start main-header
    .main-header.is-large._header
      ._container.container
        ._content
          h1.main-heading.is-large._heading= page.title

        ._aside
          +menu([{
            href: '#',
            title: 'Регионы и области'
          }, {
            href: '#',
            title: 'Федеральные органы власти',
            isActive: true
          }], {
            class: 'main-header__menu'
          })
    // end main-header

    // start main-search
    .main-search._search
      ._container.container
        +super-search({
          advanced: true,
          placeholder: 'Найти публичного партнёра в Российской Федерации'
        })
    // end main-search

    // start main-body
    .main-body.is-secondary._body
      ._container.container

        .table-custom
          ._tbody
            ._list
              each federal in db_federals
                ._card.is-closed.js-accordion-item
                  ._header.js-accordion-toggle
                    ._column.is-content
                      a.region-header._region-header(href='#' title='Перейти к публичному партнёру')
                        .gerb._gerb
                          img._img(src=federal.icon alt='')

                        h2.card-heading._heading= federal.title
                          i.fe.fe-chevron-right._icon

                  ._body.js-accordion-body
                    ._group
                      .label._group-title Региональные минестерства:
                      .table-custom.js-list(data-show-count='5')
                        ._thead
                          ._column.is-content Региональные минестерства:

                        ._tbody.is-top
                          ._list
                            each item in federal.list
                              ._item.js-list-item
                                ._row
                                  ._column.is-content
                                    a.link-more-chevron._title(href='#' title='')= item.title
                                    i.fe.fe-chevron-right._icon

                          ._footer.js-list-toggle-parent
                            span.link-more-chevron._link-more.js-list-toggle Раскрыть полный список
                              i.fe.fe-chevron-down._icon

            ._more
              +button({
                  href: '#',
                  type: 'is-load is-block',
                  title: 'Показать все'
              })
