extends ../template

include ../../components/badge/badge
include ../../components/menu/menu
include ../../components/menu-sections/menu-sections
include ../../components/main-menu/main-menu
include ../../components/categories-slider/categories-slider

block append settings
	-
		page.title = 'Республика Татарстан';


block page-body

	main.page-main

		// start breadcrumbs
		.breadcrumbs
			._container.container
				ul._list
					li._item
						a._link(href='#' title='Главная') Главная
					li._item
						a._link(href='#' title='Публичные партнёры') Публичные партнёры
					li._item
						a._link(href='#' title='Российская федерация') Российская федерация
					li._item
						span._link Республика Татарстан
		// end breadcrumbs

		// start main-header
		.main-header.is-large._header
			._container.container
				._content
					.flag._flag
						img._img(src='__static__img/content/federals/4.svg' alt='')
					h1.main-heading.is-large._heading= page.title
		// end main-header

		// start main-menu
		+main-menu([
				{
					href: '#',
					title: 'О публичном партнёре'
				}, {
					href: '#',
					title: 'Нормативно-правовая база',
					isActive: true
				}, {
					href: '#',
					title: 'Объекты под проекты'
				}, {
					href: '#',
					title: 'Проекты ГЧП'
				}, {
					href: '#',
					title: 'Новости региона'
				}
		])
		// end main-menu

		// start main-body
		.main-body._body
			._container.container
				._grid

					// start main-content
					.main-content._content.js-menu-sections-list

						// start content-section
						section.content-section._section#section-1
							.section-header._header
								._container
									._main
										h2.section-heading.is-medium._heading Данные межведомственного ответственного органа

							.section-body._body
								._container
									.box-secondary.js-accordion.js-list(data-show-count='3')
										._body
											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._icon.is-gerb
														img._img(src='__static__img/content/federals/1.svg' alt='')

													._main
														h4.card-heading.is-small._heading Координационный совет по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности

												._body.js-accordion-body
													._inner
														._offset.is-border
															.property._property-group
																p.label._label.is-darken Основные направления деятельности:
																.content._content
																	p Координационный совет для решения возложенных на него задач имеет право:
																	ul
																		li Запрашивать в установленном порядке у органов исполнительной власти Кировской области, органов местного самоуправления Кировской области и иных организаций информацию по вопросам, входящим в компетенцию координационного совета.у и настоящему Положению.
																		li Направлять предложения координационного совета органам исполнительной власти Кировской области, территориальным органам федеральных органов исполнительной власти, органам местного самоуправления Кировской области и иным организациям с целью выработки согласованных решений по проблемам развития малого и среднего предпринимательства и инвестиционной деятельности в Кировской области.
																		li Приглашать для участия в работе координационного совета представителей органов исполнительной власти Кировской области, территориальных органов федеральных органов исполнительной власти, органов местного самоуправления Кировской области, иных организаций, ученых и специалистов, не являющихся членами координационного совета.
																		li Осуществлять иные действия, не противоречащие действующему законодательству и настоящему Положению.

															.property._property-group
																p.label._label.is-darken Документ, регламентирующий деятельность межведомственного органа:
																a.file-preview(href='#' title='')
																	._icon
																		i.fe.fe-file-text
																	._main
																		._content Указ Губернатора Кировской области от 16.07.2018 № 105 "О создании координационного совета по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности"
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._icon.is-gerb
														img._img(src='__static__img/content/federals/2.svg' alt='')

													._main
														h4.card-heading.is-small._heading Министерство экономического развития и поддержки предпринимательства РТ

												._body.js-accordion-body
													._inner
														._offset.is-border
															.property._property-group
																p.label._label.is-darken Основные направления деятельности:
																.content._content
																	p Координационный совет для решения возложенных на него задач имеет право:
																	ul
																		li Запрашивать в установленном порядке у органов исполнительной власти Кировской области, органов местного самоуправления Кировской области и иных организаций информацию по вопросам, входящим в компетенцию координационного совета.у и настоящему Положению.
																		li Направлять предложения координационного совета органам исполнительной власти Кировской области, территориальным органам федеральных органов исполнительной власти, органам местного самоуправления Кировской области и иным организациям с целью выработки согласованных решений по проблемам развития малого и среднего предпринимательства и инвестиционной деятельности в Кировской области.
																		li Приглашать для участия в работе координационного совета представителей органов исполнительной власти Кировской области, территориальных органов федеральных органов исполнительной власти, органов местного самоуправления Кировской области, иных организаций, ученых и специалистов, не являющихся членами координационного совета.
																		li Осуществлять иные действия, не противоречащие действующему законодательству и настоящему Положению.

															.property._property-group
																p.label._label.is-darken Документ, регламентирующий деятельность межведомственного органа:
																a.file-preview(href='#' title='')
																	._icon
																		i.fe.fe-file-text
																	._main
																		._content Указ Губернатора Кировской области от 16.07.2018 № 105 "О создании координационного совета по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности"
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._icon.is-gerb
														img._img(src='__static__img/content/federals/1.svg' alt='')

													._main
														h4.card-heading.is-small._heading Координационный совет по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности

												._body.js-accordion-body
													._inner
														._offset.is-border
															.property._property-group
																p.label._label.is-darken Основные направления деятельности:
																.content._content
																	p Координационный совет для решения возложенных на него задач имеет право:
																	ul
																		li Запрашивать в установленном порядке у органов исполнительной власти Кировской области, органов местного самоуправления Кировской области и иных организаций информацию по вопросам, входящим в компетенцию координационного совета.у и настоящему Положению.
																		li Направлять предложения координационного совета органам исполнительной власти Кировской области, территориальным органам федеральных органов исполнительной власти, органам местного самоуправления Кировской области и иным организациям с целью выработки согласованных решений по проблемам развития малого и среднего предпринимательства и инвестиционной деятельности в Кировской области.
																		li Приглашать для участия в работе координационного совета представителей органов исполнительной власти Кировской области, территориальных органов федеральных органов исполнительной власти, органов местного самоуправления Кировской области, иных организаций, ученых и специалистов, не являющихся членами координационного совета.
																		li Осуществлять иные действия, не противоречащие действующему законодательству и настоящему Положению.

															.property._property-group
																p.label._label.is-darken Документ, регламентирующий деятельность межведомственного органа:
																a.file-preview(href='#' title='')
																	._icon
																		i.fe.fe-file-text
																	._main
																		._content Указ Губернатора Кировской области от 16.07.2018 № 105 "О создании координационного совета по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности"
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._icon.is-gerb
														img._img(src='__static__img/content/federals/2.svg' alt='')

													._main
														h4.card-heading.is-small._heading Министерство экономического развития и поддержки предпринимательства РТ

												._body.js-accordion-body
													._inner
														._offset.is-border
															.property._property-group
																p.label._label.is-darken Основные направления деятельности:
																.content._content
																	p Координационный совет для решения возложенных на него задач имеет право:
																	ul
																		li Запрашивать в установленном порядке у органов исполнительной власти Кировской области, органов местного самоуправления Кировской области и иных организаций информацию по вопросам, входящим в компетенцию координационного совета.у и настоящему Положению.
																		li Направлять предложения координационного совета органам исполнительной власти Кировской области, территориальным органам федеральных органов исполнительной власти, органам местного самоуправления Кировской области и иным организациям с целью выработки согласованных решений по проблемам развития малого и среднего предпринимательства и инвестиционной деятельности в Кировской области.
																		li Приглашать для участия в работе координационного совета представителей органов исполнительной власти Кировской области, территориальных органов федеральных органов исполнительной власти, органов местного самоуправления Кировской области, иных организаций, ученых и специалистов, не являющихся членами координационного совета.
																		li Осуществлять иные действия, не противоречащие действующему законодательству и настоящему Положению.

															.property._property-group
																p.label._label.is-darken Документ, регламентирующий деятельность межведомственного органа:
																a.file-preview(href='#' title='')
																	._icon
																		i.fe.fe-file-text
																	._main
																		._content Указ Губернатора Кировской области от 16.07.2018 № 105 "О создании координационного совета по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности"
											// end card-preview

										._footer.js-list-toggle-parent
											span.link-more-chevron._link-more.js-list-toggle Раскрыть полный список
												i.fe.fe-chevron-down._icon
						// end content-section

						// start content-section
						section.content-section._section.is-opened.js-accordion-item#section-2
							.section-header._header
								._container
									._main
										h2.section-heading.is-medium._heading Применения проектного управления и принципов, при запуске и реализации проектов

							.section-body._body
								._container
									.box-secondary.js-accordion.js-list(data-show-count='3')
										._body
											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._main
														h4.card-heading.is-small._heading Инвестиционный договор (cоглашение)

												._body.js-accordion-body
													._inner
														._offset.-no-padding.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Описание применения проектного управления и(или) принципов проектного управления:
																.content._content
																	p Порядок взаимодействия органов исполнительной власти при запуске и реализации проектов регламентируется Постановлением от 2.11.2018 № 515-П "О реализации отдельных положений федерального закона от 21.07.2005 № 115-ФЗ "О концессионых соглашениях" на территории Кировской области

															.property._property-group.is-clear
																p.label._label.is-darken Презентация или иной документ описывающий (регламентирующий) применение принципов проектного управления:
																a.file-preview(href='#' title='')
																	._icon
																		i.fe.fe-file-text
																	._main
																		._content Указ Губернатора Кировской области от 16.07.2018 № 105 "О создании координационного совета по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности"
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._main
														h4.card-heading.is-small._heading Концессионное соглашение (115-ФЗ)

												._body.js-accordion-body
													._inner
														._offset.-no-padding.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Описание применения проектного управления и(или) принципов проектного управления:
																.content._content
																	p Порядок взаимодействия органов исполнительной власти при запуске и реализации проектов регламентируется Постановлением от 2.11.2018 № 515-П "О реализации отдельных положений федерального закона от 21.07.2005 № 115-ФЗ "О концессионых соглашениях" на территории Кировской области

															.property._property-group.is-clear
																p.label._label.is-darken Презентация или иной документ описывающий (регламентирующий) применение принципов проектного управления:
																a.file-preview(href='#' title='')
																	._icon
																		i.fe.fe-file-text
																	._main
																		._content Указ Губернатора Кировской области от 16.07.2018 № 105 "О создании координационного совета по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности"
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._main
														h4.card-heading.is-small._heading Специальный инвестиционный контракт - СПИК (488-ФЗ)

												._body.js-accordion-body
													._inner
														._offset.-no-padding.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Описание применения проектного управления и(или) принципов проектного управления:
																.content._content
																	p Порядок взаимодействия органов исполнительной власти при запуске и реализации проектов регламентируется Постановлением от 2.11.2018 № 515-П "О реализации отдельных положений федерального закона от 21.07.2005 № 115-ФЗ "О концессионых соглашениях" на территории Кировской области

															.property._property-group.is-clear
																p.label._label.is-darken Презентация или иной документ описывающий (регламентирующий) применение принципов проектного управления:
																a.file-preview(href='#' title='')
																	._icon
																		i.fe.fe-file-text
																	._main
																		._content Указ Губернатора Кировской области от 16.07.2018 № 105 "О создании координационного совета по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности"
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._main
														h4.card-heading.is-small._heading Инвестиционный договор (cоглашение)

												._body.js-accordion-body
													._inner
														._offset.-no-padding.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Описание применения проектного управления и(или) принципов проектного управления:
																.content._content
																	p Порядок взаимодействия органов исполнительной власти при запуске и реализации проектов регламентируется Постановлением от 2.11.2018 № 515-П "О реализации отдельных положений федерального закона от 21.07.2005 № 115-ФЗ "О концессионых соглашениях" на территории Кировской области

															.property._property-group.is-clear
																p.label._label.is-darken Презентация или иной документ описывающий (регламентирующий) применение принципов проектного управления:
																a.file-preview(href='#' title='')
																	._icon
																		i.fe.fe-file-text
																	._main
																		._content Указ Губернатора Кировской области от 16.07.2018 № 105 "О создании координационного совета по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности"
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._main
														h4.card-heading.is-small._heading Концессионное соглашение (115-ФЗ)

												._body.js-accordion-body
													._inner
														._offset.-no-padding.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Описание применения проектного управления и(или) принципов проектного управления:
																.content._content
																	p Порядок взаимодействия органов исполнительной власти при запуске и реализации проектов регламентируется Постановлением от 2.11.2018 № 515-П "О реализации отдельных положений федерального закона от 21.07.2005 № 115-ФЗ "О концессионых соглашениях" на территории Кировской области

															.property._property-group.is-clear
																p.label._label.is-darken Презентация или иной документ описывающий (регламентирующий) применение принципов проектного управления:
																a.file-preview(href='#' title='')
																	._icon
																		i.fe.fe-file-text
																	._main
																		._content Указ Губернатора Кировской области от 16.07.2018 № 105 "О создании координационного совета по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности"
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._main
														h4.card-heading.is-small._heading Специальный инвестиционный контракт - СПИК (488-ФЗ)

												._body.js-accordion-body
													._inner
														._offset.-no-padding.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Описание применения проектного управления и(или) принципов проектного управления:
																.content._content
																	p Порядок взаимодействия органов исполнительной власти при запуске и реализации проектов регламентируется Постановлением от 2.11.2018 № 515-П "О реализации отдельных положений федерального закона от 21.07.2005 № 115-ФЗ "О концессионых соглашениях" на территории Кировской области

															.property._property-group.is-clear
																p.label._label.is-darken Презентация или иной документ описывающий (регламентирующий) применение принципов проектного управления:
																a.file-preview(href='#' title='')
																	._icon
																		i.fe.fe-file-text
																	._main
																		._content Указ Губернатора Кировской области от 16.07.2018 № 105 "О создании координационного совета по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности"
											// end card-preview

										._footer.js-list-toggle-parent
											span.link-more-chevron._link-more.js-list-toggle Раскрыть полный список
												i.fe.fe-chevron-down._icon
						// end content-section

						// start content-section
						section.content-section._section.is-opened.js-accordion-item#section-3
							.section-header._header
								._container
									._main
										h2.section-heading.is-medium._heading Меры поддержки для инвесторов

							.section-body._body
								._container
									.box-secondary.js-accordion.js-list(data-show-count='3')
										._body
											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													span.number._number 1
													._main
														h4.card-heading.is-small._heading Предоставление дифференцированных налоговых ставок по налогу на имущество организаций

												._body.js-accordion-body
													._inner
														._offset.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Размер поддержки, преференции или льготы:
																.content._content
																	p 0% ставка федеральной части по налогу на прибыль в течение пяти налоговых периодов начиная с налогового периода, в котором в соответствии с данными налогового учета была получена первая прибыль от деятельности, осуществляемой при исполнении соглашений об осуществлении деятельности : 5% ставка региональной части по налогу на прибыль в течение пяти налоговых периодов начиная с налогового периода, в котором в соответствии с данными налогового учета была получена первая прибыль от деятельности, осуществляемой при исполнении соглашений об осуществлении деятельности, 10% ставка региональной части по налогу на прибыль в течение последующих 5 налоговых периодов; 7,6% ставка страховых взносов в государственные внебюджетные фонды (6% - Пенсионный фонд, 1,5% - Фонд социального страхования, 0,1% – Фонд обязательного медицинского страхования); 0% ставка по налогу на имущество организаций; 0% ставка по налогу на землю; заявительный порядок возмещения НДС.

															.property._property-group.is-clear
																p.label._label.is-darken Условия получения:
																.content._content
																	ul
																		li резидент ТОСЭР – юридическое лицо, являющееся коммерческой организацией (кроме ИП, МУПов, ГУПов и финансовых организаций, градообразующих и их дочерних предприятий);
																		li юридическое лицо зарегистрировано на территории ТОСЭР;
																		li юридическое лицо  осуществляет деятельность исключительно на территории ТОСЭР;
																		li юридическое лицо заключило трехстороннее соглашение об осуществлении деятельности на ТОСЭР и реализует на ее территории инвестиционный проект.

															.property._property-group.is-clear
																p.label._label.is-darken Успешные примеры применения:
																.content._content
																	p На сегодняшний день резидентами ТОСЭР являются 4 производственные организации. С начала реализации инвестиционных проектов ими создано свыше 330 новых рабочих мест (с начала 2019 года – 49 новых рабочих мест) и привлечено более 130 млн. рублей инвестиций (с начала 2019 года – 37 млн. рублей инвестиций), уплачено налогов, в региональный бюджет – 11,4 млн. рублей (без учета НДФЛ).

															.property._property-group.is-clear
																p.label._label.is-darken Презентация или иной документ описывающий (регламентирующий) применение принципов проектного управления:
																a.file-preview(href='#' title='')
																	._icon
																		i.fe.fe-file-text
																	._main
																		._content Указ Губернатора Кировской области от 16.07.2018 № 105 "О создании координационного совета по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности"
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													span.number._number 2
													._main
														h4.card-heading.is-small._heading Предоставление резидентам территорий опережающего социально-экономического развития региона (далее – ТОСЭР) налоговых льготы и преференций по страховым взносам

												._body.js-accordion-body
													._inner
														._offset.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Размер поддержки, преференции или льготы:
																.content._content
																	p 0% ставка федеральной части по налогу на прибыль в течение пяти налоговых периодов начиная с налогового периода, в котором в соответствии с данными налогового учета была получена первая прибыль от деятельности, осуществляемой при исполнении соглашений об осуществлении деятельности : 5% ставка региональной части по налогу на прибыль в течение пяти налоговых периодов начиная с налогового периода, в котором в соответствии с данными налогового учета была получена первая прибыль от деятельности, осуществляемой при исполнении соглашений об осуществлении деятельности, 10% ставка региональной части по налогу на прибыль в течение последующих 5 налоговых периодов; 7,6% ставка страховых взносов в государственные внебюджетные фонды (6% - Пенсионный фонд, 1,5% - Фонд социального страхования, 0,1% – Фонд обязательного медицинского страхования); 0% ставка по налогу на имущество организаций; 0% ставка по налогу на землю; заявительный порядок возмещения НДС.

															.property._property-group.is-clear
																p.label._label.is-darken Условия получения:
																.content._content
																	ul
																		li резидент ТОСЭР – юридическое лицо, являющееся коммерческой организацией (кроме ИП, МУПов, ГУПов и финансовых организаций, градообразующих и их дочерних предприятий);
																		li юридическое лицо зарегистрировано на территории ТОСЭР;
																		li юридическое лицо  осуществляет деятельность исключительно на территории ТОСЭР;
																		li юридическое лицо заключило трехстороннее соглашение об осуществлении деятельности на ТОСЭР и реализует на ее территории инвестиционный проект.

															.property._property-group.is-clear
																p.label._label.is-darken Успешные примеры применения:
																.content._content
																	p На сегодняшний день резидентами ТОСЭР являются 4 производственные организации. С начала реализации инвестиционных проектов ими создано свыше 330 новых рабочих мест (с начала 2019 года – 49 новых рабочих мест) и привлечено более 130 млн. рублей инвестиций (с начала 2019 года – 37 млн. рублей инвестиций), уплачено налогов, в региональный бюджет – 11,4 млн. рублей (без учета НДФЛ).

															.property._property-group.is-clear
																p.label._label.is-darken Презентация или иной документ описывающий (регламентирующий) применение принципов проектного управления:
																a.file-preview(href='#' title='')
																	._icon
																		i.fe.fe-file-text
																	._main
																		._content Указ Губернатора Кировской области от 16.07.2018 № 105 "О создании координационного совета по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности"
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													span.number._number 3
													._main
														h4.card-heading.is-small._heading Предоставление пониженной налоговой ставки по налогу на прибыль организаций, подлежащему зачислению в областной бюджет

												._body.js-accordion-body
													._inner
														._offset.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Размер поддержки, преференции или льготы:
																.content._content
																	p 0% ставка федеральной части по налогу на прибыль в течение пяти налоговых периодов начиная с налогового периода, в котором в соответствии с данными налогового учета была получена первая прибыль от деятельности, осуществляемой при исполнении соглашений об осуществлении деятельности : 5% ставка региональной части по налогу на прибыль в течение пяти налоговых периодов начиная с налогового периода, в котором в соответствии с данными налогового учета была получена первая прибыль от деятельности, осуществляемой при исполнении соглашений об осуществлении деятельности, 10% ставка региональной части по налогу на прибыль в течение последующих 5 налоговых периодов; 7,6% ставка страховых взносов в государственные внебюджетные фонды (6% - Пенсионный фонд, 1,5% - Фонд социального страхования, 0,1% – Фонд обязательного медицинского страхования); 0% ставка по налогу на имущество организаций; 0% ставка по налогу на землю; заявительный порядок возмещения НДС.

															.property._property-group.is-clear
																p.label._label.is-darken Условия получения:
																.content._content
																	ul
																		li резидент ТОСЭР – юридическое лицо, являющееся коммерческой организацией (кроме ИП, МУПов, ГУПов и финансовых организаций, градообразующих и их дочерних предприятий);
																		li юридическое лицо зарегистрировано на территории ТОСЭР;
																		li юридическое лицо  осуществляет деятельность исключительно на территории ТОСЭР;
																		li юридическое лицо заключило трехстороннее соглашение об осуществлении деятельности на ТОСЭР и реализует на ее территории инвестиционный проект.

															.property._property-group.is-clear
																p.label._label.is-darken Успешные примеры применения:
																.content._content
																	p На сегодняшний день резидентами ТОСЭР являются 4 производственные организации. С начала реализации инвестиционных проектов ими создано свыше 330 новых рабочих мест (с начала 2019 года – 49 новых рабочих мест) и привлечено более 130 млн. рублей инвестиций (с начала 2019 года – 37 млн. рублей инвестиций), уплачено налогов, в региональный бюджет – 11,4 млн. рублей (без учета НДФЛ).

															.property._property-group.is-clear
																p.label._label.is-darken Презентация или иной документ описывающий (регламентирующий) применение принципов проектного управления:
																a.file-preview(href='#' title='')
																	._icon
																		i.fe.fe-file-text
																	._main
																		._content Указ Губернатора Кировской области от 16.07.2018 № 105 "О создании координационного совета по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности"
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													span.number._number 4
													._main
														h4.card-heading.is-small._heading Предоставление резидентам территорий опережающего социально-экономического развития региона (далее – ТОСЭР) налоговых льготы и преференций по страховым взносам

												._body.js-accordion-body
													._inner
														._offset.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Размер поддержки, преференции или льготы:
																.content._content
																	p 0% ставка федеральной части по налогу на прибыль в течение пяти налоговых периодов начиная с налогового периода, в котором в соответствии с данными налогового учета была получена первая прибыль от деятельности, осуществляемой при исполнении соглашений об осуществлении деятельности : 5% ставка региональной части по налогу на прибыль в течение пяти налоговых периодов начиная с налогового периода, в котором в соответствии с данными налогового учета была получена первая прибыль от деятельности, осуществляемой при исполнении соглашений об осуществлении деятельности, 10% ставка региональной части по налогу на прибыль в течение последующих 5 налоговых периодов; 7,6% ставка страховых взносов в государственные внебюджетные фонды (6% - Пенсионный фонд, 1,5% - Фонд социального страхования, 0,1% – Фонд обязательного медицинского страхования); 0% ставка по налогу на имущество организаций; 0% ставка по налогу на землю; заявительный порядок возмещения НДС.

															.property._property-group.is-clear
																p.label._label.is-darken Условия получения:
																.content._content
																	ul
																		li резидент ТОСЭР – юридическое лицо, являющееся коммерческой организацией (кроме ИП, МУПов, ГУПов и финансовых организаций, градообразующих и их дочерних предприятий);
																		li юридическое лицо зарегистрировано на территории ТОСЭР;
																		li юридическое лицо  осуществляет деятельность исключительно на территории ТОСЭР;
																		li юридическое лицо заключило трехстороннее соглашение об осуществлении деятельности на ТОСЭР и реализует на ее территории инвестиционный проект.

															.property._property-group.is-clear
																p.label._label.is-darken Успешные примеры применения:
																.content._content
																	p На сегодняшний день резидентами ТОСЭР являются 4 производственные организации. С начала реализации инвестиционных проектов ими создано свыше 330 новых рабочих мест (с начала 2019 года – 49 новых рабочих мест) и привлечено более 130 млн. рублей инвестиций (с начала 2019 года – 37 млн. рублей инвестиций), уплачено налогов, в региональный бюджет – 11,4 млн. рублей (без учета НДФЛ).

															.property._property-group.is-clear
																p.label._label.is-darken Презентация или иной документ описывающий (регламентирующий) применение принципов проектного управления:
																a.file-preview(href='#' title='')
																	._icon
																		i.fe.fe-file-text
																	._main
																		._content Указ Губернатора Кировской области от 16.07.2018 № 105 "О создании координационного совета по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности"
											// end card-preview

										._footer.js-list-toggle-parent
											span.link-more-chevron._link-more.js-list-toggle Раскрыть полный список
												i.fe.fe-chevron-down._icon
						// end content-section



						// start content-section
						section.content-section._section#section-4
							.section-header._header
								._container
									._main
										h2.section-heading.is-medium._heading Методические материалы для инвесторов и публичных инициаторов проектов ГЧП

							.section-body._body
								._container
									.box-secondary.js-list(data-show-count='3')
										._body
											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._icon.is-document
														i.fe.fe-file-text

													._main
														h4.card-heading.is-small._heading О разграничении полномочий органов государственной власти республики Татарстан в сфере ГЧП
														._meta
															span.label._property Целевая аудитория: Публичные партнеры, частные партнеры, уполномоченные органы
												._body.js-accordion-body
													._inner
														._offset.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Целевая аудитория:
																.content._content
																	p Публичные партнеры, частные партнеры, уполномоченные органы
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._icon.is-document
														i.fe.fe-file-text

													._main
														h4.card-heading.is-small._heading Рекомендации по реализации проектов государственно-частного партнерства. Лучшие практики
														._meta
															span.label._property Целевая аудитория: Публичные партнеры, частные партнеры, уполномоченные органы
												._body.js-accordion-body
													._inner
														._offset.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Целевая аудитория:
																.content._content
																	p Публичные партнеры, частные партнеры, уполномоченные органы
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._icon.is-document
														i.fe.fe-file-text

													._main
														h4.card-heading.is-small._heading О разграничении полномочий органов государственной власти республики Татарстан в сфере ГЧП
														._meta
															span.label._property Целевая аудитория: Публичные партнеры, частные партнеры, уполномоченные органы
												._body.js-accordion-body
													._inner
														._offset.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Целевая аудитория:
																.content._content
																	p Публичные партнеры, частные партнеры, уполномоченные органы
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._icon.is-document
														i.fe.fe-file-text

													._main
														h4.card-heading.is-small._heading О разграничении полномочий органов государственной власти республики Татарстан в сфере ГЧП
														._meta
															span.label._property Целевая аудитория: Публичные партнеры, частные партнеры, уполномоченные органы
												._body.js-accordion-body
													._inner
														._offset.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Целевая аудитория:
																.content._content
																	p Публичные партнеры, частные партнеры, уполномоченные органы
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._icon.is-document
														i.fe.fe-file-text

													._main
														h4.card-heading.is-small._heading Рекомендации по реализации проектов государственно-частного партнерства. Лучшие практики
														._meta
															span.label._property Целевая аудитория: Публичные партнеры, частные партнеры, уполномоченные органы
												._body.js-accordion-body
													._inner
														._offset.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Целевая аудитория:
																.content._content
																	p Публичные партнеры, частные партнеры, уполномоченные органы
											// end card-preview

										._footer.js-list-toggle-parent
											span.link-more-chevron._link-more.js-list-toggle Раскрыть полный список
												i.fe.fe-chevron-down._icon
						// end content-section

						// start content-section
						section.content-section._section#section-5
							.section-header._header
								._container
									._main
										h2.section-heading.is-medium._heading Документы, регламентирующие процессы межведомственного взаимодействия органов власти при запуске и реализации проектов ГЧП

							.section-body._body
								._container
									.box-secondary.js-accordion.js-list(data-show-count='3')
										._body
											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._icon.is-document
														i.fe.fe-file-text

													._main
														h4.card-heading.is-small._heading Закон Кировской области от 30.06.2016 N 682-ЗО "О разграничении полномочий органов государственной власти Кировской области в сфере государственно-частного партнерства"

												._body.js-accordion-body
													._inner
														._offset.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Этапы реализации проектов, которые регламентируются документом:
																ul.list-badges._list-badges
																	li._item
																		+badge({
																			title: 'Конкурс и подписание соглашения (договора / контракта)',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Эксплуатация',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Завершен',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Структурирование',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Прединвестиционный',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Инвестиционный',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Инициирование',
																			type: 'is-secondary'
																		})

															.property._property-group.is-clear
																p.label._label.is-darken Формы проектов, которые регламентируются документом:
																ul.list-badges._list-badges
																	li._item
																		+badge({
																			title: 'Концессионное соглашение (115-ФЗ)',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Соглашение о ГЧП/МЧП',
																			type: 'is-secondary'
																		})
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._icon.is-document
														i.fe.fe-file-text

													._main
														h4.card-heading.is-small._heading Постановление Правительства Кировской области от 02.11.2018 N 515-П "О реализации отдельных положений Федерального закона от 21.07.2005 N 115-ФЗ "О концессионных соглашениях" на территории Кировской области"

												._body.js-accordion-body
													._inner
														._offset.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Этапы реализации проектов, которые регламентируются документом:
																ul.list-badges._list-badges
																	li._item
																		+badge({
																			title: 'Конкурс и подписание соглашения (договора / контракта)',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Эксплуатация',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Завершен',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Структурирование',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Прединвестиционный',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Инвестиционный',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Инициирование',
																			type: 'is-secondary'
																		})

															.property._property-group.is-clear
																p.label._label.is-darken Формы проектов, которые регламентируются документом:
																ul.list-badges._list-badges
																	li._item
																		+badge({
																			title: 'Концессионное соглашение (115-ФЗ)',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Соглашение о ГЧП/МЧП',
																			type: 'is-secondary'
																		})
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._icon.is-document
														i.fe.fe-file-text

													._main
														h4.card-heading.is-small._heading Закон Кировской области от 30.06.2016 N 682-ЗО "О разграничении полномочий органов государственной власти Кировской области в сфере государственно-частного партнерства"

												._body.js-accordion-body
													._inner
														._offset.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Этапы реализации проектов, которые регламентируются документом:
																ul.list-badges._list-badges
																	li._item
																		+badge({
																			title: 'Конкурс и подписание соглашения (договора / контракта)',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Эксплуатация',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Завершен',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Структурирование',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Прединвестиционный',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Инвестиционный',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Инициирование',
																			type: 'is-secondary'
																		})

															.property._property-group.is-clear
																p.label._label.is-darken Формы проектов, которые регламентируются документом:
																ul.list-badges._list-badges
																	li._item
																		+badge({
																			title: 'Концессионное соглашение (115-ФЗ)',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Соглашение о ГЧП/МЧП',
																			type: 'is-secondary'
																		})
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._icon.is-document
														i.fe.fe-file-text

													._main
														h4.card-heading.is-small._heading Постановление Правительства Кировской области от 02.11.2018 N 515-П "О реализации отдельных положений Федерального закона от 21.07.2005 N 115-ФЗ "О концессионных соглашениях" на территории Кировской области"

												._body.js-accordion-body
													._inner
														._offset.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Этапы реализации проектов, которые регламентируются документом:
																ul.list-badges._list-badges
																	li._item
																		+badge({
																			title: 'Конкурс и подписание соглашения (договора / контракта)',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Эксплуатация',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Завершен',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Структурирование',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Прединвестиционный',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Инвестиционный',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Инициирование',
																			type: 'is-secondary'
																		})

															.property._property-group.is-clear
																p.label._label.is-darken Формы проектов, которые регламентируются документом:
																ul.list-badges._list-badges
																	li._item
																		+badge({
																			title: 'Концессионное соглашение (115-ФЗ)',
																			type: 'is-secondary'
																		})
																	li._item
																		+badge({
																			title: 'Соглашение о ГЧП/МЧП',
																			type: 'is-secondary'
																		})
											// end card-preview

										._footer.js-list-toggle-parent
											span.link-more-chevron._link-more.js-list-toggle Раскрыть полный список
												i.fe.fe-chevron-down._icon
						// end content-section

						// start content-section
						section.content-section._section#section-6
							.section-header._header
								._container
									._main
										h2.section-heading.is-medium._heading Иные значимые нормативные правовые акты публичного партнера

							.section-body._body
								._container
									.box-secondary.js-accordion.js-list(data-show-count='3')
										._body
											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._icon.is-document
														i.fe.fe-file-text

													._main
														h4.card-heading.is-small._heading Закон Кировской области от 30.06.2016 N 682-ЗО "О разграничении полномочий органов государственной власти Кировской области в сфере государственно-частного партнерства"

												._body.js-accordion-body
													._inner
														._offset.is-border
															.property._property-group.is-clear
																p.label._label.is-darken краткое описание:
																.content._content
																	p Порядок взаимодействия органов исполнительной власти при запуске и реализации проектов регламентируется Постановлением от 2.11.2018 № 515-П "О реализации отдельных положений федерального закона от 21.07.2005 № 115-ФЗ "О концессионых соглашениях" на территории Кировской области
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._icon.is-document
														i.fe.fe-file-text

													._main
														h4.card-heading.is-small._heading Постановление Правительства Кировской области от 02.11.2018 N 515-П "О реализации отдельных положений Федерального закона от 21.07.2005 N 115-ФЗ "О концессионных соглашениях" на территории Кировской области"

												._body.js-accordion-body
													._inner
														._offset.is-border
															.property._property-group.is-clear
																p.label._label.is-darken краткое описание:
																.content._content
																	p Порядок взаимодействия органов исполнительной власти при запуске и реализации проектов регламентируется Постановлением от 2.11.2018 № 515-П "О реализации отдельных положений федерального закона от 21.07.2005 № 115-ФЗ "О концессионых соглашениях" на территории Кировской области
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._icon.is-document
														i.fe.fe-file-text

													._main
														h4.card-heading.is-small._heading Постановление Правительства Кировской области от 02.11.2018 N 515-П "О реализации отдельных положений Федерального закона от 21.07.2005 N 115-ФЗ "О концессионных соглашениях"

												._body.js-accordion-body
													._inner
														._offset.is-border
															.property._property-group.is-clear
																p.label._label.is-darken краткое описание:
																.content._content
																	p Порядок взаимодействия органов исполнительной власти при запуске и реализации проектов регламентируется Постановлением от 2.11.2018 № 515-П "О реализации отдельных положений федерального закона от 21.07.2005 № 115-ФЗ "О концессионых соглашениях" на территории Кировской области
											// end card-preview

										._footer.js-list-toggle-parent
											span.link-more-chevron._link-more.js-list-toggle Раскрыть полный список
												i.fe.fe-chevron-down._icon
						// end content-section

						// start content-section
						section.content-section._section#section-7
							.section-header._header
								._container
									._main
										h2.section-heading.is-medium._heading Процедуры обоснования выбора оптимальной формы реализации проектов

							.section-body._body
								._container
									.box-secondary.js-accordion.js-list(data-show-count='3')
										._body
											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._main
														h4.card-heading.is-small._heading Инвестиционный договор (cоглашение)

												._body.js-accordion-body
													._inner
														._offset.-no-padding.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Описание процедуры обоснования выбора оптимальной формы реализации проектов и целесообразности использования механизмов государственно-частного партнерства или мер поддержки при их реализации:
																.content._content
																	p Порядок взаимодействия органов исполнительной власти при запуске и реализации проектов регламентируется Постановлением от 2.11.2018 № 515-П "О реализации отдельных положений федерального закона от 21.07.2005 № 115-ФЗ "О концессионых соглашениях" на территории Кировской области

															.property._property-group.is-clear
																p.label._label.is-darken Документ, которым регламентирована процедура:
																a.file-preview(href='#' title='')
																	._icon
																		i.fe.fe-file-text
																	._main
																		._content Указ Губернатора Кировской области от 16.07.2018 № 105 "О создании координационного совета по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности"
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._main
														h4.card-heading.is-small._heading Концессионное соглашение (115-ФЗ)

												._body.js-accordion-body
													._inner
														._offset.-no-padding.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Описание процедуры обоснования выбора оптимальной формы реализации проектов и целесообразности использования механизмов государственно-частного партнерства или мер поддержки при их реализации:
																.content._content
																	p Порядок взаимодействия органов исполнительной власти при запуске и реализации проектов регламентируется Постановлением от 2.11.2018 № 515-П "О реализации отдельных положений федерального закона от 21.07.2005 № 115-ФЗ "О концессионых соглашениях" на территории Кировской области

															.property._property-group.is-clear
																p.label._label.is-darken Документ, которым регламентирована процедура:
																a.file-preview(href='#' title='')
																	._icon
																		i.fe.fe-file-text
																	._main
																		._content Указ Губернатора Кировской области от 16.07.2018 № 105 "О создании координационного совета по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности"
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._main
														h4.card-heading.is-small._heading Специальный инвестиционный контракт - СПИК (488-ФЗ)

												._body.js-accordion-body
													._inner
														._offset.-no-padding.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Описание процедуры обоснования выбора оптимальной формы реализации проектов и целесообразности использования механизмов государственно-частного партнерства или мер поддержки при их реализации:
																.content._content
																	p Порядок взаимодействия органов исполнительной власти при запуске и реализации проектов регламентируется Постановлением от 2.11.2018 № 515-П "О реализации отдельных положений федерального закона от 21.07.2005 № 115-ФЗ "О концессионых соглашениях" на территории Кировской области

															.property._property-group.is-clear
																p.label._label.is-darken Документ, которым регламентирована процедура:
																a.file-preview(href='#' title='')
																	._icon
																		i.fe.fe-file-text
																	._main
																		._content Указ Губернатора Кировской области от 16.07.2018 № 105 "О создании координационного совета по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности"
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._main
														h4.card-heading.is-small._heading Инвестиционный договор (cоглашение)

												._body.js-accordion-body
													._inner
														._offset.-no-padding.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Описание процедуры обоснования выбора оптимальной формы реализации проектов и целесообразности использования механизмов государственно-частного партнерства или мер поддержки при их реализации:
																.content._content
																	p Порядок взаимодействия органов исполнительной власти при запуске и реализации проектов регламентируется Постановлением от 2.11.2018 № 515-П "О реализации отдельных положений федерального закона от 21.07.2005 № 115-ФЗ "О концессионых соглашениях" на территории Кировской области

															.property._property-group.is-clear
																p.label._label.is-darken Документ, которым регламентирована процедура:
																a.file-preview(href='#' title='')
																	._icon
																		i.fe.fe-file-text
																	._main
																		._content Указ Губернатора Кировской области от 16.07.2018 № 105 "О создании координационного совета по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности"
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._main
														h4.card-heading.is-small._heading Концессионное соглашение (115-ФЗ)

												._body.js-accordion-body
													._inner
														._offset.-no-padding.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Описание процедуры обоснования выбора оптимальной формы реализации проектов и целесообразности использования механизмов государственно-частного партнерства или мер поддержки при их реализации:
																.content._content
																	p Порядок взаимодействия органов исполнительной власти при запуске и реализации проектов регламентируется Постановлением от 2.11.2018 № 515-П "О реализации отдельных положений федерального закона от 21.07.2005 № 115-ФЗ "О концессионых соглашениях" на территории Кировской области

															.property._property-group.is-clear
																p.label._label.is-darken Документ, которым регламентирована процедура:
																a.file-preview(href='#' title='')
																	._icon
																		i.fe.fe-file-text
																	._main
																		._content Указ Губернатора Кировской области от 16.07.2018 № 105 "О создании координационного совета по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности"
											// end card-preview

											// start card-preview
											.card-preview._card-preview.is-closed.js-accordion-item.js-list-item
												._header.js-accordion-toggle
													._main
														h4.card-heading.is-small._heading Специальный инвестиционный контракт - СПИК (488-ФЗ)

												._body.js-accordion-body
													._inner
														._offset.-no-padding.is-border
															.property._property-group.is-clear
																p.label._label.is-darken Описание процедуры обоснования выбора оптимальной формы реализации проектов и целесообразности использования механизмов государственно-частного партнерства или мер поддержки при их реализации:
																.content._content
																	p Порядок взаимодействия органов исполнительной власти при запуске и реализации проектов регламентируется Постановлением от 2.11.2018 № 515-П "О реализации отдельных положений федерального закона от 21.07.2005 № 115-ФЗ "О концессионых соглашениях" на территории Кировской области

															.property._property-group.is-clear
																p.label._label.is-darken Документ, которым регламентирована процедура:
																a.file-preview(href='#' title='')
																	._icon
																		i.fe.fe-file-text
																	._main
																		._content Указ Губернатора Кировской области от 16.07.2018 № 105 "О создании координационного совета по вопросам развития малого и среднего предпринимательства и инвестиционной деятельности"
											// end card-preview

										._footer.js-list-toggle-parent
											span.link-more-chevron._link-more.js-list-toggle Раскрыть полный список
												i.fe.fe-chevron-down._icon
						// end content-section

					// end main-content

					// start main-aside
					aside.main-aside._aside.is-secondary
						._container.js-main-aside-sticky

							// start aside-widget
							.aside-widget._widget
								._header
									h4._heading Навигатор по разделу

								._body
									+menu-sections([{
										href: '#section-1',
										title: 'Данные межведомственного ответственного органа',
										isActive: true
									}, {
										href: '#section-2',
										title: 'Применения проектного управления'
									}, {
										href: '#section-3',
										title: 'Меры поддержки в регионе'
									}, {
										href: '#section-4',
										title: 'Методические материалы'
									}, {
										href: '#section-5',
										title: 'Документы взаимодействия органов власти'
									}, {
										href: '#section-6',
										title: 'Иные значимые нормативные правовые акты'
									}, {
										href: '#section-7',
										title: 'Процедуры обоснования выбора оптимальной формы реализации проектов'
									}], {
										class: 'aside-widget__menu-sections'
									})
							// end aside-widget

					// end main-aside
		// end main-body
