extends ../template

include ../../components/menu/menu
include ../../components/menu-sections/menu-sections
include ../../components/main-menu/main-menu
include ../../components/categories-slider/categories-slider

block append settings
  -
    page.title = 'Агрызский муниципальный район';


block page-body

  main.page-main
    // start breadcrumbs
    .breadcrumbs
      ._container.container
        ul._list
          li._item
            a._link(href='#' title='Главная') Главная
          li._item
            a._link(href='#' title='Публичные партнёры') Публичные партнёры
          li._item
            a._link(href='#' title='Российская федерация') Российская федерация
          li._item
            span._link Федеральные органы власти
    // end breadcrumbs

    // start main-header
    .main-header.is-large._header
      ._container.container
        ._content
          .flag._flag
            img._img(src='__static__img/content/federals/4.svg' alt='')
          h1.main-heading.is-large._heading= page.title
    // end main-header

    // start main-menu
    +main-menu([
        {
          href: '#',
          title: 'О публичном партнёре',
          isActive: true
        }, {
          href: '#',
          title: 'Нормативно-правовая база'
        }, {
          href: '#',
          title: 'Объекты под проекты'
        }, {
          href: '#',
          title: 'Проекты ГЧП'
        }, {
          href: '#',
          title: 'Новости региона'
        }
    ])
    // end main-menu

    // start main-body
    .main-body._body
      ._container.container
        ._grid

          // start main-content
          .main-content._content.js-menu-sections-list

            // start content-section
            section.content-section._section#section-1
              .section-header._header
                ._container
                  ._main
                    h2.section-heading.is-medium._heading Публичный партнёр в цифрах

              .section-body._body
                ._container
                  +categories-slider(db_categories.country)
            // end content-section

            // start content-section
            section.content-section._section#section-2
              .section-header._header
                ._container
                  ._main
                    h2.section-heading.is-medium._heading Инвестиционный паспорт

              .section-body._body
                ._container
                  // start section-child
                  .section-child._child
                    .section-header._header
                      ._container
                        ._main
                          h2.section-heading.is-small._heading Основные показатели инвестиционного паспорта:

                    .section-body._body
                      ._container
                        .box-secondary.js-box
                          - var boxnav = [2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2009, 2008, 2007, 2006, 2005, 2004];
                          .box-nav._nav.js-box-nav
                            ul._list.js-box-nav-list
                              each item, key in boxnav
                                li._item(class=(key === 0 ? 'is-active' : ''))
                                  span._title= item

                            ._more.js-box-nav-more
                              span._title.js-box-nav-toggle Ещё
                                i.fe.fe-chevron-down._icon

                              ul._dropdown.js-box-nav-dropdown

                          ._body
                            ._tabs.js-box-tabs
                              each item, key in boxnav
                                ._tab.js-box-tab(class=(key === 0 ? 'is-active' : ''))
                                  // start card-preview
                                  .card-preview.is-property._card-preview
                                    ._header
                                      ._main
                                        .card-heading.is-small._title Численность населения, тыс.чел.

                                      ._aside
                                        ._value 3 898,6
                                  // end card-preview

                                  // start card-preview
                                  .card-preview.is-property._card-preview
                                    ._header
                                      ._main
                                        .card-heading.is-small._title Среднемесячная заработная плата, тыс.руб.

                                      ._aside
                                        ._value 34,2
                                  // end card-preview

                                  // start card-preview
                                  .card-preview.is-property._card-preview
                                    ._header
                                      ._main
                                        .card-heading.is-small._title Объем валового регионального продукта, млн. руб.

                                      ._aside
                                        ._value 2 440 000,0
                                  // end card-preview

                                  // start card-preview
                                  .card-preview.is-property._card-preview
                                    ._header
                                      ._main
                                        .card-heading.is-small._title Доходы бюджета, тыс. руб.

                                      ._aside
                                        ._value 262 936 521,5
                                  // end card-preview

                                  // start card-preview
                                  .card-preview.is-property._card-preview
                                    ._header
                                      ._main
                                        .card-heading.is-small._title Расходы бюджета, тыс. руб.

                                      ._aside
                                        ._value 285 914 373,9
                                  // end card-preview

                                  // start card-preview
                                  .card-preview.is-property._card-preview
                                    ._header
                                      ._main
                                        .card-heading.is-small._title Кредитный рейтинг

                                      ._aside
                                        ._value Ba1
                                  // end card-preview

                                  // start card-preview
                                  .card-preview.is-property._card-preview
                                    ._header
                                      ._main
                                        .card-heading.is-small._title Рейтинговое агентство

                                      ._aside
                                        ._value 197 Moody's
                                  // end card-preview

                                  // start card-preview
                                  .card-preview.is-property._card-preview
                                    ._header
                                      ._main
                                        .card-heading.is-small._title Дата присвоения рейтинга

                                      ._aside
                                        ._value 11.09.2019
                                  // end card-preview

                                  // start card-preview
                                  .card-preview.is-property.is-secondary._card-preview
                                    ._header
                                      ._main
                                        span.label._label Иные значимые показатели

                                      ._aside
                                        ._value
                                          span.label._label Значение:
                                  // end card-preview

                                  // start card-preview
                                  .card-preview.is-property._card-preview
                                    ._header
                                      ._main
                                        .card-heading.is-small._title Национальный рейтинг состояния инвестиционного климата в субъектах РФ, место

                                      ._aside
                                        ._value 2
                                  // end card-preview
                  // end section-child

                  // start section-child
                  .section-child._child
                    .section-header._header
                      ._container
                        ._main
                          h2.section-heading.is-small._heading Презентации инвестиционного потенциала:

                    .section-body._body
                      ._container
                        .box-secondary.js-list(data-show-count='3')
                          ._thead
                            .label._th.is-content Наименование:
                            .label._th.is-property Тип:

                          ._body
                            // start card-preview
                            a.card-preview._card-preview.js-list-item(href='#' title='')
                              ._header
                                ._icon.is-document
                                  img._img(src='__static__img/general/file-text.svg' alt='')

                                ._main
                                  h4.card-heading.is-small.is-ellipsis._heading Презентация инвестиционного потенциала Республики Татарстан 2020

                                ._aside.is-property
                                  ._property-text PDF презентация
                            // end card-preview

                            // start card-preview
                            a.card-preview._card-preview.js-list-item.js-video-card(href='https://youtu.be/dTWQ2M1EuqU' title='')
                              ._header
                                ._icon.is-video
                                  img._img(src='__static__img/general/play.svg' alt='')

                                ._main
                                  h4.card-heading.is-small.is-ellipsis._heading Презентация инвестиционного потенциала Республики Татарстан 2020

                                ._aside.is-property
                                  ._property-text Видео
                            // end card-preview

                            // start card-preview
                            a.card-preview._card-preview.js-list-item(href='#' title='')
                              ._header
                                ._icon.is-document
                                  img._img(src='__static__img/general/file-text.svg' alt='')

                                ._main
                                  h4.card-heading.is-small.is-ellipsis._heading Презентация пространственного развития до 2025 года

                                ._aside.is-property
                                  ._property-text PDF презентация
                            // end card-preview

                            // start card-preview
                            a.card-preview._card-preview.js-list-item(href='#' title='')
                              ._header
                                ._icon.is-document
                                  img._img(src='__static__img/general/file-text.svg' alt='')

                                ._main
                                  h4.card-heading.is-small.is-ellipsis._heading Презентация инвестиционного потенциала Республики Татарстан 2020

                                ._aside.is-property
                                  ._property-text PDF презентация
                            // end card-preview

                            // start card-preview
                            a.card-preview._card-preview.js-list-item.js-video-card(href='https://youtu.be/dTWQ2M1EuqU' title='')
                              ._header
                                ._icon.is-video
                                  img._img(src='__static__img/general/play.svg' alt='')

                                ._main
                                  h4.card-heading.is-small.is-ellipsis._heading Презентация инвестиционного потенциала Республики Татарстан 2020

                                ._aside.is-property
                                  ._property-text Видео
                            // end card-preview

                            // start card-preview
                            a.card-preview._card-preview.js-list-item(href='#' title='')
                              ._header
                                ._icon.is-document
                                  img._img(src='__static__img/general/file-text.svg' alt='')

                                ._main
                                  h4.card-heading.is-small.is-ellipsis._heading Презентация пространственного развития до 2025 года

                                ._aside.is-property
                                  ._property-text PDF презентация
                            // end card-preview

                          ._footer.js-list-toggle-parent
                            span.link-more-chevron._link-more.js-list-toggle Раскрыть полный список
                              i.fe.fe-chevron-down._icon
                  // end section-child
            // end content-section

            // start content-section
            section.content-section._section.is-opened.js-accordion-item#section-3
              .section-header._header.js-accordion-toggle
                ._container
                  ._main
                    h2.section-heading.is-medium._heading Структуры ответственные за развитие ГЧП и инфраструктуры

              .section-body._body.js-accordion-body
                ._container
                  .box-secondary.js-accordion.js-list(data-show-count='3')
                    ._body
                      // start card-preview
                      .card-preview._card-preview.is-closed.js-accordion-item.js-list-item
                        ._header.js-accordion-toggle
                          ._icon.is-gerb
                            img._img(src='__static__img/content/federals/2.svg' alt='')

                          ._main
                            h4.card-heading.is-small._heading Министерство экономического развития и поддержки предпринимательства

                        ._body.js-accordion-body
                          ._inner
                            ._offset
                              .property._property
                                p.label._label Основные направления деятельности:
                                .content._content
                                  p Татарстан – только для умных инвесторов. Онлайн-сообщество. Новости. Татарстан в ООН: как достигается устойчивое развитие. Ежеквартальные заседания клуба инвесторов с участием руководства республики, профильных министерств и ведомств в неформальной обстановке для обсуждения и решения вопросов и задач. Татарстан – только для умных инвесторов. Онлайн-сообщество. Новости. Татарстан в ООН

                                a.link-url._link-url(href='#' title='' target='_blank')
                                  i.fe.fe-globe._icon
                                  | www.invest.tatarstan.ru
                      // end card-preview

                      // start card-preview
                      .card-preview._card-preview.is-closed.js-accordion-item.js-list-item
                        ._header.js-accordion-toggle
                          ._icon.is-gerb
                            img._img(src='__static__img/content/federals/2.svg' alt='')

                          ._main
                            h4.card-heading.is-small._heading Министерство экономики

                        ._body.js-accordion-body
                          ._inner
                            ._offset
                              .property._property
                                p.label._label Основные направления деятельности:
                                .content._content
                                  p Татарстан – только для умных инвесторов. Онлайн-сообщество. Новости. Татарстан в ООН: как достигается устойчивое развитие. Ежеквартальные заседания клуба инвесторов с участием руководства республики, профильных министерств и ведомств в неформальной обстановке для обсуждения и решения вопросов и задач. Татарстан – только для умных инвесторов. Онлайн-сообщество. Новости. Татарстан в ООН

                                a.link-url._link-url(href='#' title='' target='_blank')
                                  i.fe.fe-globe._icon
                                  | www.invest.tatarstan.ru
                      // end card-preview

                      // start card-preview
                      .card-preview._card-preview.is-closed.js-accordion-item.js-list-item
                        ._header.js-accordion-toggle
                          ._icon.is-gerb
                            img._img(src='__static__img/content/federals/2.svg' alt='')

                          ._main
                            h4.card-heading.is-small._heading Министерство экономического развития и поддержки предпринимательства

                        ._body.js-accordion-body
                          ._inner
                            ._offset
                              .property._property
                                p.label._label Основные направления деятельности:
                                .content._content
                                  p Татарстан – только для умных инвесторов. Онлайн-сообщество. Новости. Татарстан в ООН: как достигается устойчивое развитие. Ежеквартальные заседания клуба инвесторов с участием руководства республики, профильных министерств и ведомств в неформальной обстановке для обсуждения и решения вопросов и задач. Татарстан – только для умных инвесторов. Онлайн-сообщество. Новости. Татарстан в ООН

                                a.link-url._link-url(href='#' title='' target='_blank')
                                  i.fe.fe-globe._icon
                                  | www.invest.tatarstan.ru
                      // end card-preview

                      // start card-preview
                      .card-preview._card-preview.is-closed.js-accordion-item.js-list-item
                        ._header.js-accordion-toggle
                          ._icon.is-gerb
                            img._img(src='__static__img/content/federals/2.svg' alt='')

                          ._main
                            h4.card-heading.is-small._heading Министерство экономического развития и поддержки предпринимательства

                        ._body.js-accordion-body
                          ._inner
                            ._offset
                              .property._property
                                p.label._label Основные направления деятельности:
                                .content._content
                                  p Татарстан – только для умных инвесторов. Онлайн-сообщество. Новости. Татарстан в ООН: как достигается устойчивое развитие. Ежеквартальные заседания клуба инвесторов с участием руководства республики, профильных министерств и ведомств в неформальной обстановке для обсуждения и решения вопросов и задач. Татарстан – только для умных инвесторов. Онлайн-сообщество. Новости. Татарстан в ООН

                                a.link-url._link-url(href='#' title='' target='_blank')
                                  i.fe.fe-globe._icon
                                  | www.invest.tatarstan.ru
                      // end card-preview

                    ._footer.js-list-toggle-parent
                      span.link-more-chevron._link-more.js-list-toggle Раскрыть полный список
                        i.fe.fe-chevron-down._icon
            // end content-section

            // start content-section
            section.content-section._section#section-4
              .section-header._header
                ._container
                  ._main
                    h2.section-heading.is-medium._heading Стратегия развития

              .section-body._body
                ._container
                  // start section-child
                  .section-child._child
                    .section-header._header
                      ._container
                        ._main
                          h2.section-heading.is-small._heading Стратегические документы (документы целеполагания)

                    .section-body._body
                      ._container
                        .box-secondary.js-list(data-show-count='3')
                          ._thead
                            .label._th.is-content Наименование документа:
                            .label._th.is-property Период действия:

                          ._body
                            // start card-preview
                            a.card-preview._card-preview.js-list-item(href='#' title='')
                              ._header
                                ._icon.is-document
                                  img._img(src='__static__img/general/file-text.svg' alt='')

                                ._main
                                  h4.card-heading.is-small.is-ellipsis._heading Стратегия пространственного развития до 2025 года

                                ._aside.is-property
                                  ._property-text 2010-2025 гг.
                            // end card-preview

                            // start card-preview
                            a.card-preview._card-preview.js-list-item(href='#' title='')
                              ._header
                                ._icon.is-document
                                  img._img(src='__static__img/general/file-text.svg' alt='')

                                ._main
                                  h4.card-heading.is-small.is-ellipsis._heading Инвестиционная стратегия Министерства Здравоохранения

                                ._aside.is-property
                                  ._property-text 2010-2025 гг.
                            // end card-preview

                            // start card-preview
                            a.card-preview._card-preview.js-list-item(href='#' title='')
                              ._header
                                ._icon.is-document
                                  img._img(src='__static__img/general/file-text.svg' alt='')

                                ._main
                                  h4.card-heading.is-small.is-ellipsis._heading Стратегия пространственного развития до 2025 года

                                ._aside.is-property
                                  ._property-text 2010-2025 гг.
                            // end card-preview

                            // start card-preview
                            a.card-preview._card-preview.js-list-item(href='#' title='')
                              ._header
                                ._icon.is-document
                                  img._img(src='__static__img/general/file-text.svg' alt='')

                                ._main
                                  h4.card-heading.is-small.is-ellipsis._heading Инвестиционная стратегия Министерства Здравоохранения

                                ._aside.is-property
                                  ._property-text 2010-2025 гг.
                            // end card-preview

                            // start card-preview
                            a.card-preview._card-preview.js-list-item(href='#' title='')
                              ._header
                                ._icon.is-document
                                  img._img(src='__static__img/general/file-text.svg' alt='')

                                ._main
                                  h4.card-heading.is-small.is-ellipsis._heading Стратегия пространственного развития до 2025 года

                                ._aside.is-property
                                  ._property-text 2010-2025 гг.
                            // end card-preview

                          ._footer.js-list-toggle-parent
                            span.link-more-chevron._link-more.js-list-toggle Раскрыть полный список
                              i.fe.fe-chevron-down._icon
                  // end section-child

                  // start section-child
                  .section-child._child
                    .section-header._header
                      ._container
                        ._main
                          h2.section-heading.is-small._heading Приоритетные отрасли для привлечения инвестиций и применения ГЧП

                    .section-body._body
                      ._container
                        .box-secondary.js-list(data-show-count='6')
                          ._body
                            ._grid
                              ._column.js-list-item
                                // start card-preview
                                .card-preview._card-preview
                                  ._header
                                    ._icon.is-sphere
                                      img._img(src='__static__img/content/spheres/5.svg' alt='')

                                    ._main
                                      h4.card-heading.is-small.is-ellipsis._heading Коммунально-энергетическая инфраструктура
                                // end card-preview

                              ._column.js-list-item
                                // start card-preview
                                .card-preview._card-preview
                                  ._header
                                    ._icon.is-sphere
                                      img._img(src='__static__img/content/spheres/6.svg' alt='')

                                    ._main
                                      h4.card-heading.is-small.is-ellipsis._heading Транспортная инфраструктура
                                // end card-preview

                              ._column.js-list-item
                                // start card-preview
                                .card-preview._card-preview
                                  ._header
                                    ._icon.is-sphere
                                      img._img(src='__static__img/content/spheres/7.svg' alt='')

                                    ._main
                                      h4.card-heading.is-small.is-ellipsis._heading Социальная инфраструктура
                                // end card-preview

                              ._column.js-list-item
                                // start card-preview
                                .card-preview._card-preview
                                  ._header
                                    ._icon.is-sphere
                                      img._img(src='__static__img/content/spheres/8.svg' alt='')

                                    ._main
                                      h4.card-heading.is-small.is-ellipsis._heading Информационные системы (IT-инфраструктура)
                                // end card-preview

                              ._column.js-list-item
                                // start card-preview
                                .card-preview._card-preview
                                  ._header
                                    ._icon.is-sphere
                                      img._img(src='__static__img/content/spheres/9.svg' alt='')

                                    ._main
                                      h4.card-heading.is-small.is-ellipsis._heading Благоустройство и сопутствующая инженерно...
                                // end card-preview

                              ._column.js-list-item
                                // start card-preview
                                .card-preview._card-preview
                                  ._header
                                    ._icon.is-sphere
                                      img._img(src='__static__img/content/spheres/10.svg' alt='')

                                    ._main
                                      h4.card-heading.is-small.is-ellipsis._heading Сельско- и охотхозяйственная инфраструктура
                                // end card-preview

                              ._column.js-list-item
                                // start card-preview
                                .card-preview._card-preview
                                  ._header
                                    ._icon.is-sphere
                                      img._img(src='__static__img/content/spheres/5.svg' alt='')

                                    ._main
                                      h4.card-heading.is-small.is-ellipsis._heading Коммунально-энергетическая инфраструктура
                                // end card-preview

                              ._column.js-list-item
                                // start card-preview
                                .card-preview._card-preview
                                  ._header
                                    ._icon.is-sphere
                                      img._img(src='__static__img/content/spheres/6.svg' alt='')

                                    ._main
                                      h4.card-heading.is-small.is-ellipsis._heading Транспортная инфраструктура
                                // end card-preview

                          ._footer.js-list-toggle-parent
                            span.link-more-chevron._link-more.js-list-toggle Раскрыть полный список
                              i.fe.fe-chevron-down._icon
                  // end section-child

                  // start section-child
                  .section-child._child
                    .section-header._header
                      ._container
                        ._main
                          h2.section-heading.is-small._heading Приоритетные формы привлечения инвестиций

                    .section-body._body
                      ._container
                        .box-secondary.js-list(data-show-count='7')
                          ._body
                            ._grid
                              ._column.js-list-item
                                // start card-preview
                                .card-preview._card-preview
                                  ._header
                                    ._main
                                      h4.card-heading.is-small.is-ellipsis._heading Концессионное соглашение (115-ФЗ)
                                // end card-preview

                              ._column.js-list-item
                                // start card-preview
                                .card-preview._card-preview
                                  ._header
                                    ._main
                                      h4.card-heading.is-small.is-ellipsis._heading Концессионное соглашение (115-ФЗ)
                                // end card-preview

                              ._column.js-list-item
                                // start card-preview
                                .card-preview._card-preview.js-list-item
                                  ._header
                                    ._main
                                      h4.card-heading.is-small.is-ellipsis._heading Инвестиционный договор (cоглашение)
                                // end card-preview

                              ._column.js-list-item
                                // start card-preview
                                .card-preview._card-preview
                                  ._header
                                    ._main
                                      h4.card-heading.is-small.is-ellipsis._heading Инвестиционный договор (cоглашение)
                                // end card-preview

                              ._column.js-list-item
                                // start card-preview
                                .card-preview._card-preview
                                  ._header
                                    ._main
                                      h4.card-heading.is-small.is-ellipsis._heading Специальный инвестиционный контракт - СПИК (488-ФЗ)
                                // end card-preview

                              ._column.js-list-item
                                // start card-preview
                                .card-preview._card-preview
                                  ._header
                                    ._main
                                      h4.card-heading.is-small.is-ellipsis._heading Специальный инвестиционный контракт - СПИК (488-ФЗ)
                                // end card-preview

                              ._column.js-list-item
                                // start card-preview
                                .card-preview._card-preview
                                  ._header
                                    ._main
                                      h4.card-heading.is-small.is-ellipsis._heading Инвестиционный договор (cоглашение)
                                // end card-preview

                              ._column.js-list-item
                                // start card-preview
                                .card-preview._card-preview
                                  ._header
                                    ._main
                                      h4.card-heading.is-small.is-ellipsis._heading Специальный инвестиционный контракт - СПИК (488-ФЗ)
                                // end card-preview

                              ._column.js-list-item
                                // start card-preview
                                .card-preview._card-preview
                                  ._header
                                    ._main
                                      h4.card-heading.is-small.is-ellipsis._heading Специальный инвестиционный контракт - СПИК (488-ФЗ)
                                // end card-preview

                          ._footer.js-list-toggle-parent
                            span.link-more-chevron._link-more.js-list-toggle Раскрыть полный список
                              i.fe.fe-chevron-down._icon
                  // end section-child

                  // start section-child
                  .section-child._child
                    .section-header._header
                      ._container
                        ._main
                          h2.section-heading.is-small._heading Цели и целевые индикаторы инвестиционной и инфраструктурной политики

                    .section-body._body
                      ._container
                        .box-secondary.js-accordion.js-list(data-show-count='3')
                          ._body
                            // start card-preview
                            .card-preview._card-preview.is-closed.js-accordion-item.js-list-item
                              ._header.js-accordion-toggle
                                span.number._number 1

                                ._main
                                  h4.card-heading.is-small._heading Прирост индекса физического объема инвестиций в основной капитал в 2020 году на 72,9% к уровню 2011 года

                              ._body.js-accordion-body
                                ._inner
                                  ._offset
                                    ul.properties-dots._properties-dots
                                      li._item
                                        ._label
                                          span._text Количественное выражение цели или целевого индиактора:
                                        ._value Объем инвестиций в основной капитал по отношению к ВРП, %

                                      li._item
                                        ._label
                                          span._text Целевое значение количественного индикатора:
                                        ._value 27

                                      li._item
                                        ._label
                                          span._text Сроки достижения:
                                        ._value до 31.12.2020

                                      li._item
                                        ._label
                                          span._text Документы, которыми утверждена соответствующая цель или целевой индикатор:
                                        ._value
                                          a.link-document(href='#' title='' target='_blank')
                                            i.fe.fe-file-text._icon
                                            | Стратегия пространственного развития до 2025 года
                            // end card-preview

                            // start card-preview
                            .card-preview._card-preview.is-closed.js-accordion-item.js-list-item
                              ._header.js-accordion-toggle
                                span.number._number 2

                                ._main
                                  h4.card-heading.is-small._heading Увеличение объема инвестиций в основной капитал с 19,9% по отношению к ВРП в 2011 году до 27,4% в 2020 году

                              ._body.js-accordion-body
                                ._inner
                                  ._offset
                                    ul.properties-dots._properties-dots
                                      li._item
                                        ._label
                                          span._text Количественное выражение цели или целевого индиактора:
                                        ._value Объем инвестиций в основной капитал по отношению к ВРП, %

                                      li._item
                                        ._label
                                          span._text Целевое значение количественного индикатора:
                                        ._value 27

                                      li._item
                                        ._label
                                          span._text Сроки достижения:
                                        ._value до 31.12.2020

                                      li._item
                                        ._label
                                          span._text Документы, которыми утверждена соответствующая цель или целевой индикатор:
                                        ._value
                                          a.link-document(href='#' title='' target='_blank')
                                            i.fe.fe-file-text._icon
                                            | Стратегия пространственного развития до 2025 года
                            // end card-preview

                            // start card-preview
                            .card-preview._card-preview.is-closed.js-accordion-item.js-list-item
                              ._header.js-accordion-toggle
                                span.number._number 3

                                ._main
                                  h4.card-heading.is-small._heading Рост объема инвестиций в основной капитал (за исключением бюджетных средств) в расчете на 1 человека с 26026,9 рубля в 2011 году до 80366,1 рубля в 2020 году

                              ._body.js-accordion-body
                                ._inner
                                  ._offset
                                    ul.properties-dots._properties-dots
                                      li._item
                                        ._label
                                          span._text Количественное выражение цели или целевого индиактора:
                                        ._value Объем инвестиций в основной капитал по отношению к ВРП, %

                                      li._item
                                        ._label
                                          span._text Целевое значение количественного индикатора:
                                        ._value 27

                                      li._item
                                        ._label
                                          span._text Сроки достижения:
                                        ._value до 31.12.2020

                                      li._item
                                        ._label
                                          span._text Документы, которыми утверждена соответствующая цель или целевой индикатор:
                                        ._value
                                          a.link-document(href='#' title='' target='_blank')
                                            i.fe.fe-file-text._icon
                                            | Стратегия пространственного развития до 2025 года
                            // end card-preview

                            // start card-preview
                            .card-preview._card-preview.is-closed.js-accordion-item.js-list-item
                              ._header.js-accordion-toggle
                                span.number._number 4

                                ._main
                                  h4.card-heading.is-small._heading Увеличение объема инвестиций в основной капитал с 19,9% по отношению к ВРП в 2011 году до 27,4% в 2020 году

                              ._body.js-accordion-body
                                ._inner
                                  ._offset
                                    ul.properties-dots._properties-dots
                                      li._item
                                        ._label
                                          span._text Количественное выражение цели или целевого индиактора:
                                        ._value Объем инвестиций в основной капитал по отношению к ВРП, %

                                      li._item
                                        ._label
                                          span._text Целевое значение количественного индикатора:
                                        ._value 27

                                      li._item
                                        ._label
                                          span._text Сроки достижения:
                                        ._value до 31.12.2020

                                      li._item
                                        ._label
                                          span._text Документы, которыми утверждена соответствующая цель или целевой индикатор:
                                        ._value
                                          a.link-document(href='#' title='' target='_blank')
                                            i.fe.fe-file-text._icon
                                            | Стратегия пространственного развития до 2025 года
                            // end card-preview

                            // start card-preview
                            .card-preview._card-preview.is-closed.js-accordion-item.js-list-item
                              ._header.js-accordion-toggle
                                span.number._number 5

                                ._main
                                  h4.card-heading.is-small._heading Рост объема инвестиций в основной капитал (за исключением бюджетных средств) в расчете на 1 человека с 26026,9 рубля в 2011 году до 80366,1 рубля в 2020 году

                              ._body.js-accordion-body
                                ._inner
                                  ._offset
                                    ul.properties-dots._properties-dots
                                      li._item
                                        ._label
                                          span._text Количественное выражение цели или целевого индиактора:
                                        ._value Объем инвестиций в основной капитал по отношению к ВРП, %

                                      li._item
                                        ._label
                                          span._text Целевое значение количественного индикатора:
                                        ._value 27

                                      li._item
                                        ._label
                                          span._text Сроки достижения:
                                        ._value до 31.12.2020

                                      li._item
                                        ._label
                                          span._text Документы, которыми утверждена соответствующая цель или целевой индикатор:
                                        ._value
                                          a.link-document(href='#' title='' target='_blank')
                                            i.fe.fe-file-text._icon
                                            | Стратегия пространственного развития до 2025 года
                            // end card-preview

                          ._footer.js-list-toggle-parent
                            span.link-more-chevron._link-more.js-list-toggle Раскрыть полный список
                              i.fe.fe-chevron-down._icon
                  // end section-child
            // end content-section

          // end main-content

          // start main-aside
          aside.main-aside._aside.is-secondary
            ._container.js-main-aside-sticky

              // start aside-widget
              .aside-widget._widget
                ._header.is-large
                  h4._heading Руководство

                ._body
                  .widget-list._list.js-list(data-show-count='2')
                    ._body
                      ._item.js-list-item
                        ._content
                          ._main
                            p._title Мурашко Михаил Альбертович
                            p._caption Министр здравоохранения 2010-2024 гг.

                          ._aside
                            .avatar._avatar
                              img.img-cover._img(src='__static__img/content/avatars/1.jpg' alt='')

                      ._item.js-list-item
                        ._content
                          ._main
                            p._title Татьяна Владимировна Яковлева
                            p._caption Первый заместитель Министра 2010-2024 гг.

                          ._aside
                            .avatar._avatar
                              img.img-cover._img(src='__static__img/content/avatars/2.jpg' alt='')

                      ._item.js-list-item
                        ._content
                          ._main
                            p._title Мурашко Михаил Альбертович
                            p._caption Министр здравоохранения 2010-2024 гг.

                          ._aside
                            .avatar._avatar
                              img.img-cover._img(src='__static__img/content/avatars/1.jpg' alt='')

                    ._footer.js-list-toggle-parent
                      span.link-more-chevron._link-more.js-list-toggle Показать ещё
                        i.fe.fe-chevron-down._icon
              // end aside-widget

              // start aside-widget
              .aside-widget._widget
                ._header.is-large
                  h4._heading Официальные ресурсы

                ._body
                  .widget-list._list.js-list(data-show-count='2')
                    ._body
                      ._item.js-list-item
                        ._content
                          ._main
                            p._title Министерство финансов
                            a._caption(href='#' title='' target='_blank') www.minfin.ru

                      ._item.js-list-item
                        ._content
                          ._main
                            p._title Министерство экономического развития РФ
                            a._caption(href='#' title='' target='_blank') www.economy.gov.ru

                      ._item.js-list-item
                        ._content
                          ._main
                            p._title Министерство финансов
                            a._caption(href='#' title='' target='_blank') www.minfin.ru

                      ._item.js-list-item
                        ._content
                          ._main
                            p._title Министерство экономического развития РФ
                            a._caption(href='#' title='' target='_blank') www.economy.gov.ru

                    ._footer.js-list-toggle-parent
                      span.link-more-chevron._link-more.js-list-toggle Показать ещё
                        i.fe.fe-chevron-down._icon
              // end aside-widget

              // start aside-widget
              .aside-widget._widget
                ._header.is-large
                  h4._heading Ресурсы для инвесторов

                ._body
                  .widget-list._list.js-list(data-show-count='2')
                    ._body
                      ._item.js-list-item
                        ._content
                          ._main
                            p._title Инвестиционный портал Министерства
                            a._caption(href='#' title='' target='_blank') www.investugra.ru

                    ._footer.js-list-toggle-parent
                      span.link-more-chevron._link-more.js-list-toggle Показать ещё
                        i.fe.fe-chevron-down._icon
              // end aside-widget

              // start aside-widget
              .aside-widget._widget
                ._header
                  h4._heading Навигатор по разделу

                ._body
                  +menu-sections([{
                    href: '#section-1',
                    title: 'Публичный партнёр в цифрах',
                    isActive: true
                  }, {
                    href: '#section-2',
                    title: 'Инвестиционный паспорт'
                  }, {
                    href: '#section-3',
                    title: 'Структуры ответственные за развитие ГЧП и инфраструктуры'
                  }, {
                    href: '#section-4',
                    title: 'Стратегия развития'
                  }], {
                    class: 'aside-widget__menu-sections'
                  })
              // end aside-widget

          // end main-aside
    // end main-body
