extends ../template

include ../../components/menu-sections/menu-sections
include ../../components/badge/badge

block append settings
  -
    page.title = 'Мостовой переход в Сургутском районе';


block page-body

  main.page-main
    // start breadcrumbs
    .breadcrumbs
      ._container.container
        ul._list
          li._item
            a._link(href='#' title='Главная') Главная
          li._item
            a._link(href='#' title='Публичные партнёры') Публичные партнёры
          li._item
            span._link Мостовой переход в Сургутском районе
    // end breadcrumbs

    // start main-header
    .main-header.is-large._header
      ._container.container
        ._content
          h1.main-heading.is-large._heading= page.title
          +badge({
            title: 'Объект',
            type: 'is-gradient',
            size: 'is-small'
          }, {
            class: 'main-header__badge'
          })
    // end main-header

    // start main-body
    .main-body._body
      ._container.container
        ._grid

          // start main-content
          .main-content._content.js-accordion.js-menu-sections-list

            // start content-section
            section.content-section._section.is-opened.js-accordion-item#section-1
              .section-header._header.js-accordion-toggle
                ._container
                  ._main
                    h2.section-heading.is-medium._heading Общая информация об объекте:

              .section-body._body.js-accordion-body
                ._container
                  .content._content
                    h4 Краткое описание объекта с указанием ключевых технико-экономических показателей:
                    p #[strong Общие параметры:]
                    p Создание мостового перехода в Сургутском районе. Объект включает в себя инженерные сооружения транспортной инфраструктуры, земляное полотно, мосты, путепроводы, транспортные развязки, технические средства организации движения, пункты взимания платы и другие дорожные объекты. Строительная длина 43,920 км. Создание мостового перехода в Сургутском районе. Объект включает в себя инженерные сооружения транспортной инфраструктуры, земляное полотно, мосты, путепроводы, транспортные развязки, технические средства организации движения, пункты взимания платы и другие дорожные объекты. Строительная длина 43,920 км
                    h4 Параметры:

                  ul.list-properties.is-dots._list-properties
                    li._item
                      ._label Приоритетные (разрешенные) направления (отрасли) использования:
                      ._value
                        ul.list-badges._list-badges
                          li._item
                            +badge({
                              title: 'Транспортная инфраструктура',
                              type: 'is-secondary'
                            })
                          li._item
                            +badge({
                              title: 'Мосты и мостопроводы',
                              type: 'is-secondary'
                            })

                    li._item
                      ._label Приоритетная правовая форма привлечения инвестора:
                      ._value Концессионное соглашение (115-ФЗ)

                    li._item
                      ._label Предполагаемый объем инвестиций, требуемых в создание объекта (строительство, реконструкцию, модернизацию, реставрацию и/или оснащение), тыс. руб.:
                      ._value 112 500 000

                    li._item
                      ._label Предполагаемый механизм возврата частных инвестиций:
                      ._value Плата за доступность (фиксированные платежи) со стороны публичного партнера (бюджета) <br> Иная коммерческая деятельность (субаренда, реклама, торговля и пр.)

                    li._item
                      ._label Адрес расположения объекта:
                      ._value Начало трассы: км 39+890 автомобильной дороги «Нефтеюганск – Сургут». Конец трассы на примыкании к автомобильной дороге Восточный обход г. Сургут)

                    li._item
                      ._label Ссылка на утвержденный перечень на специализированном ресурсе:
                      ._value
                        a.link-url(href='#' title='' target='_blank')
                          i.fe.fe-globe._icon
                          span._title http://belgorodinvest.ru/ru/-investor/gchp/123333/
            // end content-section

            // start content-section
            section.content-section._section.is-opened.js-accordion-item#section-2
              .section-header._header.js-accordion-toggle
                ._container
                  ._main
                    h2.section-heading.is-medium._heading Собственник (потенциальный публичный партнер или орган власти)

              .section-body._body.js-accordion-body
                ._container
                  .box-secondary.card-previews.js-accordion.js-list(data-show-count='2')
                    ._body
                      // start card-preview
                      .card-preview._card-preview.js-list-item
                        a._link(href="#")
                          ._header
                            ._icon.is-gerb
                              img._img(src='__static__img/content/federals/2.svg' alt='')

                            ._main
                              h4.card-heading.is-small._heading Правительство Белгородской области
                      // end card-preview

                      // start card-preview
                      .card-preview._card-preview.js-list-item
                        a._link(href="#")
                          ._header
                            ._icon.is-gerb
                              img._img(src='__static__img/content/federals/2.svg' alt='')

                            ._main
                              h4.card-heading.is-small._heading Губкинский городской округ
                      // end card-preview

                    ._footer.js-list-toggle-parent
                      span.link-more-chevron._link-more.js-list-toggle Раскрыть полный список
                        i.fe.fe-chevron-down._icon
            // end content-section

            // start content-section
            section.content-section._section.is-opened.js-accordion-item#section-3
              .section-header._header.js-accordion-toggle
                ._container
                  ._main
                    h2.section-heading.is-medium._heading Возможные формы поддержки проекта публичным партнером

              .section-body._body.js-accordion-body
                ._container
                  .content._content
                    p Создание мостового перехода в Сургутском районе. Объект включает в себя инженерные сооружения транспортной инфраструктуры, земляное полотно, мосты, путепроводы, транспортные развязки, технические средства организации движения, пункты взимания платы и другие дорожные объекты. Строительная длина 43,920 км. Создание мостового перехода в Сургутском районе. Объект включает в себя инженерные сооружения транспортной инфраструктуры, земляное полотно, мосты, путепроводы, транспортные развязки, технические средства организации движения, пункты взимания платы и другие дорожные объекты. Строительная длина 43,920 км
            // end content-section

            // start content-section
            section.content-section._section.is-opened.js-accordion-item#section-4
              .section-header._header.js-accordion-toggle
                ._container
                  ._main
                    h2.section-heading.is-medium._heading Иная значимая информация об объекте (наличие проектной документации, необходимые коммуникации и пр.)

              .section-body._body.js-accordion-body
                ._container
                  .content._content
                    p Создание мостового перехода в Сургутском районе. Объект включает в себя инженерные сооружения транспортной инфраструктуры, земляное полотно, мосты, путепроводы, транспортные развязки, технические средства организации движения, пункты взимания платы и другие дорожные объекты. Строительная длина 43,920 км. Создание мостового перехода в Сургутском районе. Объект включает в себя инженерные сооружения транспортной инфраструктуры, земляное полотно, мосты, путепроводы, транспортные развязки, технические средства организации движения, пункты взимания платы и другие дорожные объекты. Строительная длина 43,920 км
            // end content-section

          // end main-content

          // start main-aside
          aside.main-aside._aside.is-secondary
            ._container.js-main-aside-sticky

              // start aside-widget
              .aside-widget._widget
                ._header
                  h4._heading Навигатор по объекту

                ._body
                  +menu-sections([{
                    href: '#section-1',
                    title: 'Информация об объекте',
                    isActive: true
                  }, {
                    href: '#section-2',
                    title: 'Собственник'
                  }, {
                    href: '#section-3',
                    title: 'Меры поддержки'
                  }, {
                    href: '#section-4',
                    title: 'Иная информация'
                  }], {
                    class: 'aside-widget__menu-sections'
                  })
              // end aside-widget

          // end main-aside
    // end main-body
