extends ../template

include ../../components/super-search/super-search
include ../../components/menu-sections/menu-sections
include ../../components/object-card/object-card
include ../../components/select/select
include ../../components/button/button

block append settings
  -
    page.title = 'Объекты для заключения соглашений ГЧП';


block page-body

  main.page-main

    // start breadcrumbs
    .breadcrumbs
      ._container.container
        ul._list
          li._item
            a._link(href='#' title='Главная') Главная
          li._item
            a._link(href='#' title='Публичные партнёры') Публичные партнёры
          li._item
            a._link(href='#' title='Российская федерация') Российская федерация
          li._item
            span._link Федеральные органы власти
    // end breadcrumbs

    // start main-header
    .main-header.is-large._header
      ._container.container
        ._content
          h1.main-heading.is-large._heading= page.title

        ._aside
          +menu([{
            href: '#',
            title: 'Объекты',
            isActive: true
          }, {
            href: '#',
            title: 'Планируемые проекты'
          }], {
            class: 'main-header__menu'
          })
    // end main-header

    // start main-search
    .main-search._search
      ._container.container
        +super-search({
          advanced: true,
          placeholder: 'Поиск объектов'
        })
    // end main-search

    // start main-body
    .main-body._body
      ._container.container
        ._grid

          // start main-content
          .main-content._content.js-accordion.js-menu-sections-list

            // start main-sorting
            .main-sorting._sorting
              ._container
                ._main
                  ._filters
                    ._filter
                      label._label Сортировка:
                      +select({
                        type: 'is-clear',
                        options: [{
                          title: 'По дате добавления'
                        }, {
                          title: 'Опция 2'
                        }, {
                          title: 'Опция 3'
                        }, {
                          title: 'Опция 4'
                        }]
                      }, {
                        'data-width': 'auto'
                      })

                ._aside
                  ._filter
                    label._label Вид отображения:
                    .layout-views
                      a._item.is-tiles.is-active(href='#' title='')
                      a._item.is-rows(href='#' title='')
            // end main-sorting

            // start section-layout
            .section-layout._section-layout
              ._body
                ._grid.is-cards
                  each item in db_objects
                    ._column
                      +object-card-tile(item, {
                        class: 'section-layout__card card--vertical'
                      })

              ._more
                +button({
                  type: 'is-load is-block',
                  title: 'Загрузить еще'
                })
            // end section-layout

            // start page-navigation
            .page-navigation._navigation
              ._main
                ul._list
                  li._item
                    a._link.is-active(href='#' title='') 1
                  li._item
                    a._link(href='#' title='') 2
                  li._item
                    a._link(href='#' title='') 3
                  li._item
                    a._link(href='#' title='') 4
                  li._item
                    a._link(href='#' title='') 5
                  li._item
                    span._link(href='#' title='') ...
                  li._item
                    a._link(href='#' title='') 21

              ._aside
                ul._list
                  li._item
                    a._link.is-prev.is-disabled(href='#' title='')
                      i.fe.fe-chevrons-left
                  li._item
                    a._link.is-next(href='#' title='')
                      i.fe.fe-chevrons-right
            // end page-navigation

          // end main-content

          // start main-aside
          aside.main-aside._aside.is-secondary
            ._container.js-main-aside-sticky

              // start aside-widget
              .aside-widget._widget
                ._header
                  h4._heading Фильтр по объектам:

                ._body
                  form.widget-form._form(action='#' method='post')
                    ._body
                      .form-field._field
                        label._label Форма привлечения инвестора:
                        +select({
                            placeholder: 'Выберите вариант',
                            type: 'is-default',
                            options: [{
                                value: 0,
                                title: 'Форма привлечения инвестора'
                            }, {
                                value: 1,
                                title: 'Форма привлечения инвестора'
                            }, {
                                value: 2,
                                title: 'Форма привлечения инвестора'
                            }, {
                                value: 3,
                                title: 'Форма привлечения инвестора'
                            }]
                        })

                      .form-field._field
                        label._label Страна нахождения объекта:
                        +select({
                            placeholder: 'Выберите вариант',
                            type: 'is-default',
                            options: [{
                                value: 0,
                                title: 'Вариант 1'
                            }, {
                                value: 1,
                                title: 'Вариант 2'
                            }, {
                                value: 2,
                                title: 'Вариант 3'
                            }, {
                                value: 3,
                                title: 'Вариант 4'
                            }]
                        })

                      .form-field._field
                        label._label Регион нахождения объекта:
                        +select({
                            placeholder: 'Выберите вариант',
                            type: 'is-default',
                            options: [{
                                value: 0,
                                title: 'Вариант 1'
                            }, {
                                value: 1,
                                title: 'Вариант 2'
                            }, {
                                value: 2,
                                title: 'Вариант 3'
                            }, {
                                value: 3,
                                title: 'Вариант 4'
                            }]
                        })

                      .form-field._field
                        label._label Сфера объекта:
                        +select({
                            placeholder: 'Выберите вариант',
                            type: 'is-default',
                            options: [{
                                value: 0,
                                title: 'Вариант 1'
                            }, {
                                value: 1,
                                title: 'Вариант 2'
                            }, {
                                value: 2,
                                title: 'Вариант 3'
                            }, {
                                value: 3,
                                title: 'Вариант 4'
                            }]
                        })

                      .form-field._field
                        label._label Механизм возврата частных инвести...:
                        +select({
                            placeholder: 'Выберите вариант',
                            type: 'is-default',
                            options: [{
                                value: 0,
                                title: 'Вариант 1'
                            }, {
                                value: 1,
                                title: 'Вариант 2'
                            }, {
                                value: 2,
                                title: 'Вариант 3'
                            }, {
                                value: 3,
                                title: 'Вариант 4'
                            }]
                        })

                    ._footer
                      +button({
                        type: 'is-outline-secondary is-block',
                        title: 'Сбросить фильтры'
                      })
              // end aside-widget

          // end main-aside
    // end main-body
