extends ../template

include ../../components/super-search/super-search
include ../../components/menu-sections/menu-sections
include ../../components/object-card/object-card
include ../../components/select/select
include ../../components/button/button
include ../../components/main-menu/main-menu

block append settings
  -
    page.title = 'Проекты государственно-частного партнёрства';


block page-body

  main.page-main

    // start breadcrumbs
    .breadcrumbs
      ._container.container
        ul._list
          li._item
            a._link(href='#' title='Главная') Главная
          li._item
            a._link(href='#' title='Публичные партнёры') Публичные партнёры
          li._item
            a._link(href='#' title='Российская федерация') Российская федерация
          li._item
            span._link Федеральные органы власти
    // end breadcrumbs

    // start main-header
    .main-header.is-large._header
      ._container.container
        ._content
          .flag._flag
            img._img(src='__static__img/content/federals/4.svg' alt='')
          h1.main-heading.is-large._heading Республика Татарстан
    // end main-header

    // start main-menu
    +main-menu([
        {
          href: '#',
          title: 'О публичном партнёре'
        }, {
          href: '#',
          title: 'Нормативно-правовая база'
        }, {
          href: '#',
          title: 'Объекты под проекты'
        }, {
          href: '#',
          title: 'Проекты ГЧП',
          isActive: true
        }, {
          href: '#',
          title: 'Новости региона'
        }
    ])
    // end main-menu

    // start main-header
    .main-header._header
      ._container.container
        ._content
          h2.section-heading.is-medium._heading= page.title

        ._aside

          .program-stats._stats
            ul._list
              li._item
                span._title Всего проектов в базе:
                ._numbers
                  span._number 1
                  span._number 6
    // end main-header

    // start main-body
    .main-body._body
      ._container.container
        ._grid

          // start main-content
          .main-content._content.js-accordion.js-menu-sections-list

            // start main-sorting
            .main-sorting._sorting
              ._container
                ._main
                  ._filters
                    ._filter
                      label._label Сортировка:
                      +select({
                        type: 'is-clear',
                        options: [{
                          title: 'По дате добавления'
                        }, {
                          title: 'Опция 2'
                        }, {
                          title: 'Опция 3'
                        }, {
                          title: 'Опция 4'
                        }]
                      }, {
                        'data-width': 'auto'
                      })

                ._aside
                  ._filter
                    label._label Вид отображения:
                    .layout-views
                      a._item.is-tiles(href='#' title='')
                      a._item.is-rows.is-active(href='#' title='')
            // end main-sorting

            // start section-layout
            .section-layout._section-layout
              ._body
                each item in db_objects
                  +object-card(item, {
                    class: 'section-layout__card'
                  })

              ._more
                +button({
                  type: 'is-load is-block',
                  title: 'Загрузить еще'
                })
            // end section-layout

            // start page-navigation
            .page-navigation._navigation
              ._main
                ul._list
                  li._item
                    a._link.is-active(href='#' title='') 1
                  li._item
                    a._link(href='#' title='') 2
                  li._item
                    a._link(href='#' title='') 3
                  li._item
                    a._link(href='#' title='') 4
                  li._item
                    a._link(href='#' title='') 5
                  li._item
                    span._link(href='#' title='') ...
                  li._item
                    a._link(href='#' title='') 21

              ._aside
                ul._list
                  li._item
                    a._link.is-prev.is-disabled(href='#' title='')
                      i.fe.fe-chevrons-left
                  li._item
                    a._link.is-next(href='#' title='')
                      i.fe.fe-chevrons-right
            // end page-navigation

          // end main-content

          // start main-aside
          aside.main-aside._aside.is-secondary
            ._container.js-main-aside-sticky

              // start aside-widget
              .aside-widget._widget
                ._header.is-border
                  h4._heading Фильтр:
                    span.badge.is-danger 5

                  ._reset Сбросить

                ._body
                  form.widget-form._form(action='#' method='post')
                    ._body
                      ._group.is-bordered.is-opened.js-accordion-item
                        ._heading.js-accordion-toggle Регион нахождения
                        ._body.js-accordion-body
                          ._content
                            .select-custom.js-custom-select(data-placeholder='Поиск сферы')
                              ._header.js-custom-select-header
                                +input-text({
                                    type: 'text',
                                    placeholder: 'Добавление региона'
                                }, {
                                    class: 'select-custom__input js-custom-select-input'
                                })

                              ._body
                                ._dropdown
                                  ._scrollbar.js-scrollbar
                                    ._content.js-select-custom-list
                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Социальная инфраструктура',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Транспортная инфраструктура',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Транспортная инфраструктура',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Оборона и безопасность страны',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Сельско- и охотхозяйственная',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Промышленная инфраструктура',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Информационные системы (IT-инфраструктура)',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Социальная инфраструктура',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Транспортная инфраструктура',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Транспортная инфраструктура',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Оборона и безопасность страны',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Сельско- и охотхозяйственная',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Промышленная инфраструктура',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Информационные системы (IT-инфраструктура)',
                                            theme: 'is-outline'
                                        })

                                  ._footer
                                    +button({
                                        title: 'Применить фильтр',
                                        type: 'is-outline-secondary is-block'
                                    }, {
                                        class: 'js-select-custom-apply'
                                    })

                                .selected-custom._selected.js-select-cusom-selected
                                  ._group.js-accordion-item
                                    ._header.js-accordion-toggle
                                      ._title Социальная инфраструктура

                                      ._delete(title='Удалить') Удалить

                                    ._body.js-accordion-body
                                      ._search
                                        +input-text({
                                            type: 'text',
                                            placeholder: 'Поиск отрасли'
                                        }, {
                                            class: 'selected-custom__input js-selected-custom-input'
                                        })

                                      ._content.js-list(data-show-count='4')
                                        ._list.js-selected-custom-list
                                          ._item.js-list-item
                                            +input-control({
                                                type: 'checkbox',
                                                label: 'Выделить все отрасли',
                                                theme: 'is-outline'
                                            })

                                          ._item.js-list-item
                                            +input-control({
                                                type: 'checkbox',
                                                label: 'Социальное обслуживание населения',
                                                theme: 'is-outline'
                                            })

                                          ._item.js-list-item
                                            +input-control({
                                                type: 'checkbox',
                                                label: 'Образование',
                                                theme: 'is-outline'
                                            })

                                          ._item.js-list-item
                                            +input-control({
                                                type: 'checkbox',
                                                label: 'Здравоохранение и санаторно-курортное лечение',
                                                theme: 'is-outline'
                                            })

                                          ._item.js-list-item
                                            +input-control({
                                                type: 'checkbox',
                                                label: 'Информационные системы (IT-инфраструктура)',
                                                theme: 'is-outline'
                                            })

                                        ._footer.-secondary.js-list-toggle-parent
                                          span.link-more-chevron._link-more.js-list-toggle Показать ещё
                                            i.fe.fe-chevron-down._icon

                                  ._group.js-accordion-item
                                    ._header.js-accordion-toggle
                                      ._title Транспортная инфраструктура

                                      ._delete(title='Удалить') Удалить

                                    ._body.js-accordion-body
                                      ._search
                                        +input-text({
                                            type: 'text',
                                            placeholder: 'Поиск отрасли'
                                        }, {
                                            class: 'selected-custom__input js-selected-custom-input'
                                        })

                                      ._content.js-list(data-show-count='4')
                                        ._list.js-selected-custom-list
                                          ._item.js-list-item
                                            +input-control({
                                                type: 'checkbox',
                                                label: 'Выделить все отрасли',
                                                theme: 'is-outline'
                                            })

                                          ._item.js-list-item
                                            +input-control({
                                                type: 'checkbox',
                                                label: 'Социальное обслуживание населения',
                                                theme: 'is-outline'
                                            })

                                          ._item.js-list-item
                                            +input-control({
                                                type: 'checkbox',
                                                label: 'Образование',
                                                theme: 'is-outline'
                                            })

                                          ._item.js-list-item
                                            +input-control({
                                                type: 'checkbox',
                                                label: 'Здравоохранение и санаторно-курортное лечение',
                                                theme: 'is-outline'
                                            })

                                          ._item.js-list-item
                                            +input-control({
                                                type: 'checkbox',
                                                label: 'Информационные системы (IT-инфраструктура)',
                                                theme: 'is-outline'
                                            })

                                        ._footer.-secondary.js-list-toggle-parent
                                          span.link-more-chevron._link-more.js-list-toggle Показать ещё
                                            i.fe.fe-chevron-down._icon

                      ._group.is-bordered.is-opened.js-accordion-item
                        ._heading.js-accordion-toggle Уровень проекта
                        ._body.js-accordion-body
                          ._content
                            ._list
                              .form-group._field
                                +input-control({
                                    type: 'checkbox',
                                    label: 'Международный',
                                    theme: 'is-outline',
                                    checked: true
                                })

                              .form-group._field
                                +input-control({
                                    type: 'checkbox',
                                    label: 'Федеральный',
                                    theme: 'is-outline'
                                })

                              .form-group._field
                                +input-control({
                                    type: 'checkbox',
                                    label: 'Региональный',
                                    theme: 'is-outline'
                                })

                      ._group.is-bordered.is-opened.js-accordion-item
                        ._heading.js-accordion-toggle Форма привлечения инвестора
                        ._body.js-accordion-body
                          ._content.js-list(data-show-count='3')
                            ._list
                              .form-group._field.js-list-item
                                +input-control({
                                    type: 'checkbox',
                                    label: 'Концессионное соглашение',
                                    theme: 'is-outline',
                                    checked: true
                                })

                              .form-group._field.js-list-item
                                +input-control({
                                    type: 'checkbox',
                                    label: 'Соглашение о сотрудничестве',
                                    theme: 'is-outline'
                                })

                              .form-group._field.js-list-item
                                +input-control({
                                    type: 'checkbox',
                                    label: 'Соглашение о ГЧП / МЧП (224-ФЗ)',
                                    theme: 'is-outline'
                                })

                              .form-group._field.js-list-item
                                +input-control({
                                    type: 'checkbox',
                                    label: 'Концессионное соглашение',
                                    theme: 'is-outline',
                                    checked: true
                                })

                              .form-group._field.js-list-item
                                +input-control({
                                    type: 'checkbox',
                                    label: 'Соглашение о сотрудничестве',
                                    theme: 'is-outline'
                                })

                              .form-group._field.js-list-item
                                +input-control({
                                    type: 'checkbox',
                                    label: 'Соглашение о ГЧП / МЧП (224-ФЗ)',
                                    theme: 'is-outline'
                                })

                            ._footer.-secondary.js-list-toggle-parent
                              span.link-more-chevron._link-more.js-list-toggle Показать ещё
                                i.fe.fe-chevron-down._icon

                      ._group.is-bordered.is-opened.js-accordion-item
                        ._heading.js-accordion-toggle Сфера
                        ._body.js-accordion-body
                          ._content
                            .select-custom.js-custom-select(data-placeholder='Поиск сферы')
                              ._header.js-custom-select-header
                                +input-text({
                                  type: 'text',
                                  placeholder: 'Добавление сферы'
                                }, {
                                  class: 'select-custom__input js-custom-select-input'
                                })

                              ._body
                                ._dropdown
                                  ._scrollbar.js-scrollbar
                                    ._content.js-select-custom-list
                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Социальная инфраструктура',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Транспортная инфраструктура',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Транспортная инфраструктура',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Оборона и безопасность страны',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Сельско- и охотхозяйственная',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Промышленная инфраструктура',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Информационные системы (IT-инфраструктура)',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Социальная инфраструктура',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Транспортная инфраструктура',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Транспортная инфраструктура',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Оборона и безопасность страны',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Сельско- и охотхозяйственная',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Промышленная инфраструктура',
                                            theme: 'is-outline'
                                        })

                                      ._item
                                        +input-control({
                                            type: 'checkbox',
                                            label: 'Информационные системы (IT-инфраструктура)',
                                            theme: 'is-outline'
                                        })

                                  ._footer
                                    +button({
                                        title: 'Применить фильтр',
                                        type: 'is-outline-secondary is-block'
                                    }, {
                                        class: 'js-select-custom-apply'
                                    })

                                .selected-custom._selected.js-select-cusom-selected
                                  ._group.js-accordion-item
                                    ._header.js-accordion-toggle
                                      ._title Социальная инфраструктура

                                      ._delete(title='Удалить') Удалить

                                    ._body.js-accordion-body
                                      ._search
                                        +input-text({
                                            type: 'text',
                                            placeholder: 'Поиск отрасли'
                                        }, {
                                            class: 'selected-custom__input js-selected-custom-input'
                                        })

                                      ._content.js-list(data-show-count='4')
                                        ._list.js-selected-custom-list
                                          ._item.js-list-item
                                            +input-control({
                                                type: 'checkbox',
                                                label: 'Выделить все отрасли',
                                                theme: 'is-outline'
                                            })

                                          ._item.js-list-item
                                            +input-control({
                                                type: 'checkbox',
                                                label: 'Социальное обслуживание населения',
                                                theme: 'is-outline'
                                            })

                                          ._item.js-list-item
                                            +input-control({
                                                type: 'checkbox',
                                                label: 'Образование',
                                                theme: 'is-outline'
                                            })

                                          ._item.js-list-item
                                            +input-control({
                                                type: 'checkbox',
                                                label: 'Здравоохранение и санаторно-курортное лечение',
                                                theme: 'is-outline'
                                            })

                                          ._item.js-list-item
                                            +input-control({
                                                type: 'checkbox',
                                                label: 'Информационные системы (IT-инфраструктура)',
                                                theme: 'is-outline'
                                            })

                                        ._footer.-secondary.js-list-toggle-parent
                                          span.link-more-chevron._link-more.js-list-toggle Показать ещё
                                            i.fe.fe-chevron-down._icon

                                  ._group.js-accordion-item
                                    ._header.js-accordion-toggle
                                      ._title Транспортная инфраструктура

                                      ._delete(title='Удалить') Удалить

                                    ._body.js-accordion-body
                                      ._search
                                        +input-text({
                                            type: 'text',
                                            placeholder: 'Поиск отрасли'
                                        }, {
                                            class: 'selected-custom__input js-selected-custom-input'
                                        })

                                      ._content.js-list(data-show-count='4')
                                        ._list.js-selected-custom-list
                                          ._item.js-list-item
                                            +input-control({
                                                type: 'checkbox',
                                                label: 'Выделить все отрасли',
                                                theme: 'is-outline'
                                            })

                                          ._item.js-list-item
                                            +input-control({
                                                type: 'checkbox',
                                                label: 'Социальное обслуживание населения',
                                                theme: 'is-outline'
                                            })

                                          ._item.js-list-item
                                            +input-control({
                                                type: 'checkbox',
                                                label: 'Образование',
                                                theme: 'is-outline'
                                            })

                                          ._item.js-list-item
                                            +input-control({
                                                type: 'checkbox',
                                                label: 'Здравоохранение и санаторно-курортное лечение',
                                                theme: 'is-outline'
                                            })

                                          ._item.js-list-item
                                            +input-control({
                                                type: 'checkbox',
                                                label: 'Информационные системы (IT-инфраструктура)',
                                                theme: 'is-outline'
                                            })

                                        ._footer.-secondary.js-list-toggle-parent
                                          span.link-more-chevron._link-more.js-list-toggle Показать ещё
                                            i.fe.fe-chevron-down._icon

                      ._group.is-bordered.is-opened.js-accordion-item
                        ._heading.js-accordion-toggle Объем инвестиций:
                        ._body.js-accordion-body
                          ._content
                            .form-group._field
                              .range-group._range.js-range-group
                                ._header
                                  ._value
                                    +input-text({
                                        type: 'text',
                                        size: 'is-average',
                                        value: 0
                                    }, {
                                        class: 'js-range-group-min',
                                        'data-regex': 'От \\d* ₽'
                                    })

                                  ._value
                                    +input-text({
                                        type: 'text',
                                        size: 'is-average',
                                        value: 100000
                                    }, {
                                        class: 'js-range-group-max',
                                        'data-regex': 'До \\d* ₽'
                                    })

                                ._body
                                  .range-slider.js-range-group-slider.is-secondary(data-min='0' data-max='100000' data-start='0' data-end='100000' data-step='500')

                      ._group.is-bordered.is-opened.js-accordion-item
                        ._heading.js-accordion-toggle Период:
                        ._body.js-accordion-body
                          ._content
                            ._list
                              .form-group._field
                                +input-text({
                                    type: 'text',
                                    placeholder: 'От 01.01.10 до 01.01.10'
                                }, {
                                    class: 'js-input-text-date'
                                })
              // end aside-widget

          // end main-aside
    // end main-body
