extends ../template

include ../../components/super-search/super-search
include ../../components/menu/menu
include ../../components/district-card/district-card
include ../../components/button/button

block append settings
  -
    page.title = 'Публичные партнёры РФ';


block page-body

  main.page-main

    // start breadcrumbs
    .breadcrumbs
      ._container.container
        ul._list
          li._item
            a._link(href='#' title='Главная') Главная
          li._item
            a._link(href='#' title='Публичные партнёры') Публичные партнёры
          li._item
            span._link Публичные партнёры Российской федерации
    // end breadcrumbs

    // start main-header
    .main-header.is-large._header
      ._container.container
        ._content
          h1.main-heading.is-large._heading= page.title

        ._aside
          +menu([{
            href: '#',
            title: 'Регионы и области',
            isActive: true
          }, {
            href: '#',
            title: 'Федеральные органы власти'
          }], {
            class: 'main-header__menu'
          })
    // end main-header

    // start main-search
    .main-search._search
      ._container.container
        +super-search({
          advanced: true,
          placeholder: 'Найти публичного партнёра в Российской Федерации',
          value: 'Запрос'
        })
    // end main-search

    // start main-body
    .main-body._body

      // start district-card
      -
        var distirct = db_districts[7];
        distirct.isSearched = true;

      +district-card(distirct, {
        class: 'main-body__district-card'
      })
      // end district-card

    .scrolltop.page-main__scrolltop
      a.scrolltop__link.js-scrolltop(href='#body')
        span.scrolltop__text &Vcy;&iecy;&rcy;&ncy;&ucy;&tcy;&softcy;&scy;&yacy; &ncy;&acy;&vcy;&iecy;&rcy;&khcy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&ycy;
        .scrolltop__icon
          svg(width='9' height='5' viewbox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M1 4L4.5 1L8 4' stroke='#9199B5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
