.card-recomendation{
  &__body{
    display: flex;
  }

  &__icon{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    width: 43px;
    height: 43px;

    margin-right: 15px;
    
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    img{
      max-width: 23px;
    }

    @include breakpoint($lg-breakpoint){
      width: 111px;
      height: 111px;
      margin-right: 40px;

      img{
        max-width: none;
      }
    }
  }

  &__header{
    display: flex;
    align-items: center;

    margin-bottom: 15px;
  }

  &__badge{
    text-transform: uppercase;
  }

  &__label{
    display: flex;
    align-items: center;

    position: relative;

    margin-left: 10px;
    font-size: 12px;
    color: #9199B5;
    cursor: pointer;

    @include breakpoint($lg-breakpoint){
      font-size: 14px;
      margin-left: 18px;
    }

    &:hover{
      .card-recomendation{
        &__label{
          &-dropdown{
            opacity: 1;
            visibility: visible;
            transition: 0.3s;
          }

          &-qn{
            &:after{
              transition: 0.3s;
              transform: translate(180deg);
            }
          }
        }
      }
    }

    &-qn{
      display: flex;
      align-items: center;

      position: relative;

      margin-left: 5px;

      &:after{
        content: '';
        width: 8px;
        height: 5px;
        display: block;
        margin-left: 3px;
        flex-shrink: 0;
        transition: 0.3s;
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.49402 3.82837L0.207479 1.03453C-0.0691597 0.799364 -0.0691597 0.418082 0.207479 0.182915C0.484118 -0.052252 0.5 0.00650137 1 0.00657257L4 0.00653976L7 0.00654414C7 0.00654414 7.51588 -0.052252 7.79252 0.182915C8.06916 0.418082 8.06916 0.799364 7.79252 1.03453L4.50598 3.82837C4.22654 4.06593 3.77346 4.06593 3.49402 3.82837Z' fill='%23919AB5'/%3E%3C/svg%3E%0A");
      }
    }

    &-dropdown{
      position: absolute;
      right: -15px;
      top: calc(100% + 10px);

      padding: 15px;

      opacity: 0;
      visibility: hidden;
      transition: 0.3s;

      border-radius: 5px;
      background: #FFFFFF;
      box-shadow: 0px 0px 35px rgba(35, 52, 107, 0.5);

      &:before{
        content: '';
        width: 11px;
        height: 11px;
        background: #fff;
        transform: rotate(45deg);
        position: absolute;
        top: -5px;
        right: 15px;
      }

      span{
        display: block;
        white-space: nowrap;

        margin-bottom: 5px;
        color: #4F5D89;

        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  
  &__title{
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }

    @include breakpoint($lg-breakpoint){
      font-size: 24px;
    }
  }

  &__footer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 10px;

    @include breakpoint($lg-breakpoint){
      margin-top: 15px;
    }
  }

  &__meta{
    display: inline-flex;
    align-items: center;

    margin-right: 12px;
    font-size: 12px;
    white-space: nowrap;

    color: #9199B5;

    &:last-child{
      margin-right: 0;
    }

    @include breakpoint($lg-breakpoint){
      font-size: 15px;
    }
  }
}