.program-card {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: inherit;
  text-decoration: none;

  &:hover {
    .program-card {
      &__back {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }

  @include breakpoint($sm-breakpoint) {
    &.is-row {
      flex-direction: row;

      .program-card {
        &__header {
          flex: 0 0 255px;
          max-width: 255px;
          //margin-right: 40px;
          margin-right: 20px;
        }

        &__body {
          flex: 1 1 auto;
          min-width: 0;
          padding: 0;
        }

        &__title {
          margin-bottom: 12px;
          //font-size: 22px;
          font-size: 18px;
        }

        &__button {
          margin-top: 12%;
        }

        &__info {
          flex-direction: column;
          flex: 1 1 auto;
          align-items: stretch;
          margin-top: 0;

          .program-info {
            &__main {
              display: flex;
              flex-wrap: wrap;
            }

            &__item {
              margin: 0 15px 10px 0;

              &:last-child {
                margin-right: 0;
              }
            }

            &__aside {
              margin-left: 0;
              margin-top: 20px;
            }

            &__price {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  &__header {
    flex: 0 0 auto;
    position: relative;
    color: $white-color;
  }

  &__photo {
    position: relative;
    z-index: 1;
    //padding-bottom: 72.5%;
    padding-bottom: 62%;
    overflow: hidden;
    border-radius: $border-radius;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: rgba($primary-color, 0.5);
    }
  }

  &__img {
    // opacity: 0.8;
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    //padding: 20px 25px;
    padding: 15px;
    width: 100%;
    height: 100%;

    @include breakpoint($xs-breakpoint) {
      padding: 20px;
    }
  }

  &__badges {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6px;
  }

  &__badge {
    margin: 0 4px 4px 0;
    //min-width: 48px;

    &.is-danger{
      background: #B52528;
    }
  }

  &__heading {
    margin: 0 0 20px;
    color: inherit;
    //font-size: 24px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.3;

    @include breakpoint($xs-breakpoint) {
      font-size: 18px;
    }
  }

  &__info {
    margin-top: auto;
  }

  &__back {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    //padding: 30px 25px;
    padding: 15px 20px;
    width: 100%;
    height: 100%;
    background: rgba(18, 39, 86, 0.8);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    border-radius: $border-radius;
    backdrop-filter: blur(7px);
    transition: 0.3s;

    @include breakpoint($xs-breakpoint) {
      padding: 20px;
    }
  }

  &__button {
    //margin-top: 20%;
    margin-top: 17%;
    min-width: 227px;
  }

  &__more {
    margin-top: auto;
    color: inherit;
    font-weight: 500;
    opacity: 0.8;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 20px 0;

    .program-info {
      margin-top: auto;

      &__price {
        color: $primary-color;
        font-size: 18px;
      }
    }
  }

  &__title {
    margin: 0 0 18px;
  }
}
