extends ../template

include ../../components/menu/menu
include ../../components/badge/badge
include ../../components/button/button
include ../../components/slider-nav/slider-nav

block append settings
  -
    page.title = 'Мнения';


block page-body

  .articles-layout(class='page-body__layout-articles')
    ._container.container
      aside._aside.is-left
        ._sticky.js-main-aside-sticky
          ._scrollbar.js-scrollbar
            // start articles-widget
            .articles-widget._widget
              ._body
                ._inner
                  ._group
                    ._title.card-heading.is-small 25 мая 2020

                    ._list
                      ._card
                        .article-card.is-small
                          ._body
                            ._content
                              h3._heading
                                a._link(href='' title='') Трассой «Москва - Казань» заинтересовался «Нацстрой»

                            ._footer
                              .card-properties
                                ._item Федеральные
                                ._item 12:28

                      ._card
                        .article-card.is-small
                          ._body
                            ._content
                              h3._heading
                                a._link(href='' title='') Вице-премьер Марат Хуснуллин: трассу «Москва-Казань» могут построить за четыре года

                            ._footer
                              .card-properties
                                ._item Международные
                                ._item 12:28

                      ._card
                        .article-card.is-small
                          ._body
                            ._content
                              h3._heading
                                a._link(href='' title='') Роскосмос построит аэропорт на космодроме Восточный

                            ._footer
                              .card-properties
                                ._item Федеральные
                                ._item 12:28

                      ._card
                        .article-card.is-small
                          ._body
                            ._content
                              h3._heading
                                a._link(href='' title='') Президент Владимир Путин попросил РЖД «сокращать по минимуму» инвестиции

                            ._footer
                              .card-properties
                                ._item Международные
                                ._item 12:28

                      ._card
                        .article-card.is-small
                          ._body
                            ._content
                              h3._heading
                                a._link(href='' title='') Конкурсы за 18-24 мая: железная дорога, спортивный комплекс, уличное освещение и объекты

                            ._footer
                              .card-properties
                                ._item Международные
                                ._item 12:28

                  ._group
                    ._title.card-heading.is-small 24 мая 2020

                    ._list
                      ._card
                        .article-card.is-small
                          ._body
                            ._content
                              h3._heading
                                a._link(href='' title='') Трассой «Москва - Казань» заинтересовался «Нацстрой»

                            ._footer
                              .card-properties
                                ._item Федеральные
                                ._item 12:28

                      ._card
                        .article-card.is-small
                          ._body
                            ._content
                              h3._heading
                                a._link(href='' title='') Вице-премьер Марат Хуснуллин: трассу «Москва-Казань» могут построить за четыре года

                            ._footer
                              .card-properties
                                ._item Международные
                                ._item 12:28

                      ._card
                        .article-card.is-small
                          ._body
                            ._content
                              h3._heading
                                a._link(href='' title='') Роскосмос построит аэропорт на космодроме Восточный

                            ._footer
                              .card-properties
                                ._item Федеральные
                                ._item 12:28

                      ._card
                        .article-card.is-small
                          ._body
                            ._content
                              h3._heading
                                a._link(href='' title='') Президент Владимир Путин попросил РЖД «сокращать по минимуму» инвестиции

                            ._footer
                              .card-properties
                                ._item Международные
                                ._item 12:28

                      ._card
                        .article-card.is-small
                          ._body
                            ._content
                              h3._heading
                                a._link(href='' title='') Конкурсы за 18-24 мая: железная дорога, спортивный комплекс, уличное освещение и объекты

                            ._footer
                              .card-properties
                                ._item Международные
                                ._item 12:28
            // end articles-widget

      ._main
        // start main-header
        .main-header._header
          ._container
            ._content
              +menu([{
                  href: '#',
                  title: 'Все новости'
              }, {
                  href: '#',
                  title: 'Мнения',
                  isActive: true
              }, {
                  href: '#',
                  title: 'Федеральные'
              }, {
                  href: '#',
                  title: 'Региональные'
              }, {
                  href: '#',
                  title: 'Международные'
              }, {
                  href: '#',
                  title: 'Обновления на платформе'
              }, {
                  href: '#',
                  title: 'Анонсы'
              }], {
                  class: 'is-tabs-menu main-header__menu'
              })
        // end main-header

        ._body
          ._content.is-opinions
            ._list
              ._grid
                ._column.is-fluid
                  // start card-view
                  .card-view
                    ._header
                      span.badge.is-round.is-small.-danger._badge Мнения
                      span._title Руководитель ассоциации «Чистая страна» рассказал о необходимых мерах поддержки регоператоров
                    ._body
                      .user._user
                        ._photo
                          img._img(src="../../assets/img/content/avatars/7.jpg", alt="")
                        ._data
                          span._name Илья Иванов
                          span._position Руководитель ассоциации «Чистая страна"

                      ._actions
                        .meta.-time 7 октября 2019, 12:28

                  // end card-view

                ._column
                  // start card-view
                  .card-view.-small
                    ._header
                      span._title Управляющий партнер МИГ рассказал об особенностях создания в России государственно-частной медицины
                    ._body
                      .user._user
                        ._photo
                          img._img(src="../../assets/img/content/avatars/7.jpg", alt="")
                        ._data
                          span._name Илья Иванов
                          span._position Руководитель ассоциации «Чистая страна"

                      ._actions
                        .meta.-dotted Мнения
                        .meta 13 мая 2020

                  // end card-view
                ._column
                  // start card-view
                  .card-view.-small
                    ._header
                      span._title УК «Платная дорога» назвала меры, которые помогут снизить негативное влияние пандемии на рынок ГЧП
                    ._body
                      .user._user
                        ._photo
                          img._img(src="../../assets/img/content/avatars/7.jpg", alt="")
                        ._data
                          span._name Вадим Коваленко

                      ._actions
                        .meta.-dotted Мнения
                        .meta 13 мая 2020

                  // end card-view

                ._column
                  // start card-view
                  .card-view.-small
                    ._header
                      span._title Перерыв на карантин: как обосновать приостановку инфраструктурных проектов
                    ._body
                      .user._user
                        ._photo
                          img._img(src="../../assets/img/content/avatars/7.jpg", alt="")
                        ._data
                          span._name Анна Батуева

                      ._actions
                        .meta.-dotted Мнения
                        .meta 13 мая 2020

                  // end card-view
                ._column
                  // start card-view
                  .card-view.-small
                    ._header
                      span._title В регионах считают, что после карантина нужно активно инвестировать в инфраструктуру
                    ._body
                      .user._user
                        ._photo
                          img._img(src="../../assets/img/content/avatars/7.jpg", alt="")
                        ._data
                          span._name Лев Решетников

                      ._actions
                        .meta.-dotted Мнения
                        .meta 13 мая 2020

                  // end card-view

                ._column.is-fluid
                  // start card-view
                  .card-view
                    ._header
                      span.badge.is-round.is-small.-danger._badge Мнения
                      span._title Какие меры помогут стабилизировать и дадут стимулы к развитию «мусорной» отрасли
                    ._body
                      .user._user
                        ._photo
                          img._img(src="../../assets/img/content/avatars/7.jpg", alt="")
                        ._data
                          span._name Светлана Дубинчина

                      ._actions
                        .meta.-dotted Мнения
                        .meta 13 мая 2020

                  // end card-view
                ._column
                  // start card-view
                  .card-view.-small
                    ._header
                      span._title Управляющий партнер МИГ рассказал об особенностях создания в России государственно-частной медицины
                    ._body
                      .user._user
                        ._photo
                          img._img(src="../../assets/img/content/avatars/7.jpg", alt="")
                        ._data
                          span._name Илья Иванов

                      ._actions
                        .meta.-dotted Мнения
                        .meta 13 мая 2020

                  // end card-view
                ._column
                  // start card-view
                  .card-view.-small
                    ._header
                      span._title УК «Платная дорога» назвала меры, которые помогут снизить негативное влияние пандемии на рынок ГЧП
                    ._body
                      .user._user
                        ._photo
                          img._img(src="../../assets/img/content/avatars/7.jpg", alt="")
                        ._data
                          span._name Вадим Коваленко

                      ._actions
                        .meta.-dotted Мнения
                        .meta 13 мая 2020

                  // end card-view

                ._column
                  // start card-view
                  .card-view.-small
                    ._header
                      span._title Перерыв на карантин: как обосновать приостановку инфраструктурных проектов
                    ._body
                      .user._user
                        ._photo
                          img._img(src="../../assets/img/content/avatars/7.jpg", alt="")
                        ._data
                          span._name Анна Батуева

                      ._actions
                        .meta.-dotted Мнения
                        .meta 13 мая 2020

                  // end card-view
                ._column
                  // start card-view
                  .card-view.-small
                    ._header
                      span._title В регионах считают, что после карантина нужно активно инвестировать в инфраструктуру
                    ._body
                      .user._user
                        ._photo
                          img._img(src="../../assets/img/content/avatars/7.jpg", alt="")
                        ._data
                          span._name Лев Решетников

                      ._actions
                        .meta.-dotted Мнения
                        .meta 13 мая 2020
                  // end card-view

            ._more
              +button({
                  title: 'Показать ещё',
                  type: 'is-secondary is-load is-block'
              })

          aside._aside.is-right
            ._sticky
              // start articles-widget
              .articles-widget.is-border._widget
                ._header
                  .card-heading._heading Подписаться на новости

                ._body
                  ._buttons
                    a.subscribe-button.is-dzen._subscribe-button(href='#' title='')
                      ._icon
                        img._img(src='__static__img/general/socials/dzen.svg' alt='')

                      ._main
                        p.card-heading.is-small._heading Яндекс дзен
                        p._caption Подписаться

                    a.subscribe-button.is-telegram._subscribe-button(href='#' title='')
                      ._icon
                        img._img(src='__static__img/general/socials/telegram.svg' alt='')

                      ._main
                        p.card-heading.is-small._heading Телеграм канал
                        p._caption Подписаться
              // end articles-widget

              // start articles-widget
              .articles-widget._widget
                ._body
                  .article-slider.js-article-slider
                    ._wrapper.js-slider-wrapper
                      ._slide.js-slider-slide
                        // start article-card
                        .article-card.is-small
                          ._header
                            a._photo(href='#' title='')
                              img.img-cover._img(src='__static__img/content/articles/9.jpg' alt='')

                              ._body
                                ._content
                                  +badge({
                                      title: 'Анонсы',
                                      type: 'is-danger is-round is-small'
                                  }, {
                                      class: 'article-card__badge'
                                  })
                                  h3._heading ПМЭФ-2020 пройдёт 21-23 июля 2020 года в Сочи

                                ._footer
                                  .card-properties
                                    ._item.is-calendar 21-23 сентября 2020 г.
                        // end article-card

                      ._slide.js-slider-slide
                        // start article-card
                        .article-card.is-small
                          ._header
                            a._photo(href='#' title='')
                              img.img-cover._img(src='__static__img/content/articles/9.jpg' alt='')

                              ._body
                                ._content
                                  +badge({
                                      title: 'Анонсы',
                                      type: 'is-danger is-round is-small'
                                  }, {
                                      class: 'article-card__badge'
                                  })
                                  h3._heading ПМЭФ-2020 пройдёт 21-23 июля 2020 года в Сочи

                                ._footer
                                  .card-properties
                                    ._item.is-calendar 21-23 сентября 2020 г.
                        // end article-card

                      ._slide.js-slider-slide
                        // start article-card
                        .article-card.is-small
                          ._header
                            a._photo(href='#' title='')
                              img.img-cover._img(src='__static__img/content/articles/9.jpg' alt='')

                              ._body
                                ._content
                                  +badge({
                                    title: 'Анонсы',
                                    type: 'is-danger is-round is-small'
                                  }, {
                                    class: 'article-card__badge'
                                  })
                                  h3._heading ПМЭФ-2020 пройдёт 21-23 июля 2020 года в Сочи

                                ._footer
                                  .card-properties
                                    ._item.is-calendar 21-23 сентября 2020 г.
                        // end article-card

                    +slider-nav({}, {
                      class: 'article-slider__nav'
                    })
              // end articles-widget

              // start articles-widget
              .articles-widget.is-border._widget
                ._header
                  .card-heading._heading Сервисы платформы

                ._body
                  ._sections
                    a.search-product.is-link._product(href='#' title='')
                      ._body
                        ._aside
                          ._icon
                            img._img(src='__static__img/general/products/projects.svg' alt='База реализуемых проектов')

                        ._main
                          h3.card-heading.is-small._heading База ГЧП проектов
                          span.link-more._link-more Перейти в раздел

                    a.search-product.is-link._product(href='#' title='')
                      ._body
                        ._aside
                          ._icon
                            img._img(src='__static__img/general/products/experts.svg' alt='Помощь экспертов')

                        ._main
                          h3.card-heading.is-small._heading Помощь экспертов
                          span.link-more._link-more Перейти в раздел

                    a.search-product.is-link._product(href='#' title='')
                      ._body
                        ._aside
                          ._icon
                            img._img(src='__static__img/general/products/digest.svg' alt='Тренды и аналитика')

                        ._main
                          h3.card-heading.is-small._heading Тренды и аналитика
                          span.link-more._link-more Перейти в раздел

                    a.search-product.is-link._product(href='#' title='')
                      ._body
                        ._aside
                          ._icon
                            img._img(src='__static__img/general/products/rating.svg' alt='Рейтинг регионов')

                        ._main
                          h3.card-heading.is-small._heading Рейтинг регионов
                          span.link-more._link-more Перейти в раздел

                    a.search-product.is-link._product(href='#' title='')
                      ._body
                        ._aside
                          ._icon
                            img._img(src='__static__img/general/products/academy.svg' alt='Академия ГЧП')

                        ._main
                          h3.card-heading.is-small._heading Академия ГЧП
                          span.link-more._link-more Перейти в раздел

                    a.search-product.is-link._product(href='#' title='')
                      ._body
                        ._aside
                          ._icon
                            img._img(src='__static__img/general/products/companies.svg' alt='Поиск компаний и услуг')

                        ._main
                          h3.card-heading.is-small._heading Поиск компаний и услуг
                          span.link-more._link-more Перейти в раздел
              // end articles-widget

    .scrolltop._scrolltop
      a._link.js-scrolltop(href="#body")
        span._text Вернуться наверх страницы
        ._icon
          <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 4L4.5 1L8 4" stroke="#9199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
