mixin ui-col(data)
   -
     let className = []
     //- Width.
       __RFG_Transform__(attributes, ['xs', 'sm', 'md', 'lg', 'xl', 'xxl'], a => {
       const c = typeof attributes[a] === 'boolean' ? `col-${a}` : `col-${a}-${attributes[a]}`
       className.push(c) && delete attributes[a]
       })
     //- Offset.
       __RFG_Transform__(attributes, ['xsOffset', 'smOffset', 'mdOffset', 'lgOffset'], a => {
       const c = `col-${a.substr(0, 2)}-${a.substr(2).toLowerCase()}-${attributes[a]}`
       className.push(c) && delete attributes[a]
       })
     //- Reordering.
       __RFG_Transform__(attributes, ['first', 'last'],
       a => className.push(`${a}-${attributes[a]}`) && delete attributes[a])
   div.ui-col(class=className.join(' '))&attributes(attributes)
     block
