.section-default {
  position: relative;
  z-index: 1;
  padding: 25px 0;

  @include breakpoint($lg-breakpoint) {
    padding: 30px 0;
  }

  @include breakpoint($xl-breakpoint) {
    padding: 38px 0 39px;
  }

  &.is-mobile {
    @include breakpoint($md-breakpoint) {
      display: none;
    }
  }

  &.is-products {
    @include breakpoint($xl-breakpoint) {
      padding: 51px 0 55px;
    }

    .section-default {
      &__header {
        @include breakpoint($xl-breakpoint) {
          margin-bottom: 61px;
        }
      }
    }
  }

  &--mobile-dark{
    padding-bottom: 45px !important;

    @include breakpoint($lg-breakpoint){
      padding-bottom: 40px !important;
    }

    .swiper-pagination-xp{
      position: absolute;
      left: 0;
      right: 0;
      bottom: -20px;
      margin: 0 auto;
    }

    .expert-preview__header{
      align-items: flex-start;

      @include breakpoint($md-breakpoint){
        align-items: center;
      }
    }

    .expert-preview__photo{
      margin-right: 10px;

      @include breakpoint($md-breakpoint){
        margin-right: 0;
      }
    }

    .expert-preview__name{
      margin: 5px 0 0px 0;
      font-size: 12px;
      font-weight: 500;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @include breakpoint($md-breakpoint){
        font-size: 18px;
        margin: 0;
        white-space: inherit;
        overflow: visible;
      }
    }

    .expert-preview__caption{
      margin: -30px 0 0 68px;

      @include breakpoint($md-breakpoint){
        margin: 10px 0 0 0;
      }
    }
  }

  &--libs{
    // padding: 45px 0 40px;

    padding: 25px 0 40px;

    @include breakpoint($lg-breakpoint){
      padding: 45px 0 40px;
    }

    &.is-border{
      position: relative;

      @include breakpoint($lg-breakpoint){ 
        &:before{
          content: '';
          width: 10000%;
          height: 1px;
          position: absolute;
          top: 0;
          left: -50%;
          border-top: 1px solid #F2F3F6;
        }
      }
    }

    .section-default{
      &__header{
         margin-bottom: 20px;

        @include breakpoint($sm-breakpoint){
          margin-bottom: 35px;
        }
      }
    }

    .section-header__aside{
      display: none;

      @include breakpoint($lg-breakpoint){
        display: block;
      }
    }

    .section-slider{
      position: relative;
      background: #F6F6F8;

      margin-top: 35px;

      @include breakpoint($lg-breakpoint){
        margin-top: 65px;
      }

      &:before{
        content: '';
        position: absolute;
        left: 100%;
        top: 0;
        width: 1000%;
        // height: calc(100% - 64px);
        height: 100%;
        background: #F6F6F8;

        @include breakpoint($sm-breakpoint){
          height: calc(100% - 64px);
        }
      }

      &:after{
        content: '';
        position: absolute;
        right: 100%;
        top: 0;
        width: 1000%;
        // height: calc(100% - 64px);
        height: 100%;
        background: #F6F6F8;

        @include breakpoint($sm-breakpoint){
          height: calc(100% - 64px);
        }
      }

      &__wrapper{
        padding-top: 8px;
        padding-bottom: 8px;
      }

      &__controls{
        margin: 0;
        padding-top: 28px;
        padding-bottom: 0;
        background: #fff;

        display: none;

        @include breakpoint($sm-breakpoint){
          display: flex;
        }
      }

      &__slide{
        &.swiper-slide-active{
          .charters{
            &__dropdown{
              right: auto;
              left: -30px;

              &:after{
                right: auto;
                left: 30px;
              }
            }
          }
        }
      }
    }
  }

  &--products{
    @include breakpoint($xl-breakpoint){
      margin-bottom: -20px;
    }
  }

  &--services{
    border-bottom: 1px solid #F2F3F6;
    padding-bottom: 0;

    @include breakpoint($lg-breakpoint){
      border-bottom: 0;
    }

    .section-default{
      &__container{
        padding: 0;

        @include breakpoint($lg-breakpoint){
          padding: 0 15px;
        }
      }
    }

    .section-heading{
      padding-left: 15px;
      padding-right: 15px;

      @include breakpoint($lg-breakpoint){
        padding: 0;
      }
    }

    .section-layout{

      // &__slider{
      //   margin: 0 -15px;

      //   @include breakpoint($md-breakpoint){
      //     margin: 0;
      //   }

      //   @include breakpoint($xl-breakpoint){
      //     overflow: visible;
      //   }
      // }

      &__grid{
        flex-wrap: wrap;
        margin: 0;

        @include breakpoint($lg-breakpoint){
          margin: 0 -10px;
        }

        @include breakpoint($xl-breakpoint){
          margin: 0 -17px;
        }
      }

      &__column{
        flex-shrink: 0;
        padding: 0;
        margin: 0;

        @include breakpoint($lg-breakpoint){
          padding: 0 10px;
          margin-bottom: 20px;
        }

        @include breakpoint($xl-breakpoint){
          padding: 0 17px;
          margin-bottom: 35px;
        }

        &.is-default{
          flex-basis: 100%;
          max-width: 100%;
          max-width: none;

          @include breakpoint($lg-breakpoint){
            max-width: 25%;
            flex-basis: 25%;
          }
        }

        &.is-half{
          flex-basis: 100%;
          max-width: 100%;
          max-width: none;

          @include breakpoint($lg-breakpoint){
            max-width: 50%;
            flex-basis: 50%;
          }
        }
      }
    }
  }

  &.is-bg-bottom {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 50px;
      background-color: $bg-color;

      @include breakpoint($lg-breakpoint) {
        height: 55px;
      }

      @include breakpoint($xl-breakpoint) {
        height: 60px;
      }
    }

    & + .section-default.is-secondary {
      //margin-top: 50px;
      margin-top: 25px;
    }
  }

  &.is-secondary {
    background-color: $bg-color;

    .slider-nav__item {
      background-color: $white-color;
    }
  }

  &.is-accent{
    // padding: 55px 0 75px;
    padding: 30px 0 30px;
    background: url(../img/content/def.png) no-repeat;
    background-size: cover;

    background-color: $bg-color;

    border-bottom: 0;

    @include breakpoint($lg-breakpoint){
      padding: 45px 0 70px;
    }

    .section-default{
      &__header{
        @include breakpoint($lg-breakpoint){
          margin-bottom: 30px;
        }
      }
      
      &__heading{
        @include breakpoint($lg-breakpoint){
          font-size: 36px;
          margin-bottom: 10px;
        }
      }

      &__label{
        color: #4F5D89;
      }
    }
  }

  &.is-other{
    border-top: 1px solid #F2F3F6;
  }

  &__header {
    margin-bottom: 25px;

    @include breakpoint($lg-breakpoint) {
      margin-bottom: 30px;
    }

    @include breakpoint($xl-breakpoint) {
      margin-bottom: 50px;
    }
  }

  &__slider {
    &.is-partners {
      @include breakpoint($lg-breakpoint){
        padding-top: 16px;
        padding-bottom: 17px;
      }
    }
  }

  &__alphabet{
    margin-bottom: 30px;
  }

  &__header{
    &.is-default{
      display: flex;
      flex-direction: column;

      // margin-bottom: 40px;
      margin-bottom: 25px;

      @include breakpoint($md-breakpoint){
        margin-bottom: 40px;
      }


    }
  }

  &__heading{
    &.is-default{
      display: block;
      max-width: 1075px;
      margin: 0 auto 25px;
      color: #23346B;
      font-weight: 500;
      // font-size: 32px;
      line-height: 1.2;
      text-align: center;

      font-size: 18px;
      margin-bottom: 15px;

      @include breakpoint($lg-breakpoint){
        font-size: 32px;
        margin-bottom: 25px;
      }
    }

    &.is-mobile{
      padding-left: 20px;
      padding-right: 20px;
      display: block;
      font-size: 16px;
      text-align: left;

      @include breakpoint($sm-breakpoint){
        padding: 0;
        text-align: center;
        font-size: 15px;
      }

      @include breakpoint($md-breakpoint){
        font-size: 22px;
      }

      @include breakpoint($lg-breakpoint){
        font-size: 32px;
      }
    }
  }

  &__label{
    color: #4F5D89;
    text-align: center;

    &.is-small{
      font-size: 10px;
      max-width: 245px;
      display: block;
      margin: 0 auto;

      @include breakpoint($md-breakpoint){
        font-size: 15px;
        max-width: none;
      }
    }

    &.is-mobile{
      padding-left: 20px;
      padding-right: 20px;
      text-align: left;
      font-size: 11px;

      @include breakpoint($sm-breakpoint){
        padding: 0;
        text-align: center;
        font-size: 15px;
      }
    }
  }
}

