.tabs-menu{
  &__list{
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__item{
    position: relative;
    margin-right: 25px;
    padding-bottom: 35px;
    border-bottom: 2px solid transparent;

    &:last-child{
      margin-right: 0;
    }

    &.is-active{
      border-color: #203168;

      .tabs-menu{
        &__link{
          color: #203168;
          transition: 0.5s;
          pointer-events: none;
        }
      }
    }
  }

  &__link{
    transition: 0.5s;
    font-weight: 500;
    color: #919AB5;
    text-decoration: none;
    cursor: pointer;

    &:hover{
      text-decoration: underline;
    }
  }
}