include ../badge/badge
include ../button/button

mixin tariff-card(data)
  .tariff-card(class=data.type)
    ._header
      h3._title= data.title

    ._body
      ul._list.js-tarrif-column
        each item in data.props
          li._item.js-tarrif-row(class=(item.price ? 'is-bordered' : ''))
            p._label= item.label

            if (item.count)
              .count-users
                ._main
                  if (item.count === 3)
                    ._item
                    ._item
                    ._item

                  if (item.count === 5)
                    ._item
                    ._item
                    ._item
                    ._item
                    ._item

                  if (item.count === 10)
                    ._item
                    ._item
                    ._item
                    ._item
                    ._item
                    ._item
                    ._item
                    ._item
                    ._item
                    ._item

                span._value (#{item.count})

            else if (!item.count && item.img)
              img._img(src=item.img.src alt='')

            else if (item.price)
              ._price #{item.price.value}
                if (item.price.value && item.price.value !== '-')
                  | <span class="currency">₽ / мес</span>

                if (item.price.label)
                  span._hint(class=(item.price.isAccent ? 'is-primary' : ''))= item.price.label

                if (item.price.badge)
                  +badge(item.price.badge)

            else
              | #{item.value}

      ._footer
        if (data.buttons)
          each button in data.buttons
            +button(button, {
              class: 'tariff-card__button',
              'data-remodal-target': button.modal
            })
