.tariff-card {
  height: 100%;
  color: $primary-color;
  background: $white-color;
  border-radius: 10px;
  // box-shadow: 0 0 50px rgba(35, 52, 107, 0.05);
  box-shadow: 9px 0px 16px 3px rgba(166, 171, 189, 0.3), -10px -10px 20px rgba(242, 243, 246, 0.05);

  &.is-free {
    .tariff-card {
      &__header {
        background-color: #A7AEC4;
      }
    }
  }

  &.is-danger {
    .tariff-card {
      &__header {
        background-color: $danger-color;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 20px 15px;

    text-align: center;
    background: $primary-color;
    border-radius: 10px 10px 0 0;

    // margin-bottom: 22px;

    padding: 14px 15px;
    height: 40px;

    @include breakpoint($sm-breakpoint){
      margin-bottom: 6px;
    }

    @include breakpoint($md-breakpoint){
      height: 50px;
      margin-bottom: 0;
    }

    @include breakpoint($lg-breakpoint) {
      height: 66px;
      margin-bottom: 6px;
    }

    @include breakpoint($xl-breakpoint){
      margin-bottom: 15px;
      padding: 20px 15px;
    }
  }

  &__title {
    margin: 0;
    color: $white-color;
    // font-size: 16px;
    font-weight: 600;

    font-size: 11px;

    @include breakpoint($md-breakpoint){
      font-size: 14px;
    }

    @include breakpoint($lg-breakpoint){
      font-size: 16px;
    }

    @include breakpoint($xl-breakpoint) {
      
    }
  }

  &__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-align: center;

    &.is-bordered {
      border-top: 1px solid $border-color;
    }

    &.is-last{
      padding-bottom: 23px;
    }

    &.is-cost{
      padding-top: 25px;
      padding-bottom: 10px;
    }

  }

  &__img {
    width: 8px;
    // width: 13px;

    @include breakpoint($md-breakpoint){
      width: 13px;
    }
  }

  &__label {
    margin: 0 0 10px;
    color: $muted-color;
    font-size: 14px;

    display: none;

    @include breakpoint($lg-breakpoint) {
      display: none;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    // font-size: 22px;

    font-size: 14px;

    @include breakpoint($lg-breakpoint){
      font-size: 22px;
    }

    &:after{
      content: '₽';
      display: inline-block;
      margin-left: 5px;
      font-size: 14px;

      @include breakpoint($md-breakpoint){
        display: none;
      }
    }

    &-label{
      margin-left: 5px;
      margin-top: 3px;
      font-size: 16px;
      font-weight: 500;

      display: none;

      @include breakpoint($md-breakpoint){
        display: block;
      }
    }

    .currency {
      margin-left: 0.25em;
      font-size: 0.75em;
    }

    .badge {
      position: relative;
      top: -1px;
      margin-top: 8px;
      font-size: 12px;
    }
  }

  &__hint {
    margin-top: 4px;
    display: block;
    color: $muted-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;

    &.is-primary {
      //margin-top: 15px;
      color: $primary-color
    }
  }

  &__footer {
    padding: 20px 15px;
    border-top: 1px solid $border-color;
  }

  &__button {
    margin-bottom: 13px;
    // width: 185px;

    @include breakpoint($md-breakpoint){
      width: 185px;
    }

    span > span{
      display: none;

      @include breakpoint($lg-breakpoint){
        display: inline-block;
      }
    }


    &:last-child {
      margin-bottom: 0;
    }

    &.is-average {
      // padding-top: 15px;
      // padding-bottom: 15px;
      padding-left: 5px;
      padding-right: 5px;

      font-size: 11px;
      padding-top: 13px;
      padding-bottom: 12px;

      @include breakpoint($md-breakpoint){
        font-size: 14px;
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}
