.concept-project{
  position: relative;
  padding: 0px 0px 90px 0;

  position: relative;
  background: #F6F6F8;
  z-index: 1; 

  @include breakpoint($xs-breakpoint){
    padding-bottom: 30px;
    padding-top: 30px;
  }

  @include breakpoint($lg-breakpoint){
    padding: 70px 0px;
  }

  &__top-lines{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 465px;
    z-index: -1;

    display: none;

    @include breakpoint($lg-breakpoint){
      display: block;
    }

    &.is-mobile{
      display: block;
      height: 190px;

      @include breakpoint($xs-breakpoint){
        display: none;
      }
    }
  }

  &__bottom-lines{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 465px;
    z-index: -1;

    display: none;

    @include breakpoint($lg-breakpoint){
      display: block;
    }

    &.is-mobile{
      display: block;
      height: 120px;

      @include breakpoint($xs-breakpoint){
        display: none;
      }
    }
  }

  &__inner{
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint($xs-breakpoint){
      max-width: none;
    }

    @include breakpoint($lg-breakpoint){
      max-width: 1170px;
      padding-left: 110px;
      margin: 0;
    }
  }

  &__column{
    margin-bottom: 40px;

    &:last-child{
      margin-bottom: 0;
    }

    &:nth-child(even){
      .concept-card{
        &__body{
          @include breakpoint($md-breakpoint){ 
            flex-direction: row-reverse;
          }
        }

        &__main{
          @include breakpoint($lg-breakpoint){ 
            padding-left: 75px;
          }
        }

        &__aside{
          @include breakpoint($lg-breakpoint){ 
            align-items: flex-end;
            margin-left: -35px;
          }
        }
        
        &__img{
          @include breakpoint($md-breakpoint){ 
            display: block;
            margin-left: -35px;
          }
        }

        &__number{
          @include breakpoint($lg-breakpoint){
            left: 0;
          }
        }
      }
    }
  }
}

.concept-card{
  &__body{
    display: flex;
    flex-direction: column-reverse;

    @include breakpoint($md-breakpoint){
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__main{
    padding-top: 20px;

    position: relative;
    z-index: 1;

    @include breakpoint($xs-breakpoint){
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include breakpoint($md-breakpoint){
      padding-top: 25px;
      flex: 0 0 60%;
      max-width: 60%;
      align-items: flex-start;
    }

    @include breakpoint($lg-breakpoint){
      padding-top: 45px;
      flex: 0 0 52%;
      max-width: 52%;
    }
  }

  &__aside{
    @include breakpoint($md-breakpoint){
      display: flex;
      flex-direction: column;
      align-items: center;
  
      flex: 0 0 40%;
      max-width: 40%;
    }

    @include breakpoint($lg-breakpoint){
      display: flex;
      flex-direction: column;
      align-items: center;
  
      flex: 0 0 48%;
      max-width: 48%;
    }
  }

  &__number{
    display: block;
    position: absolute;
    
    font-weight: 800;
    color: #FFFFFF;
    z-index: -1;

    left: -50px;
    top: 20px;
    font-size: 30px;
    transform: rotate(-90deg);

    @include breakpoint($md-breakpoint){
      left: -15px;
      top: -30px;
      font-size: 96px;
      transform: none;
    }

    @include breakpoint($lg-breakpoint){
      left: -70px;
    }
  }

  &__title{
    display: block;
    max-width: 445px;
    line-height: 1.1;
    font-size: 23px;
    font-weight: 500;
    color: #23346B;
    text-align: center;

    @include breakpoint($md-breakpoint){
      font-size: 36px;
      text-align: left;
    }
  }

  &__list{
    margin: 25px 0 0 0;
    padding: 0;
    list-style-type: none;

    @include breakpoint($md-breakpoint){
      margin-top: 37px;
    }
  }

  &__item{
    position: relative;
    margin-bottom: 7px;
    padding-left: 30px;

    &:before{
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      flex-shrink: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='18' height='18' rx='9' fill='%234F5D89'/%3E%3Cpath d='M13.2633 6.63159L8.05275 11.3684L5.68433 9.21532' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__text{
    display: block;
    max-width: 255px;
    color: #657198;
    font-size: 13px;

    @include breakpoint($xs-breakpoint){
      max-width: none;
    }

    @include breakpoint($md-breakpoint){
      font-size: 15px;
      max-width: 525px;
    }
  }

  &__img{
    max-width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint($md-breakpoint){
      max-width: none;
      width: 100%;
    }

    @include breakpoint($lg-breakpoint){
      width: auto;
      margin: 0;
    }
  }
}
