include ../input-text/input-text
include ../input-control/input-control
include ../button/button

mixin panel-search(data)
	+input-text({
		name: 'search',
		placeholder: 'Введите запрос'
	}, {
		class: 'panel-search__input js-panel-search-input'
	})

	ul.panel-search
		li
			span Регион

			ul
				each country, countryKey in data.countries
					li
						a
							+input-control({
								type: 'checkbox',
								label: country.title,
								name: 'country',
								value: `country-${countryKey}`
							}, {
								class: 'panel-search__input-control'
							})

						ul
							each district, districtKey in country.districts
								li
									a
										+input-control({
											type: 'checkbox',
											label: district.title,
											name: `district-${countryKey}`,
											value: `district-${countryKey}`
										}, {
											class: 'panel-search__input-control'
										})

									ul
										each region, regionKey in district.regions
											li
												span
													+input-control({
														type: 'checkbox',
														label: region.title,
														name: `region-${countryKey}`,
														value: `region-${countryKey}`
													}, {
														class: 'panel-search__input-control'
													})

		li
			span Отрасль

			ul
				each sphere, sphereKey in data.spheres
					li
						a
							+input-control({
								type: 'checkbox',
								label: sphere.title,
								name: 'sphere',
								value: `sphere-${sphereKey}`
							}, {
								class: 'panel-search__input-control'
							})

						ul
							each subsphere, subsphereKey in sphere.subspheres
								li
									a
										+input-control({
											type: 'checkbox',
											label: subsphere.title,
											name: `subsphere-${sphereKey}`,
											value: `subsphere-${subsphereKey}`
										}, {
											class: 'panel-search__input-control'
										})

									ul
										each industry, industryKey in subsphere.industries
											li
												span
													+input-control({
														type: 'checkbox',
														label: industry.title,
														name: `industry-${subshpereKey}`,
														value: `industry-${industryKey}`
													}, {
														class: 'panel-search__input-control'
													})

		li
			span Форма

			ul
				each form, formKey in data.forms
					li
						span
							+input-control({
								type: 'checkbox',
								label: form.title,
								name: 'form',
								value: `form-${formKey}`
							}, {
								class: 'panel-search__input-control'
							})

		li
			span Объёмы инвестиций

			ul
				li
					span.search-investments
						._header
							+input-text({
								name: 'min',
								placeholder: 'От'
							}, {
								class: 'search-investments__input js-search-investment-min'
							})

							span._divider -

							+input-text({
								name: 'max',
								placeholder: 'До'
							}, {
								class: 'search-investments__input js-search-investment-max'
							})

						._body
							//._slider.js-search-investment-slider

		li
			span Год

			ul
				each year, yearKey in data.years
					li
						span
							+input-control({
								type: 'checkbox',
								label: year.title,
								name: 'year',
								value: `year-${yearKey}`
							}, {
								class: 'panel-search__input-control'
							})

	+button({
		type: 'is-primary',
		title: 'Найти'
	}, {
		class: 'panel-search__button js-panel-search-button'
	})
