.panel-search {
  &__input {
    padding: 0 15px;
    height: 50px;
    box-shadow: none;
  }

  &__input-control {
    display: flex;
    padding: 12px 15px;
    color: $gray-color;

    .input-control {
      &__input[type='checkbox'] ~ .input-control__toggle {
        border-radius: 3px;
      }
    }
  }

  &__button {
    margin: 10px 15px;
    display: block;
  }

  &__selected {
    margin-bottom: -10px;

    .search-label {
      padding: 4px 8px 4px 12px;
      box-shadow: none;

      &::after {
        top: 0;
      }
    }
  }
}
