.direction-card {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  padding: 15px;
  color: $primary-color;
  line-height: 1.35;
  font-size: 14px;
  text-decoration: none;
  background: $bg-color;
  transition: 0.3s;

  @include breakpoint($lg-breakpoint) {
    padding: 25px;
  }

  @include breakpoint($xl-breakpoint) {
    padding: 35px;
    min-height: 245px;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1px;
    background-size: 100%;
    transition: 0.3s;
  }

  &.is-opacity::before {
    opacity: 0.2;
  }

  &__icon {
    display: flex;
    align-items:  center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 20px;
    padding: 1px 0 0 2px;
    width: 36px;

    @include breakpoint($lg-breakpoint) {
      margin-right: 25px;
      width: 48px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 0;
  }

  &__content {
    max-width: 260px;
  }

  &__title {
    margin: 0 0 10px;
    font-size: 16px;

    @include breakpoint($lg-breakpoint) {
      margin-bottom: 13px;
      font-size: 18px;
    }

    @include breakpoint($xl-breakpoint) {
      margin-bottom: 18px;
      font-size: 20px;
    }
  }

  &__caption {
    margin: 0;
  }
}
