mixin direction-card(data)
  a.direction-card(href='#' title='')
    .direction-card__icon
      img.direction-card__img(src='__static__img/content/directions/expert.svg' alt='')

    .direction-card__body
      .direction-card__content
        h3.direction-card__title Экспертная помощь в online режиме
        p.direction-card__caption <span class="text-danger">Помощь в подготовке</span> и заключения ведущих специалистов рынка
