extends ../../template

include ../../../components/menu-sections/menu-sections

include ../../../components/button/button

block append settings
  -
    page.title = 'Максим Викторович Ткаченко';


block page-body

  main.page-main

    // start main-header
    .main-header._header
      ._container.container
        ._content
          .user-preview._user-preview
            ._photo
              img._img(src='__static__img/content/avatars/7.jpg' alt='')

            ._content
              h1.main-heading.is-large._heading= page.title
              p._post Эксперт платформы “РОСИНФРА”

        ._aside
          .expert-props._expert-props
            ul._list
              li._item(data-title='Участвует в блиц-оценках проектных инициатив')
                img._img(src='__static__img/general/expert/1.svg' alt='')

              li._item(data-title='Участвует в блиц-оценках проектных инициатив')
                img._img(src='__static__img/general/expert/2.svg' alt='')

              li._item(data-title='Участвует в блиц-оценках проектных инициатив')
                img._img(src='__static__img/general/expert/3.svg' alt='')

              li._item(data-title='Участвует в блиц-оценках проектных инициатив')
                img._img(src='__static__img/general/expert/4.svg' alt='')
    // end main-header

    // start main-body
    .main-body._body
      ._container.container
        ._grid

          // start main-content
          .main-content._content.js-accordion.js-menu-sections-list

            // start content-section
            section.content-section._section.is-opened.js-accordion-item#section-1
              .section-header._header.js-accordion-toggle
                ._container
                  ._main
                    h2.section-heading.is-medium._heading Информация об эксперте

              .section-body._body.js-accordion-body
                ._container
                  .box-secondary
                    ._body
                      ._inner
                        ._group
                          h3._title Информация о компании:
                          ul.properties-dots
                            li._item
                              ._label
                                span._text Наименование организации:
                              ._value Национальный центр ГЧП

                            li._item
                              ._label
                                span._text Должность:
                              ._value Исполнительный директор

                        ._group
                          h3._title Основное образование:
                          ul.properties-dots
                            li._item
                              ._label
                                span._text Наименование ВУЗа или учебного заведения:
                              ._value Московский Государственный Университет

                            li._item
                              ._label
                                span._text Факультет:
                              ._value Факультет менеджмента

                            li._item
                              ._label
                                span._text Специальность:
                              ._value Менеджер государственного управления

                            li._item
                              ._label
                                span._text Уровень образования:
                              ._value Аспирант

                        ._group
                          h3._title Дополнительное образование:
                          ul.properties-dots
                            li._item
                              ._label
                                span._text Наименование ВУЗа или учебного заведения:
                              ._value Московский Государственный Университет

                            li._item
                              ._label
                                span._text Факультет:
                              ._value Факультет менеджмента

                            li._item
                              ._label
                                span._text Специальность:
                              ._value Менеджер государственного управления

                            li._item
                              ._label
                                span._text Уровень образования:
                              ._value Аспирант

                        ._group
                          h3._title Дополнительно:
                          ul.properties-dots
                            li._item
                              ._label
                                span._text Ученая степень и (или) ученое звание:
                              ._value Доктор финансовых наук

                            li._item
                              ._label
                                span._text Опыт работы в сфере ГЧП:
                              ._value Более 10 лет

                            li._item
                              ._label
                                span._text Категория эксперта:
                              ._value Высшая
            // end content-section

            // start content-section
            section.content-section._section.is-opened.js-accordion-item#section-2
              .section-header._header.js-accordion-toggle
                ._container
                  ._main
                    h2.section-heading.is-medium._heading Профессиональный опыт

              .section-body._body.js-accordion-body
                ._container
                  .box-secondary
                    ._body
                      ._inner
                        ._group.is-bordered
                          h3._title Профиль деятельности:
                          .content._content
                            p Имеет знания экологического законодательства, нормативно-технической документации в области санитарно-эпидемиологического и экологического контроля (ГОСТ, СН, ГН, СанПиН) и методической документации (МУ, МУК) на проведение исследований и оценки физических факторов окружающей среды. Опыт обработки результатов измерения, оформления протоколов, заключений специалиста и ведения сопутствующей документации испытательной лаборатории. Финансовое сопровождение проектов ГЧП и сделок по проектному финансированию в различных секторах инфраструктуры в России и СНГ.
                            p Подготовка бизнес-планов, ТЭО, инвестиционных меморандумов и финансовое моделирование. Опыт обработки результатов измерения, оформления протоколов, заключений специалиста и ведения.

                        ._group.is-bordered
                          h3._title Проектный опыт:
                          .content._content
                            p Сделанные на базе интернет-аналитики выводы неоднозначны и будут призваны к ответу. С учётом сложившейся международной обстановки, разбавленное изрядной долей эмпатии, рациональное мышление требует анализа новых принципов формирования материально-технической и кадровой базы! А также базовые сценарии поведения пользователей освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Мы вынуждены отталкиваться от того, что семантический разбор внешних противодействий способствует повышению качества переосмысления внешнеэкономических политик. А также интерактивные прототипы лишь добавляют фракционных разногласий и рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.
            // end content-section

          // end main-content

          // start main-aside
          aside.main-aside._aside.is-secondary
            ._container.js-main-aside-sticky

              // start aside-widget
              .aside-widget._widget
                ._header
                  h4._heading Действия

                ._body
                  +button({
                    title: 'Запросить услуги эксперта',
                    type: 'is-primary is-block'
                  })
              // end aside-widget

              // start aside-widget
              .aside-widget._widget
                ._header
                  h4._heading Навигатор по информации

                ._body
                  +menu-sections([{
                    href: '#section-1',
                    title: 'Информация об эксперте',
                    isActive: true
                  }, {
                    href: '#section-2',
                    title: 'Профессиональный опыт'
                  }], {
                    class: 'aside-widget__menu-sections'
                  })
              // end aside-widget

          // end main-aside
    // end main-body
