extends ../../template

include ../../../components/super-search/super-search

include ../../../components/expert-card/expert-card

include ../../../components/select/select
include ../../../components/toggle/toggle
include ../../../components/button/button

block append settings
  -
    page.title = 'Эксперты платформы';


block page-body

  main.page-main

    // start main-header
    .main-header._header
      ._container.container
        ._content
          h1.main-heading.is-large._heading= page.title

        ._aside
          +button({
            title: 'Стать экспертом',
            type: 'is-primary is-round',
            size: 'is-medium'
          }, {
            class: 'main-header__button'
          })
    // end main-header

    // start main-caption
    .main-caption._caption
      ._container.container
        ._main
          ._content Платформа объединяет ведущих экспертов, обладающих высоким уровнем теоретической подготовки и практическим опытом реализации проектов ГЧП. Разнопрофильный состав экспертов позволяет быстро и эффективно выстраивать работу над проектами, в кратчайшие сроки получать ответы на вопросы, возникающие на этапах подготовки и реализации инфраструктурных и инвестиционных проектов с государственным участием.

        ._aside
          .cards-count._cards-count
            ._value 48
            ._label экспертов
    // end main-caption

    // start main-search
    .main-search.is-secondary._search
      ._container.container
        +super-search({
          advanced: true,
          placeholder: 'Поиск по экспертам'
        })
    // end main-search

    // start main-body
    .main-body._body
      ._container.container
        ._grid

          // start main-content
          .main-content._content.js-accordion.js-menu-sections-list

            // start main-sorting
            .main-sorting._sorting
              ._container
                ._main
                  ._filters
                    ._filter
                      label._label Сортировка:
                      +select({
                        type: 'is-clear',
                        options: [{
                          title: 'По дате добавления'
                        }, {
                          title: 'Опция 2'
                        }, {
                          title: 'Опция 3'
                        }, {
                          title: 'Опция 4'
                        }]
                      }, {
                        'data-width': 'auto'
                      })

                ._aside
                  ._filter
                    label._label Вид отображения:
                    .layout-views
                      a._item.is-tiles(href='#' title='')
                      a._item.is-rows.is-active(href='#' title='')
            // end main-sorting

            // start section-layout
            .section-layout._section-layout
              ._body
                each item in db_experts
                  +expert-card-row(item, {
                    class: 'section-layout__card'
                  })

              ._more
                +button({
                  type: 'is-load is-block',
                  title: 'Загрузить еще'
                })
            // end section-layout

            // start page-navigation
            .page-navigation._navigation
              ._main
                ul._list
                  li._item
                    a._link.is-active(href='#' title='') 1
                  li._item
                    a._link(href='#' title='') 2
                  li._item
                    a._link(href='#' title='') 3
                  li._item
                    a._link(href='#' title='') 4
                  li._item
                    a._link(href='#' title='') 5
                  li._item
                    span._link(href='#' title='') ...
                  li._item
                    a._link(href='#' title='') 21

              ._aside
                ul._list
                  li._item
                    a._link.is-prev.is-disabled(href='#' title='')
                      i.fe.fe-chevrons-left
                  li._item
                    a._link.is-next(href='#' title='')
                      i.fe.fe-chevrons-right
            // end page-navigation

          // end main-content

          // start main-aside
          aside.main-aside._aside.is-secondary
            ._container.js-main-aside-sticky

              // start aside-widget
              .aside-widget._widget
                ._header
                  h4._heading Фильтр по экспертам:

                ._body
                  form.widget-form._form(action='#' method='post')
                    ._body
                      ._group
                        ._title Вовлечённость эксперта:
                        ul.toggles-list._toggles-list
                          li._item
                            ._main
                              label._label Участие в экспертизе проектов и нормативных правовых актов

                            ._aside
                              +toggle({})

                          li._item
                            ._main
                              label._label Участие в блиц-оценках проектных инициатив

                            ._aside
                              +toggle({})

                          li._item
                            ._main
                              label._label Участие в экспертных заключениях и online консультациях

                            ._aside
                              +toggle({})

                          li._item
                            ._main
                              label._label Участие в качестве спикера в деловых мероприятиях

                            ._aside
                              +toggle({})

                          li._item
                            ._main
                              label._label Участие в качестве преподавателя

                            ._aside
                              +toggle({})
              // end aside-widget

          // end main-aside
    // end main-body
