.menu-video{
  &.is-white{
    .menu-video{
      &__link{
        background: #F8F9FA;

        &:hover{
          color: #fff;
          background: #23346B;
          transition: 0.5s;
        }
      }
    }
  }

  &__list{
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;
    list-style-type: none;

    overflow-x: scroll;

    @include breakpoint($md-breakpoint){
      overflow: hidden;
    }
  }

  &__item{
    margin-right: 10px;

    &:last-child{
      margin-right: 0;
    }

    &.is-current{
      .menu-video{
        &__link{
          color: #fff;
          transition: 0.5s;
          background: #23346B;
          pointer-events: none;
        }
      }
    }
  }

  &__link{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 7px 12px;
    
    font-weight: 500;
    color: #9199B5;

    transition: 0.5s;
    border-radius: 5px;
    background: #FFFFFF;

    cursor: pointer;
    transition: 0.5s;

    white-space: nowrap;
    font-size: 13px;

    @include breakpoint($md-breakpoint){
      font-size: 15px;
    }

    &:hover{
      color: #fff;
      background: #a9a9a9;
      transition: 0.5s;
    }
  }
}
