extends ../../template

include ../../../components/menu-aside/menu-aside
include ../../../components/submenu/submenu

include ../../../components/badge/badge
include ../../../components/select/select
include ../../../components/button/button
include ../../../components/input-text/input-text

block append settings
	-
		page.title = 'Экспертный офис';


block page-body

	main.page-main

		// start menu-aside
		+menu-aside([
				{
						href: '#',
						icon: 'home',
						title: 'Главная страница'
				}, {
						href: '#',
						icon: 'briefcase',
						title: 'Проектный офис',
						dropdown: [{
								href: '#',
								title: 'Сводка экспертного офиса'
						}, {
								href: '#',
								title: 'Блиц оценки',
								count: 3
						}, {
								href: '#',
								title: 'Возмездные услуги',
								count: 7
						}, {
								href: '#',
								title: 'Другие активности',
								count: 3
						}]
				}, {
						href: '#',
						icon: 'list',
						title: 'Мои новости'
				}, {
						href: '#',
						icon: 'calendar',
						title: 'Мои мероприятия'
				}, {
						href: '#',
						icon: 'users',
						title: 'Мои компании'
				}, {
						href: '#',
						icon: 'comment',
						title: 'Мои комментарии'
				}, {
						href: '#',
						icon: 'database',
						title: 'Мои подписки'
				}, {
						divider: true
				}, {
						href: '#',
						icon: 'star',
						title: 'Моё избранное'
				}, {
						href: '#',
						icon: 'settings',
						title: 'Настройки'
				},
		], {
				class: 'page-main__menu-aside'
		})
		// end menu-aside

		// start main-body
		.main-body._body
			._container.container
				._grid.is-reverse

					// start main-content
					.main-content._content.js-accordion.js-menu-sections-list

						// start main-header
						.main-header.is-large._header
							._container
								._content
									h1.main-heading._heading= page.title
								._aside
									span._label Данные на 05.04.2020  17:00
						// end main-header

						// start main-profile
						.main-profile._profile
							._container
								._body
									block main-profile

										// start wiget
										.wiget._wiget
											// start wiget-header
											._header
												h3._heading Сводка по блиц-оценкам проектов
											// end wiget-header
											//start wiget-body
											._body
												._content

													._grid
														// start wiget-column
														._column.wiget__column--3-cols
															// start blitz-card
															a.blitz-card(href="#")
																._body
																	._content
																		span._status ждут выполнения:
																			span._status-value.-danger
																				span._dropdown
																					span._dropdown-text Небольшое, краткое описание\пояснение
																		span._value 3

																	._aside
																		span._button
																			i.fe.fe-arrow-right
															// end blitz-card

														// end wiget-column
														._column.wiget__column--3-cols
															// start blitz-card
															a.blitz-card(href="#")
																._body
																	._content
																		span._status оценки на модерации:
																			span._status-value
																				span._dropdown
																					span._dropdown-text Небольшое, краткое описание\пояснение
																		span._value 4

																	._aside
																		span._button
																			i.fe.fe-arrow-right
															// end blitz-card

														// end wiget-column
														._column.wiget__column--3-cols
															// start blitz-card
															a.blitz-card(href="#")
																._body
																	._content
																		span._status неактивные оценки:
																			span._status-value
																				span._dropdown
																					span._dropdown-text Небольшое, краткое описание\пояснение
																		span._value 0

																	._aside
																		span._button
																			i.fe.fe-arrow-right
															// end blitz-card

														// end wiget-column
														._column.wiget__column--3-cols
															// start blitz-card
															a.blitz-card(href="#")
																._body
																	._content
																		span._status Подтверждённые:
																			span._status-value
																				span._dropdown
																					span._dropdown-text Небольшое, краткое описание\пояснение
																		span._value 4

																	._aside
																		span._button
																			i.fe.fe-arrow-right
															// end blitz-card

														// end wiget-column
														._column.wiget__column--3-cols
															// start blitz-card
															a.blitz-card(href="#")
																._body
																	._content
																		span._status Отклонённые оценки:
																			span._status-value
																				span._dropdown
																					span._dropdown-text Небольшое, краткое описание\пояснение
																		span._value 1

																	._aside
																		span._button
																			i.fe.fe-arrow-right
															// end blitz-card

														// end wiget-column

											// end wiget-body

											// start wiget-footer
											._footer
												a._link(href="#") Перейти к блиц-оценкам
													i.fe.fe-chevron-right
											// end wiget-footer

										// end wiget

										// start wiget
										.wiget._wiget
											// start wiget-header
											._header
												h3._heading Сводка по возмездным услугам
											// end wiget-header
											//start wiget-body
											._body
												._content

													._grid
														// start wiget-column
														._column.wiget__column--3-cols
															// start blitz-card
															a.blitz-card(href="#")
																._body
																	._content
																		span._status ждут вашего ответа:
																			span._status-value
																				span._dropdown
																					span._dropdown-text Небольшое, краткое описание\пояснение
																		span._value 5

																	._aside
																		span._button
																			i.fe.fe-arrow-right
															// end blitz-card

														// end wiget-column
														._column.wiget__column--3-cols
															// start blitz-card
															a.blitz-card(href="#")
																._body
																	._content
																		span._status на назначении эксперта:
																			span._status-value
																				span._dropdown
																					span._dropdown-text Небольшое, краткое описание\пояснение
																		span._value 4

																	._aside
																		span._button
																			i.fe.fe-arrow-right
															// end blitz-card

														// end wiget-column
														._column.wiget__column--3-cols
															// start blitz-card
															a.blitz-card(href="#")
																._body
																	._content
																		span._status Закрытые заявки:
																			span._status-value
																				span._dropdown
																					span._dropdown-text Небольшое, краткое описание\пояснение
																		span._value 0

																	._aside
																		span._button
																			i.fe.fe-arrow-right
															// end blitz-card

														// end wiget-column
														._column.wiget__column--3-cols
															// start blitz-card
															a.blitz-card(href="#")
																._body
																	._content
																		span._status услуги в работе:
																			span._status-value
																				span._dropdown
																					span._dropdown-text Небольшое, краткое описание\пояснение
																		span._value 2

																	._aside
																		span._button
																			i.fe.fe-arrow-right
															// end blitz-card

														// end wiget-column
														._column.wiget__column--3-cols
															// start blitz-card
															a.blitz-card(href="#")
																._body
																	._content
																		span._status Выполненые:
																			span._status-value
																				span._dropdown
																					span._dropdown-text Небольшое, краткое описание\пояснение
																		span._value 4

																	._aside
																		span._button
																			i.fe.fe-arrow-right
															// end blitz-card

														// end wiget-column

														// end wiget-column
														._column.wiget__column--3-cols
															// start blitz-card
															a.blitz-card(href="#")
																._body
																	._content
																		span._status не выполненые:
																			span._status-value
																				span._dropdown
																					span._dropdown-text Небольшое, краткое описание\пояснение
																		span._value 1

																	._aside
																		span._button
																			i.fe.fe-arrow-right
															// end blitz-card

														// end wiget-column

											// end wiget-body

											// start wiget-footer
											._footer
												a._link(href="#") Перейти к блиц-оценкам
													i.fe.fe-chevron-right
											// end wiget-footer

										// end wiget

										// start wiget
										.wiget._wiget
											// start wiget-header
											._header
												h3._heading Сводка по другим активностям
											// end wiget-header
											//start wiget-body
											._body
												._content

													._grid
														// start wiget-column
														._column.wiget__column--3-cols
															// start blitz-card
															a.blitz-card(href="#")
																._body
																	._content
																		span._status ждут вашего ответа:
																			span._status-value
																				span._dropdown
																					span._dropdown-text Небольшое, краткое описание\пояснение
																		span._value 3

																	._aside
																		span._button
																			i.fe.fe-arrow-right
															// end blitz-card

														// end wiget-column
														._column.wiget__column--3-cols
															// start blitz-card
															a.blitz-card(href="#")
																._body
																	._content
																		span._status Принятые вами:
																			span._status-value
																				span._dropdown
																					span._dropdown-text Небольшое, краткое описание\пояснение
																		span._value 4

																	._aside
																		span._button
																			i.fe.fe-arrow-right
															// end blitz-card

														// end wiget-column
														._column.wiget__column--3-cols
															// start blitz-card
															a.blitz-card(href="#")
																._body
																	._content
																		span._status Отклонённые вами:
																			span._status-value
																				span._dropdown
																					span._dropdown-text Небольшое, краткое описание\пояснение
																		span._value 0

																	._aside
																		span._button
																			i.fe.fe-arrow-right
															// end blitz-card

														// end wiget-column
														._column.wiget__column--3-cols
															// start blitz-card
															a.blitz-card(href="#")
																._body
																	._content
																		span._status Ожидают выполнения:
																			span._status-value
																				span._dropdown
																					span._dropdown-text Небольшое, краткое описание\пояснение
																		span._value 232

																	._aside
																		span._button
																			i.fe.fe-arrow-right
															// end blitz-card

														// end wiget-column
														._column.wiget__column--3-cols
															// start blitz-card
															a.blitz-card(href="#")
																._body
																	._content
																		span._status Выполненые:
																			span._status-value
																				span._dropdown
																					span._dropdown-text Небольшое, краткое описание\пояснение
																		span._value 4

																	._aside
																		span._button
																			i.fe.fe-arrow-right
															// end blitz-card

														// end wiget-column

														// end wiget-column
														._column.wiget__column--3-cols
															// start blitz-card
															a.blitz-card(href="#")
																._body
																	._content
																		span._status не выполненые:
																			span._status-value
																				span._dropdown
																					span._dropdown-text Небольшое, краткое описание\пояснение
																		span._value 1

																	._aside
																		span._button
																			i.fe.fe-arrow-right
															// end blitz-card

														// end wiget-column

											// end wiget-body

											// start wiget-footer
											._footer
												a._link(href="#") Перейти к блиц-оценкам
													i.fe.fe-chevron-right
											// end wiget-footer

										// end wiget


						// end main-profile

					// end main-content

					// start main-aside
					aside.main-aside._aside.is-secondary
						._container.js-main-aside-sticky

							// start aside-profile
							.aside-profile._profile
								._header
									+button({
											href: '#',
											title: 'Вернуться в кабинет',
											type: 'is-secondary is-round',
											size: 'is-small'
									}, {
											class: 'aside-profile__button'
									})

								._body
									+submenu({
											title: 'Меню настроек профиля',
											items: [{
													href: '#',
													title: 'Персональные данные'
											}, {
													href: '#',
													title: 'Настройка предпочтений'
											}, {
													href: '#',
													title: 'Анкета эксперта'
											}]
									})
							// end aside-profile

					// end main-aside
		// end main-body
