extends ../../template

include ../../../components/menu/menu
include ../../../components/badge/badge
include ../../../components/button/button
include ../../../components/slider-nav/slider-nav

block append settings
  -
    page.title = 'Карточка мнения';


block page-body

  .articles-layout(class='page-body__layout-articles')
    ._container.container
      aside._aside.is-left
        ._sticky.js-main-aside-sticky
          ._scrollbar.js-scrollbar
            // start articles-widget
            .articles-widget._widget
              ._body
                ._inner
                  ._group
                    ._title.card-heading.is-small 25 мая 2020

                    ._list
                      ._card
                        .article-card.is-small
                          ._body
                            ._content
                              h3._heading
                                a._link(href='' title='') Трассой «Москва - Казань» заинтересовался «Нацстрой»

                            ._footer
                              .card-properties
                                ._item Федеральные
                                ._item 12:28

                      ._card
                        .article-card.is-small
                          ._body
                            ._content
                              h3._heading
                                a._link(href='' title='') Вице-премьер Марат Хуснуллин: трассу «Москва-Казань» могут построить за четыре года

                            ._footer
                              .card-properties
                                ._item Международные
                                ._item 12:28

                      ._card
                        .article-card.is-small
                          ._body
                            ._content
                              h3._heading
                                a._link(href='' title='') Роскосмос построит аэропорт на космодроме Восточный

                            ._footer
                              .card-properties
                                ._item Федеральные
                                ._item 12:28

                      ._card
                        .article-card.is-small
                          ._body
                            ._content
                              h3._heading
                                a._link(href='' title='') Президент Владимир Путин попросил РЖД «сокращать по минимуму» инвестиции

                            ._footer
                              .card-properties
                                ._item Международные
                                ._item 12:28

                      ._card
                        .article-card.is-small
                          ._body
                            ._content
                              h3._heading
                                a._link(href='' title='') Конкурсы за 18-24 мая: железная дорога, спортивный комплекс, уличное освещение и объекты

                            ._footer
                              .card-properties
                                ._item Международные
                                ._item 12:28

                  ._group
                    ._title.card-heading.is-small 24 мая 2020

                    ._list
                      ._card
                        .article-card.is-small
                          ._body
                            ._content
                              h3._heading
                                a._link(href='' title='') Трассой «Москва - Казань» заинтересовался «Нацстрой»

                            ._footer
                              .card-properties
                                ._item Федеральные
                                ._item 12:28

                      ._card
                        .article-card.is-small
                          ._body
                            ._content
                              h3._heading
                                a._link(href='' title='') Вице-премьер Марат Хуснуллин: трассу «Москва-Казань» могут построить за четыре года

                            ._footer
                              .card-properties
                                ._item Международные
                                ._item 12:28

                      ._card
                        .article-card.is-small
                          ._body
                            ._content
                              h3._heading
                                a._link(href='' title='') Роскосмос построит аэропорт на космодроме Восточный

                            ._footer
                              .card-properties
                                ._item Федеральные
                                ._item 12:28

                      ._card
                        .article-card.is-small
                          ._body
                            ._content
                              h3._heading
                                a._link(href='' title='') Президент Владимир Путин попросил РЖД «сокращать по минимуму» инвестиции

                            ._footer
                              .card-properties
                                ._item Международные
                                ._item 12:28

                      ._card
                        .article-card.is-small
                          ._body
                            ._content
                              h3._heading
                                a._link(href='' title='') Конкурсы за 18-24 мая: железная дорога, спортивный комплекс, уличное освещение и объекты

                            ._footer
                              .card-properties
                                ._item Международные
                                ._item 12:28
            // end articles-widget

      ._main
        // start main-header
        .main-header._header
          ._container
            ._content
              +menu([{
                  href: '#',
                  title: 'Все новости',
                  isActive: true
              }, {
                  href: '#',
                  title: 'Мнения'
              }, {
                  href: '#',
                  title: 'Федеральные'
              }, {
                  href: '#',
                  title: 'Региональные'
              }, {
                  href: '#',
                  title: 'Международные'
              }, {
                  href: '#',
                  title: 'Обновления на платформе'
              }, {
                  href: '#',
                  title: 'Анонсы'
              }], {
                  class: 'is-tabs-menu main-header__menu'
              })
        // end main-header

        ._body
          ._content
            .article._article
              // start article__header
              ._header
                h1._title Руководитель ассоциации «Чистая страна» рассказал о необходимых мерах поддержки регоператоров

                ._meta

                  ._main
                    span.meta.-dotted Мнения
                    span.meta.-time 13 мая 2020, 18:04

                  ._aside
                    span.meta.-comments Комментарии:
                      span._value 9
              // end article__header

              // start article__content
              ._content
                .opinion-review
                  .avatar._avatar
                    img._img(src='__static__img/content/avatars/1.jpg' alt='')

                  ._content
                    p._name Руслан Губайдуллин
                    p._caption Руководитель ассоциации «Чистая страна", крупнейшего отраслевого объединения в стране

                ._textarea

                  h3 Заголовок информацинного блока
                  p Новосибирские депутаты проголосовали за проект обращения на имя председателя правительства РФ Михаила Мишустина с просьбой на федеральном уровне расширить перечень мер господдержки бизнес-отраслям, пострадавшим от пандемии. «Считаем необходимым расширить перечень пострадавших сфер бизнеса, чтобы дать им возможность получить господдержку, компенсировать расходы местным властям, чтобы они могли выполнить все принятые на себя социальные обязательства», - сообщил в своем докладе председатель горсовета Дмитрий Асанцев.

                  .blockquote._blockquote
                    span._title Верно ли предположить, что для российских и глобальных сырьевых компаний II квартал будет гораздо труднее, так как именно на него пришлись жесткие карантины

                    ._user
                      span._user-name Руслан Губайдуллин
                      span._user-position Руководитель ассоциации «Чистая страна", крупнейшего отраслевого объединения в стране

                  p Плюс капитально вложились в строительство ряда объектов и на протяжении двух месяцев не работают. И от оплаты их никто не освобождал. Они оплачивают налоги, зарплаты сотрудникам и еще выплачивают Новосибирску по концессионному соглашению. Кроме того, в сложное финансовое положение попали предприятия в сфере транспорта, гостиниц, зоопарков — те, кто не имеет возможности оказывать услуги, либо объем этих услуг существенно сократился».

                  ol
                    li
                      span Плюс капитально вложились в строительство ряда объектов и на протяжении двух месяцев не работают. И от оплаты их никто не освобождал.
                    li
                      span Кроме того, в сложное финансовое положение попали предприятия в сфере транспорта, гостиниц.
                    li
                      span Плюс капитально вложились в строительство ряда объектов и на протяжении двух месяцев не работают. И от оплаты их никто не освобождал.

                  h3 Заголовок информацинного блока

                  p Новосибирские депутаты проголосовали за проект обращения на имя председателя правительства РФ Михаила Мишустина с просьбой на федеральном уровне расширить перечень мер господдержки бизнес-отраслям, пострадавшим от пандемии. «Считаем необходимым расширить перечень пострадавших сфер бизнеса, чтобы дать им возможность получить господдержку, компенсировать расходы местным властям, чтобы они могли выполнить все принятые на себя социальные обязательства», - сообщил в своем докладе председатель горсовета Дмитрий Асанцев.

                  ul
                    li
                      span Плюс капитально вложились в строительство ряда объектов и на протяжении двух месяцев не работают. И от оплаты их никто не освобождал.
                    li
                      span Кроме того, в сложное финансовое положение попали предприятия в сфере транспорта, гостиниц.
                    li
                      span Плюс капитально вложились в строительство ряда объектов и на протяжении двух месяцев не работают. И от оплаты их никто не освобождал.

                  p Как напомнил председатель комиссии по муниципальной собственности Сергей Бондаренко, некоторые из компаний-концессионеров в своей деятельности, по сути, обеспечивают функционирование наиболее важных отраслей муниципальной экономики. Депутат Олег Шестаков предложил пополнить список получателей господдержки концессионерами, с которыми только планируется заключать договоры. Председатель горсовета отметил, что вопросы с будущими концессионерами предстоит решать по мере поступления от них таких предложений. Проект обращения к председателю правительства РФ опубликован на официальном сайте горсовета Новосибирска.



                // start article__materials
                .materials._materials
                  h3._title Материалы по теме:

                  ._slider
                    ._slider-photo
                      ._slider-container.swiper-container.js-materials-slider
                        ._slider-wrapper.swiper-wrapper
                          ._slider-slide.swiper-slide
                            a._slider-image(href="../../assets/img/content/news/9.jpg" data-fancybox="news-gallery")
                              img(src="../../assets/img/content/news/9.jpg", alt="")
                              span На фото: Председатель горсовета Новосибирска
                          ._slider-slide.swiper-slide
                            a._slider-image(href="../../assets/img/content/news/9.jpg" data-fancybox="news-gallery")
                              img(src="../../assets/img/content/news/9.jpg", alt="")
                              span На фото: Председатель горсовета Новосибирска
                          ._slider-slide.swiper-slide
                            a._slider-image(href="../../assets/img/content/news/9.jpg" data-fancybox="news-gallery")
                              img(src="../../assets/img/content/news/9.jpg", alt="")
                              span На фото: Председатель горсовета Новосибирска
                          ._slider-slide.swiper-slide
                            a._slider-image(href="../../assets/img/content/news/9.jpg" data-fancybox="news-gallery")
                              img(src="../../assets/img/content/news/9.jpg", alt="")
                              span На фото: Председатель горсовета Новосибирска
                          ._slider-slide.swiper-slide
                            a._slider-image(href="../../assets/img/content/news/9.jpg" data-fancybox="news-gallery")
                              img(src="../../assets/img/content/news/9.jpg", alt="")
                              span На фото: Председатель горсовета Новосибирска
                          ._slider-slide.swiper-slide
                            a._slider-image(href="../../assets/img/content/news/9.jpg" data-fancybox="news-gallery")
                              img(src="../../assets/img/content/news/9.jpg", alt="")
                              span На фото: Председатель горсовета Новосибирска
                          ._slider-slide.swiper-slide
                            a._slider-image(href="../../assets/img/content/news/9.jpg" data-fancybox="news-gallery")
                              img(src="../../assets/img/content/news/9.jpg", alt="")
                              span На фото: Председатель горсовета Новосибирска
                          ._slider-slide.swiper-slide
                            a._slider-image(href="../../assets/img/content/news/9.jpg" data-fancybox="news-gallery")
                              img(src="../../assets/img/content/news/9.jpg", alt="")
                              span На фото: Председатель горсовета Новосибирска
                          ._slider-slide.swiper-slide
                            a._slider-image(href="../../assets/img/content/news/9.jpg" data-fancybox="news-gallery")
                              img(src="../../assets/img/content/news/9.jpg", alt="")
                              span На фото: Председатель горсовета Новосибирска

                        .slider-nav._slider-nav
                          button.slider-nav__item.is-prev.js-slider-prev
                          button.slider-nav__item.is-next.js-slider-next

                    ._slider-thumbs
                      ._slider-container.swiper-container.js-materials-thumbs
                        ._slider-wrapper.swiper-wrapper
                          ._slider-slide.swiper-slide
                            ._slider-image
                              img(src="../../assets/img/content/news/9.jpg", alt="")
                          ._slider-slide.swiper-slide
                            ._slider-image
                              img(src="../../assets/img/content/news/9.jpg", alt="")
                          ._slider-slide.swiper-slide
                            ._slider-image
                              img(src="../../assets/img/content/news/9.jpg", alt="")
                          ._slider-slide.swiper-slide
                            ._slider-image
                              img(src="../../assets/img/content/news/9.jpg", alt="")
                          ._slider-slide.swiper-slide
                            ._slider-image
                              img(src="../../assets/img/content/news/9.jpg", alt="")
                          ._slider-slide.swiper-slide
                            ._slider-image
                              img(src="../../assets/img/content/news/9.jpg", alt="")
                          ._slider-slide.swiper-slide
                            ._slider-image
                              img(src="../../assets/img/content/news/9.jpg", alt="")
                          ._slider-slide.swiper-slide
                            ._slider-image
                              img(src="../../assets/img/content/news/9.jpg", alt="")
                          ._slider-slide.swiper-slide
                            ._slider-image
                              img(src="../../assets/img/content/news/9.jpg", alt="")
                // endarticle__ materials
              // end article__content


              // start article__footer
              ._footer
                ._footer-actions
                  // start tag
                  .tag._tag
                    ._header
                      span._title Теги:
                    ._body
                      ul._list
                        li._item
                          a._link(href="#") # Концессия
                        li._item
                          a._link(href="#") # ГЧП
                        li._item
                          a._link(href="#") # Онлайн
                        li._item
                          a._link(href="#") # Образование
                        li._item
                          a._link(href="#") # Образование
                        li._item
                          a._link(href="#") # Образование
                        li._item
                          a._link(href="#") # Образование

                      a._show-all(href="#")
                        <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.49402 3.82837L0.207479 1.03453C-0.0691597 0.799364 -0.0691597 0.418082 0.207479 0.182915C0.484118 -0.052252 0.5 0.00650137 1 0.00657257L4 0.00653976L7 0.00654414C7 0.00654414 7.51588 -0.052252 7.79252 0.182915C8.06916 0.418082 8.06916 0.799364 7.79252 1.03453L4.50598 3.82837C4.22654 4.06593 3.77346 4.06593 3.49402 3.82837Z" fill="#919AB5"/>
                        </svg>
                  // end tag

                  // start button-like
                  .button-like._like
                    span._title нравится
                      span._value 187

                    button._btn.js-button-like
                      <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 6.42901V16.7146C0 17.4246 0.575599 18.0003 1.2857 18.0003H5.1428V5.14331H1.2857C0.575599 5.14331 0 5.71891 0 6.42901Z" fill="#9199B5"/>
                      <path d="M18.1971 6.42884H14.3991C14.067 6.42884 13.9006 6.20723 13.8447 6.11181C13.7888 6.01701 13.6758 5.76402 13.8366 5.47398L15.1756 3.06266C15.4694 2.5347 15.4996 1.91382 15.2591 1.35948C15.0187 0.804523 14.5441 0.402113 13.9571 0.25584L13.0129 0.0197931C12.7831 -0.037963 12.5395 0.0354878 12.3795 0.213151L7.25299 5.9084C6.72126 6.5004 6.42871 7.26379 6.42871 8.05856V14.7859C6.42871 16.5581 7.87073 18.0001 9.64296 18.0001L16.0382 17.9995C17.4821 17.9995 18.7571 17.0271 19.1382 15.6353L20.5105 9.33734C20.5507 9.16219 20.5714 8.98265 20.5714 8.8031C20.5714 7.49417 19.5061 6.42882 18.1971 6.42882L18.1971 6.42884Z" fill="#9199B5"/>
                      </svg>
                  // end button-like


                // start footer-wigets
                ._footer-wigets

                  // start articles-widget
                  .articles-widget._widget
                    ._header
                      .card-heading._heading Рассказать друзьям

                    ._body
                      ul.subscribe-list
                        li._item
                          a._link.is-vk(href="#")
                        li._item
                          a._link.is-telegram(href="#")
                        li._item
                          a._link.is-viber(href="#")
                        li._item
                          a._link.is-whatsapp(href="#")
                        li._item
                          a._link.is-facebook(href="#")
                        li._item
                          a._link.is-ok(href="#")
                        li._item
                          a._link.is-twitter(href="#")
                  // end articles-widget


                  // start articles-widget
                  .articles-widget._widget
                    ._header
                      .card-heading._heading Подписаться на новости

                    ._body
                      ._grid
                        ._column
                          a.subscribe-button.is-dzen._subscribe-button(href='#' title='')
                            ._icon
                              img._img(src='__static__img/general/socials/dzen.svg' alt='')

                            ._main
                              p.card-heading.is-small._heading Яндекс дзен
                              p._caption Подписаться

                        ._column
                          a.subscribe-button.is-telegram._subscribe-button(href='#' title='')
                            ._icon
                              img._img(src='__static__img/general/socials/telegram.svg' alt='')

                            ._main
                              p.card-heading.is-small._heading Телеграм канал
                              p._caption Подписаться
                  // end articles-widget

                // end footer-wigets

                // start comments
                .comments._comments
                  ._top
                    ._title Комментарии
                      span (9)
                    button.button.is-primary.is-small.is-round._add-comment Оставить комментарий
                  ._section
                    ._section-body
                      // start comments__header
                      ._header
                        // start comments-card
                        .comments-card
                          ._header
                            ._user
                              ._user-photo
                                img._img(src="../../assets/img/content/avatars/7.jpg", alt="")
                              ._user-data
                                span._user-name Геннадий Фёдорович Бухтин
                                span._user-position АО “Сбербанк”

                            ._date 26 марта 2019  21:12:34
                          ._content
                            ._text
                              p Выступая на Российском инвестиционном форуме, Дмитрий Медведев сообщил, что помощь федерального центра регионам будет продолжена. Выступая на Российском инвестиционном форуме, Дмитрий Медведев сообщил, что помощь федерального центра регионам будет продолжена.

                            ul._actions
                              li._item
                                button._button Ответить
                              li._item
                                button._button.-accent Раскрыть полный комментарий
                        // end comments-card

                      // end comments__header

                      // end comments__content
                    ._section-body
                      // start comments__header
                      ._header
                        // start comments-card
                        .comments-card
                          ._header
                            ._user
                              ._user-photo
                                img._img(src="../../assets/img/content/avatars/3.jpg", alt="")
                              ._user-data
                                span._user-name Геннадий Фёдорович Бухтин
                                span._user-position Пользователь платформы

                            ._date 26 марта 2019  21:12:34
                          ._content
                            ._text
                              p Выступая на Российском инвестиционном форуме, Дмитрий Медведев сообщил, что помощь федерального центра регионам будет продолжена. Выступая на Российском инвестиционном форуме, Дмитрий Медведев сообщил, что помощь федерального центра регионам будет продолжена.

                            ul._actions
                              li._item
                                button._button Ответить
                              li._item
                                button._button.-accent Раскрыть полный комментарий
                        // end comments-card

                      // end comments__header

                      // end comments__content
                    ._section-body
                      // start comments__header
                      ._header
                        // start comments-card
                        .comments-card
                          ._header
                            ._user
                              ._user-photo
                                img._img(src="../../assets/img/content/avatars/6.jpg", alt="")
                              ._user-data
                                span._user-name Геннадий Фёдорович Бухтин
                                span._user-position Пользователь платформы

                            ._date 26 марта 2019  21:12:34
                          ._content
                            ._text
                              p Выступая на Российском инвестиционном форуме, Дмитрий Медведев сообщил, что помощь федерального центра регионам будет продолжена. Выступая на Российском инвестиционном форуме, Дмитрий Медведев сообщил, что помощь федерального центра регионам будет продолжена.

                            ul._actions
                              li._item
                                button._button Ответить
                              li._item
                                button._button.-accent Раскрыть полный комментарий
                        // end comments-card

                      // end comments__header

                  ._footer
                    button.button.is-load.is-block._load-more
                      span._title Загрузить ещё


                // end comments




              // end article__footer

              // start other
              .other
                ._header
                  a._link.is-prev(href='#' title='') Предыдущее мнение
                  a._link.is-next(href='#' title='') Следующее мнение

                ._body
                  ._grid
                    ._column
                      // start card-view
                      .card-view.-small
                        ._header
                          span._title Перерыв на карантин: как обосновать приостановку инфраструктурных проектов
                        ._body
                          .user._user
                            ._photo
                              img._img(src="../../assets/img/content/avatars/7.jpg", alt="")
                            ._data
                              span._name Анна Батуева

                          ._actions
                            .meta.-dotted Мнения
                            .meta 13 мая 2020

                      // end card-view
                    ._column
                      // start card-view
                      .card-view.-small
                        ._header
                          span._title В регионах считают, что после карантина нужно активно инвестировать в инфраструктуру
                        ._body
                          .user._user
                            ._photo
                              img._img(src="../../assets/img/content/avatars/7.jpg", alt="")
                            ._data
                              span._name Лев Решетников

                          ._actions
                            .meta.-dotted Мнения
                            .meta 13 мая 2020
                      // end card-view

              // start other

          aside._aside.is-right
            ._sticky

              // start articles-widget
              .articles-widget._widget
                ._body
                  .article-slider.js-article-slider
                    ._wrapper.js-slider-wrapper
                      ._slide.js-slider-slide
                        // start article-card
                        .article-card.is-small
                          ._header
                            a._photo(href='#' title='')
                              img.img-cover._img(src='__static__img/content/articles/9.jpg' alt='')

                              ._body
                                ._content
                                  +badge({
                                      title: 'Анонсы',
                                      type: 'is-danger is-round is-small'
                                  }, {
                                      class: 'article-card__badge'
                                  })
                                  h3._heading ПМЭФ-2020 пройдёт 21-23 июля 2020 года в Сочи

                                ._footer
                                  .card-properties
                                    ._item.is-calendar 21-23 сентября 2020 г.
                        // end article-card

                      ._slide.js-slider-slide
                        // start article-card
                        .article-card.is-small
                          ._header
                            a._photo(href='#' title='')
                              img.img-cover._img(src='__static__img/content/articles/9.jpg' alt='')

                              ._body
                                ._content
                                  +badge({
                                      title: 'Анонсы',
                                      type: 'is-danger is-round is-small'
                                  }, {
                                      class: 'article-card__badge'
                                  })
                                  h3._heading ПМЭФ-2020 пройдёт 21-23 июля 2020 года в Сочи

                                ._footer
                                  .card-properties
                                    ._item.is-calendar 21-23 сентября 2020 г.
                        // end article-card

                      ._slide.js-slider-slide
                        // start article-card
                        .article-card.is-small
                          ._header
                            a._photo(href='#' title='')
                              img.img-cover._img(src='__static__img/content/articles/9.jpg' alt='')

                              ._body
                                ._content
                                  +badge({
                                    title: 'Анонсы',
                                    type: 'is-danger is-round is-small'
                                  }, {
                                    class: 'article-card__badge'
                                  })
                                  h3._heading ПМЭФ-2020 пройдёт 21-23 июля 2020 года в Сочи

                                ._footer
                                  .card-properties
                                    ._item.is-calendar 21-23 сентября 2020 г.
                        // end article-card

                    +slider-nav({}, {
                      class: 'article-slider__nav'
                    })
              // end articles-widget

              // start articles-widget
              .articles-widget.is-border._widget
                ._header
                  .card-heading._heading Сервисы платформы

                ._body
                  ._sections
                    a.search-product.is-link._product(href='#' title='')
                      ._body
                        ._aside
                          ._icon
                            img._img(src='__static__img/general/products/projects.svg' alt='База реализуемых проектов')

                        ._main
                          h3.card-heading.is-small._heading База ГЧП проектов
                          span.link-more._link-more Перейти в раздел

                    a.search-product.is-link._product(href='#' title='')
                      ._body
                        ._aside
                          ._icon
                            img._img(src='__static__img/general/products/experts.svg' alt='Помощь экспертов')

                        ._main
                          h3.card-heading.is-small._heading Помощь экспертов
                          span.link-more._link-more Перейти в раздел

                    a.search-product.is-link._product(href='#' title='')
                      ._body
                        ._aside
                          ._icon
                            img._img(src='__static__img/general/products/digest.svg' alt='Тренды и аналитика')

                        ._main
                          h3.card-heading.is-small._heading Тренды и аналитика
                          span.link-more._link-more Перейти в раздел

                    a.search-product.is-link._product(href='#' title='')
                      ._body
                        ._aside
                          ._icon
                            img._img(src='__static__img/general/products/rating.svg' alt='Рейтинг регионов')

                        ._main
                          h3.card-heading.is-small._heading Рейтинг регионов
                          span.link-more._link-more Перейти в раздел

                    a.search-product.is-link._product(href='#' title='')
                      ._body
                        ._aside
                          ._icon
                            img._img(src='__static__img/general/products/academy.svg' alt='Академия ГЧП')

                        ._main
                          h3.card-heading.is-small._heading Академия ГЧП
                          span.link-more._link-more Перейти в раздел

                    a.search-product.is-link._product(href='#' title='')
                      ._body
                        ._aside
                          ._icon
                            img._img(src='__static__img/general/products/companies.svg' alt='Поиск компаний и услуг')

                        ._main
                          h3.card-heading.is-small._heading Поиск компаний и услуг
                          span.link-more._link-more Перейти в раздел
              // end articles-widget

    .scrolltop._scrolltop
      a._link.js-scrolltop(href="#body")
        span._text Вернуться наверх страницы
        ._icon
          <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 4L4.5 1L8 4" stroke="#9199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
