.ui-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--grid-gap-half-);
  margin-right: var(--grid-gap-half-);

  &:last-child {
    margin-bottom: var(--grid-gap-);
  }

  & > .ui-col {
    margin-bottom: var(--grid-gap);
  }


  &_size {
    &_xs {
      margin-left: var(--grid-gap-half-xs-);
      margin-right: var(--grid-gap-half-xs-);

      &:last-child {
        margin-bottom: var(--grid-gap-xs-);
      }

      & > .ui-col {
        margin-bottom: var(--grid-gap-xs);
        padding-left: var(--grid-gap-half-xs);
        padding-right: var(--grid-gap-half-xs);
      }
    }

    &_sm {
      margin-left: var(--grid-gap-half-sm-);
      margin-right: var(--grid-gap-half-sm-);

      &:last-child {
        margin-bottom: var(--grid-gap-sm-);
      }

      & > .ui-col {
        margin-bottom: var(--grid-gap-sm);
        padding-left: var(--grid-gap-half-sm);
        padding-right: var(--grid-gap-half-sm);
      }
    }

    &_lg {
      margin-left: var(--grid-gap-half-lg-);
      margin-right: var(--grid-gap-half-lg-);

      &:last-child {
        margin-bottom: var(--grid-gap-lg-);
      }

      & > .ui-col {
        margin-bottom: var(--grid-gap-lg);
        padding-left: var(--grid-gap-half-lg);
        padding-right: var(--grid-gap-half-lg);
      }
    }
  }


  &_type {
    &_only-row {
      &:last-child {
        margin-bottom: 0;
      }

      & > .ui-col {
        margin-bottom: 0;
      }
    }
  }
}

