mixin ui-grid(data)
  -
    data = data || {};
    var type = data.type ? `ui-grid_type_${data.type}` : '';
    var size = data.size ? `ui-grid_size_${data.size}` : '';

  .ui-grid(class=type class=size)
    block
