extends ../template

include ../../components/button/button

block append settings
  -
    page.title = 'Ваш цифровой проектный офис';
    page.isShortFooter = true;


block page-body

  .page-intro
    ._container.container
      ._header
        a._return(href='/sign-in' title='Вернуться к авторизации') Вернуться к авторизации

      ._body
        form.intro-box._box(action='#' method='post')
          ._inner
            ._header
              h1._heading.is-small Ваш цифровой проектный офис
              p._caption Регистрация нового пользователя

            ._body
              ._fields
                .form-group._group
                  input.input-text.is-round.is-large(type='email' placeholder='Введите E-mail' name='')

                .form-group._group.js-password
                  ._icon.js-password-toggle
                    i.fe.fe-eye-off
                  input.input-text.is-round.is-large.js-password-input(type='password' placeholder='Введите пароль' name='')

              p._hint Надёжный пароль должен быть не менее 8 символов и содержать прописные и строчные буквы, цифры и символы

              ._recaptcha
                img(src='__static__img/content/recaptcha.png' alt='')

              p._hint.is-darken Продолжая, вы соглашаетесь с 
                a._link(href='#' title='Условиями использования') Условиями использования
                | и
                a._link(href='#' title='Политикой конфиденциальности') Политикой конфиденциальности Росинфра

              +button({
                title: 'Зарегистрироваться',
                type: 'is-primary is-round',
                size: 'is-large'
              }, {
                class: 'intro-box__button'
              })

            ._helpers
              ._helper Уже есть аккаунт?
                a._link(href='/sign-in/' title='Войти') Войти
