extends ../template

include ../../components/button/button

block append settings
  -
    page.title = 'Регистрация завершена';
    page.isShortFooter = true;


block page-body

  .page-intro
    ._container.container
      ._body
        .intro-box._box.is-medium
          ._inner
            ._icon
              img._img(src='__static__img/general/alert/password-change.svg' alt='')

            ._header
              h1._heading Регистрация завершена
              p._caption Теперь вы можете продолжить работу с платформой.

              +button({
                  href: '#',
                  title: 'Перейти в личный кабинет',
                  type: 'is-primary is-round',
                  size: 'is-large'
              }, {
                  class: 'intro-box__button'
              })
