.ui-button {
  padding: 13px 15px;
  display: inline-block;
  min-width: 100px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-overflow: ellipsis;
  text-decoration: none;
  border: 1px solid;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 4px;
  appearance: none;
  transition: 0.3s;

  @include breakpoint($lg-breakpoint) {
    font-size: var(--font-size-md);
  }


  &_type {
    &_primary {
      color: var(--white-color);
      border-color: var(--primary-color);
      background-color: var(--primary-color);

      &:hover {
        color: var(--white-color);
        border-color: darken($primary-color, 7%);
        background-color: darken($primary-color, 7%);
      }
    }

    &_success {
      color: var(--white-color);
      border-color: var(--success-color);
      background-color: var(--success-color);
    }

    &_danger {
      color: var(--white-color);
      border-color: var(--danger-color);
      background-color: var(--danger-color);
    }

    &_secondary {
      color: var(--primary-color);
      border-color: var(--background-color);
      background-color: var(--background-color);

      &:hover {
        color: var(--white-color);
        border-color: darken($primary-color, 7%);
        background-color: darken($primary-color, 7%);
      }
    }

    &_white {
      color: var(--primary-color);
      border-color: var(--white-color);
      background-color: var(--white-color);
    }

    &_secondary-outline {
      color: var(--body-color);
      border-color: var(--border-color-dark);
      border-width: 2px;
      background-color: transparent;

      &:hover {
        border-color: var(--border-color);
        background-color: var(--border-color);
      }
    }

    &_load {
      color: var(--muted-color);
      border-color: var(--white-color);
      background-color: var(--white-color);
      box-shadow: 0 0 20px rgba(35, 52, 107, 0.05);

      .fe {
        position: relative;
        top: 2px;
        margin-left: 9px;
        font-size: 1.05em;
      }
    }
  }


  &_size {
    &_xs {
      padding: 7px 20px;
      font-size: var(--font-size-xs);
    }

    &_sm {
      padding: 12px 20px;
      font-size: var(--font-size-sm);
    }

    &_md {
      //padding: 14px 30px;
      padding: 14px 20px;
    }

    &_lg {
      padding: 17px 28px;
    }

    &_xl {
      padding: 15px 20px;

      @include breakpoint($md-breakpoint) {
        font-size: var(--font-size-md);
      }

      @include breakpoint($lg-breakpoint) {
        padding: 17px 25px;
        font-size: var(--font-size-lg);
      }

      @include breakpoint($xl-breakpoint) {
        padding: 19px 30px;
      }
    }

    &_xxl {
      padding: 15px 20px;

      @include breakpoint($lg-breakpoint) {
        padding: 17px 25px;
      }

      @include breakpoint($xl-breakpoint) {
        padding: 22px 30px;
      }
    }
  }


  &_round {
    border-radius: 35px;
  }


  &_block {
    display: block;
    width: 100%;
  }


  &_icon {
    padding: 0;
    min-width: 0;
    width: 45px;
    height: 45px;
    color: var(--muted-color);
    font-size: var(--font-size-lg);
    border-radius: 50%;
  }

  & > .icon {
    margin-left: 10px;
  }
}
