mixin ui-button(data, attrs)
  -
    data = data || {};
    attrs = attrs || {};

    var tag = data.href ? 'a' : 'button';
    var type = data.type || 'primary';
    var size = data.size || 'md';
    var blockClass = data.block ? 'ui-button_block' : '';
    var iconClass = data.icon ? 'ui-button_icon' : '';
    var roundClass = (!data.round && data.round !== false) ? 'ui-button_round' : '';

    if (data.href) {
      attrs.href = data.href
    }

  #{tag}.ui-button(class=`ui-button_type_${type} ui-button_size_${size} ${roundClass} ${blockClass} ${iconClass}`)&attributes(attrs)
    span.ui-button__title
      block
