mixin menu-sections(data, attrs)
  ul.menu-sections&attributes(attrs)
    each item in data
      li._item(class=(item.isActive ? 'is-active' : ''))
        a._link.js-menu-section-link(href=item.href title=item.title)= item.title
