.menu-sections {
  padding-left: 0;
  list-style: none;

  &__item {
    color: $muted-color;
    border-bottom: 2px solid $white-color;

    &:last-child {
      margin-bottom: 0;
    }

    &.is-active {
      color: $primary-color;
    }
  }

  &__link {
    padding: 16px 10px 15px 20px;
    display: block;
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    background-color: $bg-color;

    @include breakpoint($xl-breakpoint) {
      padding: 18px 25px 17px;
    }
  }
}
