.section-slider {
  &__body {
    position: relative;
    margin: -7.5px;


    @include breakpoint($lg-breakpoint) {
      margin: -12.5px;
    }

    @include breakpoint($xl-breakpoint) {
      margin: -17px;
      overflow: hidden;
    }

    &.js-section-slider-partners {
      .section-slider {
        &__slide {
          padding-left: 0;
          padding-right: 0;
          width: 50%;

          @include breakpoint($sm-breakpoint) {
            width: 33.3334%;
          }

          @include breakpoint($lg-breakpoint) {
            width: 20%;
          }

          @include breakpoint($xl-breakpoint) {
            width: 16.6667%;
          }
        }
      }
    }

    &.js-section-slider-vocabularies {
      .section-slider {
        &__slide {
          width: 100%;

          @include breakpoint($sm-breakpoint) {
            width: 50%;
          }

          @include breakpoint($lg-breakpoint) {
            width: 33.3334%;
          }

          @include breakpoint($xl-breakpoint) {
            width: 25%;
          }
        }
      }
    }
  }

  &__inner{
    //padding: 30px 0;
    padding: 15px 0;
    position: relative;
    background: #F5F6F8;

    @include breakpoint($lg-breakpoint) {
      padding: 30px 0;
    }

    &:before{
      content: '';
      position: absolute;
      left: 100%;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: #F5F6F8;
    }

    &:after{
      content: '';
      position: absolute;
      right: 100%;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: #F5F6F8;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__slide {
    flex-shrink: 0;
    padding: 7.5px;
    width: 100%;

    @include breakpoint($sm-breakpoint) {
      width: 50%;
    }

    @include breakpoint($lg-breakpoint) {
      padding: 12.5px;
      width: 33.3334%;
    }

    @include breakpoint($xl-breakpoint) {
      padding: 17px;
    }

    &:nth-child(even) {
      .product-card {
        background-color: $danger-color;
      }
    }
  }

  &__controls {
    margin-top: 20px;
    padding: 0 7.5px;

    @include breakpoint($lg-breakpoint) {
      padding: 0 12.5px;
    }

    @include breakpoint($xl-breakpoint) {
      padding: 0 17px;
      margin-top: 22px;
    }
  }
}

.js-expert-slider {
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  &.swiper-container-initialized {
    opacity: 1;
    visibility: visible;
  }
}