include ../partner-card/partner-card
include ../product-card/product-card
include ../expert-card/expert-card
include ../vocabulary-card/vocabulary-card
include ../review-card/review-card
include ../article-card/article-card

include ../slider-nav/slider-nav
include ../slider-counter/slider-counter

include ../button/button

mixin section-slider(data, attrs)
  .section-slider&attributes(attrs)
    ._body(class=(data.className || 'js-section-slider-container'))
      ._wrapper.js-slider-wrapper
        each item in data.slides
          ._slide.js-slider-slide
            case data.type
              when 'partners'
                +partner-card(item)

              when 'products'
                +product-card(item)

              when 'experts'
                +expert-card(item)

              when 'vocabularies'
                +vocabulary-card(item)

              when 'reviews'
                +review-card(item)

              default
                +article-card(item)

    if (data.controls !== false)
      .slider-controls._controls
        ._aside
          +slider-counter

        ._main
          if (data.button)
            +button(data.button)

          if (data.pagination)
            +slider-pagination({})

        ._aside
          +slider-nav
    if (data.controlsMobile !== false)
      .js-slider-bullets
