extends ../../../template

include ../../../../components/badge/badge
include ../../../../components/input-text/input-text
include ../../../../components/input-control/input-control
include ../../../../components/button/button

block append settings
  -
    page.title = 'Основы создания игр';


block page-body

  main.page-main

    // start program-intro
    .program-intro(style='background-image: url(__static__img/content/products/detail.jpg) ')
      ._container.container
        ._main
          ._content
            +badge({
              title: 'Новичок'
            }, {
              class: 'program-intro__badge'
            })

            h1._heading Основы создания игр

            ._date
              ._label
                i.fe.fe-calendar
                | Дата проведения:
              ._value С 25 марта 2020 года

          ._footer
            +badge({
              title: 'Стоимость обучения'
            }, {
              class: 'program-intro__badge'
            })

            ._price 65 000 руб

        ._aside
          form.form-box(action='#' method='post')
            ._header
              ._title Заказ обратного звонка

            ._body
              ._fields
                .form-field.is-splash._field
                  label._label Ваше Имя:
                  +input-text({
                    placeholder: 'Имя'
                  }, {
                    class: 'form-field__input-text'
                  })

                .form-field.is-splash._field
                  label._label Введите номер:
                  +input-text({
                      type: 'tel',
                      placeholder: '+ 7 ( _ _ _ ) _ _ _ - _ _ - _ _'
                  }, {
                      class: 'form-field__input-text'
                  })

                .form-field.is-splash._field
                  label._label Введите почту:
                  +input-text({
                      type: 'email',
                      placeholder: 'E-mail'
                  }, {
                      class: 'form-field__input-text'
                  })

              ._footer
                .form-agree._agree
                  +input-control({
                    type: 'checkbox',
                    label: 'Даю согласие на обработку персональных данных согласно ФЗ№54 РФ'
                  })

                +button({
                  title: 'Отправить',
                  type: 'is-primary'
                }, {
                  class: 'form-box__button'
                })
    // end program-intro

    // start detail-program
    .detail-program
      ._container.container
        ._body
          .main-content._main
            // section-article
            .section-article._article
              ._body
                .content._content
                  h3 Для кого?
                  p Руководители и специалисты региональных органов власти, органов местного самоуправления, корпораций развития, центров развития ГЧП, ответственные за реализацию проектов государственно-частного партнерства, нормативно-правовое и институциональное обеспечение развития сферы ГЧП и обладающие базовыми компетенциями по соответствующим вопросам.
            // end section-article

            // section-article
            .section-article._article
              ._body
                .content._content
                  h4 Содержание:
                  p Имеет знания экологического законодательства, нормативно-технической документации в области санитарно-эпидемиологического и экологического контроля (ГОСТ, СН, ГН, СанПиН) и методической документации (МУ, МУК) на проведение исследований и оценки физических факторов окружающей среды. Опыт обработки результатов измерения, оформления протоколов, заключений специалиста и ведения сопутствующей документации испытательной лаборатории.
                  p Финансовое сопровождение проектов ГЧП и сделок по проектному финансированию в различных секторах инфраструктуры в России и СНГ. Подготовка бизнес-планов, ТЭО, инвестиционных меморандумов и финансовое моделирование. Опыт обработки результатов измерения, оформления протоколов, заключений специалиста и ведения.
                  p Судебный спор, требующий независимую оценку рыночной или иной стоимости спорного объекта недвижимости. Специализируется на оценке недвижимости в рамках гражданского, арбитражного процесса, а также на обращениях в частном порядке (на основе ФЗ "Об оценочной деятельности" и действующих федеральных стандартов оценки).
            // end section-article

            // section-article
            .section-article._article
              ._body
                .content._content
                  h4 Содержание:
                  p Имеет знания экологического законодательства, нормативно-технической документации в области санитарно-эпидемиологического и экологического контроля (ГОСТ, СН, ГН, СанПиН) и методической документации (МУ, МУК) на проведение исследований и оценки физических факторов окружающей среды. Опыт обработки результатов измерения, оформления протоколов, заключений специалиста и ведения сопутствующей документации испытательной лаборатории.
                  p Финансовое сопровождение проектов ГЧП и сделок по проектному финансированию в различных секторах инфраструктуры в России и СНГ.
            // end section-article

          ._aside
            // start category-card
            .category-card._category
              ._grid
                ._main
                  span._title 100% онлайн
                  p._caption Учитесь в любое время и в любом месте

                ._aside
                  ._icon
                    img._img(src='__static__img/content/categories/1.svg' alt='')
            // end category-card

            // start category-card
            .category-card._category
              ._grid
                ._main
                  span._title Гибкие сроки
                  p._caption Учитесь по собственному графику

                ._aside
                  ._icon
                    img._img(src='__static__img/content/categories/2.svg' alt='')
            // end category-card

            // start category-card
            .category-card._category
              ._grid
                ._main
                  span._title Доступ к курсу
                  p._caption В течение 60 дней

                ._aside
                  ._icon
                    img._img(src='__static__img/content/categories/3.svg' alt='')
            // end category-card

            // start category-card
            .category-card._category
              ._grid
                ._main
                  span._title Тестирование
                  p._caption Контроль усвоения материала

                ._aside
                  ._icon
                    img._img(src='__static__img/content/categories/4.svg' alt='')
            // end category-card

            // start category-card
            .category-card._category
              ._grid
                ._main
                  span._title Сертификат
                  p._caption По результатам обучения

                ._aside
                  ._icon
                    img._img(src='__static__img/content/categories/5.svg' alt='')
            // end category-card
    // end detail-program
