extends ../../../template

include ../../../../components/section-intro/section-intro
include ../../../../components/section-default/section-default
include ../../../../components/section-slider/section-slider
include ../../../../components/categories-slider/categories-slider
include ../../../../components/section-feedback/section-feedback

include ../../../../components/product-card/product-card

include ../../../../components/select/select
include ../../../../components/button/button

block append settings
	-
		page.title = 'Программы';


block page-body

	main.page-main

		// start main-header
		.main-header._header
			._container.container
				._content
					h1.main-heading._heading= page.title
		// end main-header

		// start main-sorting
		.main-sorting._sorting
			._container.container
				._main
					._filters
						._filter
							label._label Сортировка:
							+select({
								type: 'is-clear',
								options: [{
									title: 'По дате добавления'
								}, {
									title: 'Опция 2'
								}, {
									title: 'Опция 3'
								}, {
									title: 'Опция 4'
								}]
							}, {
								'data-width': 'auto'
							})

				._aside
					._filters
						._filter
							label._label Всего программ:
							._value 10

						._filter
							label._label Бесплатно:
							._value 10
		// end main-sorting

		// start main-body
		.main-body._body
			._container.container

				.section-layout.is-bg-bottom._section-layout
					._body
						._grid
							each item in db_programs
								._column
									+product-card(item)

					._footer
						+button({
								type: 'is-load',
								title: 'Показать ещё'
						})
		// end main-body
