.socials-small{

  &.is-inline{
    .socials-small{
      &__body{
        align-items: center;
        flex-direction: column;
      }

      &__aside{
        margin: 0 0 30px 0;
      }

      &__title{
        font-weight: 200;
        font-size: 20px;
      }

      &__item{
        margin-right: 15px;

        &:last-child{
          margin-right: 0;
        }
      }

      &__link{
        width: 48px;
        height: 48px;
      }
    }
  }

  &__body{
    display: flex;
    align-items: center;
  }

  &__aside{
    margin-right: 25px;
  }

  &__title{
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;
  }

  &__list{
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item{
    margin-right: 10px;

    &:last-child{
      margin-right: 0;
    }
  }

  &__link{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;

    border-radius: 50%;

    &.is-facebook{
      background: #3B5998;
    }

    &.is-telegram{
      background: linear-gradient(203.2deg, #37AEE2 21.67%, #1E96C8 70%);
    }

    &.is-whatsapp{
      background: #25D366;
    }

    &.is-vk{
      background: #4C6C91;
    }

    &.is-twitter{
      background: #55ACEE;
    }

    img{
      transition: 0.51s;
    }

    &:hover{
      img{
        transform: scale(1.2);
      }
    }
  }
}