@import "mmenu-js/dist/mmenu";
@import "nouislider/distribute/nouislider";
@import "select2/dist/css/select2";
@import "remodal/dist/remodal";
@import "remodal/dist/remodal-default-theme";
@import "jquery.scrollbar/jquery.scrollbar";
@import "flatpickr/dist/flatpickr";
@import "dropzone/dist/dropzone";
@import "timepicker/jquery.timepicker";
@import "@fancyapps/fancybox/dist/jquery.fancybox";

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
  background-color: $primary-color;
  border-color: $primary-color;
}

.is-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fancybox-bg {
  background-color: $primary-color;
}

.fancybox-inner {
  backdrop-filter: blur(5px);
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.6;
}

.mm-menu {
  color: $primary-color;
}

.mm-navbar {
  border-color: $border-color;
  background-color: $white-color;

  &__title {
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.mm-navbars_bottom {
  .mm-navbar:first-child {
    border-color: $border-color;
  }
}

.mm-panels {
  background-color: $white-color;
}

.mm-panel {
  background-color: $white-color;

  &::after {
    display: none;
  }
}

.mm-listitem {
  color: $primary-color;
  font-weight: 500;
  border-color: $border-color;

  &:after {
    left: 0;
  }

  &__text {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;

    & > .panel-search__input-control {
      margin: -12px -15px;
      line-height: 1.2;
      white-space: normal;

      .input-control {
        &__label {
          position: relative;
          top: 2px;
        }
      }
    }
  }

  &__btn {
    padding-right: 40px;
  }
}

.mm-btn {
  width: 40px;

  &_prev {
    &:before {
      @extend .fe;
      content: '\e92f';
      display: flex;
      align-items: center;
      left: 15px;
      right: auto;
      width: auto;
      height: auto;
      border: 0;
      transform: none;
    }
  }

  &_next {
    &:after {
      @extend .fe;
      content: '\e930';
      display: flex;
      align-items: center;
      right: 15px;
      width: auto;
      height: auto;
      border: 0;
      transform: none;
    }

    &.mm-listitem__btn {
      &::after {
        right: 13px;
      }
    }
  }
}

.remodal-overlay {
  background-color: rgba($primary-color, 0.1);
}

.modal {
  padding: 0;
  max-width: 406px;
  color: $body-color;
  text-align: left;
  background-color: $white-color;
  box-shadow: 0 11px 50px rgba(35, 52, 107, 0.1);
  border-radius: 5px;

  &.is-medium {
    max-width: 630px;
  }

  &.is-large {
    max-width: 860px;

    @include breakpoint($md-breakpoint) {
      font-size: 16px;
    }

    .modal {
      &__header {
        padding: 20px 15px;
        text-align: left;

        @include breakpoint($md-breakpoint) {
          padding: 25px 30px;
        }

        @include breakpoint($lg-breakpoint) {
          padding: 30px 50px;
        }
      }

      &__body {
        padding: 20px 15px;

        @include breakpoint($md-breakpoint) {
          padding: 25px 30px;
        }

        @include breakpoint($lg-breakpoint) {
          padding: 30px 50px 40px;
        }
      }
    }
  }

  &__close {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    border: 0;
    background: url('data:image/svg+xml,%3Csvg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M2 2L13.8857 13.8857" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M2.48047 14L14.3661 2.11433" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E%0A');

    &--expert{
      padding: 0;
      background: 0 !important;

      @include breakpoint($lg-breakpoint){
        background: url('data:image/svg+xml,%3Csvg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M2 2L13.8857 13.8857" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M2.48047 14L14.3661 2.11433" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E%0A') !important;
      }
    }

    &-mobile{
      @include breakpoint($lg-breakpoint){
        display: none;
      }
    }

  }

  &__header {
    padding: 25px 10px;
    text-align: center;
    border-bottom: 1px solid $border-color;
  }

  &__title {
    color: $primary-color;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    text-align: center;

    &.is-large {
      font-size: 22px;

      @include breakpoint($md-breakpoint) {
        font-size: 26px;
      }

      @include breakpoint($lg-breakpoint) {
        font-size: 30px;
      }

      @include breakpoint($xl-breakpoint) {
        font-size: 32px;
      }
    }

    &.is-center {
      text-align: center;
    }
  }

  &__body {
    padding: 30px 35px;

    &.is-center {
      text-align: center;
    }
  }

  &__group {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__heading {
    margin: 0 0 15px;
    font-size: 18px;

    @include breakpoint($md-breakpoint) {
      margin-bottom: 20px;
      font-size: 20px;
    }

    @include breakpoint($lg-breakpoint) {
      margin-bottom: 25px;
    }
  }

  &__content {
    line-height: 1.35;
    text-align: justify;
  }

  &__properties-dots {
    margin: 0;
  }

  &__field {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__footer {
    margin-top: 20px;
  }

  &__button {
    width: 100%;
  }

  &__agree {
    margin-top: 20px;
  }

  &__form {
    border-top: 1px solid $border-color;
  }
}

.scroll-element {
  position: absolute;
  background-color: $bg-color-dark;
  overflow: hidden;
  border-radius: 3px;

  &.scroll-y {
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;

    .scroll-bar {
      left: 0;
      width: 100%;
    }
  }

  .scroll-element_outer,
  .scroll-element_size,
  .scroll-element_track{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .scroll-bar {
    position: absolute;
    background-color: $accent-color;
    cursor: pointer;
    border-radius: 3px;
  }
}

.noUi-target {
  position: relative;
  z-index: 1;
  margin: 0 8px;
  height: 4px;
  border: 0;
  background-color: $bg-color;
  border-radius: 2px;
  box-shadow: none;

  &::before {
    content: '';
    position: absolute;
    left: -8px;
    z-index: -1;
    right: -8px;
    height: 100%;
    background-color: inherit;
  }

  &.is-secondary {
    height: 3px;

    .noUi-connect {
      background-color: $gray-color;
    }

    &.noUi-horizontal {
      .noUi-handle {
        width: 17px;
        height: 17px;
        border: 4px solid $gray-color;
      }
    }
  }
}

.noUi-connect {
  background-color: $primary-color;
}

.noUi-handle {
  outline: 0;
  border: 3px solid $primary-color;
  background-color: $white-color;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: none;

  &::before, &::after {
    display: none;
  }
}

.noUi-horizontal .noUi-handle {
  top: -7px;
  right: -9px;
  width: 18px;
  height: 18px;
}

.button{
  &--red, &-red{
    color: #fff;
    background: #B52528;
    border-color: #B52528 !important;
  }

  &--round, &-round{
    border-radius: 35px;
  }

  &--block, &-block{
    width: 100%;
  }

  &--dark, &-dark{
    color: #fff;
    background: #23346B;
    border-color: #23346B;

    &.button-round, &.button--round{
      border-radius: 25px;
    }
  }

  &--gray, &-gray{
    color: #505C83;
    background: 0;
    border-color: #DDE0E9;

    &.button-round, &.button--round{
      border-radius: 25px;
    }
  }
}


.dropzone{
  height: 100px;
  min-height: 100px;

  padding: 10px;

  background: #F5F6F8;
  border-radius: 5px;
  border: 1px dashed #BDC2D2;
}

.dz-message{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  margin: 0 !important;
}

.dz-button{
  display: flex;
  align-items: center;
  flex-direction: column;

  color: #505C83;
  text-align: center;

  span{
    color: #9199B5;
  }
}

.dropzone .dz-preview .dz-image{
  width: 100px;
  height: 75px;
}

.dropzone .dz-preview{
  margin: 0;
  min-height: auto;
}

.dropzone .dz-preview .dz-details{
  padding: 10px;
}

.mm-wrapper_opening .page__wrapper {
  position: relative;
}

.page__wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($primary-color, 0.6);
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(2px);
  transition: 0.3s;
  will-change: backdrop-filter;
}

.mm-wrapper_opening .page__wrapper::after {
  z-index: 999;
  opacity: 1;
  visibility: visible;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 290px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;

  .aside-widget__header {
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.slideout-open .page__wrapper {
  box-shadow: inset 0 11px 15px rgba(35, 52, 107, 0.05);

  &::after {
    z-index: 999;
    opacity: 1;
    visibility: visible;
  }
}



.jq-checkbox,
.jq-radio {
	vertical-align: -4px;
	width: 14px;
	height: 14px;
	margin: 0 4px 0 0;
	border: 0;
	background: #fff;
	cursor: pointer;
}


.jq-checkbox {
	border-radius: 3px;
}

.jq-checkbox.checked{
	background: #059eef;
}

.jq-checkbox.checked .jq-checkbox__div {
	width: 8px;
	height: 4px;
	margin: 4px 0 0 3px;
	border-bottom: 2px solid #FFF;
	border-left: 2px solid #FFF;
	-webkit-transform: rotate(-50deg);
	transform: rotate(-50deg);
}
.jq-radio {
	border-radius: 50%;
}
.jq-radio.checked .jq-radio__div {
	width: 10px;
	height: 10px;
	margin: 3px 0 0 3px;
	border-radius: 50%;
	background: #059eef;
}

.jq-checkbox,
.jq-radio {
	position: relative;
	display: inline-block;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.jq-checkbox input,
.jq-radio input {
	position: absolute;
	z-index: -1;
	margin: 0;
	padding: 0;
	opacity: 0;
}