extends ../template

include ../../components/section-default/section-default

include ../../components/expert-card/expert-card

include ../../components/select/select
include ../../components/button/button

block append settings
  -
    page.title = 'Эксперты платформы';


block page-body

  main.page-main

    // start main-header
    .main-header._header
      ._container.container
        ._content
          h1.main-heading.is-large._heading= page.title

        ._aside
          +button({
              type: 'is-primary is-round',
              title: 'Стать экспертом'
          }, {
              class: 'main-header__button'
          })
    // end main-header

    // start main-body
    .main-body._body
      ._container.container

        .section-layout.is-bg-bottom._section-layout
          ._body
            ._caption Платформа объединяет ведущих экспертов, обладающих высоким уровнем теоретической подготовки и практическим опытом реализации проектов ГЧП. Разнопрофильный состав экспертов позволяет быстро и эффективно выстраивать работу над проектами, в кратчайшие сроки получать ответы на вопросы, возникающие на этапах подготовки и реализации инфраструктурных и инвестиционных проектов с государственным участием.

            .layout-filter._filter
              ._main
                ._heading Фильтр по экспертам

              ._aside
                +select({
                    type: 'is-clear',
                    placeholder: 'Актвивность эксперта',
                    options: [{
                        title: 'Опция 1'
                    }, {
                        title: 'Опция 2'
                    }, {
                        title: 'Опция 3'
                    }, {
                        title: 'Опция 4'
                    }]
                }, {
                    'data-width': 'auto'
                })

            ._grid
              each item in db_experts
                ._column
                  +expert-card(item)

          ._footer
            +button({
                type: 'is-load',
                title: 'Показать ещё'
            })
    // end main-body
