extends ../template

include ../../components/section-start/section-start
include ../../components/section-default/section-default
include ../../components/section-slider/section-slider
include ../../components/categories-slider/categories-slider

include ../../components/product-card/product-card
include ../../components/helper-card/helper-card
include ../../components/category-card/category-card

include ../../components/badge/badge
include ../../components/button/button
include ../../components/slider-nav/slider-nav
include ../../components/input-text/input-text

block append settings
  -
    page.title = 'Лендинг “Помощь экспертов”';


block page-body

  // start section-start
  +section-start({
    heading: 'Привлечём ведущих экспертов рынка к решению ваших задач',
    caption: 'Сервис для привлечения ведущих экспертов рынка к решению конкретных задач при подготовке и реализации инфраструктурных проектов',
    button: {
      title: 'Стать экспертом',
      type: 'outline-white'
    }
  }, {
    class: 'page-body__section-start'
  })
  // end section-start

  // start section-default
  +section-default({}, {
    class: 'is-bg-bottom page-body__section-categories'
  })
    +categories-slider(db_categories.experts)
  // end section-default

  // start section-default
  +section-default({
    header: {
      main: {
        heading: {
          title: 'Услуги экспертной помощи'
        },
      }
    }
  }, {
    class: 'js-section-slider page-body__section-default'
  })
    +section-slider({
      type: 'products',
      slides: db_services.default,
      controls: false
    })
  // end section-default

  // start section-default
  +section-default({}, {
    class: 'is-secondary page-body__section-default'
  })
    +helper-card({
      heading: 'Подключите личного цифрового помощника на рынке ГЧП и инфраструктуры',
      list: ['Экспертная помощь в режиме online', 'Содействие в запуске проектов', 'Доступ к лучшим практикам', 'База партнеров и инвесторов'],
      price: {
        small: 'От',
        value: '33 000',
        currency: '₽ / в месяц'
      },
      buttons: [{
        href: '#',
        title: 'Для власти',
        type: 'is-primary is-round',
        size: 'is-average'
      }, {
        href: '#',
        title: 'Для бизнеса',
        type: 'is-primary is-round',
        size: 'is-average'
      }]
    })
  // end section-default

  // start section-default
  +section-default({
    header: {
      main: {
        heading: {
          title: 'Вам также могут быть интересны услуги'
        }
      },

      aside: {
        button: {
            href: '#',
            title: 'Все профессиональные направления',
            type: 'is-secondary is-round'
        }
      }
    }
  }, {
    class: 'js-section-slider page-body__section-default'
  })
    +section-slider({
      type: 'products',
      slides: db_services.others
    })
  // end section-default

  // start section-default
  +section-default({
    header: {
      main: {
        heading: {
          title: 'Эксперты-преподаватели'
        },
      },

      aside: {
          button: {
              href: '#',
              title: 'Смотреть всех',
              type: 'is-primary is-round',
              size: 'is-average'
          }
      }
    },
  }, {
    class: 'js-section-slider page-body__section-default'
  })
    +section-slider({
      slides: db_experts,
      type: 'experts',
      className: 'js-section-slider-vocabularies'
    })

  // start section-default
  +section-default({
    header: {
      main: {
        heading: {
          title: 'Как стать экспертом платформы?',
          isCentered: true
        }
      }
    }
  }, {
    class: 'page-body__section-default',
    'data-scroll-id': 'become-expert'
  })
    .section-layout
      ._body
        ._grid.is-steps
          each item in db_categories.steps
            ._column
              +category-card(item)
  // end section-default

  // start section-default
  +section-default({}, {
    class: 'is-secondary page-body__section-default'
  })
    form.form-box-inline(action='#' method='post')
      ._header
        h2.section-heading._heading Стать экспертом платформы

      ._body
        ._grid
          ._column
            +input-text({
              placeholder: 'Введите ФИО*',
              theme: 'is-round',
              size: 'is-large'
            })

          ._column
            +input-text({
              type: 'email',
              placeholder: 'E-mail*',
              theme: 'is-round',
              size: 'is-large'
            })

          ._column
            +input-text({
              type: 'tel',
              placeholder: 'Номер телефона*',
              theme: 'is-round',
              size: 'is-large'
            })

          ._column.is-button
            +button({
              title: 'Отправить заявку',
              type: 'is-primary is-round',
              size: 'is-large'
            }, {
              class: 'form-box-inline__button'
            })

        .form-agree._agree Нажимая на кнопку “Отправить” вы подтверждаете что ознакомлен(-ы) с политикой конфиденциальности и даёте согласие на обработку персональных данных согласно ФЗ №54
  // end section-default
