extends ../template

include ../../components/section-start/section-start
include ../../components/section-default/section-default
include ../../components/section-slider/section-slider
include ../../components/categories-slider/categories-slider

include ../../components/product-card/product-card
include ../../components/helper-card/helper-card
include ../../components/category-card/category-card

include ../../components/badge/badge
include ../../components/button/button
include ../../components/slider-nav/slider-nav
include ../../components/input-text/input-text

block append settings
  -
    page.title = 'Максим Викторович Ткаченко';


block page-body

  main.page-main

    // start main-body
    .main-body._body
      ._container.container
        ._grid.is-reverse

          // start main-content
          .main-content._content.js-accordion.js-menu-sections-list

            // start main-header
            .main-header._header
              ._container
                ._content
                  h1.main-heading._heading= page.title
            // end main-header

          // end main-content

          // start main-aside
          aside.main-aside._aside.is-secondary
            ._container.js-main-aside-sticky



          // end main-aside
    // end main-body
