extends ../template

include ../../components/menu-aside/menu-aside
include ../../components/submenu/submenu

include ../../components/badge/badge
include ../../components/select/select
include ../../components/button/button
include ../../components/input-text/input-text

block append settings
  -
    page.title = 'Настройки персональной информации';


block page-body

  main.page-main

    // start menu-aside
    +menu-aside([
        {
            href: '#',
            icon: 'home',
            title: 'Главная страница'
        }, {
            href: '#',
            icon: 'briefcase',
            title: 'Проектный офис',
            dropdown: [{
                href: '#',
                title: 'Сводка экспертного офиса'
            }, {
                href: '#',
                title: 'Блиц оценки',
                count: 3
            }, {
                href: '#',
                title: 'Возмездные услуги',
                count: 7
            }, {
                href: '#',
                title: 'Другие активности',
                count: 3
            }]
        }, {
            href: '#',
            icon: 'list',
            title: 'Мои новости'
        }, {
            href: '#',
            icon: 'calendar',
            title: 'Мои мероприятия'
        }, {
            href: '#',
            icon: 'users',
            title: 'Мои компании'
        }, {
            href: '#',
            icon: 'comment',
            title: 'Мои комментарии'
        }, {
            href: '#',
            icon: 'database',
            title: 'Мои подписки'
        }, {
            divider: true
        }, {
            href: '#',
            icon: 'star',
            title: 'Моё избранное'
        }, {
            href: '#',
            icon: 'settings',
            title: 'Настройки'
        },
    ], {
        class: 'page-main__menu-aside'
    })
    // end menu-aside

    // start main-body
    .main-body._body
      ._container.container
        ._grid.is-reverse

          // start main-content
          .main-content._content.js-accordion.js-menu-sections-list

            // start main-header
            .main-header.is-large._header
              ._container
                ._content
                  h1.main-heading._heading= page.title
            // end main-header

            // start main-profile
            .main-profile._profile
              ._container
                ._body
                  block main-profile
            // end main-profile

          // end main-content

          // start main-aside
          aside.main-aside._aside.is-secondary
            ._container.js-main-aside-sticky

              // start aside-profile
              .aside-profile._profile
                ._header
                  +button({
                      href: '#',
                      title: 'Вернуться в кабинет',
                      type: 'is-secondary is-round',
                      size: 'is-small'
                  }, {
                      class: 'aside-profile__button'
                  })

                ._body
                  +submenu({
                      title: 'Меню настроек профиля',
                      items: [{
                          href: '#',
                          title: 'Персональные данные'
                      }, {
                          href: '#',
                          title: 'Настройка предпочтений'
                      }, {
                          href: '#',
                          title: 'Анкета эксперта'
                      }]
                  })
              // end aside-profile

          // end main-aside
    // end main-body
