.feedback-form {
  background-color: $white-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  &__header {
    padding: 15px;
    border-bottom: 1px solid $border-color;

    @include breakpoint($md-breakpoint) {
      padding: 20px;
    }

    @include breakpoint($lg-breakpoint) {
      padding: 25px 30px;
    }

    @include breakpoint($xl-breakpoint) {
      padding: 29px 35px;
    }
  }

  &__body {
    padding: 15px;

    @include breakpoint($md-breakpoint) {
      padding: 20px;
    }

    @include breakpoint($lg-breakpoint) {
      padding: 25px 30px 30px;
    }

    @include breakpoint($xl-breakpoint) {
      padding: 27px 35px 35px;
    }
  }

  &__title {
    color: $primary-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.25;
    text-align: center;

    @include breakpoint($md-breakpoint) {
      font-size: 20px;
    }

    @include breakpoint($lg-breakpoint) {
      font-size: 22px;
      text-align: left;
    }
  }

  &__field {
    margin-bottom: 10px;

    @include breakpoint($lg-breakpoint) {
      margin-bottom: 15px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;
  }

  &__column {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 7.5px;
    padding-left: 7.5px;
    padding-right: 7.5px;

    @include breakpoint($md-breakpoint) {
      flex: 1 1 50%;
      max-width: 50%;
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__footer {
    margin-top: 15px;

    @include breakpoint($sm-breakpoint) {
      display: flex;
      align-items: center;
    }

    @include breakpoint($lg-breakpoint) {
      margin-top: 25px;
    }
  }

  &__form-agree {
    @include breakpoint($sm-breakpoint) {
      flex: 1 1 auto;
      min-width: 0;
    }
  }

  &__button {
    margin-top: 15px;
    width: 100%;

    @include breakpoint($sm-breakpoint) {
      flex: 0 0 auto;
      margin-top: 0;
      margin-left: 20px;
      width: auto;
    }

    @include breakpoint($xl-breakpoint) {
      margin-left: 45px;
    }
  }
}
