include ../../input-text/input-text
include ../../input-control/input-control
include ../../button/button

mixin feedback-form(data)
  .feedback-form
    ._header
      ._title= data.title

    ._body
      form._wrapper
        ._content
          each field in data.fields
            ._field
              if (field.fields)
                ._grid
                  each subfield in field.fields
                    ._column
                      ._field
                        +input-text(subfield)

              else
                +input-text(field)

        ._footer
          .form-agree._agree
            +input-control(data.agree, {
              class: 'form-agree__input-control'
            })

          +button(data.button, {
            class: 'feedback-form__button'
          })
