mixin vocabulary-card(data)
  a.vocabulary-card(href=data.href title='')
    img.img-cover._img(src=data.img.src)

    ._body
      ._content
        h3._heading= data.heading

      ._footer
        .tags._tags
          each tag in data.tags
            ._item= tag.title
