.vocabulary-card {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  height: 100%;
  color: $white-color;
  text-decoration: none;
  background-color: $primary-color;
  overflow: hidden;
  border-radius: $border-radius;

  @include breakpoint($lg-breakpoint) {
    min-height: 180px;
  }

  @include breakpoint($xl-breakpoint) {
    min-height: 256px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba($primary-color, 0.3);
  }

  &__img {
    z-index: -2;
    opacity: 0.5;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    position: relative;
    z-index: 1;
    padding: 15px;

    @include breakpoint($lg-breakpoint) {
      padding: 20px;
    }

    @include breakpoint($xl-breakpoint) {
      padding: 30px 15px 25px 20px;
    }
  }

  &__content {
    flex: 1 1 auto;
    min-width: 0;
  }

  &__heading {
    margin: 0;
    color: inherit;
    font-size: 18px;
    line-height: 1.3;
  }

  &__caption {
    margin: 0;
  }

  &__tags {
    .tags {
      &__item {
        display: none;
        background-color: rgba($bg-color, 0.15);

        &:first-child {
          display: block;
        }
      }
    }
  }

  &__footer {
    flex: 0 0 auto;
    margin-top: 20px;
  }
}

