.categories-slider {
  &__body {
    position: relative;
    margin: -7.5px;
    overflow: hidden;

    @include breakpoint($lg-breakpoint) {
      margin: -12.5px;
    }

    @include breakpoint($xl-breakpoint) {
      margin: -17.5px;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__slide {
    flex-shrink: 0;
    width: 100%;
    padding: 7.5px;

    @include breakpoint($xs-breakpoint) {
      width: 50%;
    }

    @include breakpoint($md-breakpoint) {
      width: 33.3334%;
    }

    @include breakpoint($lg-breakpoint) {
      padding: 12.5px;
      width: 25%;
    }

    @include breakpoint($xl-breakpoint) {
      padding: 17.5px;
    }
  }

  &__pagination {
    margin-top: 15px;

    @include breakpoint($lg-breakpoint) {
      &.slider-pagination {
        display: none;
      }
    }
  }
}
