include ../category-card/category-card
include ../slider-pagination/slider-pagination

mixin categories-slider(data, attrs)
  .categories-slider&attributes(attrs)
    ._body.js-categories-slider
      ._wrapper.js-slider-wrapper
        each item in data
          ._slide.js-slider-slide
            +category-card(item)

      +slider-pagination({}, {
        class: 'categories-slider__pagination'
      })
