.page-header {
  padding: 10px 0;
  color: $primary-color;
  font-weight: 500;
  background-color: $white-color;
  box-shadow: 0 11px 15px rgba(35, 52, 107, 0.05);
  transition: 0.3s;

  @include breakpoint($xl-breakpoint) {
    padding: 16px 0;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__main {
    display: flex;
    align-items: center;
    flex: 0 0 auto;

    @include breakpoint($xl-breakpoint) {
      flex: 1;
      min-width: 0;
    }
  }

  &__aside {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 auto;
    min-width: 0;

    @include breakpoint($xl-breakpoint) {
      flex: 1;
      min-width: 0;
    }
  }

  &__logo {
    flex-shrink: 0;
    // width: 180px;
  }

  &__menu {
    flex: 0 0 auto;
    display: none;

    @include breakpoint($xl-breakpoint) {
      display: block;
    }
  }

  &__language-site {
    display: none;

    @include breakpoint($md-breakpoint) {
      margin-right: 15px;
      display: block;
    }

    @include breakpoint($lg-breakpoint) {
      margin-right: 0;
    }
  }

  &__action {
    margin-right: 5px;

    @include breakpoint($lg-breakpoint) {
      margin-right: 20px;
    }
  }

  &__button {
    margin: 0 5px;
    min-width: 0;

    &.is-secondary {
      border-color: darken($bg-color, 3%);
      background-color: darken($bg-color, 3%);

      &.is-active {
        background-color: $white-color;
      }

      &:hover:not(.is-active) {
        color: $white-color;
        background-color: $primary-color;
      }
    }
  }

  &__actions {
    // display: none;
    transition: 0.3s;

    display: flex;
    align-items: center;

    // @include breakpoint($xs-breakpoint) {
    //   display: flex;
    //   align-items: center;
    // }

    @include breakpoint($md-breakpoint) {
      margin-right: 15px;
    }

    @include breakpoint($lg-breakpoint) {
      margin-right: 20px;
    }
  }

  &__search-button {
    margin-right: 5px;

    &.is-desktop {
      display: none;
    }

    @include breakpoint($md-breakpoint) {
      margin-right: 19px;
    }

    @include breakpoint($lg-breakpoint) {
      display: none;

      &.is-desktop {
        display: block;
      }
    }
  }

  &__login-link {
    @include breakpoint($md-breakpoint) {
      margin-right: 20px;
    }
  }

  &__menu-toggle {
    //margin-left: 20px;
  }

  &__dropdown {
    position: fixed;
    // top: 67px;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s, visibility 0.25s;

    @include breakpoint($xl-breakpoint) {
      top: 79px;
    }
  }

  .footer-body{

    &__container{
      padding: 0 15px;
    }

    &__nav{
      display: block;
    }
  }

  .main-nav{
    &__content{
      @include breakpoint($lg-breakpoint){
        margin: 0;
      }
    }

    &__social{
      display: flex;
      align-items: center;

      margin-top: 70px;

      @include breakpoint($md-breakpoint){
        margin-top: 0;
      }
    }

    &__soc{
      &-main{
        display: flex;
        flex-direction: column;

        @include breakpoint($md-breakpoint){
          display: none;
        }
      }
      &-aside{
        margin-left: auto;
      }

      &-title{
        display: block;
        font-weight: 500;
        color: #23346B;
        font-size: 14px;
      }

      &-label{
        display: block;
        font-size: 10px;
        color: #657198;
      }
    }

    .social-buttons{
      &__item{
        margin-right: 10px;
      }

      &__link{
        width: 45px;
        height: 45px;

        @include breakpoint($md-breakpoint){
          width: 50px;
          height: 50px;
          margin-right: 15px;
        }
      }
    }


    &__list{
      &.is-opened{
        position: relative;
        padding-bottom: 10px;

        border-bottom: 1px solid #F2F3F6;

        .main-nav{
          &__item{
            display: block;
            border-bottom: 0;
          }
        }
      }
    }

    &__item{
      position: relative;
      border-top: 0;
      border: 0;
      margin: 0;

      display: none;

      @include breakpoint($md-breakpoint){
        display: block;
        margin-bottom: 10px;
      }

      &:after{
        display: none;

        @include breakpoint($md-breakpoint){

          content: '';
          position: absolute;
          right: 15px;
          top: calc(50% - 3px);
          width: 9px;
          height: 5px;
          background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1L4.5 4L1 1' stroke='%23BDC2D3' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
      }


      &:first-child{
        display: flex;
        align-items: center;
        border-bottom: 1px solid #F2F3F6;

        @include breakpoint($md-breakpoint){
          border: 0;
        }
      }
    }

    &__link{
      padding-left: 0;
      padding-right: 0;
      color: #657198;
      font-size: 12px;

      &[disabled="true"], &[href="#"]{
        pointer-events: none;
      }

      @include breakpoint($md-breakpoint){
        font-size: 15px;
        font-weight: 400;
      }

      &:before{
        display: none;
      }

      &.is-title{
        display: block;
        position: relative;
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 14px;
        color: #23346B;
        font-weight: 500;
        width: 100%;

        pointer-events: auto;

        @include breakpoint($md-breakpoint){
          font-size: 18px;
          display: inline-block;
          width: auto;
          padding: 0;

          &:hover{
            &:after{
              opacity: 1;
              visibility: visible;
              transition: 0.5s;
              width: 100%;
              height: 1px;
            }
          }
        }

        @include breakpoint($lg-breakpoint){
          padding-bottom: 15px;
          font-size: 24px;
          font-weight: 500;
        }

        &:after{
          content: '';
          position: absolute;
          right: 15px;
          top: calc(50% - 3px);
          width: 9px;
          height: 5px;
          display: block;
          background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1L4.5 4L1 1' stroke='%23BDC2D3' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

          @include breakpoint($md-breakpoint){
            content: '';
            position: absolute;
            left: 0;
            bottom: 8px;
            width: 0;
            height: 0px;
            background: #23346B;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s;
            top: auto;
            right: auto;
          }
        }

        &.is-opened{
          &:after{
            transform: rotate(180deg);
          }
        }

        &:before{
          display: none;
        }
      }
    }
  }
}

.header-dropdown {
  background-color: rgba($primary-color, 0.4);

  // .container {

  //   @include breakpoint($xl-breakpoint) {
  //     padding-left: 67px;
  //     padding-right: 67px;
  //   }
  // }

  &__inner {
    height: 100%;
    background-color: $white-color;
    border-top: 1px solid $border-color;
    overflow: auto;
    box-shadow: 0px 11px 15px rgba(35, 52, 107, 0.05);

    @include breakpoint($lg-breakpoint) {
      height: auto;
      overflow: visible;
    }
  }

  &__header {
    padding: 10px 15px;

    display: none;

    @include breakpoint($md-breakpoint){
      padding: 20px 15px;
      border-bottom: 1px solid $border-color;
    }


    @include breakpoint($lg-breakpoint) {
      display: none;
    }
  }

  &__heading {
    color: $primary-color;
    font-size: 24px;
    font-weight: 500;

    @include breakpoint($lg-breakpoint) {
      font-size: 30px;
    }

    @include breakpoint($xl-breakpoint) {
      font-size: 36px;
    }
  }

  .footer-body__inner{
    padding: 0;

    @include breakpoint($md-breakpoint){
      padding: 30px 0;
    }

    @include breakpoint($xl-breakpoint){
      padding: 60px 0 115px;
    }
  }

  &__body {
    // border-bottom: 1px solid $border-color;

    .footer-body__inner {
      margin-top: -1px;
      padding-top: 0;
      border-bottom: 0;


      @include breakpoint($lg-breakpoint) {
        margin-top: 0;
        padding-top: 30px;
      }
    }

    .footer-menu {
      @include breakpoint($lg-breakpoint) {
        font-size: 16px;
      }

      @include breakpoint($xl-breakpoint) {
        font-size: 18px;
      }
    }
  }

  &__content {
    .footer-content__aside {
      display: flex;
      justify-content: center;
    }
  }
}

