include ../page-footer/footer-menu/footer-menu
include ../social-buttons/social-buttons
include ../button/button

mixin page-header(data)

  header.page-header.js-page-header(class=data.className)

    .info-banner._banner.active
      ._container.container
        span._text Уважаемые пользователи, до 30 апреля мы обновляемся, чтобы стать лучше. Если возникли трудности в работе с платформой, звоните по номеру <a href="tel:+79670010704">+7 (967) 001-07-04</a>

        button._close
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.5">
            <path d="M2 2L11.9047 11.9047" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2.40039 12L12.3051 2.09527" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
          </svg>

    ._body
      ._container.container
        ._main
          a.site-logo._logo(href='/' title='')
            img._img(src='__static__img/general/logo-site.svg' alt='')
            img._img.is-mobile-landscape(src='__static__img/general/logo-site-mobile-landscape.svg' alt='')
            img._img.is-mobile(src='__static__img/general/logo-site-mobile.svg' alt='')

        ._menu
          +button({
              href: '#',
              title: 'Бизнесу',
              type: 'is-secondary is-round is-active',
              size: 'is-small'
          }, {
              class: 'page-header__button'
          })

          +button({
              href: '#',
              title: 'Власти',
              type: 'is-secondary is-round',
              size: 'is-small'
          }, {
              class: 'page-header__button'
          })

        ._aside
          button.search-button._search-button.js-search-mobile-toggle
            i.fe.fe-search

          ._actions
            button.search-button._search-button.is-desktop.js-search-toggle
              i.fe.fe-search

            .language-site._language-site
              ._selected
                img._icon(src='__static__img/content/flags/ru.svg' alt='')
                span._title RU
              ._dropdowns

          a.login-link._login-link(href='#' title='Войти')
            span._title Войти

          //+button({
          //    href: '#',
          //    title: 'Зарегистрироваться',
          //    type: 'is-primary is-round',
          //    size: 'is-small'
          //}, {
          //    class: 'page-header__action'
          //})

          button.menu-toggle._menu-toggle

    .header-dropdown._dropdown
      ._inner
        ._header
          ._heading Меню

        .footer-body
          ._container.container
            ._inner
              ._main
                .main-nav._nav
                  ._body
                    ._content.is-large
                      ._group
                        ul._list
                          li._item
                            a._link.is-title(href="#" title="Решения") Решения
                          li._item
                            a._link(href="#" title="Для бизнеса") Для бизнеса
                          li._item
                            a._link(href="#" title="Для государства") Для государства
                      ._group
                        ul._list
                          li._item
                            a._link.is-title(href="#" title="База проектов") База проектов
                          li._item
                            a._link(href="#" title="Планируемые проекты") Планируемые проекты
                          li._item
                            a._link(href="#" title="Реализуемые проекты") Реализуемые проекты
                          li._item
                            a._link(href="#" title="Объекты под ГЧП") Объекты под ГЧП
                      ._group
                        ul._list
                          li._item
                            a._link.is-title(href="#" title="База партнёров") База партнёров
                          li._item
                            a._link(href="#" title="Подобрать компанию") Подобрать компанию
                          li._item
                            a._link(href="#" title="Подобрать услугу") Подобрать услугу
                          li._item
                            a._link(href="#" title="Публичные партнёры" disabled="true") Публичные партнёры
                      ._group
                        ul._list
                          li._item
                            a._link.is-title(href="#" title="ГЧП-Академия") ГЧП-Академия
                          li._item.is-mobile
                            a._link(href="#" title="Программы") Программы
                          li._item
                            a._link(href="#" title="ГЧП-словарь") ГЧП-словарь
                      ._group
                        ul._list
                          li._item
                            a._link.is-title(href="#" title="Помощь экспертов") Помощь экспертов
                          li._item
                            a._link(href="#" title="Подобрать услугу") Подобрать услугу
                          li._item
                            a._link(href="#" title="Найти эксперта") Найти эксперта
                      ._group
                        ul._list
                          li._item
                            a._link.is-title(href="#" title="Новости") Новости
                          li._item
                            a._link(href="#" title="Мнения экспертов") Мнения экспертов
                          li._item
                            a._link(href="#" title="Анонсы мероприятий") Анонсы мероприятий

                    ._aside.is-large
                      ul._list
                        li._item
                          a._link.is-title(href="#" title="Тренды и аналитика") Тренды и аналитика
                        li._item
                          a._link(href="#" title="Инвестиции в инфраструктуру")  Инвестиции в инфраструктуру
                        li._item
                          a._link(href="#" title="ГЧП в России") ГЧП в России
                        li._item
                          a._link(href="#" title="Библиотека") Библиотека
                        li._item
                          a._link(href="#" title="Национальные проекты") Национальные проекты
                        li._item
                          a._link(href="#" title="Судебная практика и решения ФАС") Судебная практика и решения ФАС

                      ._social
                        ._soc-main
                          span._soc-title Подписаться
                          span._soc-label на актуальные новости
                        ._soc-aside
                          +social-buttons([{
                              href: '#',
                              title: 'Яндекс.Дзен',
                              icon: 'dzen'
                          }, {
                              href: '#',
                              title: 'Facebook',
                              icon: 'facebook'
                          }, {
                              href: '#',
                              title: 'Telegram',
                              icon: 'telegram'
                          }])
