extends ../template

block main-profile

  // start profile-card
  .profile-card._card
    .card-header._header
      ._main
        h2.card-heading._heading 1. Информация об аккаунте

      ._aside

    ._body
      ._group
        h3._title Персональные данные:

        .fields-group._fields-group
          ._main
            ._grid
              ._column
                +input-text({
                    value: 'Ткаченко',
                    name: 'lastname',
                    theme: 'is-medium'
                })

              ._column
                +input-text({
                    value: 'Максим',
                    name: 'name',
                    theme: 'is-medium'
                })

              ._column
                +input-text({
                    value: 'Викторович',
                    name: 'name',
                    theme: 'is-medium'
                })

              ._column
                +input-text({
                    value: '18.12.1989',
                    name: 'date',
                    theme: 'is-medium'
                })

      ._group
        h3._title Адрес электронной почты:

        .fields-group._fields-group
          ._main
            ._grid
              ._column.is-half
                +input-text({
                    type: 'email',
                    value: 'ttpo@yandex.ru',
                    name: 'email',
                    theme: 'is-medium'
                })

              ._column.is-half
                +select({
                    options: [{
                        title: 'Основной'
                    }, {
                        title: 'Дополнительный'
                    }],
                    type: 'is-default'
                })

          ._aside
            +button({
                title: 'Отправить письмо',
                type: 'is-primary'
            })
  // end profile-card
