extends ../template

include ../../components/section-intro/section-intro
include ../../components/section-default/section-default
include ../../components/section-slider/section-slider
include ../../components/categories-slider/categories-slider
include ../../components/section-order/section-order

include ../../components/review-card/review-card

include ../../components/menu/menu
include ../../components/badge/badge
include ../../components/button/button
include ../../components/slider-nav/slider-nav
include ../../components/slider-pagination/slider-pagination

block append settings
  -
    page.title = 'Академия';


block page-body

  .breadcrumbs
    ._container.container
      ul._list
        li._item
          a._link(href="/" title="Главная") Главная
        li._item
          span._link Академия ГЧП

  +button({
      title: 'Получить консультацию',
      type: 'is-danger is-round'
  }, {
      class: 'page-body__button'
  })

  // start section-intro
  +section-intro({
    heading: 'Непрерывное развитие в сфере инфраструктуры и ГЧП',
    caption: 'Сервис для подготовки ведущих экспертов рынка к решению конкретных задач при подготовке и реализации инфраструктурных проектов',
    modal: 'start-study',
  }, {
    class: 'is-academy page-body__section-intro'
  })
  // end section-intro

  // start section-default
  +section-default({}, {
    class: 'page-body__section-default'
  })
    .advants-slider.is-visible
      ._grid
        ._column

          .advant-card
            ._icon
              img._img(src="/assets/img/general/advants/calendar.svg" alt='')
            ._main
              p.card-title._title Гибкий график обучения
              p._caption Программы обучения продолжительностью от нескольких часов до 1 месяца

        ._column

          .advant-card
            ._icon
              img._img(src="/assets/img/general/advants/level.svg" alt='')
            ._main
              p.card-title._title Разноуровневые программы
              p._caption Возможность освоить тему ГЧП с нуля или в разрезе недостающих компетенций

        ._column

          .advant-card
            ._icon
              img._img(src="/assets/img/general/advants/loupe-user.svg" alt='')
            ._main
              p.card-title._title Индивидуальный подход
              p._caption Выстраивание индивидуальной траектории развития

        ._column

          .advant-card
            ._icon
              img._img(src="/assets/img/general/advants/user-check.svg" alt='')
            ._main
              p.card-title._title Квалифицированные преподаватели
              p._caption Ведущие эксперты с опытом реализации проектов ГЧП
  // end section-default

  // end main-body
  // start section-default
  +section-default({
    header: {
      main: {
        heading: {
          title: 'Программы обучения'
        },
      },

      aside: {
        button: {
          href: '#',
          title: 'Больше программ',
          type: 'is-primary is-round is-average'
        }
      }
    },
  }, {
    class: 'js-section-slider page-body__section-default'
  })
    +menu([
        {
            href: '#',
            title: 'Популярные',
            isActive: true
        }, {
            href: '#',
            title: 'Бесплатные программы'
        }, {
            href: '#',
            title: 'Онлайн программы'
        }, {
            href: '#',
            title: 'Для новичков'
        }, {
            href: '#',
            title: 'Для специалистов'
        }, {
            href: '#',
            title: 'Повышение квалификации'
        }
    ], {
        class: 'is-tabs-menu section-body__menu'
    })
    .section-slider
      ._body.js-section-slider-container
        ._wrapper.js-slider-wrapper
          ._slide.js-slider-slide
            // start program-card
            .program-card
              ._header
                ._photo
                  img.img-cover._img(src='__static__img/content/programs/1.jpg' alt='')

                ._content
                  ._badges
                    +badge({
                        title: 'Курс',
                        type: 'is-danger is-round',
                        size: 'is-small'
                    }, {
                        class: 'program-card__badge'
                    })

                  h3._heading Концессия и ГЧП: <br>базовый курс

                  .program-info._info
                    ._main
                      ._item Гибкие сроки обучения
                      ._item 7 акад. часов

                    ._aside
                      ._price 9 900 ₽

                ._back
                  +button({
                      title: 'Начать обучение',
                      type: 'is-danger is-round',
                      size: 'is-large'
                  }, {
                      class: 'program-card__button',
                      'data-remodal-target': 'start-study'
                  })

                  a._more(href='#' title='Подробнее о программе') Подробнее о программе
            // end program-card

          ._slide.js-slider-slide
            // start program-card
            .program-card
              ._header
                ._photo
                  img.img-cover._img(src='__static__img/content/programs/1.jpg' alt='')

                ._content
                  ._badges
                    +badge({
                        title: 'Курс',
                        type: 'is-danger is-round',
                        size: 'is-small'
                    }, {
                        class: 'program-card__badge'
                    })

                  h3._heading Концессия и ГЧП: продвинутый курс

                  .program-info._info
                    ._main
                      ._item Гибкие сроки обучения
                      ._item 18,5 акад. часов

                    ._aside
                      ._price 29 900 ₽

                ._back
                  +button({
                      title: 'Начать обучение',
                      type: 'is-danger is-round',
                      size: 'is-large'
                  }, {
                      class: 'program-card__button',
                      'data-remodal-target': 'start-study'
                  })

                  a._more(href='#' title='Подробнее о программе') Подробнее о программе
            // end program-card

          ._slide.js-slider-slide
            // start program-card
            .program-card
              ._header
                ._photo
                  img.img-cover._img(src='__static__img/content/programs/1.jpg' alt='')

                ._content
                  ._badges
                    +badge({
                        title: 'Видеолекция',
                        type: 'is-danger is-round',
                        size: 'is-small'
                    }, {
                        class: 'program-card__badge'
                    })

                  h3._heading Реализация проектов ГЧП в сфере здравоохранения

                  .program-info._info
                    ._main
                      ._item Гибкие сроки обучения
                      ._item 1,4 акад. часа

                    ._aside
                      ._price 2 900 ₽

                ._back
                  +button({
                      title: 'Начать обучение',
                      type: 'is-danger is-round',
                      size: 'is-large'
                  }, {
                      class: 'program-card__button',
                      'data-remodal-target': 'start-study'
                  })

                  a._more(href='#' title='Подробнее о программе') Подробнее о программе
            // end program-card

          ._slide.js-slider-slide
            // start program-card
            .program-card
              ._header
                ._photo
                  img.img-cover._img(src='__static__img/content/programs/1.jpg' alt='')

                ._content
                  ._badges
                    +badge({
                        title: 'Видеолекция',
                        type: 'is-danger is-round',
                        size: 'is-small'
                    }, {
                        class: 'program-card__badge'
                    })

                  h3._heading Реализация проектов ГЧП в транспортной сфере

                  .program-info._info
                    ._main
                      ._item Гибкие сроки обучения
                      ._item 2 акад. часа

                    ._aside
                      ._price 2 900 ₽

                ._back
                  +button({
                      title: 'Начать обучение',
                      type: 'is-danger is-round',
                      size: 'is-large'
                  }, {
                      class: 'program-card__button',
                      'data-remodal-target': 'start-study'
                  })

                  a._more(href='#' title='Подробнее о программе') Подробнее о программе
            // end program-card
          ._slide.js-slider-slide
            // start program-card
            .program-card
              ._header
                ._photo
                  img.img-cover._img(src='__static__img/content/programs/1.jpg' alt='')

                ._content
                  ._badges
                    +badge({
                        title: 'Видеолекция',
                        type: 'is-danger is-round',
                        size: 'is-small'
                    }, {
                        class: 'program-card__badge'
                    })

                  h3._heading Реализация проектов ГЧП в сфере теплоснабжения, водоснабжения и водоотведения

                  .program-info._info
                    ._main
                      ._item Гибкие сроки обучения
                      ._item 2 акад. часа

                    ._aside
                      ._price 2 900 ₽

                ._back
                  +button({
                      title: 'Начать обучение',
                      type: 'is-danger is-round',
                      size: 'is-large'
                  }, {
                      class: 'program-card__button',
                      'data-remodal-target': 'start-study'
                  })

                  a._more(href='#' title='Подробнее о программе') Подробнее о программе
            // end program-card
          ._slide.js-slider-slide
            // start program-card
            .program-card
              ._header
                ._photo
                  img.img-cover._img(src='__static__img/content/programs/1.jpg' alt='')

                ._content
                  ._badges
                    +badge({
                        title: 'Видеолекция',
                        type: 'is-danger is-round',
                        size: 'is-small'
                    }, {
                        class: 'program-card__badge'
                    })

                  h3._heading Реализация проектов ГЧП в сфере обращения с ТКО

                  .program-info._info
                    ._main
                      ._item Гибкие сроки обучения
                      ._item 2 акад. часа

                    ._aside
                      ._price 2 900 ₽

                ._back
                  +button({
                      title: 'Начать обучение',
                      type: 'is-danger is-round',
                      size: 'is-large'
                  }, {
                      class: 'program-card__button',
                      'data-remodal-target': 'start-study'
                  })

                  a._more(href='#' title='Подробнее о программе') Подробнее о программе
            // end program-card
          ._slide.js-slider-slide
            // start program-card
            .program-card
              ._header
                ._photo
                  img.img-cover._img(src='__static__img/content/programs/1.jpg' alt='')

                ._content
                  ._badges
                    +badge({
                        title: 'Видеолекция',
                        type: 'is-danger is-round',
                        size: 'is-small'
                    }, {
                        class: 'program-card__badge'
                    })

                  h3._heading Реализация инфраструктурных проектов в отношении объектов культурного наследия

                  .program-info._info
                    ._main
                      ._item Гибкие сроки обучения
                      ._item 2 акад. часа

                    ._aside
                      ._price 2 900 ₽

                ._back
                  +button({
                      title: 'Начать обучение',
                      type: 'is-danger is-round',
                      size: 'is-large'
                  }, {
                      class: 'program-card__button',
                      'data-remodal-target': 'start-study'
                  })

                  a._more(href='#' title='Подробнее о программе') Подробнее о программе
            // end program-card
          ._slide.js-slider-slide
            // start program-card
            .program-card
              ._header
                ._photo
                  img.img-cover._img(src='__static__img/content/programs/1.jpg' alt='')

                ._content
                  ._badges
                    +badge({
                        title: 'Видеолекция',
                        type: 'is-danger is-round',
                        size: 'is-small'
                    }, {
                        class: 'program-card__badge'
                    })

                  h3._heading Реализация проектов ГЧП в области физической культуры и спорта

                  .program-info._info
                    ._main
                      ._item Гибкие сроки обучения
                      ._item 2 акад. часа

                    ._aside
                      ._price 0 ₽

                ._back
                  +button({
                      title: 'Начать обучение',
                      type: 'is-danger is-round',
                      size: 'is-large'
                  }, {
                      class: 'program-card__button',
                      'data-remodal-target': 'start-study'
                  })

                  a._more(href='#' title='Подробнее о программе') Подробнее о программе
            // end program-card
          ._slide.js-slider-slide
            // start program-card
            .program-card
              ._header
                ._photo
                  img.img-cover._img(src='__static__img/content/programs/1.jpg' alt='')

                ._content
                  ._badges
                    +badge({
                        title: 'Программа повышения квалификации',
                        type: 'is-danger is-round',
                        size: 'is-small'
                    }, {
                        class: 'program-card__badge'
                    })

                  h3._heading Управление инвестиционными проектами, реализуемыми на принципах ГЧП

                  .program-info._info
                    ._main
                      ._item 12 - 23 октября 2020 года
                      ._item 54 акад. часа

                    ._aside
                      ._price 59 900 ₽

                ._back
                  +button({
                      title: 'Начать обучение',
                      type: 'is-danger is-round',
                      size: 'is-large'
                  }, {
                      class: 'program-card__button',
                      'data-remodal-target': 'start-study'
                  })

                  a._more(href='#' title='Подробнее о программе') Подробнее о программе
            // end program-card
          ._slide.js-slider-slide
            // start program-card
            .program-card
              ._header
                ._photo
                  img.img-cover._img(src='__static__img/content/programs/1.jpg' alt='')

                ._content
                  ._badges
                    +badge({
                        title: 'Программа повышения квалификации ',
                        type: 'is-danger is-round',
                        size: 'is-small'
                    }, {
                        class: 'program-card__badge'
                    })

                  h3._heading Финансовое моделирование в проектах ГЧП: практические аспекты

                  .program-info._info
                    ._main
                      ._item 25 - 27 ноября 2020 года
                      ._item 27 акад. часов

                    ._aside
                      ._price 65 000 ₽

                ._back
                  +button({
                      title: 'Начать обучение',
                      type: 'is-danger is-round',
                      size: 'is-large'
                  }, {
                      class: 'program-card__button',
                      'data-remodal-target': 'start-study'
                  })

                  a._more(href='#' title='Подробнее о программе') Подробнее о программе
            // end program-card

      .slider-controls._controls
        ._aside
          +slider-counter

        ._main
          +slider-pagination({})

        ._aside
          +slider-nav
  // end section-default

  // start section-default
  +section-default({
    header: {
      main: {
        heading: {
          title: 'Словарь ГЧП'
        },
      },

      aside: {
        button: {
          href: '#',
          type: 'is-primary is-round is-average',
          title: 'Больше терминов'
        }
      }
    }
  }, {
    class: 'js-section-slider page-body__section-default'
  })
    +menu([
        {
            href: '#',
            title: 'Самое полезное',
            isActive: true
        }, {
            href: '#',
            title: 'А'
        }, {
            href: '#',
            title: 'Б'
        }, {
            href: '#',
            title: 'В'
        }, {
            href: '#',
            title: 'Г',
            itemClass: 'is-disabled'
        }, {
            href: '#',
            title: 'Д'
        }, {
            href: '#',
            title: 'Е'
        }, {
            href: '#',
            title: 'Ё',
            itemClass: 'is-disabled'
        }, {
            href: '#',
            title: 'Ж'
        }, {
            href: '#',
            title: 'З'
        }, {
            href: '#',
            title: 'И'
        }, {
            href: '#',
            title: 'К'
        }, {
            href: '#',
            title: 'Л',
            itemClass: 'is-disabled'
        }, {
            href: '#',
            title: 'М'
        }, {
            href: '#',
            title: 'Н'
        }, {
            href: '#',
            title: 'О'
        }, {
            href: '#',
            title: 'П'
        }, {
            href: '#',
            title: 'Р'
        }, {
            href: '#',
            title: 'С'
        }, {
            href: '#',
            title: 'Т'
        }, {
            href: '#',
            title: 'У'
        }, {
            href: '#',
            title: 'Ф'
        }, {
            href: '#',
            title: 'Х',
            itemClass: 'is-disabled'
        }, {
            href: '#',
            title: 'Ц'
        }, {
            href: '#',
            title: 'Ч'
        }, {
            href: '#',
            title: 'Ш'
        }, {
            href: '#',
            title: 'Щ',
            itemClass: 'is-disabled'
        }, {
            href: '#',
            title: 'Э',
            itemClass: 'is-disabled'
        }, {
            href: '#',
            title: 'Ю'
        }, {
            href: '#',
            title: 'Я'
        }
    ], {
        class: 'is-tabs-menu section-body__menu'
    })
    ._body
      .section-slider
        ._body.js-section-slider-container
          ._wrapper.js-slider-wrapper

            ._slide.js-slider-slide
              // start video-card
              a.video-card.js-video-card(href='https://youtu.be/0U2bQv_0nKM' title='' data-fancybox='terms')
                ._photo
                  img.img-cover._img.js-video-card-img(src='' alt='')

                ._body
                  h3.card-title._title Концессионер
              // end video-card

            ._slide.js-slider-slide
              // start video-card
              a.video-card.js-video-card(href='https://youtu.be/XN5AHmnu9z0' title='' data-fancybox='terms')
                ._photo
                  img.img-cover._img.js-video-card-img(src='' alt='')

                ._body
                  h3.card-title._title Инвестиционный платеж
              // end video-card

            ._slide.js-slider-slide
              // start video-card
              a.video-card.js-video-card(href='https://youtu.be/jjrmgjuG9VY' title='' data-fancybox='terms')
                ._photo
                  img.img-cover._img.js-video-card-img(src='' alt='')

                ._body
                  h3.card-title._title Объект соглашения
              // end video-card

          .slider-controls._controls
            ._aside
              +slider-counter

            ._main
              +slider-pagination({})

            ._aside
              +slider-nav

  // end section-default

  // start section-default
  section.section-default.js-section-slider.page-body__section-default
    ._container.container
      .section-header._header
        ._container
          ._main
            h2.section-heading._heading Преподаватели
          ._aside
            +button({
                title: 'Смотреть всех',
                type: 'is-primary is-round is-average'
            })
      ._body
        .section-slider
          ._inner
            ._body.js-section-slider-vocabularies
              ._wrapper.js-slider-wrapper
                ._slide.js-slider-slide
                  // start expert-card
                  .expert-card
                    ._body
                      .expert-preview._user
                        ._header
                          ._photo
                            img._img(src="../assets/img/content/avatars/8.png", alt="")

                          ._content
                            p.card-title._name Максим Викторович Ткаченко
                            p._caption Исполнительный директор, Национальный Центр ГЧП

                      .expert-props._props
                        ul._list
                          li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                            img._img(src="../assets/img/general/expert/1.svg", alt="")
                          li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                            img._img(src="../assets/img/general/expert/2.svg", alt="")
                          li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                            img._img(src="../assets/img/general/expert/3.svg", alt="")
                          li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                            img._img(src="../assets/img/general/expert/4.svg", alt="")
                  // end expert-card

                ._slide.js-slider-slide
                  // start expert-card
                  .expert-card
                    ._body
                      .expert-preview._user
                        ._header
                          ._photo
                            img._img(src="../assets/img/content/avatars/9.png", alt="")

                          ._content
                            p.card-title._name Антон Павлович Павлиенко
                            p._caption Директор Департамента налоговых и юридических услуг, группа корпоративного налогообложения, EY

                      .expert-props._props
                        ul._list
                          li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                            img._img(src="../assets/img/general/expert/1.svg", alt="")
                          li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                            img._img(src="../assets/img/general/expert/2.svg", alt="")
                          li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                            img._img(src="../assets/img/general/expert/3.svg", alt="")
                          li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                            img._img(src="../assets/img/general/expert/4.svg", alt="")
                  // end expert-card

                ._slide.js-slider-slide
                  // start expert-card
                  .expert-card
                    ._body
                      .expert-preview._user
                        ._header
                          ._photo
                            img._img(src="../assets/img/content/avatars/10.png", alt="")

                          ._content
                            p.card-title._name Александра Искандеровна
                            p._caption Старший консультант практики ГЧП и инфраструктурных проектов, KPMG Law


                      .expert-props._props
                        ul._list
                          li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                            img._img(src="../assets/img/general/expert/1.svg", alt="")
                          li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                            img._img(src="../assets/img/general/expert/2.svg", alt="")
                          li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                            img._img(src="../assets/img/general/expert/3.svg", alt="")
                          li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                            img._img(src="../assets/img/general/expert/4.svg", alt="")
                  // end expert-card

                ._slide.js-slider-slide
                  // start expert-card
                  .expert-card
                    ._body
                      .expert-preview._user
                        ._header
                          ._photo
                            img._img(src="../assets/img/content/avatars/11.png", alt="")

                          ._content
                            p.card-title._name Антон Павлович Павлиенко
                            p._caption Директор Департамента налоговых и юридических услуг, группа корпоративного налогообложения, EY

                      .expert-props._props
                        ul._list
                          li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                            img._img(src="../assets/img/general/expert/1.svg", alt="")
                          li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                            img._img(src="../assets/img/general/expert/2.svg", alt="")
                          li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                            img._img(src="../assets/img/general/expert/3.svg", alt="")
                          li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                            img._img(src="../assets/img/general/expert/4.svg", alt="")
                  // end expert-card

                ._slide.js-slider-slide
                  // start expert-card
                  .expert-card
                    ._body
                      .expert-preview._user
                        ._header
                          ._content
                            p.card-title._name Антон Павлович Павлиенко
                            p._caption Директор Департамента налоговых и юридических услуг, группа корпоративного налогообложения, EY

                          ._photo
                            img._img(src="../assets/img/content/avatars/1.jpg", alt="")

                      .expert-props._props
                        ul._list
                          li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                            img._img(src="../assets/img/general/expert/1.svg", alt="")
                          li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                            img._img(src="../assets/img/general/expert/2.svg", alt="")
                          li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                            img._img(src="../assets/img/general/expert/3.svg", alt="")
                          li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                            img._img(src="../assets/img/general/expert/4.svg", alt="")
                  // end expert-card


          .slider-controls._controls
            ._aside
              +slider-counter

            ._main
              +slider-pagination({})

            ._aside
              +slider-nav
  // end section-default

  // start section-default
  +section-default({
    header: {
      main: {
        heading: {
          title: 'Отзывы'
        },
      }
    }
  }, {
    class: 'js-section-slider page-body__reviews'
  })
    +section-slider({
        type: 'reviews',
        slides: db_reviews,
        className: 'js-section-slider-reviews',
        pagination: true
    })
  // end section-default

  // start section-order
  +section-order({
      heading: 'Не хватает команды для реализации проекта ГЧП?',
      title: 'Проведем интенсивное обучение вашей команды',
      caption: 'Мы проводим интенсивное обучение проектных команд через подготовку и запуск собственных проектов ГЧП. Мы проводим интенсивное обучение проектных команд через подготовку и запуск собственных проектов ГЧП',
      buttons: [
          {
              title: 'Оставить заявку',
              type: 'is-primary is-round is-large',
              modal: 'start-study'
          }, {
              href: 'https://drive.google.com/file/d/1WQvcMcCgPJUQzKyUj5Nz2wAWCGHJzR0F/view',
              title: 'Скачать КП',
              type: 'is-white is-round is-large is-pdf',
          }
      ]
  })
  // end section-order

  .modal.remodal.is-medium(data-remodal-id='start-study')
    button._close(data-remodal-action='close')

    ._header
      ._title.is-large.is-center Оставить заявку на обучение проектных команд

    ._body
      form.form.js-modal(action='#' method='post')
        ._body
          .form-group._field
            label._label Введите ФИО*:
            +input-text({
                placeholder: 'Введите ФИО',
                name: 'name'
            })

          .form-group._field
            ._grid
              ._column
                .form-group
                  label._label Номер телефона*:
                  +input-text({
                      type: 'tel',
                      placeholder: 'Введите номер телефона',
                      name: 'tel'
                  })

              ._column
                .form-group
                  label._label E-mail*:
                  +input-text({
                      type: 'email',
                      placeholder: 'Введите E-mail',
                      name: 'email'
                  })

        ._footer
          .form-agree._agree
            +input-control({
                type: 'checkbox',
                label: 'Нажимая на кнопку “Сохранить” вы подтверждаете что ознакомлен(-ы) с политикой конфиденциальности и даёте согласие на обработку персональных данных согласно ФЗ №54',
                name: 'agree'
            })

          +button({
              title: 'Отправить ',
              type: 'is-primary is-round'
          }, {
              class: 'form__button'
          })
