.advants-slider {
  &.is-visible {
    overflow: visible;
  }

  &__body {
    position: relative;
    margin: 0 -7.5px;

    @include breakpoint($lg-breakpoint) {
      margin: 0 -12.5px;
    }

    @include breakpoint($xl-breakpoint) {
      margin: 0 -17.5px;
    }
  }

  &__wrapper {

  }

  &__slide {
    flex-shrink: 0;
    margin-bottom: 18px;
    width: 100%;
    padding: 0 7.5px;

    @include breakpoint($xs-breakpoint) {
      width: 50%;
    }

    @include breakpoint($md-breakpoint) {
      width: 33.3334%;
    }

    @include breakpoint($lg-breakpoint) {
      flex: 1 0 auto;
      padding: 0 12.5px;
      width: auto;
    }

    @include breakpoint($xl-breakpoint) {
      padding: 0 17.5px;
    }

    &:last-child{
      margin-bottom: 0;

      .advant-card{
        &:after{
          display: none;
        }
      }
    }

  }

  &__grid {
    @include breakpoint($sm-breakpoint) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px -15px;

      @include breakpoint($md-breakpoint) {
        margin-bottom: -30px;
      }

      @include breakpoint($xl-breakpoint) {
        flex-wrap: nowrap;
        margin-bottom: 0;
      }
    }
  }

  &__column {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint($sm-breakpoint) {
      flex: 1 1 50%;
      max-width: 50%;
      padding: 0 15px;
    }

    @include breakpoint($md-breakpoint) {
      margin-bottom: 30px;
    }

    @include breakpoint($xl-breakpoint) {
      flex: auto;
      max-width: 100%;
      margin-bottom: 0;
    }
  }

  &__pagination {
    margin-top: 15px;

    @include breakpoint($lg-breakpoint) {
      &.slider-pagination {
        display: none;
      }
    }
  }
}

