.search-result{
  &__inner{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }

  &__icon{
    margin-bottom: 15px;
  }

  &__title{
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-width: 410px;
    line-height: 1.2;

    font-size: 28px;
    color: #BDC2D3;
    text-align: center;
  }

  &__label{
    display: block;
    margin-top: 15px;
    
    font-weight: 300;
    color: #BDC2D3;
    text-align: center;
  }
}