extends ../../template

include ../../../components/menu-aside/menu-aside
include ../../../components/submenu/submenu

include ../../../components/badge/badge
include ../../../components/select/select
include ../../../components/button/button
include ../../../components/input-text/input-text

block append settings
	-
		page.title = 'Блиц-оценки проектов';


block page-body

	main.page-main

		// start menu-aside
		+menu-aside([
				{
						href: '#',
						icon: 'home',
						title: 'Главная страница'
				}, {
						href: '#',
						icon: 'briefcase',
						title: 'Проектный офис',
						dropdown: [{
								href: '#',
								title: 'Сводка экспертного офиса'
						}, {
								href: '#',
								title: 'Блиц оценки',
								count: 3
						}, {
								href: '#',
								title: 'Возмездные услуги',
								count: 7
						}, {
								href: '#',
								title: 'Другие активности',
								count: 3
						}]
				}, {
						href: '#',
						icon: 'list',
						title: 'Мои новости'
				}, {
						href: '#',
						icon: 'calendar',
						title: 'Мои мероприятия'
				}, {
						href: '#',
						icon: 'users',
						title: 'Мои компании'
				}, {
						href: '#',
						icon: 'comment',
						title: 'Мои комментарии'
				}, {
						href: '#',
						icon: 'database',
						title: 'Мои подписки'
				}, {
						divider: true
				}, {
						href: '#',
						icon: 'star',
						title: 'Моё избранное'
				}, {
						href: '#',
						icon: 'settings',
						title: 'Настройки'
				},
		], {
				class: 'page-main__menu-aside'
		})
		// end menu-aside

		// start main-body
		.main-body._body
			._container.container
				._grid.is-reverse

					// start main-content
					.main-content._content.js-accordion.js-menu-sections-list

						// start main-header
						.main-header.is-large._header
							._container
								._content
									h1.main-heading._heading= page.title
						// end main-header

						// start main-menu
						.main-actions
							._container
								._content
									ul._list
										li._item.active
											a._link(href="#" title="Все блиц-оценки") Все блиц-оценки
										li._item
											a._link(href="#" title="Ожидают") Ожидают
												span._value 3
										li._item
											a._link(href="#" title="На модерации") На модерации
										li._item
											a._link(href="#" title="Подтверждённые") Подтверждённые
										li._item
											a._link(href="#" title="Отклонённые") Отклонённые
										li._item
											a._link(href="#" title="Неактивные") Неактивные
										li._item
											a._link(href="#" title="Черновики") Черновики
								._aside
									+select({
                    options: [{
                        title: 'Актуальное'
                    },{
                        title: 'Актуальное'
                    },{
                        title: 'Актуальное'
                    }],
                    placeholder: 'По актуальности',
                    searchResult: '-1',
                    type: 'is-default main-actions__select'
                	})
						// end main-menu

						// start main-profile
						.main-profile._profile
							._container
								._body
									block main-profile

										.card._card
											.card-header.-secondary._header
												.card-meta._meta
													._content
														span.badge.badge-lg.badge-warning._badge Ожидает оценки
														span._item.card-meta__id Id: 1
														span._item.card-meta__date Получено: 07.04.2020 18:00
													._info
														span._date.card-meta__item Ответить до: 
															span._date-value.-danger 08.04.2020 18:00
														

												h3._link
													a._link(href="#" title="") Реконструкция отдельных объектов централизованных систем холодного водоснабжения и водоотведения, на территории города Челябинска, МУП «Производственное объединение водоснабжения Владимирской области...

											.card-footer._footer
												a._more(href="#" title="Перейти к блиц-оценке") Перейти к блиц-оценке
													i.fe.fe-chevron-right
										.card._card
											.card-header.-secondary._header
												.card-meta._meta
													._content
														span.badge.badge-lg.badge-warning._badge Ожидает оценки
														span._item.card-meta__id Id: 12
														span._item.card-meta__date Получено: 07.04.2020 18:00
													._info
														span._date.card-meta__item Ответить до: 
															span._date-value.-danger 10.04.2020 18:00
														

												h3._link
													a._link(href="#" title="") Строительство и реконструкция автомобильной дороги М-4 «Дон» в обход г. Аксай на участке 1024 – км 1036 (3 этап)

											.card-footer._footer
												a._more(href="#" title="Перейти к блиц-оценке") Перейти к блиц-оценке
													i.fe.fe-chevron-right
										.card._card
											.card-header.-secondary._header
												.card-meta._meta
													._content
														span.badge.badge-lg.badge-warning._badge Ожидает оценки
														span._item.card-meta__id Id: 41433
														span._item.card-meta__date Получено: 07.04.2020 18:00
													._info
														span._date.card-meta__item Ответить до: 
															span._date-value 20.04.2020 18:00
														

												h3._link
													a._link(href="#" title="") Реконструкция отдельных объектов централизованных систем холодного водоснабжения и водоотведения, на территории города Челябинска, МУП «Производственное объединение водоснабжения Владимирской области...

											.card-footer._footer
												a._more(href="#" title="Перейти к блиц-оценке") Перейти к блиц-оценке
													i.fe.fe-chevron-right

										.card._card
											.card-header.-secondary._header
												.card-meta._meta
													._content
														span.badge.badge-lg.badge-moder._badge На модерации
														span._item.card-meta__id Id: 31533
														span._item.card-meta__date Получено: 07.04.2020 18:00
													._info
														span._date.card-meta__item Ответить до: 
															span._date-value.-danger 08.04.2020 18:00
														

												h3._link
													a._link(href="#" title="") Реконструкция отдельных объектов централизованных систем холодного водоснабжения и водоотведения, на территории города Челябинска, МУП «Производственное объединение водоснабжения Владимирской области...

											.card-footer._footer
												a._more(href="#" title="Перейти к блиц-оценке") Перейти к блиц-оценке
													i.fe.fe-chevron-right

										.card._card
											.card-header.-secondary._header
												.card-meta._meta
													._content
														span.badge.badge-lg.badge-success._badge Подтверждено
														span._item.card-meta__id Id: 4113
														span._item.card-meta__date Получено: 07.04.2020 18:00
													._info
														span._date.card-meta__item Оценено: 20.08.2019 15:00
														
												h3._link
													a._link(href="#" title="") Реконструкция отдельных объектов централизованных систем холодного водоснабжения и водоотведения, на территории города Челябинска, МУП «Производственное объединение водоснабжения Владимирской области...

											.card-footer._footer
												a._more(href="#" title="Перейти к блиц-оценке") Перейти к блиц-оценке
													i.fe.fe-chevron-right

										.card._card
											.card-header.-secondary._header
												.card-meta._meta
													._content
														span.badge.badge-lg.badge-success._badge Подтверждено
														span._item.card-meta__id Id: 953
														span._item.card-meta__date Получено: 07.04.2020 18:00
													._info
														span._date.card-meta__item Оценено: 20.08.2019 15:00
														

												h3._link
													a._link(href="#" title="") Реконструкция отдельных объектов централизованных систем холодного водоснабжения и водоотведения, на территории города Челябинска, МУП «Производственное объединение водоснабжения Владимирской области...

											.card-footer._footer
												a._more(href="#" title="Перейти к блиц-оценке") Перейти к блиц-оценке
													i.fe.fe-chevron-right

										.card._card
											.card-header.-secondary._header
												.card-meta._meta
													._content
														span.badge.badge-lg.badge-danger._badge Отклонено
														span._item.card-meta__id Id: 513
														span._item.card-meta__date Получено: 07.04.2020 18:00
													._info
														span._date.card-meta__item Оценено: 20.08.2019 15:00
														

												h3._link
													a._link(href="#" title="") Реконструкция отдельных объектов централизованных систем холодного водоснабжения и водоотведения, на территории города Челябинска, МУП «Производственное объединение водоснабжения Владимирской области...
												span._caption.-danger Оценка не соответствует установленным нормам и не может быть учтена в выдаче результатов экспертных оценок проекта по сл... 

											.card-footer._footer
												a._more(href="#" title="Перейти к блиц-оценке") Перейти к блиц-оценке
													i.fe.fe-chevron-right
										.card._card
											.card-header.-secondary._header
												.card-meta._meta
													._content
														span.badge.badge-lg.badge-disabled._badge Неактивно
														span._item.card-meta__id Id: 3533
														span._item.card-meta__date Получено: 07.04.2020 18:00
													._info
														span._date.card-meta__item Не оценено
														

												h3._link
													a._link(href="#" title="") Реконструкция отдельных объектов централизованных систем холодного водоснабжения и водоотведения, на территории города Челябинска, МУП «Производственное объединение водоснабжения Владимирской области...

											.card-footer._footer
												a._more(href="#" title="Перейти к блиц-оценке") Перейти к блиц-оценке
													i.fe.fe-chevron-right

										a.btn.btn-load.btn-block._btn(href="#" title="Загрузить еще") Загрузить еще
											span._icon
												i.fe.fe-refresh-cw


						// end main-profile

					// end main-content

					// start main-aside
					aside.main-aside._aside.is-secondary
						._container.js-main-aside-sticky

							// start aside-profile
							.aside-profile._profile
								._header
									+button({
											href: '#',
											title: 'Вернуться в кабинет',
											type: 'is-secondary is-round',
											size: 'is-small'
									}, {
											class: 'aside-profile__button'
									})

								._body
									+submenu({
											title: 'Меню настроек профиля',
											items: [{
													href: '#',
													title: 'Персональные данные'
											}, {
													href: '#',
													title: 'Настройка предпочтений'
											}, {
													href: '#',
													title: 'Анкета эксперта'
											}]
									})
							// end aside-profile

					// end main-aside
		// end main-body
