extends ../../template

include ../../../components/menu-aside/menu-aside
include ../../../components/submenu/submenu

include ../../../components/badge/badge
include ../../../components/select/select
include ../../../components/button/button
include ../../../components/input-text/input-text

block append settings
	-
		page.title = 'Блиц-оценка: «ID 2217»';


block page-body

	main.page-main

		// start menu-aside
		+menu-aside([
				{
						href: '#',
						icon: 'home',
						title: 'Главная страница'
				}, {
						href: '#',
						icon: 'briefcase',
						title: 'Проектный офис',
						dropdown: [{
								href: '#',
								title: 'Сводка экспертного офиса'
						}, {
								href: '#',
								title: 'Блиц оценки',
								count: 3
						}, {
								href: '#',
								title: 'Возмездные услуги',
								count: 7
						}, {
								href: '#',
								title: 'Другие активности',
								count: 3
						}]
				}, {
						href: '#',
						icon: 'list',
						title: 'Мои новости'
				}, {
						href: '#',
						icon: 'calendar',
						title: 'Мои мероприятия'
				}, {
						href: '#',
						icon: 'users',
						title: 'Мои компании'
				}, {
						href: '#',
						icon: 'comment',
						title: 'Мои комментарии'
				}, {
						href: '#',
						icon: 'database',
						title: 'Мои подписки'
				}, {
						divider: true
				}, {
						href: '#',
						icon: 'star',
						title: 'Моё избранное'
				}, {
						href: '#',
						icon: 'settings',
						title: 'Настройки'
				},
		], {
				class: 'page-main__menu-aside'
		})
		// end menu-aside

		// start main-body
		.main-body._body
			._container.container
				._grid

					// start main-content
					.main-content._content.js-accordion.js-menu-sections-list

						// start main-header
						.main-header.is-large._header
							._container
								._content
									h1.main-heading._heading= page.title
									.badge.-danger._badge Отклонено	
						// end main-header


						// start main-profile
						.main-profile._profile
							._container
								._body
									block main-profile
										
										.card._card
											.card-top
												._header
													.card-title 1. Общая информация о блиц-оценке
											.card-data
												table.table.card-table
													thead
														tr
															th параметр:
															th Значение:
													tbody
														tr
															th ID блиц-оценки:
															td 2217
														tr
															th Статус:
															td 
																span.text-error Отклонено
														tr
															td(colspan="2")
																span.text-error-preview Оценка не соответствует установленным нормам и не может быть учтена в выдаче результатов экспертных оценок проекта Оценка не соответствует установленным нормам и не может быть учтена в выдаче результатов экспертных
														tr
															th Получено:
															td 16.08.2019 14:03
														tr
															th Оценить до:
															td 08.04.2020
														tr
															th Дата оценки:
															td 08.04.2020
														tr
															th Оцениваемый проект:
															td Реконструкция отдельных объектов централизованных систем холодного водоснабжения и водоотведения, на территории города Челябинска, МУП «Производственное объединение водоснабжения Владимирской области”

										.card._card
											.card-top
												._header
													.card-title 2. Соответствие проекта принципам ГЧП по вашему мнению
											.card-data
												table.table.card-table
													thead
														tr
															th критерий:
															th ответ:
													tbody
														tr
															th Принадлежность объекта к объектам, в отношении которых возможно применение механизмов ГЧП:
															td Да
														tr
															th Соответствие обязательств частной стороны на инвестиционном и эксплуатационном этапе принципам ГЧП:
															td Да
														tr
															th Наличие в проекте юридически закрепленных социально-значимых обязательств частного партнера:
															td Да

										.card._card
											.card-top
												._header
													.card-title 3. Вероятность успешного запуска / тиражирования проекта по вашему мнению 
											.card-data

												._grid
													._column
														._th
															span._text критерий:
													._column
														._th 
															span._text ответ:
												
												.card-data__title 3.1. Актуальность проекта и его социальная значимость (эффективность):

												._grid
													._column
														._th
															span._text.-bold Выставленная оценка:
													._column
														.mark._mark
															span._current 10
															span._hr /
															span._total 10

												._comment
													span._comment-title Комментарий:
													p._comment-text Сделанные на базе интернет-аналитики выводы неоднозначны и будут призваны к ответу. С учётом сложившейся международной обстановки, разбавленное изрядной долей эмпатии, рациональное мышление требует анализа новых принципов формирования материально-технической и кадровой базы! А также базовые сценарии поведения пользователей освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.

												.card-data__title 3.2. Отсутствие негативной правоприменительной практики:

												._grid
													._column
														._th
															span._text.-bold Выставленная оценка:
													._column
														.mark._mark
															span._current 10
															span._hr /
															span._total 10

												._comment
													span._comment-title Комментарий:
													p._comment-text Сделанные на базе интернет-аналитики выводы неоднозначны и будут призваны к ответу. С учётом сложившейся международной обстановки, разбавленное изрядной долей эмпатии, рациональное мышление требует анализа новых принципов формирования материально-технической и кадровой базы! А также базовые сценарии поведения пользователей освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.

												.card-data__title 3.3. Обоснованность планируемой (фактической) стоимости создания объекта:

												._grid
													._column
														._th
															span._text.-bold Выставленная оценка:
													._column
														.mark._mark
															span._current 10
															span._hr /
															span._total 10

												._comment
													span._comment-title Комментарий:
													p._comment-text Сделанные на базе интернет-аналитики выводы неоднозначны и будут призваны к ответу. С учётом сложившейся международной обстановки, разбавленное изрядной долей эмпатии, рациональное мышление требует анализа новых принципов формирования материально-технической и кадровой базы! А также базовые сценарии поведения пользователей освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.
													
												.card-data__title 3.4. Реалистичность правовой структуры проекта:

												._grid
													._column
														._th
															span._text.-bold Выставленная оценка:
													._column
														.mark._mark
															span._current 10
															span._hr /
															span._total 10

												._comment
													span._comment-title Комментарий:
													p._comment-text Сделанные на базе интернет-аналитики выводы неоднозначны и будут призваны к ответу. С учётом сложившейся международной обстановки, разбавленное изрядной долей эмпатии, рациональное мышление требует анализа новых принципов формирования материально-технической и кадровой базы! А также базовые сценарии поведения пользователей освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.

						// end main-profile

					// end main-content

					// start main-aside
					aside.main-aside._aside.is-secondary
						._container.js-main-aside-sticky
							// start aside-profile
							.aside-profile._profile
								._body
									a.button.button-block.is-primary(href="#") Изменить блиц-оценку
									a.button.button-block.is-white(href="#") Открыть проект для ознакомления

							// end aside-profile
							

					// end main-aside
		// end main-body
