extends ../template

include ../../components/section-default/section-default

include ../../components/expert-card/expert-card

include ../../components/select/select
include ../../components/button/button

block append settings
	-
		page.title= 'ГЧП в России';


block page-body

	main.page-main

		.breadcrumbs._breadcrumbs
			._container.container
				ul._list
					li._item
						a._link(href="/") Главная
					li._item
						a._link(href="#") Тренды и аналитика
					li._item
						span._link ГЧП в России

		// start main-header
		.main-header._header.no-border.is-mobile-center
			._container.container
				._content
					h1.main-heading.is-large._heading= page.title
		// end main-header
		
		// start inline-menu
		.inline-menu.is-dark._inline-menu
			._container.container
				ul._list
					li._item
						a._link(href="#") Инвестиции в инфраструктуру
					li._item
						a._link(href="#") Национальные проекты
					li._item
						a._link(href="#") Рейтинг регионов
					li._item.is-active
						a._link(href="#") ГЧП в России
					li._item
						a._link(href="#") База решений судов и ФАС
					li._item
						a._link(href="#") Аналитические материалы
		// end inline-menu


		// start main-body
		.main-body._body
			._container.container

				// start module
				._module.js-main-body-module.is-opened
					._module-header
						h2._module-title Рынок реализуемых проектов ГЧП в России
					._module-body
						._module-heading График «Проекты ГЧП в России»
						// start mobile-filter
						.mobile-filter._mobile-filter
							._container
								._header
									span._title Задать параметры:
									button._button.js-mobile-filter-btn Фильтры
										span._button-value.js-filter-catalog-count 0
						// end mobile-filter
					
						._grid
							// start main-content
							.main-content._content
								._inner
									._title Диаграмма «Проекты ГЧП в России»:
									._body
										.chart-investment._chart
											._legends
												.legend-list._list
													._item.is-blue
														span._text объем инвестиций в проектах ГЧП
														span._tooltip
															._drop Описание к тултипу
													._item.is-red
														span._text бюджетные инвестиции в долларах
														span._tooltip
															._drop Описание к тултипу


											._body
												._area.is-desktop
													._label.is-left Объемы инвестиций (млрд руб)
													._label.is-right Количество проектов
													canvas.js-investment-chart
												._area.is-mobile
													._inner
														canvas.js-investment-chart.is-mobile


							// end main-content
							// start main-aside
							aside.main-aside._aside.is-secondary.js-new-mobile-filter
								._container.js-main-aside-sticky

									// start aside-widget
									.aside-widget._widget
										._header.is-border
											h4._heading Параметры диаграммы
										._body
											form.widget-form._form(action='#' method='post')
												._body
													._group.is-bordered.is-opened.js-accordion-item
														._heading.js-accordion-toggle Сфера
														._body.js-accordion-body
															._content.js-list(data-show-count='3')
																.select-custom.js-custom-select(data-placeholder='Поиск сферы')
																	._header.js-custom-select-header
																		+input-text({
																			type: 'text',
																			placeholder: 'Добавление сферы'
																		}, {
																			class: 'select-custom__input js-custom-select-input'
																		})

																	._body
																		._dropdown
																			._scrollbar.js-scrollbar
																				._content.js-select-custom-list
																					._item
																						+input-control({
																								type: 'checkbox',
																								label: 'Социальная инфраструктура',
																								theme: 'is-outline'
																						})

																					._item
																						+input-control({
																								type: 'checkbox',
																								label: 'Транспортная инфраструктура',
																								theme: 'is-outline'
																						})

																					._item
																						+input-control({
																								type: 'checkbox',
																								label: 'Транспортная инфраструктура',
																								theme: 'is-outline'
																						})
																			._footer
																				+button({
																						title: 'Применить фильтр',
																						type: 'is-outline-secondary is-block'
																				}, {
																						class: 'js-select-custom-apply'
																				})
													
													._group.is-bordered.is-opened.js-accordion-item
														._heading.js-accordion-toggle Регион
														._body.js-accordion-body
															._content.js-list(data-show-count='3')
																.select-custom.js-custom-select(data-placeholder='Добавление региона')
																	._header.js-custom-select-header
																		+input-text({
																			type: 'text',
																			placeholder: 'Добавление региона'
																		}, {
																			class: 'select-custom__input js-custom-select-input'
																		})

																	._body
																		._dropdown
																			._scrollbar.js-scrollbar
																				._content.js-select-custom-list
																					._item
																						+input-control({
																								type: 'checkbox',
																								label: 'Социальная инфраструктура',
																								theme: 'is-outline'
																						})

																					._item
																						+input-control({
																								type: 'checkbox',
																								label: 'Транспортная инфраструктура',
																								theme: 'is-outline'
																						})

																					._item
																						+input-control({
																								type: 'checkbox',
																								label: 'Транспортная инфраструктура',
																								theme: 'is-outline'
																						})
																			._footer
																				+button({
																						title: 'Применить фильтр',
																						type: 'is-outline-secondary is-block'
																				}, {
																						class: 'js-select-custom-apply'
																				})

													._group.is-bordered.is-opened.js-accordion-item
														._heading.js-accordion-toggle Форма привлечения инвестора
														._body.js-accordion-body
															._content.js-list(data-show-count='3')
																._list
																	.form-group._field.js-accordion-item.js-list-item
																		+input-control({
																				type: 'checkbox',
																				label: 'Концессионное соглашение',
																				theme: 'is-outline',
																				checked: true
																		})

																	.form-group._field.js-accordion-item.js-list-item
																		+input-control({
																				type: 'checkbox',
																				label: 'Соглашение о сотрудничестве',
																				theme: 'is-outline'
																		})

																	.form-group._field.js-accordion-item.js-list-item
																		+input-control({
																				type: 'checkbox',
																				label: 'Соглашение о ГЧП / МЧП (224-ФЗ)',
																				theme: 'is-outline'
																		})
																	.form-group._field.js-accordion-item.js-list-item
																		+input-control({
																				type: 'checkbox',
																				label: 'Соглашение о ГЧП / МЧП (224-ФЗ)',
																				theme: 'is-outline'
																		})
																
																._footer.-secondary.js-list-toggle-parent
																	span.link-more-chevron._link-more.js-list-toggle Показать ещё
																		i.fe.fe-chevron-down._icon

													._group.is-bordered.is-opened.js-accordion-item
														._heading.js-accordion-toggle Диапазон капиталоёмкости:
														._body.js-accordion-body
															._content
																.range-group._range.js-range-group
																	._header
																		._value
																			+input-text({
																					type: 'text',
																					size: 'is-average',
																					value: 0
																			}, {
																					class: 'js-range-group-min',
																					'data-regex': 'От \\d* ₽'
																			})

																		._value
																			+input-text({
																					type: 'text',
																					size: 'is-average',
																					value: 100000000
																			}, {
																					class: 'js-range-group-max',
																					'data-regex': 'До \\d* ₽'
																			})

																	._body
																		.range-slider.js-range-group-slider.is-secondary(data-min='0' data-max='100000000' data-start='0' data-end='100000000' data-step='1')

													._group
														._body.js-accordion-body
															.form-group._field
																+input-control({
																		type: 'checkbox',
																		label: 'Отображать накопительным итогом',
																		theme: 'is-outline is-uppercase'
																})
													
													._group
														._body.js-accordion-body
															button.button.button-block.is-primary._button.-show Показать проекты в базе
															button.button.button-block.is-outline-secondary._button.-reset Сбросить фильтр

									// end aside-widget

							// end main-aside


				// end module

				// start module
				._module.js-main-body-module.is-opened
					._module-header
						h2._module-title Реализуемые проекты ГЧП по уровням реализации
					._module-body
						// start mobile-filter
						.mobile-filter._mobile-filter
							._container
								._header
									span._title Задать параметры:
									button._button.js-mobile-filter-btn Фильтры
										span._button-value.js-filter-catalog-count 0
						// end mobile-filter

						._grid
							// start main-content
							.main-content._content
								._inner
									._body
										.graphic-tabs
											._header
												._button.is-active
													.graphic-button Кол-во проектов

												._button
													.graphic-button Объём инвестиций

												._button
													.graphic-button Частные инвестиции

											._body
												.legend-list._legend
													._item.is-blue
														span._text Муниципальный уровень
														span._tooltip
															._drop Описание к тултипу

													._item.is-gray
														span._text Региональный уровень
														span._tooltip
															._drop Описание к тултипу

													._item.is-red
														span._text Федеральный / национальный уровень
														span._tooltip
															._drop Описание к тултипу

												._grid
													._tab.is-active
														.graphic-bar.js-graphic-bar
															._aside
																._item
																	.chart-item
																		canvas.js-graphic-bar-item(width='298' height='298')
																		._amount
																			._value 5 346
																			._label проектов

																._caption Количество проектов по уровням реализации

													._tab
														.graphic-bar.js-graphic-bar
															
															._aside
																._item
																	.chart-item
																		canvas.js-graphic-bar-item(width='298' height='298')
																		._amount
																			._value 13 158.18
																			._label млрд. руб
																._caption Общий объём инвестиций
													
													._tab
														.graphic-bar.js-graphic-bar
															
															._aside
																._item
																	.chart-item
																		canvas.js-graphic-bar-item(width='298' height='298')
																		._amount
																			._value 6 764
																			._label млрд. руб
																._caption Объём частных инвестиций

							// end main-content
							// start main-aside
							aside.main-aside._aside.is-secondary.js-new-mobile-filter
								._container.js-main-aside-sticky

									// start aside-widget
									.aside-widget._widget
										._header.is-border
											h4._heading Параметры диаграммы
										._body
											form.widget-form._form(action='#' method='post')
												._body
													._group.is-bordered.is-opened.js-accordion-item
														._heading.js-accordion-toggle Сфера
														._body.js-accordion-body
															._content.js-list(data-show-count='3')
																.select-custom.js-custom-select(data-placeholder='Поиск сферы')
																	._header.js-custom-select-header
																		+input-text({
																			type: 'text',
																			placeholder: 'Добавление сферы'
																		}, {
																			class: 'select-custom__input js-custom-select-input'
																		})

																	._body
																		._dropdown
																			._scrollbar.js-scrollbar
																				._content.js-select-custom-list
																					._item
																						+input-control({
																								type: 'checkbox',
																								label: 'Социальная инфраструктура',
																								theme: 'is-outline'
																						})

																					._item
																						+input-control({
																								type: 'checkbox',
																								label: 'Транспортная инфраструктура',
																								theme: 'is-outline'
																						})

																					._item
																						+input-control({
																								type: 'checkbox',
																								label: 'Транспортная инфраструктура',
																								theme: 'is-outline'
																						})
																			._footer
																				+button({
																						title: 'Применить фильтр',
																						type: 'is-outline-secondary is-block'
																				}, {
																						class: 'js-select-custom-apply'
																				})
													
													._group.is-bordered.is-opened.js-accordion-item
														._heading.js-accordion-toggle Регион
														._body.js-accordion-body
															._content.js-list(data-show-count='3')
																.select-custom.js-custom-select(data-placeholder='Добавление региона')
																	._header.js-custom-select-header
																		+input-text({
																			type: 'text',
																			placeholder: 'Добавление региона'
																		}, {
																			class: 'select-custom__input js-custom-select-input'
																		})

																	._body
																		._dropdown
																			._scrollbar.js-scrollbar
																				._content.js-select-custom-list
																					._item
																						+input-control({
																								type: 'checkbox',
																								label: 'Социальная инфраструктура',
																								theme: 'is-outline'
																						})

																					._item
																						+input-control({
																								type: 'checkbox',
																								label: 'Транспортная инфраструктура',
																								theme: 'is-outline'
																						})

																					._item
																						+input-control({
																								type: 'checkbox',
																								label: 'Транспортная инфраструктура',
																								theme: 'is-outline'
																						})
																			._footer
																				+button({
																						title: 'Применить фильтр',
																						type: 'is-outline-secondary is-block'
																				}, {
																						class: 'js-select-custom-apply'
																				})

													._group.is-bordered.is-opened.js-accordion-item
														._heading.js-accordion-toggle Форма привлечения инвестора
														._body.js-accordion-body
															._content.js-list(data-show-count='3')
																._list
																	.form-group._field.js-accordion-item.js-list-item
																		+input-control({
																				type: 'checkbox',
																				label: 'Концессионное соглашение',
																				theme: 'is-outline',
																				checked: true
																		})

																	.form-group._field.js-accordion-item.js-list-item
																		+input-control({
																				type: 'checkbox',
																				label: 'Соглашение о сотрудничестве',
																				theme: 'is-outline'
																		})

																	.form-group._field.js-accordion-item.js-list-item
																		+input-control({
																				type: 'checkbox',
																				label: 'Соглашение о ГЧП / МЧП (224-ФЗ)',
																				theme: 'is-outline'
																		})
																	.form-group._field.js-accordion-item.js-list-item
																		+input-control({
																				type: 'checkbox',
																				label: 'Соглашение о ГЧП / МЧП (224-ФЗ)',
																				theme: 'is-outline'
																		})
																
																._footer.-secondary.js-list-toggle-parent
																	span.link-more-chevron._link-more.js-list-toggle Показать ещё
																		i.fe.fe-chevron-down._icon

													._group.is-bordered.is-opened.js-accordion-item
														._heading.js-accordion-toggle Диапазон капиталоёмкости:
														._body.js-accordion-body
															._content
																.range-group._range.js-range-group
																	._header
																		._value
																			+input-text({
																					type: 'text',
																					size: 'is-average',
																					value: 0
																			}, {
																					class: 'js-range-group-min',
																					'data-regex': 'От \\d* ₽'
																			})

																		._value
																			+input-text({
																					type: 'text',
																					size: 'is-average',
																					value: 100000000
																			}, {
																					class: 'js-range-group-max',
																					'data-regex': 'До \\d* ₽'
																			})

																	._body
																		.range-slider.js-range-group-slider.is-secondary(data-min='0' data-max='100000000' data-start='0' data-end='100000000' data-step='1')
													
													._group
														._body.js-accordion-body
															button.button.button-block.is-primary._button.-show Показать проекты в базе
															button.button.button-block.is-outline-secondary._button.-reset Сбросить фильтр

									// end aside-widget

							// end main-aside


				// end module


		// end main-body

	.scrolltop._scrolltop
		a._link.js-scrolltop(href="#body")
			span._text Вернуться наверх страницы
			._icon
				<svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 4L4.5 1L8 4" stroke="#9199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
