extends ../template

include ../../components/section-default/section-default

include ../../components/expert-card/expert-card

include ../../components/select/select
include ../../components/button/button

block append settings
	-
		page.title = 'Тренды и аналитика';


block page-body
	+button({
      title: 'Получить консультацию',
      type: 'is-danger is-round is-consult'
  }, {
      class: 'page-body__button'
  })

	.section-analitics.page-body__section-analitics
		img._lines(src="../../assets/img/content/digest/lines.png", alt="")
		._container.container
			.breadcrumbs._breadcrumbs
				._container
					ul._list
						li._item
							a._link(href="/") Главная
						li._item
							span._link Тренды и аналитика
			._body
				._main
					h1._heading Тренды и аналитика
					span._caption Уникальная база знаний с интерактивной аналитикой и библиотекой актуальных материалов по тематике развития инфраструктуры в России и за рубежом
					a.button.is-primary.is-round._button(href="#") Заказать аналитику
				._aside
					img._image(src="../../assets/img/content/digest/1.png", alt="")

	// start section-default
	+section-default({
		header: {
			main: {
				heading: {
					title: 'Основные разделы'
				}
			}
		}
	}, {
		class: 'section-default--services page-body__section-default'
	})
		.section-layout
			._body
				._slider
					._grid
						._column.is-half

							// start services-card
							a.services-card(href="#").is-small
								._body
									._main
										._icon
											img._img(src="../../assets/img/general/services/5.svg", alt="")
										._title Инвестиции в инфраструктуру
										._caption 
											p Текущее состояние и прогнозы по инвестициям в инфраструктуру в различных странах мира

										._more(href="#") Подробнее

									._aside
										img._image(src="../../assets/img/content/services/20.svg", alt="")
							// end services-card

						._column.is-half

							// start services-card
							a.services-card(href="#").is-small
								._body
									._main
										._icon
											img._img(src="../../assets/img/general/services/6.svg", alt="")
										._title Национальные проекты
										._caption 
											p Структура и финансирование национальных проектов

										._more(href="#") Подробнее

									._aside
										img._image(src="../../assets/img/content/services/21.svg", alt="")

						._column.is-default

							// start services-card
							a.services-card(href="#")
								._body
									._main
										._icon
											img._img(src="../../assets/img/content/digest/1.svg", alt="")
										._title Рейтинг регионов по уровню ГЧП
										._caption 
											p Оценка уровня развития государственно-частного партнерства в субъектах РФ

										._more(href="#") Подробнее

						._column.is-default

							// start services-card
							a.services-card(href="#")
								._body
									._main
										._icon
											img._img(src="../../assets/img/content/digest/2.svg", alt="")
										._title Рынок ГЧП в России
											<br>
											<br>
										._caption 
											p Интерактивная аналитика ГЧП в России в разрезе отраслей, форм реализации и иных параметров

										._more(href="#") Подробнее
						._column.is-default

							// start services-card
							a.services-card
								._body
									._main
										._icon
											img._img(src="../../assets/img/content/digest/3.svg", alt="")
										._title Судебная практика и решения ФАС
										._caption 
											p Анализ правоприменительной практики в сфере ГЧП с оценкой влияния на рынок

										.badge.-danger.is-small._badge По подписке

						._column.is-default

							// start services-card
							a.services-card(href="#")
								._body
									._main
										._icon
											img._img(src="../../assets/img/content/digest/4.svg", alt="")
										._title Библиотека материалов
										._caption 
											p Крупнейшая база исследований, аналитики и типовых решений

										._more(href="#") Подробнее

							// end services-card
					._slider-pagination.js-slider-pagination
	// end section-default

	// start section-default
	.section-default.section-default--libs.is-border.js-section-slider.page-body__section-default
		._container.container
			.section-header.is-large._header
				._container
					._main
						h2.section-heading._heading Библиотека материалов
					._aside
						a.button.is-primary.is-round.is-average._button(href="#" title="Посмотреть всё") Посмотреть всё

			.section-body._body
				ul.libs-nav.section-body__libs-nav
					li._item.is-active
						a._link(href="#") Общая аналитика и обзоры рынка
					li._item
						a._link(href="#") Отраслевые материалы и разбор практик
					li._item
						a._link(href="#") Законодательное регулирование и правоприменение
					li._item
						a._link(href="#") Периодические издания и статьи
					li._item
						a._link(href="#") Типовая документация и методические материалы
					li._item
						a._link(href="#") Привлечение финансирования
					li._item
						a._link(href="#") Финансовые и технические аспекты подготовки проектов
				.section-slider
					._body.js-section-slider-libs
						._wrapper.js-slider-wrapper
							// start slide
							._slide.js-slider-slide
								.libs-card
									._header
										._photo
											ul._labels
												li._labels-item.-pdf
												li._labels-item.-en
											a(href="#")
												img._img(src="../../assets/img/content/digest/2.jpg", alt="")

									._content
										.charters.is-small._label
											._main
												span._title The World Bank

										a._title(href="#") Основы муниципального частного партнерства от Всемирного банка
									._footer
										ul.formats._formats
											li._item
												span._text Язык: Английский
											li._item
												span._text Формат: PDF
											li._item
												span._text Год публикации: 2020

										.charters._charters
											._main
												span._title Соглашение о ГЧП / МЧП
											._aside.js-charters-aside
												._count.js-charters-count

												._dropdown.js-charters-drop
													ul._list
														li._item.js-charters-dropitem
															span._text Соглашение о ГЧП / МЧП
														li._item.js-charters-dropitem
															span._text Меры поддержки инвесторов;
														li._item.js-charters-dropitem
															span._text Меры поддержки инвесторов;
							
							// end slide

							// start slide
							._slide.js-slider-slide
								.libs-card
									._header
										._photo
											ul._labels
												li._labels-item.-world
												li._labels-item.-ru
											a(href="#")
												img._img(src="../../assets/img/content/digest/3.jpg", alt="")

									._content
										.charters.is-small._label
											._main
												span._title Минэкономразвития России

										a._title(href="#") Рейтинг субъектов Российской Федерации по уровню развития сферы ГЧП за 2019 год
									._footer
										ul.formats._formats
											li._item
												span._text Язык: Русский
											li._item
												span._text Формат: PDF
											li._item
												span._text Год публикации: 2020

										.charters._charters
											._main
												span._title Институциональная среда
											._aside.js-charters-aside
												._count.js-charters-count

												._dropdown.js-charters-drop
													ul._list
														li._item.js-charters-dropitem
															span._text Институциональная среда
														li._item.js-charters-dropitem
															span._text Меры поддержки инвесторов;
														li._item.js-charters-dropitem
															span._text Меры поддержки инвесторов;
							
							// end slide

							// start slide
							._slide.js-slider-slide
								.libs-card
									._header
										._photo
											ul._labels
												li._labels-item.-pdf
												li._labels-item.-ru
											a(href="#")
												img._img(src="../../assets/img/content/digest/4.jpg", alt="")

									._content
										.charters.is-small._label
											._main
												span._title ВЭБ.РФ
											._aside.js-charters-aside
												._count.js-charters-count
												._dropdown.js-charters-drop
													ul._list
														li._item.js-charters-dropitem
															span._text ВЭБ.РФ
														li._item.js-charters-dropitem
															span._text Общество с ограниченной ответственностью «АИКОМ»
														li._item.js-charters-dropitem
															span._text Национальный Центр ГЧП

										a._title(href="#") Инфраструктура для устойчивого развития. Как привлечь инвестиции в новое качество проектов
									._footer
										ul.formats._formats
											li._item
												span._text Язык: Русский
											li._item
												span._text Формат: PDF
											li._item
												span._text Год публикации: 2020

										.charters._charters
											._main
												span._title Качественные инфраструктурные инвестиции
											._aside.js-charters-aside
												._count.js-charters-count
												._dropdown.js-charters-drop
													ul._list
														li._item.js-charters-dropitem
															span._text Качественные инфраструктурные инвестиции
														li._item.js-charters-dropitem
															span._text Меры поддержки инвесторов;
														li._item.js-charters-dropitem
															span._text Меры поддержки инвесторов;
							
							// end slide

							// start slide
							._slide.js-slider-slide
								.libs-card
									._header
										._photo
											ul._labels
												li._labels-item.-pdf
												li._labels-item.-en
											a(href="#")
												img._img(src="../../assets/img/content/digest/5.jpg", alt="")

									._content
										.charters.is-small._label
											._main
												span._title Asian Development Bank Institute
											._aside
												._dropdown.js-charters-drop
													ul._list
														li._item.js-charters-dropitem
															span._text Asian Development Bank Institute

										a._title(href="#") Руководство по вопросам политики в отношении инвестиций в качественную инфраструктуру
									._footer
										ul.formats._formats
											li._item
												span._text Язык: Английский
											li._item
												span._text Формат: PDF
											li._item
												span._text Год публикации: 2020

										.charters._charters
											._main
												span._title Городское развитие
											._aside.js-charters-aside
												._count.js-charters-count

												._dropdown.js-charters-drop
													ul._list
														li._item.js-charters-dropitem
															span._text Городское развитие;
														li._item.js-charters-dropitem
															span._text Меры поддержки инвесторов;
														li._item.js-charters-dropitem
															span._text Цели в области устойчивого развития;
														li._item.js-charters-dropitem
															span._text Качественные инфраструктурные инвестиции;
														li._item.js-charters-dropitem
															span._text Международный опыт
							
							// end slide

							// start slide
							._slide.js-slider-slide
								.libs-card
									._header
										._photo
											ul._labels
												li._labels-item.-pdf
												li._labels-item.-en
											a(href="#")
												img._img(src="../../assets/img/content/digest/2.jpg", alt="")

									._content
										.charters.is-small._label
											._main
												span._title Asian Development Bank Institute
											._aside
												._dropdown.js-charters-drop
													ul._list
														li._item.js-charters-dropitem
															span._text Asian Development Bank Institute

										a._title(href="#") Руководство по вопросам политики в отношении инвестиций в качественную инфраструктуру
									._footer
										ul.formats._formats
											li._item
												span._text Язык: Английский
											li._item
												span._text Формат: PDF
											li._item
												span._text Год публикации: 2020

										.charters._charters
											._main
												span._title Городское развитие
											._aside.js-charters-aside
												._count.js-charters-count

												._dropdown.js-charters-drop
													ul._list
														li._item.js-charters-dropitem
															span._text Городское развитие;
														li._item.js-charters-dropitem
															span._text Меры поддержки инвесторов;
														li._item.js-charters-dropitem
															span._text Цели в области устойчивого развития;
														li._item.js-charters-dropitem
															span._text Качественные инфраструктурные инвестиции;
														li._item.js-charters-dropitem
															span._text Международный опыт
							
							// end slide

							// start slide
							._slide.js-slider-slide
								a.libs-card(href="#")
									._inner
										._icon
											<svg width="55" height="47" viewBox="0 0 55 47" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M31.7012 43.7372L51.9427 23.5001L31.7012 3.26294" stroke="white" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M51.9513 23.4998H3.37158" stroke="white" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
										span._more Смотреть все
							// end slide
								 

						.slider-controls._controls
							._aside
								+slider-counter
							._main
							._aside
								+slider-nav
	// end section-default

	.scrolltop._scrolltop
		a._link.js-scrolltop(href="#body")
			span._text Вернуться наверх страницы
			._icon
				<svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 4L4.5 1L8 4" stroke="#9199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
