.ui-container,
.container {
  margin: 0 auto;
  //padding-left: var(--grid-gap-half);
  //padding-right: var(--grid-gap-half);
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1330px;
  width: 100%;

  &.is-mobile{
    position: relative;
  }

  .ui-container {
    padding-left: 0;
    padding-right: 0;
  }
}
