mixin button(data, attrs)
  if (data.href)
    a.button(href=data.href class=data.type class=data.size data-remodal-action=data.remodal)&attributes(attrs)
      span._title= data.title

  else
    button.button(class=data.type class=data.size)&attributes(attrs)
      span._title= data.title
