.button {
  padding: 13px 15px;
  display: inline-block;
  min-width: 100px;
  //font-size: 14px;
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-overflow: ellipsis;
  text-decoration: none;
  border: 1px solid;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 4px;
  appearance: none;
  transition: 0.3s;

  @include breakpoint($xs-breakpoint) {
    font-size: 12px;
  }

  @include breakpoint($md-breakpoint) {
    font-size: 15px;
  }

  @include breakpoint($lg-breakpoint) {
    padding: 16px 30px;
  }

  &__desktop {
    display: none;

    @include breakpoint($sm-breakpoint) {
      display: inline;
    }
  }

  &__mobile {
    @include breakpoint($sm-breakpoint) {
      display: none;
    }
  }

  &.is-round {
    border-radius: 35px;
  }

  &.is-extra-small {
    padding: 7px 20px;
    font-size: 13px;
  }

  &.is-small {
    padding: 8px 15px;
  }

  &.is-average {
    padding: 12px 18px;

    @include breakpoint($md-breakpoint) {
      font-size: 14px;
    }
  }

  &.is-medium {
    padding: 14px 30px;
  }

  &.is-large {
    padding: 8px 16px;

    @include breakpoint($md-breakpoint) {
      padding: 11px 22px;
    }

    @include breakpoint($lg-breakpoint) {
      padding: 13px 28px;
    }

    @include breakpoint($xl-breakpoint) {
      padding: 19px 28px;
    }
  }

  &.is-extra-large {
    padding: 14px 18px;

    @include breakpoint($md-breakpoint) {
      padding: 18px 25px;
    }

    @include breakpoint($lg-breakpoint) {
      padding: 24px 40px;
    }
  }

  &.is-primary {
    color: $white-color;
    border-color: $primary-color;
    background-color: $primary-color;

    &:hover {
      border-color: darken($primary-color, 7%);
      background-color: darken($primary-color, 7%);
    }
  }

  &.is-outline-primary {
    color: $primary-color;
    border-color: $primary-color;
    background-color: $white-color;
  }

  &.is-secondary {
    color: $primary-color;
    border-color: $bg-color;
    background-color: $bg-color;

    &.is-active {
      border-width: 2px;
      background-color: $white-color;
      cursor: default;
    }
  }

  &.is-success {
    color: $white-color;
    border-color: $success-color;
    background-color: $success-color;

    &:hover {
      border-color: darken($success-color, 7%);
      background-color: darken($success-color, 7%);
    }
  }

  &.is-outline-success {
    color: $success-color;
    border-color: $success-color;
    background-color: transparent;
  }

  &.is-outline-secondary {
    color: $muted-color;
    border-color: #DDE0E9;
    background-color: transparent;

    &:hover{
      color: #23346B;
      border-color:#23346B;
    }
  }

  &.is-outline-accent {
    color: #505C83;
    border-color: #DDE0E9;
    background-color: transparent;

    &:hover {
      color: #23346B;
      border-color: #23346B;
      background: #F8F9FA;
    }
  }

  &.is-danger {
    color: $white-color;
    border-color: $accent2-color;
    background-color: $accent2-color;

    &:hover {
      border-color: darken($accent2-color, 7%);
      background-color: darken($accent2-color, 7%);
    }

    &.is-disabled {
      border-color: transparent;
      background-color: rgba($accent2-color, 0.5);
      cursor: default;
    }
  }

  &.is-white {
    color: $primary-color;
    border-color: $white-color;
    background-color: $white-color;

    &:hover {
      border-color: darken($bg-color, 3%);
      background-color: darken($bg-color, 3%);
    }
  }

  &.is-white-outline {
    color: $white-color;
    border-color: $white-color;
    background-color: rgba($white-color, 0.15);
  }

  &.is-load {
    color: $muted-color;
    border-color: $white-color;
    background-color: $white-color;
    box-shadow: 0 9px 35px rgba(35, 52, 107, 0.1);

    &:hover{
      transition: 0.5s;
      box-shadow: 0 9px 35px rgba(35, 52, 107, 0.1);
    }

    &.is-block {
      padding-top: 18px;
      padding-bottom: 17px;
      box-shadow: 0 0 20px rgba(35, 52, 107, 0.05);

      &:hover{
        transition: 0.5s;
        box-shadow: 0 9px 35px rgba(35, 52, 107, 0.1);
      }

      border-radius: 10px;

      @include breakpoint($md-breakpoint) {
        border-radius: 0;
      }

      &.is-secondary {
        padding-top: 17px;
        padding-bottom: 16px;
        background-color: $bg-color;
        box-shadow: none;

        @include breakpoint($lg-breakpoint) {
          padding-top: 22px;
          padding-bottom: 20px;
        }
      }
    }

    &.is-secondary {
      &:hover {
        color: $primary-color;
        border-color: darken($bg-color, 3%);
        background-color: darken($bg-color, 3%);

        &::after {
          background: url('data:image/svg+xml,%3Csvg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M14.9258 1.65119L14.9258 5.57104L11.0059 5.57104" stroke="%2323346B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M14.9258 5.57104L11.8944 2.72261C11.1923 2.02012 10.3236 1.50694 9.36951 1.23096C8.41539 0.954976 7.40691 0.925192 6.43817 1.14438C5.46943 1.36357 4.572 1.82459 3.82962 2.48443C3.08724 3.14426 2.52411 3.9814 2.19277 4.91773" stroke="%2323346B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M1.00098 12.2211L1.00098 8.30127L4.92084 8.30127" stroke="%2323346B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M1.00098 8.30127L4.03233 11.1497C4.73448 11.8522 5.60313 12.3654 6.55725 12.6414C7.51137 12.9173 8.51985 12.9471 9.48859 12.7279C10.4573 12.5087 11.3548 12.0477 12.0971 11.3879C12.8395 10.7281 13.4026 9.89091 13.734 8.95458" stroke="%2323346B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E%0A') center no-repeat;
        }
      }
    }

    &::after {
      content: '';
      position: relative;
      top: -1px;
      margin-left: 9px;
      display: inline-block;
      width: 16px;
      height: 16px;
      background: $load center no-repeat;
      vertical-align: middle;
      transition: 0.3s;
    }
  }

  &.is-block {
    display: block;
    width: 100%;
    border-radius: 3px;
  }

  &.is-sm {
    padding: 13px 25px 12px;
    font-size: 14px;
  }

  &.is-pdf{
    .button{
      &__title{
        display: flex;
        align-items: center;

        &:after{
          content: '';
          margin-left: 10px;
          display: inline-block;
          width: 14px;
          height: 15px;
          background-image: url("data:image/svg+xml,%3Csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.28426 0C4.49842 0 3.85547 0.646875 3.85547 1.4375V21.5625C3.85547 22.3531 4.49842 23 5.28426 23H19.5721C20.358 23 21.0009 22.3531 21.0009 21.5625V5.75L15.2858 0H5.28426Z' fill='%23DDE0E9'/%3E%3Cpath d='M16.6091 5.85455H21.0001L15.1455 0V4.39091C15.1455 5.19591 15.8041 5.85455 16.6091 5.85455Z' fill='%23BDC2D2'/%3E%3Cpath d='M20.9992 10.0363L16.8174 5.85449H20.9992V10.0363Z' fill='%23DDE0E9'/%3E%3Cpath d='M13.4732 16.623C13.4732 16.9105 13.238 17.1458 12.9505 17.1458H1.45046C1.16296 17.1458 0.927734 16.9105 0.927734 16.623V11.3958C0.927734 11.1083 1.16296 10.873 1.45046 10.873H12.9505C13.238 10.873 13.4732 11.1083 13.4732 11.3958V16.623Z' fill='%23D01417'/%3E%3Cpath d='M12.9927 17.145H3.85547V17.9813H12.9927C13.2572 17.9813 13.4737 17.605 13.4737 17.145V16.3086C13.4737 16.7686 13.2572 17.145 12.9927 17.145Z' fill='%23DDE0E9'/%3E%3Cpath d='M3.68484 11.6455C4.12038 11.6455 4.47292 11.7783 4.74245 12.0439C5.01394 12.3096 5.14968 12.6592 5.14968 13.0928C5.14968 13.5244 5.01003 13.874 4.73073 14.1416C4.45144 14.4072 4.08816 14.54 3.64089 14.54H2.80593V15.873H1.92116V11.6455H3.68484ZM2.80593 13.8486H3.44753C3.70144 13.8486 3.8987 13.7832 4.03933 13.6523C4.17995 13.5215 4.25027 13.3359 4.25027 13.0957C4.25027 12.8555 4.17995 12.6699 4.03933 12.5391C3.90066 12.4102 3.70437 12.3457 3.45046 12.3457H2.80593V13.8486ZM7.30007 11.6455C7.93679 11.6455 8.43093 11.8271 8.78249 12.1904C9.13796 12.5576 9.3157 13.0752 9.3157 13.7432C9.3157 14.4131 9.13796 14.9355 8.78249 15.3105C8.42898 15.6855 7.93484 15.873 7.30007 15.873H5.67116V11.6455H7.30007ZM6.55593 15.1406H7.1946C7.59109 15.1406 7.89284 15.0225 8.09987 14.7861C8.30886 14.5479 8.41335 14.2012 8.41335 13.7461C8.41335 13.3047 8.30788 12.9658 8.09695 12.7295C7.88601 12.4932 7.58523 12.375 7.1946 12.375H6.55593V15.1406ZM9.88405 15.873V11.6455H12.6526V12.375H10.7688V13.5088H12.4885V14.209H10.7688V15.873H9.88405Z' fill='white'/%3E%3C/svg%3E%0A");
          background-size: 100% auto;

          @include breakpoint($md-breakpoint) {
            width: 18px;
            height: 19px;
          }
        }
      }
    }

  }

  &.is-consult{
    border-radius: 15px;
  }

  &.is-gray{
    color: #fff;
    border-color: transparent;
    background: rgba(35, 52, 107, 0.2);
  }

  &.is-exit{
    position: relative;
    padding-right: 40px;
    padding-left: 20px;

    &:after{
      content: '';
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translate(0, -50%);
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.25 1H13.3333C13.7422 1 14.1343 1.16389 14.4235 1.45561C14.7126 1.74733 14.875 2.143 14.875 2.55556V13.4444C14.875 13.857 14.7126 14.2527 14.4235 14.5444C14.1343 14.8361 13.7422 15 13.3333 15H10.25' stroke='%23919AB5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.39648 11.8891L10.2507 8.00022L6.39648 4.11133' stroke='%23919AB5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.25 8H1' stroke='%23919AB5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }

  &.is-light{
    color: #9199B5;
    background: #F5F6F8;
    border-color: #F5F6F8;
    box-shadow: none;
  }
}

.button-download{
  display: flex;
  align-items: center;
 
  padding: 5px 15px;

  width: 100%;


  background: #4F5D89;
  text-decoration: none;
  border-radius: 5px;
  

  @include breakpoint($lg-breakpoint){
     padding: 20px 20px 20px 25px;
     border-radius: 10px 10px 0px 0px;
  }

  &__main{
    display: flex;
    flex-direction: column;

    flex: 1 1 auto;
  }

  &__aside{
    margin-left: 18px;
  }

  &__icon{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);

    @include breakpoint($lg-breakpoint){
      width: 50px;
      height: 50px;
    }

    &:before{
      content: '';
      display: inline-block;
      width: 17px;
      height: 19px;
      background-image: url("data:image/svg+xml,%3Csvg width='17' height='19' viewBox='0 0 17 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 12.3638V15.6971C16 16.1391 15.8244 16.5631 15.5118 16.8756C15.1993 17.1882 14.7754 17.3638 14.3333 17.3638H2.66667C2.22464 17.3638 1.80072 17.1882 1.48816 16.8756C1.17559 16.5631 1 16.1391 1 15.6971V12.3638' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.33154 6.8335L8.49821 11.0002L12.6649 6.8335' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.50146 11V1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }

  &__title{
    font-size: 13px;
    color: #FFFFFF;
    font-weight: 500;

     @include breakpoint($lg-breakpoint){
      font-size: 18px;
     }
  }

  &__labels{
    display: flex;
    margin-top: 2px;
  }

  &__meta{
    display: block;
    margin-right: 5px;
    font-size: 10px;
    color: #FFFFFF;
    opacity: 0.6;

    @include breakpoint($lg-breakpoint){
      font-size: 13px;
    }

    &:last-child{
      margin-right: 0;
    }
  }

}

.button-sorting{
  display: inline-flex;
  align-items: center;

  position: relative;

  height: 55px;
  padding: 0 13px;

  color: #657198;
  font-weight: 500;
  font-size: 16px;

  border: 0;
  outline: 0;
  background: none;
  border-radius: 10px;
  transition: 0.5s;

  cursor: pointer;

  &:hover{
    transition: 0.5s;
    background: #fff;
  }

  &:before{
    content: '';
    width: 15px;
    height: 17px;
    flex-shrink: 0;
    margin-right: 7px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='17' viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3517 13.9546L8.54785 13.9546' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.80388 13.9541L1 13.9541' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.3532 8.49951L7.17676 8.49951' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.43135 8.49951L1 8.49951' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.3532 3.0459L9.92188 3.0459' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.17642 3.04492L1 3.04492' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.54785 16L8.54785 11.9091' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.43164 10.5454L4.43164 6.45453' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.92188 5.09082L9.92187 0.999943' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }

  &:after{
    content: '';
    width: 8px;
    height: 4px;
    flex-shrink: 0;
    margin-left: 5px;
    transition: 0.5s;
    background: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.49402 3.82837L0.207479 1.03453C-0.0691597 0.799364 -0.0691597 0.418082 0.207479 0.182915C0.484118 -0.052252 0.5 0.00650137 1 0.00657257L4 0.00653976L7 0.00654414C7 0.00654414 7.51588 -0.052252 7.79252 0.182915C8.06916 0.418082 8.06916 0.799364 7.79252 1.03453L4.50598 3.82837C4.22654 4.06593 3.77346 4.06593 3.49402 3.82837Z' fill='%23657198'/%3E%3C/svg%3E%0A") no-repeat;
  }

  &.is-active{
    background: #fff;

    &:before{
      width: 15px;
      height: 17px;
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='17' viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 2L13.4946 14.8761' stroke='%2323346B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.50537 15L14 2.12386' stroke='%2323346B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }

    &:after{
      transform: rotate(180deg);
      transition: 0.5s;
    }
  }

  &__dropdown{
    position: absolute;
    top: calc(100% + 15px);
    right: 0;

    padding: 25px 30px;

    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 0px 35px rgba(35, 52, 107, 0.3);
    cursor: auto;
    z-index: 95;

    display: none;

    &.is-active{
      display: block;
    }

    &:before{
      content: '';
      width: 11px;
      height: 11px;
      background: #fff;
      transform: rotate(45deg);
      position: absolute;
      top: -5px;
      right: 20px;
    }
  }

  &__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item{
    margin-bottom: 12px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__link{
    color: #9199B5;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
    transition: 0.5s;

    &:hover{
      color: #23346B;
      transition: 0.5s;
    }
  }
}