extends ../../template

include ../../../components/menu-aside/menu-aside
include ../../../components/submenu/submenu

include ../../../components/badge/badge
include ../../../components/select/select
include ../../../components/button/button
include ../../../components/input-text/input-text
include ../../../components/menu-sections/menu-sections

block append settings
	-
		page.title = 'Завершение выполнения услуг по заявке';


block page-body

	main.page-main

		// start menu-aside
		+menu-aside([
				{
						href: '#',
						icon: 'home',
						title: 'Главная страница'
				}, {
						href: '#',
						icon: 'briefcase',
						title: 'Проектный офис',
						dropdown: [{
								href: '#',
								title: 'Сводка экспертного офиса'
						}, {
								href: '#',
								title: 'Блиц оценки',
								count: 3
						}, {
								href: '#',
								title: 'Возмездные услуги',
								count: 7
						}, {
								href: '#',
								title: 'Другие активности',
								count: 3
						}]
				}, {
						href: '#',
						icon: 'list',
						title: 'Мои новости'
				}, {
						href: '#',
						icon: 'calendar',
						title: 'Мои мероприятия'
				}, {
						href: '#',
						icon: 'users',
						title: 'Мои компании'
				}, {
						href: '#',
						icon: 'comment',
						title: 'Мои комментарии'
				}, {
						href: '#',
						icon: 'database',
						title: 'Мои подписки'
				}, {
						divider: true
				}, {
						href: '#',
						icon: 'star',
						title: 'Моё избранное'
				}, {
						href: '#',
						icon: 'settings',
						title: 'Настройки'
				},
		], {
				class: 'page-main__menu-aside'
		})
		// end menu-aside

		// start main-body
		.main-body._body
			._container.container

				// start main-header
				.main-header.is-large._header
					._container
						._content
							h1.main-heading._heading= page.title
				// end main-header
				
				form._form(action="#")
					._grid

						// start main-content
						.main-content._content.js-accordion.js-menu-sections-list

							// start main-profile
							.main-profile._profile
								._container
									._body
										block main-profile

											._cards.js-menu-sections-list

												// start card
												.card.-table.-border._card.js-accordion-item#section-1
													.card-top
														.card-header
															.card-title Укажите данные о проделанной работе
													.card-body
														._fields
															.fields-group._fields-group
																._data
																	span._title Статус выполнения работы:
																	span.form-help._help
																		.fe.fe-help-circle

																._main
																	+select({
																		options: [{
																				title: 'Работа выполнена с изменениями времени'
																		},{
																				title: 'Работа выполнена с изменениями даты'
																		},{
																				title: 'Работа выполнена с изменениями года'
																		}],
																		placeholder: 'Выберите значение',
																		searchResult: '-1',
																		type: 'is-default fields-group__select'
																	})

															.fields-group._fields-group
																._data
																	span._title Укажите дату и время, когда фактически завершили работу:
																	span.form-help._help
																		.fe.fe-help-circle
																._main
																	._grid
																		._column.is-half
																			+input-text({
																				placeholder: 'Укажите дату',
																				theme: 'is-medium js-select-date'
																			})
																			._icon
																				<svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
																					<path d="M11.6667 2.37109H2.33333C1.59695 2.37109 1 2.9851 1 3.74252V13.3425C1 14.0999 1.59695 14.714 2.33333 14.714H11.6667C12.403 14.714 13 14.0999 13 13.3425V3.74252C13 2.9851 12.403 2.37109 11.6667 2.37109Z" stroke="#BDC2D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
																					<path d="M9.66699 1V3.74286" stroke="#BDC2D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
																					<path d="M4.33301 1V3.74286" stroke="#BDC2D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
																					<path d="M1 6.48584H13" stroke="#BDC2D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
																				</svg>

																		._column.is-half
																			+input-text({
																				placeholder: 'Укажите время',
																				theme: 'is-medium js-select-time'
																			})
																			._icon
																				<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
																					<path d="M8.5 16C12.6421 16 16 12.6421 16 8.5C16 4.35786 12.6421 1 8.5 1C4.35786 1 1 4.35786 1 8.5C1 12.6421 4.35786 16 8.5 16Z" stroke="#BDC2D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
																					<path d="M8.5 4V8.5L11.5 10" stroke="#BDC2D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
																				</svg>

															.fields-group._fields-group
																._data
																	span._title Фактическая продолжительность оказания услуги (часов):
																	span.form-help._help
																		.fe.fe-help-circle

																._main
																	+select({
																		options: [{
																				title: '3'
																		},{
																				title: '4'
																		},{
																				title: '5'
																		}],
																		placeholder: 'Выберите значение',
																		searchResult: '-1',
																		type: 'is-default fields-group__select'
																	})

															
															.fields-group._fields-group
																._data
																	span._title Причина отклонения от запланированного времени на выполнение услуги:
																	span.form-help._help
																		.fe.fe-help-circle

																._main
																	textarea.textarea._textarea(cols="30", rows="10", placeholder="Введите причину")

															.fields-group._fields-group
																._data
																	span._title Стоимость заявки (Руб):
																	span.form-help._help
																		.fe.fe-help-circle

																._main
																	+input-text({
																		placeholder: 'Укажите суму (в Руб)',
																		type: 'number',
																		theme: 'is-medium'
																	})

															.fields-group._fields-group
																._inner
																	h3 Документы оказания услуги:

																	// start dropzone
																	form.dropzone._dropzone(action="#")#my-awesome-dropzone
																	// end dropzone

																	// start documents
																	.documents._documents
																		._cards
																			// start documents-card
																			.documents-card._card
																				._main
																					._icon
																						<svg width="31" height="42" viewBox="0 0 31 42" fill="none" xmlns="http://www.w3.org/2000/svg">
																							<path d="M2.5696 0.635742C1.15632 0.635742 0 1.79911 0 3.22101V39.4148C0 40.8367 1.15632 42.0001 2.5696 42.0001H28.2656C29.6789 42.0001 30.8352 40.8367 30.8352 39.4148V10.9768L20.5568 0.635742H2.5696Z" fill="#E9EBF0"/>
																							<path d="M22.9384 11.1648H30.8353L20.3062 0.635742V8.53257C20.3062 9.98032 21.4907 11.1648 22.9384 11.1648Z" fill="#BDC2D2"/>
																							<path d="M30.8338 18.6853L23.313 11.1646H30.8338V18.6853Z" fill="#DDE0E9"/>
																						</svg>
																					._data
																						a._title(href="#" title="") Документ законопрокта.PDF
																						._actions
																							span._meta Формат: pdf
																							span._meta Вес: 1.24 Мб

																				._aside
																					button._remove Удалить
																			// end documents-card

																			// start documents-card
																			.documents-card._card
																				._main
																					._icon
																						<svg width="31" height="42" viewBox="0 0 31 42" fill="none" xmlns="http://www.w3.org/2000/svg">
																							<path d="M2.5696 0.635742C1.15632 0.635742 0 1.79911 0 3.22101V39.4148C0 40.8367 1.15632 42.0001 2.5696 42.0001H28.2656C29.6789 42.0001 30.8352 40.8367 30.8352 39.4148V10.9768L20.5568 0.635742H2.5696Z" fill="#E9EBF0"/>
																							<path d="M22.9384 11.1648H30.8353L20.3062 0.635742V8.53257C20.3062 9.98032 21.4907 11.1648 22.9384 11.1648Z" fill="#BDC2D2"/>
																							<path d="M30.8338 18.6853L23.313 11.1646H30.8338V18.6853Z" fill="#DDE0E9"/>
																						</svg>
																					._data
																						a._title(href="#" title="") Документ законопрокта.PDF
																						._actions
																							span._meta Формат: pdf
																							span._meta Вес: 1.24 Мб
																				._aside
																					button._remove Удалить
																			// end documents-card
																	// end documents

												// end card

							// end main-profile

						// end main-content

						// start main-aside
						aside.main-aside._aside.is-border-top
							._container.js-main-aside-sticky
								._header
									._buttons
										a.button.button-block.is-primary._button(href="#" title="Отправить информацию" data-remodal-target="start") Отправить информацию
							

						// end main-aside
		// end main-body
	
	.modal.-padding.remodal(data-remodal-target="start")
		button._close(data-remodal-action='close')

		._header
			._title Данные отправлены
			span._caption Данные успешно отправлены. В скором времени вы получите оповещение с информацией о рассмотрении работы и оплате по временным изменениям
			ul._buttons
				li._buttons-item
					button.button.is-primary.button-block(data-remodal-action='close') Закрыть окно