.mobile-filter{
  margin-top: 28px;

  @include breakpoint($lg-breakpoint){
    display: none;
  }

  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title{
    font-size: 13px;
    font-weight: 500;
    color: #657198;
  }

  &__button{
    display: inline-flex;
    align-items: center;
    position: relative;

    font-size: 12px;
    font-weight: 500;
    color: #657198;

    padding: 10px;

    background: #FFFFFF;
    border: 1px solid #E9EBF0;
    border-radius: 5px;

    &.is-active{
      background: #F2F3F6;
      border-color: #F2F3F6;
    }

    &:before{
      content: '';
      flex-shrink: 0;
      display: block;
      width: 12px;
      height: 14px;
      margin-right: 5px;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9991 11.4861L7.1106 11.4861' stroke='%23657198' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.88854 11.4856L1 11.4856' stroke='%23657198' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.9986 7.07056L5.99902 7.07056' stroke='%23657198' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.77753 7.07056L1 7.07056' stroke='%23657198' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.0004 2.65576L8.2229 2.65576' stroke='%23657198' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.99955 2.65552L1 2.65552' stroke='%23657198' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.1106 13.1418L7.1106 9.83046' stroke='%23657198' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.77783 8.72656L3.77783 5.41517' stroke='%23657198' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.2229 4.31152L8.2229 1.00014' stroke='%23657198' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }

    &-value{
      display: flex;
      align-items: center;
      justify-content: center;

      margin-left: 5px;

      width: 14px;
      height: 14px;

      font-size: 10px;
      color: #FFFFFF;
      font-weight: 500;

      overflow: hidden;
      background: #DDE0E9;
      border-radius: 12px;
      border-radius: 50%;

      &.is-danger{
        background: #B52528;
      }
    }
  }
}

.js-new-mobile-filter{
  &.is-active{
    display: block;
  }
}
