mixin ui-badge(data, attrs)
  -
    data = data || {};
    attrs = attrs || {};

    var tag = data.tag || 'span';
    var type = data.type || 'muted';
    var size = data.size || 'md';
    var round = (!data.round && data.round !== false) ? 'ui-badge_round' : '';
    var count = data.count ? 'ui-badge_count' : '';

  #{tag}.ui-badge(class=`ui-badge_type_${type} ui-badge_size_${size}` class=round class=count)&attributes(attrs)
    block
