.ui-badge {
  display: inline-flex;
  padding: 2px 7px;
  font-weight: 500;
  text-align: center;
  border: 1px solid transparent;
  vertical-align: middle;
  border-radius: 5px;

  &_type {
    &_danger {
      color: var(--white-color);
      border-color: var(--danger-color);
      background-color: var(--danger-color);
    }
  }


  &_size {
    &_sm {
      padding-top: 1px;
      padding-bottom: 1px;
      font-size: var(--font-size-xxs);
    }
  }


  &_round {
    border-radius: 20px;
  }


  &_count {
    padding: 0;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    font-size: var(--font-size-xxs);
    text-align: center;
    border-radius: 50%;

    @include breakpoint($lg-breakpoint) {
      width: 18px;
      height: 18px;
      font-size: var(--font-size-xs);
    }
  }
}
