include footer-body/footer-body
include footer-content/footer-content
include footer-copyright/footer-copyright

mixin page-footer(data)
  footer.page-footer(class=data.className)

    if (!page.isShortFooter)

      // start footer-body
      +footer-body({
        className: 'page-footer__body'
      })
      // end footer-body

      // start footer-content
      +footer-content({
        className: 'page-footer__content'
      })
      // end footer-content

    // start footer-copyright
    +footer-copyright({
      className: 'page-footer__copyright'
    })
    // end footer-copyright
