@font-face {
    font-family: 'SFUIDisplay';
    src: url("../fonts/sfuidisplay/SFUIDisplay-Thin.eot");
    src: url("../fonts/sfuidisplay/SFUIDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/sfuidisplay/SFUIDisplay-Thin.woff") format("woff"), url("../fonts/sfuidisplay/SFUIDisplay-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay';
    src: url("../fonts/sfuidisplay/SFUIDisplay-Light.eot");
    src: url("../fonts/sfuidisplay/SFUIDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/sfuidisplay/SFUIDisplay-Light.woff") format("woff"), url("../fonts/sfuidisplay/SFUIDisplay-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay';
    src: url("../fonts/sfuidisplay/SFUIDisplay-Regular.eot");
    src: url("../fonts/sfuidisplay/SFUIDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sfuidisplay/SFUIDisplay-Regular.woff") format("woff"), url("../fonts/sfuidisplay/SFUIDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay';
    src: url("../fonts/sfuidisplay/SFUIDisplay-Medium.eot");
    src: url("../fonts/sfuidisplay/SFUIDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/sfuidisplay/SFUIDisplay-Medium.woff") format("woff"), url("../fonts/sfuidisplay/SFUIDisplay-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay';
    src: url("../fonts/sfuidisplay/SFUIDisplay-Semibold.eot");
    src: url("../fonts/sfuidisplay/SFUIDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/sfuidisplay/SFUIDisplay-Semibold.woff") format("woff"), url("../fonts/sfuidisplay/SFUIDisplay-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay';
    src: url("../fonts/sfuidisplay/SFUIDisplay-Bold.eot");
    src: url("../fonts/sfuidisplay/SFUIDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/sfuidisplay/SFUIDisplay-Bold.woff") format("woff"), url("../fonts/sfuidisplay/SFUIDisplay-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
