// Mixins.

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

@mixin cf {
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}

@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}

// You can add your own mixins here:

@mixin breakpoint($breakpoint, $mobileFirst: true) {
  @if $mobileFirst == true {
    @media (min-width: $breakpoint) { @content };
  }
  @else {
    @media (max-width: $breakpoint) { @content };
  }
}

@mixin clamp-section-collapsed($maxHeight: 100px, $clampValue: 3) {
  max-height: $maxHeight;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $clampValue;
  transition: max-height .5s;
}

@mixin clamp-section-expanded($maxHeightLimit: 1000px) {
  max-height: $maxHeightLimit;
  transition: max-height 1s ease-in-out;
  display: block;
  -webkit-line-clamp: none;
  -webkit-box-orient: horizontal;
}
