// File for scss-vars.
// For example: main colors, paddings and so on.


// colors
$white-color: #FFF;
$black-color: #000;
$body-color: #657198;
$primary-color: #23346B;
$danger-color: #B52528;
$success-color: #17C671;
$bg-color: #F8F9FA;
$bg-color-dark: #F5F6F8;
$border-color: #F2F3F6;
$muted-color: #9199B5;
$gray-color: #4F5D89;
$light-color: #FAFBFC;
$accent-color: #1A295B;
$control-color: #DDE0E9;
$gray2-color: $muted-color;
$main-color: $primary-color;
$accent2-color: $danger-color;


$border-radius: 5px;
$box-shadow: 0px 11px 50px rgba(35, 52, 107, 0.1);


$twitter-icon: url('data:image/svg+xml,%3Csvg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M19.4503 1.92672C19.0111 2.11693 18.5553 2.26699 18.0875 2.37562C18.6029 1.89721 18.9904 1.29882 19.2091 0.630908C19.2715 0.440231 19.0595 0.275347 18.8832 0.37744C18.2325 0.754465 17.5315 1.0373 16.7998 1.21819C16.7573 1.22869 16.7135 1.23401 16.6696 1.23401C16.5363 1.23401 16.4067 1.18567 16.3048 1.09793C15.5263 0.42771 14.525 0.0585938 13.4854 0.0585938C13.0356 0.0585938 12.5814 0.127079 12.1354 0.262168C10.7538 0.680754 9.68773 1.79399 9.35325 3.16747C9.22777 3.68264 9.1938 4.19828 9.2522 4.70004C9.2589 4.7577 9.231 4.79794 9.2138 4.81682C9.18358 4.84991 9.14074 4.86888 9.09627 4.86888C9.0913 4.86888 9.08619 4.86864 9.08113 4.86817C6.05675 4.59371 3.32949 3.17048 1.40173 0.8607C1.30342 0.742886 1.11491 0.757336 1.03656 0.888612C0.659052 1.52122 0.459553 2.24477 0.459553 2.98103C0.459553 4.10937 0.923653 5.17271 1.72979 5.94789C1.39079 5.86938 1.06268 5.74573 0.757886 5.58038C0.61043 5.50036 0.429002 5.6032 0.42693 5.76795C0.405824 7.44417 1.41055 8.9357 2.91565 9.60733C2.88534 9.60804 2.85503 9.60837 2.82468 9.60837C2.5861 9.60837 2.34453 9.58587 2.10677 9.54148C1.94071 9.51051 1.80121 9.66438 1.85277 9.82164C2.3413 11.3114 3.65452 12.4096 5.22604 12.6589C3.92177 13.5141 2.40293 13.9652 0.822121 13.9652L0.329301 13.9649C0.17746 13.9649 0.0490387 14.0616 0.0103436 14.2052C-0.0277732 14.3467 0.0424369 14.496 0.171918 14.5696C1.95324 15.5822 3.98509 16.1173 6.0487 16.1173C7.85504 16.1173 9.54471 15.7672 11.0708 15.0767C12.4699 14.4436 13.7062 13.5387 14.7454 12.3871C15.7135 11.3143 16.4705 10.0759 16.9954 8.70624C17.4957 7.40068 17.7602 6.00762 17.7602 4.67764V4.61428C17.7602 4.40073 17.859 4.19979 18.0316 4.06301C18.6862 3.54383 19.2563 2.93269 19.7258 2.24656C19.8498 2.06539 19.6543 1.83833 19.4503 1.92672Z" fill="%231DA1F2"/%3E%3C/svg%3E%0A');
$facebook-icon: url('data:image/svg+xml,%3Csvg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M14.0109 0.0585938H2.28017C1.08507 0.0585938 0.116211 1.02741 0.116211 2.22254V13.9533C0.116211 15.1484 1.08503 16.1173 2.28017 16.1173H8.06574L8.0756 10.3788H6.58473C6.39098 10.3788 6.23372 10.2221 6.23298 10.0283L6.22583 8.17859C6.22508 7.98378 6.38281 7.82547 6.57762 7.82547H8.06578V6.03814C8.06578 3.96395 9.33257 2.83454 11.1829 2.83454H12.7012C12.8955 2.83454 13.053 2.99203 13.053 3.18633V4.74605C13.053 4.94027 12.8956 5.09772 12.7014 5.09784L11.7696 5.09827C10.7634 5.09827 10.5685 5.57643 10.5685 6.27816V7.82551H12.7796C12.9903 7.82551 13.1538 8.00947 13.1289 8.2187L12.9097 10.0685C12.8887 10.2455 12.7386 10.3788 12.5604 10.3788H10.5784L10.5685 16.1173H14.011C15.2061 16.1173 16.175 15.1485 16.175 13.9534V2.22254C16.1749 1.02741 15.2061 0.0585938 14.0109 0.0585938Z" fill="%23475993"/%3E%3C/svg%3E%0A');
$telegram-icon: url('data:image/svg+xml,%3Csvg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M0.442517 7.7587L4.71205 9.3449L6.36462 14.6351C6.47036 14.9739 6.88659 15.0992 7.16286 14.8743L9.54277 12.9431C9.79224 12.7408 10.1476 12.7307 10.4083 12.9191L14.7008 16.0212C14.9963 16.235 15.415 16.0738 15.4891 15.7184L18.6336 0.6623C18.7145 0.273989 18.3312 -0.0499526 17.9598 0.0930514L0.437514 6.82155C0.0051012 6.98755 0.00886883 7.59695 0.442517 7.7587ZM6.09829 8.50053L14.4425 3.38491C14.5925 3.29324 14.7468 3.49508 14.618 3.61399L7.73159 9.98584C7.48953 10.2101 7.33339 10.5103 7.28917 10.8361L7.05459 12.5665C7.02352 12.7975 6.69747 12.8205 6.63342 12.5969L5.73122 9.44137C5.62789 9.08146 5.77847 8.69702 6.09829 8.50053Z" fill="%2361A8DE"/%3E%3C/svg%3E%0A');
$dzen-icon: url('data:image/svg+xml,%3Csvg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M9.39523 0C5.4794 0.000372218 2.76606 0.0133999 1.37329 1.37349C0.0132733 2.76595 0.000242816 5.60671 0.000242816 9.39516C4.20688 9.26822 6.13055 9.16289 7.6648 7.66469C9.16292 6.13044 9.26829 4.20681 9.39523 0ZM1.37304 17.6267C0.0130304 16.2342 0 13.3935 0 9.60503C4.20664 9.73198 6.13031 9.83731 7.66457 11.3355C9.16268 12.8698 9.26805 14.7934 9.395 18.9998C5.47917 18.9998 2.76582 18.9872 1.37304 17.6267ZM9.60499 18.9998C9.73193 14.7934 9.8373 12.8698 11.3355 11.3355C12.8697 9.83731 14.7933 9.73198 19 9.60503C18.9996 13.3935 18.9866 16.2342 17.6266 17.6267C16.2338 18.9872 13.5209 18.9998 9.60499 18.9998ZM9.60499 0C9.73193 4.20681 9.8373 6.13044 11.3355 7.66469C12.8697 9.16289 14.7933 9.26822 19 9.39516C18.9996 5.60671 18.9866 2.76595 17.6266 1.37349C16.2338 0.0133999 13.5209 0.000372218 9.60499 0Z" fill="%232C3036"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M11.3355 11.3355C9.8373 12.8698 9.73193 14.7934 9.60499 18.9998C13.5209 18.9998 16.2338 18.9872 17.6266 17.6267C18.9866 16.2342 18.9996 13.3935 19 9.60503C14.7934 9.73198 12.8697 9.83731 11.3355 11.3355ZM0 9.60503C0 13.3935 0.0130304 16.2342 1.37304 17.6267C2.76582 18.9872 5.47917 18.9998 9.395 18.9998C9.26805 14.7934 9.16268 12.8698 7.66457 11.3355C6.13031 9.83731 4.20664 9.73198 0 9.60503ZM9.39523 0C5.4794 0.000372218 2.76606 0.0133999 1.37329 1.37349C0.0132733 2.76595 0.000242816 5.60671 0.000242816 9.39516C4.20688 9.26822 6.13055 9.16289 7.6648 7.66469C9.16292 6.13044 9.26829 4.20681 9.39523 0ZM11.3355 7.66469C9.8373 6.13044 9.73193 4.20681 9.60499 0C13.5209 0.000372218 16.2338 0.0133999 17.6266 1.37349C18.9866 2.76595 18.9996 5.60671 19 9.39516C14.7934 9.26822 12.8697 9.16289 11.3355 7.66469Z" fill="url(%23paint0_linear)"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M19 9.6057V9.50073V9.39611C14.7934 9.26881 12.8697 9.16387 11.3354 7.66533C9.83731 6.13139 9.73194 4.20779 9.60499 0.000976562H9.49998H9.395C9.26806 4.20779 9.16269 6.13139 7.66454 7.66533C6.13028 9.16387 4.20661 9.26881 0 9.39611V9.50073V9.6057C4.20661 9.73296 6.13028 9.83794 7.66454 11.3361C9.16269 12.8704 9.26806 14.794 9.395 19.0008H9.49998H9.60499C9.73194 14.794 9.83731 12.8704 11.3354 11.3361C12.8697 9.83794 14.7934 9.73296 19 9.6057Z" fill="white"/%3E%3Cdefs%3E%3ClinearGradient id="paint0_linear" x1="19" y1="18.9998" x2="19" y2="0" gradientUnits="userSpaceOnUse"%3E%3Cstop stop-color="white" stop-opacity="0.01"/%3E%3Cstop offset="0.47509" stop-color="white" stop-opacity="0.01"/%3E%3Cstop offset="0.76042" stop-color="white" stop-opacity="0.04271"/%3E%3Cstop offset="0.99531" stop-color="white" stop-opacity="0.09855"/%3E%3Cstop offset="1" stop-color="white" stop-opacity="0.1"/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A');

$phone-icon: url('data:image/svg+xml,%3Csvg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M12.9996 9.733V11.69C13.0003 11.8717 12.963 12.0515 12.8901 12.218C12.8172 12.3845 12.7102 12.5339 12.5761 12.6567C12.442 12.7795 12.2836 12.873 12.1111 12.9312C11.9387 12.9894 11.756 13.0111 11.5747 12.9947C9.56332 12.7766 7.63128 12.0907 5.93379 10.992C4.35449 9.99045 3.01552 8.65414 2.01197 7.07797C0.907309 5.37614 0.219857 3.43855 0.00530538 1.42217C-0.0110287 1.24177 0.0104527 1.05996 0.0683815 0.888307C0.12631 0.716653 0.219418 0.558917 0.341775 0.425143C0.464133 0.291368 0.61306 0.184486 0.779074 0.111302C0.945089 0.0381173 1.12455 0.00023382 1.30604 6.3246e-05H3.26695C3.58417 -0.00305263 3.89169 0.109056 4.13221 0.315492C4.37273 0.521928 4.52983 0.808606 4.57422 1.12209C4.65699 1.74838 4.81048 2.36332 5.03177 2.95517C5.11971 3.18866 5.13874 3.44241 5.08661 3.68637C5.03448 3.93032 4.91337 4.15425 4.73763 4.33161L3.90751 5.16008C4.838 6.79325 6.19292 8.14549 7.82933 9.07413L8.65945 8.24566C8.83717 8.07027 9.06154 7.9494 9.30598 7.89737C9.55041 7.84534 9.80467 7.86434 10.0386 7.95211C10.6316 8.17296 11.2478 8.32614 11.8753 8.40874C12.1929 8.45345 12.4828 8.61306 12.6901 8.85723C12.8974 9.10139 13.0076 9.41307 12.9996 9.733Z" fill="%234F5D89"/%3E%3C/svg%3E%0A');
$email-icon: url('data:image/svg+xml,%3Csvg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M0 2.71629V9.39172C0 10.1296 0.658636 10.7334 1.46364 10.7334H13.1727C13.9777 10.7334 14.6364 10.1296 14.6364 9.39172V2.71404L7.31656 7.8061L0 2.71629ZM14.5672 0.934906L7.31656 5.97885L0.0685422 0.936719C0.256995 0.395105 0.812424 0 1.46364 0H13.1727C13.8232 0 14.3781 0.394224 14.5672 0.934906Z" fill="%234F5D89"/%3E%3C/svg%3E%0A');
$address-icon: url('data:image/svg+xml,%3Csvg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M5.5 0C2.46322 0 0 2.46322 0 5.5C0 9.62501 5.5 15.7143 5.5 15.7143C5.5 15.7143 11 9.62501 11 5.5C11 2.46322 8.53682 0 5.5 0ZM5.5 7.46432C4.41571 7.46432 3.53572 6.58433 3.53572 5.50004C3.53572 4.41575 4.41571 3.53572 5.5 3.53572C6.58429 3.53572 7.46428 4.41571 7.46428 5.5C7.46428 6.58429 6.58429 7.46432 5.5 7.46432Z" fill="%234F5D89"/%3E%3C/svg%3E%0A');

$arrow-top-right: url('data:image/svg+xml,%3Csvg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M0.00272658 0.66644C0.00272658 0.843191 0.0729407 1.0127 0.197922 1.13768C0.322904 1.26267 0.492415 1.33288 0.669166 1.33288L5.72744 1.33288L0.195994 6.85766C0.0705013 6.98315 -3.83301e-08 7.15336 -2.92502e-08 7.33083C-2.01703e-08 7.50831 0.0705013 7.67851 0.195994 7.80401C0.321487 7.9295 0.491692 8 0.669166 8C0.84664 8 1.01685 7.9295 1.14234 7.80401L6.66712 2.27256L6.66712 7.33083C6.66712 7.50758 6.73733 7.6771 6.86232 7.80208C6.9873 7.92706 7.15681 7.99727 7.33356 7.99727C7.51031 7.99727 7.67982 7.92706 7.80481 7.80208C7.92979 7.6771 8 7.50758 8 7.33083L8 0.66644C7.99895 0.579351 7.98083 0.493314 7.94668 0.413193C7.87906 0.250349 7.74965 0.120942 7.58681 0.0533153C7.50669 0.0191661 7.42065 0.00105301 7.33356 1.56277e-07L0.669166 4.47587e-07C0.492415 4.55313e-07 0.322904 0.0702138 0.197922 0.195196C0.0729406 0.320177 0.00272657 0.489689 0.00272658 0.66644Z" fill="white"/%3E%3C/svg%3E%0A');
$arrow-left: url("data:image/svg+xml,%3Csvg width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.44721 1.00003L1.00178 5.44447L5.4472 9.88892' stroke='%23505C83' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.00091 5.44458L11.6699 5.44458' stroke='%23505C83' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
$arrow-right: url("data:image/svg+xml,%3Csvg width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.2218 9.88889L11.6672 5.44444L7.2218 1' stroke='%23505C83' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.669 5.44446H1' stroke='%23505C83' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
$load: url('data:image/svg+xml,%3Csvg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M14.9258 1.65119L14.9258 5.57104L11.0059 5.57104" stroke="%239199B5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M14.9258 5.57104L11.8944 2.72261C11.1923 2.02012 10.3236 1.50694 9.36951 1.23096C8.41539 0.954976 7.40691 0.925192 6.43817 1.14438C5.46943 1.36357 4.572 1.82459 3.82962 2.48443C3.08724 3.14426 2.52411 3.9814 2.19277 4.91773" stroke="%239199B5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M1.00098 12.2211L1.00098 8.30127L4.92084 8.30127" stroke="%239199B5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M1.00098 8.30127L4.03233 11.1497C4.73448 11.8522 5.60313 12.3654 6.55725 12.6414C7.51137 12.9173 8.51985 12.9471 9.48859 12.7279C10.4573 12.5087 11.3548 12.0477 12.0971 11.3879C12.8395 10.7281 13.4026 9.89091 13.734 8.95458" stroke="%239199B5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E%0A');
$file-text: url('data:image/svg+xml,%3Csvg width="26" height="34" viewBox="0 0 26 34" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M16 1H4C3.20435 1 2.44129 1.33714 1.87868 1.93726C1.31607 2.53737 1 3.35131 1 4.2V29.8C1 30.6487 1.31607 31.4626 1.87868 32.0627C2.44129 32.6629 3.20435 33 4 33H22C22.7956 33 23.5587 32.6629 24.1213 32.0627C24.6839 31.4626 25 30.6487 25 29.8V10.6L16 1Z" stroke="%239199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M16 1V10.6H25" stroke="%239199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M19 18.5999H7" stroke="%239199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M19 25H7" stroke="%239199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M10 12.2017H8.5H7" stroke="%239199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E%0A');


$xs-breakpoint: 480px;
$sm-breakpoint: 640px;
$md-breakpoint: 768px;
$lg-breakpoint: 1024px;
$xl-breakpoint: 1260px;
