.footer-menu {
  color: $gray-color;
  font-size: 14px;
  font-weight: 500;

  @include breakpoint($sm-breakpoint) {
    font-size: 16px;
  }

  @include breakpoint($lg-breakpoint) {
    font-size: 14px;
  }

  @include breakpoint($xl-breakpoint) {
    font-size: inherit;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
  }

  &__group {
    flex: 1 1 100%;
    max-width: 100%;

    @include breakpoint($lg-breakpoint) {
      flex: 1 1 25%;
      max-width: 25%;
    }
  }

  &__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  &__item {
    margin-left: -15px;
    margin-right: -15px;
    border-top: 1px solid $border-color;

    @include breakpoint($lg-breakpoint) {
      margin: 13px 0;
      border-top: 0;
    }
  }

  &__link {
    position: relative;
    padding: 10px 15px;
    display: block;
    color: inherit;
    text-decoration: none;
    vertical-align: middle;

    @include breakpoint($lg-breakpoint) {
      padding: 0 18px 0 0;
      display: inline-block;
    }
  }

  &__icon {
    position: absolute;
    top: 14px;
    right: 15px;
    font-size: 0.875em;

    @include breakpoint($lg-breakpoint) {
      top: .25em;
      right: 0;
    }
  }
}
