mixin footer-menu(data)
  .footer-menu
    ._body
      each group in data
        ._group
          ul._list
            each item in group
              li._item
                a._link(href=item.href title='')
                  span._title= item.title
                  i.fe.fe-chevron-right._icon
