extends ../../template

include ../../../components/menu-aside/menu-aside
include ../../../components/submenu/submenu

include ../../../components/badge/badge
include ../../../components/select/select
include ../../../components/button/button
include ../../../components/input-text/input-text

block append settings
	-
		page.title = 'Другие активности';


block page-body

	main.page-main

		// start menu-aside
		+menu-aside([
				{
						href: '#',
						icon: 'home',
						title: 'Главная страница'
				}, {
						href: '#',
						icon: 'briefcase',
						title: 'Проектный офис',
						dropdown: [{
								href: '#',
								title: 'Сводка экспертного офиса'
						}, {
								href: '#',
								title: 'Блиц оценки',
								count: 3
						}, {
								href: '#',
								title: 'Возмездные услуги',
								count: 7
						}, {
								href: '#',
								title: 'Другие активности',
								count: 3
						}]
				}, {
						href: '#',
						icon: 'list',
						title: 'Мои новости'
				}, {
						href: '#',
						icon: 'calendar',
						title: 'Мои мероприятия'
				}, {
						href: '#',
						icon: 'users',
						title: 'Мои компании'
				}, {
						href: '#',
						icon: 'comment',
						title: 'Мои комментарии'
				}, {
						href: '#',
						icon: 'database',
						title: 'Мои подписки'
				}, {
						divider: true
				}, {
						href: '#',
						icon: 'star',
						title: 'Моё избранное'
				}, {
						href: '#',
						icon: 'settings',
						title: 'Настройки'
				},
		], {
				class: 'page-main__menu-aside'
		})
		// end menu-aside

		// start main-body
		.main-body._body
			._container.container

				._grid.is-reverse

					// start main-content
					.main-content._content.js-accordion.js-menu-sections-list

						// start main-header
						.main-header.is-large._header
							._container
								._content
									h1.main-heading._heading= page.title
						// end main-header

						// start main-menu
						.main-actions
							._container
								._content
									ul._list
										li._item.active
											a._link(href="#" title="Все заявки") Все заявки
										li._item
											a._link(href="#" title="Ждут ответа") Ждут ответа
												span._value 2
										li._item
											a._link(href="#" title="В работе") В работе
												span._value 2
										li._item
											a._link(href="#" title="Принятые") Принятые
										li._item
											a._link(href="#" title="Отклоненные") Отклоненные
										li._item
											a._link(href="#" title="Выполненные") Выполненные
										li._item
											a._link(href="#" title="Не выполненные") Не выполненные
								._aside
									+select({
										options: [{
												title: 'Актуальное'
										},{
												title: 'Актуальное'
										},{
												title: 'Актуальное'
										}],
										placeholder: 'По актуальности',
										searchResult: '-1',
										type: 'is-default main-actions__select'
									})
						// end main-menu

						// start main-profile
						.main-profile._profile
							._container
								._body
									block main-profile
										
										// start card
										.card._card
											.card-header.-secondary._header
												.card-meta._meta
													._content
														span.badge.badge-lg.badge-warning._badge Ожидает вашего ответа
														span._item.card-meta__id Id: 533
														span._item.card-meta__date Получено: 07.04.2020 18:00
													._info
														span._date.card-meta__item Ответить до: 
															span._date-value.-danger 08.04.2020 18:00
														

												h3._link
													a._link(href="#" title="") Запрос: “Экспертное заключение на законопроект”
													span._caption Описание: Требуется экспертное заключение на законопроект строительства аэродрома во Владимирской области по всем параметрам ...

											.card-footer._footer
												a._more(href="#" title="Перейти к блиц-оценке") Перейти к блиц-оценке
													i.fe.fe-chevron-right
										// end card

										// start card
										.card._card
											.card-header.-secondary._header
												.card-meta._meta
													._content
														span.badge.badge-lg.badge-warning._badge Ожидает вашего ответа
														span._item.card-meta__id Id: 533
														span._item.card-meta__date Получено: 07.04.2020 18:00
													._info
														span._date.card-meta__item Ответить до: 09.04.2020 10:00
														

												h3._link
													a._link(href="#" title="") Запрос: “Приглашение на образовательное мероприятие”
													span._caption Описание: Требуется онлайн-консультация по проекту строительства аэродрома во Владимирской области по всем параметрам экспе...

											.card-footer._footer
												a._more(href="#" title="Перейти к блиц-оценке") Перейти к блиц-оценке
													i.fe.fe-chevron-right
										// end card

										// start card
										.card._card
											.card-header.-secondary._header
												.card-meta._meta
													._content
														span.badge.badge-lg.badge-success._badge Принято
														span.badge.badge-lg.badge-dark._badge В работе
														span._item.card-meta__id Id: 533
														span._item.card-meta__date Получено: 07.04.2020 18:00
													._info
														span._date.card-meta__item Дата ответа: 09.04.2020 10:00
														

												h3._link
													a._link(href="#" title="") Запрос: “Экспертное заключение на законопроект”
													span._caption Описание: Требуется экспертное заключение на законопроект строительства аэродрома во Владимирской области по всем параметрам ...

											.card-footer._footer
												a._more(href="#" title="Перейти к блиц-оценке") Перейти к блиц-оценке
													i.fe.fe-chevron-right
										// end card

										// start card
										.card._card
											.card-header.-secondary._header
												.card-meta._meta
													._content
														span.badge.badge-lg.badge-success._badge Принято
														span._item.card-meta__id Id: 533
														span._item.card-meta__date Получено: 07.04.2020 18:00
													._info
														span._date.card-meta__item Дата ответа: 09.04.2020 10:00
														

												h3._link
													a._link(href="#" title="") Запрос: “Приглашение на образовательное мероприятие”
													span._caption Описание: Требуется онлайн-консультация по проекту строительства аэродрома во Владимирской области по всем параметрам экспе...

											.card-footer._footer
												a._more(href="#" title="Перейти к блиц-оценке") Перейти к блиц-оценке
													i.fe.fe-chevron-right
										// end card

										// start card
										.card._card
											.card-header.-secondary._header
												.card-meta._meta
													._content
														span.badge.badge-lg.badge-green._badge Выполнено
														span._item.card-meta__id Id: 533
														span._item.card-meta__date Получено: 07.04.2020 18:00
													._info
														span._date.card-meta__item Дата ответа: 09.04.2020 10:00
														

												h3._link
													a._link(href="#" title="") Запрос: “Экспертное заключение на законопроект”
													span._caption Описание: Требуется экспертное заключение на законопроект строительства аэродрома во Владимирской области по всем параметрам ...

											.card-footer._footer
												a._more(href="#" title="Перейти к блиц-оценке") Перейти к блиц-оценке
													i.fe.fe-chevron-right
										// end card

										// start card
										.card._card
											.card-header.-secondary._header
												.card-meta._meta
													._content
														span.badge.badge-lg.badge-danger._badge Отклонено
														span._item.card-meta__id Id: 533
														span._item.card-meta__date Получено: 07.04.2020 18:00
													._info
														span._date.card-meta__item Дата ответа: 09.04.2020 10:00
														

												h3._link
													a._link(href="#" title="") Запрос: “Приглашение на образовательное мероприятие”
													span._caption Описание: Требуется экспертное заключение на законопроект строительства аэродрома во Владимирской области по всем параметрам ...

											.card-footer._footer
												a._more(href="#" title="Перейти к блиц-оценке") Перейти к блиц-оценке
													i.fe.fe-chevron-right
										// end card

										// start card
										.card._card
											.card-header.-secondary._header
												.card-meta._meta
													._content
														span.badge.badge-lg.badge-danger._badge Отклонено
														span._item.card-meta__id Id: 533
														span._item.card-meta__date Получено: 07.04.2020 18:00
													._info
														span._date.card-meta__item Отсутствие ответа
														

												h3._link
													a._link(href="#" title="") Запрос: “Приглашение на образовательное мероприятие”
													span._caption Описание: Требуется экспертное заключение на законопроект строительства аэродрома во Владимирской области по всем параметрам ...

											.card-footer._footer
												a._more(href="#" title="Перейти к блиц-оценке") Перейти к блиц-оценке
													i.fe.fe-chevron-right
										// end card

										// start card
										.card._card
											.card-header.-secondary._header
												.card-meta._meta
													._content
														span.badge.badge-lg.badge-danger._badge Не выполнено
														span._item.card-meta__id Id: 533
														span._item.card-meta__date Получено: 07.04.2020 18:00
													._info
														span._date.card-meta__item Вышел срок выполнения
														

												h3._link
													a._link(href="#" title="") Запрос: “Экспертное заключение на законопроект”
													span._caption Описание: Требуется экспертное заключение на законопроект строительства аэродрома во Владимирской области по всем параметрам ...

											.card-footer._footer
												a._more(href="#" title="Перейти к блиц-оценке") Перейти к блиц-оценке
													i.fe.fe-chevron-right
										// end card

										a.button.is-load.is-block._loadmore(href="#" title="Загрузить еще") Загрузить еще


						// end main-profile
						
						// start page-navigation
						.page-navigation._navigation.main-content__navigation-secondary
							._main
								ul._list
									li._item
										a._link.is-active-secondary(href="#") 1
									li._item
										a._link(href="#") 2
									li._item
										a._link(href="#") 3
									li._item
										a._link(href="#") 4
									li._item
										a._link(href="#") 5
									li._item
										span._link(href="#") ...
									li._item
										a._link(href="#") 21


							._aside
								ul._list
									li._item
										a._link(href="#")
											.fe.fe-chevrons-left
									li._item
										a._link.is-active-secondary(href="#")
											.fe.fe-chevrons-right
						// end page-navigation

					// end main-content

					// start main-aside
					aside.main-aside._aside.is-secondary
						._container.js-main-aside-sticky

							// start aside-profile
							.aside-profile._profile
								._header
									+button({
											href: '#',
											title: 'Вернуться в кабинет',
											type: 'is-secondary is-round',
											size: 'is-small'
									}, {
											class: 'aside-profile__button'
									})

								._body
									+submenu({
											title: 'Меню настроек профиля',
											items: [{
													href: '#',
													title: 'Персональные данные'
											}, {
													href: '#',
													title: 'Настройка предпочтений'
											}, {
													href: '#',
													title: 'Анкета эксперта'
											}]
									})
							// end aside-profile

					// end main-aside
		// end main-body
