extends ../../template

include ../../../components/menu-aside/menu-aside
include ../../../components/submenu/submenu

include ../../../components/badge/badge
include ../../../components/select/select
include ../../../components/button/button
include ../../../components/input-text/input-text
include ../../../components/menu-sections/menu-sections

block append settings
	-
		page.title = 'Завершение выполнения заявки';


block page-body

	main.page-main

		// start menu-aside
		+menu-aside([
				{
						href: '#',
						icon: 'home',
						title: 'Главная страница'
				}, {
						href: '#',
						icon: 'briefcase',
						title: 'Проектный офис',
						dropdown: [{
								href: '#',
								title: 'Сводка экспертного офиса'
						}, {
								href: '#',
								title: 'Блиц оценки',
								count: 3
						}, {
								href: '#',
								title: 'Возмездные услуги',
								count: 7
						}, {
								href: '#',
								title: 'Другие активности',
								count: 3
						}]
				}, {
						href: '#',
						icon: 'list',
						title: 'Мои новости'
				}, {
						href: '#',
						icon: 'calendar',
						title: 'Мои мероприятия'
				}, {
						href: '#',
						icon: 'users',
						title: 'Мои компании'
				}, {
						href: '#',
						icon: 'comment',
						title: 'Мои комментарии'
				}, {
						href: '#',
						icon: 'database',
						title: 'Мои подписки'
				}, {
						divider: true
				}, {
						href: '#',
						icon: 'star',
						title: 'Моё избранное'
				}, {
						href: '#',
						icon: 'settings',
						title: 'Настройки'
				},
		], {
				class: 'page-main__menu-aside'
		})
		// end menu-aside

		// start main-body
		.main-body._body
			._container.container

				// start main-header
				.main-header.is-large._header
					._container
						._content
							h1.main-heading._heading= page.title
				// end main-header

				._grid

					// start main-content
					.main-content._content.js-accordion.js-menu-sections-list

						// start main-profile
						.main-profile._profile
							._container
								._body
									block main-profile

										._cards.js-menu-sections-list

											// start card
											.card.-table.-border._card.js-accordion-item
												.card-top
													.card-header
														.card-title Укажите данные о проделанной работе
												.card-body
													h3 Документы оказания услуги:

													// start dropzone
													form.dropzone._dropzone(action="#")#my-awesome-dropzone
													// end dropzone

													// start documents
													.documents._documents
														._cards
															// start documents-card
															.documents-card._card
																._main
																	._icon
																		<svg width="31" height="42" viewBox="0 0 31 42" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M2.5696 0.635742C1.15632 0.635742 0 1.79911 0 3.22101V39.4148C0 40.8367 1.15632 42.0001 2.5696 42.0001H28.2656C29.6789 42.0001 30.8352 40.8367 30.8352 39.4148V10.9768L20.5568 0.635742H2.5696Z" fill="#E9EBF0"/>
																			<path d="M22.9384 11.1648H30.8353L20.3062 0.635742V8.53257C20.3062 9.98032 21.4907 11.1648 22.9384 11.1648Z" fill="#BDC2D2"/>
																			<path d="M30.8338 18.6853L23.313 11.1646H30.8338V18.6853Z" fill="#DDE0E9"/>
																		</svg>
																	._data
																		a._title(href="#" title="") Документ законопрокта.PDF
																		._actions
																			span._meta Формат: pdf
																			span._meta Вес: 1.24 Мб

																._aside
																	button._remove Удалить
															// end documents-card

															// start documents-card
															.documents-card._card
																._main
																	._icon
																		<svg width="31" height="42" viewBox="0 0 31 42" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<path d="M2.5696 0.635742C1.15632 0.635742 0 1.79911 0 3.22101V39.4148C0 40.8367 1.15632 42.0001 2.5696 42.0001H28.2656C29.6789 42.0001 30.8352 40.8367 30.8352 39.4148V10.9768L20.5568 0.635742H2.5696Z" fill="#E9EBF0"/>
																			<path d="M22.9384 11.1648H30.8353L20.3062 0.635742V8.53257C20.3062 9.98032 21.4907 11.1648 22.9384 11.1648Z" fill="#BDC2D2"/>
																			<path d="M30.8338 18.6853L23.313 11.1646H30.8338V18.6853Z" fill="#DDE0E9"/>
																		</svg>
																	._data
																		a._title(href="#" title="") Документ законопрокта.PDF
																		._actions
																			span._meta Формат: pdf
																			span._meta Вес: 1.24 Мб
																._aside
																	button._remove Удалить
															// end documents-card
													// end documents

											// end card


						// end main-profile

					// end main-content

					// start main-aside
					aside.main-aside._aside.is-border-top
						._container.js-main-aside-sticky
							._header
								._buttons
									a.button.button-block.is-primary._button(href="#" title="Отправить информацию") Отправить информацию

					// end main-aside
		// end main-body
