mixin slider-nav(data, attrs)
  - data = data || {};

  .slider-nav&attributes(attrs)
    button._item.is-prev(class=(data.prevEl || 'js-slider-prev'))
    button._item.is-next(class=(data.nextEl || 'js-slider-next'))
