.slider-nav {
  display: flex;

  &__item {
    position: relative;
    z-index: 2;
    margin-right: 4px;
    padding: 0;
    width: 36px;
    height: 36px;
    border: 0;
    background: $bg-color;
    border-radius: 50%;
    transition: 0.3s;

    &:hover {
      background: darken($bg-color, 5%);
    }

    &::before {
      content: '';
      position: relative;
      top: -1px;
      display: inline-block;
      width: 13px;
      height: 11px;
      vertical-align: middle;
    }

    &:last-child {
      margin-right: 0;
    }

    &.is-prev {
      &::before {
        background-image: $arrow-left;
      }
    }

    &.is-next {
      &::before {
        background-image: $arrow-right;
      }
    }

    &.swiper-button-disabled {
      cursor: default;

      &::before {
        opacity: 0.5;
      }
    }
  }
}
