.footer-body {
  overflow: hidden;

  &__container{
    padding: 0;

    @include breakpoint($lg-breakpoint){
      padding: 0 15px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    // padding: 30px 0 0 0;


    // flex-direction: row;
    // padding: 60px 0 0 0;

    // @include breakpoint($lg-breakpoint) {
    //   flex-direction: row;
    //   padding: 25px 0;
    // }

    // @include breakpoint($xl-breakpoint) {
    //   padding: 32px 0 25px;
    // }

    @include breakpoint($lg-breakpoint){
      flex-direction: row;
      padding: 30px 0 0 0;
    }

    @include breakpoint($xl-breakpoint){
      flex-direction: row;
      padding: 30px 0 0 0;
    }
  }

  &__data{
    display: flex;
    // align-items: flex-start;
    flex-direction: column;


    justify-content: center;
    align-items: center;
    text-align: center;
    // padding-bottom: 30px;

    // margin-right: 85px;

    @include breakpoint($md-breakpoint){
      margin-bottom: 30px;
      // border-bottom: 1px solid #F2F3F6;
    }

    @include breakpoint($lg-breakpoint){
      align-items: flex-start;
      margin-right: 50px;
      justify-content: flex-start;
      border-bottom: 0;
      text-align: left;
      
    }

    @include breakpoint($xl-breakpoint){
      margin-right: 85px;
    }
  }

  &__main {
    @include breakpoint($lg-breakpoint) {
      // flex: 1 1 auto;
      // min-width: 0;
    }
  }

  &__aside {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    @include breakpoint($lg-breakpoint) {
      // flex: 0 0 auto;
      // margin-left: 35px;
      // margin-bottom: 0;
      // padding-top: 13px;
    }

    @include breakpoint($xl-breakpoint) {
      // margin-left: 70px;
    }
  }

  &__nav{
    display: none;

    @include breakpoint($md-breakpoint){
      display: block;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__logo{
    padding: 25px 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 230px;

    @include breakpoint($xs-breakpoint){
      max-width: none;
    }

    @include breakpoint($lg-breakpoint){
      border-bottom: 1px solid #F2F3F6;
    }

    @include breakpoint($xl-breakpoint){
      border: 0;
      padding: 0;
    }
  }

  &__title {
    margin: 30px 0 0 ;
    // margin: 40px 0 0;
    display: inline-block;
    color: #4F5D89;
    // font-size: 16px;
    font-size: 14px;
    // max-width: 370px;
    font-weight: 500;
    text-decoration: none;
    vertical-align: middle;

    display: none;

    // @include breakpoint($sm-breakpoint) {
    //   margin-bottom: 15px;
    //   font-size: 15px;
    // }

    @include breakpoint($lg-breakpoint){
      font-size: 16px;
      max-width: 370px;
      margin: 40px 0 0;
      text-align: left;
      display: block;
    }
  }

  &__caption {
    display: block;
    // margin: 30px 0 0 ;
    
    // max-width: 370px;
    // margin: 40px 0 0 0;
    color: #919AB5;
    // font-size: 14px;
    font-size: 12px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    font-size: 10px;
    border-top: 1px solid #F6F6F8;
    border-bottom: 1px solid #F6F6F8;

    @include breakpoint($sm-breakpoint){
      font-size: 14px;
    }

    @include breakpoint($lg-breakpoint){
      max-width: 370px;
      margin: 40px 0 0 0;
      font-size: 14px;
      text-align: left;
      padding-left: 0;
      padding-right: 0;
    }

    @include breakpoint($xl-breakpoint){
      padding: 0;
      border: 0;
    }
  }

  .social-buttons__link{
    width: 50px;
    height: 50px;
  }
}
