include ../footer-menu/footer-menu
include ../../social-buttons/social-buttons

mixin footer-body(data)
  .footer-body(class=data.className)
    ._container.container
      ._inner
        ._data
          img._logo(src='__static__img/content/web-rf.svg' alt='')

          a._title(href='#' title='') «РОСИНФРА» - платформа поддержки инфраструктурных проектов
          p._caption Платформа «РОСИНФРА» – это уникальное цифровое решение, созданное для повышения качества подготовки инфраструктурных проектов и выстраивания эффективного взаимодействия между участниками рынка ГЧП

        ._main
          .main-nav._nav
            ._body
              ._content.-small
                ._group
                  ul._list
                    li._item
                      a._link.is-title.is-small(href="#" title="Решения") Решения
                    li._item
                      a._link(href="#" title="Для бизнеса") Для бизнеса
                    li._item
                      a._link(href="#" title="Для государства") Для государства
                ._group
                  ul._list
                    li._item
                      a._link.is-title.is-small(href="#" title="База проектов") База проектов
                    li._item
                      a._link(href="#" title="Планируемые проекты") Планируемые проекты
                    li._item
                      a._link(href="#" title="Реализуемые проекты") Реализуемые проекты
                    li._item
                      a._link(href="#" title="Объекты под ГЧП") Объекты под ГЧП
                ._group
                  ul._list
                    li._item
                      a._link.is-title.is-small(href="#" title="База партнёров") База партнёров
                    li._item
                      a._link(href="#" title="Подобрать компанию") Подобрать компанию
                    li._item
                      a._link(href="#" title="Подобрать услугу") Подобрать услугу
                    li._item
                      a._link(href="#" title="Публичные партнёры") Публичные партнёры
                ._group
                  ul._list
                    li._item
                      a._link.is-title.is-small(href="#" title="ГЧП-Академия") ГЧП-Академия
                    li._item
                      a._link(href="#" title="Программы") Программы
                    li._item
                      a._link(href="#" title="ГЧП-словарь") ГЧП-словарь
                ._group
                  ul._list
                    li._item
                      a._link.is-title.is-small(href="#" title="Помощь экспертов") Помощь экспертов
                    li._item
                      a._link(href="#" title="Подобрать услугу") Подобрать услугу
                    li._item
                      a._link(href="#" title="Найти эксперта") Найти эксперта
                ._group
                  ul._list
                    li._item
                      a._link.is-title.is-small(href="#" title="Новости") Новости
                    li._item
                      a._link(href="#" title="Мнения экспертов") Мнения экспертов
                    li._item
                      a._link(href="#" title="Анонсы мероприятий") Анонсы мероприятий

              ._aside
                ul._list
                  li._item
                    a._link.is-title.is-small(href="#" title="Тренды и аналитика") Тренды и аналитика
                  li._item
                    a._link(href="#" title="Инвестиции в инфраструктуру")  Инвестиции в инфраструктуру
                  li._item
                    a._link(href="#" title="ГЧП в России") ГЧП в России
                  li._item
                    a._link(href="#" title="Библиотека") Библиотека
                  li._item
                    a._link(href="#" title="Национальные проекты") Национальные проекты
                  li._item
                    a._link(href="#" title="Судебная практика и решения ФАС") Судебная практика и решения ФАС