.about-project{
  padding: 15px 0 50px;

  @include breakpoint($md-breakpoint){
    padding: 30px 0 50px;
  }

  @include breakpoint($lg-breakpoint){
    padding: 35px 0 100px;
  }

  &__header{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 25px;

    @include breakpoint($lg-breakpoint){
      margin-bottom: 45px;
    }
  }

  &__title{
    display: block;
    max-width: 700px;

    margin: 0;

    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #23346B;
    line-height: 1.1;

    @include breakpoint($lg-breakpoint){
      font-size: 36px;
    }
  }

  &__caption{
    display: block;
    margin-top: 20px;
    max-width: 600px;
    text-align: center;
    font-size: 13px;

    @include breakpoint($lg-breakpoint){
      margin-top: 35px;
      font-size: 15px;
    }
  }

  &__grid{
    display: flex;

    flex-wrap: wrap;

    margin-bottom: -10px;

    @include breakpoint($md-breakpoint){
      margin: 0 -7px;
    }

    @include breakpoint($lg-breakpoint){
      margin: 0 -17px;
      flex-wrap: nowrap;
    }
   
  }

  &__column{
    width: 100%;
    margin-bottom: 10px;
    

    @include breakpoint($md-breakpoint){
      flex: 0 0 25%;
      max-width: 25%;
      padding: 0 7px;

      margin-bottom: 0;
    }

    @include breakpoint($lg-breakpoint){
      padding: 0 17px;
    }
  }
}

.about-pr-card{
  display: flex;
  position: relative;
  align-items: center;

  padding: 22px 15px;

  border-radius: 10px;
  background: #F6F6F8;
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s;

  @include breakpoint($md-breakpoint){
    padding: 35px 25px;
    min-height: 180px;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
  }

  &:hover{
    box-shadow: -15px -15px 30px rgba(242, 243, 246, 0.3), 15px 15px 30px rgba(145, 153, 181, 0.2);
  }

  &.is-pink{
    background: #F7E9E9;

    .about-pr-card{
      &__img{
        right: 20px;

        @include breakpoint($md-breakpoint){
          right: 10px;
        }
      }
    }
  }

  &.is-gray{
    background: #DEE0E9;
  }

  &.is-blue{
    background: #E5F1F7;
  }

  &.is-green{
    background: #EFF4F4;
  }

  &__img{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: -1;
    max-width: 90px;
    max-height: 75px;

    @include breakpoint($md-breakpoint){
      max-width: none;
      max-height: none;
    }
  }

  &__icon{
    margin-right: 20px;
    flex-shrink: 0;

    @include breakpoint($md-breakpoint){
      margin-right: 0;
      margin-bottom: 25px;
    }
  }

  &__title{
    display: block;
    font-weight: 500;
    font-size: 17px;
    color: #23346B;
    max-width: 140px;

    @include breakpoint($xs-breakpoint){
      font-size: 18px;
      max-width: none;
    }
  }
}