include ../button/button

mixin section-order(data)
  section.section-order
    ._container.container
      ._body
        ._main
          ._content
            h2.section-heading.is-large._heading= data.heading
            h3._title= data.title
            p._caption= data.caption
          ._footer
            ._actions
              each button in data.buttons
                -
                  var attrs = {};

                  if (button.modal) {
                      attrs['data-remodal-target'] = button.modal;
                  }

                +button(button, {
                    class: 'section-order__button'
                }, attrs)

        ._aside
          img._img(src='__static__img/general/create-team.gif' alt='')
