.section-order {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $border-color;

  @include breakpoint($lg-breakpoint) {
    padding-bottom: 40px;
  }

  @include breakpoint($xl-breakpoint) {
    padding-bottom: 80px;
  }

  &__body {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    background-color: $bg-color;
    overflow: hidden;
    border-radius: 10px;

    @include breakpoint($md-breakpoint) {
      flex-direction: row;
    }

    @include breakpoint($lg-breakpoint) {

    }
  }

  &__main, &__aside {
    @include breakpoint($lg-breakpoint) {
      flex: 1 1 50%;
      max-width: 50%;
    }
  }

  &__main {
    padding: 25px 20px;
    text-align: center;

    @include breakpoint($md-breakpoint) {
      text-align: left;
    }

    @include breakpoint($lg-breakpoint) {
      display: flex;
      flex-direction: column;
      padding: 30px;
    }

    @include breakpoint($xl-breakpoint) {
      padding: 40px 50px;
    }
  }

  &__content {
    flex: 1 1 auto;
  }

  &__heading {
    margin: 0 0 15px;

    @include breakpoint($lg-breakpoint) {
      margin: 0 0 25px;
    }
  }

  &__title {
    margin: 0 0 11px;
    //margin: 0 0 15px;
    font-size: 12px;

    @include breakpoint($sm-breakpoint) {
      font-size: 14px;
    }

    @include breakpoint($lg-breakpoint) {
      margin: 0 0 25px;
      font-size: 18px;
    }

    @include breakpoint($xl-breakpoint) {
      font-size: 20px;
    }
  }

  &__caption {
    margin: 0 auto;
    max-width: 460px;
    font-size: 10px;

    @include breakpoint($sm-breakpoint) {
      font-size: 12px;
    }

    @include breakpoint($md-breakpoint) {
      font-size: 14px;
    }

    @include breakpoint($lg-breakpoint) {
      margin: 0;
    }

    @include breakpoint($xl-breakpoint) {
      font-size: inherit;
    }
  }

  &__img {
    width: 100%;
  }

  &__footer {
    flex: 0 0 auto;
    margin-top: 20px;

    @include breakpoint($sm-breakpoint) {
      margin-top: 30px;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;

    @include breakpoint($md-breakpoint) {
      justify-content: flex-start;
    }
  }

  &__button {
    flex-shrink: 0;
    margin-right: 12px;

    @include breakpoint($sm-breakpoint) {
      margin-right: 17px;
      width: auto;
    }

    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
}
