@import "select2/dist/css/select2";

.ui-select {
  position: relative;
  select {
    width: 100%;
  }

  .select2-container--default {
    .select2-selection--multiple,
    .select2-selection--single {
      height: 50px;
      outline: 0;
      background-color: var(--background-color);
      border: 1px solid #E7E9F0;
      border-radius: 3px;
      box-shadow: inset 0px 1px 3px rgba(35, 52, 107, 0.05);

      .select2-selection__rendered {
        padding-left: 25px;
        padding-right: 35px;
        color: var(--primary-color);
        line-height: 48px;
      }

      .select2-selection__placeholder {
        color: var(--muted-color);
      }

      .select2-selection__arrow {
        width: 50px;
        height: 48px;

        b {
          margin-top: -2px;
          border-color: var(--muted-color) transparent transparent transparent;
          border-width: 4px 4px 0 4px;
        }
      }
    }

    .select2-selection--multiple .select2-selection__choice {
      line-height: 1;
    }

    &.select2-container--open {
      .select2-selection--single {
        .select2-selection__arrow b {
          border-width: 0 4px 4px 4px;
          border-color: transparent transparent var(--muted-color) transparent;
        }
      }
    }
  }

  .select2-container--default {
    .select2-selection--single{
      box-shadow: none;
    }
  }

  .select2-selection--multiple .select2-selection__choice{
    display: inline-flex;
    flex-direction: row-reverse;
    font-size: 13px;
    margin-top: 0px !important;
    padding: 7px !important;
    color: #1A295B;
    border: 0 !important;
    background: #FFFFFF !important;
    box-shadow: 0px 0px 5px rgba(35, 52, 107, 0.07) !important;
    border-radius: 3px !important;
  }

  .select2-selection--multiple .select2-selection__choice__remove{
    margin-right: 0 !important;
    margin-left: 2px;
  }

  .select2-selection--multiple .select2-selection__rendered{
    display: flex !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
  }

  .select2-selection--multiple .select2-selection__placeholder, .select2-selection--multiple .select2-selection__rendered {
    color: #9199B5 !important;
  }

  &.is-large {
    .select2-container--default {
      .select2-selection--multiple,
      .select2-selection--single {
        height: 55px;

        .select2-selection__rendered {
          line-height: 53px;
        }

        .select2-selection__arrow {
          height: 53px;
        }
      }
    }
  }

  &.is-round {
    .select2-container--default {
      .select2-selection--multiple,
      .select2-selection--single {
        border-radius: 25px;
      }
    }
  }

  &.is-white {
    .select2-container--default {
      .select2-selection--multiple,
      .select2-selection--single {
        border-color: var(--white-color);
        background-color: var(--white-color);
      }
    }
  }

  &.is-default {
    .select2-container--default {
      .select2-selection--single {
        border-radius: 3px;
      }

      .select2-selection__rendered {
        padding-left: 14px;
      }
    }
  }

  &.is-secondary-round {
    .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
      border-color: var(--background-color);
      background: var(--background-color);
      box-shadow: inset 0px 1px 3px rgba(35, 52, 107, 0.05);
    }

    .select2-container--default .select2-selection--multiple .select2-selection__arrow, .select2-container--default .select2-selection--single .select2-selection__arrow {
      border-left: 0;
    }
  }


  &_type {
    &_clear {
      .select2-container--default {
        .select2-selection--single {
          height: 28px;
          border: 0;
          background: none;
          border-radius: 0;

          .select2-selection__placeholder {
            color: var(--muted-color);
            padding-left: 0;
          }

          .select2-selection__rendered {
            padding-left: 0;
            padding-right: 10px;
            color: var(--primary-color);
            font-weight: 500;
            line-height: 28px;
          }

          .select2-selection__arrow {
            width: auto;
            height: 26px;
            border-left: 0;

            b {
              margin-top: -2px;
            }
          }
        }

        .select2-dropdown {
          margin-top: 5px;
          border: 0;
          background: var(--white-color);
          border-radius: 5px 5px;
          box-shadow: 0 9px 35px rgba(35, 52, 107, 0.1);

          .select2-results {
            padding: 15px 25px;
            font-size: var(--font-size-sm);
            white-space: nowrap;

            .select2-results__option {
              padding: 5px 0;
              color: var(--muted-color);
              background-color: transparent;

              &:hover {
                color: var(--primary-color);
              }
            }
          }
        }
      }
    }
  }
}

.select2-container {
  .select2-dropdown {
    border: 1px solid #E7E9F0;
  }

  .select2-search--dropdown {
    padding: 10px;
  }

  &.select2-container--default {
    .select2-search--dropdown .select2-search__field {
      padding: 0 15px;
      width: 100%;
      height: 44px;
      outline: 0;
      color: var(--primary-color);
      border: 1px solid #E7E9F0;
      background-color: var(--background-color);
      border-radius: 3px;
      box-shadow: inset 0 1px 3px rgba(35, 52, 107, 0.05);
    }

    .select2-results__option {
      padding: 10px 20px;
      transition: 0.25s;
    }

    .select2-results__option--highlighted[aria-selected] {
      color: var(--primary-color);
      background-color: var(--background-color);
    }

    .select2-results__option[aria-selected=true] {
      color: var(--white-color);
      background-color: var(--primary-color);
    }
  }
}

.js-select2 {
  opacity: 0;
}


.select.is-actual {
  .select2-container--default {
    min-width: 200px;

    .select2-selection--multiple,
    .select2-selection--single {
      border: 1px solid #F5F6F8;
      box-sizing: border-box;
      border-radius: 19px;
      background: none;
      height: 38px;
      background: #fff;

      &:hover {
        border-color: #9199B5;
        transition: border-color .5s;
      }
    }

    &.select2-container--open {
      .select2-selection--multiple,
      .select2-selection--single {
        border-color: #F5F6F8;
        border-radius: 19px 19px 0 0;
        border-bottom-color: transparent;
        box-shadow: 0px 9px 35px rgba(35, 52, 107, 0.1);
      }
    }

    .select2-selection__arrow {
      height: 38px;
    }

    .select2-selection__rendered {
      line-height: 38px;
      padding-left: 20px;
    }

    .select2-dropdown {
      border-radius: 0 0 19px 19px;
      border-color: #F5F6F8;

      .select2-results__option {
        font-size: 15px;
        color: #9199B5;

        &:hover,
        &.select2-results__option--highlighted,
        &[aria-selected="true"] {
          background: none !important;
          color: #23346B !important;
        }
      }
    }
  }
}
