mixin ui-select(data)
  -
    data = data || {};
    data.options = data.options || [];

    var type = data.type || 'primary';
    var size = data.size || 'md';
    var roundClass = data.round ? 'ui-select_round' : '';

  .ui-select(class=`ui-select_type_${type}` class=`ui-select_size_${size}` class=roundClass)
    select(data-placeholder=data.placeholder multiple=data.multiple)&attributes(attrs)
      if (data.placeholder)
        option

      each option, key in data.options
        option(value=key)= option
