.ui-select-custom {
  position: relative;
  z-index: 10;

  // &.is-white{
  //   .ui-input{
  //     &::placeholder{
  //       opacity: 0 !important;
  //     }
  //   }
  // }

  &.is-white {
    .ui-select-custom-list__search {
      padding-bottom: 5px;
      border: 0;
      background-color: #fff;
    }

    .ui-input{
      font-size: 14px;

      @include breakpoint($lg-breakpoint){
        font-size: 15px;
      }
    }

    .ui-select-custom__selected-count{
      font-size: 14px;

      @include breakpoint($lg-breakpoint){
        font-size: 15px;
      }
    }

  }

  &.is-opened {
    z-index: 11;

    .ui-input{
      border-color: rgba(255, 255, 255, 0.5);
      border-bottom: 0 !important;
      box-shadow: none !important;
      border-radius: 24px 24px 0 0 !important;
    }

    .ui-select-custom__dropdown{
      background: #23346B;
      border-radius: 24px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-top: 0;
    }

    .ui-select-custom {
      &__header {
        position: relative;

        &:before{
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 100%;
          width: calc(100% - 40px);
          margin: 0 auto;
          border-bottom: 1px solid rgba(242,243,246, 0.2);
        }

        &::after{
          width: 8px;
          height: 5px;
          background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.50598 0.178218L7.79252 2.97206C8.06916 3.20723 8.06916 3.58851 7.79252 3.82368C7.51588 4.05884 7.5 4.00009 7 4.00002L4 4.00005L1 4.00005C1 4.00005 0.484118 4.05884 0.207479 3.82368C-0.0691595 3.58851 -0.0691594 3.20723 0.207479 2.97206L3.49402 0.178218C3.77346 -0.059337 4.22654 -0.059337 4.50598 0.178218Z' fill='%239199B5'/%3E%3C/svg%3E%0A");
        }
      }

      &__input {
        background-color: transparent;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &__dropdown {
        display: block;
      }
    }
  }

  &.is-up {
    &.is-opened{
      .ui-select-custom{
        &__header{
          &:before{
            top: auto;
            bottom: 100%;
          }
        }
      }
    }

    .ui-select-custom {
      
      &__dropdown {
        top: auto;
        bottom: 0;
        padding-top: 0;
        padding-bottom: 44px;

        @include breakpoint($xl-breakpoint){
          padding-bottom: 50px;
        }
      }

      &__footer {
        padding-top: 10px;
        padding-bottom: 10px;

        @include breakpoint($xl-breakpoint) {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
  }

  &__header {
    position: relative;
    z-index: 10;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 4px;
      top: 50%;
      right: 22px;
      transform: translate(0, -50%);
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.49402 3.82212L0.207479 1.03284C-0.0691597 0.798059 -0.0691597 0.4174 0.207479 0.182617C0.484118 -0.0521667 0.5 0.00649076 1 0.00656185L4 0.00652909L7 0.00653345C7 0.00653345 7.51588 -0.0521667 7.79252 0.182617C8.06916 0.4174 8.06916 0.798059 7.79252 1.03284L4.50598 3.82212C4.22654 4.05929 3.77346 4.05929 3.49402 3.82212Z' fill='%239199B5'/%3E%3C/svg%3E%0A");
    }
  }

  &__search {
    .ui-input {
      padding-right: 50px;
      cursor: inherit;
    }
  }

  &__reset-btn{
    border: 0;
    outline: 0;
    background-color: transparent;
    position: absolute;
    right: 40px;
    top: calc(50% - 9px);

    // @include breakpoint($lg-breakpoint) {
    //   right: 40px;
    // }

    &:before{
      content: '';
      display: block;
      width: 16px;
      height: 15px;
      transition: 0.3s;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.14844 2.22754L13.3976 13.4767' stroke='%239199B5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.60352 13.5848L13.8527 2.3357' stroke='%239199B5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }

  &__dropdown {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    padding-top: 50px;
    display: none;
    width: 100%;
    background: var(--white-color);
    overflow: hidden;
    box-shadow: 0 2px 30px rgba(35, 52, 107, 0.1);
    border-radius: 3px;
  }

  &__inner{
    padding: 20px;

    .ui-select-custom{
      &__content{
        padding: 0 15px 0 0;
      }
    }
  }

  &__scrollbar {
    max-height: 260px;
  }

  &__content {
    padding: 20px;
    font-size: var(--font-size-sm);

    .input-control.is-outline {
      color: var(--muted-color);

      &:hover{
        cursor: pointer;

        .input-control{
          &__label{
            transition: 0.5s;
            color: var(--primary-color);
          }
        }

        .input-control__input[type='checkbox'] ~ .input-control__toggle{
          border-color: var(--primary-color);
          transition: 0.5s;
        }
      }

    }
  }

  &__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__footer {
    padding: 10px 20px 20px;
  }

  &__selected-count {
    position: absolute;
    left: 2px;
    top: 1px;
    bottom: 1px;
    right: 0;
    width: calc(100% - 3px);
    height: calc(100% - 2px);
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 24px;
    padding-left: 20px;

    .ui-badge{
      align-items: center;
      justify-content: center;
      margin-left: 5px;
      padding: 0;
      width: 22px;
      height: 22px;
      border-radius: 50%;
    }
  }

  &__selected-actions{
    display: none;

    position: absolute;
    left: 2px;
    top: 1px;
    bottom: 1px;
    right: 0;
    width: calc(100% - 3px);
    height: calc(100% - 2px);
    display: flex;
    align-items: center;
    background: #23346B;
    border-radius: 24px;
    padding-left: 20px;
    color: #fff;
  }

  &__category{
    cursor: pointer;
    color: #FFFFFF;
    opacity: 0.5;
    transition: 0.5s;

    &:hover{
      transition: 0.5s;
      opacity: 1;
    }
  }

  .ui-input{
    transition: none !important;
  }

  .scroll-element.scroll-y {
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
  }
  .scroll-element {
      position: absolute;
      background-color: rgba(255 ,255 ,255 , 0.2);
      overflow: hidden;
      border-radius: 100px;
  }

  .scroll-element .scroll-element_outer, .scroll-element .scroll-element_size, .scroll-element .scroll-element_track {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

  .scroll-element .scroll-bar {
      position: absolute;
      background-color: #BDC2D3;
      cursor: pointer;
      border-radius: 100px;
  }

  .scroll-element.scroll-y .scroll-bar {
      left: 0;
      width: 100%;
  }
}
