include ui-select-custom-list/ui-select-custom-list

mixin ui-select-custom(data)
  .ui-select-custom.js-select-custom(data-placeholder='Поиск сферы')
    ._header.js-select-custom-header
      +ui-input({
          type: 'text',
          placeholder: 'Добавление сферы'
      }, {
          class: 'js-select-custom-input'
      })

    ._body
      ._dropdown
        ._scrollbar.js-scrollbar
          ._content.js-select-custom-list
            ._item
              +ui-control({
                  label: 'Социальная инфраструктура'
              })

            ._item
              +ui-control({
                  label: 'Транспортная инфраструктура'
              })

            ._item
              +ui-control({
                  label: 'Транспортная инфраструктура'
              })

        ._footer
          +ui-button({block: true, round: false}, {class: 'js-select-custom-apply'}) Применить фильтр

      //- +ui-select-custom-list
