extends ../../template

include ../../../components/section-default/section-default

include ../../../components/expert-card/expert-card

include ../../../components/select/select
include ../../../components/button/button
include ../../../components/market-services/market-services

block append settings
  -
    page.title = 'Списки услуг блочный вид';


block page-body

  main.page-main

    .breadcrumbs._breadcrumbs
      ._container.container
        ul._list
          li._item
            a._link(href="/") Главная
          li._item
            a._link(href="#") Маркетплейс
          li._item
            a._link(href="#") База партнёров
          li._item
            span._link.is-short Общество с ограниченной ответственностью &laquo;Центр экономики инфраструктуры&raquo;

    // start main-body
    .main-body._body.-lights
      ._container.container
        .libs-detail.-company._libs-detail

          ._body

            ._main

              ._promo
                ._promo-img-wrap
                  img._promo-img(src="/assets/img/general/marketplace/5.svg" alt="")
                ._promo-main
                  ._title Общество с ограниченной ответственностью &laquo;Центр экономики инфраструктуры&raquo;
                  ._label ID компании: #[span 2322] Добавлено: #[time(datetime="2019-01-28") 28.01.2019 19:01]

              ._act-info-section
                ._act-info-column.-first
                  ._act-info
                    ._act-info-item.is-closed.js-accordion-item
                      ._act-info-heading Основная информация
                      ._act-info-heading.-trigger.js-accordion-toggle Основная информация
                      ._act-info-body.js-accordion-body(style="display: none")

                        dl._act-info-params
                          ._act-info-param
                            dt._act-info-param-property Тип компании:
                            dd._act-info-param-value 
                              .charters
                                ._main
                                  span._title Консалтинговая компания
                                ._aside.js-charters-aside
                                  ._count.js-charters-count 3
                                  ._dropdown.js-charters-drop
                                    ul._list
                                      li._item.js-charters-dropitem
                                        span._text Компания 1
                                      li._item.js-charters-dropitem
                                        span._text Компания 2
                                      li._item.js-charters-dropitem
                                        span._text Компания 3
                          ._act-info-param
                            dt._act-info-param-property Страна:
                            dd._act-info-param-value Российская Федерация
                          ._act-info-param
                            dt._act-info-param-property Регионы присутствия:
                            dd._act-info-param-value 
                              .charters
                                ._main
                                  span._title Ленинградская область
                                ._aside.js-charters-aside
                                  ._count.js-charters-count 15
                                  ._dropdown.js-charters-drop
                                    ul._list
                                      li._item.js-charters-dropitem
                                        span._text Область 1
                                      li._item.js-charters-dropitem
                                        span._text Область 2
                                      li._item.js-charters-dropitem
                                        span._text Область 3
                                      li._item.js-charters-dropitem
                                        span._text Область 4
                                      li._item.js-charters-dropitem
                                        span._text Область 5
                                      li._item.js-charters-dropitem
                                        span._text Область 6
                                      li._item.js-charters-dropitem
                                        span._text Область 7
                                      li._item.js-charters-dropitem
                                        span._text Область 8
                                      li._item.js-charters-dropitem
                                        span._text Область 9
                                      li._item.js-charters-dropitem
                                        span._text Область 10
                                      li._item.js-charters-dropitem
                                        span._text Область 11
                                      li._item.js-charters-dropitem
                                        span._text Область 12
                                      li._item.js-charters-dropitem
                                        span._text Область 13
                                      li._item.js-charters-dropitem
                                        span._text Область 14
                                      li._item.js-charters-dropitem
                                        span._text Область 15
                          ._act-info-param
                            dt._act-info-param-property Сферы деятельности:
                            dd._act-info-param-value 
                              .charters
                                ._main
                                  span._title Транспортная инфраструктура
                                ._aside.js-charters-aside
                                  ._count.js-charters-count 2
                                  ._dropdown.js-charters-drop
                                    ul._list
                                      li._item.js-charters-dropitem
                                        span._text Инфраструктура 1
                                      li._item.js-charters-dropitem
                                        span._text Инфраструктура 2
                          ._act-info-param
                            dt._act-info-param-property Отрасли деятельности:
                            dd._act-info-param-value 
                              .charters
                                ._main
                                  span._title Объекты придорожного сервиса
                                ._aside.js-charters-aside
                                  ._count.js-charters-count 9
                                  ._dropdown.js-charters-drop
                                    ul._list
                                      li._item.js-charters-dropitem
                                        span._text Объект 1
                                      li._item.js-charters-dropitem
                                        span._text Объект 2
                                      li._item.js-charters-dropitem
                                        span._text Объект 3
                                      li._item.js-charters-dropitem
                                        span._text Объект 4
                                      li._item.js-charters-dropitem
                                        span._text Объект 5
                                      li._item.js-charters-dropitem
                                        span._text Объект 6
                                      li._item.js-charters-dropitem
                                        span._text Объект 7
                                      li._item.js-charters-dropitem
                                        span._text Объект 8
                                      li._item.js-charters-dropitem
                                        span._text Объект 9

                        .tags-list
                          ul._list
                            li._item
                              span._text #Городское развитие
                            li._item
                              span._text #Меры поддержки инвесторов
                            li._item
                              span._text #Цели в области устойчивого развития
                            li._item
                              span._text #Качественные инфраструкту

                ._act-info-column

                  ._act-info
                    ._act-info-item.is-closed.js-accordion-item
                      ._act-info-heading.-trigger.js-accordion-toggle Описание компании
                      ._act-info-body.js-accordion-body(style="display: none")

                        ._section
                          ._section-title Описание компании:
                          ._section-text
                            p Общество с ограниченной ответственностью &laquo;Центр экономики инфраструктуры&raquo; является одной из ведущих российских консалтинговых компаний.
                            p Основной вид деятельности - методическое обеспечение инфраструктурной и пространственной политики, обоснование инфраструктурных проектов, разработка стратегий регионального и городского развития, оказание экспертного содействия развитию транспортной, инженерной и социальной инфраструктуры для ускорения экономического роста России. 
                            p ООО &laquo;ЦЭИ&raquo; имеет богатый опыт в разработке концепций комплексного развития территорий, интеграции транспортных и градостроительных задач, реализации проектов в области развития транспортных и туристических кластеров.

                  ._act-info
                    ._act-info-item.js-accordion-item
                      ._act-info-heading.-trigger.js-accordion-toggle Специализация и услуги компании
                      ._act-info-body.js-accordion-body(style="display: none")

                        ._company-directions

                          ._company-direction.js-accordion-item.is-opened
                            ._company-direction-heading.js-accordion-toggle Юридический консалтинг #[span 3 услуги]
                            ._company-direction-main.js-accordion-body(style="display: block")

                              dl._summary
                                ._summary-item
                                  dt._summary-caption Формы реализации:
                                  dd._summary-desc 
                                    .charters
                                      ._main
                                        span._title Концессионное соглашение (115)
                                      ._aside.js-charters-aside
                                        ._count.js-charters-count 9
                                        ._dropdown.js-charters-drop
                                          ul._list
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 1
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 2
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 3
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 4
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 5
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 6
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 7
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 8
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 9
                                ._summary-item
                                  dt._summary-caption Капиталоемкость проектов:
                                  dd._summary-desc Любая
                              .tags-list
                                ul._list
                                  li._item
                                    span._text #Городское развитие
                                  li._item
                                    span._text #Меры поддержки инвесторов
                                  li._item
                                    span._text #Цели в области устойчивого развития
                                  li._item
                                    span._text #Качественные инфраструктуры
                              ._company-direction-services.js-list(data-show-count='3')
                                ._company-direction-services-list
                                  each item in marketplace.inlineServicesBriefly
                                    ._company-direction-service.js-list-item 
                                      +market-services(item)

                                ._company-direction-services-more.js-list-toggle-parent
                                  span.js-list-toggle Показать еще #[i.fe.fe-chevron-down]

                          ._company-direction.js-accordion-item
                            ._company-direction-heading.js-accordion-toggle Технический консалтинг #[span 2 услуги]
                            ._company-direction-main.js-accordion-body(style="display: none")

                              dl._summary
                                ._summary-item
                                  dt._summary-caption Формы реализации:
                                  dd._summary-desc 
                                    .charters
                                      ._main
                                        span._title Юридическое соглашение (115)
                                      ._aside.js-charters-aside
                                        ._count.js-charters-count 4
                                        ._dropdown.js-charters-drop
                                          ul._list
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 1
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 2
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 3
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 4
                                ._summary-item
                                  dt._summary-caption Капиталоемкость проектов:
                                  dd._summary-desc Любая
                              .tags-list
                                ul._list
                                  li._item
                                    span._text #Городское развитие
                                  li._item
                                    span._text #Меры поддержки инвесторов
                                  li._item
                                    span._text #Цели в области устойчивого развития
                                  li._item
                                    span._text #Качественные инфраструктуры
                              ._company-direction-services.js-list(data-show-count='3')
                                ._company-direction-services-list
                                  each item in marketplace.inlineServicesBriefly
                                    ._company-direction-service.js-list-item 
                                      +market-services(item)

                                ._company-direction-services-more.js-list-toggle-parent
                                  span.js-list-toggle Показать еще #[i.fe.fe-chevron-down]
                              
                          ._company-direction.js-accordion-item
                            ._company-direction-heading.js-accordion-toggle Финансовый консалтинг #[span 3 услуги]
                            ._company-direction-main.js-accordion-body(style="display: none")

                              dl._summary
                                ._summary-item
                                  dt._summary-caption Формы реализации:
                                  dd._summary-desc 
                                    .charters
                                      ._main
                                        span._title Концессионное соглашение (115)
                                      ._aside.js-charters-aside
                                        ._count.js-charters-count 9
                                        ._dropdown.js-charters-drop
                                          ul._list
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 1
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 2
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 3
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 4
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 5
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 6
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 7
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 8
                                            li._item.js-charters-dropitem
                                              span._text Соглашение 9
                                ._summary-item
                                  dt._summary-caption Капиталоемкость проектов:
                                  dd._summary-desc Любая
                              .tags-list
                                ul._list
                                  li._item
                                    span._text #Городское развитие
                                  li._item
                                    span._text #Меры поддержки инвесторов
                                  li._item
                                    span._text #Цели в области устойчивого развития
                                  li._item
                                    span._text #Качественные инфраструктуры
                              ._company-direction-services.js-list(data-show-count='3')
                                ._company-direction-services-list
                                  each item in marketplace.inlineServicesBriefly
                                    ._company-direction-service.js-list-item 
                                      +market-services(item)

                                ._company-direction-services-more.js-list-toggle-parent
                                  span.js-list-toggle Показать еще #[i.fe.fe-chevron-down]

                  ._act-info
                    ._act-info-item.js-accordion-item
                      ._act-info-heading.-trigger.js-accordion-toggle Документы компании
                      ._act-info-body.js-accordion-body(style="display: none")

                        ._docs.js-tabs
                          ._docs-controls
                            button._docs-control.button.is-secondary.is-small.js-tabs-button.is-active Все документы
                            button._docs-control.button.is-secondary.is-small.js-tabs-button Награды
                            button._docs-control.button.is-secondary.is-small.js-tabs-button Презентации
                            button._docs-control.button.is-secondary.is-small.js-tabs-button Аналитические отчеты

                          ._docs-tab.js-tabs-item.is-active

                            ._docs-list.js-list(data-show-count='3')
                              ._docs-list-main

                                ._docs-list-main-item.js-list-item
                                  a.document(href="#")
                                    ._preview
                                      img._img.icon-format(src="/assets/img/content/library/grid/2.jpg" alt="")
                                    ._main
                                      ._heading Федеральная пространственная политика и стратегическое планирование регионального развития
                                      ._params
                                        ._param Формат: #[span PDF]
                                        ._param Добавлено: #[span 12.04.2020]
                                        ._param Презентация

                                ._docs-list-main-item.js-list-item
                                  a.document(href="#")
                                    ._preview
                                      img._img(src="/assets/img/content/library/grid/1.jpg" alt="")
                                    ._main
                                      ._heading Федеральная пространственная политика и стратегическое планирование регионального развития
                                      ._params
                                        ._param Формат: #[span PDF]
                                        ._param Добавлено: #[span 12.04.2020]
                                        ._param Презентация

                                ._docs-list-main-item.js-list-item
                                  a.document(href="#")
                                    ._preview
                                      img._img(src="/assets/img/content/library/grid/3.jpg" alt="")
                                    ._main
                                      ._heading Федеральная пространственная политика и стратегическое планирование регионального развития
                                      ._params
                                        ._param Формат: #[span PDF]
                                        ._param Добавлено: #[span 12.04.2020]
                                        ._param Презентация

                                ._docs-list-main-item.js-list-item
                                  a.document(href="#")
                                    ._preview
                                      img._img(src="/assets/img/content/library/grid/1.jpg" alt="")
                                    ._main
                                      ._heading Федеральная пространственная политика и стратегическое планирование регионального развития
                                      ._params
                                        ._param Формат: #[span PDF]
                                        ._param Добавлено: #[span 12.04.2020]
                                        ._param Презентация

                                ._docs-list-main-item.js-list-item
                                  a.document(href="#")
                                    ._preview
                                      img._img(src="/assets/img/content/library/grid/3.jpg" alt="")
                                    ._main
                                      ._heading Федеральная пространственная политика и стратегическое планирование регионального развития
                                      ._params
                                        ._param Формат: #[span PDF]
                                        ._param Добавлено: #[span 12.04.2020]
                                        ._param Презентация

                              ._docs-more.js-list-toggle-parent
                                span.js-list-toggle Показать еще #[i.fe.fe-chevron-down]

                          ._docs-tab.js-tabs-item

                            ._docs-list.js-list(data-show-count='3')
                              ._docs-list-main

                                ._docs-list-main-item.js-list-item
                                  a.document(href="#")
                                    ._preview
                                      img._img.icon-format(src="/assets/img/content/library/grid/2.jpg" alt="")
                                    ._main
                                      ._heading Федеральная пространственная политика и стратегическое планирование регионального развития
                                      ._params
                                        ._param Формат: #[span PDF]
                                        ._param Добавлено: #[span 12.04.2020]
                                        ._param Презентация

                                ._docs-list-main-item.js-list-item
                                  a.document(href="#")
                                    ._preview
                                      img._img(src="/assets/img/content/library/grid/1.jpg" alt="")
                                    ._main
                                      ._heading Федеральная пространственная политика и стратегическое планирование регионального развития
                                      ._params
                                        ._param Формат: #[span PDF]
                                        ._param Добавлено: #[span 12.04.2020]
                                        ._param Презентация

                                ._docs-list-main-item.js-list-item
                                  a.document(href="#")
                                    ._preview
                                      img._img(src="/assets/img/content/library/grid/3.jpg" alt="")
                                    ._main
                                      ._heading Федеральная пространственная политика и стратегическое планирование регионального развития
                                      ._params
                                        ._param Формат: #[span PDF]
                                        ._param Добавлено: #[span 12.04.2020]
                                        ._param Презентация

                                ._docs-list-main-item.js-list-item
                                  a.document(href="#")
                                    ._preview
                                      img._img(src="/assets/img/content/library/grid/1.jpg" alt="")
                                    ._main
                                      ._heading Федеральная пространственная политика и стратегическое планирование регионального развития
                                      ._params
                                        ._param Формат: #[span PDF]
                                        ._param Добавлено: #[span 12.04.2020]
                                        ._param Презентация

                                ._docs-list-main-item.js-list-item
                                  a.document(href="#")
                                    ._preview
                                      img._img(src="/assets/img/content/library/grid/3.jpg" alt="")
                                    ._main
                                      ._heading Федеральная пространственная политика и стратегическое планирование регионального развития
                                      ._params
                                        ._param Формат: #[span PDF]
                                        ._param Добавлено: #[span 12.04.2020]
                                        ._param Презентация

                              ._docs-more.js-list-toggle-parent
                                span.js-list-toggle Показать еще #[i.fe.fe-chevron-down]

                          ._docs-tab.js-tabs-item

                            ._docs-list.js-list(data-show-count='3')
                              ._docs-list-main

                                ._docs-list-main-item.js-list-item
                                  a.document(href="#")
                                    ._preview
                                      img._img.icon-format(src="/assets/img/content/library/grid/2.jpg" alt="")
                                    ._main
                                      ._heading Федеральная пространственная политика и стратегическое планирование регионального развития
                                      ._params
                                        ._param Формат: #[span PDF]
                                        ._param Добавлено: #[span 12.04.2020]
                                        ._param Презентация

                                ._docs-list-main-item.js-list-item
                                  a.document(href="#")
                                    ._preview
                                      img._img(src="/assets/img/content/library/grid/1.jpg" alt="")
                                    ._main
                                      ._heading Федеральная пространственная политика и стратегическое планирование регионального развития
                                      ._params
                                        ._param Формат: #[span PDF]
                                        ._param Добавлено: #[span 12.04.2020]
                                        ._param Презентация

                                ._docs-list-main-item.js-list-item
                                  a.document(href="#")
                                    ._preview
                                      img._img(src="/assets/img/content/library/grid/3.jpg" alt="")
                                    ._main
                                      ._heading Федеральная пространственная политика и стратегическое планирование регионального развития
                                      ._params
                                        ._param Формат: #[span PDF]
                                        ._param Добавлено: #[span 12.04.2020]
                                        ._param Презентация

                                ._docs-list-main-item.js-list-item
                                  a.document(href="#")
                                    ._preview
                                      img._img(src="/assets/img/content/library/grid/1.jpg" alt="")
                                    ._main
                                      ._heading Федеральная пространственная политика и стратегическое планирование регионального развития
                                      ._params
                                        ._param Формат: #[span PDF]
                                        ._param Добавлено: #[span 12.04.2020]
                                        ._param Презентация

                                ._docs-list-main-item.js-list-item
                                  a.document(href="#")
                                    ._preview
                                      img._img(src="/assets/img/content/library/grid/3.jpg" alt="")
                                    ._main
                                      ._heading Федеральная пространственная политика и стратегическое планирование регионального развития
                                      ._params
                                        ._param Формат: #[span PDF]
                                        ._param Добавлено: #[span 12.04.2020]
                                        ._param Презентация

                              ._docs-more.js-list-toggle-parent
                                span.js-list-toggle Показать еще #[i.fe.fe-chevron-down]
                                
                          ._docs-tab.js-tabs-item

                            ._docs-list.js-list(data-show-count='3')
                              ._docs-list-main

                                ._docs-list-main-item.js-list-item
                                  a.document(href="#")
                                    ._preview
                                      img._img.icon-format(src="/assets/img/content/library/grid/2.jpg" alt="")
                                    ._main
                                      ._heading Федеральная пространственная политика и стратегическое планирование регионального развития
                                      ._params
                                        ._param Формат: #[span PDF]
                                        ._param Добавлено: #[span 12.04.2020]
                                        ._param Презентация

                                ._docs-list-main-item.js-list-item
                                  a.document(href="#")
                                    ._preview
                                      img._img(src="/assets/img/content/library/grid/1.jpg" alt="")
                                    ._main
                                      ._heading Федеральная пространственная политика и стратегическое планирование регионального развития
                                      ._params
                                        ._param Формат: #[span PDF]
                                        ._param Добавлено: #[span 12.04.2020]
                                        ._param Презентация

                                ._docs-list-main-item.js-list-item
                                  a.document(href="#")
                                    ._preview
                                      img._img(src="/assets/img/content/library/grid/3.jpg" alt="")
                                    ._main
                                      ._heading Федеральная пространственная политика и стратегическое планирование регионального развития
                                      ._params
                                        ._param Формат: #[span PDF]
                                        ._param Добавлено: #[span 12.04.2020]
                                        ._param Презентация

                                ._docs-list-main-item.js-list-item
                                  a.document(href="#")
                                    ._preview
                                      img._img(src="/assets/img/content/library/grid/1.jpg" alt="")
                                    ._main
                                      ._heading Федеральная пространственная политика и стратегическое планирование регионального развития
                                      ._params
                                        ._param Формат: #[span PDF]
                                        ._param Добавлено: #[span 12.04.2020]
                                        ._param Презентация

                                ._docs-list-main-item.js-list-item
                                  a.document(href="#")
                                    ._preview
                                      img._img(src="/assets/img/content/library/grid/3.jpg" alt="")
                                    ._main
                                      ._heading Федеральная пространственная политика и стратегическое планирование регионального развития
                                      ._params
                                        ._param Формат: #[span PDF]
                                        ._param Добавлено: #[span 12.04.2020]
                                        ._param Презентация

                              ._docs-more.js-list-toggle-parent
                                span.js-list-toggle Показать еще #[i.fe.fe-chevron-down]

            ._aside.-no-gap 

                ._controls

                  ._actions
                    ._actions-inner
                      a.button-download._download(data-remodal-target="company-callback" href="#")
                        ._main
                          span._title Получить услуги
                          ._labels
                            ._meta Оставить заявку
                        ._aside
                          ._icon
                      a._button.-link(href="#") Перейти на сайт компании
                      a._button.-favorite(href="#") Добавить в избранное

                  ._quotes.js-accordion-item

                    ._quotes-heading Контакты
                    ._quotes-heading.-trigger.js-accordion-toggle Контакты

                    ._quotes-body.js-accordion-body(style="display: none")

                      dl._act-info-params
                        ._act-info-param
                          dt._act-info-param-property Сайт компании:
                          dd._act-info-param-value #[a(href="#") www.infraeconomy.com]
                        ._act-info-param
                          dt._act-info-param-property Электронная почта:
                          dd._act-info-param-value info@infraeconomy.com
                        ._act-info-param
                          dt._act-info-param-property Телефон:
                          dd._act-info-param-value 8 (495) 987-37-50
                        ._act-info-param
                          dt._act-info-param-property Руководитель:
                          dd._act-info-param-value Косой Владимир Вульфович
                        ._act-info-param
                          dt._act-info-param-property Адрес:
                          dd._act-info-param-value 129110 г. Москва, ул. Гиляровского, 57

                    .tags-list
                      ul._list
                        li._item
                          span._text #Городское развитие
                        li._item
                          span._text #Меры поддержки инвесторов
                        li._item
                          span._text #Цели в области устойчивого развития
                        li._item
                          span._text #Качественные инфраструктуры

    // end main-body

    // start section-default
    +section-default({
      header: {
        main: {
          heading: {
            title: 'Похожие компании'
          }
        },
        aside: {
          button: {
            href: '#',
            title: 'Вернуться к базе партнеров',
            type: 'is-primary is-round is-average'
          }
        }
      },
    },
    {
      class: 'js-section-slider page-body__section-default'
    })
      .section-slider
        ._body.js-expert-slider
          ._wrapper.js-slider-wrapper

            ._slide.js-slider-slide
              // start card
              .market-services.-visual
                ._body
                  ._header
                    ._logo
                      img._img(src="/assets/img/general/marketplace/12.svg" alt="")
                    
                    ._title
                      a._title-link(href="#") Инвестиционное бюро &laquo;ФИНИСТ&raquo;

                  ._content
                    ul._list
                      li._item
                        ._text Консалтинговая компания
                          ._value +2
                        
                        ul._drop
                          li._drop-item
                            ul._drop-list
                              li._drop-text Инжиниринг
                              li._drop-text Инжиниринг

                ._summary
                  a._services(href="#")
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.75 4.4895H2.41667C1.63426 4.4895 1 5.09779 1 5.84815V12.6414C1 13.3917 1.63426 14 2.41667 14H13.75C14.5324 14 15.1667 13.3917 15.1667 12.6414V5.84815C15.1667 5.09779 14.5324 4.4895 13.75 4.4895Z" stroke="#4F5D89" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10.4444 4.48954V2.37609C10.4444 1.99073 10.32 1.62116 10.0986 1.34867C9.87722 1.07618 9.57695 0.923096 9.26384 0.923096H6.90273C6.58962 0.923096 6.28934 1.07618 6.06795 1.34867C5.84655 1.62116 5.72217 1.99073 5.72217 2.37609V4.48954" stroke="#4F5D89" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M14.9487 7.02566L8.41026 9.4231L0.999985 7.02566" stroke="#4F5D89" stroke-width="1.5"/>
                    </svg>
                    | #[strong 7] #[span услуг компании]

                a._more(href="#") Подробнее
              // end card

            ._slide.js-slider-slide
              // start card
              .market-services.-visual
                ._body
                  ._header
                    ._logo
                      img._img(src="/assets/img/general/marketplace/5.svg" alt="")
                    
                    ._title
                      a._title-link(href="#") Общество с ограниченной ответственностью &laquo;Центр экономики инфраструктуры&raquo;

                  ._content
                    ul._list
                      li._item
                        ._text Консалтинговая компания
                          ._value +2
                        
                        ul._drop
                          li._drop-item
                            ul._drop-list
                              li._drop-text Инжиниринг
                              li._drop-text Инжиниринг

                ._summary
                  a._services(href="#")
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.75 4.4895H2.41667C1.63426 4.4895 1 5.09779 1 5.84815V12.6414C1 13.3917 1.63426 14 2.41667 14H13.75C14.5324 14 15.1667 13.3917 15.1667 12.6414V5.84815C15.1667 5.09779 14.5324 4.4895 13.75 4.4895Z" stroke="#4F5D89" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10.4444 4.48954V2.37609C10.4444 1.99073 10.32 1.62116 10.0986 1.34867C9.87722 1.07618 9.57695 0.923096 9.26384 0.923096H6.90273C6.58962 0.923096 6.28934 1.07618 6.06795 1.34867C5.84655 1.62116 5.72217 1.99073 5.72217 2.37609V4.48954" stroke="#4F5D89" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M14.9487 7.02566L8.41026 9.4231L0.999985 7.02566" stroke="#4F5D89" stroke-width="1.5"/>
                    </svg>
                    | #[strong 4] #[span услуг компании]

                a._more(href="#") Подробнее
              // end card

            ._slide.js-slider-slide
              // start card
              .market-services.-visual
                ._body
                  ._header
                    ._logo
                      img._img(src="/assets/img/general/marketplace/9.svg" alt="")
                    
                    ._title
                      a._title-link(href="#") Финансовый и организационный консалтинг

                  ._content
                    ul._list
                      li._item
                        ._text Консалтинговая компания
                          ._value +2
                        
                        ul._drop
                          li._drop-item
                            ul._drop-list
                              li._drop-text Инжиниринг
                              li._drop-text Инжиниринг

                ._summary
                  a._services(href="#")
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.75 4.4895H2.41667C1.63426 4.4895 1 5.09779 1 5.84815V12.6414C1 13.3917 1.63426 14 2.41667 14H13.75C14.5324 14 15.1667 13.3917 15.1667 12.6414V5.84815C15.1667 5.09779 14.5324 4.4895 13.75 4.4895Z" stroke="#4F5D89" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10.4444 4.48954V2.37609C10.4444 1.99073 10.32 1.62116 10.0986 1.34867C9.87722 1.07618 9.57695 0.923096 9.26384 0.923096H6.90273C6.58962 0.923096 6.28934 1.07618 6.06795 1.34867C5.84655 1.62116 5.72217 1.99073 5.72217 2.37609V4.48954" stroke="#4F5D89" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M14.9487 7.02566L8.41026 9.4231L0.999985 7.02566" stroke="#4F5D89" stroke-width="1.5"/>
                    </svg>
                    | #[strong 7] #[span услуг компании]

                a._more(href="#") Подробнее
              // end card

            ._slide.js-slider-slide
              // start card
              .market-services.-visual
                ._body
                  ._header
                    ._logo
                      img._img(src="/assets/img/general/marketplace/10.svg" alt="")
                    
                    ._title
                      a._title-link(href="#") Акционерное общество &laquo;Институт &laquo;Стройпроект&raquo;

                  ._content
                    ul._list
                      li._item
                        ._text Строительная компания

                ._summary
                  a._services(href="#")
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.75 4.4895H2.41667C1.63426 4.4895 1 5.09779 1 5.84815V12.6414C1 13.3917 1.63426 14 2.41667 14H13.75C14.5324 14 15.1667 13.3917 15.1667 12.6414V5.84815C15.1667 5.09779 14.5324 4.4895 13.75 4.4895Z" stroke="#4F5D89" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10.4444 4.48954V2.37609C10.4444 1.99073 10.32 1.62116 10.0986 1.34867C9.87722 1.07618 9.57695 0.923096 9.26384 0.923096H6.90273C6.58962 0.923096 6.28934 1.07618 6.06795 1.34867C5.84655 1.62116 5.72217 1.99073 5.72217 2.37609V4.48954" stroke="#4F5D89" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M14.9487 7.02566L8.41026 9.4231L0.999985 7.02566" stroke="#4F5D89" stroke-width="1.5"/>
                    </svg>
                    | #[strong 0] #[span услуг компании]

                a._more(href="#") Подробнее
              // end card

            ._slide.js-slider-slide
              // start card
              .market-services.-visual
                ._body
                  ._header
                    ._logo
                      img._img(src="/assets/img/general/marketplace/12.svg" alt="")
                    
                    ._title
                      a._title-link(href="#") Инвестиционное бюро &laquo;ФИНИСТ&raquo;

                  ._content
                    ul._list
                      li._item
                        ._text Консалтинговая компания
                          ._value +2
                        
                        ul._drop
                          li._drop-item
                            ul._drop-list
                              li._drop-text Инжиниринг
                              li._drop-text Инжиниринг

                ._summary
                  a._services(href="#")
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.75 4.4895H2.41667C1.63426 4.4895 1 5.09779 1 5.84815V12.6414C1 13.3917 1.63426 14 2.41667 14H13.75C14.5324 14 15.1667 13.3917 15.1667 12.6414V5.84815C15.1667 5.09779 14.5324 4.4895 13.75 4.4895Z" stroke="#4F5D89" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10.4444 4.48954V2.37609C10.4444 1.99073 10.32 1.62116 10.0986 1.34867C9.87722 1.07618 9.57695 0.923096 9.26384 0.923096H6.90273C6.58962 0.923096 6.28934 1.07618 6.06795 1.34867C5.84655 1.62116 5.72217 1.99073 5.72217 2.37609V4.48954" stroke="#4F5D89" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M14.9487 7.02566L8.41026 9.4231L0.999985 7.02566" stroke="#4F5D89" stroke-width="1.5"/>
                    </svg>
                    | #[strong 7] #[span услуг компании]

                a._more(href="#") Подробнее
              // end card

            ._slide.js-slider-slide
              // start card
              .market-services.-visual
                ._body
                  ._header
                    ._logo
                      img._img(src="/assets/img/general/marketplace/5.svg" alt="")
                    
                    ._title
                      a._title-link(href="#") Общество с ограниченной ответственностью &laquo;Центр экономики инфраструктуры&raquo;

                  ._content
                    ul._list
                      li._item
                        ._text Консалтинговая компания
                          ._value +2
                        
                        ul._drop
                          li._drop-item
                            ul._drop-list
                              li._drop-text Инжиниринг
                              li._drop-text Инжиниринг

                ._summary
                  a._services(href="#")
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.75 4.4895H2.41667C1.63426 4.4895 1 5.09779 1 5.84815V12.6414C1 13.3917 1.63426 14 2.41667 14H13.75C14.5324 14 15.1667 13.3917 15.1667 12.6414V5.84815C15.1667 5.09779 14.5324 4.4895 13.75 4.4895Z" stroke="#4F5D89" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10.4444 4.48954V2.37609C10.4444 1.99073 10.32 1.62116 10.0986 1.34867C9.87722 1.07618 9.57695 0.923096 9.26384 0.923096H6.90273C6.58962 0.923096 6.28934 1.07618 6.06795 1.34867C5.84655 1.62116 5.72217 1.99073 5.72217 2.37609V4.48954" stroke="#4F5D89" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M14.9487 7.02566L8.41026 9.4231L0.999985 7.02566" stroke="#4F5D89" stroke-width="1.5"/>
                    </svg>
                    | #[strong 4] #[span услуг компании]

                a._more(href="#") Подробнее
              // end card

            ._slide.js-slider-slide
              // start card
              .market-services.-visual
                ._body
                  ._header
                    ._logo
                      img._img(src="/assets/img/general/marketplace/9.svg" alt="")
                    
                    ._title
                      a._title-link(href="#") Финансовый и организационный консалтинг

                  ._content
                    ul._list
                      li._item
                        ._text Консалтинговая компания
                          ._value +2
                        
                        ul._drop
                          li._drop-item
                            ul._drop-list
                              li._drop-text Инжиниринг
                              li._drop-text Инжиниринг

                ._summary
                  a._services(href="#")
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.75 4.4895H2.41667C1.63426 4.4895 1 5.09779 1 5.84815V12.6414C1 13.3917 1.63426 14 2.41667 14H13.75C14.5324 14 15.1667 13.3917 15.1667 12.6414V5.84815C15.1667 5.09779 14.5324 4.4895 13.75 4.4895Z" stroke="#4F5D89" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10.4444 4.48954V2.37609C10.4444 1.99073 10.32 1.62116 10.0986 1.34867C9.87722 1.07618 9.57695 0.923096 9.26384 0.923096H6.90273C6.58962 0.923096 6.28934 1.07618 6.06795 1.34867C5.84655 1.62116 5.72217 1.99073 5.72217 2.37609V4.48954" stroke="#4F5D89" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M14.9487 7.02566L8.41026 9.4231L0.999985 7.02566" stroke="#4F5D89" stroke-width="1.5"/>
                    </svg>
                    | #[strong 7] #[span услуг компании]

                a._more(href="#") Подробнее
              // end card

            ._slide.js-slider-slide
              // start card
              .market-services.-visual
                ._body
                  ._header
                    ._logo
                      img._img(src="/assets/img/general/marketplace/10.svg" alt="")
                    
                    ._title
                      a._title-link(href="#") Акционерное общество &laquo;Институт &laquo;Стройпроект&raquo;

                  ._content
                    ul._list
                      li._item
                        ._text Строительная компания

                ._summary
                  a._services(href="#")
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.75 4.4895H2.41667C1.63426 4.4895 1 5.09779 1 5.84815V12.6414C1 13.3917 1.63426 14 2.41667 14H13.75C14.5324 14 15.1667 13.3917 15.1667 12.6414V5.84815C15.1667 5.09779 14.5324 4.4895 13.75 4.4895Z" stroke="#4F5D89" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10.4444 4.48954V2.37609C10.4444 1.99073 10.32 1.62116 10.0986 1.34867C9.87722 1.07618 9.57695 0.923096 9.26384 0.923096H6.90273C6.58962 0.923096 6.28934 1.07618 6.06795 1.34867C5.84655 1.62116 5.72217 1.99073 5.72217 2.37609V4.48954" stroke="#4F5D89" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M14.9487 7.02566L8.41026 9.4231L0.999985 7.02566" stroke="#4F5D89" stroke-width="1.5"/>
                    </svg>
                    | #[strong 0] #[span услуг компании]

                a._more(href="#") Подробнее
              // end card

          .slider-controls._controls
            ._aside
              +slider-counter
            ._main
            ._aside
              +slider-nav
    // end section-default

  .scrolltop._scrolltop
    a._link.js-scrolltop(href="#body")
      span._text Вернуться наверх страницы
      ._icon
        <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 4L4.5 1L8 4" stroke="#9199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

  .modal.remodal.is-medium(data-remodal-id='company-callback')
    button._close(data-remodal-action='close')

    ._header
      ._title.is-large.is-center Получить услуги компании

    ._body
      form.form.js-modal(action='#' method='post')
        ._body
          .form-field._field
            label._label Выберите услугу из списка*:
            +select({
              placeholder: 'Выберите вариант',
              options: [
                {
                  title: 'Услуга 1'
                },
                {
                  title: 'Услуга 2'
                },
                {
                  title: 'Услуга 3'
                },
                {
                  title: 'Услуга 4'
                },
                {
                  title: 'Услуга 5'
                }
              ]
            }, {
              'data-minimum-search-result': -1
            })

          .form-field._field
            label._label Введите ФИО*:
            +input-text({
                placeholder: 'Введите ФИО',
                name: 'name'
            })

          .form-field._field
            ._grid
              ._column
                label._label Номер телефона*:
                +input-text({
                    type: 'tel',
                    placeholder: 'Введите номер телефона',
                    name: 'tel'
                })

              ._column
                label._label E-mail*:
                +input-text({
                    type: 'email',
                    placeholder: 'Введите E-mail',
                    name: 'email'
                })

          .form-field._field
            label._label Организация*:
            +input-text({
                placeholder: 'Введите название',
                name: 'organization'
            })

          .form-field._field
            label._label Должность*:
            +input-text({
                placeholder: 'Введите название',
                name: 'post'
            })

          .form-field._field
            label._label Комментарий:
            textarea(class="input-text" name="message" placeholder="Введите текст" rows="6")

        ._footer
          .form-agree._agree
            p._privacy Переходя далее вы подтверждаете что ознакомлен(-ы) с #[a(href="#" target="_blank") политикой конфиденциальности] и даёте согласие на обработку персональных данных согласно ФЗ №54

          +button({
              title: 'Отправить ',
              type: 'is-primary is-round'
          }, {
              class: 'form__button'
          })