extends ../template

include ../../components/section-directions/section-directions
include ../../components/section-default/section-default
include ../../components/section-slider/section-slider
include ../../components/section-tariffs/section-tariffs
include ../../components/section-feedback/section-feedback

include ../../components/input-text/input-text
include ../../components/categories-slider/categories-slider
include ../../components/slider-pagination/slider-pagination

block append settings
  -
    page.title = 'Власти';


block page-body

  <div class="breadcrumbs">
    <div class="breadcrumbs__container container">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a href="/" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__link">Государству</span>
        </li>
      </ul>
    </div>
  </div>

  <section class="section-directions section-directions--secondary page-body__section-directions">
    <div class="section-directions__container container">
        <span class="badge is-danger is-round is-small section-directions__badge">Для государства</span>
        <div class="section-directions__header">
            <div class="section-directions__main">
                <h1 class="section-directions__heading">Программа антикризисного управления инфраструктурными проектами</h1>
                <div class="section-directions__nav">
                    <div class="meter section-directions__meter">
                        <ul class="meter__list">
                            <li class="meter__item"><span class="meter__value">4</span><span class="meter__value">0</span>
                            </li>
                        </ul>
                        <div class="meter__text">пилотных регионов</div>
                    </div>
                    <div class="attached section-directions__attached">
                        <ul class="attached__list">
                            <li class="attached__item">
                                <a class="attached__link" href="#" download=""><span class="attached__icon"><svg width="23" height="27" viewBox="0 0 23 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.99206 0.646973C4.09167 0.646973 3.35498 1.38815 3.35498 2.29404V25.3529C3.35498 26.2588 4.09167 27 4.99206 27H21.3629C22.2633 27 22.9999 26.2588 22.9999 25.3529V7.23522L16.4516 0.646973H4.99206Z" fill="#DDE0E9"/>
                                <path d="M17.9675 7.35501H22.9986L16.2905 0.646973V5.678C16.2905 6.60036 17.0452 7.35501 17.9675 7.35501Z" fill="#BDC2D2"/>
                                <path d="M22.9975 12.1464L18.2061 7.35498H22.9975V12.1464Z" fill="#DDE0E9"/>
                                <path d="M14.3744 19.6935C14.3744 20.0229 14.1048 20.2924 13.7754 20.2924H0.598932C0.269519 20.2924 0 20.0229 0 19.6935V13.7042C0 13.3747 0.269519 13.1052 0.598932 13.1052H13.7754C14.1048 13.1052 14.3744 13.3747 14.3744 13.7042V19.6935Z" fill="#D01417"/>
                                <path d="M13.8243 20.292H3.35498V21.2503H13.8243C14.1274 21.2503 14.3753 20.8191 14.3753 20.292V19.3337C14.3753 19.8608 14.1274 20.292 13.8243 20.292Z" fill="#DDE0E9"/>
                                <path d="M3.67156 14.8777C4.1071 14.8777 4.45964 15.0105 4.72918 15.2761C5.00066 15.5417 5.1364 15.8914 5.1364 16.325C5.1364 16.7566 4.99675 17.1062 4.71746 17.3738C4.43816 17.6394 4.07488 17.7722 3.62761 17.7722H2.79265V19.1052H1.90789V14.8777H3.67156ZM2.79265 17.0808H3.43425C3.68816 17.0808 3.88543 17.0154 4.02605 16.8845C4.16668 16.7537 4.23699 16.5681 4.23699 16.3279C4.23699 16.0876 4.16668 15.9021 4.02605 15.7712C3.88738 15.6423 3.69109 15.5779 3.43718 15.5779H2.79265V17.0808ZM7.28679 14.8777C7.92351 14.8777 8.41765 15.0593 8.76921 15.4226C9.12468 15.7898 9.30242 16.3074 9.30242 16.9753C9.30242 17.6453 9.12468 18.1677 8.76921 18.5427C8.4157 18.9177 7.92156 19.1052 7.28679 19.1052H5.65789V14.8777H7.28679ZM6.54265 18.3728H7.18132C7.57781 18.3728 7.87957 18.2546 8.0866 18.0183C8.29558 17.78 8.40007 17.4333 8.40007 16.9783C8.40007 16.5369 8.2946 16.198 8.08367 15.9617C7.87273 15.7253 7.57195 15.6072 7.18132 15.6072H6.54265V18.3728ZM9.87078 19.1052V14.8777H12.6393V15.6072H10.7555V16.741H12.4753V17.4412H10.7555V19.1052H9.87078Z" fill="white"/>
                                </svg></span><span class="attached__text">скачать инструкцию</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section-directions__aside">
                <div class="section-directions__logos logos">
                    <ul class="logos__list">
                        <li class="logos__item">
                            <a href="https://вэб.рф/" target="_blank">
                                <img class="logos__img" src="../../assets/img/general/directions/government/2.svg" alt="">
                            </a>
                        </li>
                        <li class="logos__item">
                            <a href="https://pppcenter.ru/" target="_blank">
                                <img class="logos__img" src="../../assets/img/general/directions/government/3.svg" alt="">
                            </a>
                        </li>
                    </ul>
                    <div class="section-directions__logo-text">Цель программы - содействие регионам в привлечении инвестиций в инфраструктуру</div>
                </div>
            </div>
        </div>
        <div class="levels section-directions__levels"><span class="levels__title">Как это работает?</span>
            <div class="levels__slider js-levels-slider">
                <div class="levels__grid js-slider-wrapper">
                    <div class="levels__column js-slider-slide">
                        <div class="level-card">
                            <div class="badge is-round is-small level-card__badge">Шаг 1</div>
                            <div class="level-card__icon">
                                <img class="level-card__img" src="../../assets/img/general/directions/government/4.svg" alt="">
                            </div>
                            <div class="level-card__title">Поиск проектов и подготовка команд</div>
                            <div class="level-card__dropdown">
                                <ul>
                                    <li><span>Регионы формируют на платформе «РОСИНФРА» перечни планируемых проектов и необходимых объектов инфраструктуры;</span>
                                    </li>
                                    <li><span>Региональные проектные команды проходят обучение и получают доступ к аналитическим материалах.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="levels__column js-slider-slide">
                        <div class="level-card">
                            <div class="badge is-round is-small level-card__badge">Шаг 2</div>
                            <div class="level-card__icon">
                                <img class="level-card__img" src="../../assets/img/general/directions/government/5.svg" alt="">
                            </div>
                            <div class="level-card__title">Экспертиза, определение приоритетов</div>
                            <div class="level-card__dropdown">
                                <ul>
                                    <li><span>Центр ГЧП и эксперты Платформы «РОСИНФРА» проводят блиц экспертизу и отбирают наиболее перспективные проекты</span>
                                    </li>
                                    <li><span>Центр ГЧП и ВЭБ.РФ готовят дорожную карту для запуска отобранных проектов</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="levels__column js-slider-slide">
                        <div class="level-card">
                            <div class="badge is-round is-small level-card__badge">Шаг 3</div>
                            <div class="level-card__icon">
                                <img class="level-card__img" src="../../assets/img/general/directions/government/6.svg" alt="">
                            </div>
                            <div class="level-card__title">Структурирование и привлечение инвестиций</div>
                            <div class="level-card__dropdown">
                                <ul>
                                    <li><span>Центр ГЧП и ВЭБ.РФ дорабатывают концепции отобранных проектов и организуют предпроектное финансирование;</span>
                                    </li>
                                    <li><span>Эксперты и компании – партнеры платформы «РОСИНФРА» подключаются к подготовке и запуску проектов;</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="levels__column js-slider-slide">
                        <div class="level-card">
                            <div class="badge is-round is-small level-card__badge">Шаг 4</div>
                            <div class="level-card__icon">
                                <img class="level-card__img" src="../../assets/img/general/directions/government/7.svg" alt="">
                            </div>
                            <div class="level-card__title">Успешный запуск проектов</div>
                            <div class="level-card__dropdown">
                                <ul>
                                    <li><span>ВЭБ.РФ финансирует проекты, соответствующие требованиям госкорпорации;</span>
                                    </li>
                                    <li><span>В регионах растет число успешно запущенных проектов ГЧП и сокращаются инфраструктурные разрывы.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="js-slider-pagination levels__pagination"></div>
            </div>
        </div>
    </div>
  </section>


  <section class="section-directions page-body__section-directions">
      <div class="section-directions__container container">
          <div class="section-directions__body">
              <div class="section-directions__title is-default is-mobile">Сервисы для работы с проектами ГЧП</div>
              <div class="directions-box js-tabs">
                  <div class="directions-box__header">
                      <div class="menu js-menu is-tabs-menu directions-box__menu is-adaptive">
                          <button class="menu__toggle js-menu-toggle"><i class="fe fe-more-vertical"></i>
                          </button>
                          <ul class="menu__list js-menu-list">
                              <li class="menu__item is-active js-tabs-button"><span class="menu__link menu__link--padding">База проектов</span>
                              </li>
                              <li class="menu__item js-tabs-button"><span class="menu__link menu__link--padding">Поиск инвесторов</span>
                              </li>
                              <li class="menu__item js-tabs-button"><span class="menu__link menu__link--padding">Помощь экспертов</span>
                              </li>
                              <li class="menu__item js-tabs-button"><span class="menu__link menu__link--padding">Тренды и аналитика</span>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="directions-box__body">
                      <div class="directions-box__tab js-tabs-item is-active">
                          <div class="directions-box__container">
                              <div class="directions-box__main">
                                  <div class="directions-box__content">
                                      <div class="directions-box__heading">Предоставим доступ</div>
                                      <p class="directions-box__caption">Самая полная база планируемых и реализуемых проектов всегда у вас под рукой.</p>
                                      <ul class="directions-box__list">
                                          <li class="directions-box__item">В базе более 5000 проектов</li>
                                          <li class="directions-box__item">До 350 параметров по каждому проекту</li>
                                          <li class="directions-box__item">Доступ к проектной документации</li>
                                          <li class="directions-box__item">Подбор проектов-аналогов под вашу задачу</li>
                                      </ul>
                                  </div>
                                  <div class="directions-box__footer">
                                      <div class="hint directions-box__hint">Оформите подписку и воспользуйтесь всеми функциями платформы</div>
                                  </div>
                              </div>
                              <div class="directions-box__aside">
                                  <div class="directions-box__media">
                                      <img class="directions-box__img" src="../../assets/img/general/directions/government/1.gif" alt="" />
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="directions-box__tab js-tabs-item">
                          <div class="directions-box__container">
                              <div class="directions-box__main">
                                  <div class="directions-box__content">
                                      <div class="directions-box__heading">Найдем инвестора</div>
                                      <p class="directions-box__caption">Заполните наш бриф, остальное мы сделаем сами</p>
                                      <ul class="directions-box__list">
                                          <li class="directions-box__item">Проведем блиц-экспертизу проекта</li>
                                          <li class="directions-box__item">Разместим проект на бирже инвестиционных предложений</li>
                                          <li class="directions-box__item">Подберем потенциальных партнеров и начнем переговорный процесс</li>
                                          <li class="directions-box__item">При необходимости организуем роуд-шоу проекта</li>
                                      </ul>
                                  </div>
                                  <div class="directions-box__footer">
                                      <div class="hint directions-box__hint">Оформите подписку и воспользуйтесь всеми функциями платформы</div>
                                  </div>
                              </div>
                              <div class="directions-box__aside">
                                  <div class="directions-box__media">
                                      <img class="directions-box__img" src="../../assets/img/general/directions/government/2.gif" alt="" />
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="directions-box__tab js-tabs-item">
                          <div class="directions-box__container">
                              <div class="directions-box__main">
                                  <div class="directions-box__content">
                                      <div class="directions-box__heading">Ответим на вопросы</div>
                                      <p class="directions-box__caption">Консультации от ведущих специалистов рынка и экспертные заключения на проекты или документацию</p>
                                      <ul class="directions-box__list">
                                          <li class="directions-box__item">Эксперты - практики с 10-летним стажем</li>
                                          <li class="directions-box__item">Сокращение издержек на переговоры</li>
                                          <li class="directions-box__item">Широкий спектр консалтинговых услуг</li>
                                          <li class="directions-box__item">Сопровождение в режиме 24/7</li>
                                      </ul>
                                  </div>
                                  <div class="directions-box__footer">
                                      <div class="hint directions-box__hint">Оформите подписку и воспользуйтесь всеми функциями платформы</div>
                                  </div>
                              </div>
                              <div class="directions-box__aside">
                                  <div class="directions-box__media">
                                      <img class="directions-box__img" src="../../assets/img/general/directions/government/3.gif" alt="" />
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="directions-box__tab js-tabs-item">
                          <div class="directions-box__container">
                              <div class="directions-box__main">
                                  <div class="directions-box__content">
                                      <div class="directions-box__heading">Поделимся знаниями</div>
                                      <p class="directions-box__caption">Используйте аналитику, лучшие практики и основные тенденции на рынке в своей ежедневной работе</p>
                                      <ul class="directions-box__list">
                                          <li class="directions-box__item">Судебная практика и решения ФАС</li>
                                          <li class="directions-box__item">Типовые проектные решения</li>
                                          <li class="directions-box__item">Отраслевая аналитика и инфографика</li>
                                          <li class="directions-box__item">Ежемесяцячный дайджест по рынку</li>
                                      </ul>
                                  </div>
                                  <div class="directions-box__footer">
                                      <div class="hint directions-box__hint">Оформите подписку и воспользуйтесь всеми функциями платформы</div>
                                  </div>
                              </div>
                              <div class="directions-box__aside">
                                  <div class="directions-box__media">
                                      <img class="directions-box__img" src="../../assets/img/general/directions/government/4.gif" alt="" />
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- end section-directions-->

  <!-- start section-default-->
  <section class="section-default is-products page-body__section-default">
      <div class="section-default__container container">
          <div class="section-body section-default__body">
              <div class="section-default__header is-default">
                  <div class="section-default__heading is-default is-mobile">Не просто предоставим доступ, а обеспечим непрерывное сопровождение и экспертную поддержку</div>
              </div>
              <div class="advantages">
                  <div class="advantages__grid">
                      <div class="advantages__column">
                          <div class="advant-card is-center">
                              <div class="advant-card__icon">
                                  <img class="advant-card__img" src="../../assets/img/content/advants/1.svg" alt="">
                              </div>
                              <p class="card-title advant-card__title">Подберем аналитические материалы и проекты-аналоги</p>
                          </div>
                      </div>
                      <div class="advantages__column">
                          <div class="advant-card is-center">
                              <div class="advant-card__icon">
                                  <img class="advant-card__img" src="../../assets/img/content/advants/2.svg" alt="">
                              </div>
                              <p class="card-title advant-card__title">Оперативно дадим комментарии по правовым или отраслевым вопросам</p>
                          </div>
                      </div>
                      <div class="advantages__column">
                          <div class="advant-card is-center">
                              <div class="advant-card__icon">
                                  <img class="advant-card__img" src="../../assets/img/content/advants/3.svg" alt="">
                              </div>
                              <p class="card-title advant-card__title">Предложим на выбор ключевых экспертов рынка для решения вашей задачи</p>
                          </div>
                      </div>
                      <div class="advantages__column">
                          <div class="advant-card is-center">
                              <div class="advant-card__icon">
                                  <img class="advant-card__img" src="../../assets/img/content/advants/4.svg" alt="">
                              </div>
                              <p class="card-title advant-card__title">Проведем оценку вашего проекта и дадим рекомендации</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- end section-default-->


  // start section-default
  +section-default({}, {
    class: 'is-accent page-body__section-default'
  })
    .section-default__header.is-default
      .section-default__heading.is-default Вы представляете орган власти федерального, регионального или муниципального уровня и еще не подключены к платформе?
      span.section-default__label Оставьте заявку и мы свяжемся с Вами для предоставления детальной информациии

    form.form-box-inline.-secondary(action='#' method='post')
      ._body
        ._grid
          ._column
            +input-text({
              placeholder: 'Введите ФИО*',
              theme: 'is-round',
              size: 'is-large'
            })

          ._column
            +input-text({
              type: 'email',
              placeholder: 'E-mail*',
              theme: 'is-round',
              size: 'is-large'
            })

          ._column
            +input-text({
              type: 'tel',
              placeholder: 'Номер телефона*',
              theme: 'is-round',
              size: 'is-large'
            })

          ._column.is-button
            +button({
              type: 'is-primary is-round',
              title: 'Отправить'
            }, {
              class: 'form-box-inline__button'
            })

        .form-agree._agree Нажимая на кнопку “Отправить” вы подтверждаете что ознакомлен(-ы) с политикой конфиденциальности и даёте согласие на обработку персональных данных согласно ФЗ №54
  // end section-default

  .modal.remodal.is-medium(data-remodal-id='get-consult')
    button._close(data-remodal-action='close')

    ._header
      ._title.is-large.is-center Получить консультацию

    ._body
      form.form.js-modal(action='#' method='post')
        ._body
          .form-field._field
            label._label Введите ФИО*:
            +input-text({
                placeholder: 'Введите ФИО',
                name: 'name'
            })

          .form-field._field
            ._grid
              ._column
                label._label Номер телефона*:
                +input-text({
                    type: 'tel',
                    placeholder: 'Введите номер телефона',
                    name: 'tel'
                })

              ._column
                label._label E-mail*:
                +input-text({
                    type: 'email',
                    placeholder: 'Введите E-mail',
                    name: 'email'
                })

        ._footer
          .form-agree._agree
            +input-control({
                type: 'checkbox',
                label: 'Нажимая на кнопку “Сохранить” вы подтверждаете что ознакомлен(-ы) с политикой конфиденциальности и даёте согласие на обработку персональных данных согласно ФЗ №54',
                name: 'agree'
            })

          +button({
              title: 'Отправить ',
              type: 'is-primary is-round'
          }, {
              class: 'form__button'
          })

  .modal.remodal.is-medium(data-remodal-id='subscribe-form')
    button._close(data-remodal-action='close')

    ._header
      ._title.is-large.is-center Заявка на оформление подписки

    ._body
      form.form.js-modal(action='#' method='post')
        ._body
          .form-field._field
            label._label Выберите пакет подписки*:
            +select({
                placeholder: 'Выберите вариант',
                options: [
                    {
                        title: 'Бесплатно'
                    },
                    {
                        title: 'Базовый'
                    },
                    {
                        title: 'Расширенный'
                    },
                    {
                        title: 'Акселератор'
                    }
                ]
            }, {
                'data-minimum-search-result': -1
            })

          .form-field._field
            label._label Введите ФИО*:
            +input-text({
                placeholder: 'Введите ФИО',
                name: 'name'
            })

          .form-field._field
            ._grid
              ._column
                label._label Номер телефона*:
                +input-text({
                    type: 'tel',
                    placeholder: 'Введите номер телефона',
                    name: 'tel'
                })

              ._column
                label._label E-mail*:
                +input-text({
                    type: 'email',
                    placeholder: 'Введите E-mail',
                    name: 'email'
                })

          .form-field._field
            label._label Организация*:
            +input-text({
                placeholder: 'Введите название',
                name: 'organization'
            })

          .form-field._field
            label._label Должность*:
            +input-text({
                placeholder: 'Введите название',
                name: 'post'
            })

          .form-field._field
            label._label Во сколько удобно с вами связаться:
            ._grid
              ._column
                +input-text({
                    placeholder: 'Выберите дату',
                    name: 'date'
                }, {
                    class: 'js-input-text-date'
                })

              ._column
                +input-text({
                    placeholder: 'Выберите время',
                    name: 'time'
                }, {
                    class: 'js-input-text-time'
                })

        ._footer
          .form-agree._agree
            +input-control({
                type: 'checkbox',
                label: 'Нажимая на кнопку “Сохранить” вы подтверждаете что ознакомлен(-ы) с политикой конфиденциальности и даёте согласие на обработку персональных данных согласно ФЗ №54',
                name: 'agree'
            })

          +button({
              title: 'Отправить ',
              type: 'is-primary is-round'
          }, {
              class: 'form__button'
          })
