mixin ui-text(data, attrs)
  -
    data = data || {};
    attrs = attrs || {};

    var tag = data.tag || 'p';
    var type = data.type || 'primary';
    var size = data.size || 'md';

  #{tag}.ui-text(class=`ui-text_type_${type} ui-text_size_${size}`)&attributes(attrs)
    block
