.ui-select-custom-list {
  &__header {
    display: flex;
    padding: 20px 0;

    &.js-accordion-toggle {
      cursor: pointer;

      .selected-custom {
        &__title {
          position: relative;
          padding-left: 19px;

          &::before {
            content: '';
            flex-shrink: 0;
            position: absolute;
            top: 6px;
            left: 0;
            display: block;
            width: 6px;
            height: 9px;
            background-image: url('data:image/svg+xml,%3Csvg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M4.82544 4.50916L2.0316 7.79569C1.79643 8.07233 1.41515 8.07233 1.17999 7.79569C0.944818 7.51906 1.00357 7.50317 1.00364 7.00317L1.00361 4.00317L1.00361 1.00317C1.00361 1.00317 0.944818 0.487292 1.17999 0.210653C1.41515 -0.0659857 1.79643 -0.0659857 2.0316 0.210653L4.82544 3.49719C5.063 3.77664 5.063 4.22971 4.82544 4.50916Z" fill="%239199B5"/%3E%3C/svg%3E%0A');
            transition: 0.25s;
          }
        }
      }
    }
  }

  &__title {
    position: relative;
    flex: 1 1 auto;
    min-width: 0;
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;

    &:before{
      content: '';
      position: absolute;
      width: 8px;
      height: 5px;
      top: 10px;
      left: 0;
      background-image: url('data:image/svg+xml,%3Csvg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M3.49402 3.82837L0.207479 1.03453C-0.0691597 0.799364 -0.0691597 0.418082 0.207479 0.182915C0.484118 -0.052252 0.5 0.00650137 1 0.00657257L4 0.00653976L7 0.00654414C7 0.00654414 7.51588 -0.052252 7.79252 0.182915C8.06916 0.418082 8.06916 0.799364 7.79252 1.03453L4.50598 3.82837C4.22654 4.06593 3.77346 4.06593 3.49402 3.82837Z" fill="%239199B5"/%3E%3C/svg%3E%0A');
      transform: translate(0, -50%);
    }

    @include breakpoint($md-breakpoint) {
      font-size: 14px;
    }

    @include breakpoint($xl-breakpoint) {
      font-size: 15px;
    }
  }

  &__delete {
    flex-shrink: 0;
    position: relative;
    top: 4px;
    margin-left: 20px;
    width: 12px;
    height: 12px;
    font-size: 0;
    background-image: url('data:image/svg+xml,%3Csvg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x="1.22168" y="10.0613" width="12.793" height="1.06608" rx="0.53304" transform="rotate(-45 1.22168 10.0613)" fill="%23919AB5" stroke="%23919AB5" stroke-width="0.5"/%3E%3Crect x="1.75391" y="1" width="12.793" height="1.06608" rx="0.53304" transform="rotate(45 1.75391 1)" fill="%23919AB5" stroke="%23919AB5" stroke-width="0.5"/%3E%3C/svg%3E%0A');
    cursor: pointer;
    overflow: hidden;
  }

  &__group {
    border-bottom: 1px solid var(--border-color);

    &:last-child {
      border-bottom: 0;
    }

    &.js-accordion-item {
      &.is-opened {
        .selected-custom {
          &__header {
            &.js-accordion-toggle {
              .selected-custom {
                &__title {
                  &::before {
                    top: 5px;
                    transform: rotate(90deg);
                  }
                }
              }
            }
          }

          &__body {
            display: block;
          }
        }
      }
    }
  }

  &__body {
    display: none;
    background-color: var(--background-color);

    &.js-accordion-body {
      display: none;
    }
  }

  &__search {
    position: relative;
    border-bottom: 1px solid var(--white-color);

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 22px;
      width: 14px;
      height: 14px;
      background-image: url('data:image/svg+xml,%3Csvg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M6.33338 11.6668C9.27892 11.6668 11.6668 9.27893 11.6668 6.33338C11.6668 3.38784 9.27892 1 6.33338 1C3.38783 1 1 3.38784 1 6.33338C1 9.27893 3.38783 11.6668 6.33338 11.6668Z" stroke="%239199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M13.0006 13.0001L10.1006 10.1001" stroke="%239199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E%0A');
      transform: translate(0, -50%);
    }
  }

  &__input {
    &.input-text {
      padding-right: 50px;
      border-color: transparent;
      border-radius: 0;
      box-shadow: inset 0 1px 3px rgba(35, 52, 107, 0.05);
    }
  }

  &__content {
    padding: 20px;
    font-size: var(--font-size-sm);
  }

  &__item {
    margin-top: 13px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__footer {
    margin-top: 15px;
  }
}
