mixin ui-select-custom-list(data)
  .ui-select-custom-list.js-select-custom-selected
    ._group
      ._header
        ._title Социальная инфраструктура

        ._delete(title='Удалить') Удалить

      ._body
        ._search
          +ui-input({
              placeholder: 'Поиск отрасли'
          }, {
              class: 'js-selected-custom-input'
          })

        ._content.js-list
          ._list.js-list-container.js-selected-custom-list
            ._item.js-list-item
              +ui-control({
                  label: 'Выделить все отрасли'
              })

            ._item.js-list-item
              +ui-control({
                  label: 'Социальное обслуживание населения'
              })

            ._item.js-list-item
              +ui-control({
                  label: 'Образование'
              })

            ._item.js-list-item
              +ui-control({
                  label: 'Здравоохранение и санаторно-курортное лечение'
              })

            ._item.js-list-item
              +ui-control({
                  label: 'Информационные системы (IT-инфраструктура)'
              })

          +ui-toggle-link
