.video{
  padding-top: 20px;
  
  z-index: 5;

  @include breakpoint($md-breakpoint){
    padding-top: 25px;
    border-top: 1px solid #F2F3F6;
  }
  

  &__tab{
    display: none;

    &.is-current{
      display: block;
    }
  }

  &__header{
    @include breakpoint($md-breakpoint){
      margin-bottom: 25px;
    }
  }

  &__title{
    font-size: 18px;
    font-weight: 500;
    color: #23346B;

    @include breakpoint($lg-breakpoint){
      font-size: 27px;
    }
  }

  &__section{
    padding: 12px 0;

    @include breakpoint($md-breakpoint){
      padding: 25px 0;
    }
  }

  &__body{
    display: flex;
  }

  &__aside{
    flex: 0 0 45px;
    max-width: 45px;

    @include breakpoint($xl-breakpoint){
      flex: 0 0 150px;
      max-width: 150px;
      padding-right: 20px;
    }
  }

  &__main{
    flex: 1 1 auto;
    min-width: 0;
  }

  &__time{
    display: block;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    color: #9199B5;
    transform: rotate(-90deg);
    transform-origin: 41px 44px;

    @include breakpoint($xl-breakpoint){
      font-size: 18px;
      transform: none;
    }
  }

  &__column{
    margin-bottom: 25px;

    @include breakpoint($md-breakpoint){
      margin-bottom: 35px;
    }

    &:last-child{
      margin-bottom: 0;
    }
  }
}


.card-video{
  

  &__body{
    display: flex;
    flex-direction: column;

    @include breakpoint($md-breakpoint){
      flex-direction: row;
    }
  }

  &__photo{
    flex-shrink: 0;
    position: relative;
    display: block;
    padding-bottom: 56%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 15px;

    @include breakpoint($md-breakpoint){
      flex: 0 0 280px;
      max-width: 280px;
      position: relative;
      padding-bottom: 26%;
  
      margin-right: 35px;
      margin-bottom: 0px;
    }

    @include breakpoint($xl-breakpoint){
      flex: 0 0 365px;
      max-width: 365px;
    }

    &:hover{
      .card-video{
        &__img{
          transform: scale(1.1);
        }
      }
    }

    &:before{
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 53px;
      height: 53px;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;
      background-image: url("data:image/svg+xml,%3Csvg width='53' height='53' viewBox='0 0 53 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='26.0509' cy='26.6762' r='26.0509' fill='%23B52528'/%3E%3Cpath d='M21.709 36.8071V16.8946V16.5453L36.1817 26.6762L21.709 36.8071Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    &:after{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: #23346B;
      opacity: 0.4;
      width: 100%;
      height: 100%;
      z-index: 4;
    }
  }

  &__header{
    &-actions{
      display: flex;
      align-items: center;
    }
  }

  &__badge{
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 6;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 10px !important;
    text-transform: uppercase;

    &:before{
      content: '';
      flex-shrink: 0;
      display: inline-block;
      width: 19px;
      height: 13px;
      margin-right: 3px;
      margin-left: -3px;
      background-image: url("data:image/svg+xml,%3Csvg width='19' height='13' viewBox='0 0 19 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.53957 4.22925C9.29472 4.22061 9.05064 4.26137 8.82188 4.34911C8.59313 4.43684 8.38439 4.56975 8.20812 4.73991C8.03185 4.91007 7.89166 5.11399 7.79591 5.33951C7.70016 5.56502 7.65081 5.80751 7.65081 6.05252C7.65081 6.29752 7.70016 6.54001 7.79591 6.76552C7.89166 6.99104 8.03185 7.19496 8.20812 7.36512C8.38439 7.53528 8.59313 7.66819 8.82188 7.75592C9.05064 7.84366 9.29472 7.88442 9.53957 7.87578C10.023 7.87548 10.4866 7.68329 10.8285 7.34143C11.1703 6.99956 11.3625 6.53598 11.3628 6.05251C11.3502 5.57292 11.1541 5.11645 10.8149 4.77721C10.4756 4.43797 10.0192 4.24184 9.53957 4.22925ZM9.53957 6.66314C9.45929 6.66347 9.37974 6.6479 9.3055 6.61733C9.23127 6.58676 9.16383 6.54179 9.10706 6.48502C9.05029 6.42826 9.00533 6.36081 8.97476 6.28658C8.94419 6.21235 8.92862 6.13279 8.92895 6.05251C8.92862 5.97223 8.94419 5.89268 8.97476 5.81845C9.00533 5.74422 9.05029 5.67677 9.10706 5.62001C9.16383 5.56324 9.23127 5.51827 9.3055 5.4877C9.37974 5.45713 9.45929 5.44156 9.53957 5.44189C9.61985 5.44156 9.6994 5.45713 9.77363 5.4877C9.84786 5.51827 9.91531 5.56324 9.97208 5.62001C10.0288 5.67677 10.0738 5.74422 10.1044 5.81845C10.1349 5.89268 10.1505 5.97224 10.1502 6.05252C10.1505 6.1328 10.1349 6.21235 10.1044 6.28658C10.0738 6.36081 10.0288 6.42826 9.97208 6.48502C9.91531 6.54179 9.84786 6.58676 9.77363 6.61733C9.6994 6.6479 9.61985 6.66347 9.53957 6.66314ZM12.5497 3.04241C12.4356 2.92836 12.2809 2.86429 12.1197 2.86429C11.9584 2.86429 11.8037 2.92836 11.6896 3.04241C11.5756 3.15646 11.5115 3.31114 11.5115 3.47242C11.5115 3.63371 11.5756 3.78839 11.6896 3.90244C12.2599 4.47267 12.5802 5.24608 12.5802 6.05252C12.5802 6.85895 12.2599 7.63236 11.6896 8.20259C11.5756 8.31664 11.5115 8.47132 11.5115 8.63261C11.5115 8.79389 11.5756 8.94857 11.6896 9.06262C11.8037 9.17667 11.9584 9.24074 12.1197 9.24074C12.2809 9.24074 12.4356 9.17667 12.5497 9.06262C13.348 8.26429 13.7965 7.18152 13.7965 6.05252C13.7965 4.92351 13.348 3.84074 12.5497 3.04241ZM14.2697 1.32235C14.1557 1.2083 14.001 1.14423 13.8397 1.14423C13.6784 1.14423 13.5238 1.2083 13.4097 1.32235C13.2957 1.43639 13.2316 1.59108 13.2316 1.75236C13.2316 1.91365 13.2957 2.06833 13.4097 2.18238C14.4361 3.2088 15.0128 4.60093 15.0128 6.05252C15.0128 7.5041 14.4361 8.89623 13.4097 9.92265C13.2957 10.0367 13.2316 10.1914 13.2316 10.3527C13.2316 10.514 13.2957 10.6686 13.4097 10.7827C13.5238 10.8967 13.6784 10.9608 13.8397 10.9608C14.001 10.9608 14.1557 10.8967 14.2697 10.7827C15.5243 9.52816 16.229 7.82667 16.229 6.05252C16.229 4.27836 15.5243 2.57687 14.2697 1.32235Z' fill='white'/%3E%3Cpath d='M9.46043 7.87573C9.70528 7.88437 9.94936 7.84361 10.1781 7.75587C10.4069 7.66814 10.6156 7.53523 10.7919 7.36507C10.9681 7.19491 11.1083 6.99099 11.2041 6.76547C11.2998 6.53996 11.3492 6.29747 11.3492 6.05246C11.3492 5.80746 11.2998 5.56497 11.2041 5.33946C11.1083 5.11394 10.9681 4.91002 10.7919 4.73986C10.6156 4.5697 10.4069 4.43679 10.1781 4.34906C9.94936 4.26132 9.70528 4.22056 9.46043 4.2292C8.97697 4.2295 8.51338 4.42169 8.17152 4.76355C7.82966 5.10542 7.63747 5.569 7.63717 6.05247C7.64975 6.53206 7.84589 6.98853 8.18513 7.32777C8.52437 7.66701 8.98084 7.86314 9.46043 7.87573ZM9.46043 5.44184C9.54071 5.44151 9.62026 5.45708 9.6945 5.48765C9.76873 5.51822 9.83617 5.56319 9.89294 5.61996C9.94971 5.67672 9.99467 5.74417 10.0252 5.8184C10.0558 5.89263 10.0714 5.97219 10.0711 6.05247C10.0714 6.13275 10.0558 6.2123 10.0252 6.28653C9.99467 6.36076 9.94971 6.42821 9.89294 6.48497C9.83617 6.54174 9.76873 6.58671 9.6945 6.61728C9.62026 6.64785 9.54071 6.66342 9.46043 6.66309C9.38015 6.66342 9.3006 6.64785 9.22637 6.61728C9.15214 6.58671 9.08469 6.54174 9.02792 6.48497C8.97116 6.42821 8.92619 6.36076 8.89562 6.28653C8.86505 6.2123 8.84948 6.13274 8.84981 6.05246C8.84948 5.97218 8.86505 5.89263 8.89562 5.8184C8.92619 5.74417 8.97116 5.67672 9.02792 5.61996C9.08469 5.56319 9.15214 5.51822 9.22637 5.48765C9.3006 5.45708 9.38015 5.44151 9.46043 5.44184ZM6.45033 9.06257C6.56437 9.17662 6.71905 9.24069 6.88034 9.24069C7.04163 9.24069 7.19631 9.17662 7.31036 9.06257C7.4244 8.94852 7.48847 8.79384 7.48847 8.63256C7.48847 8.47127 7.4244 8.31659 7.31036 8.20254C6.74012 7.63231 6.41977 6.8589 6.41977 6.05247C6.41977 5.24603 6.74012 4.47262 7.31036 3.90239C7.4244 3.78834 7.48847 3.63366 7.48847 3.47237C7.48847 3.31109 7.4244 3.15641 7.31036 3.04236C7.19631 2.92831 7.04163 2.86424 6.88034 2.86424C6.71905 2.86424 6.56437 2.92831 6.45033 3.04236C5.652 3.84069 5.2035 4.92346 5.2035 6.05247C5.2035 7.18147 5.652 8.26424 6.45033 9.06257ZM4.73026 10.7826C4.84431 10.8967 4.99899 10.9608 5.16028 10.9608C5.32157 10.9608 5.47625 10.8967 5.5903 10.7826C5.70434 10.6686 5.76841 10.5139 5.76841 10.3526C5.76841 10.1913 5.70434 10.0366 5.5903 9.9226C4.56387 8.89618 3.98723 7.50405 3.98723 6.05247C3.98723 4.60088 4.56387 3.20875 5.59029 2.18233C5.70434 2.06828 5.76841 1.9136 5.76841 1.75231C5.76841 1.59103 5.70434 1.43634 5.59029 1.3223C5.47625 1.20825 5.32157 1.14418 5.16028 1.14418C4.99899 1.14418 4.84431 1.20825 4.73026 1.3223C3.47575 2.57682 2.77096 4.27831 2.77097 6.05247C2.77097 7.82662 3.47575 9.52811 4.73026 10.7826Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }

  &__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }

  &__main{
    display: flex;
    flex-direction: column;

    position: relative;
  }

  &__content{
    display: flex;
    align-items: flex-end;

    margin-top: auto;
    margin-bottom: -5px;
  }
  
  &__label{
    display: block;
    margin-bottom: 10px;
    color: #9199B5;
    font-weight: 500;
    font-size: 11px;

    @include breakpoint($md-breakpoint){
      font-size: 15px;
      margin-bottom: 0;
      margin-top: 10px;
    }
  }

  &__title{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #23346B;
    text-decoration: none;

    @include breakpoint($md-breakpoint){
      font-size: 17px;
      margin-bottom: 10px;
    }

    &:hover{
      text-decoration: underline;
    }
  }

  &__time{
    display: inline-flex;
    align-items: center;

    position: relative;

    color: #919AB5;
    font-size: 11px;
    font-weight: 500;

    position: absolute;
    top: 0;
    right: 0;

    @include breakpoint($md-breakpoint){
      position: static;
      font-size: 14px;
    }
    

    &:before{
      content: '';
      flex-shrink: 0;
      width: 12px;
      height: 12px;
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 2px;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.01188 0.804691C9.93112 1.34121 10.6589 2.06901 11.1955 2.98822C11.7318 3.90742 12 4.91141 11.9999 6C11.9999 7.08848 11.7318 8.0924 11.1954 9.01172C10.6589 9.93093 9.93109 10.6589 9.01186 11.1953C8.09257 11.7318 7.08859 12 6.00005 12C4.91152 12 3.90764 11.7318 2.9883 11.1953C2.06901 10.6587 1.34121 9.93093 0.80469 9.01172C0.268275 8.09232 0 7.08853 0 6C0 4.91151 0.268193 3.90756 0.804772 2.98822C1.34132 2.06893 2.06912 1.34113 2.98841 0.804691C3.90764 0.268192 4.9116 0 6.00016 0C7.08883 0 8.09249 0.268192 9.01188 0.804691ZM8.1332 9.67966C8.78421 9.29947 9.2998 8.78369 9.67999 8.13268C10.0602 7.48166 10.2502 6.77072 10.2502 5.9999C10.2502 5.22904 10.0602 4.5181 9.67999 3.86708C9.29983 3.21607 8.78421 2.7004 8.1332 2.3202C7.48218 1.93998 6.77124 1.74994 6.00032 1.74994C5.22945 1.74994 4.51851 1.93998 3.86749 2.3202C3.21654 2.70037 2.70081 3.21607 2.3207 3.86708C1.9405 4.5181 1.75035 5.22904 1.75035 5.9999C1.75035 6.77072 1.94042 7.48166 2.3207 8.13268C2.70089 8.78369 3.21648 9.29945 3.86749 9.67966C4.51859 10.0599 5.22956 10.2498 6.00032 10.2498C6.77127 10.2498 7.48218 10.0599 8.1332 9.67966Z' fill='%23657198'/%3E%3Cpath d='M6.75048 3H6.25043C6.17739 3 6.11763 3.02351 6.07065 3.07033C6.02397 3.1172 6.00046 3.17704 6.00046 3.24997V6.00004H4.25046C4.17748 6.00004 4.11766 6.02344 4.07076 6.0702C4.02391 6.11705 4.00049 6.17695 4.00049 6.25001V6.74997C4.00049 6.82293 4.02391 6.88285 4.07076 6.92967C4.11769 6.97649 4.17761 6.99989 4.25046 6.99989H6.75061C6.82346 6.99989 6.88341 6.97649 6.93015 6.92967C6.97697 6.88285 7.00056 6.82293 7.00056 6.74997V3.24997C7.00056 3.1771 6.97697 3.11728 6.93015 3.07033C6.88336 3.02351 6.82343 3 6.75048 3Z' fill='%23657198'/%3E%3C/svg%3E%0A");
      
      @include breakpoint($md-breakpoint){
        margin-right: 8px;
        width: 14px;
        height: 14px;
        margin-bottom: 0px;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5059 0.938095C11.5775 1.56356 12.426 2.41202 13.0515 3.48362C13.6767 4.55521 13.9894 5.72564 13.9893 6.9947C13.9893 8.26363 13.6767 9.43399 13.0514 10.5057C12.4259 11.5773 11.5775 12.426 10.5059 13.0513C9.43419 13.6767 8.26376 13.9894 6.99477 13.9894C5.72577 13.9894 4.55547 13.6767 3.48371 13.0513C2.41202 12.4258 1.56357 11.5773 0.938095 10.5057C0.312751 9.4339 0 8.2637 0 6.9947C0 5.72577 0.312656 4.55537 0.93819 3.48362C1.56369 2.41192 2.41215 1.56347 3.48384 0.938095C4.55547 0.312656 5.72586 0 6.99489 0C8.26405 0 9.43409 0.312656 10.5059 0.938095ZM9.48149 11.2845C10.2404 10.8412 10.8415 10.2399 11.2847 9.48099C11.728 8.72205 11.9495 7.89325 11.9495 6.99464C11.9495 6.09598 11.728 5.26717 11.2847 4.50823C10.8415 3.74929 10.2404 3.14813 9.48149 2.7049C8.72254 2.26165 7.89374 2.0401 6.99501 2.0401C6.09635 2.0401 5.26754 2.26165 4.5086 2.7049C3.74972 3.1481 3.14849 3.74929 2.70537 4.50823C2.26214 5.26717 2.04047 6.09598 2.04047 6.99464C2.04047 7.89325 2.26205 8.72205 2.70537 9.48099C3.14859 10.2399 3.74966 10.8412 4.5086 11.2845C5.26764 11.7277 6.09647 11.9491 6.99501 11.9491C7.89377 11.9491 8.72254 11.7277 9.48149 11.2845Z' fill='%23657198'/%3E%3Cpath d='M7.86947 3.49731H7.28652C7.20138 3.49731 7.13171 3.52472 7.07693 3.5793C7.02251 3.63394 6.99511 3.70371 6.99511 3.78872V6.99471H4.95498C4.86991 6.99471 4.80017 7.02199 4.74549 7.07651C4.69088 7.13112 4.66357 7.20095 4.66357 7.28612V7.86897C4.66357 7.95402 4.69088 8.02388 4.74549 8.07846C4.8002 8.13305 4.87007 8.16032 4.95498 8.16032H7.86963C7.95455 8.16032 8.02444 8.13305 8.07893 8.07846C8.13351 8.02388 8.161 7.95402 8.161 7.86897V3.78872C8.161 3.70377 8.13351 3.63404 8.07893 3.5793C8.02438 3.52472 7.95451 3.49731 7.86947 3.49731Z' fill='%23657198'/%3E%3C/svg%3E%0A");
      }
    }
    
  }

  &__timer{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 5;

    background: #fff;
  }

  &__list{
    display: flex;
    align-items: center;

    margin: 0 0 0 auto;
    padding: 0;

    list-style-type: none;

    position: absolute;
    right: 10px;
    top: -55px;
    z-index: 4;

    @include breakpoint($md-breakpoint){
      position: static;
    }

  }

  &__item{
    margin-right: 3px;

    &:last-child{
      margin-right: 0;
    }
  }

  &__link{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 68px;
    height: 30px;
    

    padding: 0 5px;

    background: #FFFFFF;
    border: 1px solid #F2F3F6;
    border-radius: 5px;

    @include breakpoint($md-breakpoint){
      width: 120px;
      height: 55px;
    }
  }
}

.video-modal{
  display: none;
  background: 0 !important;
  padding: 0 !important;
  overflow: visible !important;
  max-width: 850px !important;
  width: 100%;

  .fancybox-close-small{
    color: #fff !important;
    opacity: 1;
    top: -45px !important;
    right: -10px !important; 

    @include breakpoint($md-breakpoint){
      top: -15px !important;
      right: -45px !important;
    }
  }

  .card-video{
    &__body{
      display: flex;
      flex-direction: column;
    }

    &__photo{
      padding-bottom: 53%;
      flex: auto;
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 25px;

      &:after{
        display: none;
      }

      &:hover{
        .card-video{
          &__img{
            transform: none;
          }
        }
      }
    }

    &__badge{
      position: static;
      margin-right: 10px;
    }

    &__time{
      color: #FFFFFF;
      opacity: 0.6;

      &:before{
        width: 14px;
        height: 14px;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.6'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5059 0.938095C11.5775 1.56357 12.426 2.41202 13.0515 3.48362C13.6767 4.55522 13.9894 5.72564 13.9893 6.9947C13.9893 8.26363 13.6767 9.434 13.0514 10.5057C12.4259 11.5773 11.5775 12.426 10.5059 13.0513C9.43419 13.6767 8.26376 13.9894 6.99477 13.9894C5.72577 13.9894 4.55547 13.6767 3.48371 13.0513C2.41202 12.4258 1.56357 11.5773 0.938095 10.5057C0.312751 9.4339 0 8.2637 0 6.9947C0 5.72577 0.312656 4.55537 0.93819 3.48362C1.56369 2.41192 2.41215 1.56347 3.48384 0.938095C4.55547 0.312656 5.72586 0 6.99489 0C8.26405 0 9.43409 0.312656 10.5059 0.938095ZM9.48149 11.2844C10.2404 10.8412 10.8415 10.2399 11.2847 9.48099C11.728 8.72205 11.9495 7.89325 11.9495 6.99464C11.9495 6.09598 11.728 5.26717 11.2847 4.50823C10.8415 3.74929 10.2404 3.14813 9.48149 2.7049C8.72254 2.26165 7.89374 2.0401 6.99501 2.0401C6.09635 2.0401 5.26754 2.26165 4.5086 2.7049C3.74972 3.1481 3.14849 3.74929 2.70537 4.50823C2.26214 5.26717 2.04047 6.09598 2.04047 6.99464C2.04047 7.89325 2.26205 8.72205 2.70537 9.48099C3.14859 10.2399 3.74966 10.8412 4.5086 11.2844C5.26764 11.7277 6.09647 11.9491 6.99501 11.9491C7.89377 11.9491 8.72254 11.7277 9.48149 11.2844Z' fill='white'/%3E%3Cpath d='M7.86947 3.49731H7.28652C7.20138 3.49731 7.13171 3.52472 7.07693 3.5793C7.02251 3.63394 6.99511 3.70371 6.99511 3.78872V6.99471H4.95498C4.86991 6.99471 4.80017 7.02199 4.74549 7.07651C4.69088 7.13112 4.66357 7.20095 4.66357 7.28612V7.86897C4.66357 7.95402 4.69088 8.02388 4.74549 8.07846C4.8002 8.13305 4.87007 8.16032 4.95498 8.16032H7.86963C7.95455 8.16032 8.02444 8.13305 8.07893 8.07846C8.13351 8.02388 8.161 7.95402 8.161 7.86897V3.78872C8.161 3.70377 8.13351 3.63404 8.07893 3.5793C8.02438 3.52472 7.95451 3.49731 7.86947 3.49731Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }

    &__title{
      margin-top: 15px;
      font-size: 14px;
      margin-bottom: 15px;
      color: #FFFFFF;

      @include breakpoint($md-breakpoint){
        margin-top: 15px;
        font-size: 18px;
        margin-bottom: 0;
      }
    }

    &__label{
      color: #FFFFFF;
      opacity: 0.6;
    }
  }
}