.libs-card{
  display: flex;
  flex-direction: column;
  height: 100%;

  // padding: 25px;
  padding: 20px;

  background: #fff;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0px 0px 15px rgba(35, 52, 107, 0.03);
  transition: all .3s;

  &:hover {
    box-shadow: 15px 15px 30px rgba(145, 153, 181, 0.2), -15px -15px 30px rgba(242, 243, 246, 0.3)
  }

  @include breakpoint($lg-breakpoint){
    padding: 25px;
  }

 
  &__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;

    &:hover{
      .libs-card{
        &__icon{
          background: #23346B;
          transition: 0.5s;
        }
      }
    }
  }

  &__icon{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 150px;

    background: #F2F3F6;
    border-radius: 50%;
    transition: 0.5s;
  }

  &__more{
    display: block;
    text-align: center;
    margin-top: 30px;
    color: #23346B;
    font-weight: 500;
    font-size: 18px;
  }

  &__photo{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    a{
      display: flex;
      align-items: center;
      justify-content: center;

      width: 114px;
      height: 162px;

      font-size: 12px;

      text-decoration: none;
    }
  }

  &__img{
    overflow: hidden;
    // max-height: 160px;
    max-height: 130px;
    border: 1px solid #F2F3F6;
    box-shadow: 0px 0px 30px rgba(145, 153, 181, 0.4);
    border-radius: 3px;

    @include breakpoint($lg-breakpoint){
      max-height: 160px;
    }
  }

  &__labels{
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
    list-style: none;

    position: absolute;
    left: 0;
    top: 0;

    &-item{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 5px;

      &:last-child{
        margin-bottom: 0;
      }

      &--pdf{
        &:before{
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url(../img/content/digest/pdf.svg) no-repeat;
        }
      }

      &--en{
        &:before{
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url(../img/content/digest/en.svg) no-repeat;
        }
      }
      &--world{
        &:before{
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url(../img/content/digest/world.svg) no-repeat;
        }
      }
      &--ru{
        &:before{
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url(../img/content/digest/ru.svg) no-repeat;
        }
      }
    }
  }

  &__content{
    display: flex;
    flex-direction: column;

    height: 100%;

    margin-top: 15px;
    // margin-bottom: 20px;
    margin-bottom: 12px;

    @include breakpoint($lg-breakpoint){
      margin-bottom: 20px;
    }
  }

  &__label{
    display: flex;
    margin-bottom: 10px;
    font-size: 14px;
    color: #9199B5;
  }

  &__title{
    // font-size: 16px;
    font-size: 13px;
    font-weight: 500;
    color: #23346B;
    text-decoration: none;

    @include breakpoint($lg-breakpoint){
      font-size: 16px;
    }

    &:hover{
      text-decoration: underline;
    }
  }

  &__footer{
    margin-top: auto;
  }

  &__charters{
    // margin-top: 20px;
    margin-top: 10px;

    @include breakpoint($lg-breakpoint){
      margin-top: 20px;
    }
  }

}



.libs-card.is-row{
  &.is-row{
    display: flex;
    flex-direction: row;

    position: relative;

    padding: 15px 0 !important;
    border-radius: 0;
    margin-bottom: -1px;

    border-bottom: 1px solid #F2F3F6;

    &:first-child{
      border-top: 1px solid #F2F3F6;
    }

    @include breakpoint($md-breakpoint){
      border: 0;
      margin-bottom: 0;
    }

    @include breakpoint($lg-breakpoint){
      padding: 14px !important;
      border-radius: 10px;
    }

    @include breakpoint($xl-breakpoint){
      padding: 25px !important;
    }

    .libs-card{
      &__header{
        border: 0;
        padding: 0;
        width: auto;

        @include breakpoint($md-breakpoint){
          flex: 0 0 160px;
          max-width: 160px;
          width: 100%;
        }

        @include breakpoint($lg-breakpoint){
          flex: 0 0 180px;
          max-width: 180px;
          width: 100%;
        }

        @include breakpoint($xl-breakpoint){
          flex: 0 0 230px;
          max-width: 230px;
          width: 100%;
        }
      }

      &__photo{
      	height: auto;

      	@include breakpoint($lg-breakpoint){
      		height: 160px;
      	}
      }

      &__content{
        height: auto;
        margin-top: 0;

        .charters__title{
          @include breakpoint($md-breakpoint){
            font-size: 12px;
          }

          @include breakpoint($xl-breakpoint){
            font-size: 14px;
          }
        }

        .libs-card__charters{
        	@include breakpoint($lg-breakpoint){
        		margin-top: 15px;
        	}
        }
      }

      &__title-inner{
        display: flex;
        align-items: flex-start;
      }

      &__title{
        display: flex;
        align-items: flex-start;
        font-size: 13px;
        font-weight: 500;
        max-height: none;
        position: relative;

        padding-right: 20px;

        @include breakpoint($lg-breakpoint){
          padding-right: 0;
        }

        // &:after{
        //   content: '';
        //   display: inline-block;
        //   margin-left: auto;
        //   width: 35px;
        //   height: 35px;
        //   flex-shrink: 0;
        //   position: absolute;
        //   right: 0;
        //   top: 0;
        //   background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='35' height='35' rx='17.5' transform='matrix(-1 0 0 1 35 0)' fill='%23F6F6F8'/%3E%3Cpath d='M23 19.3335V21.7779C23 22.1021 22.8712 22.413 22.642 22.6422C22.4128 22.8714 22.1019 23.0002 21.7778 23.0002H13.2222C12.8981 23.0002 12.5872 22.8714 12.358 22.6422C12.1288 22.413 12 22.1021 12 21.7779V19.3335' stroke='%23657198' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.4443 15.2778L17.4999 18.3334L20.5554 15.2778' stroke='%23657198' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.4998 18.3333V11' stroke='%23657198' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          
        //   @include breakpoint($md-breakpoint){
        //     display: none;
        //   }

        // }

        @include breakpoint($lg-breakpoint){
          font-size: 18px;
        }
      }

      &__button-download{
        display: inline-flex;
        margin-left: auto;
        width: 35px;
        height: 35px;
        flex-shrink: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='35' height='35' rx='17.5' transform='matrix(-1 0 0 1 35 0)' fill='%23F6F6F8'/%3E%3Cpath d='M23 19.3335V21.7779C23 22.1021 22.8712 22.413 22.642 22.6422C22.4128 22.8714 22.1019 23.0002 21.7778 23.0002H13.2222C12.8981 23.0002 12.5872 22.8714 12.358 22.6422C12.1288 22.413 12 22.1021 12 21.7779V19.3335' stroke='%23657198' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.4443 15.2778L17.4999 18.3334L20.5554 15.2778' stroke='%23657198' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.4998 18.3333V11' stroke='%23657198' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        
        @include breakpoint($md-breakpoint){
          display: none;
        }
      }

      &__label{
        position: absolute;
        right: 0;
        top: 15px;
        margin-top: 0;
        display: flex;

        @include breakpoint($md-breakpoint){
          position: static;
          margin-top: 10px;
        }

        @include breakpoint($lg-breakpoint){
          margin-top: 0;
        }

        .charters__title{
          margin: 0;
          padding: 0;
          background: 0;
          font-size: 11px;
          color: #9199B5;
          font-weight: 400;

          @include breakpoint($md-breakpoint){
            font-size: 14px;
          }
        }
      }

      &__photo a{
        display: none;

        @include breakpoint($md-breakpoint){
          display: block;
        }
      }

      &__img{
        display: none;
        height: 100%;

        @include breakpoint($md-breakpoint){
          display: block;
        }
      }

      &__labels{
        flex-direction: row;
        align-items: center;
        left: 0;
        top: 0;

        @include breakpoint($md-breakpoint){
          flex-direction: column;
        }

        &-item{
          flex-shrink: 0;
          margin-right: 7px;
          margin-bottom: 0;

          @include breakpoint($md-breakpoint){
            margin-right: 0;
          }

          &--pdf{
            border-radius: 3px;
            min-width: 23px;
            height: 14px;

            &:before{
              content: 'PDF';
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 2px;
              font-size: 9px;
              height: 14px;
              width: 100%;
              color: #FFFFFF;
              font-weight: 500;
              background: #4F5D89;
            }
          }

          &--world{
            border-radius: 3px;
            min-width: 27px;
            height: 14px;
            width: auto;

            &:before{
              content: 'Word';
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 2px;
              font-size: 9px;
              height: 14px;
              width: 100%;
              color: #FFFFFF;
              font-weight: 500;
              background: #4F5D89;
            }
          }

          @include breakpoint($md-breakpoint){
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 5px;

            &:last-child{
              margin-bottom: 0;
            }

            &--pdf{
              &:before{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: url(../img/content/digest/pdf.svg) no-repeat;
              }
            }

            &--en{
              &:before{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: url(../img/content/digest/en.svg) no-repeat;
              }
            }
            &--world{
              &:before{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: url(../img/content/digest/world.svg) no-repeat;
              }
            }
            &--ru{
              &:before{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: url(../img/content/digest/ru.svg) no-repeat;
              }
            }
          }
        }
      }

      &__data{
        padding-top: 35px;
        width: 100%;

        @include breakpoint($md-breakpoint){
          padding-top: 0;
        }

        @include breakpoint($lg-breakpoint){
        	display: flex;
        	flex-direction: column;
        }
      }
    }

    .charters__title{
      display: inline-block;
      padding: 3px 5px;

      margin-right: 8px;

      font-size: 14px;
      font-weight: 500;
      background: #F6F6F8;
      border-radius: 3px;

      &:last-child{
        margin-right: 0;
      }
    }

  }
}





