extends ../template

include ../../components/section-intro/section-intro
include ../../components/section-default/section-default
include ../../components/section-slider/section-slider
include ../../components/categories-slider/categories-slider
include ../../components/section-feedback/section-feedback
include ../../components/super-search/super-search

include ../../components/review-card/review-card
include ../../components/product-card/product-card

include ../../components/badge/badge
include ../../components/button/button
include ../../components/slider-nav/slider-nav

include ../../components/market-services/market-services

block append settings
	-
		page.title = 'Маркетплейс';


block page-body

	//- start section-intro
	<div class="section-academy section-academy--wavy page-body__section-analitics">
		<img class="section-analitics__lines" src="/assets/img/general/bg-marketplace.png" alt="">
		<div class="section-analitics__container container">

			<div class="breadcrumbs section-analitics__breadcrumbs">
				<div class="breadcrumbs__container container">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item">
							<a class="breadcrumbs__link" href="/" title="Главная">Главная</a>
						</li>
						<li class="breadcrumbs__item">
							<a class="breadcrumbs__link" href="#">Маркетплейс</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="section-analitics__body">
				<div class="section-analitics__main is-large">
					<h1 class="section-analitics__heading is-large">Маркетплейс «РОСИНФРА»</h1>
					<span class="section-analitics__caption is-large">Online-площадка для выстраивания сотрудничества между участниками рынка инфраструктурных и инвестиционных проектов</span>

					.section-analitics__search
						+super-search(
							{
								advanced: true,
								filter: true,
								placeholder: 'Введите запрос для поиска',
								companies: [
									{
										title: 'Компания 1',
									},
									{
										title: 'Компания 2',
									},
									{
										title: 'Компания 3',
									},
									{
										title: 'Компания 4',
									},
									{
										title: 'Компания 5',
									},
									{
										title: 'Компания 6',
									},
									{
										title: 'Компания 7',
									}
								]
							}, 
							{
								class: "super-search--filter"
							}
						)

					a.section-analitics__label(href="#") Как присоединиться к маркетплейсу?
				</div>
			</div>
		</div>
	</div>
	//- end section-intro

	// start section-default
	+section-default({
		header: {
			main: {
				heading: {
					title: 'Основные разделы',
					type: 'is-centered'
				}
			}
		}
	}, {
		class: 'section-default--services page-body__section-default'
	})
		.section-layout
			._body
				._slider
					._grid
						._column.is-default

							// start services-card
							a.services-card(href="#")
								._body
									._main
										._icon
											img._img(src="../../assets/img/general/services/7.svg", alt="")
										._title База компаний
										._caption
											p Оценка уровня развития государственно-частного партнерства в субъектах РФ

										._more(href="#") Подробнее

						._column.is-default

							// start services-card
							a.services-card(href="#")
								._body
									._main
										._icon
											img._img(src="../../assets/img/general/services/8.svg", alt="")
										._title Услуги и товары
										._caption
											p Интерактивная аналитика ГЧП в России в разрезе отраслей, форм реализации и иных параметров

										._more(href="#") Подробнее
						._column.is-default

							// start services-card
							a.services-card(href="#")
								._body
									._main
										._icon
											img._img(src="../../assets/img/general/services/9.svg", alt="")
										._title Объявления
										._caption
											p Анализ правоприменительной практики в сфере ГЧП с оценкой влияния на рынок

										._more(href="#") Подробнее
						._column.is-default

							// start services-card
							a.services-card(href="#")
								._body
									._main
										._icon
											img._img(src="../../assets/img/general/services/10.svg", alt="")
										._title Публичные партнеры
										._caption
											p Крупнейшая база исследований, аналитики и типовых решений

										._more(href="#") Подробнее

							// end services-card
	// end section-default

	// start section-stats
	.section-stats.page-body__section-stats
		._container.container
			._header.is-margin
				span._title Маркетплейс «РОСИНФРА» - online-площадка для выстраивания сотрудничества между участниками рынка инфраструктурных и инвестиционных проектов
				span._caption Система функционирует по принципу «подключайся и работай», позволяя поставщикам самостоятельно вести страницы своих компаний и продуктов. Автоматизация позволяет пользователю осуществить подбор интересующей его услуги или продукта посредством систематизации заданных параметров. 
			._body
				._grid
					._column
						.card-stats
							._icon
								img._img(src="../assets/img/content/stats/4.svg", alt="")
							._data
								span._value 10 355
								span._caption Участников рынка
					._column
						.card-stats
							._icon
								img._img(src="../assets/img/content/stats/1.svg", alt="")
							._data
								span._value 2 689
								span._caption Товаров в маркетплейсе
					._column
						.card-stats
							._icon
								img._img(src="../assets/img/content/stats/3.svg", alt="")
							._data
								span._value 1 436
								span._caption Услуг от участников
					._column
						.card-stats
							._icon
								img._img(src="../assets/img/content/stats/2.svg", alt="")
							._data
								span._value 3 543
								span._caption Объявлений участников
	// end section-stats

	// start section-advants
	.section-advants.page-body__advants
		img._bg(src="__static__img/general/bg-advants.png", alt="")
		._container.container
			._grid
				._column
					span._number 01
					span._title Преимущества для Клиентов:
					ul._list
						li._item
							span._text Подбор участников для структурирования и реализации проекта
						li._item
							span._text Возможность самостоятельно выбрать конкурентное предложение
						li._item
							span._text Безопасность и полная конфиденциальность
				
				._column
					span._number 02
					span._title Преимущества для Партнёров:
					ul._list
						li._item
							span._text Снижение издержек за счет взаимодействия внутри Маркетплейса
						li._item
							span._text Взаимовыгодное сотрудничество всех участников по принципу “win-win”
						li._item
							span._text Преодоление географических барьеров
	// end section-advants

	// start section-works
	.section-works.page-body__works
		._container.container
			._header
				span._title.is-centered Как это работает?
			._body
				._grid
					// start column
					._column
						// start card-works
						.card-works
							._icon
								img._img(src="__static__img/general/works/1.svg", alt="")
							._title Выбрать интересующую <br> услугу/компанию
						// end card-works
					// end column
					// start column
					._column
						// start card-works
						.card-works
							._icon
								img._img(src="__static__img/general/works/2.svg", alt="")
							._title Отправить запрос <br> поставщику услуги
						// end card-works
					// end column
					// start column
					._column
						// start card-works
						.card-works
							._icon
								img._img(src="__static__img/general/works/3.svg", alt="")
							._title Получить коммерческое <br> предложение и оформить заказ
						// end card-works
					// end column
					// start column
					._column
						// start card-works
						.card-works
							._icon
								img._img(src="__static__img/general/works/4.svg", alt="")
							._title Получите услуги от <br> проверенного партнёра 
						// end card-works
					// end column

	// end section-works

	// start section-default
	.section-default.js-section-slider.js-tabs.page-body__section-default
		._container.container
			.section-header._header.is-bordered
				._container
					._main
						h2.section-heading._heading Рекомендации
					._aside
						.tabs-menu._menu.js-tabs-menu
							ul._list
								li._item.is-active.js-tabs-button
									span._link Рекомендуемые услуги
								li._item.js-tabs-button
									span._link Рекомендуемые компании

			.section-body._body
				._tabs
					._tab.is-active.js-tabs-item
						.section-slider
							._body.js-expert-slider
								._wrapper.js-slider-wrapper
									each item in marketplace.sliderServices
										// start slide
										._slide.js-slider-slide
											+market-services(item)
										// end slide

								.slider-controls._controls
									._aside
										+slider-counter
									._main
									._aside
										+slider-nav

					._tab.js-tabs-item
						.section-slider
							._body.js-expert-slider
								._wrapper.js-slider-wrapper
									each item in marketplace.sliderServices
										// start slide
										._slide.js-slider-slide
											+market-services(item)
										// end slide

								.slider-controls._controls
									._aside
										+slider-counter
									._main
									._aside
										+slider-nav
	// end section-default

	.scrolltop._scrolltop
		a._link.js-scrolltop(href="#body")
			span._text Вернуться наверх страницы
			._icon
				<svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 4L4.5 1L8 4" stroke="#9199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
