mixin ui-toggle(data)
  -
    data = data || {};

    var theme = data.theme ? `ui-toggle_type_${data.theme}` : 'ui-toggle_type_primary';
    var type = data.type || 'checkbox';

  label.ui-toggle&attributes(attrs)
    input._input(type='checkbox' name=data.name checked=data.checked)
    span._container
      span._handle
