.selected-params{
  &__header{
    margin-bottom: 20px;
  }

  &__title{
    font-size: 17px;
    font-weight: 500;
    color: #23346B;
  }

  &__list{
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__item{
    margin-right: 7px;

    &:last-child{
      margin-right: 0;
    }
  }

  &__badge{
    display: inline-flex;
    align-items: center;

    padding: 6px 7px !important;

    color: #fff;
    cursor: pointer;
    background: #4F5D89;
    line-height: 1;
    transition: 0.5s;

    &:hover{
      background: #566081;
      transition: 0.5s;
    }

    &:after{
      content: '';
      width: 11px;
      height: 11px;
      margin-left: 5px;
      flex-shrink: 0;
      display: block;
      background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.19824' y='9.13867' width='11.4899' height='0.95749' rx='0.478745' transform='rotate(-45 1.19824 9.13867)' fill='white' stroke='white' stroke-width='0.5'/%3E%3Crect x='1.67725' y='1' width='11.4899' height='0.95749' rx='0.478745' transform='rotate(45 1.67725 1)' fill='white' stroke='white' stroke-width='0.5'/%3E%3C/svg%3E%0A");
    }
  }
}