.total-counter{
  &.is-white{
    .total-counter{
      &__number{
        background: #fff;
      }
    }
  }

  &__body{
    display: flex;
    align-items: center;
  }

  &__aside{
    margin-right: 15px;
  }

  &__title{
    font-size: 18px;
    font-weight: 300;
    color: #23346B;
  }

  &__list{
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__item{
    margin-right: 2px;

    &:first-child{
      .total-counter{
        &__number{
          border-radius: 5px 0px 0px 5px;
        }
      }
    }

    &:last-child{
      margin-right: 0;

      .total-counter{
        &__number{
          border-radius: 0px 5px 5px 0px;
        }
      }
    }
  }

  &__number{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 34px;
    height: 55px;

    font-size: 24px;
    color: #23346B;
    background: #f8f9fa;
  }
}