.submenu {
  &__title {
    position: relative;
    margin: 0 0 25px;
    padding-bottom: 27px;
    color: $primary-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 21px;
      height: 3px;
      background-image: url('data:image/svg+xml,%3Csvg width="21" height="3" viewBox="0 0 21 3" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Ccircle cx="1.5" cy="1.5" r="1.5" fill="%23D01417"/%3E%3Ccircle cx="10.5" cy="1.5" r="1.5" fill="%23D01417"/%3E%3Ccircle cx="19.5" cy="1.5" r="1.5" fill="%23D01417"/%3E%3C/svg%3E%0A');
    }
  }

  &__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    &.is-active {
      .submenu {
        &__link {
          color: $primary-color;
        }
      }
    }
  }

  &__link {
    color: $muted-color;
    text-decoration: none;
  }
}
