mixin submenu(data)
  .submenu
    ._title= data.title

    ul._list
      each item in data.items
        li._item(class=(item.isActive ? 'is-active' : ''))
          a._link(href=item.href title=item.title)= item.title
