.category-card {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  height: 100%;
  color: $primary-color;
  text-align: left;
  text-decoration: none;
  background: $white-color;
  border-radius: 5px;
  transition: 0.25s;
  box-shadow: 0 4px 20px rgba(35, 52, 107, 0.1);

  @include breakpoint($xl-breakpoint) {
    padding: 30px 25px 33px;
    //min-height: 150px;
  }

  &.is-helper {
    align-items: center;
    text-align: center;

    .category-card {
      &__header {
        margin-bottom: 20px;
      }

      &__icon {
        margin-left: 0;
      }

      &__caption {
        font-weight: 500;
      }
    }
  }

  &.is-expert {
    .category-card {
      &__title {
        font-size: 16px;
        line-height: 1.2;

        @include breakpoint($md-breakpoint) {
          font-size: 18px;
        }

        @include breakpoint($xl-breakpoint) {
          font-size: 20px;
        }
      }

      &__caption {
        color: $body-color;
        font-size: 14px;
      }
    }
  }

  &.is-step {
    .category-card {
      &__content {
        position: relative;
      }

      &__content,
      &__caption {
        padding-left: 33px;
      }

      &__title {
        font-size: 18px;
        line-height: 1.2;

        @include breakpoint($md-breakpoint) {
          font-size: 16px;
        }

        @include breakpoint($xl-breakpoint) {
          font-size: 18px;
        }
      }

      &__icon {
        @include breakpoint($md-breakpoint) {
          display: none;
        }

        @include breakpoint($xl-breakpoint) {
          display: block;
        }
      }

      &__number {
        position: absolute;
        top: 0;
        left: 0;
      }

      &__caption {
        padding-right: 57px;
        color: $body-color;
        font-size: 14px;

        @include breakpoint($md-breakpoint) {
          padding-right: 0;
        }
      }
    }

    &.is-small {
      padding: 18px 15px;

      .category-card {
        &__header {
          margin-bottom: 12px;
        }

        &__title {
          font-size: 16px;
        }

        &__caption {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }

  &.is-info {
    padding: 18px 15px;

    .category-card {
      &__body {
        position: relative;
        padding-left: 36px;

        &::before {
          content: '';
          position: absolute;
          top: -1px;
          left: 0;
          width: 21px;
          height: 21px;
          background-image: url('data:image/svg+xml,%3Csvg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M10.5 0C4.71037 0 0 4.71037 0 10.5C0 16.2896 4.71037 21 10.5 21C16.2896 21 21 16.2896 21 10.5C21 4.71037 16.2896 0 10.5 0ZM11.183 16.7299C10.6841 16.8131 9.69154 17.0208 9.18749 17.0625C8.76083 17.0978 8.3582 16.8536 8.11277 16.503C7.86669 16.1525 7.80772 15.7039 7.95381 15.3014L9.93858 9.84376H7.87498C7.87322 8.70655 8.72622 7.87037 9.81721 7.54947C10.3378 7.39628 11.3079 7.18666 11.8125 7.21878C12.1148 7.23801 12.6418 7.42769 12.8872 7.77828C13.1333 8.12883 13.1922 8.57744 13.0461 8.97991L11.0614 14.4375H13.1243C13.1247 15.5734 12.3035 16.5432 11.183 16.7299ZM11.8125 6.56251C11.0876 6.56251 10.5 5.97481 10.5 5.25C10.5 4.5251 11.0876 3.93749 11.8125 3.93749C12.5374 3.93749 13.125 4.5251 13.125 5.25C13.125 5.97485 12.5374 6.56251 11.8125 6.56251Z" fill="%23D01417"/%3E%3C/svg%3E%0A');
        }
      }

      &__header {
        margin-bottom: 10px;
      }

      &__caption {
        color: $body-color;
        font-size: inherit;
      }
    }
  }

  &.is-advantage {
    padding: 20px 15px 20px 20px;

    .category-card {
      &__header {
        margin-bottom: 10px;
      }

      &__icon {
        width: 37px;
      }

      &__caption {
        font-size: 14px;
      }
    }
  }

  &.is-stage {
    padding: 15px 15px 20px 30px;
    transition: 0.5s;

    &:hover{
      transition: 0.5s;
      box-shadow: 0 4px 20px rgba(35, 52, 107, 0.2);
    }

    .category-card {
      &__value {
        font-size: 40px;
      }

      &__caption {
        max-width: 100px;
        color: $primary-color;
        font-weight: 500;
      }

      &__icon {
        width: 50px;
        height: 50px;
      }
    }
  }

  &.is-small {
    padding: 15px 30px;
    //min-height: 135px;

    @include breakpoint($lg-breakpoint) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @include breakpoint($xl-breakpoint) {
      padding-left: 30px;
      padding-right: 30px;
    }

    .category-card {
      &__value {
        font-size: 40px;
        font-weight: 400;
      }

      &__caption {
        font-size: inherit;
        font-weight: 500;
      }

      &__icon {
        width: 34px;
      }

      &__img {
        max-height: 34px;
      }
    }
  }

  &__grid {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }

  &__main {
    flex: 1 1 auto;

    .category-card {
      &__title {
        font-size: 16px;
      }

      &__caption {
        margin-top: 10px;
        color: $body-color;
        font-size: 14px;
      }
    }
  }

  &__aside {
    margin-left: 15px;

    .category-card__icon {
      margin-left: 0;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
  }

  &__content {
    flex: 1 1 auto;
  }

  &__value {
    position: relative;
    top: 1px;
    font-size: 36px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.025em;

    @include breakpoint($xs-breakpoint) {
      font-size: 30px;
    }

    @include breakpoint($xl-breakpoint) {
      font-size: 44px;
    }
  }

  &__title {
    display: block;
    // font-size: 18px;
    font-weight: 500;

    @include breakpoint($lg-breakpoint){
      font-size: 18px;
    }
  }

  &__small {
    margin-left: 0.25em;
    font-size: 0.409em;
    font-weight: 500;
  }

  &__icon {
    flex: 0 0 auto;
    position: relative;
    margin-left: 20px;
  }

  &__img {
    transition: 0.25s;

    &.is-hover {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }

  &__caption {
    margin: 0;
    line-height: 1.35;
  }
}

a.category-card {
  &:hover {
    color: $white-color;
    background-color: $primary-color;

    .category-card {
      &__img {
        opacity: 0;

        &.is-hover {
          opacity: 1;
        }
      }
    }
  }
}
