mixin category-card(data)
  if (data.href)
    a.category-card(href=data.href title='' class=data.type class=data.size)
      ._header
        if (data.value || data.title)
          ._content
            if (data.value)
              span._value= data.value.title
                if (data.value.small)
                  span._small= data.value.small

            if (data.title)
              span._title
                if (data.number)
                  span.number._number= data.number

                | #{data.title}

        ._icon
          img._img(src=data.img.src alt='')
          //img._img.is-hover(src=data.img.hover alt='')

      p._caption= data.caption

  else
    .category-card(class=data.type class=data.size)
      ._header
        if (data.value || data.title)
          ._content
            if (data.value)
              span._value= data.value.title
              if (data.value.small)
                span._small= data.value.small

            if (data.title)
              span._title
                if (data.number)
                  span.number._number= data.number

                | #{data.title}

        ._icon
          img._img(src=data.img.src alt='')
          //img._img.is-hover(src=data.img.hover alt='')

      p._caption= data.caption
