.ui-input {
  padding: 0 15px;
  width: 100%;
  // height: 44px;
  outline: 0;
  color: var(--primary-color);
  height: 42px;
  border-radius: 24px;
  background: #23346B;
  transition: 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.5);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  // &:focus{
  //   transition: 0.5s;
  //   background: #FFFFFF;
  //   border: 1px solid #919ab5;
  //   box-shadow: inset 0px 1px 3px rgba(35, 52, 107, 0.05);

  //   &::placeholder{
  //     color: #23346b;
  //   }
  // }

  @include breakpoint($md-breakpoint) {
    height: 50px;
  }

  @include breakpoint($lg-breakpoint) {
    padding: 0 20px;
    box-shadow: inset 0px 1px 3px rgba(35, 52, 107, 0.05) ;
  }

  &::placeholder {
    color: var(--muted-color);
  }

  &_size {
    &_sm {
      padding-left: 15px;
      padding-right: 15px;
      height: 40px;
      font-size: var(--font-size-xs);

      @include breakpoint($lg-breakpoint) {
        height: 45px;
      }
    }

    &_xxl {
      height: 45px;
      font-size: var(--font-size-lg);

      @include breakpoint($lg-breakpoint) {
        font-size: var(--font-size-md);
        height: 50px;
      }

      @include breakpoint($xl-breakpoint) {
        height: 60px;
      }
    }
  }


  &_round {
    border-radius: 35px;
  }
}
