mixin ui-input(data, attrs)
  -
    data = data || {};

    var type = data.type ? `ui-input_type_${data.type}` : 'ui-input_type_primary';
    var size = data.size ? `ui-input_size_${data.size}` : 'ui-input_size_md';
    var round = data.round ? 'ui-input_round' : '';

    if (data.type === 'hidden') {
      type = size = round = '';
    }

  input.ui-input(type=(data.type || 'text') class=type class=size class=round value=data.value placeholder=data.placeholder name=data.name)&attributes(attrs)
