include ../select/select
include ../input-text/input-text

mixin expert-pickup(data, attrs)
  form.expert-pickup&attributes(attrs)
    form._form(action="#")
      p._title= data.title
      ._body
        ._main
          ._grid
            ._column
              .form-field._field
                +select({
                  placeholder: 'Для чего нужен эксперт*',
                  options: [{
                    title: 'Вариант 1'
                  }, {
                    title: 'Вариант 2'
                  }, {
                    title: 'Вариант 3'
                  }],
                  type: 'is-white is-round',
                  size: 'is-large'
                })

            ._column
              .form-field._field
                +input-text({
                  type: 'email',
                  placeholder: 'E-mail*',
                  theme: 'is-white is-round',
                  size: 'is-large'
                })

            ._column
              .form-field._field
                +input-text({
                  type: 'tel',
                  placeholder: '+7 ( _ _ _ ) - _ _ _-_ _-_ _',
                  theme: 'is-white is-round',
                  size: 'is-large'
                })

        ._aside
          button._button
            span._text Отправить
            i.fe.fe-arrow-right

      .form-agree._agree Нажимая на кнопку “Отправить” вы подтверждаете что ознакомлен(-ы) с политикой конфиденциальности и даёте согласие на обработку персональных данных согласно ФЗ №54
