.expert-pickup {
  &__title {
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: 500;

    @include breakpoint($lg-breakpoint) {
      margin-bottom: 20px;
      font-size: 18px;
    }

    @include breakpoint($xl-breakpoint) {
      margin-bottom: 25px;
    }
  }

  &__body {
    @include breakpoint($md-breakpoint) {
      display: flex;
    }
  }

  &__main {
    @include breakpoint($md-breakpoint) {
      flex:  1 1 auto;
      min-width: 0;
    }
  }

  &__aside {
    margin-top: 15px;

    @include breakpoint($md-breakpoint) {
      flex-shrink: 0;
      margin-top: 0;
      margin-left: 10px;
    }
  }

  &__grid {
    @include breakpoint($md-breakpoint) {
      display: flex;
      flex:  1 1 auto;
      min-width: 0;
      margin: 0 -5px;
    }
  }

  &__column {
    margin-bottom: 10px;

    @include breakpoint($md-breakpoint) {
      flex: 1 1 33.3334%;
      max-width: 33.3334%;
      margin-bottom: 0;
      padding: 0 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    color: $white-color;
    font-weight: 700;
    background: $danger-color;
    border: 0;
    border-radius: 35px;

    @include breakpoint($md-breakpoint) {
      width: 44px;
      border: 3px solid $white-color;
      border-radius: 50%;
    }

    @include breakpoint($lg-breakpoint) {
      width: 55px;
      height: 55px;
      border-width: 5px;
    }

    .fe {
      position: relative;
      top: 1px;

      @include breakpoint($md-breakpoint) {
        top: 0;
      }
    }
  }

  &__text {
    margin-right: 7px;

    @include breakpoint($md-breakpoint) {
      display: none;
    }
  }

  &__agree {
    margin-top: 15px;
    color: rgba($white-color, 0.8);

    @include breakpoint($lg-breakpoint) {
      margin-top: 20px;
    }

    @include breakpoint($xl-breakpoint) {
      margin-top: 25px;
    }
  }
}
