.section-advants{
  position: relative;
  padding: 75px 0 125px;

  z-index: 1;

  &__bg{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 419px;
    z-index: -1;
  }

  &__grid{
    display: flex;
    margin: 0 -37px;
  }

  &__column{
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;

    padding-left: 35px;
    padding-top: 70px;
  }

  &__number{
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 800;
    font-size: 96px;
    color: #FFFFFF;
    line-height: 1;
    z-index: -1;
  }
  
  &__title{
    color: #23346B;
    font-weight: 500;
    font-size: 24px;
  }

  &__list{
    margin: 35px 0 0 0;
    padding: 0;
    list-style-type: none;
  }

  &__item{
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 7px;

    &:before{
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      flex-shrink: 0;
      margin-right: 10px;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='18' height='18' rx='9' fill='%234F5D89'/%3E%3Cpath d='M13.263 6.63159L8.0525 11.3684L5.68408 9.21532' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }

  &__text{
    color: #657198;
  }
}