extends ../template

include ../../components/section-intro/section-intro
include ../../components/section-default/section-default
include ../../components/section-slider/section-slider
include ../../components/categories-slider/categories-slider
include ../../components/section-feedback/section-feedback

include ../../components/review-card/review-card
include ../../components/product-card/product-card

include ../../components/badge/badge
include ../../components/button/button
include ../../components/slider-nav/slider-nav

block append settings
	-
		page.title = 'Проектный офис';


block page-body

	//- start section-intro
	<div class="section-academy page-body__section-analitics">
		<img class="section-analitics__lines" src="/assets/img/general/bg-office.png" alt="">
		<div class="section-analitics__container container">

			<div class="breadcrumbs section-analitics__breadcrumbs">
				<div class="breadcrumbs__container container">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item">
							<a class="breadcrumbs__link" href="/" title="Главная">Главная</a>
						</li>
						<li class="breadcrumbs__item">
							<a class="breadcrumbs__link" href="#">Проектный офис</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="section-analitics__body">
				<div class="section-analitics__main">
					<h1 class="section-analitics__heading">Проектный офис</h1>
					<span class="section-analitics__caption">Сервис, который обеспечивает применение всех возможностей <br> платформы для комплексного сопровождения проекта: <br> от формирования идеи до привлечения финансирования</span>
					<div class="section-analitycs__footer">
						<a class="button is-primary is-round is-large" href="#">Оставить заявку</a>
					</div>
				</div>
				<div class="section-analitics__aside">
					<img class="section-analitics__image" src="__static__img/general/office.gif" alt="">
				</div>
				<div class="section-analitycs__footer is-mobile">
					<a class="button is-primary is-round is-large" href="#">Оставить заявку</a>
				</div>
			</div>
		</div>
	</div>
	//- end section-intro

	//- start about-project
	.about-project.page-body__about-project
		._container.container
			._header
				h2._title Помогаем собрать проект с нуля или подключаемся на любом этапе
				span._caption Платформа объединяет ведущих экспертов, обладающих профессиональными компетенциями, необходимыми для подготовки и запуска проектов ГЧП

			._content
				._grid
					//- start column
					._column
						//- start about-pr-card
						a.about-pr-card.is-pink(href="#")
							img._img(src="/assets/img/general/about-pr/1.svg", alt="")
							img._icon(src="__static__img/general/about-pr/2.svg", alt="")
							span._title Формирование концепции
						//- end about-pr-card
					//- end column

					//- start column
					._column
						//- start about-pr-card
						a.about-pr-card.is-gray(href="#")
							img._img(src="/assets/img/general/about-pr/3.svg", alt="")
							img._icon(src="__static__img/general/about-pr/4.svg", alt="")
							span._title Экспертная блиц-оценка
						//- end about-pr-card
					//- end column

					//- start column
					._column
						//- start about-pr-card
						a.about-pr-card.is-blue(href="#")
							img._img(src="/assets/img/general/about-pr/5.svg", alt="")
							img._icon(src="__static__img/general/about-pr/6.svg", alt="")
							span._title Сборка инициативы
						//- end about-pr-card
					//- end column

					//- start column
					._column
						//- start about-pr-card
						a.about-pr-card.is-green(href="#")
							img._img(src="/assets/img/general/about-pr/7.svg", alt="")
							img._icon(src="__static__img/general/about-pr/8.svg", alt="")
							span._title Привлечение инвестиций
						//- end about-pr-card
					//- end column
	//- end about-project

	//- start concept-project
	.concept-project.page-body__concept-project
		img._top-lines(src="__static__img/general/concept-project/5.jpg", alt="")
		img._top-lines.is-mobile(src="__static__img/general/concept-project/7.jpg", alt="")
		img._bottom-lines(src="__static__img/general/concept-project/6.jpg", alt="")
		img._bottom-lines.is-mobile(src="__static__img/general/concept-project/8.jpg", alt="")
		._cotainer.container
			._inner
				._grid
					//- start column
					._column
						//- start concept-card
						.concept-card
							._body
								._main
									span._number 01
									span._title Поможем сформировать концепцию проекта
									ul._list
										li._item
											span._text Оценим возможность применения ГЧП и выберем форму
										li._item
											span._text Сформируем перечень подходящих объектов
										li._item
											span._text Подберем проекты-аналоги и типовые решения
										li._item
											span._text Порекомендуем  образовательные программы для погружения в тему

								._aside
									img._img(src="__static__img/general/concept-project/1.svg", alt="")

						//- end concept-card

					//- end column

					//- start column
					._column
						//- start concept-card
						.concept-card
							._body
								._main
									span._number 02
									span._title Проведем блиц-оценку с привлечением экспертов
									ul._list
										li._item
											span._text Проанализируем степень готовности и качество проработки
										li._item
											span._text Оценим финансовые, правовые и технические параметры
										li._item
											span._text Разберём результаты экспертизы в режиме online
										li._item
											span._text Предоставим рекомендации по дальнейшей доработке

								._aside
									img._img(src="__static__img/general/concept-project/2.svg", alt="")

						//- end concept-card

					//- end column

					//- start column
					._column
						//- start concept-card
						.concept-card
							._body
								._main
									span._number 03
									span._title Соберём из концепции проектную инициативу
									ul._list
										li._item
											span._text Разработаем дорожную карту запуска проекта
										li._item
											span._text Порекомендуем экспертов и соисполнителей
										li._item
											span._text Подберём подходящие меры поддержки
										li._item
											span._text Определим оптимальные источники финансирования

								._aside
									img._img(src="__static__img/general/concept-project/3.svg", alt="")

						//- end concept-card

					//- end column

					//- start column
					._column
						//- start concept-card
						.concept-card
							._body
								._main
									span._number 04
									span._title Привлечем инвесторов и партнеров
									ul._list
										li._item
											span._text Разработаем финансовую и юридическую модели
										li._item
											span._text Определим потенциальных инвесторов и партнёров
										li._item
											span._text Организуем эффективный переговорный процесс
										li._item
											span._text Поможем привлечь в проект финансирование

								._aside
									img._img(src="__static__img/general/concept-project/4.svg", alt="")

						//- end concept-card

					//- end column

	//- end concept-project

	//- start section-experts
	.section-experts.js-section-slider.page-body__section-experts
		._container.container
			._body
				._aside
					h2._title На всех этапах мы подключаем ведущих экспертов рынка ГЧП
					.slider-controls._controls
						._aside
							+slider-nav
							+slider-counter

				._main
					+section-slider({
						slides: db_experts,
						type: 'experts',
						className: 'js-section-experts',
						controlsMobile: true,
						controls: false
					})
	//- end section-experts

	//- start section-default
	+section-default({}, {
		class: 'is-accent page-body__section-default'
	})
		.section-default__header.is-default
			.section-default__heading.is-default Оставьте заявку прямо сейчас
			span.section-default__label Оставьте заявку и мы свяжемся с Вами для предоставления детальной информациии

		form.form-box-inline.-secondary(action='#' method='post')
			._body
				._grid
					._column
						+input-text({
							placeholder: 'Введите ФИО*',
							theme: 'is-round',
							size: 'is-large'
						})

					._column
						+input-text({
							type: 'email',
							placeholder: 'E-mail*',
							theme: 'is-round',
							size: 'is-large'
						})

					._column
						+input-text({
							type: 'tel',
							placeholder: 'Номер телефона*',
							theme: 'is-round',
							size: 'is-large'
						})

					._column.is-button
						+button({
							type: 'is-primary is-round',
							title: 'Отправить'
						}, {
							class: 'form-box-inline__button'
						})

				.form-agree._agree Нажимая кнопку “Отправить” Вы подтверждаете, что ознакомлены с политикой конфиденциальности и даёте согласие на обработку персональных данных согласно ФЗ №54”
	//- end section-default

	.scrolltop._scrolltop
		a._link.js-scrolltop(href="#body")
			span._text Вернуться наверх страницы
			._icon
				<svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 4L4.5 1L8 4" stroke="#9199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
