include ../button/button
include ../menu/menu

include ../section-search/section-search
include ../super-search/super-search
include ../result-card/result-card


mixin page-search(data, attrs)
  .page-search&attributes(attrs)
    if (isHomepage)
      ._header
        ._container.container
          ._content
            h1._heading Создаем эффективное партнерство государства и бизнеса
            p._caption Воспользуйтесь умным поиском, чтобы найти актуальные данные по рынку инфраструктуры и ГЧП

          //- +helper-card({
          //- 		list: ['Экспертная помощь в режиме online', 'Содействие в запуске проектов', 'Доступ к лучшим практикам', 'База партнеров и инвесторов'],
          //- 		buttons: [{
          //- 				href: '#',
          //- 				title: 'Для власти',
          //- 				type: 'is-primary is-round',
          //- 				size: 'is-average'
          //- 		}, {
          //- 				href: '#',
          //- 				title: 'Для бизнеса',
          //- 				type: 'is-primary is-round',
          //- 				size: 'is-average'
          //- 		}]
          //- }, {
          //- 		class: 'page-search__helper-card'
          //- })


          .help-actions._help
            ul._list
              li._item
                a._link(href="#") Бизнесу
              li._item
                a._link(href="#") Государству



    ._wrapper
      ._inner
        ._container.container
          +super-search(superSearch, {
              class: 'section-search__form section-search__form--accent'
          })

      ._body
        // start content-section
        section.content-section._section
          // start section-header
          .section-header._header.is-small
            ._container.container
              ._main
                h2.section-heading.is-medium._heading
                  a._link(href=data.projects.href title=data.projects.title)= data.projects.title
                    i.fe.fe-chevron-right._icon

              ._aside
                +menu(data.projects.menu, {
                  class: 'is-tabs-menu section-header__menu'
                })
          // end section-header

          // start search-tabs
          .search-tabs._search-tabs
            ul._list
              each item in data.projects.menu
                li._item(class=(item.isActive ? 'is-active' : ''))= item.title
          // end search-tabs

          // start section-body
          .section-body.is-secondary._body
            ._container.container
              ._list
                each card in data.projects.cards
                  // start result-card
                  +result-card(card, {
                    class: 'section-body__result-card'
                  })
                  // end result-card

              ._more
                +button({
                  title: 'Показать ещё',
                  type: 'is-load'
                }, {
                  class: 'section-body__button'
                })
          // end section-body
        // end content-section

        // start content-section
        section.content-section._section
          // start section-header
          .section-header._header.is-small
            ._container.container
              ._main
                h2.section-heading.is-medium._heading
                  a._link(href=data.news.href title=data.news.title)= data.news.title
                    i.fe.fe-chevron-right._icon
          // end section-header

          // start section-body
          .section-body.is-secondary._body
            ._container.container
              ._list
                each card in data.news.cards
                  // start result-card
                  +result-card(card, {
                      class: 'section-body__result-card'
                  })
                  // end result-card

              ._more
                +button({
                  title: 'Показать ещё',
                  type: 'is-load'
                }, {
                  class: 'section-body__button'
                })
          // end section-body
        // end content-section

        // start content-section
        section.content-section._section
          // start section-header
          .section-header._header.is-small
            ._container.container
              ._main
                h2.section-heading.is-medium._heading
                  a._link(href=data.library.href title=data.library.title)= data.library.title
                    i.fe.fe-chevron-right._icon
          // end section-header

          // start section-body
          .section-body.is-secondary._body
            ._container.container
              ._list
                each card in data.library.cards
                  // start result-card
                  +result-card(card, {
                      class: 'section-body__result-card'
                  })
                  // end result-card

              ._more
                +button({
                  title: 'Показать ещё',
                  type: 'is-load'
                }, {
                  class: 'section-body__button'
                })
          // end section-body
        // end content-section

        // start content-section
        section.content-section._section
          // start section-header
          .section-header._header.is-small
            ._container.container
              ._main
                h2.section-heading.is-medium._heading
                  a._link(href=data.partners.href title=data.partners.title)= data.partners.title
                    i.fe.fe-chevron-right._icon
          // end section-header

          // start section-body
          .section-body.is-secondary._body
            ._container.container
              ._list
                each card in data.partners.cards
                  // start result-card
                  +result-card(card, {
                      class: 'section-body__result-card'
                  })
                  // end result-card

              ._more
                +button({
                  title: 'Показать ещё',
                  type: 'is-load'
                }, {
                  class: 'section-body__button'
                })
          // end section-body
        // end content-section

        // start content-section
        section.content-section._section
          // start section-header
          .section-header._header.is-small
            ._container.container
              ._main
                h2.section-heading.is-medium._heading
                  a._link(href=data.companies.href title=data.companies.title)= data.companies.title
                    i.fe.fe-chevron-right._icon

              ._aside
                +menu(data.companies.menu, {
                    class: 'section-header__menu'
                })
          // end section-header

          // start section-body
          .section-body.is-secondary._body
            ._container.container
              ._list
                each card in data.companies.cards
                  // start result-card
                  +result-card(card, {
                      class: 'section-body__result-card'
                  })
                  // end result-card

              ._more
                +button({
                  title: 'Показать ещё',
                  type: 'is-load'
                }, {
                  class: 'section-body__button'
                })
          // end section-body
        // end content-section

        // start content-section
        section.content-section._section
          // start section-header
          .section-header._header.is-small
            ._container.container
              ._main
                h2.section-heading.is-medium._heading
                  a._link(href=data.products.href title=data.products.title)= data.products.title
                    i.fe.fe-chevron-right._icon
          // end section-header

          // start section-body
          .section-body._body
            ._container.container
              .products-search
                ._body
                  ._grid
                    ._column
                      .search-product
                        ._body
                          ._main
                            h3.card-heading._heading База реализуемых проектов
                            a.link-more._link-more(href='#' title='Перейти в раздел') Перейти в раздел

                          ._aside
                            ._icon
                              img._img(src='__static__img/general/products/projects.svg' alt='База реализуемых проектов')

                    ._column
                      .search-product
                        ._body
                          ._main
                            h3.card-heading._heading Помощь экспертов
                            a.link-more._link-more(href='#' title='Перейти в раздел') Перейти в раздел

                          ._aside
                            ._icon
                              img._img(src='__static__img/general/products/experts.svg' alt='Помощь экспертов')

                    ._column
                      .search-product
                        ._body
                          ._main
                            h3.card-heading._heading Тренды и аналитика
                            a.link-more._link-more(href='#' title='Перейти в раздел') Перейти в раздел

                          ._aside
                            ._icon
                              img._img(src='__static__img/general/products/digest.svg' alt='Тренды и аналитика')

                    ._column
                      .search-product
                        ._body
                          ._main
                            h3.card-heading._heading Рейтинг регионов
                            a.link-more._link-more(href='#' title='Перейти в раздел') Перейти в раздел

                          ._aside
                            ._icon
                              img._img(src='__static__img/general/products/rating.svg' alt='Рейтинг регионов')

                    ._column
                      .search-product
                        ._body
                          ._main
                            h3.card-heading._heading Академия ГЧП
                            a.link-more._link-more(href='#' title='Перейти в раздел') Перейти в раздел

                          ._aside
                            ._icon
                              img._img(src='__static__img/general/products/academy.svg' alt='Академия ГЧП')

                    ._column
                      .search-product
                        ._body
                          ._main
                            h3.card-heading._heading Поиск компаний и услуг
                            a.link-more._link-more(href='#' title='Перейти в раздел') Перейти в раздел

                          ._aside
                            ._icon
                              img._img(src='__static__img/general/products/companies.svg' alt='Поиск компаний и услуг')
          // end section-body
        // end content-section
