.page-search {
  flex-direction: column;
  background-color: $white-color;

  &__header {
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    // padding: 100px 0 0;
    padding: 80px 0 0;
    // text-align: center;
    // background: url(../img/general/bg-section-search.svg) right top no-repeat;
    // background-size: 75% auto;

    background: url(../img/general/bg-section-search-mob.svg) right top no-repeat;

    @include breakpoint($xs-breakpoint){
      background-size: 300px auto;
    }

    // @include breakpoint($xs-breakpoint){
    //   background-size: 60% auto;
    // }

    // @include breakpoint($sm-breakpoint){
    //   background-size: 50% auto;
    // }


    @include breakpoint($md-breakpoint) {
      // padding-top: 140px;
      // background-size: auto;

      padding-top: 140px;
      background-size: auto;
      background: url(../img/general/bg-section-search.svg) right top no-repeat;
    }

    @include breakpoint($lg-breakpoint) {
      text-align: left;
    }

    @include breakpoint($xl-breakpoint) {
      padding-top: 181px;
    }
  }

  &__content {
    margin: 0 0 20px;
    max-width: 1080px;

    @include breakpoint($xs-breakpoint){
      margin: 0 0 38px;
    }

    @include breakpoint($sm-breakpoint){
      padding: 0 12px;
    }
  }

  &__heading {
    margin: 0 0 15px -3px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.22;

    @include breakpoint($xs-breakpoint) {
      margin-bottom: 20px;
      font-size: 26px;
    }

    @include breakpoint($sm-breakpoint) {
      font-size: 32px;
    }

    @include breakpoint($md-breakpoint) {
      font-size: 40px;
    }

    @include breakpoint($lg-breakpoint) {
      font-size: 48px;
    }

    @include breakpoint($xl-breakpoint) {
      margin-bottom: 28px;
      font-size: 54px;
    }
  }

  &__caption {
    margin: 0;
    display: none;
    color: $gray-color;

    @include breakpoint($xs-breakpoint) {
      font-size: 15px;
    }

    @include breakpoint($sm-breakpoint) {
      margin: 0 auto;
      max-width: 70%;
      font-size: 16px;
    }

    @include breakpoint($lg-breakpoint) {
      max-width: 100%;
    }

    @include breakpoint($xl-breakpoint) {
      display: block;
    }
  }

  &__form {
    display: none;

    @include breakpoint($xl-breakpoint) {
      display: block;
    }
  }

  &__button {
    margin: 0 10px;

    @include breakpoint($lg-breakpoint) {
      display: none;
    }
  }

  &__helper-card {
    @include breakpoint($sm-breakpoint) {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__inner {
    display: none;

    @include breakpoint($lg-breakpoint) {
      flex-shrink: 0;
      position: relative;
      z-index: 2;
      padding: 30px 0;
      border-bottom: 1px solid $border-color;
      display: block;
    }
  }

  &__body {
    flex: 1 1 auto;
    min-width: 0;
    position: relative;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;

    .section-body {
      padding: 20px 0;

      &__button {
        border: 0;
        background-color: transparent;
        box-shadow: none;
      }
    }

    .page-search__section .section-header__aside {
      @include breakpoint($lg-breakpoint) {
        display: block;
      }
    }
  }

  &__section {
    .section-header {
      &__aside {
        display: none;
      }
    }
  }
}
