.federal-card {
  background-color: $white-color;
  box-shadow: 0 0 20px rgba(35, 52, 107, 0.05);

  &__header {
    padding: 13px 20px;
    cursor: pointer;
    user-select: none;
  }

  &__icon {
    margin-left: 25px;
    color: $gray-color;
    font-size: 18px;
  }

  &__inner {
    padding: 0 20px 30px;
  }

  &__table {
    .table {
      &__th, &__td {
        &:first-child {
          padding-left: 55px;
        }

        &:last-child {
          padding-right: 55px;
        }
      }

      &__tbody {
        .table__tr {
          &:first-child {
            .table__td {
              padding-top: 30px;
            }
          }
        }
      }

      &__footer {
        margin: 20px 55px 0;
      }
    }
  }
}
