mixin social-buttons(data)
  ul.social-buttons
    each item in data
      li._item
        a._link(href=item.href title=item.title)
          span._title= item.title
          span.icon(class=`is-${item.icon}`)
