.social-buttons {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;

  &__item {
    flex: 0 0 auto;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 55px;
    height: 55px;
    text-align: center;
    background-color: $bg-color;
    border-radius: 50%;
  }

  &__title {
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
  }
}
