include ../input-text/input-text
include ../button/button

mixin super-search(data, attrs)
	form.super-search(class=(!data.advanced ? 'js-super-search' : 'is-advanced'))&attributes(attrs)
		._body
			._main
				input.super-search__input(type='text' placeholder=(data.placeholder || 'Введите интересующий запрос') value=data.value)

				.search-tips._tips
					._scrollbar.js-scrollbar
						._body
							ul._list
								li._item Здание пожарного депо
								li._item Концессионное соглашение в целях эксплуатации и рекультивации сооружения коммунального хозяйства (полигон твердых бытовых отходов полигон твердых бытовых отходов)
								li._item Объект водоотведения и очистки сточных вод пгт Угольные Копи
								li._item Создание нового производства специальных пластикифакторов
								li._item Правительство Татарстана одобрило программу ремонта и строительства мостов на 380 млрд рублей
								li._item Здание пожарного депо
								li._item Концессионное соглашение в целях эксплуатации и рекультивации сооружения коммунального хозяйства (полигон твердых бытовых отходов полигон твердых бытовых отходов)
								li._item Объект водоотведения и очистки сточных вод пгт Угольные Копи
								li._item Создание нового производства специальных пластикифакторов
								li._item Правительство Татарстана одобрило программу ремонта и строительства мостов на 380 млрд рублей


			._aside
				if (!data.advanced)
					ul.search-menu._menu
						li._item
							._inner
								span.search-menu__title Регион

							.search-dropdown._dropdown
								._body
									._header
										+input-text({
												theme: 'is-round',
												placeholder: 'Введите название региона'
										}, {
												class: 'search-dropdown__input-text'
										})

									._content
										._scrollbar.js-scrollbar
											ul.search-list._list
												each country, key in data.countries
													if (key < 2)
														each region, key in country.districts[0].regions
															li._item
																label._label
																	input._checkbox(type='checkbox' placeholder='' value='')
																	span._title= region.title


						li._item
							._inner
								span.search-menu__title Сферы

							.search-dropdown._dropdown
								._body
									._header
										+input-text({
												theme: 'is-round',
												placeholder: 'Введите название сферы'
										}, {
												class: 'search-dropdown__input-text'
										})

									._content
										._scrollbar.js-scrollbar
											ul.search-list._list
												each sphere in data.spheres
													li._item
														label._label
															input._checkbox(type='checkbox' placeholder='' value='')
															span._title= sphere.title

						li._item
							._inner
								span.search-menu__title Форма

							.search-dropdown._dropdown
								._body
									._header
										+input-text({
												theme: 'is-round',
												placeholder: 'Найти значение'
										}, {
												class: 'search-dropdown__input-text'
										})

									._content
										._scrollbar.js-scrollbar
											ul.search-list._list
												each form in data.forms
													li._item
														label._label
															input._checkbox(type='checkbox' placeholder='' value='')
															span._title= form.title

						li._item.is-fluid
							._inner
								span.search-menu__title Объёмы инвестиций

							.search-dropdown._dropdown
								.search-range._range
									._main
										._label
											.range-value._value
												input._input.js-range-slider-min(type='text' value='000 000 000')
												span._currency тыс руб

										._content
											.js-search-range-slider

										._label
											.range-value._value
												input._input.js-range-slider-max(type='text' value='500 000 000')
												span._currency тыс руб

									._action
										+button({
											title: 'Применить',
											type: 'is-secondary is-round',
											size: 'is-sm'
										}, {
											class: 'search-range__button'
										})

						li._item.is-small
							._inner
								span._title Год

							.search-dropdown._dropdown
								._body
									._header
										+input-text({
												theme: 'is-round',
												placeholder: 'Поиск'
										}, {
												class: 'search-dropdown__input-text'
										})

									._content
										._scrollbar.js-scrollbar
											ul.search-list._list
												each year in data.years
													li._item
														label._label
															input._checkbox(type='checkbox' placeholder='' value='')
															span._title= year.title

				if (data.filter)
					ul.search-menu._menu
						li._item
							._inner.-mod
								span.search-menu__subtitle Искать:
								span.search-menu__title По компаниям

							.search-dropdown._dropdown
								._body
									._header
										+input-text({
												theme: 'is-round',
												placeholder: 'Введите название компании'
										}, {
												class: 'search-dropdown__input-text'
										})

									._content
										._scrollbar.js-scrollbar
											ul.search-list._list
												each company in data.companies
													li._item
														label._label
															input._checkbox(type='checkbox' placeholder='' value='')
															span._title= company.title
						li._item.is-fluid.is-filter
							._inner
								span.search-menu__title #[span Фильтры]#[span.search-menu__amount 0]

							.search-dropdown._dropdown
								._body
									.js-tabs
										div.search-dropdown__controls
											span.button.is-secondary.is-small.js-tabs-button.is-active Поиск по базе партнеров
											span.button.is-secondary.is-small.js-tabs-button По услугам и товарам
											span.button.is-secondary.is-small.js-tabs-button Поиск по объявлениям

										.js-tabs-item.is-active

											.dropdown-filter__inner

												.dropdown-filter__rows

													.dropdown-filter__col

														.dropdown-filter__main
															.dropdown-filter__entity
																.dropdown-filter__heading Территория присутствия
																.dropdown-filter__type
																	.select-custom.js-custom-select(data-placeholder='Добавление региона')
																		._header.js-custom-select-header
																			+input-text({
																				type: 'text',
																				placeholder: 'Выберите вариант'
																			}, {
																				class: 'select-custom__input js-custom-select-input'
																			})
																		._body
																			._dropdown
																				._scrollbar.js-scrollbar
																					._content.js-select-custom-list
																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Вариант 1',
																								theme: 'is-outline'
																							})

																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Вариант 2',
																								theme: 'is-outline'
																							})

																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Вариант 3',
																								theme: 'is-outline'
																							})
																				._footer
																					+button({
																						title: 'Применить фильтр',
																						type: 'is-outline-secondary is-block'
																					}, {
																						class: 'js-select-custom-apply'
																					})

													.dropdown-filter__col

														.dropdown-filter__main
															.dropdown-filter__entity
																.dropdown-filter__heading Сфера
																.dropdown-filter__type
																	.select-custom.js-custom-select(data-placeholder='Добавление сферы')
																		._header.js-custom-select-header
																			+input-text({
																				type: 'text',
																				placeholder: 'Выберите вариант'
																			}, {
																				class: 'select-custom__input js-custom-select-input'
																			})
																		._body
																			._dropdown
																				._scrollbar.js-scrollbar
																					._content.js-select-custom-list
																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Сфера 1',
																								theme: 'is-outline'
																							})

																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Сфера 2',
																								theme: 'is-outline'
																							})

																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Сфера 3',
																								theme: 'is-outline'
																							})
																				._footer
																					+button({
																						title: 'Применить фильтр',
																						type: 'is-outline-secondary is-block'
																					}, {
																						class: 'js-select-custom-apply'
																					})

													.dropdown-filter__col

														.dropdown-filter__main
															.dropdown-filter__entity
																.dropdown-filter__heading Отрасль
																.dropdown-filter__type
																	.select-custom.js-custom-select(data-placeholder='Добавление сферы')
																		._header.js-custom-select-header
																			+input-text({
																				type: 'text',
																				placeholder: 'Выберите вариант'
																			}, {
																				class: 'select-custom__input js-custom-select-input'
																			})
																		._body
																			._dropdown
																				._scrollbar.js-scrollbar
																					._content.js-select-custom-list
																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Отрасль 1',
																								theme: 'is-outline'
																							})

																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Отрасль 2',
																								theme: 'is-outline'
																							})

																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Отрасль 3',
																								theme: 'is-outline'
																							})
																				._footer
																					+button({
																						title: 'Применить фильтр',
																						type: 'is-outline-secondary is-block'
																					}, {
																						class: 'js-select-custom-apply'
																					})

													.dropdown-filter__col

														.dropdown-filter__main
															.dropdown-filter__entity
																.dropdown-filter__heading Капиталоёмкость проектов
																.dropdown-filter__type
																	.range-group.js-range-group
																		._header
																			._value
																				+input-text({
																						type: 'text',
																						size: 'is-average',
																						value: 0
																				}, {
																						class: 'js-range-group-min',
																						'data-regex': 'От \\d* ₽'
																				})

																			._value
																				+input-text({
																						type: 'text',
																						size: 'is-average',
																						value: 100000000
																				}, {
																						class: 'js-range-group-max',
																						'data-regex': 'До \\d* ₽'
																				})
																		._body
																			.range-slider.js-range-group-slider.is-secondary(data-min='0' data-max='100000000' data-start='0' data-end='100000000' data-step='1')

													.dropdown-filter__col

														.dropdown-filter__main
															.dropdown-filter__entity
																.dropdown-filter__heading Формы реализации проектов
																.dropdown-filter__type
																	.select-custom.js-custom-select(data-placeholder='Выберите вариант')
																		._header.js-custom-select-header
																			+input-text({
																				type: 'text',
																				placeholder: 'Выберите вариант'
																			}, {
																				class: 'select-custom__input js-custom-select-input'
																			})
																		._body
																			._dropdown
																				._scrollbar.js-scrollbar
																					._content.js-select-custom-list
																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Вариант 1',
																								theme: 'is-outline'
																							})

																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Вариант 2',
																								theme: 'is-outline'
																							})

																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Вариант 3',
																								theme: 'is-outline'
																							})
																				._footer
																					+button({
																						title: 'Применить фильтр',
																						type: 'is-outline-secondary is-block'
																					}, {
																						class: 'js-select-custom-apply'
																					})

													.dropdown-filter__col

														.dropdown-filter__main
															.dropdown-filter__entity
																.dropdown-filter__heading Профнаправленность
																.dropdown-filter__type
																	.select-custom.js-custom-select(data-placeholder='Выберите вариант')
																		._header.js-custom-select-header
																			+input-text({
																				type: 'text',
																				placeholder: 'Выберите вариант'
																			}, {
																				class: 'select-custom__input js-custom-select-input'
																			})
																		._body
																			._dropdown
																				._scrollbar.js-scrollbar
																					._content.js-select-custom-list
																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Вариант 1',
																								theme: 'is-outline'
																							})

																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Вариант 2',
																								theme: 'is-outline'
																							})

																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Вариант 3',
																								theme: 'is-outline'
																							})
																				._footer
																					+button({
																						title: 'Применить фильтр',
																						type: 'is-outline-secondary is-block'
																					}, {
																						class: 'js-select-custom-apply'
																					})
										
										.js-tabs-item 

											.dropdown-filter__inner

												.dropdown-filter__rows

													.dropdown-filter__col

														.dropdown-filter__main
															.dropdown-filter__entity
																.dropdown-filter__heading Территория присутствия
																.dropdown-filter__type
																	.select-custom.js-custom-select(data-placeholder='Добавление региона')
																		._header.js-custom-select-header
																			+input-text({
																				type: 'text',
																				placeholder: 'Выберите вариант'
																			}, {
																				class: 'select-custom__input js-custom-select-input'
																			})
																		._body
																			._dropdown
																				._scrollbar.js-scrollbar
																					._content.js-select-custom-list
																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Вариант 1',
																								theme: 'is-outline'
																							})

																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Вариант 2',
																								theme: 'is-outline'
																							})

																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Вариант 3',
																								theme: 'is-outline'
																							})
																				._footer
																					+button({
																						title: 'Применить фильтр',
																						type: 'is-outline-secondary is-block'
																					}, {
																						class: 'js-select-custom-apply'
																					})

													.dropdown-filter__col

														.dropdown-filter__main
															.dropdown-filter__entity
																.dropdown-filter__heading Сфера
																.dropdown-filter__type
																	.select-custom.js-custom-select(data-placeholder='Добавление сферы')
																		._header.js-custom-select-header
																			+input-text({
																				type: 'text',
																				placeholder: 'Выберите вариант'
																			}, {
																				class: 'select-custom__input js-custom-select-input'
																			})
																		._body
																			._dropdown
																				._scrollbar.js-scrollbar
																					._content.js-select-custom-list
																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Сфера 1',
																								theme: 'is-outline'
																							})

																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Сфера 2',
																								theme: 'is-outline'
																							})

																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Сфера 3',
																								theme: 'is-outline'
																							})
																				._footer
																					+button({
																						title: 'Применить фильтр',
																						type: 'is-outline-secondary is-block'
																					}, {
																						class: 'js-select-custom-apply'
																					})

										.js-tabs-item 

											.dropdown-filter__inner

												.dropdown-filter__rows

													.dropdown-filter__col

														.dropdown-filter__main
															.dropdown-filter__entity
																.dropdown-filter__heading Сфера
																.dropdown-filter__type
																	.select-custom.js-custom-select(data-placeholder='Добавление сферы')
																		._header.js-custom-select-header
																			+input-text({
																				type: 'text',
																				placeholder: 'Выберите вариант'
																			}, {
																				class: 'select-custom__input js-custom-select-input'
																			})
																		._body
																			._dropdown
																				._scrollbar.js-scrollbar
																					._content.js-select-custom-list
																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Сфера 1',
																								theme: 'is-outline'
																							})

																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Сфера 2',
																								theme: 'is-outline'
																							})

																						._item
																							+input-control({
																								type: 'checkbox',
																								label: 'Сфера 3',
																								theme: 'is-outline'
																							})
																				._footer
																					+button({
																						title: 'Применить фильтр',
																						type: 'is-outline-secondary is-block'
																					}, {
																						class: 'js-select-custom-apply'
																					})

										.dropdown-filter__footer
											.dropdown-filter__footer-row
												.dropdown-filter__footer-active-params-wrap
													.dropdown-filter__heading Выбранные параметры
													ul.dropdown-filter__footer-active-params
														li.dropdown-filter__footer-active-param
															a.dropdown-filter__footer-active-param-link(href="#") Республица Татарстан
														li.dropdown-filter__footer-active-param
															a.dropdown-filter__footer-active-param-link(href="#") Концессионное соглашение
												.dropdown-filter__controls
													button.dropdown-filter__toggle-active-params.button.is-outline-secondary(type="button") #[span 5]
													a.dropdown-filter__control-reset.button.is-outline-secondary(href="#") Сбросить фильтры
													a.dropdown-filter__control-apply.button.is-primary(href="#") Показать судебные акты (1 242)

				button.search-button.super-search__button
					i.fe.fe-search

		._selected
