.super-search {
  position: relative;
  z-index: 10;

  &.is-focus {
    .super-search {
      &__body {
        border-color: $primary-color;
      }
    }
  }

  &.is-advanced {
    padding: 2px;
    background-color: rgba($primary-color, 0.1);
    border-radius: 45px;

    @include breakpoint($lg-breakpoint) {
      padding: 4px;
    }

    .super-search {
      &__body {
        height: 60px;
        background-color: $white-color;
        border: 2px solid rgba($primary-color, 0.2);
        border-radius: 45px;

        @include breakpoint($lg-breakpoint) {
          height: 74px;
          border-width: 4px;
        }
      }

      &__aside {
        margin-left: 10px;
      }

      &__button {
        color: $white-color;
        background-color: $primary-color;
      }
    }
  }

  &__body {
    display: flex;
    position: relative;
    padding: 5px 13px 5px 5px;
    height: 66px;
    background: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 33px;
  }

  &__main {
    flex: 1 1 auto;
    min-width: 0;
    position: relative;
  }

  &__aside {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    margin-left: 37px;
  }

  &__input {
    padding: 0 15px;
    width: 100%;
    height: 100%;
    color: $primary-color;
    font-size: 15px;
    font-weight: 500;
    text-overflow: ellipsis;
    outline: 0;
    border: 1px solid $white-color;
    background: $white-color;
    border-radius: 33px;

    @include breakpoint($lg-breakpoint) {
      padding: 0 22px;
    }

    &::placeholder {
      color: $muted-color;
    }

    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }

  &__tips {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 11;
    margin-top: 7px;
    display: none;
  }

  &__menu {
    flex: 0 0 auto;
  }

  &__button {
    margin-left: 29px;
    color: $primary-color;
    background: $white-color;
    transition: 0.5s;

    .fe {
      font-weight: 700;
    }

    &:hover{
      background: #eff1f4;
      color: #23346B;
      transition: 0.5s;
    }
  }

  &__selected {
    display: flex;
    flex-wrap: wrap;

    &:not(:empty) {
      margin-top: 20px;
    }
  }

  &--filter {
    .search-menu__title {
      color: #23346B;

      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.49402 3.82837L0.207479 1.03453C-0.0691597 0.799364 -0.0691597 0.418082 0.207479 0.182915C0.484118 -0.052252 0.5 0.00650137 1 0.00657257L4 0.00653976L7 0.00654414C7 0.00654414 7.51588 -0.052252 7.79252 0.182915C8.06916 0.418082 8.06916 0.799364 7.79252 1.03453L4.50598 3.82837C4.22654 4.06593 3.77346 4.06593 3.49402 3.82837Z' fill='%2323346B'/%3E%3C/svg%3E%0A");
      }
    }

    .search-dropdown__controls {
      margin-bottom: 20px;

      .button {
        margin: 0 3px 5px 0;
        cursor: pointer;
        color: #9199B5;
        background: #F8F9FA;

        &:hover,
        &.is-active {
          background: #23346B;
          border-color: #23346B;
          color: #fff;
        }

        &.is-active {
          cursor: default;
          border-width: 1px;
        }
      }
    }

    .search-menu__item.is-active .search-menu__inner::after {
      right: 50%;
      margin-left: -5px;
      margin-top: 46px;
      transform: translate(0, -100%) rotate(45deg);
      width: 16px;
      height: 16px;
    }

    .search-menu__dropdown {
      margin-top: 35px;
      top: 100%;
      border-radius: 15px;
    }

    .search-menu__item.is-fluid .search-menu__dropdown {
      margin-top: 15px;
      top: 100%;
    }

    .dropdown-filter__inner {
      margin: 0 -15px;
    }

    .range-group__header {
      margin: 0;
    }

    .dropdown-filter__controls .button {
      border-radius: 25px;
    }

    @at-root .is-dropdown-opened {
      .page-body > *:not(.section-academy),
      .page-body .section-analitics__lines,
      .page-footer {
        -webkit-filter: blur(10px);
        filter: blur(10px);
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: -1;;
      }

      .search-menu__item.is-filter .search-menu__title::before {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='17' viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 2L13.4946 14.8761' stroke='%2323346B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.50537 15L14 2.12386' stroke='%2323346B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
  }
}

.search-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0;
  list-style: none;

  &__item {
    position: relative;
    margin-right: 23px;

    &:last-child {
      margin-right: 0;
    }

    &.is-active {
      .search-menu {
        &__inner {
          &::after {
            content: '';
            position: absolute;
            top: 100%;
            right: -1px;
            z-index: 2;
            margin-top: 23px;
            width: 10px;
            height: 10px;
            background-color: $white-color;
            transform: translate(0, -50%) rotate(45deg);
          }
        }

        &__title {
          &::after {
            background-image: url('data:image/svg+xml,%3Csvg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M4.50598 0.177974L7.79252 2.97182C8.06916 3.20698 8.06916 3.58827 7.79252 3.82343C7.51588 4.0586 7.5 3.99985 7 3.99977L4 3.99981L1 3.9998C1 3.9998 0.484118 4.0586 0.207479 3.82343C-0.0691595 3.58826 -0.0691594 3.20698 0.207479 2.97182L3.49402 0.177974C3.77346 -0.0595812 4.22654 -0.0595811 4.50598 0.177974Z" fill="white"/%3E%3C/svg%3E%0A');
          }
        }

        &__dropdown {
          display: block;
        }
      }
    }

    &.is-fluid {
      position: static;

      .search-menu {
        &__dropdown {
          left: 0;
          margin-top: 0;
          width: 100%;
        }
      }
    }

    &.is-small {
      .search-menu {
        &__dropdown {
          left: -102px;
          width: 226px;
        }
      }
    }

    &.is-filter {
      .search-menu__inner {
        display: flex;
        align-items: center;
      }

      .search-menu__title {
        padding-right: 0;

        span {
          vertical-align: middle;
        }

        &::before {
          background-image: url("data:image/svg+xml,%3Csvg width='15' height='17' viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3517 13.9546L8.54785 13.9546' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.80388 13.9541L1 13.9541' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.3532 8.49951L7.17676 8.49951' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.43135 8.49951L1 8.49951' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.3532 3.0459L9.92188 3.0459' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.17642 3.04492L1 3.04492' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.54785 16L8.54785 11.9091' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.43164 10.5454L4.43164 6.45453' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.92188 5.09082L9.92187 0.999943' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          margin-right: 5px;
          display: inline-block;
          vertical-align: middle;
          width: 17px;
          height: 17px;
          background-repeat: no-repeat;
          background-position: center;
          content: '';
        }

        &::after {
          display: none;
        }
      }

      .search-menu__amount {
        width: 18px;
        height: 18px;
        line-height: 18px;
        color: #fff;
        border-radius: 50%;
        background: #DDE0E9;
        display: inline-block;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        text-decoration: none;
        margin-left: 5px;

        &.is-filtered {
          background: #B52528;
        }
      }
    }
  }

  &__inner {
    position: relative;

    &--mod {
      display: flex;
      align-items: center;
    }
  }

  &__subtitle {
    color: #919AB5;
    margin-right: 5px;
  }

  &__title {
    position: relative;
    padding-right: 13px;
    display: block;
    color: $white-color;
    cursor: pointer;
    user-select: none;

    &:hover{
      text-decoration: underline;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: 1px;
      width: 8px;
      height: 5px;
      background-image: url('data:image/svg+xml,%3Csvg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M3.49402 3.82837L0.207479 1.03453C-0.0691597 0.799364 -0.0691597 0.418082 0.207479 0.182915C0.484118 -0.052252 0.5 0.00650137 1 0.00657257L4 0.00653976L7 0.00654414C7 0.00654414 7.51588 -0.052252 7.79252 0.182915C8.06916 0.418082 8.06916 0.799364 7.79252 1.03453L4.50598 3.82837C4.22654 4.06593 3.77346 4.06593 3.49402 3.82837Z" fill="white"/%3E%3C/svg%3E%0A');
      transform: translate(0, -50%);
    }
  }

  &__range {
    flex: 1 1 auto;
    min-width: 0;
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: -44px;
    margin-top: 23px;
    width: 430px;
    display: none;
  }
}

.search-dropdown {
  padding: 15px;
  background: $white-color;
  border-radius: 36px;
  box-shadow: 0 15px 50px rgba(35, 52, 107, 0.15);

  &__body {
    padding: 15px 15px 30px;
  }

  &__header {
    margin-bottom: 28px;
  }

  &__input-text {
    box-shadow: none;
  }

  &__scrollbar {
    max-height: 330px;
    overflow: hidden;
  }

  &__list {
    padding: 0 17px 0 14px;
  }

  &__range {
    padding-left: 15px;
  }
}

.search-list {
  margin: -7px 0 0;
  color: $muted-color;
  list-style: none;

  &__label {
    position: relative;
    padding: 7px 0;
    display: block;
    cursor: pointer;
    transition: 0.25s;

    &:hover {
      color: $accent-color;
    }
  }

  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(0, 0, 0, 0);
  }
}

.search-item {
  position: relative;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;


  &.is-hover {
    .search-item {
      &__body {
        background: $border-color;
      }
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);

    &:checked {
      & ~ .search-item {
        &__body {
          color: $white-color;
          background: $primary-color;
        }
      }
    }
  }

  &__body {
    display: flex;
    align-items: center;
    padding: 10px;
    color: $primary-color;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
  }

  &__icon {
    margin-right: 7px;
    margin-left: -3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  &__title {
    position: relative;
    top: 1px;
  }
}

.search-label {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin: 0 10px 10px 0;
  padding: 6px 10px 6px 14px;
  color: #FFF;
  font-size: 13px;
  font-weight: 500;
  background: $primary-color;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: 0px 0px 30px rgba(35, 52, 107, 0.1);
  border-radius: 33px;

  &::after {
    content: '';
    position: relative;
    top: 1px;
    margin-left: 5px;
    display: block;
    width: 11px;
    height: 11px;
    background-image: url('data:image/svg+xml,%3Csvg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x="1.19824" y="9.13867" width="11.4899" height="0.95749" rx="0.478745" transform="rotate(-45 1.19824 9.13867)" fill="white" stroke="white" stroke-width="0.5"/%3E%3Crect x="1.67725" y="1" width="11.4899" height="0.95749" rx="0.478745" transform="rotate(45 1.67725 1)" fill="white" stroke="white" stroke-width="0.5"/%3E%3C/svg%3E%0A');
  }
}

.search-range {
  display: flex;
  align-items: center;

  &__main {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    min-width: 0;
  }

  &__action {
    flex-shrink: 0;
    margin-left: 20px;
  }

  &__label {
    flex-shrink: 0;
    width: 159px;
    color: #203168;
    white-space: nowrap;

    &:first-child {
      text-align: right;
    }
  }

  &__content {
    flex: 1 1 auto;
    min-width: 0;
    padding: 0 25px;

    & > div {
      width: 100%;
    }
  }

  &__button {
    &.is-sm {
      font-size: 15px;
    }
  }
}

.search-tips {
  background-color: $white-color;
  box-shadow: 0 0 20px rgba(35, 52, 107, 0.08);

  &__scrollbar {
    max-height: 300px;
  }

  &__body {
    padding: 10px 0;
  }

  &__list {
    margin: 0;
    padding-left: 0;
  }

  &__item {
    padding: 7px 25px;
    cursor: pointer;

    &:hover {
      background-color: $bg-color;
    }
  }
}

.search-tabs {
  padding: 0 5px;
  overflow-x: auto;
  overflow-y: hidden;

  &__list {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  &__item {
    flex-shrink: 0;
    white-space: nowrap;
    padding: 15px 10px;
    cursor: pointer;

    &.is-active {
      padding-left: 15px;
      padding-right: 15px;
      color: $primary-color;
      background-color: $bg-color;
    }
  }
}
