.section-experts{
  padding: 30px 0 20px;

  @include breakpoint($md-breakpoint){
    padding: 40px 0 50px;
  }

  @include breakpoint($lg-breakpoint){
    padding: 70px 0 135px;
  }
  

  &__body{
    display: flex;
    flex-direction: column;

    padding-left: 15px;

    @include breakpoint($md-breakpoint){
      flex-direction: row;
      padding-left: 0;
    }
  }

  &__aside{
    margin-bottom: 30px;

    @include breakpoint($md-breakpoint){
      display: flex;
      flex-direction: column;

      flex: 0 0 275px;
      max-width: 275px;

      margin: -30px 0;
      padding: 30px 0;

      background: #fff;
      position: relative;
      z-index: 9;

      &:before{
        content: '';
        position: absolute;
        right: calc(100% - 2px);
        top: 0;
        bottom: 0;
        width: 1000%;
        height: 100%;
        background: #fff;
        z-index: 9;
      }

    }

    @include breakpoint($lg-breakpoint){
      display: flex;
      flex-direction: column;

      flex: 0 0 460px;
      max-width: 460px;
    }
  }

  &__main{
    @include breakpoint($md-breakpoint){
      flex: 1 1 auto;
      min-width: 0;
      margin-left: 20px;
    }
  }

  &__title{
    display: block;
    margin: 0;

    font-size: 24px;
    font-weight: 500;
    color: #23346B;

    @include breakpoint($sm-breakpoint){
      text-align: center;
    }

    @include breakpoint($md-breakpoint){
      font-size: 24px;
      text-align: left;
    }

    @include breakpoint($lg-breakpoint){
      font-size: 36px;
      max-width: 440px;
    }
  }

  &__controls{
    display: none;

    @include breakpoint($md-breakpoint){
      display: flex;
      margin-top: auto;
    }
  }

  .section-slider{
    @include breakpoint($md-breakpoint){
      &__body{
        overflow: visible;
      }
    }
  }
  
  .slider-controls{
    z-index: 9;

    &__aside{
      flex: auto;
      max-width: none;
      justify-content: flex-start;
    }
  }

  .slider-counter{
    flex-shrink: 0;
    margin-left: 15px;
  }

  .slider-nav__item{
    background: #fff;
    box-shadow: 0px 9px 35px rgba(35, 52, 107, 0.1);
  }

  .js-slider-bullets{
    margin-top: 20px;

    @include breakpoint($md-breakpoint){
      display: none;
    }
  }

  .expert-preview{
    &__header{
      flex-direction: column;
      text-align: center;
    }

    &__photo{
      margin-right: 0;
      margin-bottom: 20px;

      width: 90px;
      height: 90px;
    }

    &__img{
      border: 5px solid #D5D9E3;
    }

    &__name{
      text-align: center;
      font-size: 18px;
    }

    &__caption{
      text-align: center;
      max-width: 230px;
      margin-left: auto;
      margin-right: auto;
      font-size: 13px;
    }
  }

  .expert-props__list{
    justify-content: center;
  }

  .expert-props__item{
    width: 40px;
    height: 40px;
    margin-right: 3px;
  }

  .expert-card--all .expert-card__icon-wrap{
    width: 150px;
    height: 150px;
  }

  .expert-card--all .expert-card__icon-wrap svg{
    width: auto;
  }

  .expert-card--all .expert-card__more-label{
    font-size: 18px;
    margin-top: 30px;
  }
  
}