extends ../template

include ../../components/button/button

block append settings
  -
    page.title = 'Восстановление пароля';
    page.isShortFooter = true;


block page-body

  .page-intro
    ._container.container
      ._header
        a._return(href='/sign-in' title='Вернуться к авторизации') Вернуться к авторизации

      ._body
        form.intro-box._box(action='#' method='post')
          ._inner
            ._header
              h1._heading Восстановление пароля
              p._caption Введите почту, указанную при регистрации

            ._body
              ._fields
                .form-group._group
                  input.input-text.is-round.is-large(type='email' placeholder='Введите E-mail' name='')

              +button({
                title: 'Восстановить пароль',
                type: 'is-primary is-round',
                size: 'is-large'
              }, {
                class: 'intro-box__button'
              })

            ._helpers
              ._helper Если не удалось восстановить доступ, обратитесь в
                a._link(href='#' title='службу поддержки') службу поддержки
