extends ../template

block append settings
  -
    page.title = 'Отправка инструкций';
    page.isShortFooter = true;


block page-body

  .page-intro
    ._container.container
      ._header
        a._return(href='/sign-in' title='Вернуться к авторизации') Вернуться к авторизации

      ._body
        .intro-box._box.is-medium
          ._inner
            ._icon
              img._img(src='__static__img/general/alert/send-success.svg' alt='')

            ._header
              h1._heading Инструкции по восстановлению пароля успешно отправлены
              p._caption Проверьте почту, указанную при регистрации

          ._footer
            ._helper Если не удалось восстановить доступ, обратитесь в
              a._link(href='#' title='службу поддержки') службу поддержки
