extends ../template

include ../../components/button/button

block append settings
  -
    page.title = 'Авторизация';
    page.isShortFooter = true;


block page-body

  .page-intro
    ._container.container
      ._body
        form.intro-box._box(action='#' method='post')
          ._inner
            ._header
              h1._heading Вход

            ._body
              ._fields
                .form-group._group
                  input.input-text.is-round.is-large(type='email' placeholder='Введите E-mail' name='')

                .form-group._group.js-password
                  ._icon.js-password-toggle
                    i.fe.fe-eye-off
                  input.input-text.is-round.is-large.js-password-input(type='password' placeholder='Введите пароль' name='')

              +button({
                title: 'Войти',
                type: 'is-primary is-round',
                size: 'is-large'
              }, {
                class: 'intro-box__button'
              })

            ._helpers
              ._helper
                a._link(href='/sign-in/forgot.html' title='Забыли пароль?') Забыли пароль?

              ._helper Нет аккаунта?
                a._link(href='#' title='Зарегистрируйтесь') Зарегистрируйтесь
