extends ../template

include ../../components/button/button

block append settings
  -
    page.title = 'Отправка инструкций';
    page.isShortFooter = true;


block page-body

  .page-intro
    ._container.container
      ._body
        .intro-box._box.is-medium
          ._inner
            ._icon
              img._img(src='__static__img/general/alert/password-change.svg' alt='')

            ._header
              h1._heading Пароль успешно изменен
              p._caption Новые изменения уже вступили в силу

              +button({
                  href: '/sign-in/',
                  title: 'Перейти к авторизации',
                  type: 'is-primary is-round',
                  size: 'is-large'
              }, {
                  class: 'intro-box__button'
              })
