extends ../template

include ../../components/button/button

block append settings
  -
    page.title = 'Изменение пароля';
    page.isShortFooter = true;


block page-body

  .page-intro
    ._container.container
      ._body
        form.intro-box._box(action='#' method='post')
          ._inner
            ._header
              h1._heading Изменение пароля
              p._caption Введите новый пароль, для доступа к аккаунту

            ._body
              ._fields
                .form-group._group.js-password
                  ._icon.js-password-toggle
                    i.fe.fe-eye-off
                  input.input-text.is-round.is-large.js-password-input(type='password' placeholder='Новый пароль для входа' name='')

                .form-group._group.js-password
                  ._icon.js-password-toggle
                    i.fe.fe-eye-off
                  input.input-text.is-round.is-large.js-password-input(type='password' placeholder='Повторите пароль' name='')

              +button({
                title: 'Изменить пароль',
                type: 'is-primary is-round',
                size: 'is-large'
              }, {
                class: 'intro-box__button'
              })
