extends ../../template

include ../../../components/super-search/super-search
include ../../../components/menu-sections/menu-sections
include ../../../components/object-card/object-card
include ../../../components/select/select
include ../../../components/button/button
include ../../../components/section-default/section-default
include ../../../components/section-slider/section-slider
include ../../../components/categories-slider/categories-slider
include ../../../components/badge/badge
include ../../../components/button/button
include ../../../components/slider-nav/slider-nav

block append settings
  -
    page.title = 'Программы';


block page-body

  .breadcrumbs
    ._container.container
      ul._list
        li._item
          a._link(href="/" title="Главная") Главная
        li._item
          a._link(href="#" title="Академия ГЧП") Академия ГЧП
        li._item
          a._link(href="#" title="Программы обучения") Программы обучения
        li._item
          span._link Концессия и ГЧП: базовый курс

  main.page-main

    // start section-intro
    section.section-intro.is-detail
      ._image-wrap
        img._image(src="../../assets/img/content/programs/103.jpg", alt="")

      ._header
        ._container.container
          span._label Курс
          h1._heading Концессия и ГЧП: продвинутый курс

          // start events-list
          ul.event-list._list
            li._item
              span._title
                ._icon
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.94543 7.7237C4.94543 7.54833 4.80318 7.40625 4.62766 7.40625H3.51877C3.34345 7.40625 3.20117 7.54833 3.20117 7.7237V8.83245C3.20117 9.00806 3.34345 9.15019 3.51877 9.15019H4.62766C4.80318 9.15019 4.94543 9.00806 4.94543 8.83245V7.7237Z" fill="white"/>
                    <path d="M7.71674 7.7237C7.71674 7.54833 7.57446 7.40625 7.39929 7.40625H6.29025C6.11494 7.40625 5.97266 7.54833 5.97266 7.7237V8.83245C5.97266 9.00806 6.11494 9.15019 6.29025 9.15019H7.39929C7.57446 9.15019 7.71674 9.00806 7.71674 8.83245V7.7237Z" fill="white"/>
                    <path d="M10.4884 7.7237C10.4884 7.54833 10.3461 7.40625 10.1708 7.40625H9.06191C8.88639 7.40625 8.74414 7.54833 8.74414 7.7237V8.83245C8.74414 9.00806 8.88639 9.15019 9.06191 9.15019H10.1708C10.3461 9.15019 10.4884 9.00806 10.4884 8.83245V7.7237Z" fill="white"/>
                    <path d="M4.94543 10.4954C4.94543 10.3197 4.80318 10.1777 4.62766 10.1777H3.51877C3.34345 10.1777 3.20117 10.3197 3.20117 10.4954V11.6039C3.20117 11.7794 3.34345 11.9215 3.51877 11.9215H4.62766C4.80318 11.9215 4.94543 11.7794 4.94543 11.6039V10.4954Z" fill="white"/>
                    <path d="M7.71674 10.4954C7.71674 10.3197 7.57446 10.1777 7.39929 10.1777H6.29025C6.11494 10.1777 5.97266 10.3197 5.97266 10.4954V11.6039C5.97266 11.7794 6.11494 11.9215 6.29025 11.9215H7.39929C7.57446 11.9215 7.71674 11.7794 7.71674 11.6039V10.4954Z" fill="white"/>
                    <path d="M10.4884 10.4954C10.4884 10.3197 10.3461 10.1777 10.1709 10.1777H9.06191C8.88639 10.1777 8.74414 10.3197 8.74414 10.4954V11.6039C8.74414 11.7794 8.88639 11.9215 9.06191 11.9215H10.1709C10.3461 11.9215 10.4884 11.7794 10.4884 11.6039V10.4954Z" fill="white"/>
                    <path d="M12.4711 1.55881V3.25234C12.4711 4.0178 11.8501 4.63463 11.0848 4.63463H10.2102C9.44485 4.63463 8.81565 4.0178 8.81565 3.25234V1.55273H4.87394V3.25234C4.87394 4.0178 4.24477 4.63463 3.47948 4.63463H2.60479C1.83947 4.63463 1.21853 4.0178 1.21853 3.25234V1.55881C0.549643 1.57898 0 2.13246 0 2.81277V12.7376C0 13.4307 0.561774 14 1.25487 14H12.4347C13.1268 14 13.6896 13.4295 13.6896 12.7376V2.81277C13.6896 2.13246 13.14 1.57898 12.4711 1.55881ZM12.0649 12.1196C12.0649 12.4191 11.822 12.6621 11.5224 12.6621H2.14331C1.84366 12.6621 1.6008 12.4191 1.6008 12.1196V6.99304C1.6008 6.69339 1.84363 6.45039 2.14331 6.45039H11.5224C11.822 6.45039 12.0649 6.69339 12.0649 6.99304L12.0649 12.1196Z" fill="white"/>
                    <path d="M2.60143 3.72676H3.46646C3.72902 3.72676 3.94191 3.51419 3.94191 3.25162V0.475305C3.94191 0.212716 3.72902 0 3.46646 0H2.60143C2.33884 0 2.12598 0.212716 2.12598 0.475305V3.25162C2.12598 3.51419 2.33884 3.72676 2.60143 3.72676Z" fill="white"/>
                    <path d="M10.1991 3.72676H11.0641C11.3265 3.72676 11.5394 3.51419 11.5394 3.25162V0.475305C11.5394 0.212716 11.3265 0 11.0641 0H10.1991C9.93652 0 9.72363 0.212716 9.72363 0.475305V3.25162C9.72363 3.51419 9.93652 3.72676 10.1991 3.72676Z" fill="white"/>
                  </svg>
                span._text Даты проведения:
              span._value Гибкие сроки обучения
            li._item
              span._title
                ._icon
                  <svg width="12" height="17" viewBox="0 0 12 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 0C2.68715 0 0 2.66475 0 5.95C0 10.4125 6 17 6 17C6 17 12 10.4125 12 5.95C12 2.66475 9.31289 0 6 0ZM6 8.07503C4.81714 8.07503 3.85715 7.12304 3.85715 5.95004C3.85715 4.77703 4.81714 3.82501 6 3.82501C7.18286 3.82501 8.14285 4.77699 8.14285 5.95C8.14285 7.123 7.18286 8.07503 6 8.07503Z" fill="white"/>
                  </svg>
                span._text Место проведения:
              span._value 100% онлайн
            li._item
              span._title
                ._icon
                  <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.59967 1.02511C9.96645 2.39189 9.96645 4.6079 8.59967 5.97469C7.23288 7.34147 5.01687 7.34147 3.65009 5.97469C2.2833 4.6079 2.2833 2.39189 3.65009 1.02511C5.01687 -0.341703 7.23288 -0.341703 8.59967 1.02511Z" fill="white"/>
                    <path d="M11.4934 9.52213C8.30284 7.36632 3.94677 7.36632 0.756193 9.52213C0.282812 9.84171 0 10.3817 0 10.967V13.9995H12.2496V10.967C12.2496 10.3817 11.9668 9.84171 11.4934 9.52213Z" fill="white"/>
                  </svg>

                span._text Уровень:
              span._value Новичок
            li._item
              span._title
                ._icon
                  <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.5 0C6.01664 0 4.56659 0.439867 3.33323 1.26398C2.09986 2.08809 1.13856 3.25943 0.570907 4.62987C0.00324963 6.00032 -0.145275 7.50832 0.144114 8.96317C0.433503 10.418 1.14781 11.7544 2.1967 12.8033C3.2456 13.8522 4.58197 14.5665 6.03683 14.8559C7.49168 15.1453 8.99968 14.9967 10.3701 14.4291C11.7406 13.8614 12.9119 12.9001 13.736 11.6668C14.5601 10.4334 15 8.98336 15 7.5C15 6.51508 14.806 5.53981 14.4291 4.62987C14.0522 3.71993 13.4997 2.89314 12.8033 2.1967C12.1069 1.50026 11.2801 0.947814 10.3701 0.570903C9.46019 0.193993 8.48492 0 7.5 0ZM7.5 13.5C6.31331 13.5 5.15328 13.1481 4.16658 12.4888C3.17989 11.8295 2.41085 10.8925 1.95673 9.7961C1.5026 8.69974 1.38378 7.49334 1.61529 6.32946C1.8468 5.16557 2.41825 4.09647 3.25736 3.25736C4.09648 2.41824 5.16558 1.8468 6.32946 1.61529C7.49335 1.38378 8.69975 1.5026 9.7961 1.95672C10.8925 2.41085 11.8295 3.17988 12.4888 4.16658C13.1481 5.15327 13.5 6.31331 13.5 7.5C13.5 9.0913 12.8679 10.6174 11.7426 11.7426C10.6174 12.8679 9.0913 13.5 7.5 13.5ZM7.5 3C7.30109 3 7.11032 3.07902 6.96967 3.21967C6.82902 3.36032 6.75 3.55109 6.75 3.75V7.065L5.175 7.9725C5.03052 8.05437 4.9173 8.18188 4.85309 8.33503C4.78888 8.48818 4.77732 8.65831 4.82021 8.81874C4.86311 8.97918 4.95804 9.12083 5.09011 9.2215C5.22219 9.32217 5.38394 9.37616 5.55 9.375C5.68138 9.3759 5.8107 9.34228 5.925 9.2775L7.875 8.1525L7.9425 8.085L8.0625 7.9875C8.09183 7.95037 8.11698 7.91013 8.1375 7.8675C8.16195 7.82723 8.18206 7.7845 8.1975 7.74C8.2179 7.69231 8.23056 7.64167 8.235 7.59L8.25 7.5V3.75C8.25 3.55109 8.17098 3.36032 8.03033 3.21967C7.88968 3.07902 7.69891 3 7.5 3Z" fill="white"/>
                  </svg>

                span._text Продолжительность:
              span._value 218,5 академических часов
          // end events-list

          ._price
            ._price-main
              span._price-title Стоимость обучения:
              span._price-label НДС не облагается

            ._price-content
              span._price-value 29 900 ₽
              //- .badge.-danger._price-badge Бесплатно



      ._footer
        ._container.container
          ._buttons
            a.button.-round.-red._button(href="#" title="Начать обучение" data-scroll-target="start-study") Начать обучение
            a.button.-round._button.-white(href="#" download="" title="Скачать презентацию")
              span._mobile Презентация
              span._desktop Скачать презентацию

          //- a._scroll.js-scroll-to(href="#next")
          //- 	<svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
          //- 		<path fill-rule="evenodd" clip-rule="evenodd" d="M3.49402 3.82837L0.207479 1.03453C-0.0691597 0.799364 -0.0691597 0.418082 0.207479 0.182915C0.484118 -0.052252 0.5 0.00650137 1 0.00657257L4 0.00653976L7 0.00654414C7 0.00654414 7.51588 -0.052252 7.79252 0.182915C8.06916 0.418082 8.06916 0.799364 7.79252 1.03453L4.50598 3.82837C4.22654 4.06593 3.77346 4.06593 3.49402 3.82837Z" fill="#23346B"/>
          //- 	</svg>


    // end section-intro

    // start section-default
    +section-default({}, {
      class: 'page-body__section-default'
    })
      .advants-slider.is-visible
        ._grid
          ._column

            .advant-card.is-reverse
              ._icon
                img._img(src="/assets/img/general/advants/calendar.svg" alt='')
              ._main
                p.card-title._title Гибкий график обучения
                p._caption Обучайтесь онлайн когда вам это удобно.

          ._column

            .advant-card.is-reverse
              ._icon
                img._img(src="/assets/img/general/advants/clock.svg" alt='')
              ._main
                p.card-title._title Длительный доступ к материалам
                p._caption Планируйте своё обучение, доступ открыт 30 дней

          ._column

            .advant-card.is-reverse
              ._icon
                img._img(src="/assets/img/general/advants/file.svg" alt='')
              ._main
                p.card-title._title Контроль усвоения материалов
                p._caption Проходите тестирование после каждой темы.

          ._column

            .advant-card.is-reverse
              ._icon
                img._img(src="/assets/img/general/advants/document.svg" alt='')
              ._main
                p.card-title._title Документ по окончании
                p._caption Получите сертификат по итогам обучения.
    // end section-default


    // start main-body
    .main-body._body
      ._container.container
        ._grid

          // start main-content
          .main-content._content.js-accordion.js-menu-sections-list

            // start content-section
            section.content-section._section.is-opened
              .section-body._body
                ._container
                  h2.section-heading.-secondary._heading
                    span._title Для кого предназначена программа?

                  ul.list.-grid._list
                    li._item
                      span._text Руководители и специалисты региональных органов власти
                    li._item
                      span._text Руководители и специалисты корпораций развития, центров развития ГЧП, участвующих в реализации инфраструктурных проектов в отношении объектов культурного наследия (ОКН)
                    li._item
                      span._text Инфраструктурные инвесторы
                    li._item
                      span._text Руководители и специалисты органов местного самоуправления
                    li._item
                      span._text Руководители и специалисты центров развития ГЧП

                  // end section-child
            // end content-section

            // start content-section
            section.content-section._section.is-opened(data-scroll-id="start-study")
              .section-body._body
                ._container
                  // start section-child
                  .section-child._child
                    .section-header._header
                      ._container
                        ._main
                          h2.section-heading.-secondary._heading
                            span._title Содержание

                    .section-body._body
                      ._container
                        .box.js-accordion.js-list(data-show-count='15')
                          ._body
                            // start card-preview
                            .card-preview.-border.-lessons._card-preview
                              ._header.js-accordion-toggle
                                span.label._label Лекция 1

                                ._main
                                  h4.card-heading.is-small._heading Роль ГЧП в эволюции системы государственного управления и форм реализации инвестиционных проектов

                                ._aside
                                  span.label._label 1 час 45 минут
                                  a._play-button(data-fancybox="lsn" href="https://youtu.be/XN5AHmnu9z0")
                                    <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M-0.000976562 12.0784V1.91968C-0.000976562 1.11066 0.90971 0.636504 1.57249 1.10045L8.82869 6.17979C9.39741 6.57789 9.39741 7.42015 8.82869 7.81826L1.57249 12.8976C0.909708 13.3615 -0.000976562 12.8874 -0.000976562 12.0784Z" fill="white"/>
                                    </svg>

                            // end card-preview
                            // start card-preview
                            .card-preview.-border.-lessons._card-preview
                              ._header.js-accordion-toggle
                                span.label._label Лекция 2

                                ._main
                                  h4.card-heading.is-small._heading Жизненный цикл проектов ГЧП. Ключевые этапы, структуры работ, управление сроками и содержанием

                                ._aside
                                  span.label._label 1 час 45 минут
                                  a._play-button(data-fancybox="lsn" href="https://youtu.be/XN5AHmnu9z0")
                                    <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M-0.000976562 12.0784V1.91968C-0.000976562 1.11066 0.90971 0.636504 1.57249 1.10045L8.82869 6.17979C9.39741 6.57789 9.39741 7.42015 8.82869 7.81826L1.57249 12.8976C0.909708 13.3615 -0.000976562 12.8874 -0.000976562 12.0784Z" fill="white"/>
                                    </svg>

                            // end card-preview

                            // start card-preview
                            .card-preview.-border.-lessons._card-preview
                              ._header.js-accordion-toggle
                                span.label._label Лекция 3

                                ._main
                                  h4.card-heading.is-small._heading 115-ФЗ «О концессионных соглашениях»

                                ._aside
                                  span.label._label 1 час 45 минут
                                  a._play-button(data-fancybox="lsn" href="https://youtu.be/XN5AHmnu9z0")
                                    <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M-0.000976562 12.0784V1.91968C-0.000976562 1.11066 0.90971 0.636504 1.57249 1.10045L8.82869 6.17979C9.39741 6.57789 9.39741 7.42015 8.82869 7.81826L1.57249 12.8976C0.909708 13.3615 -0.000976562 12.8874 -0.000976562 12.0784Z" fill="white"/>
                                    </svg>

                            // end card-preview

                            // start card-preview
                            .card-preview.-border.-lessons._card-preview
                              ._header.js-accordion-toggle
                                span.label._label Лекция 4

                                ._main
                                  h4.card-heading.is-small._heading 224-ФЗ «О государственно-частном партнерстве, муниципально-частном партнерстве в РФ и внесении изменений в отдельные законодательные акты РФ»

                                ._aside
                                  span.label._label 1 час 45 минут
                                  a._play-button(data-fancybox="lsn" href="https://youtu.be/XN5AHmnu9z0")
                                    <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M-0.000976562 12.0784V1.91968C-0.000976562 1.11066 0.90971 0.636504 1.57249 1.10045L8.82869 6.17979C9.39741 6.57789 9.39741 7.42015 8.82869 7.81826L1.57249 12.8976C0.909708 13.3615 -0.000976562 12.8874 -0.000976562 12.0784Z" fill="white"/>
                                    </svg>

                            // end card-preview

                            // start card-preview
                            .card-preview.-border.-lessons._card-preview
                              ._header.js-accordion-toggle
                                span.label._label Лекция 5

                                ._main
                                  h4.card-heading.is-small._heading Правовые аспекты структурирования проекта ГЧП

                                ._aside
                                  span.label._label 1 час 45 минут
                                  a._play-button(data-fancybox="lsn" href="https://youtu.be/XN5AHmnu9z0")
                                    <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M-0.000976562 12.0784V1.91968C-0.000976562 1.11066 0.90971 0.636504 1.57249 1.10045L8.82869 6.17979C9.39741 6.57789 9.39741 7.42015 8.82869 7.81826L1.57249 12.8976C0.909708 13.3615 -0.000976562 12.8874 -0.000976562 12.0784Z" fill="white"/>
                                    </svg>

                            // end card-preview

                            // start card-preview
                            .card-preview.-border.-lessons._card-preview
                              ._header.js-accordion-toggle
                                span.label._label Лекция 6

                                ._main
                                  h4.card-heading.is-small._heading Финансовые аспекты структурирования проектов ГЧП

                                ._aside
                                  span.label._label 1 час 45 минут
                                  a._play-button(data-fancybox="lsn" href="https://youtu.be/XN5AHmnu9z0")
                                    <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M-0.000976562 12.0784V1.91968C-0.000976562 1.11066 0.90971 0.636504 1.57249 1.10045L8.82869 6.17979C9.39741 6.57789 9.39741 7.42015 8.82869 7.81826L1.57249 12.8976C0.909708 13.3615 -0.000976562 12.8874 -0.000976562 12.0784Z" fill="white"/>
                                    </svg>

                            // end card-preview

                            // start card-preview
                            .card-preview.-border.-lessons._card-preview.is-closed.js-accordion-item.js-list-item
                              ._header.js-accordion-toggle.js-dropdown-item
                                span.label._label Лекция 7

                                ._main
                                  h4.card-heading.is-small._heading Маркетинговое обоснование инфраструктурного проекта

                                ._aside
                                  span.label._label 1 час 45 минут
                                  a._play-button(data-fancybox="lsn" href="https://youtu.be/XN5AHmnu9z0")
                                    <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M-0.000976562 12.0784V1.91968C-0.000976562 1.11066 0.90971 0.636504 1.57249 1.10045L8.82869 6.17979C9.39741 6.57789 9.39741 7.42015 8.82869 7.81826L1.57249 12.8976C0.909708 13.3615 -0.000976562 12.8874 -0.000976562 12.0784Z" fill="white"/>
                                    </svg>


                              ._body.js-accordion-body
                                ._inner
                                  ._offset
                                    h4._caption Выберите одну из лекций в соответствии с вашими профессиональными интересами:

                                    ul._list
                                      li._item.js-card-preview-item
                                        span._text Реализация проектов ГЧП в сфере здравоохранения
                                        a._link-video(data-fancybox="" href="https://youtu.be/XN5AHmnu9z0") Смотреть презентацию
                                      li._item.js-card-preview-item
                                        span._text Реализация проектов ГЧП в транспортной сфере
                                        a._link-video(data-fancybox="" href="https://youtu.be/XN5AHmnu9z0") Смотреть презентацию
                                      li._item
                                        span._text Реализация проектов ГЧП в сфере теплоснабжения, водоснабжения и водоотведения
                                      li._item
                                        span._text Реализация проектов ГЧП в сфере обращения с ТКО
                                      li._item
                                        span._text Реализация инфраструктурного проекта в отношении ОКН
                                      li._item
                                        span._text Особенности предоставления земельного участка

                                    ul._list.is-mobile
                                      li._item.js-card-preview-item
                                        a._button-video(data-fancybox="" href="https://youtu.be/XN5AHmnu9z0")
                                          span._number 1.
                                          span._title Что такое ГЧП в России? Эволюция форм партнёрства государства и бизнеса: от госзаказа к государственно-частному партнёрству
                                      li._item.js-card-preview-item
                                        a._button-video(data-fancybox="" href="https://youtu.be/XN5AHmnu9z0")
                                          span._number 2.
                                          span._title Правовые формы ГЧП в России
                                      li._item
                                        a._button-video(data-fancybox="" href="https://youtu.be/XN5AHmnu9z0")
                                          span._number 3.
                                          span._title Типы проектов ГЧП в России
                                      li._item
                                        a._button-video(data-fancybox="" href="https://youtu.be/XN5AHmnu9z0")
                                          span._number 3.1
                                          span._title Проекты ГЧП с прямым сбором платы
                                      li._item
                                        a._button-video(data-fancybox="" href="https://youtu.be/XN5AHmnu9z0")
                                          span._number 3.2
                                          span._title Проекты ГЧП с софинансированием затрат из бюджета
                                      li._item
                                        a._button-video(data-fancybox="" href="https://youtu.be/XN5AHmnu9z0")
                                          span._number 3.3
                                          span._title Проекты ГЧП с гарантией доходности (выручки, загрузки)
                                      li._item
                                        a._button-video(data-fancybox="" href="https://youtu.be/XN5AHmnu9z0")
                                          span._number 3.4
                                          span._title Проекты ГЧП с платой за доступность (фиксированными платежами)
                            // end card-preview

                            // start card-preview
                            .card-preview.-border.-lessons._card-preview.is-closed.js-accordion-item.js-list-item
                              ._header.js-accordion-toggle.js-dropdown-item
                                span.label._label Лекция 8

                                ._main
                                  h4.card-heading.is-small._heading Лекция на выбор

                                ._aside
                                  span.label._label 1 час 45 минут
                                  a._play-button(data-fancybox="lsn" href="https://youtu.be/XN5AHmnu9z0")
                                    <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M-0.000976562 12.0784V1.91968C-0.000976562 1.11066 0.90971 0.636504 1.57249 1.10045L8.82869 6.17979C9.39741 6.57789 9.39741 7.42015 8.82869 7.81826L1.57249 12.8976C0.909708 13.3615 -0.000976562 12.8874 -0.000976562 12.0784Z" fill="white"/>
                                    </svg>


                              ._body.js-accordion-body
                                ._inner
                                  ._offset
                                    h4._caption Выберите одну из лекций в соответствии с вашими профессиональными интересами:
                                    ul._list
                                      li._item.js-card-preview-item
                                        span._text Реализация проектов ГЧП в сфере здравоохранения
                                        a._link-video(data-fancybox="" href="https://youtu.be/XN5AHmnu9z0") Смотреть презентацию
                                      li._item.js-card-preview-item
                                        span._text Реализация проектов ГЧП в транспортной сфере
                                        a._link-video(data-fancybox="" href="https://youtu.be/XN5AHmnu9z0") Смотреть презентацию
                                      li._item
                                        span._text Реализация проектов ГЧП в сфере теплоснабжения, водоснабжения и водоотведения
                                      li._item
                                        span._text Реализация проектов ГЧП в сфере обращения с ТКО
                                      li._item
                                        span._text Реализация инфраструктурного проекта в отношении ОКН
                                      li._item
                                        span._text Особенности предоставления земельного участка

                                    ul._list.is-mobile
                                      li._item.js-card-preview-item
                                        a._button-video(data-fancybox="" href="https://youtu.be/XN5AHmnu9z0")
                                          span._number 1.
                                          span._title Что такое ГЧП в России? Эволюция форм партнёрства государства и бизнеса: от госзаказа к государственно-частному партнёрству
                                      li._item.js-card-preview-item
                                        a._button-video(data-fancybox="" href="https://youtu.be/XN5AHmnu9z0")
                                          span._number 2.
                                          span._title Правовые формы ГЧП в России
                                      li._item
                                        a._button-video(data-fancybox="" href="https://youtu.be/XN5AHmnu9z0")
                                          span._number 3.
                                          span._title Типы проектов ГЧП в России
                                      li._item
                                        a._button-video(data-fancybox="" href="https://youtu.be/XN5AHmnu9z0")
                                          span._number 3.1
                                          span._title Проекты ГЧП с прямым сбором платы
                                      li._item
                                        a._button-video(data-fancybox="" href="https://youtu.be/XN5AHmnu9z0")
                                          span._number 3.2
                                          span._title Проекты ГЧП с софинансированием затрат из бюджета
                                      li._item
                                        a._button-video(data-fancybox="" href="https://youtu.be/XN5AHmnu9z0")
                                          span._number 3.3
                                          span._title Проекты ГЧП с гарантией доходности (выручки, загрузки)
                                      li._item
                                        a._button-video(data-fancybox="" href="https://youtu.be/XN5AHmnu9z0")
                                          span._number 3.4
                                          span._title Проекты ГЧП с платой за доступность (фиксированными платежами)
                            // end card-preview
                  // end section-child
            // end content-section

            // start content-section
            section.content-section._section.is-opened.is-desktop
              .section-body._body
                ._container
                  // start section-child
                  .section-child._child
                    .section-header._header
                      ._container
                        ._main
                          h2.section-heading.-secondary._heading
                            span._title Преподаватели

                    .section-body._body
                      ._container
                        .box.js-accordion.js-list(data-show-count='6')
                          ._body

                            ._grid
                              ._column
                                // start card-teachers
                                a.card-teachers.-secondary._teachers.js-accordion-item.js-list-item(href="#")
                                  ._body
                                    ._content
                                      ._avatar
                                        img._img(src="../../assets/img/content/avatars/8.png", alt="")
                                      ._data
                                        ._name Максим Викторович Ткаченко
                                        span._position Исполнительный директор, Национальный Центр ГЧП
                                // end card-teachers
                              ._column
                                // start card-teachers
                                a.card-teachers.-secondary._teachers.js-accordion-item.js-list-item(href="#")
                                  ._body
                                    ._content
                                      ._avatar
                                        img._img(src="../../assets/img/content/avatars/8.png", alt="")
                                      ._data
                                        ._name Максим Викторович Ткаченко
                                        span._position Исполнительный директор, Национальный Центр ГЧП
                                // end card-teachers
                              ._column
                                // start card-teachers
                                a.card-teachers.-secondary._teachers.js-accordion-item.js-list-item(href="#")
                                  ._body
                                    ._content
                                      ._avatar
                                        img._img(src="../../assets/img/content/avatars/8.png", alt="")
                                      ._data
                                        ._name Максим Викторович Ткаченко
                                        span._position Исполнительный директор, Национальный Центр ГЧП
                                // end card-teachers
                              ._column
                                // start card-teachers
                                a.card-teachers.-secondary._teachers.js-accordion-item.js-list-item(href="#")
                                  ._body
                                    ._content
                                      ._avatar
                                        img._img(src="../../assets/img/content/avatars/9.png", alt="")
                                      ._data
                                        ._name Антон Павлович Павлиенко
                                        span._position Старший консультант практики ГЧП и инфраструктурных проектов, KPMG Law
                                // end card-teachers
                              ._column
                                // start card-teachers
                                a.card-teachers.-secondary._teachers.js-accordion-item.js-list-item(href="#")
                                  ._body
                                    ._content
                                      ._avatar
                                        img._img(src="../../assets/img/content/avatars/10.png", alt="")
                                      ._data
                                        ._name Александра Шайхутдинова
                                        span._position Директор Департамента налоговых и юридических услуг, группа корпоративного налогообложения, EY
                                // end card-teachers
                              ._column
                                // start card-teachers
                                a.card-teachers.-secondary._teachers.js-accordion-item.js-list-item(href="#")
                                  ._body
                                    ._content
                                      ._avatar
                                        img._img(src="../../assets/img/content/avatars/11.png", alt="")
                                      ._data
                                        ._name Антон Павлович Павлиенко
                                        span._position Старший консультант практики ГЧП и инфраструктурных проектов, KPMG Law
                                // end card-teachers
                              ._column
                                // start card-teachers
                                a.card-teachers.-secondary._teachers.js-accordion-item.js-list-item(href="#")
                                  ._body
                                    ._content
                                      ._avatar
                                        img._img(src="../../assets/img/content/avatars/10.png", alt="")
                                      ._data
                                        ._name Александра Шайхутдинова
                                        span._position Директор Департамента налоговых и юридических услуг, группа корпоративного налогообложения, EY
                                // end card-teachers
                              ._column
                                // start card-teachers
                                a.card-teachers.-secondary._teachers.js-accordion-item.js-list-item(href="#")
                                  ._body
                                    ._content
                                      ._avatar
                                        img._img(src="../../assets/img/content/avatars/11.png", alt="")
                                      ._data
                                        ._name Антон Павлович Павлиенко
                                        span._position Старший консультант практики ГЧП и инфраструктурных проектов, KPMG Law
                                // end card-teachers

                          ._footer.-secondary.js-list-toggle-parent
                            span.link-more-chevron._link-more.js-list-toggle Показать еще
                              i.fe.fe-chevron-down._icon
                  // end section-child
            // end content-section

            // start section-default
            section.section-default.page-body__section-default.js-section-slider.is-mobile
              ._container
                .section-header._header
                  ._container
                    ._main
                      h2.section-heading._heading Преподаватели
                    ._aside
                      +button({
                          title: 'Смотреть всех',
                          type: 'is-primary is-round is-average'
                      })
                ._body
                  .section-slider
                    ._inner
                      ._body.js-section-slider-vocabularies
                        ._wrapper.js-slider-wrapper
                          ._slide.js-slider-slide
                            // start expert-card
                            .expert-card
                              ._body
                                .expert-preview._user
                                  ._header
                                    ._photo
                                      img._img(src="__static__img/content/avatars/8.png", alt="")

                                    ._content
                                      p.card-title._name Максим Викторович Ткаченко
                                      p._caption Исполнительный директор, Национальный Центр ГЧП

                                .expert-props._props
                                  ul._list
                                    li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                                      img._img(src="__static__img/general/expert/1.svg", alt="")
                                    li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                                      img._img(src="__static__img/general/expert/2.svg", alt="")
                                    li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                                      img._img(src="__static__img/general/expert/3.svg", alt="")
                                    li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                                      img._img(src="__static__img/general/expert/4.svg", alt="")
                            // end expert-card

                          ._slide.js-slider-slide
                            // start expert-card
                            .expert-card
                              ._body
                                .expert-preview._user
                                  ._header
                                    ._photo
                                      img._img(src="__static__img/content/avatars/9.png", alt="")

                                    ._content
                                      p.card-title._name Антон Павлович Павлиенко
                                      p._caption Директор Департамента налоговых и юридических услуг, группа корпоративного налогообложения, EY

                                .expert-props._props
                                  ul._list
                                    li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                                      img._img(src="__static__img/general/expert/1.svg", alt="")
                                    li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                                      img._img(src="__static__img/general/expert/2.svg", alt="")
                                    li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                                      img._img(src="__static__img/general/expert/3.svg", alt="")
                                    li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                                      img._img(src="__static__img/general/expert/4.svg", alt="")
                            // end expert-card

                          ._slide.js-slider-slide
                            // start expert-card
                            .expert-card
                              ._body
                                .expert-preview._user
                                  ._header
                                    ._photo
                                      img._img(src="__static__img/content/avatars/10.png", alt="")

                                    ._content
                                      p.card-title._name Александра Искандеровна
                                      p._caption Старший консультант практики ГЧП и инфраструктурных проектов, KPMG Law


                                .expert-props._props
                                  ul._list
                                    li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                                      img._img(src="__static__img/general/expert/1.svg", alt="")
                                    li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                                      img._img(src="__static__img/general/expert/2.svg", alt="")
                                    li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                                      img._img(src="__static__img/general/expert/3.svg", alt="")
                                    li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                                      img._img(src="__static__img/general/expert/4.svg", alt="")
                            // end expert-card

                          ._slide.js-slider-slide
                            // start expert-card
                            .expert-card
                              ._body
                                .expert-preview._user
                                  ._header
                                    ._photo
                                      img._img(src="__static__img/content/avatars/11.png", alt="")

                                    ._content
                                      p.card-title._name Антон Павлович Павлиенко
                                      p._caption Директор Департамента налоговых и юридических услуг, группа корпоративного налогообложения, EY

                                .expert-props._props
                                  ul._list
                                    li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                                      img._img(src="__static__img/general/expert/1.svg", alt="")
                                    li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                                      img._img(src="__static__img/general/expert/2.svg", alt="")
                                    li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                                      img._img(src="__static__img/general/expert/3.svg", alt="")
                                    li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                                      img._img(src="__static__img/general/expert/4.svg", alt="")
                            // end expert-card

                          ._slide.js-slider-slide
                            // start expert-card
                            .expert-card
                              ._body
                                .expert-preview._user
                                  ._header
                                    ._content
                                      p.card-title._name Антон Павлович Павлиенко
                                      p._caption Директор Департамента налоговых и юридических услуг, группа корпоративного налогообложения, EY

                                    ._photo
                                      img._img(src="__static__img/content/avatars/1.jpg", alt="")

                                .expert-props._props
                                  ul._list
                                    li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                                      img._img(src="__static__img/general/expert/1.svg", alt="")
                                    li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                                      img._img(src="__static__img/general/expert/2.svg", alt="")
                                    li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                                      img._img(src="__static__img/general/expert/3.svg", alt="")
                                    li._item(data-title="Участвует в блиц-оценках проектных инициатив")
                                      img._img(src="__static__img/general/expert/4.svg", alt="")
                            // end expert-card


                    .slider-controls._controls
                      ._aside
                        +slider-counter

                      ._main
                        +slider-pagination({})

                      ._aside
                        +slider-nav
            // end section-default

            // start content-section
            section.content-section._section.is-opened.is-desktop
              .section-body._body
                ._container
                  // start section-child
                  .section-child._child
                    .section-header._header
                      ._container
                        ._main
                          h2.section-heading.-secondary._heading
                            span._title Новости ГЧП-Академии

                    .section-body._body
                      ._container
                        .box.js-accordion.js-list(data-show-count='3')
                          ._body
                            ._grid
                              ._column.-large
                                //start article-card
                                .article-card.-inline._card.js-accordion-item.js-list-item
                                  ._header
                                    a._photo(href="#")
                                      img.img-cover._img(src="/assets/img/content/news/5.jpg", alt="")
                                  ._body
                                    ._content
                                      h3._heading
                                        a._link(href="#" title="") С 5 по 7 марта 2020 г. прошло обучение по теме “Концессия и ГЧП: продвинутый курс”
                                      span._caption ГЧП-Институт совместно с компанией PwC при поддержке Национального Центра ГЧП провели программу повышения квалификации «Финансовое моделирование в проектах ГЧП: практические аспекты».
                                    ._footer
                                      .card-properties
                                        ._item 7 октября 2019, 12:28
                                // end article-card
                              ._column.-large
                                //start article-card
                                .article-card.-inline._card.js-accordion-item.js-list-item
                                  ._header
                                    a._photo(href="#")
                                      img.img-cover._img(src="/assets/img/content/news/6.jpg", alt="")
                                  ._body
                                    ._content
                                      h3._heading
                                        a._link(href="#" title="") С 5 по 7 марта 2020 г. прошло обучение по теме “Концессия и ГЧП: продвинутый курс”
                                      span._caption ГЧП-Институт совместно с компанией PwC при поддержке Национального Центра ГЧП провели программу повышения квалификации «Финансовое моделирование в проектах ГЧП: практические аспекты».
                                    ._footer
                                      .card-properties
                                        ._item 7 октября 2019, 12:28
                                // end article-card
                              ._column.-large
                                //start article-card
                                .article-card.-inline._card.js-accordion-item.js-list-item
                                  ._header
                                    a._photo(href="#")
                                      img.img-cover._img(src="/assets/img/content/news/7.jpg", alt="")
                                  ._body
                                    ._content
                                      h3._heading
                                        a._link(href="#" title="") С 5 по 7 марта 2020 г. прошло обучение по теме “Концессия и ГЧП: продвинутый курс”
                                      span._caption ГЧП-Институт совместно с компанией PwC при поддержке Национального Центра ГЧП провели программу повышения квалификации «Финансовое моделирование в проектах ГЧП: практические аспекты».
                                    ._footer
                                      .card-properties
                                        ._item 7 октября 2019, 12:28
                                // end article-card
                              ._column.-large
                                //start article-card
                                .article-card.-inline._card.js-accordion-item.js-list-item
                                  ._header
                                    a._photo(href="#")
                                      img.img-cover._img(src="/assets/img/content/news/5.jpg", alt="")
                                  ._body
                                    ._content
                                      h3._heading
                                        a._link(href="#" title="") С 5 по 7 марта 2020 г. прошло обучение по теме “Концессия и ГЧП: продвинутый курс”
                                      span._caption ГЧП-Институт совместно с компанией PwC при поддержке Национального Центра ГЧП провели программу повышения квалификации «Финансовое моделирование в проектах ГЧП: практические аспекты».
                                    ._footer
                                      .card-properties
                                        ._item 7 октября 2019, 12:28
                                // end article-card

                          ._footer.-secondary.js-list-toggle-parent
                            span.link-more-chevron._link-more.js-list-toggle Показать еще
                              i.fe.fe-chevron-down._icon
                  // end section-child
            // end content-section

            // start section-default
            .section-default.page-body__section-default.js-section-slider.is-mobile
              ._container
                .section-header.is-large._header
                  ._container
                    ._main
                      h2.section-heading._heading Новости ГЧП-Академии

                .section-body._body
                  .section-slider
                    ._body.js-section-slider-news
                      ._wrapper.js-slider-wrapper
                        ._slide.js-slider-slide
                          // start article-card
                          .article-card.is-slider
                            ._header
                              a._photo.-secondary(href='#' title='')
                                img.img-cover._img(src='__static__img/content/articles/37.jpg' alt='')

                            ._body
                              ._content
                                h3._heading
                                  a._link(href='' title='') Российским аэропортам компенсируют потерянных пассажиров

                              ._footer
                                .card-properties
                                  ._item 13 мая 2020
                          // end article-card
                        ._slide.js-slider-slide
                          // start article-card
                          .article-card.is-slider
                            ._header
                              a._photo.-secondary(href='#' title='')
                                img.img-cover._img(src='__static__img/content/articles/38.jpg' alt='')

                            ._body
                              ._content
                                h3._heading
                                  a._link(href='' title='') «Дочка» «Ростеха» может получить контроль над комплексами фиксации нарушений ПДД по всей стране

                              ._footer
                                .card-properties
                                  ._item 13 мая 2020
                          // end article-card
                        ._slide.js-slider-slide
                          // start article-card
                          .article-card.is-slider
                            ._header
                              a._photo.-secondary(href='#' title='')
                                img.img-cover._img(src='__static__img/content/articles/39.jpg' alt='')

                            ._body
                              ._content
                                h3._heading
                                  a._link(href='' title='') Управляющий партнер МИГ рассказал об особенностях создания в России государственно-частной...

                              ._footer
                                .card-properties
                                  ._item 13 мая 2020
                          // end article-card
                        ._slide.js-slider-slide
                          // start article-card
                          .article-card.is-slider
                            ._header
                              a._photo.-secondary(href='#' title='')
                                img.img-cover._img(src='__static__img/content/articles/40.jpg' alt='')

                            ._body
                              ._content
                                h3._heading
                                  a._link(href='' title='') Мэрия Екатеринбурга сократила траты на проект второй ветки метро

                              ._footer
                                .card-properties
                                  ._item 13 мая 2020
                          // end article-card
                        ._slide.js-slider-slide
                          // start article-card
                          .article-card.is-slider
                            ._header
                              a._photo.-secondary(href='#' title='')
                                img.img-cover._img(src='__static__img/content/articles/6.jpg' alt='')

                            ._body
                              ._content
                                h3._heading
                                  a._link(href='' title='') Власти Пермского края предлагают бизнесу построить больницы на 8 млрд рублей

                              ._footer
                                .card-properties
                                  ._item 13 мая 2020
                          // end article-card


                      .slider-controls._controls
                        ._aside
                          +slider-counter

                        ._main

                        ._aside
                          +slider-nav
            // end section-default

          // end main-content

          // start main-aside
          aside.main-aside._aside.is-secondary
            ._container.js-main-aside-sticky

          // end main-aside
    // end main-body

    // start section-default
    +section-default({
      header: {
        main: {
          heading: {
            title: 'Рекомендованные программы'
          },
        },

        aside: {
          button: {
            href: '#',
            title: 'Перейти к программам',
            type: 'is-primary is-round is-average'
          }
        }
      },
    }, {
      class: 'js-section-slider page-body__section-default'
    })
      .section-slider
        ._body.js-section-slider-container
          ._wrapper.js-slider-wrapper
            ._slide.js-slider-slide
              // start program-card
              .program-card
                ._header
                  ._photo
                    img.img-cover._img(src='__static__img/content/programs/1.jpg' alt='')

                  ._content
                    ._badges
                      +badge({
                          title: 'Курс',
                          type: 'is-danger is-round',
                          size: 'is-small'
                      }, {
                          class: 'program-card__badge'
                      })

                    h3._heading Концессия и ГЧП: <br>базовый курс

                    .program-info._info
                      ._main
                        ._item Гибкие сроки обучения
                        ._item 7 акад. часов

                      ._aside
                        ._price 9 900 ₽

                  ._back
                    +button({
                        title: 'Начать обучение',
                        type: 'is-danger is-round',
                        size: 'is-large'
                    }, {
                        class: 'program-card__button',
                        'data-remodal-target': 'start-study'
                    })

                    a._more(href='#' title='Подробнее о программе') Подробнее о программе
              // end program-card

            ._slide.js-slider-slide
              // start program-card
              .program-card
                ._header
                  ._photo
                    img.img-cover._img(src='__static__img/content/programs/1.jpg' alt='')

                  ._content
                    ._badges
                      +badge({
                          title: 'Курс',
                          type: 'is-danger is-round',
                          size: 'is-small'
                      }, {
                          class: 'program-card__badge'
                      })

                    h3._heading Реализация проектов ГЧП в сфере здравоохранения

                    .program-info._info
                      ._main
                        ._item Гибкие сроки обучения
                        ._item 1,4 акад. часа

                      ._aside
                        ._price 2 900 ₽

                  ._back
                    +button({
                        title: 'Начать обучение',
                        type: 'is-danger is-round',
                        size: 'is-large'
                    }, {
                        class: 'program-card__button',
                        'data-remodal-target': 'start-study'
                    })

                    a._more(href='#' title='Подробнее о программе') Подробнее о программе
              // end program-card

            ._slide.js-slider-slide
              // start program-card
              .program-card
                ._header
                  ._photo
                    img.img-cover._img(src='__static__img/content/programs/1.jpg' alt='')

                  ._content
                    ._badges
                      +badge({
                          title: 'Курс',
                          type: 'is-danger is-round',
                          size: 'is-small'
                      }, {
                          class: 'program-card__badge'
                      })

                    h3._heading Концессия и ГЧП: <br>базовый курс

                    .program-info._info
                      ._main
                        ._item Гибкие сроки обучения
                        ._item 7 акад. часов

                      ._aside
                        ._price 9 900 ₽

                  ._back
                    +button({
                        title: 'Начать обучение',
                        type: 'is-danger is-round',
                        size: 'is-large'
                    }, {
                        class: 'program-card__button',
                        'data-remodal-target': 'start-study'
                    })

                    a._more(href='#' title='Подробнее о программе') Подробнее о программе
              // end program-card

            ._slide.js-slider-slide
              // start program-card
              .program-card
                ._header
                  ._photo
                    img.img-cover._img(src='__static__img/content/programs/1.jpg' alt='')

                  ._content
                    ._badges
                      +badge({
                          title: 'Курс',
                          type: 'is-danger is-round',
                          size: 'is-small'
                      }, {
                          class: 'program-card__badge'
                      })

                    h3._heading Реализация проектов ГЧП в сфере здравоохранения

                    .program-info._info
                      ._main
                        ._item Гибкие сроки обучения
                        ._item 1,4 акад. часа

                      ._aside
                        ._price 2 900 ₽

                  ._back
                    +button({
                        title: 'Начать обучение',
                        type: 'is-danger is-round',
                        size: 'is-large'
                    }, {
                        class: 'program-card__button',
                        'data-remodal-target': 'start-study'
                    })

                    a._more(href='#' title='Подробнее о программе') Подробнее о программе
              // end program-card

        .slider-controls._controls
          ._aside
            +slider-counter

          ._main
            +slider-pagination({})

          ._aside
            +slider-nav
    // end section-default

    .scrolltop._scrolltop
      a._link.js-scrolltop(href="#body")
        span._text Вернуться наверх страницы
        ._icon
          <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 4L4.5 1L8 4" stroke="#9199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

  .modal.remodal(data-remodal-id='success')
    button._close(data-remodal-action='close')

    ._header
      ._title.is-center Ваша заявка успешно получена

      span._caption.is-center В ближайшее время с Вами свяжется наш специалист и уточнит все детали для выставления счёта

      ._footer
        +button({
            title: 'Закрыть окно ',
            type: 'is-primary is-round ',
            remodal: 'close'
        }, {
            class: 'modal__button-close'
        })

  .modal.remodal(data-remodal-id='redirect')
    button._close(data-remodal-action='close')

    ._header
      ._title.is-center Перенаправление

      span._caption.is-center Для продолжения оплаты, Вы будете перенаправлены на сайт системы оплаты.  Если автоматический переход не произошёл, используйте ссылку:

      ._footer
        +button({
            href: '#',
            title: 'Перейти по ссылке',
            type: 'is-primary is-round ',
        }, {
            class: 'modal__button-close'
        })

  .modal.remodal(data-remodal-id='success-pay')
    button._close(data-remodal-action='close')

    ._header
      img.modal__image(src="/assets/img/content/1.png", alt="")
      ._title.is-center Оплата прошла успешно

      span._caption.is-center В ближайшее время на Вашу электронную почту будет направлено уведомление, содержащее логин и пароль для доступа к программе.

    span.modal__labels При возникновении вопросов просим обращаться по телефону <br> <a href="tel:+74959887714">+7 (495) 988-77-14</a> или электронной почте <a href="mailto:study@rosinfra.ru">study@rosinfra.ru.</a>

  .modal.remodal(data-remodal-id='repeat')
    button._close(data-remodal-action='close')

    ._header
      img.modal__image(src="/assets/img/content/2.png", alt="")
      ._title.is-center Повторите попытку еще раз

      span._caption.is-center Оплата была прервана или произошел технический сбой. Пожалуйста повторите попытку.

    span.modal__labels При возникновении вопросов просим обращаться по телефону <br> <a href="tel:+74959887714">+7 (495) 988-77-14</a> или электронной почте <a href="mailto:study@rosinfra.ru">study@rosinfra.ru.</a>

  .modal.remodal.is-medium(data-remodal-id='start-study')
    button._close(data-remodal-action='close')

    ._header
      ._title.is-large Начать обучение по программе

    ul._prices
      li._prices-item
        span._prices-label Наименование программы:
        span._prices-value Концессия и ГЧП: базовый курс
      li._prices-item
        span._prices-label Стоимость программы:
        span._prices-value 59 900 ₽
          span (Не облагается НДС)


    ._body
      form.form.js-modal(action='#' method='post')
        ._body
          .form-group._field
            label._label Введите ФИО*:
            +input-text({
                placeholder: 'Введите ФИО',
                name: 'name'
            })

          .form-group._field
            ._grid
              ._column
                .form-group
                  label._label Номер телефона*:
                  +input-text({
                      type: 'tel',
                      placeholder: 'Ваш телефон',
                      name: 'tel'
                  })

              ._column
                .form-group
                  label._label E-mail*:
                  +input-text({
                      type: 'email',
                      placeholder: 'Ваш E-mail',
                      name: 'email'
                  })

          .form-group._field
            label._label Организация*
            +input-text({
                placeholder: 'Введите название',
                name: 'name'
            })

          .form-group._field
            label._label Должность*:
            +input-text({
                placeholder: 'Введите название',
                name: 'name'
            })

        ._footer
          .form-agree._agree
            +input-control({
                type: 'checkbox',
                label: 'Нажимая на кнопку “Сохранить” вы подтверждаете что ознакомлен(-ы) с политикой конфиденциальности и даёте согласие на обработку персональных данных согласно ФЗ №54',
                name: 'agree'
            })

    ._payment
      span._payment-title Выберите варианты оплаты:

      ._payment-grid
        ._payment-column
          .card-payment
            ._header
              span._title Банковский перевод
              ._icon
                <svg width="42" height="45" viewBox="0 0 42 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20.7422 4.92188C19.0944 4.92188 17.7539 6.26238 17.7539 7.91016C17.7539 9.55793 19.0944 10.8984 20.7422 10.8984C22.39 10.8984 23.7305 9.55793 23.7305 7.91016C23.7305 6.26238 22.39 4.92188 20.7422 4.92188ZM20.7422 9.14063C20.0637 9.14063 19.5117 8.58867 19.5117 7.91016C19.5117 7.23164 20.0637 6.67969 20.7422 6.67969C21.4207 6.67969 21.9727 7.23164 21.9727 7.91016C21.9727 8.58867 21.4207 9.14063 20.7422 9.14063Z" fill="#D01417"/>
                  <path d="M40.6055 18.2813C41.0909 18.2813 41.4844 17.8878 41.4844 17.4024V13.5352C41.4844 13.2237 41.3219 12.9508 41.0775 12.7947L41.0777 12.794L21.2144 0.137703C20.9263 -0.0459009 20.558 -0.0459009 20.2699 0.137703L0.406582 12.794C0.148623 12.9583 0.000527341 13.2407 0.000615232 13.5355C0.00035156 13.5354 0.000175781 13.5353 0 13.5351V17.4023C0 17.8878 0.393487 18.2812 0.878907 18.2812H2.98828V35.5078H2.63672C2.1513 35.5078 1.75781 35.9013 1.75781 36.3867V39.375H0.878907C0.393487 39.375 0 39.7685 0 40.2539V44.1211C0 44.6065 0.393487 45 0.878907 45H40.6055C41.0909 45 41.4844 44.6065 41.4844 44.1211V40.2539C41.4844 39.7685 41.0909 39.375 40.6055 39.375H39.7266V36.3867C39.7266 35.9013 39.3331 35.5078 38.8477 35.5078H38.4961V18.2813H40.6055ZM20.7422 1.92118L37.5905 12.6563H3.89391L20.7422 1.92118ZM1.75781 14.4141H39.7266V16.5235H1.75781V14.4141ZM4.7461 18.2813H6.85547V22.9395C6.85547 23.425 7.24896 23.8184 7.73438 23.8184C8.2198 23.8184 8.61329 23.425 8.61329 22.9395V18.2813H32.8711V35.5079H25.8399V26.8946C25.8399 24.0838 23.553 21.797 20.7422 21.797C17.9314 21.797 15.6445 24.0838 15.6445 26.8946V35.5079H8.61329V30.8497C8.61329 30.3643 8.2198 29.9708 7.73438 29.9708C7.24896 29.9708 6.85547 30.3643 6.85547 30.8497V35.5079H4.7461V18.2813ZM24.082 35.5079H17.4024V26.8946C17.4024 25.053 18.9006 23.5548 20.7422 23.5548C22.5838 23.5548 24.082 25.053 24.082 26.8946V35.5079ZM39.7266 43.2423H1.75781V41.1329H39.7266V43.2423ZM3.51563 39.3751V37.2657H37.9688V39.3751H3.51563ZM36.7383 35.5079H34.6289V18.2813H36.7383V35.5079Z" fill="#23346B"/>
                  <path d="M7.73438 27.7744C7.96553 27.7744 8.19229 27.6804 8.35576 27.5169C8.51924 27.3534 8.61328 27.1267 8.61328 26.8955C8.61328 26.6644 8.51924 26.4376 8.35576 26.2741C8.19229 26.1106 7.96553 26.0166 7.73438 26.0166C7.50322 26.0166 7.27647 26.1106 7.11299 26.2741C6.94951 26.4376 6.85547 26.6644 6.85547 26.8955C6.85547 27.1267 6.94951 27.3534 7.11299 27.5169C7.27647 27.6804 7.50322 27.7744 7.73438 27.7744Z" fill="#D01417"/>
                </svg>
            ._body
              ul._list
                li._item
                  span._text Для юридических лиц
                li._item
                  span._text После обработки заявки выставляется счёт
                li._item
                  span._text Отсутствие комиссии
            ._footer
              a.button.is-primary.is-round.is-medium._button(href="#")
                span._title Оплатить по счёту

        ._payment-column
          .card-payment
            ._header
              span._title Онлайн оплата картой
              ._icon
                <svg width="49" height="45" viewBox="0 0 49 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M44.9167 14.2924H44.3495L37.3372 2.04334C36.7939 1.09627 35.9166 0.419361 34.8668 0.138282C34.4765 0.0340613 34.0796 -0.0108233 33.6867 0.00219233C33.0278 0.0241083 32.3801 0.209006 31.7943 0.549995L2.02482 17.8812C0.722211 18.6393 -0.00599214 20.0219 3.7144e-05 21.4383C0.00290823 22.1228 0.178523 22.8152 0.541333 23.4489L6.12502 33.2019V40.8339C6.12502 43.0859 7.9563 44.9173 10.2084 44.9173H44.9167C47.1686 44.9173 49 43.086 49 40.8339V18.3756C48.9999 16.1236 47.1686 14.2924 44.9167 14.2924ZM6.12502 29.091L5.34533 27.7289L6.12502 27.275V29.091ZM6.12502 24.9127L4.33088 25.9572L3.32303 24.1966L6.12502 22.5655V24.9127ZM6.12502 18.3756V20.2032L2.3105 22.4237C1.75906 21.4503 2.0898 20.206 3.05152 19.6456L6.18082 17.8239C6.15593 18.0062 6.12502 18.1867 6.12502 18.3756ZM41.9961 14.2924H28.4236L38.6031 8.36567L41.9961 14.2924ZM37.5888 6.59382L24.3662 14.2923H20.3348L36.5811 4.83366L37.5888 6.59382ZM32.8222 2.31447C33.2847 2.04526 33.8231 1.97051 34.3385 2.11014C34.8599 2.24968 35.2946 2.58665 35.5648 3.05818L35.5669 3.06191L16.2773 14.2924H12.2473L32.8222 2.31447ZM46.9583 40.8339C46.9583 41.9594 46.0421 42.8755 44.9167 42.8755H10.2084C9.08291 42.8755 8.16675 41.9594 8.16675 40.8339V18.3756C8.16675 17.2501 9.08291 16.334 10.2084 16.334H44.9167C46.0421 16.334 46.9583 17.2501 46.9583 18.3756V40.8339Z" fill="#23346B"/>
                  <path d="M38.664 30.626C37.9941 30.626 37.3432 30.7815 36.75 31.0806C36.1568 30.7815 35.5058 30.626 34.8359 30.626C32.5142 30.626 30.625 32.4573 30.625 34.7093C30.625 36.9614 32.5142 38.7927 34.8359 38.7927C35.5058 38.7927 36.1568 38.6372 36.75 38.3381C37.3432 38.6372 37.9941 38.7927 38.664 38.7927C40.9858 38.7927 42.875 36.9614 42.875 34.7093C42.875 32.4573 40.9859 30.626 38.664 30.626ZM38.664 36.751C38.1925 36.751 37.7389 36.6014 37.3491 36.3193C37.1706 36.1898 36.9602 36.125 36.75 36.125C36.5396 36.125 36.3293 36.1898 36.1509 36.3193C35.7611 36.6015 35.3075 36.751 34.8359 36.751C33.6396 36.751 32.6666 35.8348 32.6666 34.7093C32.6666 33.5839 33.6396 32.6677 34.8359 32.6677C35.3075 32.6677 35.7611 32.8173 36.1509 33.0993C36.5078 33.3585 36.9923 33.3585 37.3492 33.0993C37.739 32.8172 38.1926 32.6677 38.6641 32.6677C39.8604 32.6677 40.8334 33.5839 40.8334 34.7093C40.8334 35.8348 39.8603 36.751 38.664 36.751Z" fill="#D01417"/>
                  <path d="M13.2709 32.6677H23.4792C24.0435 32.6677 24.5001 32.2111 24.5001 31.6468C24.5001 31.0826 24.0435 30.626 23.4792 30.626H13.2709C12.7066 30.626 12.25 31.0826 12.25 31.6468C12.25 32.2111 12.7066 32.6677 13.2709 32.6677Z" fill="#D01417"/>
                  <path d="M27.5625 36.75H13.2709C12.7066 36.75 12.25 37.2066 12.25 37.7709C12.25 38.3351 12.7066 38.7917 13.2709 38.7917H27.5625C28.1267 38.7917 28.5833 38.3351 28.5833 37.7709C28.5833 37.2066 28.1267 36.75 27.5625 36.75Z" fill="#D01417"/>
                </svg>

            ._body
              ul._list
                li._item
                  span._text Для физических лиц
                li._item
                  span._text Просто, быстро и безопасно
                li._item
                  span._text Отсутствие комиссии
            ._footer
              a.button.is-primary.is-round.is-medium._button(href="#")
                span._title Оплатить на сайте

