extends ../../template

include ../../../components/super-search/super-search
include ../../../components/menu-sections/menu-sections
include ../../../components/object-card/object-card
include ../../../components/select/select
include ../../../components/button/button

block append settings
	-
		page.title = 'Программы';


block page-body

	main.page-main

		.breadcrumbs
			._container.container
				ul._list
					li._item
						a._link(href="/" title="Главная") Главная
					li._item
						a._link(href="#" title="Академия ГЧП") Академия ГЧП
					li._item
						span._link Программы

		// start main-header
		.main-header._header
			._container.container
				._content
					h1.main-heading.is-large._heading= page.title

				._aside

					.program-stats._stats
						ul._list
							li._item
								span._title Всего программ:
								._numbers
									span._number 1
									span._number 1
							li._item
								span._title Бесплатно:
								._numbers
									span._number 4
		// end main-header

		// start main-body
		.main-body._body
			._container.container
				._grid

					// start main-content
					.main-content._content.js-accordion.js-menu-sections-list

						// start main-sorting
						.main-sorting._sorting
							._container
								._main
									._filters
										._filter
											label._label Сортировка:
											+select({
												type: 'is-clear',
												options: [{
													title: 'По дате добавления'
												}, {
													title: 'Опция 2'
												}, {
													title: 'Опция 3'
												}, {
													title: 'Опция 4'
												}]
											}, {
												'data-width': 'auto'
											})

								._aside
									._filter
										label._label Вид отображения:
										.layout-views
											a._item.is-tiles.is-active(href='#' title='')
											a._item.is-rows(href='#' title='')
						// end main-sorting

						// start section-layout
						.section-layout._section-layout
							._body
								._grid.is-card
									._column
										// start program-card
										.program-card.-vertical._card
											._body
												a._photo(href="#")
													img._img(src="../../assets/img/content/program/1.jpg", alt="")
												._data
													._header
														span._label Программа повышения квалификации
														a._title(href="#") Финансовое моделирование

													._content
														ul.chars._chars
															li._item
																span._label Даты проведения:
																span._value 23 марта - 3 апреля 2020 г.
															li._item
																span._label Уровень:
																span._value Специалист
															li._item
																span._label Продолжительность:
																span._value 24 акад.час.
													._footer
														a._more(href="#" title="Подробнее") Подробнее
														span._price 60 000 ₽
										// end program-card
									._column

										// start program-card
										.program-card.-vertical._card
											._body
												a._photo(href="#")
													img._img(src="../../assets/img/content/program/1.jpg", alt="")
													.badge.-danger._badge Бесплатно
												._data
													._header
														span._label Программа повышения квалификации
														a._title(href="#") Соглашение о ГЧП

													._content
														ul.chars._chars
															li._item
																span._label Даты проведения:
																span._value 23 марта - 3 апреля 2020 г.
															li._item
																span._label Уровень:
																span._value Специалист
															li._item
																span._label Продолжительность:
																span._value 24 акад.час.
													._footer
														a._more(href="#" title="Подробнее") Подробнее
														span._price 0 ₽
										// end program-card
									._column

										// start program-card
										.program-card.-vertical._card
											._body
												a._photo(href="#")
													img._img(src="../../assets/img/content/program/1.jpg", alt="")
													.badge.-danger._badge Бесплатно
												._data
													._header
														span._label Программа повышения квалификации
														a._title(href="#") Основы ГЧП

													._content
														ul.chars._chars
															li._item
																span._label Даты проведения:
																span._value 23 марта - 3 апреля 2020 г.
															li._item
																span._label Уровень:
																span._value Специалист
															li._item
																span._label Продолжительность:
																span._value 24 акад.час.
													._footer
														a._more(href="#" title="Подробнее") Подробнее
														span._price 60 000 ₽
										// end program-card
									._column
										// start program-card
										.program-card.-vertical._card
											._body
												a._photo(href="#")
													img._img(src="../../assets/img/content/program/1.jpg", alt="")
												._data
													._header
														span._label Программа повышения квалификации
														a._title(href="#") Финансовое моделирование

													._content
														ul.chars._chars
															li._item
																span._label Даты проведения:
																span._value 23 марта - 3 апреля 2020 г.
															li._item
																span._label Уровень:
																span._value Специалист
															li._item
																span._label Продолжительность:
																span._value 24 акад.час.
													._footer
														a._more(href="#" title="Подробнее") Подробнее
														span._price 60 000 ₽
										// end program-card
									._column

										// start program-card
										.program-card.-vertical._card
											._body
												a._photo(href="#")
													img._img(src="../../assets/img/content/program/1.jpg", alt="")
													.badge.-danger._badge Бесплатно
												._data
													._header
														span._label Программа повышения квалификации
														a._title(href="#") Соглашение о ГЧП

													._content
														ul.chars._chars
															li._item
																span._label Даты проведения:
																span._value 23 марта - 3 апреля 2020 г.
															li._item
																span._label Уровень:
																span._value Специалист
															li._item
																span._label Продолжительность:
																span._value 24 акад.час.
													._footer
														a._more(href="#" title="Подробнее") Подробнее
														span._price 0 ₽
										// end program-card
									._column

										// start program-card
										.program-card.-vertical._card
											._body
												a._photo(href="#")
													img._img(src="../../assets/img/content/program/1.jpg", alt="")
													.badge.-danger._badge Бесплатно
												._data
													._header
														span._label Программа повышения квалификации
														a._title(href="#") Основы ГЧП

													._content
														ul.chars._chars
															li._item
																span._label Даты проведения:
																span._value 23 марта - 3 апреля 2020 г.
															li._item
																span._label Уровень:
																span._value Специалист
															li._item
																span._label Продолжительность:
																span._value 24 акад.час.
													._footer
														a._more(href="#" title="Подробнее") Подробнее
														span._price 60 000 ₽
										// end program-card
									._column
										// start program-card
										.program-card.-vertical._card
											._body
												a._photo(href="#")
													img._img(src="../../assets/img/content/program/1.jpg", alt="")
												._data
													._header
														span._label Программа повышения квалификации
														a._title(href="#") Финансовое моделирование

													._content
														ul.chars._chars
															li._item
																span._label Даты проведения:
																span._value 23 марта - 3 апреля 2020 г.
															li._item
																span._label Уровень:
																span._value Специалист
															li._item
																span._label Продолжительность:
																span._value 24 акад.час.
													._footer
														a._more(href="#" title="Подробнее") Подробнее
														span._price 60 000 ₽
										// end program-card
									._column

										// start program-card
										.program-card.-vertical._card
											._body
												a._photo(href="#")
													img._img(src="../../assets/img/content/program/1.jpg", alt="")
													.badge.-danger._badge Бесплатно
												._data
													._header
														span._label Программа повышения квалификации
														a._title(href="#") Соглашение о ГЧП

													._content
														ul.chars._chars
															li._item
																span._label Даты проведения:
																span._value 23 марта - 3 апреля 2020 г.
															li._item
																span._label Уровень:
																span._value Специалист
															li._item
																span._label Продолжительность:
																span._value 24 акад.час.
													._footer
														a._more(href="#" title="Подробнее") Подробнее
														span._price 0 ₽
										// end program-card
									._column

										// start program-card
										.program-card.-vertical._card
											._body
												a._photo(href="#")
													img._img(src="../../assets/img/content/program/1.jpg", alt="")
													.badge.-danger._badge Бесплатно
												._data
													._header
														span._label Программа повышения квалификации
														a._title(href="#") Основы ГЧП

													._content
														ul.chars._chars
															li._item
																span._label Даты проведения:
																span._value 23 марта - 3 апреля 2020 г.
															li._item
																span._label Уровень:
																span._value Специалист
															li._item
																span._label Продолжительность:
																span._value 24 акад.час.
													._footer
														a._more(href="#" title="Подробнее") Подробнее
														span._price 60 000 ₽
										// end program-card
									._column
										// start program-card
										.program-card.-vertical._card
											._body
												a._photo(href="#")
													img._img(src="../../assets/img/content/program/1.jpg", alt="")
												._data
													._header
														span._label Программа повышения квалификации
														a._title(href="#") Финансовое моделирование

													._content
														ul.chars._chars
															li._item
																span._label Даты проведения:
																span._value 23 марта - 3 апреля 2020 г.
															li._item
																span._label Уровень:
																span._value Специалист
															li._item
																span._label Продолжительность:
																span._value 24 акад.час.
													._footer
														a._more(href="#" title="Подробнее") Подробнее
														span._price 60 000 ₽
										// end program-card
									._column

										// start program-card
										.program-card.-vertical._card
											._body
												a._photo(href="#")
													img._img(src="../../assets/img/content/program/1.jpg", alt="")
													.badge.-danger._badge Бесплатно
												._data
													._header
														span._label Программа повышения квалификации
														a._title(href="#") Соглашение о ГЧП

													._content
														ul.chars._chars
															li._item
																span._label Даты проведения:
																span._value 23 марта - 3 апреля 2020 г.
															li._item
																span._label Уровень:
																span._value Специалист
															li._item
																span._label Продолжительность:
																span._value 24 акад.час.
													._footer
														a._more(href="#" title="Подробнее") Подробнее
														span._price 0 ₽
										// end program-card
									._column

										// start program-card
										.program-card.-vertical._card
											._body
												a._photo(href="#")
													img._img(src="../../assets/img/content/program/1.jpg", alt="")
													.badge.-danger._badge Бесплатно
												._data
													._header
														span._label Программа повышения квалификации
														a._title(href="#") Основы ГЧП

													._content
														ul.chars._chars
															li._item
																span._label Даты проведения:
																span._value 23 марта - 3 апреля 2020 г.
															li._item
																span._label Уровень:
																span._value Специалист
															li._item
																span._label Продолжительность:
																span._value 24 акад.час.
													._footer
														a._more(href="#" title="Подробнее") Подробнее
														span._price 60 000 ₽
										// end program-card

							._more
								+button({
									type: 'is-load is-block',
									title: 'Загрузить еще'
								})
						// end section-layout

						// start page-navigation
						.page-navigation._navigation
							._main
								ul._list
									li._item
										a._link.is-active(href='#' title='') 1
									li._item
										a._link(href='#' title='') 2
									li._item
										a._link(href='#' title='') 3
									li._item
										a._link(href='#' title='') 4
									li._item
										a._link(href='#' title='') 5
									li._item
										span._link(href='#' title='') ...
									li._item
										a._link(href='#' title='') 21

							._aside
								ul._list
									li._item
										a._link.is-prev.is-disabled(href='#' title='')
											i.fe.fe-chevrons-left
									li._item
										a._link.is-next(href='#' title='')
											i.fe.fe-chevrons-right
						// end page-navigation

					// end main-content

					// start main-aside
					aside.main-aside._aside.is-secondary
						._container.js-main-aside-sticky

							// start aside-widget
							.aside-widget._widget
								._header
									h4._heading Фильтр по програмам:

								._body
									form.widget-form._form(action='#' method='post')
										._body
											.form-field._field
												label._label Тип программы:
												+select({
														placeholder: 'Выберите вариант',
														type: 'is-default',
														options: [{
																value: 0,
																title: 'Выберите вариант'
														}, {
																value: 1,
																title: 'Выберите вариант 1'
														}, {
																value: 2,
																title: 'Выберите вариант 2'
														}, {
																value: 3,
																title: 'Выберите вариант 3'
														}]
												})

											.form-field._field
												label._label Направление:
												+select({
														placeholder: 'Выберите вариант',
														type: 'is-default',
														options: [{
																value: 0,
																title: 'Вариант 1'
														}, {
																value: 1,
																title: 'Вариант 2'
														}, {
																value: 2,
																title: 'Вариант 3'
														}, {
																value: 3,
																title: 'Вариант 4'
														}]
												})

											.form-field._field
												label._label Продолжительность:
												+select({
														placeholder: 'Выберите вариант',
														type: 'is-default',
														options: [{
																value: 0,
																title: 'Вариант 1'
														}, {
																value: 1,
																title: 'Вариант 2'
														}, {
																value: 2,
																title: 'Вариант 3'
														}, {
																value: 3,
																title: 'Вариант 4'
														}]
												})

											.form-field._field
												label._label Стоимость:
												+select({
														placeholder: 'Выберите вариант',
														type: 'is-default',
														options: [{
																value: 0,
																title: 'Вариант 1'
														}, {
																value: 1,
																title: 'Вариант 2'
														}, {
																value: 2,
																title: 'Вариант 3'
														}, {
																value: 3,
																title: 'Вариант 4'
														}]
												})

											.form-field._field
												label._label Уровень:
												+select({
														placeholder: 'Выберите вариант',
														type: 'is-default',
														options: [{
																value: 0,
																title: 'Вариант 1'
														}, {
																value: 1,
																title: 'Вариант 2'
														}, {
																value: 2,
																title: 'Вариант 3'
														}, {
																value: 3,
																title: 'Вариант 4'
														}]
												})

										._footer
											+button({
												type: 'is-outline-secondary is-block',
												title: 'Сбросить фильтры'
											})
							// end aside-widget

					// end main-aside
		// end main-body


		.scrolltop._scrolltop
			a._link.js-scrolltop(href="#body")
				span._text Вернуться наверх страницы
				._icon
					<svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1 4L4.5 1L8 4" stroke="#9199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
