extends ../../template

include ../../../components/super-search/super-search
include ../../../components/menu-sections/menu-sections
include ../../../components/object-card/object-card
include ../../../components/input-control/input-control
include ../../../components/select/select
include ../../../components/button/button

block append settings
  -
    page.title = 'Программы';


block page-body

  main.page-main

    .breadcrumbs
      ._container.container
        ul._list
          li._item
            a._link(href="/" title="Главная") Главная
          li._item
            a._link(href="#" title="Академия ГЧП") Академия ГЧП
          li._item
            span._link Программы

    // start main-header
    .main-header._header
      ._container.container
        ._content
          h1.main-heading.is-large._heading= page.title

        ._aside

          .program-stats._stats
            ul._list
              li._item
                span._title Всего программ:
                ._numbers
                  span._number 1
                  span._number 1
              li._item
                span._title Бесплатно:
                ._numbers
                  span._number 0
                  span._number 4
    // end main-header

    // start main-body
    .main-body._body
      ._container.container
        ._grid

          // start main-content
          .main-content._content

            // start main-sorting
            .main-sorting._sorting.is-border
              ._container
                ._main
                  ._filters
                    ._filter
                      label._label Сортировка:
                      +select({
                        type: 'is-clear',
                        options: [{
                          title: 'По дате добавления'
                        }, {
                          title: 'Опция 2'
                        }, {
                          title: 'Опция 3'
                        }, {
                          title: 'Опция 4'
                        }]
                      }, {
                        'data-width': 'auto'
                      })

                ._aside
                  ._filter
                    label._label Вид отображения:
                    .layout-views
                      a._item.is-tiles.is-active(href='#' title='')
                      a._item.is-rows(href='#' title='')
            // end main-sorting

            // start section-layout
            .section-layout._section-layout.is-white
              ._body
                ._card.is-border
                  // start program-card
                  a.program-card.is-row(href='#' title='')
                    ._header
                      ._photo
                        img.img-cover._img(src='__static__img/content/programs/1.jpg' alt='')

                      ._back
                        +button({
                            title: 'Начать обучение',
                            type: 'is-danger is-round',
                            size: 'is-large'
                        }, {
                            class: 'program-card__button'
                        })

                        span._more Подробнее о программе

                    ._body
                      ._badges
                        +badge({
                            title: 'Курс',
                            type: 'is-danger is-round',
                            size: 'is-small'
                        }, {
                            class: 'program-card__badge'
                        })

                      h3.card-title._title Концессия и ГЧП: базовый курс

                      .program-info._info
                        ._main
                          ._item Гибкие сроки обучения
                          ._item 7 акад. часов

                        ._aside
                          ._price 9 900 ₽
                  // end program-card

                ._card.is-border
                  // start program-card
                  a.program-card.is-row(href='#' title='')
                    ._header
                      ._photo
                        img.img-cover._img(src='__static__img/content/programs/2.jpg' alt='')

                      ._back
                        +button({
                            title: 'Начать обучение',
                            type: 'is-danger is-round',
                            size: 'is-large'
                        }, {
                            class: 'program-card__button'
                        })

                        span._more Подробнее о программе

                    ._body
                      ._badges
                        +badge({
                            title: 'Видеолекция',
                            type: 'is-danger is-round',
                            size: 'is-small'
                        }, {
                            class: 'program-card__badge'
                        })

                      h3.card-title._title Концессия и ГЧП: продвинутый курс

                      .program-info._info
                        ._main
                          ._item Гибкие сроки обучения
                          ._item 7 акад. часов

                        ._aside
                          ._price 29 900 ₽
                  // end program-card

                ._card.is-border
                  // start program-card
                  a.program-card.is-row(href='#' title='')
                    ._header
                      ._photo
                        img.img-cover._img(src='__static__img/content/programs/5.jpg' alt='')

                      ._back
                        +button({
                            title: 'Начать обучение',
                            type: 'is-danger is-round',
                            size: 'is-large'
                        }, {
                            class: 'program-card__button'
                        })

                        span._more Подробнее о программе

                    ._body
                      ._badges
                        +badge({
                            title: 'Видеолекция',
                            type: 'is-danger is-round',
                            size: 'is-small'
                        }, {
                            class: 'program-card__badge'
                        })

                      h3.card-title._title Реализация проектов ГЧП в сфере здравоохранения

                      .program-info._info
                        ._main
                          ._item Гибкие сроки обучения
                          ._item 7 акад. часов

                        ._aside
                          ._price 2 900 ₽
                  // end program-card

                ._card.is-border
                  // start program-card
                  a.program-card.is-row(href='#' title='')
                    ._header
                      ._photo
                        img.img-cover._img(src='__static__img/content/programs/4.jpg' alt='')

                      ._back
                        +button({
                            title: 'Начать обучение',
                            type: 'is-danger is-round',
                            size: 'is-large'
                        }, {
                            class: 'program-card__button'
                        })

                        span._more Подробнее о программе

                    ._body
                      ._badges
                        +badge({
                            title: 'Видеолекция',
                            type: 'is-danger is-round',
                            size: 'is-small'
                        }, {
                            class: 'program-card__badge'
                        })

                      h3.card-title._title Реализация проектов ГЧП в транспортной сфере

                      .program-info._info
                        ._main
                          ._item Гибкие сроки обучения
                          ._item 2 акад. часов

                        ._aside
                          ._price 2 900 ₽
                  // end program-card

                ._card.is-border
                  // start program-card
                  a.program-card.is-row(href='#' title='')
                    ._header
                      ._photo
                        img.img-cover._img(src='__static__img/content/programs/6.jpg' alt='')

                      ._back
                        +button({
                            title: 'Начать обучение',
                            type: 'is-danger is-round',
                            size: 'is-large'
                        }, {
                            class: 'program-card__button'
                        })

                        span._more Подробнее о программе

                    ._body
                      ._badges
                        +badge({
                            title: 'Видеолекция',
                            type: 'is-danger is-round',
                            size: 'is-small'
                        }, {
                            class: 'program-card__badge'
                        })

                      h3.card-title._title Реализация проектов ГЧП в сфере теплоснабжения, водоснабжения и водоотведения

                      .program-info._info
                        ._main
                          ._item Гибкие сроки обучения
                          ._item 2 акад. часов

                        ._aside
                          ._price 2 900 ₽
                  // end program-card

                ._card.is-border
                  // start program-card
                  a.program-card.is-row(href='#' title='')
                    ._header
                      ._photo
                        img.img-cover._img(src='__static__img/content/programs/7.jpg' alt='')

                      ._back
                        +button({
                            title: 'Начать обучение',
                            type: 'is-danger is-round',
                            size: 'is-large'
                        }, {
                            class: 'program-card__button'
                        })

                        span._more Подробнее о программе

                    ._body
                      ._badges
                        +badge({
                            title: 'Видеолекция',
                            type: 'is-danger is-round',
                            size: 'is-small'
                        }, {
                            class: 'program-card__badge'
                        })

                      h3.card-title._title Реализация проектов ГЧП в сфере обращения с ТКО

                      .program-info._info
                        ._main
                          ._item Гибкие сроки обучения
                          ._item 2 акад. часа

                        ._aside
                          ._price 2 900 ₽
                  // end program-card

                ._card.is-border
                  // start program-card
                  a.program-card.is-row(href='#' title='')
                    ._header
                      ._photo
                        img.img-cover._img(src='__static__img/content/programs/8.jpg' alt='')

                      ._back
                        +button({
                            title: 'Начать обучение',
                            type: 'is-danger is-round',
                            size: 'is-large'
                        }, {
                            class: 'program-card__button'
                        })

                        a._more(href='#' title='Подробнее о программе') Подробнее о программе

                    ._body
                      ._badges
                        +badge({
                            title: 'Видеолекция',
                            type: 'is-danger is-round',
                            size: 'is-small'
                        }, {
                            class: 'program-card__badge'
                        })

                      h3.card-title._title
                        a._link(href='#' title='') Реализация инфраструктурных проектов в отношении объектов культурного наследия

                      .program-info._info
                        ._main
                          ._item Гибкие сроки обучения
                          ._item 2 акад. часов

                        ._aside
                          ._price 2 900 ₽
                  // end program-card

                ._card.is-border
                  // start program-card
                  .program-card.is-row
                    ._header
                      ._photo
                        img.img-cover._img(src='__static__img/content/programs/9.jpg' alt='')

                      ._back
                        +button({
                            title: 'Начать обучение',
                            type: 'is-danger is-round',
                            size: 'is-large'
                        }, {
                            class: 'program-card__button'
                        })

                        a._more(href='#' title='Подробнее о программе') Подробнее о программе

                    ._body
                      ._badges
                        +badge({
                            title: 'Видеолекция',
                            type: 'is-danger is-round',
                            size: 'is-small'
                        }, {
                            class: 'program-card__badge'
                        })

                        +badge({
                            title: 'Бесплатно',
                            type: 'is-secondary is-round',
                            size: 'is-small'
                        }, {
                            class: 'program-card__badge'
                        })

                      h3.card-title._title
                        a._link(href='#' title='') Реализация проектов ГЧП в области физической культуры и спорта

                      .program-info._info
                        ._main
                          ._item Гибкие сроки обучения
                          ._item 2 акад. часов

                        ._aside
                          ._price 2 900 ₽
                  // end program-card

                ._card.is-border
                  // start program-card
                  .program-card.is-row
                    ._header
                      ._photo
                        img.img-cover._img(src='__static__img/content/programs/10.jpg' alt='')

                      ._back
                        +button({
                            title: 'Начать обучение',
                            type: 'is-danger is-round',
                            size: 'is-large'
                        }, {
                            class: 'program-card__button'
                        })

                        a._more(href='#' title='Подробнее о программе') Подробнее о программе

                    ._body
                      ._badges
                        +badge({
                            title: 'Повышение квалификации',
                            type: 'is-danger is-round',
                            size: 'is-small'
                        }, {
                            class: 'program-card__badge'
                        })

                      h3.card-title._title
                        a._link(href='#' title='') Управление инвестиционными проектами, реализуемыми на принципах ГЧП

                      .program-info._info
                        ._main
                          ._item 12 - 23 октября 2020 года
                          ._item 54 акад. часов

                        ._aside
                          ._price 59 900 ₽
                  // end program-card

                ._card.is-border
                  // start program-card
                  .program-card.is-row
                    ._header
                      ._photo
                        img.img-cover._img(src='__static__img/content/programs/11.jpg' alt='')

                      ._back
                        +button({
                            title: 'Начать обучение',
                            type: 'is-danger is-round',
                            size: 'is-large'
                        }, {
                            class: 'program-card__button'
                        })

                        a._more(href='#' title='Подробнее о программе') Подробнее о программе

                    ._body
                      ._badges
                        +badge({
                            title: 'Повышение квалификации',
                            type: 'is-danger is-round',
                            size: 'is-small'
                        }, {
                            class: 'program-card__badge'
                        })

                      h3.card-title._title
                        a._link(href='#' title='') Финансовое моделирование в проектах ГЧП: практические аспекты

                      .program-info._info
                        ._main
                          ._item 25 - 27 ноября 2020 года
                          ._item 27 акад. часов

                        ._aside
                          ._price 65 000 ₽
                  // end program-card
            // end section-layout

            // start page-navigation
            .page-navigation._navigation
              ._main
                ul._list
                  li._item
                    a._link.is-active(href='#' title='') 1
                  li._item
                    a._link(href='#' title='') 2
                  li._item
                    a._link(href='#' title='') 3
                  li._item
                    a._link(href='#' title='') 4
                  li._item
                    a._link(href='#' title='') 5
                  li._item
                    span._link(href='#' title='') ...
                  li._item
                    a._link(href='#' title='') 21

              ._aside
                ul._list
                  li._item
                    a._link.is-prev.is-disabled(href='#' title='')
                      i.fe.fe-chevrons-left
                  li._item
                    a._link.is-next(href='#' title='')
                      i.fe.fe-chevrons-right
            // end page-navigation

          // end main-content

          // start main-aside
          aside.main-aside._aside.is-secondary
            ._container.js-main-aside-sticky

              // start aside-widget
              .aside-widget._widget
                ._header.is-border
                  h4._heading Фильтр:
                    span.badge.is-danger 5

                  ._reset Сбросить

                ._body
                  form.widget-form._form(action='#' method='post')
                    ._body
                      ._group
                        ._content
                          .form-group._field
                            +input-control({
                                type: 'checkbox',
                                label: 'Онлайн',
                                theme: 'is-outline',
                                checked: true
                            })

                          .form-group._field
                            +input-control({
                                type: 'checkbox',
                                label: 'Офлайн',
                                theme: 'is-outline'
                            })

                          .form-group._field
                            +input-control({
                                type: 'checkbox',
                                label: 'Офлайн + Онлайн',
                                theme: 'is-outline'
                            })

                      ._group
                        ._heading Стоимость:
                        ._content
                          .form-group._field
                            .range-group._range.js-range-group
                              ._header
                                ._value
                                  +input-text({
                                      type: 'text',
                                      size: 'is-average',
                                      value: 0
                                  }, {
                                      class: 'js-range-group-min',
                                      'data-regex': 'От \\d* ₽'
                                  })

                                ._value
                                  +input-text({
                                      type: 'text',
                                      size: 'is-average',
                                      value: 100000
                                  }, {
                                      class: 'js-range-group-max',
                                      'data-regex': 'До \\d* ₽'
                                  })

                              ._body
                                .range-slider.js-range-group-slider.is-secondary(data-min='0' data-max='100000' data-start='0' data-end='100000' data-step='500')

                          .form-group._field
                            +input-control({
                                type: 'checkbox',
                                label: 'Бесплатные программы',
                                theme: 'is-outline',
                                checked: true
                            })

                      ._group
                        ._heading Для кого:
                        ._content
                          .form-group._field
                            +input-control({
                                type: 'checkbox',
                                label: 'Новичок',
                                theme: 'is-outline',
                                checked: true
                            })

                          .form-group._field
                            +input-control({
                                type: 'checkbox',
                                label: 'Специалист',
                                theme: 'is-outline'
                            })

                      ._group
                        ._heading Продолжительность:
                        ._content
                          .range-group._range.js-range-group
                            ._header
                              ._value
                                +input-text({
                                    type: 'text',
                                    size: 'is-average',
                                    value: 2
                                }, {
                                    class: 'js-range-group-min',
                                    'data-regex': 'От \\d* часов'
                                })

                              ._value
                                +input-text({
                                    type: 'text',
                                    size: 'is-average',
                                    value: 72
                                }, {
                                    class: 'js-range-group-max',
                                    'data-regex': 'До \\d* часов'
                                })

                            ._body
                              .range-slider.js-range-group-slider.is-secondary(data-min='2' data-max='72' data-start='2' data-end='72' data-step='1')


                      ._group
                        ._heading Тип программы:
                        ._content.js-accordion.js-list(data-show-count='3')
                          .form-group._field.js-accordion-item.js-list-item
                            +input-control({
                                type: 'checkbox',
                                label: 'Видеолекция',
                                theme: 'is-outline'
                            })

                          .form-group._field.js-accordion-item.js-list-item
                            +input-control({
                                type: 'checkbox',
                                label: 'Курс',
                                theme: 'is-outline',
                                checked: true
                            })

                          .form-group._field.js-accordion-item.js-list-item
                            +input-control({
                                type: 'checkbox',
                                label: 'Повышение квалификации',
                                theme: 'is-outline'
                            })
                          .form-group._field.js-accordion-item.js-list-item
                            +input-control({
                                type: 'checkbox',
                                label: 'Повышение квалификации',
                                theme: 'is-outline'
                            })
                          .form-group._field.js-accordion-item.js-list-item
                            +input-control({
                                type: 'checkbox',
                                label: 'Повышение квалификации',
                                theme: 'is-outline'
                            })
                          ._footer.-secondary.js-list-toggle-parent
                            span.link-more-chevron._link-more.js-list-toggle Показать ещё
                              i.fe.fe-chevron-down._icon

                      ._group
                        ._heading Направление:
                        ._content.js-accordion.js-list(data-show-count='3')
                          .form-group._field.js-accordion-item.js-list-item
                            +input-control({
                                type: 'checkbox',
                                label: 'Общее',
                                theme: 'is-outline'
                            })

                          .form-group._field.js-accordion-item.js-list-item
                            +input-control({
                                type: 'checkbox',
                                label: 'Право',
                                theme: 'is-outline',
                                checked: true
                            })

                          .form-group._field.js-accordion-item.js-list-item
                            +input-control({
                                type: 'checkbox',
                                label: 'Финансы',
                                theme: 'is-outline'
                            })
                          .form-group._field.js-accordion-item.js-list-item
                            +input-control({
                                type: 'checkbox',
                                label: 'Финансы',
                                theme: 'is-outline'
                            })
                          .form-group._field.js-accordion-item.js-list-item
                            +input-control({
                                type: 'checkbox',
                                label: 'Финансы',
                                theme: 'is-outline'
                            })
                          ._footer.-secondary.js-list-toggle-parent
                            span.link-more-chevron._link-more.js-list-toggle Показать ещё
                              i.fe.fe-chevron-down._icon
              // end aside-widget

          // end main-aside
    // end main-body


    .scrolltop._scrolltop
      a._link.js-scrolltop(href="#body")
        span._text Вернуться наверх страницы
        ._icon
          <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 4L4.5 1L8 4" stroke="#9199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
