mixin wiget-copy(data)
	// start wiget-copy
	.wiget-copy.js-wiget-copy
		._container.container
			._body
				._main
					._title Ваш персональный токен (ссылка):
					a._link.js-copy-text(href="#" target="_blank")#link-val https://rosinfra.ru/plan/proektirovanie-stroitelstvo-finansirovanie-i-tehniceskoe-obsluzivanie-obektov-zdravoohraneniazdohrgfgfhfghfghfghfghfghg
				._aside
					._tooltip
						._drop
							span drop text, more information
					button._copy.js-copy-button
						._alert.js-copy-alert Текст скопирован в буфер

	// end wiget-copy