.wiget-copy{
  &__body{
    display: flex;
    align-items: center;

    padding: 10px 20px;

    background: #23346B;
    border-radius: 5px;
  }

  &__main{
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    min-width: 0;
    padding-right: 15px;
  }

  &__title{
    display: flex;
    align-items: center;

    color: #FFFFFF;
    font-weight: 500;
    white-space: nowrap;

    &:before{
      content: '';
      flex-shrink: 0;
      margin-right: 10px;
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5918 8.70469C6.89412 9.10927 7.27984 9.44403 7.72278 9.68627C8.16572 9.92851 8.65552 10.0726 9.15897 10.1087C9.66242 10.1447 10.1677 10.072 10.6406 9.89545C11.1135 9.71886 11.543 9.44254 11.8998 9.08522L14.0118 6.97117C14.6529 6.30665 15.0077 5.41662 14.9997 4.4928C14.9917 3.56897 14.6215 2.68525 13.9689 2.03198C13.3163 1.37871 12.4334 1.00816 11.5105 1.00013C10.5876 0.992105 9.69847 1.34725 9.03461 1.98906L7.82376 3.19407' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.40804 7.29578C9.10572 6.8912 8.72 6.55644 8.27706 6.3142C7.83412 6.07196 7.34432 5.92791 6.84087 5.89181C6.33742 5.85572 5.83211 5.92843 5.3592 6.10502C4.8863 6.2816 4.45686 6.55793 4.10002 6.91525L1.98808 9.0293C1.3469 9.69382 0.992113 10.5838 1.00013 11.5077C1.00815 12.4315 1.37834 13.3152 2.03096 13.9685C2.68358 14.6218 3.56641 14.9923 4.48932 15.0003C5.41223 15.0084 6.30137 14.6532 6.96523 14.0114L8.16904 12.8064' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }

  &__link{
    margin-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #FFFFFF;
    opacity: 0.7;
    text-decoration: underline;
  }

  &__aside{
    display: flex;
    align-items: center;

    flex: 0 0 auto;
  }

  &__tooltip{
    position: relative;
    cursor: pointer;
    margin-right: 15px;

    &:before{
      content: '';
      width: 18px;
      display: block;
      height: 18px;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.7'%3E%3Cpath d='M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z' stroke='white' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.67188 6.59967C6.85996 6.06501 7.2312 5.61416 7.71984 5.32698C8.20848 5.0398 8.78299 4.93482 9.34162 5.03064C9.90024 5.12646 10.4069 5.41689 10.7719 5.8505C11.1369 6.2841 11.3367 6.83289 11.3359 7.39967C11.3359 8.99967 8.93588 9.79967 8.93588 9.79967' stroke='white' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.64314 13.5716C9.64314 13.9266 9.35532 14.2144 9.00028 14.2144C8.64524 14.2144 8.35742 13.9266 8.35742 13.5716C8.35742 13.2165 8.64524 12.9287 9.00028 12.9287C9.35532 12.9287 9.64314 13.2165 9.64314 13.5716Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
    }

    &:hover{
      .wiget-copy{
        &__drop{
          opacity: 1;
          visibility: visible;
          transition: 0.5s;
        }
      }
    }
  }

  &__drop{
    position: absolute;
    right: -15px;
    bottom: calc(100% + 10px);

    width: 200px;
    padding: 10px;

    visibility: hidden;
    opacity: 0;

    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: 0px 11px 50px rgba(35, 52, 107, 0.5);

    &:after{
      content: '';
      position: absolute;
      right: 20px;
      top: calc(100% - 5px);
      width: 8px;
      height: 8px;
      background: #fff;
      transform: rotate(45deg);
    }

    span{
      display: block;
      text-align: center;
      color: #979fb9;
      font-size: 12px;
    }
  }

  &__copy{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    width: 35px;
    height: 35px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border: 1px solid transparent;
    outline: 0;
    transition: 0.5s;

    &:before{
      content: '';
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6005 5.89941H7.30041C6.5272 5.89941 5.90039 6.52622 5.90039 7.29944V13.5995C5.90039 14.3727 6.5272 14.9996 7.30041 14.9996H13.6005C14.3737 14.9996 15.0005 14.3727 15.0005 13.5995V7.29944C15.0005 6.52622 14.3737 5.89941 13.6005 5.89941Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.10003 10.1001H2.40002C2.02871 10.1001 1.67261 9.95263 1.41006 9.69008C1.1475 9.42753 1 9.07142 1 8.70012V2.40002C1 2.02871 1.1475 1.67261 1.41006 1.41006C1.67261 1.1475 2.02871 1 2.40002 1H8.70012C9.07142 1 9.42753 1.1475 9.69008 1.41006C9.95263 1.67261 10.1001 2.02871 10.1001 2.40002V3.10003' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
    
    &:hover{
      border: 1px solid #fff;
      transition: 0.5s;
    }
  }

  &__alert{
    display: none;
    position: absolute;
    left: -8px;
    bottom: calc(100% + 10px);

    width: 200px;
    padding: 10px 5px;
    font-size: 12px;

    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    color: green;
    box-shadow: 0px 11px 50px rgba(35, 52, 107, 0.5);

    &:after{
      content: '';
      position: absolute;
      left: 20px;
      top: calc(100% - 5px);
      width: 8px;
      height: 8px;
      background: #fff;
      transform: rotate(45deg);
    }
  }
}