extends ../../template

include ../../../components/section-default/section-default

include ../../../components/expert-card/expert-card

include ../../../components/select/select
include ../../../components/button/button

block append settings
  -
    page.title = 'Библиотека аналитических материалов';


block page-body

  main.page-main

    .breadcrumbs._breadcrumbs
      ._container.container
        ul._list
          li._item
            a._link(href="/") Главная
          li._item
            a._link(href="#") Тренды и аналитика
          li._item
            a._link(href="#") Судебная практика и решения ФАС в сфере ГЧП
          li._item
            a._link(href="#") Судебная практика
          li._item
            span._link.is-short Id 2322

    // start main-body
    .main-body._body.-lights
      ._container.container
        .libs-detail._libs-detail
          ._body
            ._main

              ._inner
                ._data
                  ._title Судебный акт по делу #[span № А46-18988/2018 от 20.07.2018]
                  ._label Добавлено: #[time(datetime="2019-01-28") 28.01.2019 19:01]

                  ._act-info-section
                    ._act-info-column.-first
                      ._act-info
                        ._act-info-item.is-closed.js-accordion-item
                          ._act-info-heading Основная информация
                          ._act-info-heading.-trigger.js-accordion-toggle Основная информация
                          ._act-info-body.js-accordion-body(style="display: none")

                            dl._act-info-params
                              ._act-info-param
                                dt._act-info-param-property Номер дела:
                                dd._act-info-param-value А46-18988/2018
                              ._act-info-param
                                dt._act-info-param-property Инстанция:
                                dd._act-info-param-value Кассационная
                              ._act-info-param
                                dt._act-info-param-property Дата:
                                dd._act-info-param-value 20.07.2018
                              ._act-info-param
                                dt._act-info-param-property Наименование суда:
                                dd._act-info-param-value Арбитражный суд Ульяновской области
                              ._act-info-param
                                dt._act-info-param-property Федеральный округ:
                                dd._act-info-param-value ПФО
                              ._act-info-param
                                dt._act-info-param-property Субъект РФ:
                                dd._act-info-param-value Ульяновская область

                            .tags-list
                              ul._list
                                li._item
                                  span._text #Городское развитие
                                li._item
                                  span._text #Меры поддержки инвесторов
                                li._item
                                  span._text #Цели в области устойчивого развития
                                li._item
                                  span._text #Качественные инфраструкту
                                li._item
                                  span._text #Городское развитие
                                li._item
                                  span._text #Меры поддержки инвесторов
                                li._item
                                  span._text #Цели в области устойчивого развития
                                li._item
                                  span._text #Качественные инфраструктурные инвестицииa

                    ._act-info-column

                      ._act-info
                        ._act-info-item.is-closed.js-accordion-item
                          ._act-info-heading.-trigger.js-accordion-toggle Информация о проекте
                          ._act-info-body.js-accordion-body(style="display: none")

                            ._section
                              ._section-title Наименование проекта:
                              ._section-text
                                p Концессионное соглашение на создание, реконструкцию с последующим содержанием и эксплуатацией муниципального имущества, предназначенного для организации отдыха граждан и туризма, расположенного на особо охраняемой природной территории местного значения садово-парковый ландшафт "Дельфин" по адресу: г. Воронеж, ул. Остужева, 2

                            ._section
                              ._section-title Сфера реализации:
                              ul._section-category-list
                                li._section-category-item.-tree Благоустройство и сопутствующая инженерно-техническая инфраструктура
                                li._section-category-item.-bench Благоустройство общественных пространств
                                li._section-category-item.-socket Коммунально-энергетическая

                            ._section
                              ._section-title Отрасль реализации:
                              ul._section-category-list
                                li._section-category-item.-light Улично-дорожное освещение
                                li._section-category-item.-bench Благоустройство общественных пространств

                            ._section
                              ._section-title Подострасль:
                              ul._section-sublist
                                li._section-subitem Освещение населённых пунктов, в том числе свето-цветовое оформление
                                li._section-subitem Освещение автомобильных дорог

                            ._section
                              ._section-title Форма реализации:
                              ul._section-sublist
                                li._section-subitem Концессионное соглашение
                                li._section-subitem Соглашение о сотрудничестве

                            ._section
                              ._section-title Частный партнер:

                              ._section-parner
                                a.partner-link(href="#")
                                  img._img(src="../../assets/img/content/digest/tech-logo.png" srcset="../../assets/img/content/digest/tech-logo.png 1x, ../../assets/img/content/digest/tech-logo@2.png 2x" alt="" width="47" height="47")
                                  ._name ООО &laquo;БЛ Техникс&raquo;

                            ._section
                              ._section-title Публичный партнер:

                              ._section-parner
                                a.partner-link(href="#")
                                  img._img(src="../../assets/img/content/digest/rus-education-logo.png" srcset="../../assets/img/content/digest/rus-education-logo.png 1x, ../../assets/img/content/digest/rus-education-logo@2.png 2x" alt="" width="47" height="47")
                                  ._name Муниципальное образование города Ульяновск

                      ._act-info
                        ._act-info-item.js-accordion-item
                          ._act-info-heading.-trigger.js-accordion-toggle Информация о споре
                          ._act-info-body.js-accordion-body(style="display: none")

                            ._section
                              ._section-title Обратился:
                              ul._section-sublist
                                li._section-subitem Прокурор
                                li._section-subitem УФАС
                                li._section-subitem Публичное образование

                            ._section
                              ._section-title Категории спора:
                              ul._section-sublist
                                li._section-subitem Взыскание расходов, возникших до заключения концессионного соглашения
                                li._section-subitem Непередача в концессию

                            ._section
                              ._section-title Тематика спора:
                              ul._section-sublist
                                li._section-subitem Взыскание расходов, возникших до заключения концессионного соглашения

                            ._section
                              ._section-title Выиграл:
                              ul._section-sublist
                                li._section-subitem Текстовое поле наименования выигравшей стороны
                                li._section-subitem Текстовое поле наименования выигравшей стороны номер два

                            ._section
                              ._section-title Проиграл:
                              ul._section-sublist
                                li._section-subitem Текстовое поле наименования выигравшей стороны
                                li._section-subitem Текстовое поле наименования выигравшей стороны номер два

                            dl._summary
                              ._summary-item
                                dt._summary-caption Влияние на рынок
                                dd._summary-desc.is-negative Отрицательное

                      ._act-info
                        ._act-info-item.js-accordion-item
                          ._act-info-heading.-trigger.js-accordion-toggle Развернутый комментарий
                          ._act-info-body.js-accordion-body(style="display: none")

                            ._section
                              ._section-text.js-list(data-show-count='2')
                                ._full-desc
                                  p.js-list-item Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.

                                  p.js-list-item По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.

                                  p.js-list-item Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.

                                  p.js-list-item По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.

                                ._footer.js-list-toggle-parent
                                  span._more.js-list-toggle Читать полностью #[i.fe.fe-chevron-down]

                ._controls

                  ._actions
                    ._actions-inner
                      a.button-download._download(href="#" target="_blank")
                        ._main
                          span._title Скачать акт
                          ._labels
                            ._meta Формат: PDF
                            ._meta Вес: 0.8 Мб
                        ._aside
                          ._icon
                      a._button.-link(href="#") Ссылка на акт
                      a._button.-favorite(href="#") Добавить в избранное

                  ._quotes.js-accordion-item

                    ._quotes-heading Цитаты из акта
                    ._quotes-heading.-trigger.js-accordion-toggle Цитаты из акта

                    ._quotes-body.js-accordion-body(style="display: none")

                      ._quotes-list.js-list(data-show-count='2')

                        ._quotes-list-main

                          blockquote._quote.js-limit-area.js-list-item
                            ._quote-icon
                              <svg width="35" height="28" viewBox="0 0 35 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M27.9483 15.2798C27.9483 19.4809 27.9483 20.1815 24.4491 20.1815L24.4491 28C32.6135 28 34.9492 22.5109 34.9492 12.8296L34.9492 -1.90735e-06L19.7801 -3.23348e-06L19.7801 12.8296L27.9483 12.8296L27.9483 15.2798Z" fill="white"/>
                              <path d="M8.96516 12.8296L8.96516 15.2798C8.96516 19.4809 8.96516 20.1815 5.46594 20.1815L5.46594 28C13.6304 28 15.9648 22.5109 15.9648 12.8296L15.9648 -1.90735e-06L0.803262 -3.23282e-06L0.803261 12.8296L8.96516 12.8296Z" fill="white"/>
                              </svg>
                            p._quote-desc.js-limit-area-main По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст
                            span._quote-collapse.js-limit-area-toggle Раскрыть полностью #[i.fe.fe-chevron-down]
                          blockquote._quote.js-limit-area.js-list-item
                            ._quote-icon
                              <svg width="35" height="28" viewBox="0 0 35 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M27.9483 15.2798C27.9483 19.4809 27.9483 20.1815 24.4491 20.1815L24.4491 28C32.6135 28 34.9492 22.5109 34.9492 12.8296L34.9492 -1.90735e-06L19.7801 -3.23348e-06L19.7801 12.8296L27.9483 12.8296L27.9483 15.2798Z" fill="white"/>
                              <path d="M8.96516 12.8296L8.96516 15.2798C8.96516 19.4809 8.96516 20.1815 5.46594 20.1815L5.46594 28C13.6304 28 15.9648 22.5109 15.9648 12.8296L15.9648 -1.90735e-06L0.803262 -3.23282e-06L0.803261 12.8296L8.96516 12.8296Z" fill="white"/>
                              </svg>
                            p._quote-desc.js-limit-area-main Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor modi numquam odit officiis quasi repellendus sint? Consectetur excepturi inventore pariatur quasi sed voluptatem, voluptatum! Doloribus esse exercitationem impedit maiores unde? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor modi numquam odit officiis quasi repellendus sint? Consectetur excepturi inventore pariatur quasi sed voluptatem, voluptatum! Doloribus esse exercitationem impedit maiores unde?
                            span._quote-collapse.js-limit-area-toggle Раскрыть полностью #[i.fe.fe-chevron-down]
                          blockquote._quote.js-limit-area.js-list-item
                            ._quote-icon
                              <svg width="35" height="28" viewBox="0 0 35 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M27.9483 15.2798C27.9483 19.4809 27.9483 20.1815 24.4491 20.1815L24.4491 28C32.6135 28 34.9492 22.5109 34.9492 12.8296L34.9492 -1.90735e-06L19.7801 -3.23348e-06L19.7801 12.8296L27.9483 12.8296L27.9483 15.2798Z" fill="white"/>
                              <path d="M8.96516 12.8296L8.96516 15.2798C8.96516 19.4809 8.96516 20.1815 5.46594 20.1815L5.46594 28C13.6304 28 15.9648 22.5109 15.9648 12.8296L15.9648 -1.90735e-06L0.803262 -3.23282e-06L0.803261 12.8296L8.96516 12.8296Z" fill="white"/>
                              </svg>
                            p._quote-desc.js-limit-area-main Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor modi numquam odit officiis quasi repellendus sint? Consectetur excepturi inventore pariatur quasi sed voluptatem, voluptatum! Doloribus esse exercitationem impedit maiores unde? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor modi numquam odit officiis quasi repellendus sint? Consectetur excepturi inventore pariatur quasi sed voluptatem, voluptatum! Doloribus esse exercitationem impedit maiores unde?
                            span._quote-collapse.js-limit-area-toggle Раскрыть полностью #[i.fe.fe-chevron-down]
                          blockquote._quote.js-limit-area.js-list-item
                            ._quote-icon
                              <svg width="35" height="28" viewBox="0 0 35 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M27.9483 15.2798C27.9483 19.4809 27.9483 20.1815 24.4491 20.1815L24.4491 28C32.6135 28 34.9492 22.5109 34.9492 12.8296L34.9492 -1.90735e-06L19.7801 -3.23348e-06L19.7801 12.8296L27.9483 12.8296L27.9483 15.2798Z" fill="white"/>
                              <path d="M8.96516 12.8296L8.96516 15.2798C8.96516 19.4809 8.96516 20.1815 5.46594 20.1815L5.46594 28C13.6304 28 15.9648 22.5109 15.9648 12.8296L15.9648 -1.90735e-06L0.803262 -3.23282e-06L0.803261 12.8296L8.96516 12.8296Z" fill="white"/>
                              </svg>
                            p._quote-desc.js-limit-area-main Lorem ipsum dolor sit amet, consectetur adipisicing elit
                          blockquote._quote.js-limit-area.js-list-item
                            ._quote-icon
                              <svg width="35" height="28" viewBox="0 0 35 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M27.9483 15.2798C27.9483 19.4809 27.9483 20.1815 24.4491 20.1815L24.4491 28C32.6135 28 34.9492 22.5109 34.9492 12.8296L34.9492 -1.90735e-06L19.7801 -3.23348e-06L19.7801 12.8296L27.9483 12.8296L27.9483 15.2798Z" fill="white"/>
                              <path d="M8.96516 12.8296L8.96516 15.2798C8.96516 19.4809 8.96516 20.1815 5.46594 20.1815L5.46594 28C13.6304 28 15.9648 22.5109 15.9648 12.8296L15.9648 -1.90735e-06L0.803262 -3.23282e-06L0.803261 12.8296L8.96516 12.8296Z" fill="white"/>
                              </svg>
                            p._quote-desc.js-limit-area-main Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor modi numquam odit officiis quasi repellendus sint? Consectetur excepturi inventore pariatur quasi sed voluptatem, voluptatum! Doloribus esse exercitationem impedit maiores unde? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor modi numquam odit officiis quasi repellendus sint? Consectetur excepturi inventore pariatur quasi sed voluptatem, voluptatum! Doloribus esse exercitationem impedit maiores unde?
                            span._quote-collapse.js-limit-area-toggle Раскрыть полностью #[i.fe.fe-chevron-down]
                        
                        ._quotes-footer.js-list-toggle-parent
                          span._quotes-more.js-list-toggle Показать все #[i.fe.fe-chevron-down]

                    .tags-list
                      ul._list
                        li._item
                          span._text #Городское развитие
                        li._item
                          span._text #Меры поддержки инвесторов
                        li._item
                          span._text #Цели в области устойчивого развития
                        li._item
                          span._text #Качественные инфраструкту
                        li._item
                          span._text #Городское развитие
                        li._item
                          span._text #Меры поддержки инвесторов
                        li._item
                          span._text #Цели в области устойчивого развития
                        li._item
                          span._text #Качественные инфраструктурные инвестицииa

    // end main-body

  .scrolltop._scrolltop
    a._link.js-scrolltop(href="#body")
      span._text Вернуться наверх страницы
      ._icon
        <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 4L4.5 1L8 4" stroke="#9199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
