extends ../../template

include ../../../components/section-default/section-default

include ../../../components/expert-card/expert-card

include ../../../components/select/select
include ../../../components/button/button

block append settings
  -
    page.title= 'Судебная практика и решения ФАС в сфере ГЧП';


block page-body

  main.page-main

    .breadcrumbs._breadcrumbs
      ._container.container
        ul._list
          li._item
            a._link(href="/") Главная
          li._item
            a._link(href="#") Тренды и аналитика
          li._item
            span._link Судебная практика и решения ФАС в сфере ГЧП

    // start main-header
    .main-header._header.no-border
      ._container.container
        ._content
          h1.main-heading.is-large._heading= page.title
    // end main-header

    // start inline-menu
    .inline-menu.is-dark._inline-menu
      ._container.container
        ul._list
          li._item
            a._link(href="#") Инвестиции в инфраструктуру
          li._item
            a._link(href="#") Национальные проекты
          li._item
            a._link(href="#") Рейтинг регионов
          li._item
            a._link(href="#") ГЧП в России
          li._item.is-active
            a._link(href="#") База решений судов и ФАС
          li._item
            a._link(href="#") Аналитические материалы
    // end inline-menu

    // start main-body
    .main-body._body.is-new-mobile
      ._container.container

        // start filter-inline
        // .filter-inline
        //   ._header

        //   ._body
        // end filter-inline

        .js-tabs
          // court-controls
          .court-controls

            .court-controls__btns
              button.court-controls__btn.button.is-secondary.is-small.js-tabs-button Судебная практика
              button.court-controls__btn.button.is-secondary.is-small.js-tabs-button.is-active Решения ФАС

            .court-controls__more
              .court-controls__stat
                .program-stats
                    ul.program-stats__list
                      li.program-stats__item
                        span.program-stats__title Судебных актов:
                        .program-stats__numbers
                          span.program-stats__number 3
                          span.program-stats__number 1
                          span.program-stats__number 4
                          span.program-stats__number 8

              a.court-controls__download-btn.button.is-outline-secondary.is-medium(href="#" download) &nbsp;
              .court-controls__filter-caption Задать параметры:
              .court-controls__filter-btn.button.is-outline-secondary.is-medium.js-filter-toggle 
                | Фильтры #[span 0]

            // dropdown-filter
            .dropdown-filter
              .dropdown-filter__inner

                .dropdown-filter__rows

                  .dropdown-filter__col.dropdown-filter__col--type-1
                    .dropdown-filter__main
                      .dropdown-filter__entity
                        .dropdown-filter__heading Теги
                        .dropdown-filter__search-wrap
                          +input-text({
                            type: 'search',
                            placeholder: 'Введите поисковый запрос'
                          }, {
                            class: 'dropdown-filter__search-field'
                          })
                      .dropdown-filter__entity
                        .dropdown-filter__heading Категория спора
                        .dropdown-filter__type
                          .select-custom.js-custom-select(data-placeholder='Выберите вариант')
                            ._header.js-custom-select-header
                              +input-text({
                                type: 'text',
                                placeholder: 'Выберите вариант'
                              }, {
                                class: 'select-custom__input js-custom-select-input'
                              })
                            ._body
                              ._dropdown
                                ._scrollbar.js-scrollbar
                                  ._content.js-select-custom-list
                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Вариант 1',
                                        theme: 'is-outline'
                                      })

                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Вариант 2',
                                        theme: 'is-outline'
                                      })

                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Вариант 3',
                                        theme: 'is-outline'
                                      })
                                ._footer
                                  +button({
                                    title: 'Применить фильтр',
                                    type: 'is-outline-secondary is-block'
                                  }, {
                                    class: 'js-select-custom-apply'
                                  })

                          //-   +select({
                          //-     type: 'is-default',
                          //-     placeholder: 'Выберите вариант',
                          //-     options: [{
                          //-       title: 'Категория 1'
                          //-     }, {
                          //-       title: 'Категория 2'
                          //-     }, {
                          //-       title: 'Категория 3'
                          //-     }]
                          //-   })
                      .dropdown-filter__entity
                        .dropdown-filter__heading Тематика спора
                        .dropdown-filter__type
                          .select-custom.js-custom-select(data-placeholder='Выберите вариант')
                            ._header.js-custom-select-header
                              +input-text({
                                type: 'text',
                                placeholder: 'Выберите вариант'
                              }, {
                                class: 'select-custom__input js-custom-select-input'
                              })
                            ._body
                              ._dropdown
                                ._scrollbar.js-scrollbar
                                  ._content.js-select-custom-list
                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Вариант 1',
                                        theme: 'is-outline'
                                      })

                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Вариант 2',
                                        theme: 'is-outline'
                                      })

                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Вариант 3',
                                        theme: 'is-outline'
                                      })
                                ._footer
                                  +button({
                                    title: 'Применить фильтр',
                                    type: 'is-outline-secondary is-block'
                                  }, {
                                    class: 'js-select-custom-apply'
                                  })

                  .dropdown-filter__col.dropdown-filter__col--type-2
                    .dropdown-filter__main
                      .dropdown-filter__entity
                        .dropdown-filter__heading Форма реализации проекта
                        .dropdown-filter__type
                          .select-custom.js-custom-select(data-placeholder='Выберите вариант')
                            ._header.js-custom-select-header
                              +input-text({
                                type: 'text',
                                placeholder: 'Добавление региона'
                              }, {
                                class: 'select-custom__input js-custom-select-input'
                              })
                            ._body
                              ._dropdown
                                ._scrollbar.js-scrollbar
                                  ._content.js-select-custom-list
                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Регион 1',
                                        theme: 'is-outline'
                                      })

                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Регион 2',
                                        theme: 'is-outline'
                                      })

                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Регион 3',
                                        theme: 'is-outline'
                                      })
                                ._footer
                                  +button({
                                    title: 'Применить фильтр',
                                    type: 'is-outline-secondary is-block'
                                  }, {
                                    class: 'js-select-custom-apply'
                                  })

                      .dropdown-filter__entity
                        .dropdown-filter__heading Сфера
                        .dropdown-filter__type
                          .select-custom.js-custom-select(data-placeholder='Выберите вариант')
                            ._header.js-custom-select-header
                              +input-text({
                                type: 'text',
                                placeholder: 'Выберите вариант'
                              }, {
                                class: 'select-custom__input js-custom-select-input'
                              })
                            ._body
                              ._dropdown
                                ._scrollbar.js-scrollbar
                                  ._content.js-select-custom-list
                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Сфера 1',
                                        theme: 'is-outline'
                                      })

                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Сфера 2',
                                        theme: 'is-outline'
                                      })

                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Сфера 3',
                                        theme: 'is-outline'
                                      })
                                ._footer
                                  +button({
                                    title: 'Применить фильтр',
                                    type: 'is-outline-secondary is-block'
                                  }, {
                                    class: 'js-select-custom-apply'
                                  })

                      .dropdown-filter__entity
                        .dropdown-filter__heading Отрасль
                        .dropdown-filter__type
                          .select-custom.js-custom-select(data-placeholder='Выберите вариант')
                            ._header.js-custom-select-header
                              +input-text({
                                type: 'text',
                                placeholder: 'Выберите вариант'
                              }, {
                                class: 'select-custom__input js-custom-select-input'
                              })
                            ._body
                              ._dropdown
                                ._scrollbar.js-scrollbar
                                  ._content.js-select-custom-list
                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Отрасль 1',
                                        theme: 'is-outline'
                                      })

                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Отрасль 2',
                                        theme: 'is-outline'
                                      })

                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Отрасль 3',
                                        theme: 'is-outline'
                                      })
                                ._footer
                                  +button({
                                    title: 'Применить фильтр',
                                    type: 'is-outline-secondary is-block'
                                  }, {
                                    class: 'js-select-custom-apply'
                                  })

                  .dropdown-filter__col.dropdown-filter__col--type-3
                    .dropdown-filter__main
                      .dropdown-filter__entity
                        .dropdown-filter__heading Проект
                        .dropdown-filter__type
                          .select-custom.js-custom-select(data-placeholder='Выберите вариант')
                            ._header.js-custom-select-header
                              +input-text({
                                type: 'text',
                                placeholder: 'Добавление сферы'
                              }, {
                                class: 'select-custom__input js-custom-select-input'
                              })
                            ._body
                              ._dropdown
                                ._scrollbar.js-scrollbar
                                  ._content.js-select-custom-list
                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Сфера 1',
                                        theme: 'is-outline'
                                      })

                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Сфера 2',
                                        theme: 'is-outline'
                                      })

                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Сфера 3',
                                        theme: 'is-outline'
                                      })
                                ._footer
                                  +button({
                                    title: 'Применить фильтр',
                                    type: 'is-outline-secondary is-block'
                                  }, {
                                    class: 'js-select-custom-apply'
                                  })

                      .dropdown-filter__entity
                        .dropdown-filter__heading Выиграл
                        .dropdown-filter__type
                          .select-custom.js-custom-select(data-placeholder='Выберите вариант')
                            ._header.js-custom-select-header
                              +input-text({
                                type: 'text',
                                placeholder: 'Выберите вариант'
                              }, {
                                class: 'select-custom__input js-custom-select-input'
                              })
                            ._body
                              ._dropdown
                                ._scrollbar.js-scrollbar
                                  ._content.js-select-custom-list
                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Вариант 1',
                                        theme: 'is-outline'
                                      })

                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Вариант 2',
                                        theme: 'is-outline'
                                      })

                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Вариант 3',
                                        theme: 'is-outline'
                                      })
                                ._footer
                                  +button({
                                    title: 'Применить фильтр',
                                    type: 'is-outline-secondary is-block'
                                  }, {
                                    class: 'js-select-custom-apply'
                                  })

                      .dropdown-filter__entity
                        .dropdown-filter__heading Проиграл
                        .dropdown-filter__type
                          .select-custom.js-custom-select(data-placeholder='Выберите вариант')
                            ._header.js-custom-select-header
                              +input-text({
                                type: 'text',
                                placeholder: 'Выберите вариант'
                              }, {
                                class: 'select-custom__input js-custom-select-input'
                              })
                            ._body
                              ._dropdown
                                ._scrollbar.js-scrollbar
                                  ._content.js-select-custom-list
                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Вариант 1',
                                        theme: 'is-outline'
                                      })

                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Вариант 2',
                                        theme: 'is-outline'
                                      })

                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Вариант 3',
                                        theme: 'is-outline'
                                      })
                                ._footer
                                  +button({
                                    title: 'Применить фильтр',
                                    type: 'is-outline-secondary is-block'
                                  }, {
                                    class: 'js-select-custom-apply'
                                  })

                  .dropdown-filter__col.dropdown-filter__col--type-4
                    .dropdown-filter__main
                      .dropdown-filter__entity
                        .dropdown-filter__heading Субъект РФ
                        .dropdown-filter__type
                          .select-custom.js-custom-select(data-placeholder='Выберите вариант')
                            ._header.js-custom-select-header
                              +input-text({
                                type: 'text',
                                placeholder: 'Выберите инстанцию'
                              }, {
                                class: 'select-custom__input js-custom-select-input'
                              })
                            ._body
                              ._dropdown
                                ._scrollbar.js-scrollbar
                                  ._content.js-select-custom-list
                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Инстанция 1',
                                        theme: 'is-outline'
                                      })

                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Инстанция 2',
                                        theme: 'is-outline'
                                      })

                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Инстанция 3',
                                        theme: 'is-outline'
                                      })
                                ._footer
                                  +button({
                                    title: 'Применить фильтр',
                                    type: 'is-outline-secondary is-block'
                                  }, {
                                    class: 'js-select-custom-apply'
                                  })

                      .dropdown-filter__entity
                        .dropdown-filter__heading Наименование суда
                        .dropdown-filter__type
                          .select-custom.js-custom-select(data-placeholder='Выберите вариант')
                            ._header.js-custom-select-header
                              +input-text({
                                type: 'text',
                                placeholder: 'Выберите вариант'
                              }, {
                                class: 'select-custom__input js-custom-select-input'
                              })
                            ._body
                              ._dropdown
                                ._scrollbar.js-scrollbar
                                  ._content.js-select-custom-list
                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Вариант 1',
                                        theme: 'is-outline'
                                      })

                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Вариант 2',
                                        theme: 'is-outline'
                                      })

                                    ._item
                                      +input-control({
                                        type: 'checkbox',
                                        label: 'Вариант 3',
                                        theme: 'is-outline'
                                      })
                                ._footer
                                  +button({
                                    title: 'Применить фильтр',
                                    type: 'is-outline-secondary is-block'
                                  }, {
                                    class: 'js-select-custom-apply'
                                  })

                .dropdown-filter__extra
                  .dropdown-filter__heading Дополнительно

                  .form-group
                    +input-control({
                        type: 'checkbox',
                        label: 'Наличие комментария',
                        theme: 'is-outline',
                        checked: true
                    })

                  .form-group
                    +input-control({
                        type: 'checkbox',
                        label: 'Наличие цитаты',
                        theme: 'is-outline',
                        checked: false
                    })

                .dropdown-filter__footer
                  .dropdown-filter__footer-row
                    .dropdown-filter__footer-active-params-wrap
                      .dropdown-filter__heading Выбранные параметры
                      ul.dropdown-filter__footer-active-params
                        li.dropdown-filter__footer-active-param
                          a.dropdown-filter__footer-active-param-link(href="#") Республица Татарстан
                        li.dropdown-filter__footer-active-param
                          a.dropdown-filter__footer-active-param-link(href="#") Земельные споры
                        li.dropdown-filter__footer-active-param
                          a.dropdown-filter__footer-active-param-link(href="#") Концессионное соглашение
                    .dropdown-filter__controls
                      button.dropdown-filter__toggle-active-params.button.is-outline-secondary(type="button") #[span 5]
                      a.dropdown-filter__control-reset.button.is-outline-secondary(href="#") Сбросить фильтры
                      a.dropdown-filter__control-apply.button.is-primary(href="#") Показать судебные акты (1 242)
            // /dropdown-filter

          // /court-controls

          .js-tabs-item
            // start table-fas
            table.table-fas
              thead
                tr
                  th._title Номер дела:
                  th._date Дата:
                  th._instance Инстанция:
                  th._category Категория спора:
                  th._author Обратился:
                  th._advants Наличие пояснений:
                  th._market Влияние на рынок:
                  th._doc Документ:

              tbody
                // start row
                tr
                  td._title 
                    span А46-18988/2018 
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span Кассационная
                  td._category 
                    span Оспаривание актов, решений, действий (бездействия) публичных ...
                  td._author 
                    span Прокурор
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/2.svg", alt="")
                  td._market.is-neutral 
                    span Нейтральное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._title 
                    span А46-18988/2018 
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span Апелляционная
                  td._category 
                    span Споры, связанные с конкурсными процедурами
                  td._author 
                    span Заинтересованное лицо
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                  td._market.is-negative 
                    span Отрицательное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._title 
                    span А46-18988/2018 
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span Первая
                  td._category 
                    span Споры, связанные с переменой лиц по соглашению
                  td._author 
                    span Прокурор
                  td._advants
                  td._market.is-positive
                    span Положительное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._title 
                    span А46-18988/2018 
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span Кассационная
                  td._category 
                    span Оспаривание актов, решений, действий (бездействия) публичных ...
                  td._author 
                    span Прокурор
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/2.svg", alt="")
                  td._market.is-neutral 
                    span Нейтральное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._title 
                    span А46-18988/2018 
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span Апелляционная
                  td._category 
                    span Споры, связанные с конкурсными процедурами
                  td._author 
                    span Заинтересованное лицо
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                  td._market.is-negative 
                    span Отрицательное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._title 
                    span А46-18988/2018 
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span Первая
                  td._category 
                    span Споры, связанные с переменой лиц по соглашению
                  td._author 
                    span Прокурор
                  td._advants
                  td._market.is-positive
                    span Положительное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._title 
                    span А46-18988/2018 
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span Кассационная
                  td._category 
                    span Оспаривание актов, решений, действий (бездействия) публичных ...
                  td._author 
                    span Прокурор
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/2.svg", alt="")
                  td._market.is-neutral 
                    span Нейтральное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._title 
                    span А46-18988/2018 
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span Апелляционная
                  td._category 
                    span Споры, связанные с конкурсными процедурами
                  td._author 
                    span Заинтересованное лицо
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                  td._market.is-negative 
                    span Отрицательное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._title 
                    span А46-18988/2018 
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span Первая
                  td._category 
                    span Споры, связанные с переменой лиц по соглашению
                  td._author 
                    span Прокурор
                  td._advants
                  td._market.is-positive
                    span Положительное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._title 
                    span А46-18988/2018 
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span Кассационная
                  td._category 
                    span Оспаривание актов, решений, действий (бездействия) публичных ...
                  td._author 
                    span Прокурор
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/2.svg", alt="")
                  td._market.is-neutral 
                    span Нейтральное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._title 
                    span А46-18988/2018 
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span Апелляционная
                  td._category 
                    span Споры, связанные с конкурсными процедурами
                  td._author 
                    span Заинтересованное лицо
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                  td._market.is-negative 
                    span Отрицательное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._title 
                    span А46-18988/2018 
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span Первая
                  td._category 
                    span Споры, связанные с переменой лиц по соглашению
                  td._author 
                    span Прокурор
                  td._advants
                  td._market.is-positive
                    span Положительное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._title 
                    span А46-18988/2018 
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span Кассационная
                  td._category 
                    span Оспаривание актов, решений, действий (бездействия) публичных ...
                  td._author 
                    span Прокурор
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/2.svg", alt="")
                  td._market.is-neutral 
                    span Нейтральное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._title 
                    span А46-18988/2018 
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span Апелляционная
                  td._category 
                    span Споры, связанные с конкурсными процедурами
                  td._author 
                    span Заинтересованное лицо
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                  td._market.is-negative 
                    span Отрицательное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._title 
                    span А46-18988/2018 
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span Первая
                  td._category 
                    span Споры, связанные с переменой лиц по соглашению
                  td._author 
                    span Прокурор
                  td._advants
                  td._market.is-positive
                    span Положительное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._title 
                    span А46-18988/2018 
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span Кассационная
                  td._category 
                    span Оспаривание актов, решений, действий (бездействия) публичных ...
                  td._author 
                    span Прокурор
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/2.svg", alt="")
                  td._market.is-neutral 
                    span Нейтральное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._title 
                    span А46-18988/2018 
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span Апелляционная
                  td._category 
                    span Споры, связанные с конкурсными процедурами
                  td._author 
                    span Заинтересованное лицо
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                  td._market.is-negative 
                    span Отрицательное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._title 
                    span А46-18988/2018 
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span Первая
                  td._category 
                    span Споры, связанные с переменой лиц по соглашению
                  td._author 
                    span Прокурор
                  td._advants
                  td._market.is-positive
                    span Положительное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
            // end table-fas

            // start section-pagination
            ._pagination.section-pagination.is-margin
              .page-navigation._navigation
                ._main
                  ul._list
                    li._item.first.is-active.disabled
                      span._link 1
                    li._item
                      a._link(href="#") 2
                    li._item
                      a._link(href="#") 3
                    li._item
                      a._link(href="#") 4
                    li._item
                      a._link(href="#") 5
                    li._item
                      span._link.disabled ...
                    li._item
                      a._link(href="#") 21

                ._aside
                  ul._list
                    li._item
                      a._link.disabled(href="#")
                        <i class="fe fe-chevrons-left"></i>
                    li._item
                      a._link.is-next(href="#")
                        <i class="fe fe-chevrons-right"> </i>
              // end section-pagination
            // end table-fas

          .js-tabs-item.is-active
            // start table-fas
            table.table-fas
              thead
                tr
                  th._department Антимонопольный орган:
                  th._date Дата:
                  th._instance Номер дела:
                  th._author Обратился:
                  th._category Категория спора:
                  th._status Предписание выдано:
                  th._advants Наличие пояснений:
                  th._market Влияние на рынок:
                  th._doc Документ:

              tbody
                // start row
                tr
                  td._department 
                    span Наименование решения ФАС в несколько строк  
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span А46-18988/2020
                  td._author 
                    span Прокурор
                  td._category 
                    span Оспаривание актов, решений, действий (бездействия) публичных ...
                  td._status 
                    span Да
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/2.svg", alt="")
                  td._market.is-neutral 
                    span Нейтральное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._department 
                    span Наименование решения ФАС в несколько строк  
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span А46-18988/2020
                  td._author 
                    span Заинтересованное лицо
                  td._category 
                    span Споры, связанные с конкурсными процедурами
                  td._status 
                    span Да
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                  td._market.is-negative 
                    span Отрицательное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._department 
                    span Наименование решения ФАС в несколько строк  
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span А46-18988/2020
                  td._author 
                    span Прокурор
                  td._category 
                    span Споры, связанные с переменой лиц по соглашению
                  td._status 
                    span Да
                  td._advants
                  td._market.is-positive
                    span Положительное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._department 
                    span Наименование решения ФАС в несколько строк  
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span А46-18988/2020
                  td._author 
                    span Прокурор
                  td._category 
                    span Оспаривание актов, решений, действий (бездействия) публичных ...
                  td._status 
                    span Да
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/2.svg", alt="")
                  td._market.is-neutral 
                    span Нейтральное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._department 
                    span Наименование решения ФАС в несколько строк  
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span А46-18988/2020
                  td._author 
                    span Заинтересованное лицо
                  td._category 
                    span Споры, связанные с конкурсными процедурами
                  td._status 
                    span Да
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                  td._market.is-negative 
                    span Отрицательное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._department 
                    span Наименование решения ФАС в несколько строк  
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span А46-18988/2020
                  td._author 
                    span Прокурор
                  td._category 
                    span Споры, связанные с переменой лиц по соглашению
                  td._status 
                    span Да
                  td._advants
                  td._market.is-positive
                    span Положительное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._department 
                    span Наименование решения ФАС в несколько строк  
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span А46-18988/2020
                  td._author 
                    span Прокурор
                  td._category 
                    span Оспаривание актов, решений, действий (бездействия) публичных ...
                  td._status 
                    span Да
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/2.svg", alt="")
                  td._market.is-neutral 
                    span Нейтральное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._department 
                    span Наименование решения ФАС в несколько строк  
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span А46-18988/2020
                  td._author 
                    span Заинтересованное лицо
                  td._category 
                    span Споры, связанные с конкурсными процедурами
                  td._status 
                    span Да
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                  td._market.is-negative 
                    span Отрицательное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._department 
                    span Наименование решения ФАС в несколько строк  
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span А46-18988/2020
                  td._author 
                    span Прокурор
                  td._category 
                    span Споры, связанные с переменой лиц по соглашению
                  td._status 
                    span Да
                  td._advants
                  td._market.is-positive
                    span Положительное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._department 
                    span Наименование решения ФАС в несколько строк  
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span А46-18988/2020
                  td._author 
                    span Прокурор
                  td._category 
                    span Оспаривание актов, решений, действий (бездействия) публичных ...
                  td._status
                    span Да
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/2.svg", alt="")
                  td._market.is-neutral 
                    span Нейтральное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._department 
                    span Наименование решения ФАС в несколько строк  
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span А46-18988/2020
                  td._author 
                    span Заинтересованное лицо
                  td._category 
                    span Споры, связанные с конкурсными процедурами
                  td._status 
                    span Да
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                  td._market.is-negative 
                    span Отрицательное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._department 
                    span Наименование решения ФАС в несколько строк  
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span А46-18988/2020
                  td._author 
                    span Прокурор
                  td._category 
                    span Споры, связанные с переменой лиц по соглашению
                  td._status 
                    span Да
                  td._advants
                  td._market.is-positive
                    span Положительное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._department 
                    span Наименование решения ФАС в несколько строк  
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span А46-18988/2020
                  td._author 
                    span Прокурор
                  td._category 
                    span Оспаривание актов, решений, действий (бездействия) публичных ...
                  td._status 
                    span Да
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/2.svg", alt="")
                  td._market.is-neutral 
                    span Нейтральное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._department 
                    span Наименование решения ФАС в несколько строк  
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span А46-18988/2020
                  td._author 
                    span Заинтересованное лицо
                  td._category 
                    span Споры, связанные с конкурсными процедурами
                  td._status 
                    span Да
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                  td._market.is-negative 
                    span Отрицательное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._department 
                    span Наименование решения ФАС в несколько строк  
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span А46-18988/2020
                  td._author 
                    span Прокурор
                  td._category 
                    span Споры, связанные с переменой лиц по соглашению
                  td._status 
                    span Да
                  td._advants
                  td._market.is-positive
                    span Положительное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._department 
                    span Наименование решения ФАС в несколько строк  
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span А46-18988/2020
                  td._author 
                    span Прокурор
                  td._category 
                    span Оспаривание актов, решений, действий (бездействия) публичных ...
                  td._status 
                    span Да
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/2.svg", alt="")
                  td._market.is-neutral 
                    span Нейтральное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._department 
                    span Наименование решения ФАС в несколько строк  
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span А46-18988/2020
                  td._author 
                    span Заинтересованное лицо
                  td._category 
                    span Споры, связанные с конкурсными процедурами
                  td._status 
                    span Да
                  td._advants
                    ul._props
                      li._props-item
                        img._props-icon(src="__static__img/content/fas/1.svg", alt="")
                  td._market.is-negative 
                    span Отрицательное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
                // start row
                tr
                  td._department 
                    span Наименование решения ФАС в несколько строк  
                  td._date 
                    span 20.07.2018
                  td._instance 
                    span А46-18988/2020
                  td._author 
                    span Прокурор
                  td._category 
                    span Споры, связанные с переменой лиц по соглашению
                  td._status 
                    span Нет
                  td._advants
                  td._market.is-positive
                    span Положительное
                  td._doc
                    a._download(href="#" download="")
                      img._download-icon(src="__static__img/content/fas/3.svg", alt="")
                // end row
            // end table-fas

            // start section-pagination
            ._pagination.section-pagination.is-margin
              .page-navigation._navigation
                ._main
                  ul._list
                    li._item.first.is-active.disabled
                      span._link 1
                    li._item
                      a._link(href="#") 2
                    li._item
                      a._link(href="#") 3
                    li._item
                      a._link(href="#") 4
                    li._item
                      a._link(href="#") 5
                    li._item
                      span._link.disabled ...
                    li._item
                      a._link(href="#") 21

                ._aside
                  ul._list
                    li._item
                      a._link.disabled(href="#")
                        <i class="fe fe-chevrons-left"></i>
                    li._item
                      a._link.is-next(href="#")
                        <i class="fe fe-chevrons-right"> </i>
              // end section-pagination
            // end table-fas

    // end main-body

  .scrolltop._scrolltop
    a._link.js-scrolltop(href="#body")
      span._text Вернуться наверх страницы
      ._icon
        <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 4L4.5 1L8 4" stroke="#9199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
