include ../button/button

mixin section-intro(data, attrs)
  section.section-intro&attributes(attrs )
    ._header
      ._container.container
        h1._heading= data.heading
        p._caption= data.caption

        +button({
          title: 'Начать обучение',
          type: 'is-danger is-round',
          size: 'is-extra-large'
        }, {
          class: 'section-intro__start',
          'data-remodal-target': data.modal
        })

