.section-intro {
  position: relative;
  color: $white-color;
  // background: url(../img/content/intro/1.jpg) no-repeat;
  // background-size: cover;
  background: #23346B;
  z-index: 1;

  @include breakpoint($lg-breakpoint) {
    background: #172B5C;
  }


  &.is-academy {
     background: url(../img/general/bg-section-intro-academy.jpg) center no-repeat;
     background-size: cover;

    &::before {
      display: none;
    }
  }

  &.is-detail {
    padding-top: 150px;

    @include breakpoint($md-breakpoint) {
      padding-top: 0;
    }

    .section-intro {
      &__image {
        display: block;
        height: auto;

        @include breakpoint($lg-breakpoint) {
          height: 100%;
        }
      }
    }
  }

  &:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0B224D;
    opacity: 0.3;
    z-index: -1;
  }

  &__header {
    padding: 25px 0;
    //text-align: center;

    @include breakpoint($sm-breakpoint) {
      padding: 35px 0;
    }

    @include breakpoint($md-breakpoint) {
      padding: 40px 0;
    }

    @include breakpoint($lg-breakpoint) {
      text-align: left;
    }
  }

  &__image-wrap {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -3;

    @include breakpoint($lg-breakpoint) {
      width: 53%;
      height: 100%;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: linear-gradient(0, #23346B 0.26%, rgba(35, 52, 107, 0) 54.34%);

      @include breakpoint($lg-breakpoint) {
        width: 90%;
        background: linear-gradient(90deg, #172B5C 0.26%, rgba(23, 43, 92, 0) 54.34%);
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      width: 100%;
      height: 100%;
      background: #23346B;
      opacity: 0.3;
    }

    .section-intro__image {
      position: static;
    }
  }

  &__image{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: -3;

    display: none;
    object-fit: cover;

    @include breakpoint($md-breakpoint){
      display: block;
    }

    @include breakpoint($lg-breakpoint) {
      width: 100%;
      height: 100%;
    }
  }

  &__gradient{
    position: absolute;
    right: 144px;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: -2;

    display: none;

    @include breakpoint($lg-breakpoint){
      display: block;
    }
  }

  &__label{
    margin-bottom: 5px;
    display: none;

    opacity: 0.7;
    font-size: 14px;
    font-weight: 500;

    @include breakpoint($xs-breakpoint) {
      display: block;
    }
  }

  &__heading {
    margin: 0 0 20px;
    //margin: 0 0 35px;
    color: inherit;
    //font-size: 22px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.15;

    @include breakpoint($xs-breakpoint) {
      font-size: 22px;
    }

    @include breakpoint($sm-breakpoint) {
      font-size: 28px;
    }

    @include breakpoint($md-breakpoint) {
      font-size: 36px;
    }

    @include breakpoint($lg-breakpoint) {
      margin-bottom: 30px;
      max-width: 90%;
      font-size: 42px;
    }

    @include breakpoint($xl-breakpoint) {
      max-width: 800px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__caption {
    margin: 0;
    max-width: 470px;
    display: none;
    color: rgba($white-color, 0.8);
    //font-size: 16px;
    line-height: 1.5;

    @include breakpoint($sm-breakpoint) {
      display: block;
    }

    @include breakpoint($lg-breakpoint) {
      margin: 0;
      font-size: 16px;
    }
  }

  &__price{
    display: flex;
    align-items: flex-start;

    // margin-top: 60px;

    align-items: center;
    margin-top: 25px;

    @include breakpoint($lg-breakpoint){
      flex-direction: row;
      margin-top: 60px;
    }

    &-main{
      flex: 1 1 50%;
      max-width: 50%;
      position: relative;
      // padding-left: 30px;

      padding-left: 20px;
      line-height: 1;
      align-items: center;

      @include breakpoint($md-breakpoint) {
        flex: 0 0 auto;
        max-width: 100%;
        padding-left: 30px;
        min-width: 210px;
      }

      @include breakpoint($lg-breakpoint){
        padding-left: 30px;
        align-items: flex-start;
      }
    }

    &-title{
      display: block;
      position: relative;

      font-size: 11px;

      @include breakpoint($md-breakpoint) {
        font-size: 16px;
      }

      &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: -20px;
        width: 10px;
        height: 10px;
        transform: translate(0, -50%);
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9773 12.2729H11.5909C10.0871 12.2729 8.86364 11.0495 8.86364 9.54567C8.86364 8.04188 10.0871 6.81842 11.5909 6.81842H13.9773C14.1657 6.81842 14.3182 6.66593 14.3182 6.4775V5.45477C14.3182 4.73988 13.7637 4.1585 13.0631 4.10212L11.1052 0.68238C10.9238 0.366102 10.6308 0.140047 10.2802 0.0461804C9.93131 -0.0470475 9.56645 0.00191553 9.25417 0.183673L2.54243 4.09113H1.36364C0.61159 4.09113 0 4.70268 0 5.45477V13.6366C0 14.3886 0.611558 15.0002 1.36364 15.0002H12.9545C13.7066 15.0002 14.3182 14.3887 14.3182 13.6366V12.6139C14.3182 12.4254 14.1657 12.2729 13.9773 12.2729ZM11.528 2.79367L12.2708 4.09113H9.29945L11.528 2.79367ZM3.89754 4.09113L9.59739 0.772923C9.75153 0.682699 9.93163 0.658729 10.1038 0.704688C10.2779 0.751286 11.4378 2.6362 11.528 2.79367L9.29945 4.09113H3.89754Z' fill='white'/%3E%3Cpath d='M14.0625 8H11.875C10.8411 8 10 8.67284 10 9.5C10 10.3272 10.8411 11 11.875 11H14.0625C14.5795 11 15 10.6636 15 10.25V8.75C15 8.33642 14.5795 8 14.0625 8ZM11.875 9.99999C11.5305 9.99999 11.25 9.77563 11.25 9.5C11.25 9.22438 11.5305 9.00001 11.875 9.00001C12.2195 9.00001 12.5 9.22438 12.5 9.5C12.5 9.77563 12.2196 9.99999 11.875 9.99999Z' fill='white'/%3E%3C/svg%3E%0A");
        background-size: 100% auto;

        @include breakpoint($md-breakpoint) {
          left: -30px;
          width: 15px;
          height: 15px;
        }
      }
    }

    &-label{
      font-size: 8px;
      color: #FFFFFF;
      opacity: 0.7;

      @include breakpoint($md-breakpoint) {
        margin-top: 5px;
        display: block;
        font-size: 13px;
      }
    }

    &-content{
      display: flex;
      align-items: flex-start;

      margin-top: 10px;

      @include breakpoint($lg-breakpoint){
        margin-top: 0;
        margin-left: 17px;
      }
    }

    &-value{
      display: flex;
      font-size: 24px;
      line-height: 1;

      @include breakpoint($md-breakpoint) {
        font-size: 42px;
      }
    }

    &-badge{
      margin-left: 10px;
      margin-top: 5px;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      background: #B52528 !important;
      border-radius: 25px !important;
    }
  }

  &__footer {
    padding: 0 0 25px;
    text-align: center;
    position: relative;
    overflow: hidden;

    @include breakpoint($lg-breakpoint) {
      padding: 40px 0 50px;
      display: block;
      text-align: left;
    }
  }

  &__buttons {
    display: flex;
  }

  &__button {
    flex: 1;
    margin-right: 13px;

    @include breakpoint($md-breakpoint) {
      flex: none;
    }

    &:last-child{
      margin-right: 0;
    }

    &--white{
      padding-top: 19px;
      padding-bottom: 19px;
      border-color: #fff;
      color: #fff;

      @include breakpoint($lg-breakpoint){
        display: inline-flex;
      }
    }

    @include breakpoint($md-breakpoint) {
       //&.button {
       //  min-width: 243px;
       //  color: $primary-color;
       //  font-size: 16px;
       //  background-color: $white-color;
       //
       //  @include breakpoint($lg-breakpoint) {
       //    padding-top: 24px;
       //    padding-bottom: 23px;
       //    font-size: 18px;
       //  }
       //}
    }
  }

  .button--round{
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 35px;

    @include breakpoint($md-breakpoint) {
      padding-top: 17px;
      padding-bottom: 17px;
    }

    @include breakpoint($lg-breakpoint) {
      padding-top: 19px;
      padding-bottom: 19px;
    }
  }

  &__scroll{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
    right: 0;
    bottom: -16px;
    margin: 0 auto;

    width: 35px;
    height: 35px;

    background: #FFFFFF;
    border-radius: 50%;
  }

  &__subs {
    position: absolute;
    left: calc(100% - 118px);
    top: calc(50% - 30px);
    padding: 22px 32px 18px;
    display: none;
    color: $white-color;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    background: $danger-color;
    border-radius: 30px 30px 0 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-decoration: none;

    @include breakpoint($lg-breakpoint) {
      display: block;
    }
  }

  &__form{
    margin-top: 130px;
    padding-bottom: 40px;


    &-body{
      display: flex;
      max-width: 830px;
    }

    &-content{
      flex: 1 1 auto;
    }

    &-aside{
      flex: 1 1 auto;
      padding-left: 10px;
    }

    &-grid{
      display: flex;
      align-items: center;

      margin: 0 -5px;
    }

    &-column{
      padding: 0 5px;
      width: 33.33%;
    }

    &-title{
      display: block;
      margin-bottom: 20px;

      font-size: 18px;
      font-weight: 500;
    }

    &-input{
      width: 100%;
      background: #fff;
      border: 0;
      height: 55px;
      padding: 0 20px;
      box-shadow: 0px 11px 50px rgba(35, 52, 107, 0.1);
      border-radius: 50px;
    }

    &-send{
      display: flex;
      align-items: center;
      justify-content: center;

      width: 55px;
      height: 55px;

      background: #B52528;
      border-radius: 50%;
      border: 3px solid #FFFFFF;
      box-shadow: 0px 11px 50px rgba(35, 52, 107, 0.1);

      .fe{
        font-size: 18px;
        color: #fff;
        font-weight: bold;
      }
    }

    &-label{
      display: block;
      max-width: 755px;
      margin-top: 25px;
      font-size: 12px;
      color: #FFFFFF;
      opacity: 0.8;
    }

  }

  &__start {
    //margin-top: 35px;
    //min-width: 216px;

    @include breakpoint($sm-breakpoint) {
      margin-top: 25px;
    }

    @include breakpoint($md-breakpoint) {
      margin-top: 50px;
    }

    @include breakpoint($lg-breakpoint) {
      margin-top: 70px;
    }

    @include breakpoint($xl-breakpoint) {
      margin-bottom: 25px;
      margin-top: 130px;
    }
  }
}
