.formats-list{
  &__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item{
    margin-bottom: 8px;

    &:last-child{
      margin-bottom: 0;
    }

    &.is-small{
      margin-bottom: 6px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  &__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 5px;

    &:last-child{
      margin-bottom: 0;
    }

    &.is-pdf{
      &:before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../img/content/digest/pdf.svg) no-repeat;
      }
    }

    &.is-en{
      &:before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../img/content/digest/en.svg) no-repeat;
      }
    }
    &.is-word{
      &:before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../img/content/digest/world.svg) no-repeat;
      }
    }
    &.is-ru{
      &:before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../img/content/digest/ru.svg) no-repeat;
      }
    }
  }
}


