.district-card {
  &.is-opened {
    .district-card-header {
      &__button {
        transition: 0.5s;

        i{
          transform: scale(1, -1);
          transition: 0.5s;
        }
      }
    }
  }

  &__header {
    padding: 15px 0;

    @include breakpoint($lg-breakpoint) {
      padding: 22px 0;
    }

    @include breakpoint($xl-breakpoint) {
      padding: 30px 0;
    }
  }

  &__inner {
    padding: 15px 0;
    background-color: $bg-color;

    @include breakpoint($lg-breakpoint) {
      padding: 0 0 20px;
    }
  }

  &__body {
    &.js-accordion-body {
      display: none;
    }
  }
}

.district-card-header {
  &.js-accordion-toggle {
    cursor: pointer;
  }

  &:hover{
    .district-card-header{
      &__heading{
        text-decoration: underline;
        transition: 0.5s;
      }

      &__button{
        transition: 0.5s;
        border-color: #eceff1;
        box-shadow: 0 0 20px rgba(35, 52, 107, 0.05);
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__main {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }

  &__aside {
    flex-shrink: 0;
    margin-left: 15px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 13px;
    padding: 5px;
    width: 44px;
    height: 44px;
    background-color: $primary-color;
    border-radius: 50%;

    @include breakpoint($xs-breakpoint) {
      width: 50px;
      height: 50px;
    }

    @include breakpoint($sm-breakpoint) {
      width: 55px;
      height: 55px;
    }
  }

  &__heading {
    margin: 0 0 4px;
    font-size: 16px;
    transition: 0.5s;

    @include breakpoint($xs-breakpoint) {
      font-size: 17px;
    }

    @include breakpoint($sm-breakpoint) {
      font-size: 18px;
    }

    @include breakpoint($lg-breakpoint) {
      font-size: 20px;
    }
  }

  &__count {
    margin: 0;
    color: $muted-color;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    font-size: 15px;
    background-color: $bg-color;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #F8F9FA;

    @include breakpoint($sm-breakpoint) {
      width: 45px;
      height: 45px;
      font-size: 17px;
    }

    i{
      transition: 0.5s;
    }
  }
}
