include ../button/button

mixin district-card(data, attrs)
  -
    var propertyContent = data.isSearched ? 'Регион / область / район:' : 'Регион / область:';

  .district-card.is-closed.js-accordion-item&attributes(attrs)
    if (data.isSearched)
      .district-card-header._header
        ._container.container
          ._main
            ._content
              h2._heading Найдено субъектов: 5

    else
      .district-card-header._header.js-accordion-toggle
        ._container.container
          ._main
            ._icon
              img._img(src=data.icon alt='')

            ._content
              h2._heading= data.title
              p._count= data.count

          ._aside
            ._button
              i.fe.fe-chevron-down

    ._body(class=(data.isSearched ? '' : 'js-accordion-body'))
      ._inner
        ._container.container
          .table-custom
            ._thead.is-parent
              ._column.is-content= propertyContent
              ._column.is-property На конкурсе:
              ._column.is-property Реализуемые:
              ._column.is-property Планируемые:
              ._column.is-property Объекты под ГЧП:

            ._tbody
              ._list
                each region in data.regions
                  ._card(class=(region.municipalities ? 'is-closed js-accordion-item' : ''))
                    ._header(class=(region.municipalities ? 'js-accordion-toggle' : ''))
                      ._column.is-content
                        a.region-header._region-header(href='#' title='Перейти к публичному партнёру')
                          .gerb._gerb
                            img._img(src=region.icon alt='')

                          h2.card-heading._heading= region.title
                            i.fe.fe-chevron-right._icon

                      ._column.is-property
                        span._value.is-large= region.competition
                      ._column.is-property
                        span._value.is-large= region.realize
                      ._column.is-property
                        span._value.is-large= region.planned
                      ._column.is-property
                        span._value.is-large= region.objects

                    if (region.municipalities)
                      ._body.js-accordion-body
                        ._group
                          .label._group-title Муниципальное образование
                          .table-custom.js-list(data-show-count='5')
                            ._thead
                              ._column.is-content Муниципальное образование:
                              ._column.is-property На конкурсе:
                              ._column.is-property Реализуемые:
                              ._column.is-property Планируемые:
                              ._column.is-property Объекты под ГЧП:

                            ._tbody.is-top
                              ._list
                                each item in region.municipalities
                                  ._item.js-list-item
                                    ._row
                                      ._column.is-content
                                        a.link-more-chevron._title(href='#' title='')= item.title
                                          i.fe.fe-chevron-right._icon
                                      ._column.is-property
                                        span._label На конкурсе:
                                        span._value= item.competition
                                      ._column.is-property
                                        span._label Реализуемые:
                                        span._value= item.realize
                                      ._column.is-property
                                        span._label Планируемые:
                                        span._value= item.planned
                                      ._column.is-property
                                        span._label Объекты под ГЧП:
                                        span._value= item.objects

                              ._footer.js-list-toggle-parent
                                span.link-more-chevron._link-more.js-list-toggle Раскрыть полный список
                                  i.fe.fe-chevron-down._icon

              if (!data.isSearched)
                ._more
                  +button({
                      href: '#',
                      type: 'is-load is-block',
                      title: 'Показать все'
                  })
