mixin input-control(data, attrs)
  label.input-control(class=data.theme)&attributes(attrs)
    input._input(type=data.type name=data.name checked=data.checked)
    span._toggle
    span._label= data.label
