.input-control {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  line-height: 1.2;
  vertical-align: middle;

  &.is-outline {
    color: $main-color;

    &:hover{
      cursor: pointer;

      // .input-control{
      //   &__label{
      //     transition: 0.5s;
      //     color: #9199B5;
      //   }
      // }

      // .input-control__input[type='checkbox'] ~ .input-control__toggle{
      //   border-color: #23346B;
      //   transition: 0.5s;
      // }
    }

    .input-control {
      &__input {
        &[type='checkbox'] {
          & ~ .input-control {
            &__toggle {
              border-radius: 3px;
            }
          }

          &:checked {
            & ~ .input-control {
              &__toggle {
                background-color: $gray-color;
                border-color: $gray-color;

                &::before {
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      &__toggle {
        background-color: $white-color;
        border: 2px solid $control-color;
      }
    }
  }

  &.is-uppercase{
    align-items: center;
    
    .input-control{
      &__label{
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 500;
        color: #9199B5;
      }
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);

    &[type='checkbox'] {
      & ~ .input-control {
        &__toggle {
          border-radius: 50%;

          &::before {
            content: '\e92b';
            @extend .fe;
            opacity: 0;
          }
        }
      }
    }

    &:checked {
      & ~ .input-control {
        &__toggle {
          color: $white-color;
          background-color: $primary-color;

          &::before {
            opacity: 1;
          }
        }
      }
    }
  }

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    margin-right: 12px;
    width: 18px;
    height: 18px;
    background-color: $border-color;
    transition: 0.5s;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }

  &__label {
    flex: 1 1 auto;
    min-width: 0;
    position: relative;
    top: 1px;
    font-size: 12px;
    transition: 0.5s;

    @include breakpoint($md-breakpoint){
      font-size: 15px;
    }
  }
}
