.tags-list{
  &__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item{
    margin-right: 5px;
    margin-bottom: 5px;
  }

  &__text{
    font-size: 12px;
    color: #919AB5;
    font-weight: 500;

    a{
      color: #919AB5;
      text-decoration: none;
      transition: 0.5s;

      &:hover{
        color: #23346B;
        transition: 0.5s;
      }
    }

    @include breakpoint($lg-breakpoint){
      font-size: 15px;
    }
  }

  
}
