.badge {
  padding: 2px 7px;
  display: inline-block;
  //font-size: 13px;
  font-weight: 500;
  text-align: center;
  border: 1px solid transparent;
  vertical-align: middle;
  border-radius: 5px;
  position: relative;

  &__icon {
    //display: inline-block;
    //vertical-align: middle;
    max-width: 20px;
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__text {
    display: block;
    padding-left: 30px;
    line-height: 1.2;
    text-decoration: none;
    color: #23346B;
  }

  &.is-primary {
    color: $white-color;
    background-color: $primary-color;
    border-color: $primary-color;
  }

  &.is-danger {
    color: $white-color;
    background-color: $danger-color;
    border-color: $danger-color;
  }

  &.is-success {
    color: $white-color;
    background-color: $success-color;
    border-color: $success-color;
  }

  &.is-secondary {
    color: $primary-color;
    background-color: $bg-color;
    border-color: $bg-color;
  }

  &.is-gradient {
    color: $white-color;
    background: linear-gradient(41.97deg, #505C83 0%, #9199B5 100%);
  }

  &.is-small {
    padding: 2px 5px;
    font-size: 8px;

    @include breakpoint($xs-breakpoint) {
      padding: 2px 7px;
      font-size: 10px;
    }

    @include breakpoint($sm-breakpoint) {
      font-size: 11px;
    }
  }

  &.is-round {
    border-radius: 20px;
  }
}





.badge--primary, .badge-primary {
  color: #fff;
  border-color: #0173CD;
  background-color: #0173CD;
}


.badge--warning, .badge-warning {
  color: #fff;
  border-color: #ffab00;
  background-color: #ffab00;
}

.badge--moder, .badge-moder {
  color: #fff;
  border-color: #FFD070;
  background-color: #FFD070;
}

.badge-success, .badge--success{
  color: #fff;
  background: #17C671;
  border-color: #17C671;
}

.badge-green, .badge--green{
  color: #fff;
  background: #0B7E46;
  border-color: #0B7E46;
}

.badge-danger, .badge--danger{
  color: #fff;
  background: #D01417;
  border-color: #D01417;
}

.badge-dark, .badge--dark{
  color: #fff;
  background: #23346B;
  border-color: #23346B;
}

.badge-disabled, .badge--disabled{
  color: #fff;
  background: #9199B5;
  border-color: #9199B5;
}
