.timer{
  position: relative;

  &__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background: url(../img/general/video/4.jpg) no-repeat;
    background-size: cover;
  }

  &__grid{
    display: flex;
    align-items: center;

    justify-content: center;
  }

  &__column{
    display: block;
    margin-right: 18px;
    text-align: center;

    &:last-child{
      margin-right: 0;

      min-width: 56px;

      .timer{
        &__value{
          &:after{
            display: none;
          }
        }
      }
    }
  }

  &__value{
    display: block;
    position: relative;

    font-size: 48px;
    line-height: 1;
    font-weight: 200;
    opacity: 0.6;
    color: #FFFFFF;
    text-transform: uppercase;

    &:after{
      content: ':';
      position: absolute;
      right: -15px;
      bottom: 0;
      font-size: 48px;
      line-height: 1;
      font-weight: 200;
      opacity: 0.6;
      color: #FFFFFF;
      text-transform: uppercase;
    }
  }

  &__label{
    display: block;
    margin-top: 5px;
    opacity: 0.6;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }

  &__text{
    display: block;
    
    font-size: 10px;
    color: #FFFFFF;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: -20px;
    margin-right: auto;
    margin-left: 20px;

    @include breakpoint($md-breakpoint){
      margin-top: 30px;
      margin-bottom: -30px;
      margin-right: 0;
      margin-left: 0;
    }
  }
}
