extends ../../template

include ../../../components/section-default/section-default

include ../../../components/menu/menu
include ../../../components/badge/badge
include ../../../components/button/button

block append settings
  -
    page.title = 'Рейтинг регионов Российской Федерации по уровню развития ГЧП за 2018 год';


block page-body

  main.page-main

    // start main-header
    .main-header._header
      ._container.container
        ._content
          h1.main-heading.is-large._heading= page.title

        ._aside.is-start
          +menu([{
            href: '#',
            title: 'Рейтинг за 2019 год'
          }, {
            href: '#',
            title: 'Рейтинг за 2018 год',
            isActive: true
          }], {
            class: 'is-default main-header__menu'
          })
    // end main-header

    // start main-body
    .main-body._body
      // start rating-content
      .rating-content._rating-content
        ._container.container
          ._main
            ._header
              h3._title Методика расчета значения показателей
              p._caption Значение показателя «Уровень развития государственно-частного партнерства в субъектах Российской Федерации» определяется на основе оценки значений составляющих его факторов:

            .section-layout._section-layout
              ._body
                ._grid.is-steps
                  ._column
                    // start category-card
                    .category-card.is-step.is-small
                      ._header
                        ._content
                          span._title
                            span.number._number 1
                            | Развитие институциональной среды

                      p._caption Субъекта Российской Федерации в сфере государственно-частного партнерства
                    // end category-card

                  ._column
                    // start category-card
                    .category-card.is-step.is-small
                      ._header
                        ._content
                          span._title
                            span.number._number 2
                            | Нормативно-правовое обеспечение

                      p._caption Сферы субъекта РФ в сфере государственно-частного партнерства
                    // end category-card

                  ._column
                    // start category-card
                    .category-card.is-step.is-small
                      ._header
                        ._content
                          span._title
                            span.number._number 3
                            | Опыт реализации инвестиционных проектов

                      p._caption Государственно-частного партнерства в субъекте Российской Федерации
                    // end category-card

          ._aside
            h3._title Детальная информация

            .document-preview._document-preview
              ._icon
                img._img(src='__static__img/general/pdf.svg' alt='')
              ._content
                p._caption Подробнее о Методике вы можете узнать из Приказа №816 от 19.12.2019

            +button({
              title: 'Смотреть документ в PDF',
              type: 'is-primary is-round'
            }, {
              class: 'rating-content__button'
            })
      // end rating-content

      // start content-section
      section.content-section._content-section.js-digest-rating-chart-old
        .section-header._header.is-small
          ._container.container
            ._main
              h2.section-heading.is-medium._heading График рейтинга регионов по уровню развития сферы ГЧП

        .rating-chart._rating-chart
          ._container.container
            ._aside
              ._header
                h3._title Округа:

              ._content
                ul.chart-regions._chart-regions
                  li._item.is-central Центральный
                  li._item.is-northwest Северо-Западный
                  li._item.is-siberian Сибирский
                  li._item.is-volga Приволжский
                  li._item.is-south Южный
                  li._item.is-far-eastern Дальневосточный
                  li._item.is-ural Уральский
                  li._item.is-north-caucasus Северо-Кавказский

              ._footer
                .document-preview._document-preview
                  ._icon
                    img._img(src='__static__img/general/pdf.svg' alt='')
                  ._content
                    a._title(href='#' title='Скачать рейтинг' download) Скачать рейтинг
                    p._property Формат:  PDF

            ._main
              ._header
                h3._title График рейтинга:

                ._buttons
                  ._button(ref='sliderPrev')
                    <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.00073 0.999826L1.00085 5.03574L5.00073 9.07166" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1.00002 5.03577L10.5997 5.03577" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                  ._button(ref='sliderNext')
                    <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.599 9.07183L10.5989 5.03591L6.599 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10.5997 5.03589H1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

              ._wrapper
                ._y
                  ._y-item 100%
                  ._y-item 90%
                  ._y-item 80%
                  ._y-item 70%
                  ._y-item 60%
                  ._y-item 50%
                  ._y-item 40%
                  ._y-item 30%
                  ._y-item 20%
                  ._y-item 10%
                  ._y-item 0%

                ._body
                  ._grid
                    ._slider(ref='slider')
                      ._slider-wrapper.js-slider-wrapper
                        ._slide.js-slider-slide(v-for='item in data')
                          ._item
                            ._dropdown
                              ._dropdown-wrap
                                ._dropdown-title {{ item.title }}
                            ._bar(:style='{ height : item.level + "%", background : item.color }')
                              span._bar-value {{ item.level }}%
                            span._item-title {{ item.title }}
      // end content-section

      // start content-section
      section.content-section._content-section.js-digest-rating-list-old
        .section-header._header.is-small
          ._container.container
            ._main
              h2.section-heading.is-medium._heading Рейтинг регионов по уровню развития сферы ГЧП за 2019 год

        .section-table._table
          ._header
            ._container.container
              ._row.is-dropdown
                ._column.is-number Место в рейтинге:
                ._column.is-title наименование <br>субъекта:
                ._column.is-property-small Интегральный показатель:
                ._column.is-property-small key performance indicators (KPI):
                ._column.is-property-small Соответствие показателей KPI:
                ._column.is-property-small Институц. среда и правовая база
                ._column.is-property-small Опыт реализации проектов ГЧП:

          ._body
            ._container.container
              ._list
                ._card(v-for='item, index in data' v-show='index < showStart')
                  ._row.is-header(@click='item.isOpened = !item.isOpened')
                    ._column.is-number
                      span.number {{ item.number }}

                    ._column.is-title
                      ._region
                        ._icon
                          img._img(:src='"./../../assets/img/content/rating/" + item.icon')
                        span._title {{ item.title }}

                    ._column.is-property-small
                      span._value {{ item.integral }}

                    ._column.is-property-small
                      span._value {{ item.perfomance }}

                    ._column.is-property-small
                      span._value {{ item.kpi }}

                    ._column.is-property-small
                      span._value {{ item.legal }}
                        span(class='is-currency' v-if='item.legal !== "Max" ') балла

                    ._column.is-property-small
                      span._value {{ item.expirience }}
                        span(class='is-currency' v-if='item.expirience !== "Max" ') балла

                  ._dropdown(v-if='item.isOpened')
                    .rating-card
                      ._main
                        ._header
                          ._grid
                            ._column
                              .rating-value
                                ._value {{ item.props[0] }}
                                ._label Количество учтенных проектов государственно-частного партнёрства

                            ._column
                              .rating-value
                                ._value {{ item.props[1] }}
                                ._label Объем частных инвестиций в учтенных проектах ГЧП (млрд руб.)

                        ._group
                          h3._title Показатели институциональной среды ГЧП

                          ._inner
                            ul._list
                              li._item
                                span._label Уполномоченный орган в сфере ГЧП, в т.ч. концессионных соглашений
                                span._value {{ item.props[2] }}
                              li._item
                                span._label Специализированная структура, ответственная за сопровождение проектов ГЧП
                                span._value {{ item.props[3] }}
                              li._item
                                span._label Специалисты, имеющие специальную квалификацию в сфере ГЧП
                                span._value {{ item.props[4] }}
                              li._item
                                span._label Межведомственный орган, ответственный за рассмотрение инициируемых проектов ГЧП и выработку политики в сфере ГЧП
                                span._value {{ item.props[5] }}
                              li._item
                                span._label Единый орган, ответственный за подготовку и проведение конкурсного отбора частного партнера (концессионера)
                                span._value {{ item.props[6] }}
                              li._item
                                span._label Документы целеполагания субъекта РФ, в которых учтены механизмы развития ГЧП и в т.ч. концессионных соглашений
                                span._value {{ item.props[7] }}
                              li._item
                                span._label Документы планирования и программирования субъекта РФ, в которых учтены механизмы развития ГЧП и в т.ч.. концессионных соглашений
                                span._value {{ item.props[8] }}
                              li._item
                                span._label Специализированный информационный ресурс субъекта РФ в сфере ГЧП в информационно-телекоммуникационной сети "Интернет"
                                span._value {{ item.props[9] }}
                              li._item
                                span._label Перечень объектов, в отношении которых планируется заключение соглашение о ГЧП и концессионных соглашений в субъекте РФ
                                span._value {{ item.props[10] }}
                              li._item
                                span._label Налоговые и иные меры поддержки частных партнеров и концессионеров
                                span._value {{ item.props[11] }}

                        ._group
                          h3._title Показатели нормативно-правовой базы ГЧП

                          ._inner
                            ul._list
                              li._item
                                span._label Порядок межведомственного взаимодействия органов исполнительной власти на этапе разработки и рассмотрения проектов ГЧП (концессионных соглашений)
                                span._value {{ item.props[12] }}
                              li._item
                                span._label Порядок принятия решения о реализации проекта ГЧП, заключения концессионного соглашения
                                span._value {{ item.props[13] }}
                              li._item
                                span._label Порядок межведомственного взаимодействия при осуществлении контроля, надзора, мониторинга и ведения реестров проектов ГЧП (концессионных соглашений)
                                span._value {{ item.props[14] }}
                              li._item
                                span._label Правила принятия решений о заключении соглашений о ГЧП, концессионных соглашений на срок, превышающий срок действия утвержденных лимитов бюджетных обязательств
                                span._value {{ item.props[15] }}
                              li._item
                                span._label Соответствие нормативно-правовой базы субъекта РФ в сфере ГЧП, в т.ч.. концессионных соглашений, нормам федерального законодательства
                                span._value {{ item.props[16] }}

                      ._aside
                        .rating-bg
                          ._item
                            ._label Место в рейтинге:
                            ._value {{ index+1 }} / <span>86</span>

                          img(src='__static__img/content/rating-chart.png')

                        +button({
                          title: 'Перейти к публичному партнёру',
                          type: 'is-primary is-round'
                        }, {
                          class: 'rating-card__button'
                        })

              +button({
                type: 'is-load is-block',
                title: 'Показать ещё'
              }, {
                class: 'section-table__more',
                '@click': 'showMore',
                'v-if': 'showStart !== data.length'
              })
      // end content-section

        .section-layout._section-layout
          ._body
            ._grid
              ._column
    // end main-body
