extends ../../template

include ../../../components/section-default/section-default

include ../../../components/menu/menu
include ../../../components/badge/badge
include ../../../components/button/button

block append settings
  -
    page.title = 'Рейтинг регионов Российской Федерации по уровню развития ГЧП за 2019 год';


block page-body

  main.page-main

    // start main-header
    .main-header._header
      ._container.container
        ._content
          h1.main-heading.is-large._heading= page.title

        ._aside.is-start
          +menu([{
            href: '#',
            title: 'Рейтинг за 2019 год',
            isActive: true
          }, {
            href: '#',
            title: 'Рейтинг за 2018 год'
          }], {
            class: 'is-default is-tabs-menu main-header__menu'
          })
    // end main-header

    // start main-body
    .main-body._body
      // start rating-content
      .rating-content._rating-content
        ._container.container
          ._main
            ._header
              h3._title Методика расчета значения показателей
              p._caption Значение показателя «Уровень развития государственно-частного партнерства в субъектах Российской Федерации» определяется на основе оценки значений составляющих его факторов:

            .section-layout._section-layout
              ._body
                ._grid.is-steps
                  ._column
                    // start category-card
                    .category-card.is-step.is-small
                      ._header
                        ._content
                          span._title
                            span.number._number 1
                            | Развитие институциональной среды

                      p._caption Субъекта Российской Федерации в сфере государственно-частного партнерства
                    // end category-card

                  ._column
                    // start category-card
                    .category-card.is-step.is-small
                      ._header
                        ._content
                          span._title
                            span.number._number 2
                            | Нормативно-правовое обеспечение

                      p._caption Сферы субъекта РФ в сфере государственно-частного партнерства
                    // end category-card

                  ._column
                    // start category-card
                    .category-card.is-step.is-small
                      ._header
                        ._content
                          span._title
                            span.number._number 3
                            | Опыт реализации инвестиционных проектов

                      p._caption Государственно-частного партнерства в субъекте Российской Федерации
                    // end category-card

            .section-layout._section-layout
              ._body
                ._grid
                  ._column.is-large
                    // start category-card
                    .category-card.is-info
                      ._body
                        ._header
                          ._content
                            span.label._label Поправки в рейтинг 2019 года
                        p._caption Количество критериев сокращено, оценка осуществлялась с учетом экспертных оценок 6 организаций (ранее экспертный коэффициент присваивался «Национальным Центром ГЧП» на основании оценок членов Экспертного совета в количестве более 40 чел.)
                    // end category-card

                  ._column
                    // start category-card
                    .category-card.is-info
                      ._body
                        ._header
                          ._content
                            span.label._label Поправки в рейтинг 2019 года
                        p._caption Изменен перечень учитываемых форм реализации проектов, исключен понижающий или повышающий экспертный коэффициент
                    // end category-card

          ._aside
            h3._title Детальная информация

            .document-preview._document-preview
              ._icon
                img._img(src='__static__img/general/pdf.svg' alt='')
              ._content
                p._caption Приказ Минэкономразвития России от 25 ноября 2019 г. № 762 (переходная методика)

            +button({
              title: 'Смотреть документ в PDF',
              type: 'is-primary is-round'
            }, {
              class: 'rating-content__button'
            })
      // end rating-content

      // start content-section
      section.content-section._content-section.js-digest-rating-chart
        .section-header._header.is-small
          ._container.container
            ._main
              h2.section-heading.is-medium._heading График рейтинга регионов по уровню развития сферы ГЧП за 2019 год

        .rating-chart._rating-chart
          ._container.container
            ._aside
              ._header
                h3._title Округа:

              ._content
                ul.chart-regions._chart-regions
                  li._item.is-central Центральный
                  li._item.is-northwest Северо-Западный
                  li._item.is-siberian Сибирский
                  li._item.is-volga Приволжский
                  li._item.is-south Южный
                  li._item.is-far-eastern Дальневосточный
                  li._item.is-ural Уральский
                  li._item.is-north-caucasus Северо-Кавказский

              ._footer
                .document-preview._document-preview
                  ._icon
                    img._img(src='__static__img/general/pdf.svg' alt='')
                  ._content
                    a._title(href='#' title='Скачать рейтинг' download) Скачать рейтинг
                    p._property Формат:  PDF

            ._main
              ._header
                h3._title График рейтинга:

                ._buttons
                  ._button(ref='sliderPrev')
                    <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.00073 0.999826L1.00085 5.03574L5.00073 9.07166" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1.00002 5.03577L10.5997 5.03577" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                  ._button(ref='sliderNext')
                    <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.599 9.07183L10.5989 5.03591L6.599 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10.5997 5.03589H1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

              ._wrapper
                ._y
                  ._y-item 100%
                  ._y-item 90%
                  ._y-item 80%
                  ._y-item 70%
                  ._y-item 60%
                  ._y-item 50%
                  ._y-item 40%
                  ._y-item 30%
                  ._y-item 20%
                  ._y-item 10%
                  ._y-item 0%

                ._body
                  ._grid
                    ._slider(ref='slider')
                      ._slider-wrapper.js-slider-wrapper
                        ._slide.js-slider-slide(v-for='item in data')
                          ._item
                            ._dropdown
                              ._dropdown-wrap
                                ._dropdown-title {{ item.title }}
                            ._bar(:style='{ height : item.level + "%", background : item.color }')
                              span._bar-value {{ item.level.toFixed(1) }}%
                            span._item-title {{ item.title }}
      // end content-section

      // start content-section
      section.content-section._content-section.js-digest-rating-list
        .section-header._header.is-small
          ._container.container
            ._main
              h2.section-heading.is-medium._heading Рейтинг регионов по уровню развития сферы ГЧП за 2019 год

        .section-table._table
          ._header
            ._container.container
              ._row
                ._column.is-number Место 2019:
                ._column.is-title Субъект Российской <br>Федерации:
                ._column.is-property Уровень развития сферы ГЧП, баллов:
                ._column.is-small место <br>2018
                ._column.is-medium Изменение за год
                ._column.is-property Институциональная  среда (баллы)
                ._column.is-property правовая база <br>(баллы)

          ._body
            ._container.container
              ._list
                ._row.is-card(v-for='item, index in data' v-show='index < showStart')
                  ._column.is-number
                    span.number {{ item.number }}

                  ._column.is-title
                    ._region
                      ._icon
                        img._img(:src='"./../../assets/img/content/rating/" + item.icon')
                      span._title {{ item.title }}

                  ._column.is-property
                    span._value {{ item.level }}
                      sup(v-if='item.note') {{ item.note }}

                  ._column.is-small
                    span._value {{ item.place }}

                  ._column.is-medium
                    span._value.is-place(:class='item.step.type') {{ item.step.value }}

                  ._column.is-property
                    span._value {{ item.count }}

                  ._column.is-property
                    span._value {{ item.legal }}

          ._footer
            ._container.container
              +button({
                type: 'is-load is-block',
                title: 'Показать ещё'
              }, {
                class: 'section-table__more',
                '@click': 'showMore',
                'v-if': 'showStart !== data.length'
              })
      // end content-section

        .section-layout._section-layout
          ._body
            ._grid
              ._column
    // end main-body
