.input-text {
  padding: 0 15px;
  width: 100%;
  height: 44px;
  outline: 0;
  color: $primary-color;
  border: 1px solid #E7E9F0;
  background-color: $bg-color;
  border-radius: 3px;
  transition: 0.5s;
  box-shadow: inset 0 1px 3px rgba(35, 52, 107, 0.05);

  &:focus{
    transition: 0.5s;
    background: #FFFFFF;
    border: 1px solid #7984A5;
    box-shadow: inset 0px 1px 3px rgba(35, 52, 107, 0.05);

    &::placeholder{
      color: #BDC2D3;
    }
  }

  @include breakpoint($md-breakpoint) {
    height: 50px;
  }

  @include breakpoint($lg-breakpoint) {
    padding: 0 20px;
  }

  &::placeholder {
    color: $muted-color;
  }

  &.is-average {
    height: 45px;
    font-size: 14px;
  }

  &.is-large {
    height: 55px;
  }

  &.is-white {
    border-color: $white-color;
    background-color: $white-color;
  }

  &.is-round {
    border-radius: 35px;
  }

  @at-root textarea#{&} {
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
