mixin main-menu(data, attrs)
  .main-menu&attributes(attrs)
    ._container.container
      ul._list
        each item in data
          li._item(class=(item.isActive ? 'is-active' : ''))
            a._link(href=item.href title='')= item.title
