.main-menu {
  background-color: $bg-color;
  overflow-x: auto;
  overflow-y: hidden;

  @include breakpoint($lg-breakpoint) {
    overflow: visible;
  }

  &__list {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  &__item {
    flex-shrink: 0;

    &.is-active {
      .main-menu {
        &__link {
          color: $primary-color;
          background-color: $white-color;
          border-bottom-color: $primary-color;
          cursor: default;
          box-shadow: 0 0 10px rgba(35, 52, 107, 0.05);
        }
      }
    }
  }

  &__link {
    padding: 15px;
    display: block;
    color: $muted-color;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    white-space: nowrap;

    @include breakpoint($lg-breakpoint) {
      padding: 23px 20px;
    }
  }
}
