extends ../../template

include ../../../components/menu/menu
include ../../../components/badge/badge
include ../../../components/button/button
include ../../../components/slider-nav/slider-nav
include ../../../components/select/select
include ../../../components/market-services/market-services

block append settings
	-
		page.title = 'База партнеров';


block page-body

	.breadcrumbs.page-body__breadcrumbs
		._container.container
			ul._list
				li._item
					a._link(href="/") Главная
				li._item
					a._link(href="#") Маркетплейс
				li._item
					span._link База партнеров
	
	// start main-header
	.main-header.page-body__header.no-border
		._container.container
			._content.is-flex-column
				h1.main-heading.is-large._heading= page.title
				// start menu
				.menu-video.is-white._menu
					ul._list
						li._item.is-current
							span._link База партнёров
						li._item
							span._link Услуги и товары
						li._item
							span._link Объявления
						li._item
							span._link Публичные партнёры
				// end menu
			
			._actions
				a.button.is-round.is-primary(href="#" title="Присоединиться") Присоединиться
	// end main-header

	// start inline-filter
	.inline-filter.page-body__filter.js-inline-filter
		._header.is-gray
			._container.container
				._grid
					._column.is-small
						.total-counter.is-white._counter
							._body
								._aside
									span._title Всего услуг:
								
								._main
									ul._list
										li._item
											span._number 3
										li._item
											span._number 1
										li._item
											span._number 4
										li._item
											span._number 8
					
					._column.is-large
						form._form(action="#")
							._field
								input._input(type="text" placeholder="Поиск по услугам")
								button._button-send
					
					._column.is-small
						._actions
							button._button-filter.js-toggle-filter Фильтры
								span._button-count 0
							
							.button-sorting._button-sorting
								span._title Сортировать
								._dropdown
									ul._list
										li._item
											a._link(href="#") По популярности
										li._item
											a._link(href="#") По количеству услуг
										li._item
											a._link(href="#") По дате добавления
		
		._dropdown.js-inline-dropdown
			._container.container
				._inner
					._grid
						._column.is-small
							._group
								._title Территория присутствия
								.select-custom.js-custom-select(data-placeholder='Добавление региона')
									._header.js-custom-select-header
										+input-text({
												type: 'text',
												placeholder: 'Добавление региона'
										}, {
												class: 'select-custom__input js-custom-select-input'
										})

									._body
										._dropdown
											._scrollbar.js-scrollbar
												._content.js-select-custom-list
													._item
														+input-control({
																type: 'checkbox',
																label: 'Регион 1',
																theme: 'is-outline'
														})
													._item
														+input-control({
																type: 'checkbox',
																label: 'Регион 2',
																theme: 'is-outline'
														})
													._item
														+input-control({
																type: 'checkbox',
																label: 'Регион 3',
																theme: 'is-outline'
														})

											._footer
												+button({
														title: 'Применить фильтр',
														type: 'is-outline-secondary is-block'
												}, {
														class: 'js-select-custom-apply'
												})
						._column.is-small
							._group
								._title Сфера
								.select-custom.js-custom-select(data-placeholder='Добавление сферы')
									._header.js-custom-select-header
										+input-text({
												type: 'text',
												placeholder: 'Добавление сферы'
										}, {
												class: 'select-custom__input js-custom-select-input'
										})

									._body
										._dropdown
											._scrollbar.js-scrollbar
												._content.js-select-custom-list
													._item
														+input-control({
																type: 'checkbox',
																label: 'Регион 1',
																theme: 'is-outline'
														})
													._item
														+input-control({
																type: 'checkbox',
																label: 'Регион 2',
																theme: 'is-outline'
														})
													._item
														+input-control({
																type: 'checkbox',
																label: 'Регион 3',
																theme: 'is-outline'
														})

											._footer
												+button({
														title: 'Применить фильтр',
														type: 'is-outline-secondary is-block'
												}, {
														class: 'js-select-custom-apply'
												})

						._column.is-small
							._group
								._title Отрасль
								.select-custom.js-custom-select(data-placeholder='Выберите вариант')
									._header.js-custom-select-header
										+input-text({
												type: 'text',
												placeholder: 'Выберите вариант'
										}, {
												class: 'select-custom__input js-custom-select-input'
										})

									._body
										._dropdown
											._scrollbar.js-scrollbar
												._content.js-select-custom-list
													._item
														+input-control({
																type: 'checkbox',
																label: 'Регион 1',
																theme: 'is-outline'
														})
													._item
														+input-control({
																type: 'checkbox',
																label: 'Регион 2',
																theme: 'is-outline'
														})
													._item
														+input-control({
																type: 'checkbox',
																label: 'Регион 3',
																theme: 'is-outline'
														})

											._footer
												+button({
														title: 'Применить фильтр',
														type: 'is-outline-secondary is-block'
												}, {
														class: 'js-select-custom-apply'
												})
						._column.is-small
							._group
								._title Капиталоёмкость проектов
								.range-group._range.js-range-group
									._header
										._value
											+input-text({
													type: 'text',
													size: 'is-average',
													value: 0
											}, {
													class: 'js-range-group-min',
													'data-regex': 'От \\d* ₽'
											})

										._value
											+input-text({
													type: 'text',
													size: 'is-average',
													value: 100000000
											}, {
													class: 'js-range-group-max',
													'data-regex': 'До \\d* ₽'
											})

									._body
										.range-slider.js-range-group-slider.is-secondary(data-min='0' data-max='100000000' data-start='0' data-end='100000000' data-step='1')
						
						._column.is-small
							._group
								._title Формы реализации проектов
								.select-custom.js-custom-select(data-placeholder='Выберите вариант')
									._header.js-custom-select-header
										+input-text({
												type: 'text',
												placeholder: 'Выберите вариант'
										}, {
												class: 'select-custom__input js-custom-select-input'
										})

									._body
										._dropdown
											._scrollbar.js-scrollbar
												._content.js-select-custom-list
													._item
														+input-control({
																type: 'checkbox',
																label: 'Регион 1',
																theme: 'is-outline'
														})
													._item
														+input-control({
																type: 'checkbox',
																label: 'Регион 2',
																theme: 'is-outline'
														})
													._item
														+input-control({
																type: 'checkbox',
																label: 'Регион 3',
																theme: 'is-outline'
														})

											._footer
												+button({
														title: 'Применить фильтр',
														type: 'is-outline-secondary is-block'
												}, {
														class: 'js-select-custom-apply'
												})
						._column.is-small
							._group
								._title Профнаправленность
								.select-custom.js-custom-select(data-placeholder='Выберите вариант')
									._header.js-custom-select-header
										+input-text({
												type: 'text',
												placeholder: 'Выберите вариант'
										}, {
												class: 'select-custom__input js-custom-select-input'
										})

									._body
										._dropdown
											._scrollbar.js-scrollbar
												._content.js-select-custom-list
													._item
														+input-control({
																type: 'checkbox',
																label: 'Регион 1',
																theme: 'is-outline'
														})
													._item
														+input-control({
																type: 'checkbox',
																label: 'Регион 2',
																theme: 'is-outline'
														})
													._item
														+input-control({
																type: 'checkbox',
																label: 'Регион 3',
																theme: 'is-outline'
														})

											._footer
												+button({
														title: 'Применить фильтр',
														type: 'is-outline-secondary is-block'
												}, {
														class: 'js-select-custom-apply'
												})
						
				._footer
					._main
						.selected-params._params
							._header
								span._title Выбранные параметры
							._content
								ul._list
									li._item
										.badge.is-small.is-round._badge Республика Татарстан
									li._item
										.badge.is-small.is-round._badge Концессионное соглашение
					._aside
						button.button.is-outline-secondary.is-round._button-reset Сбросить фильтры
						button.button.is-primary.is-round._button-result Показать результат ( 1 242)

	// end inline-filter

	.articles-layout(class='page-body__layout-articles')
		._container.container
			aside._aside.is-left.no-shadow
				// start articles-widget
				.articles-widget.no-shadow._widget
					._header.is-secondary
						h4._caption Категории услуг
					._body
						span меню (добавить после утверждения)
				// end articles-widget

				

			._main
				._body
					._content
						// start main-sorting
						.main-sorting._sorting
							._container
								._main

								._aside
									._filter
										label._label Вид:
										.layout-views
											a._item.is-tiles.is-active(href='#' title='')
											a._item.is-rows(href='#' title='')
											
						// end main-sorting
						._list
							

							// start search-result
							.search-result._search-result
								._inner
									._icon
										<svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M13.892 1H32.108L45 13.892V32.108L32.108 45H13.892L1 32.108V13.892L13.892 1Z" stroke="#BDC2D3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M23 13.7368L23 24.1579" stroke="#BDC2D3" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
											<circle cx="23.0004" cy="32.2631" r="1.81579" fill="#BDC2D3" stroke="#BDC2D3"/>
										</svg>
									._title По выбранным параметрам ничего не найдено
									._label Попобуйте изменить параметры фильтров или изменить запрос
							// end search-result

					aside._aside.is-right
						._sticky

							// start articles-widget
							.articles-widget.no-shadow._widget
								._header.is-secondary
									h4._heading Рекомендации
								._body
									._group.no-border
										.article-slider.js-article-slider
											._wrapper.js-slider-wrapper
												._slide.js-slider-slide
													// start card
													.market-services.is-bg
														._photo
															img._img(src="__static__/img/general/marketplace/1.jpg", alt="")
														._wrap
															._body
																._header
																	._actions
																		span.badge.is-small.is-round.is-danger._badge Услуга
																	
																	a._title(href="#") Проверка проекта <br> заявки/конкурсного предложения для участия <br> в конкурсе

															._footer
																._main
																	span._company-name Акционерное общество «Институт «Стройпроек...
																._aside
																	._logo
																		img._img(src='__static__img/general/marketplace/3.svg' alt="")
															a._recomend(href="#") Рекомендации
													// end card

											+slider-nav({}, {
												class: 'article-slider__nav is-white'
											})
									._group.no-border
										.article-slider.js-article-slider
											._wrapper.js-slider-wrapper
												._slide.js-slider-slide
													// start card
													.market-services.no-marks
														._body
															._header
																._actions
																	span.badge.is-small.is-round.is-danger._badge Услуга
																
																a._title(href="#") Представление интересов клиента в процедуре подачи жалоб в антимонопольный орган


														._footer
															._main
																span._company-name Проектное Управление Строительными Контра...
															._aside
																._logo
																	img._img(src='__static__img/general/marketplace/8.svg' alt="")
														a._recomend(href="#") Рекомендации
													// end card

											+slider-nav({}, {
												class: 'article-slider__nav is-white'
											})
									
									._group.no-border
										.article-slider.js-article-slider
											._wrapper.js-slider-wrapper
												._slide.js-slider-slide
													// start card
													.market-services.no-marks
														._body
															._header
																._actions
																	.badge.is-small.is-round.is-danger Компания
																
																._title
																	a._title-link(href="#") Адвокатское бюро «Качкин и Партнеры»

															._content
																ul._list
																	li._item
																		._text Консалтинговая компания
																			._value +2
																		
																		ul._drop
																			li._drop-item
																				ul._drop-list
																					li._drop-text Инжиниринг
																					li._drop-text Инжиниринг

														._summary
															a._services(href="#")
																<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M13.75 4.4895H2.41667C1.63426 4.4895 1 5.09779 1 5.84815V12.6414C1 13.3917 1.63426 14 2.41667 14H13.75C14.5324 14 15.1667 13.3917 15.1667 12.6414V5.84815C15.1667 5.09779 14.5324 4.4895 13.75 4.4895Z" stroke="#4F5D89" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
																	<path d="M10.4444 4.48954V2.37609C10.4444 1.99073 10.32 1.62116 10.0986 1.34867C9.87722 1.07618 9.57695 0.923096 9.26384 0.923096H6.90273C6.58962 0.923096 6.28934 1.07618 6.06795 1.34867C5.84655 1.62116 5.72217 1.99073 5.72217 2.37609V4.48954" stroke="#4F5D89" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
																	<path d="M14.9487 7.02566L8.41026 9.4231L0.999985 7.02566" stroke="#4F5D89" stroke-width="1.5"/>
																</svg>
																| #[strong 7] #[span услуг компании]

														a._more(href="#") Подробнее
													// end card

											+slider-nav({}, {
												class: 'article-slider__nav is-white'
											})

							// end articles-widget


		.scrolltop._scrolltop
			a._link.js-scrolltop(href="#body")
				span._text Вернуться наверх страницы
				._icon
					<svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 4L4.5 1L8 4" stroke="#9199B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
