.inline-filter{
  position: relative;
  z-index: 97;

  &__header{
    padding: 25px 0;

    &.is-gray{
      padding: 15px 0;
      background: #F6F6F8;
    }
  }

  &__grid{
    display: flex;
    flex-wrap: wrap;

    margin: 0 -12px -20px;
  }

  &__column{
    padding: 0 12px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 20px;

    &.is-small{
      flex: 0 0 25%;
      max-width: 25%;
    }

    &.is-large{
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  &__form{
    width: 100%;
  }

  &__field{
    position: relative;

    *::placeholder{
      color: #919AB5;
      font-weight: 300;
      font-size: 18px;
    }
  }

  &__input{
    width: 100%;
    height: 55px;

    border: 0;
    outline: 0;

    padding: 0 55px 0 25px;

    border-radius: 10px;
    background: #FFFFFF;
  }

  &__button-send{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 10px;
    top: 50%;

    width: 41px;
    height: 41px;

    border: 0;
    outline: 0;

    border-radius: 50%;
    background: #23346B;
    transform: translate(0, -50%);

    &:before{
      content: '';
      width: 15px;
      height: 15px;
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.49219 11.9844C9.52544 11.9844 11.9844 9.52545 11.9844 6.4922C11.9844 3.45894 9.52544 1 6.49219 1C3.45894 1 1 3.45894 1 6.4922C1 9.52545 3.45894 11.9844 6.49219 11.9844Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.3579 13.3575L10.3716 10.3711' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }

  &__button-filter{
    display: inline-flex;
    align-items: center;

    position: relative;

    height: 55px;
    padding: 0 13px;

    color: #657198;
    font-weight: 500;
    font-size: 16px;

    border: 0;
    outline: 0;
    background: none;
    border-radius: 10px;
    transition: 0.5s;

    &:hover{
      transition: 0.5s;
      background: #fff;
    }

    &.is-active{
      background: #fff;

      &:before{
        width: 15px;
        height: 17px;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='17' viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 2L13.4946 14.8761' stroke='%2323346B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.50537 15L14 2.12386' stroke='%2323346B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
    

    &:before{
      content: '';
      width: 15px;
      height: 17px;
      flex-shrink: 0;
      margin-right: 7px;
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='17' viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3517 13.9546L8.54785 13.9546' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.80388 13.9541L1 13.9541' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.3532 8.49951L7.17676 8.49951' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.43135 8.49951L1 8.49951' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.3532 3.0459L9.92188 3.0459' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.17642 3.04492L1 3.04492' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.54785 16L8.54785 11.9091' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.43164 10.5454L4.43164 6.45453' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.92188 5.09082L9.92187 0.999943' stroke='%23657198' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }

    span{
      display: flex;
      align-items: center;
      justify-content: center;

      flex-shrink: 0;

      margin-left: 5px;

      width: 18px;
      height: 18px;

      font-size: 12px;
      color: #FFFFFF;
      font-weight: 500;
      line-height: 1;
      
      border-radius: 50%;
      background: #DDE0E9;

      &.is-active{
        background: #B52528;
      }
    }
  }

  &__dropdown{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;

    background: #fff;
    z-index: 15;

    display: none;

    &.is-active{
      display: block;
    }
  }

  &__inner{
    padding-top: 30px;
    padding-bottom: 20px;
  }

  &__title{
    display: block;
    margin-bottom: 15px;

    font-size: 17px;
    font-weight: 500;
    color: #23346B;
  }

  &__range{
    .range-group__header{
      margin-bottom: 0;
    }
  }

  &__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 30px;
    margin-top: 30px;
    padding-bottom: 30px;

    border-top: 1px solid #F2F3F6;
  }

  &__params{
    margin-top: -10px;
  }

  &__button-reset{
    margin-right: 15px;
  }
}

.js-inline-overlay{
  background: rgba(35, 52, 107, 0.4);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 96;
  left: 0;
  top: 0;
}