.advant-card {
  display: flex;
  align-items: flex-start;

  @include breakpoint($xl-breakpoint) {
    flex-direction: column;
  }

  &.is-reverse {
    flex-direction: row-reverse;

    @include breakpoint($lg-breakpoint) {
      flex-direction: row;
    }

    @include breakpoint($xl-breakpoint) {
      flex-direction: column;
    }

    .advant-card {
      &__icon {
        margin-right: 0;
        margin-left: 10px;

        @include breakpoint($lg-breakpoint) {
          margin-right: 14px;
          margin-left: 0;
        }
      }
    }
  }

  &__main {
    flex: 1 1 auto;
    min-width: 0;
  }

  &__icon {
    flex-shrink: 0;
    margin-right: 14px;
    width: 38px;
    text-align: center;

    @include breakpoint($xs-breakpoint) {
      margin-right: 20px;
      width: 44px;
    }

    @include breakpoint($xl-breakpoint) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 0 25px;
      padding: 15px;
      width: 72px;
      height: 72px;
      background-color: $white-color;
      border-radius: 25px;
      box-shadow: 0px 9px 35px rgba(35, 52, 107, 0.1);
    }
  }

  &__title {
    margin: 0;

    @include breakpoint($xs-breakpoint) {
      margin-bottom: 5px;
    }

    @include breakpoint($xl-breakpoint) {
      margin-bottom: 20px;
    }
  }

  &__caption {
    margin: 0;
    max-width: 285px;
    font-size: 10px;
    line-height: 1.5;

    @include breakpoint($xs-breakpoint) {
      font-size: 12px;
    }

    @include breakpoint($md-breakpoint) {
      font-size: 14px;
    }

    p{
      margin: 0;
    }
  }

  // &.is-center{
  //   display: flex;
  //   align-items: center;
  //   flex-direction: column;

  //   position: relative;

  //   &:after{
  //     content: '';
  //     position: absolute;
  //     right: -23px;
  //     top: 40px;
  //     width: 23px;
  //     height: 3px;
  //     background-image: url("data:image/svg+xml,%3Csvg width='23' height='3' viewBox='0 0 23 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1.5' cy='1.5' r='1.5' fill='%23DDE0E9'/%3E%3Ccircle cx='11.5' cy='1.5' r='1.5' fill='%23DDE0E9'/%3E%3Ccircle cx='21.5' cy='1.5' r='1.5' fill='%23DDE0E9'/%3E%3C/svg%3E%0A");
  //   }

  //   .advant-card{
  //     &__title{
  //       display: block;
  //       font-size: 16px;
  //       max-width: 270px;
  //       text-align: center;
  //     }
  //   }
  // }
}


.advant-card.is-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
          flex-direction: row;
  padding: 0 20px;
}

@media (min-width: 640px) {
  .advant-card.is-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 0;
  }
}

@media (min-width: 1260px) {
  .advant-card.is-center:after {
    content: '';
    position: absolute;
    right: -23px;
    top: 40px;
    width: 23px;
    height: 3px;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='3' viewBox='0 0 23 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1.5' cy='1.5' r='1.5' fill='%23DDE0E9'/%3E%3Ccircle cx='11.5' cy='1.5' r='1.5' fill='%23DDE0E9'/%3E%3Ccircle cx='21.5' cy='1.5' r='1.5' fill='%23DDE0E9'/%3E%3C/svg%3E%0A");
  }
}

.advant-card.is-center .advant-card__title {
  display: block;
  margin: 0;
  font-size: 11px;
  font-weight: 500;
  max-width: 265px;
  line-height: 1.5;
}

@media (min-width: 480px) {
  .advant-card.is-center .advant-card__title {
    max-width: none;
  }
}

@media (min-width: 640px) {
  .advant-card.is-center .advant-card__title {
    font-size: 13px;
  }
}

@media (min-width: 1260px) {
  .advant-card.is-center .advant-card__title {
    font-size: 16px;
    max-width: 270px;
    text-align: center;
  }
}

.advant-card.is-center .advant-card__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 35px;
  height: auto;
  padding: 0;
  margin: -5px 10px 0 0;
  background: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}

@media (min-width: 480px) {
  .advant-card.is-center .advant-card__icon {
    margin-top: -10px;
  }
}

@media (min-width: 640px) {
  .advant-card.is-center .advant-card__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #fff;
    margin: 0 0 15px 0;
    -webkit-box-shadow: 0px 9px 45px rgba(35, 52, 107, 0.1);
            box-shadow: 0px 9px 45px rgba(35, 52, 107, 0.1);
    border-radius: 25px;
  }
}

@media (min-width: 1260px) {
  .advant-card.is-center .advant-card__icon {
    width: 82px;
    height: 82px;
  }
}
