.js-list-toggle-parent {
  margin-top: 20px;
  display: none;
}

.ui-toggle-link {
  font-weight: 500;
  cursor: pointer;

  .fe {
    position: relative;
    top: 1px;
    font-size: 0.85em;
    font-weight: 700;
  }
}
