include ../super-search/super-search
include ../categories-slider/categories-slider
include ../button/button

mixin section-search(data)
  section.section-search
    ._container.container
      ._header
        h1._heading= data.heading
        p._caption= data.caption

      +button({
        type: 'is-primary',
        title: 'Открыть поиск'
      }, {
        class: 'section-search__button js-search-toggle'
      })

      +super-search(superSearch, {
        class: 'section-search__form'
      })

      ._footer
        +categories-slider(db_categories.search)
