.section-search {
  position: relative;
  z-index: 2;
  padding: 135px 0 33px;
  text-align: center;
  background: url(../img/general/bg-section-search.svg) right top no-repeat;

  @include breakpoint($lg-breakpoint) {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 70px;
      background: $bg-color;
    }
  }

  @include breakpoint($xl-breakpoint) {
    text-align: left;
  }

  &__header {
    margin: 0 0 35px;
    max-width: 1080px;
  }

  &__heading {
    margin: 0 0 15px;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;

    @include breakpoint($xs-breakpoint) {
      margin-bottom: 20px;
      font-size: 26px;
    }

    @include breakpoint($sm-breakpoint) {
      font-size: 32px;
    }

    @include breakpoint($md-breakpoint) {
      font-size: 40px;
    }

    @include breakpoint($lg-breakpoint) {
      font-size: 48px;
    }

    @include breakpoint($xl-breakpoint) {
      margin-bottom: 30px;
      font-size: 54px;
    }
  }

  &__caption {
    margin: 0;
    color: $gray-color;

    @include breakpoint($xs-breakpoint) {
      font-size: 15px;
    }

    @include breakpoint($sm-breakpoint) {
      margin: 0 auto;
      max-width: 70%;
      font-size: 16px;
    }

    @include breakpoint($xl-breakpoint) {
      max-width: 100%;
    }
  }

  &__form {
    display: none;

    @include breakpoint($lg-breakpoint) {
      display: block;
    }

    &--accent{
      &:before{
        content: '';
        position: absolute;
        left: -5px;
        top: -5px;
        width: calc(100% + 10px);
        height: 90px;
        border-radius: 30px;
        border: 5px solid rgba(35, 52, 107, 0.04);
      }

      .super-search{
        &__body{
          height: 80px;
          background: #FFFFFF;
          border-radius: 25px;
          border:5px solid rgba(35, 52, 107, 0.08);
        }

        &__button{
          width: 50px;
          height: 50px;
          color: #fff;
          background: #23346B;
        }
      }

      .search-menu{
        &__title{
          color: #23346B;

          &:after{
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.49402 3.82837L0.207479 1.03453C-0.0691597 0.799364 -0.0691597 0.418082 0.207479 0.182915C0.484118 -0.052252 0.5 0.00650137 1 0.00657257L4 0.00653976L7 0.00654414C7 0.00654414 7.51588 -0.052252 7.79252 0.182915C8.06916 0.418082 8.06916 0.799364 7.79252 1.03453L4.50598 3.82837C4.22654 4.06593 3.77346 4.06593 3.49402 3.82837Z' fill='%2323346B'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }
  }

  &__button {
    width: 100%;

    @include breakpoint($sm-breakpoint) {
      width: auto;
      min-width: 200px;
    }

    @include breakpoint($lg-breakpoint) {
      display: none;
    }
  }

  &__footer {
    margin-top: 40px;

    @include breakpoint($lg-breakpoint) {
      margin-top: 75px;
    }

    @include breakpoint($xl-breakpoint) {
      margin-top: 140px;
    }
  }
}
