include ../expert-pickup/expert-pickup
include ../input-text/input-text
include ../input-control/input-control
include ../button/button

mixin section-start(data)
  section.section-start
    ._container.container
      ._main
        ._content
          h1._heading Привлечём ведущих экспертов рынка к решению ваших задач
          p._caption Сервис для привлечения ведущих экспертов рынка к решению конкретных задач при подготовке и реализации инфраструктурных проектов

          +expert-pickup({
            title: 'Для подбора эксперта заполните данные:'
          }, {
            class: 'section-start__expert-pickup'
          })

      ._aside
        button._button(data-scroll-target='become-expert') Стать экспертом

  .modal.is-large(data-remodal-id='become-expert')
    ._header
      ._title.is-large Консультация ведущих экспертов рынка

    ._body
      ._group
        h3._heading Описание услуги
        .content._content
          p Эксперт платформы получает широкие возможности для развития профессиональной деятельности. Удобный интерфейс позволяет проводить online-консультации и оказывать экспертную поддержку из любой точки мира, сокращая издержки на логистику и проведение встреч.Эксперт платформы получает широкие возможности для развития профессиональной деятельности. Удобный интерфейс позволяет проводить online-консультации и оказывать экспертную поддержку из любой точки мира, сокращая издержки на логистику и проведение встреч.
          p Сервис объединяет ведущих экспертов рынка для решения конкретных вопросов, возникающих при подготовке и реализации инфраструктурных проектов. Эксперт сервиса получает уникальный персональный профиль, комфортные условия работы и профессиональное развитие

      ._group
        h3._heading Детали
        ul.properties-dots._properties-dots
          each item in ['', '', '', '', '']
            li._item
              span._label
                span._text Параметр:
              span._value Значение параметра

    ._form
      ._header
        ._title Оставить заявку на получение услуги

      ._body
        form.form-inline._form-inline(action='#' method='post')
          ._body
            ._grid
              ._column
                +input-text({
                  placeholder: 'Введите ФИО*',
                  theme: 'is-round'
                })

              ._column
                +input-text({
                  type: 'email',
                  placeholder: 'E-mail*',
                  theme: 'is-round'
                })

              ._column
                +input-text({
                  type: 'tel',
                  placeholder: 'Номер телефона*',
                  theme: 'is-round'
                })

          ._footer
            .form-agree._agree
              +input-control({
                checked: true,
                type: 'checkbox',
                label: 'Нажимая на кнопку “Отправить” вы подтверждаете что ознакомлен(-ы) с политикой конфиденциальности и даёте согласие на обработку персональных данных согласно ФЗ №54'
              })

            +button({
              title: 'Отправить заявку',
              type: 'is-primary'
            }, {
              class: 'form-inline__button'
            })
