.section-start {
  position: relative;
  padding: 30px 0;
  color: $white-color;
  background: $primary-color url(../img/general/bg-section-start.jpg) center top no-repeat;
  background-size: cover;

  @include breakpoint($lg-breakpoint) {
    padding: 40px 0;
    //background-size: auto 100%;
  }

  @include breakpoint($xl-breakpoint) {
    padding: 50px 0 40px;
  }

  & + .page-body__section-categories {
    margin-top: 0;
  }

  &__container {
    @include breakpoint($lg-breakpoint) {
      display: flex;
    }
  }

  &__main {
    @include breakpoint($lg-breakpoint) {
      flex: 1 1 auto;
      min-width: 0;
    }
  }

  &__content {
    max-width: 830px;
  }

  &__aside {
    margin-top: 20px;

    @include breakpoint($lg-breakpoint) {
      flex-shrink: 0;
      margin-top: 0;
      margin-left: 20px;
    }
  }

  &__heading {
    margin: 0 0 25px;
    display: block;
    // max-width: 685px;
    max-width: 760px;
    color: inherit;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.15;

    @include breakpoint($sm-breakpoint) {
      font-size: 30px;
    }

    @include breakpoint($md-breakpoint) {
      font-size: 36px;
    }

    @include breakpoint($lg-breakpoint) {
      font-size: 40px;
    }

    @include breakpoint($xl-breakpoint) {
      font-size: 44px;
    }
  }

  &__caption {
    display: flex;
    margin: 0;
    max-width: 456px;
    color: rgba($white-color, 0.9);

    @include breakpoint($lg-breakpoint) {
      font-size: 16px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 22px 11px;
    width: 100%;
    color: $white-color;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    background: none;
    border: 2px solid rgba($white-color, 0.5);
    border-radius: 25px;
  }

  &__expert-pickup {
    margin-top: 30px;

    @include breakpoint($lg-breakpoint) {
      margin-top: 45px;
    }

    @include breakpoint($xl-breakpoint) {
      margin-top: 65px;
    }
  }
}
